@args String title = MessageUtil.getMessage(""),Object schoolName,Object mangerRole,Object manager,Integer pageSize = Integer.valueOf("10")
@extends(common,title:getPageTitle(title))

@import(){
 com.cloudsoaring.web.course.constant.CourseStateConstants
 com.cloudsoaring.web.trainingplatform.utils.*
}
@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
	final String surl = url("/pub/bbs/bbsList.action");
}

<link rel="stylesheet" href="@WebContext.url("/js/bbs/res/layui/css/layui.css")">
<link rel="stylesheet" href="@WebContext.url("/js/bbs/res/css/global.css")">
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
<style>
.container-fluid{
	background-color: #f3f5f7;
}
#mainContent{
	margin-top: -10px;
}
</style>
<title>PBL</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
<link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/base.css")">
    <link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/home.css")">
    <script type="text/javascript" src="@WebContext.url("/js/slider.js")"></script>
    <script type="text/javascript" src="@WebContext.url("/js/tab.js")"></script>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed b-line">
        <a href="javascript:history.back(-1)" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">校园BBS</span>
            <a href="javascript:void(0);" onclick="bbsAdd();" class="layui-btn" style="margin-right: -100px;">发表新帖</a>
        </div>
       <!--  <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-release"></i>
        </a> -->
    </header>
<section class="aui-scrollView">     
<div class="fly-panel fly-column" style="margin-top: 20px;">
  <div class="layui-container">
   <!--  <ul class="layui-clear">
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="javascript:void(0);" onclick="myBbs();">我发表的贴</a></li> 
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html#collection">我收藏的贴</a></li> 
    </ul>  -->
  </div>
</div>

<div ng-app="myApp" class="layui-container" ng-controller="noteCtrl">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel" style="margin-bottom: 0;">
        
        <div class="fly-panel-title fly-filter">
          <a href="javascript:void(0);" ng-class="p1_class" ng-click="search4Page(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)')">综合</a>
          <span class="fly-mid"></span>
          <a href="javascript:void(0);" ng-class="p2_class" ng-click="search4Page(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)')">我发表的贴</a>
        </div>

        <ul class="fly-list" ng-repeat="item in noteList">          
          <li>
            <h2>
              <a class="layui-badge">动态</a>
              <a href="javascript:void(0);" ng-click="viewDetail(item.id)">{{item.title}}</a>
            </h2>
            <div class="fly-list-info">
              <a href="user/home.html" link>
                <cite>{{item.personName}}</cite>
              </a>
              <span>{{item.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
              <span class="fly-list-nums"> 
                <i class="iconfont icon-pinglun1" title="回答"></i> {{item.likeNum}}
              </span>
            </div>
          </li>
        </ul>
        <div style="text-align: center">
          <div class="laypage-main" ng-repeat="item in pageList">
          	<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
			<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum,'')">{{item.text}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="@WebContext.url("/js/bbs/res/layui/layui.js")"></script>
</div></section>
 <footer class="aui-footer">
        <a href="/pblMgr/pub/course/homePage.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-home"></i>
            </span>
            <span class="aui-tabBar-item-text">首页</span>
        </a>
        <a href="/pblMgr/pub/course/userMobileMsg.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-find"></i>
            </span>
            <span class="aui-tabBar-item-text">消息</span>
        </a>
        <a href="/pblMgr/pub/course/homeMobileMyPage.action" class="aui-tabBar-item ">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-car"></i>
            </span>
            <span class="aui-tabBar-item-text">我的</span>
        </a>
    </footer>
</section>
<script>
	myApp.controller("noteCtrl",function($scope,$http){
	//检索第几页 
	$scope.pageNumber = 1;
	//检索全部还是精华
	$scope.searchFlag = '@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)';
	//笔记列表数据
	$scope.noteList = [];
	//分页数据
	$scope.pageList = [];
	//请求数据
	$http.post('@surl',{pageSize:@pageSize,pageNumber:$scope.pageNumber,sortName:"CREATE_TIME",sortOrder:"desc"})
	.success(function(result){
		if(result.status){
			//请求成功
			$scope.noteList = result.data;
			//获取分页显示，当前页，总页数
			$scope.pageList = getPageList(result.page,result.total);
			$scope.p1_class="layui-this";
		}else{
			noticeError(result.messages);
		}
	})
	.error(function(){
		noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
	});
	//分页检索
	$scope.search4Page = function(num,pageType){
		if(pageType!=''){
			$scope.searchFlag = pageType;
		}
		//请求数据
		$http.post('@surl',{pageSize:@pageSize,pageNumber:num,pageType:$scope.searchFlag,sortName:"CREATE_TIME",sortOrder:"desc"})
		.success(function(result){
			if(result.status){
				//请求成功
				$scope.noteList = result.data;
				//改变当前页
				$scope.pageNumber = result.page;
				//获取分页显示，当前页，总页数
				$scope.pageList = getPageList(result.page,result.total);
				if(pageType=='1'){
					$scope.p1_class="";
					$scope.p2_class="layui-this";
				}else if(pageType=='0'){
					$scope.p2_class="";
					$scope.p1_class="layui-this";
				}
				
			}else{
				noticeError(result.messages);
			}
		})
		.error(function(){
			noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
		});
	};
	$scope.viewDetail = function(id){
		window.open('@url("/pub/course/mobileBbsDetail.action?id=")'+id,'_self');	
	};
	});
	function bbsAdd(){
		window.location.href="@url("/pub/course/mobileAdd.action")";
	}
	function myBbs(){
		window.location.href="@url("/pub/bbs/bbsList.action?createUser=")@sessionUser.userId";
	}
</script>