@args String title = "",BbsEntity bbs ,Integer pageSize = Integer.valueOf("5"),Boolean isDelete
@extends(common, pageType="add")
@import(){
	com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
	com.cloudsoaring.web.course.entity.constants.*
	com.cloudsoaring.web.course.entity.* 
}
@{
	final String surl = url("/pub/bbs/bbsReplyList.action");
	final String deleteUrl = url("/pub/bbs/bbsReplyDelete.action");
}
<link rel="stylesheet" href="@WebContext.url("/js/bbs/res/layui/css/layui.css")">
<link rel="stylesheet" href="@WebContext.url("/js/bbs/res/css/global.css")">
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
<style>
.container-fluid {
	background-color: #f3f5f7;
}

#mainContent {
	margin-top: -30px;
	margin-left: 0px;
}

.bootstrap-dialog-body {
	margin-top: 20px;
}
.bootstrap-dialog.type-warning .modal-header {
    background-color: #009688;
}
.warning-rythm .bootstrap-dialog-body:before {
    content: "\f059";
    color: #009688;
}
.btn-warning:focus, .btn-warning:hover, .open .dropdown-toggle.btn-warning {
    background-color: #009688;
    border-color: #009688;
}
.btn-warning, .btn-warning.active, .btn-warning.disabled, .btn-warning:active, .btn-warning[disabled] {
    background-color: #009688;
    border-color: #009688;
}
img {
    width: 100%;
}
</style>
<title>PBL</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
<link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/base.css")">
    <link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/home.css")">
    <script type="text/javascript" src="@WebContext.url("/js/slider.js")"></script>
    <script type="text/javascript" src="@WebContext.url("/js/tab.js")"></script>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed b-line">
        <a href="javascript:history.back(-1)" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">校园BBS</span>
        </div>
       <!--  <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-release"></i>
        </a> -->
    </header>
<section class="aui-scrollView">
<div class="fly-panel fly-column" style="margin-top: 20px;">
	<div class="layui-container">
		<div class="fly-column-right layui-hide-xs">
			<a href="javascript:void(0);" onclick="bbsAdd();" class="layui-btn">发表新帖</a>
		</div>
	</div>
</div>
<div class="layui-container">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md8 content detail">
			<div class="fly-panel detail-box">
				<h1>@bbs.getTitle()</h1>
				@if(isDelete){
					<div class="fly-detail-info">
						<div class="fly-admin-box" data-id="123">
							<span class="layui-btn layui-btn-xs jie-admin"
								onclick="bbsDelete('@bbs.getId()');" type="del">删除</span> <span
								class="layui-btn layui-btn-xs jie-admin"
								onclick="bbsEdit('@bbs.getId()');" type="del">编辑</span>
						</div>
					</div>
				}
				<div class="detail-about">

					<div class="fly-detail-user">
						<a href="javascript:void(0);" class="fly-link"> <cite>@bbs.getPersonName()</cite>
						</a> <span>@bbs.getCreateTimeStr()</span>
					</div>

				</div>
				<div class="detail-body photos">@bbs.getContent().raw()</div>
			</div>

			<div class="fly-panel detail-box" id="flyReply" ng-app="myApp" ng-controller="noteCtrl">
				<fieldset class="layui-elem-field layui-field-title"
					style="text-align: center;">
					<legend>回帖</legend>
				</fieldset>
				<ul class="jieda" id="jieda" ng-repeat="item in noteList">
					<li data-id="111"><a name="item-1111111111"></a>
						<div class="detail-about detail-about-reply">
							<div class="fly-detail-user">
								<a href="" class="fly-link"> <cite>{{item.personName}}</cite>
								</a>
							</div>
							<div class="detail-hits">
								<span>{{item.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
							</div>
						</div>
						<div class="detail-body jieda-body photos">
							<p>{{item.content}}</p>
						</div>
						@if(isDelete){
							<div class="jieda-reply">
								<!-- <span class="jieda-zan" type="zan"> 
								<i class="iconfont icon-zan"></i><em>0</em>
								</span> <span type="reply"> <i class="iconfont icon-svgmoban53"></i>
									回复
								</span> -->
								<div class="jieda-admin">
									<!-- <span type="edit">编辑</span> -->
									<span type="del" ng-click="deleteNote(item.id)">删除</span> 
									<!-- <span class="jieda-accept" type="accept">采纳</span> -->
								</div>
							</div>
						}
					</li>
				</ul>
				<div style="text-align: center">
		          <div class="laypage-main" ng-repeat="item in pageList">
		          	<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
					<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum,'')">{{item.text}}</span>
		        </div>
		      </div>
				<div class="layui-form layui-form-pane">
						<div class="layui-form-item layui-form-text">
							<a name="comment"></a>
							<div class="layui-input-block">
								<textarea id="L_content" name="content" required
									lay-verify="required" placeholder="请输入内容"
									class="layui-textarea fly-editor" style="height: 150px;" ng-model="content" ng-change="inputChange(content)"></textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<input type="hidden" name="jid" value="123">
							<button class="layui-btn" lay-filter="*" lay-submit ng-click="sendNote(content)">提交回复</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<footer class="aui-footer">
        <a href="/pblMgr/pub/course/homePage.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-home"></i>
            </span>
            <span class="aui-tabBar-item-text">首页</span>
        </a>
        <a href="/pblMgr/pub/course/userMobileMsg.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-find"></i>
            </span>
            <span class="aui-tabBar-item-text">消息</span>
        </a>
        <a href="/pblMgr/pub/course/homeMobileMyPage.action" class="aui-tabBar-item ">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-car"></i>
            </span>
            <span class="aui-tabBar-item-text">我的</span>
        </a>
    </footer>
</section>
<script src="@WebContext.url("/js/bbs/res/layui/layui.js")"></script>
<script>
function bbsAdd(){
	window.location.href="@url("/pub/course/mobileAdd.action")";
}
function bbsDelete(id){
	confirm("确定要删除此帖子吗？",function(){
		$.ajax({
			url:"@url("/pub/bbs/bbsDelete.action?id=")"+id,
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){					
					 window.history.go(-1);
				}
			},
			fail:function(result){ 
				noticeError(result.messages);
			}
		});
	});
}
function bbsEdit(id){
	window.location.href="@url("/pub/course/mobileEdit.action?id=")"+id;
}
myApp.controller("noteCtrl",function($scope,$http){
	//检索第几页 
	$scope.pageNumber = 1;
	//笔记列表数据
	$scope.noteList = [];
	//分页数据
	$scope.pageList = [];
	//请求数据
	$http.post('@surl',{bbsId:"@bbs.getId()",pageSize:@pageSize,pageNumber:$scope.pageNumber,sortName:"CREATE_TIME",sortOrder:"desc"})
	.success(function(result){
		if(result.status){
			//请求成功
			$scope.noteList = result.data;
			//获取分页显示，当前页，总页数
			$scope.pageList = getPageList(result.page,result.total);
		}else{
			noticeError(result.messages);
		}
	})
	.error(function(){
		noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
	});
	//分页检索
	$scope.search4Page = function(num,pageType){
		//请求数据
		$http.post('@surl',{bbsId:"@bbs.getId()",pageSize:@pageSize,pageNumber:num,sortName:"CREATE_TIME",sortOrder:"desc"})
		.success(function(result){
			if(result.status){
				//请求成功
				$scope.noteList = result.data;
				//改变当前页
				$scope.pageNumber = result.page;
				//获取分页显示，当前页，总页数
				$scope.pageList = getPageList(result.page,result.total);
				
			}else{
				noticeError(result.messages);
			}
		})
		.error(function(){
			noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
		});
	};
	$scope.inputChange = function(content){
		if(content.length >= 500){
			$scope.content = content.substr(0,500);
		}
	};
	$scope.sendNote = function(content){
		@if(WebContext.isGuest()) {
			toLoginFun(window.location.href)
		} else {
			if(content==''){
				noticeError('@MessageUtil.getMsgAndNote("回复内容不能为空！", "ab01011.txt.validate.empty.note.content")')
			}else{
				//发送评论
				$http.post("@url("/pub/bbs/insertBbsReply.action")",{bbsId:"@bbs.getId()",content:content})
				.success(function(result){
					if(result.status){
						noticeInfo('@MessageUtil.getMsgAndNote("回复成功！", "ab01011.txt.oprate.write.ok")');
						$scope.content = '';
						$scope.search4Page($scope.pageNumber);
					}else{
						noticeError(result.messages);
					}
				})
				.error(function(){
					noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
			}
		}
	};
	$scope.deleteNote = function(id){
		$scope.deleteId = id;
		confirm("确定要删除回复吗？",function(){
			$http.post('@deleteUrl',{id:$scope.deleteId})
			.success(function(result){
				if(result.status){
					//请求成功
					noticeInfo('@MessageUtil.getMsgAndNote("删除成功！", "ab01011.txt.oprate.del.ok")');
					$scope.search4Page(1,'');
				}else{
					noticeError(result.messages);
				}
			})
			.error(function(){
				noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
			});
		});
	}
	$scope.viewDetail = function(id){
		window.open('@url("/pub/course/mobileBbsDetail.action?id=")'+id,'_self');	
	};
	});
</script>