@args String title = ""
@extends(common, pageType="add")
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.course.entity.constants.*
 		    com.cloudsoaring.web.course.entity.*
}
<style>
.btn-normal, .btn-normal:focus, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .tabs-rythm>li.active>a, .tabs-rythm>li.active>a:focus, .tabs-rythm>li.active>a:hover, .panel-normal>.panel-heading, .badge-normal, .tagsinput .tag:hover, .label-normal {
    background-color: #009688 !important;
}
.btn-normal, .btn-normal:focus, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .panel-normal>.panel-heading, .badge-normal, .label-normal, .tab-content {
    border-color: #009688 !important;
}
.btn-normal:hover {
    background-color: #009688 !important;
    border-color: #009688 !important;
}
</style>
<title>PBL</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
<link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/base.css")">
    <link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/home.css")">
    <script type="text/javascript" src="@WebContext.url("/js/slider.js")"></script>
    <script type="text/javascript" src="@WebContext.url("/js/tab.js")"></script>
<script type="text/javascript" src="@url("/js/vr/player/plugin/sceneVideo/sceneVideo.js")"></script>
<script type="text/javascript" src="@url("/js/vr/player/UtoVRPlayerGuide.js")"></script>


<link rel="stylesheet" href="@WebContext.url("/css/hs_style.css")"/>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/font_826145_1kvrj73qfjc.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/font_680193_mlx1ll180gc1h5mi.css")">
<script type="text/javascript" src="@WebContext.url("/js/homepage/js/index.js")"></script>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/swiper.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/editor.css")">
<script src="@WebContext.url("/js/homepage/js/swiper.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/wySilder.min.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/jquery.base64.js")"></script>
<link rel="stylesheet" href="@url("/js/jquery-ui2.css")" type="text/css"/>
<link rel="stylesheet" href="@url("/js/robert.css")" type="text/css"/>
<script type="text/javascript" src="@url("/js/echarts.js")"></script>
<script type="text/javascript" src="@url("/js/three.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/ueditor.config.js")"></script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/ueditor.all.js")"> </script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/ueditor.parse.js")"> </script>

<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/addKityFormulaDialog.js")"> </script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/getKfContent.js")"> </script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/defaultFilterFix.js")"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文7678-->
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/lang/zh-cn/zh-cn.js")"></script>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed b-line">
        <a href="javascript:history.back(-1)" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">校园BBS</span>
        </div>
       <!--  <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-release"></i>
        </a> -->
    </header>
<section class="aui-scrollView">
<div style="width: 80%;margin: auto;background: #fff;height: 1000px;margin-top: 50px;">
@form("notice_add"){
	@column("col-2")
	@column("col-8"){
		@input(label:MessageUtil.getMessage("标题"),name:"title"groupcss:"fcol-12",required:true,maxlength:"50")
		@ue_image_video({label:MessageUtil.getMessage("内容"), width:"100%", height:"300",name:"content"})
	}
	@column("col-2")
}
@btnbox(){
			@button_save(width:100)
			@button_back(width:100)
		}
</div>
</section>
<footer class="aui-footer">
        <a href="/pblMgr/pub/course/homePage.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-home"></i>
            </span>
            <span class="aui-tabBar-item-text">首页</span>
        </a>
        <a href="/pblMgr/pub/course/userMobileMsg.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-find"></i>
            </span>
            <span class="aui-tabBar-item-text">消息</span>
        </a>
        <a href="/pblMgr/pub/course/homeMobileMyPage.action" class="aui-tabBar-item ">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-car"></i>
            </span>
            <span class="aui-tabBar-item-text">我的</span>
        </a>
    </footer>
</section>
<script>
		function save(){
			$('#notice_add').bootstrapValidator('validate');
			if($('#notice_add').data('bootstrapValidator').isValid()){ 
				var params = new FormData($('#notice_add')[0]);
					if(ue.getContent() == null){
						noticeError("内容不能为空");
					}
					params.append("content", ue.getContent());
					
				$.ajax({ 
					url: "@url("/pub/bbs/insert.action")",
					data:params,
					method:"post",  
					bodyMsg:true,
					mask:true,
					/** 
			         *必须false才会自动加上正确的Content-Type 
			         */
					contentType:false,  
			        /** 
			         * 必须false才会避开jQuery对 formdata 的默认处理 
			         * XMLHttpRequest会对 formdata 进行正确的处理 
			         */  
			        processData:false, 
					success: function(result){
	 		        	 window.history.go(-1);
			      	}
			    });
			}
			}
		

</script>