@extends(main, "配置查询")
@args SearchPage searchPage

@import() {
     com.cloudsoaring.web.ddb.db.*
     com.cloudsoaring.web.ddb.db.entity.*
    com.cloudsoaring.web.ddb.constants.*
}

<style>
	.dm-table-config .modal-dialog{
		width:1000px;
	}
</style>
@area("查询基本信息"){
	@form(name:"spForm"){
		@input(label:"查询名称", name:"spName", placeholder:"请输入查询名称", maxlength:"50", value:searchPage.searchPageName)
		{
			@hidden(name:"searchPageId", value:searchPage.searchPageId)
		}
		@input(label:"描称", name:"spDesc", placeholder:"请输入描述", maxlength:"250", value:searchPage.description)
		
		@column(align:"right", style:"padding-left:0px;padding-right:35px;")
		{
			@button_save(onclick:"saveSearchPage")
			@button_back()
		}
	   
	}
}
@assign("fieldForm"){
	@form(name:"fieldForm"){
		@input(label:"字段名称", name:"searchFieldName", placeholder:"请输入字段名称", maxlength:"20", groupcss:"col-12")
		@input(label:"描述", name:"description", placeholder:"请输入描述", maxlength:"50", groupcss:"col-12")
	}
   	<script>initFieldForm('%searchFieldId');</script>
}
@area("查询字段设置"){
	@table(id:"fieldList", url:"/ddb/searchConfig/searchFields.action", pagination:false){
		@toolbar()
		{
			@button(label:"新增",iconcss:"fa fa-plus",onclick:"addSearchField()")
			@button(label:"删除",iconcss:"fa fa-remove",onclick:"deleteSearchFields()")
		}
		@columns()
		{
			{field: 'state',align:'center',checkbox: true},
			@optcolumn(width:160)
			{
				@iconlink(label:"修改", iconcss:"glyphicon-pencil", onclick:"editSearchField", innerType:"EDIT")
				@iconlink(label:"删除", iconcss:"glyphicon-remove", onclick:"deleteSearchField", innerType:"DEL")
			}, {
                field: 'searchFieldName',
                title: '字段名称',
                sortable: true
            }, {
                field: 'description',
                title: '描述',
                sortable: true
            }
		}
	}
}


@assign("tableConfig"){
	@table(id:"columnList",pagination: false,url:"/ddb/searchConfig/getTableConfig.action?tableId=%tableId")
	{
		@columns(){
			{field: 'columnName', width:200, title: '列名',sortable: false}
			, {field: 'comment',title: '备注',sortable: false}
			, @editcolumn(width:300, field:"searchFieldId", title:"检索字段",etype:"combobox",labelfield:"searchFieldName",valuefield:"searchFieldId")
            , {field: 'adaptType',align:'center',title: '字段类型',sortable: false, width:120}
            , {field: 'showAsResult',align:'center',title: '检索结果',checkbox: true, width:120,formatter:checkBoxFormatter}
		}
		@config(){
			onLoadSuccess:function(){
				var sfields = [{searchFieldId:'', searchFieldName:''}].concat( $('#fieldList').bootstrapTable('getData'));
         	    $('#columnList').find('[name="searchFieldId"]').each(function(){
         	    	 var index = $(this).parentsUntil('tbody','tr').data('index');
	     	  	     var rows = $('#columnList').bootstrapTable('getData');
	     	  	     var row = rows[index];
         	    	 $(this).selectpicker('reloadData', sfields, row.searchFieldId);
         	    });
			}
		}
	}
}

@assign("searchFieldFormatter"){
	@combobox({
		name:"searchFieldId",
		id:"sfid_%s",
		valuefield:"searchFieldId",
		labelfield:"searchFieldName",
		placehoder:"",
		width:"200px";
		style:"btn-default btn-sm",
		value:"%r"
	 })
}

@assign("tableForm"){
	@form("tableForm") 
	{
		@combobox({
			label:"数据源",
			id:"dataSourceId", 
			name:"dataSourceId",
			url:"/ddb/searchConfig/getDataSources.action",
			valuefield:"dataSourceId",
			labelfield:"dataSourceName",
			placehoder:"请选择数据源",
			groupcss:"col-12",
			value:""
		})
		{
			<script>
		 		$('#dataSourceId').change(function(){
		 			var dataSourceId = $('#dataSourceId').selectpicker('val');
		 			if(dataSourceId && dataSourceId != ''){
			 			//刷新模块
			 			$('#tableName').selectpicker('reload', '@url("/ddb/searchConfig/getTables.action?dataSourceId=")' + dataSourceId);
		 			}else{
		 				$('#tableName').selectpicker('reloadData', []);
		 			}
		 		});
		 	</script>
		}
		@combobox({
			label:"数据表",
			id:"tableName", 
			name:"tableName",
			valuefield:"tableName",
			labelfield:"tableName",
			groupcss:"col-12",
			placehoder:"请选择数据表",
			value:""
		})
   	}	
   	<script>initTableForm();</script>
}


@area("查询表格设置"){
	@table(id:"tableList", url:"/ddb/searchConfig/searchTables.action", queryParamFunction:"tableListqueryParams", pagination:false){
		@toolbar(){
			@button(label:"新增",iconcss:"fa fa-plus",onclick:"addTable()")
			@button(label:"删除",iconcss:"fa fa-remove",onclick:"deleteTables()")
		}
		@columns()
		{
			{field: 'state',align:'center',checkbox: true},
			@optcolumn(width:160){
				@iconlink(label:"配置", iconcss:"glyphicon-cog", onclick:"editTable", innerType:"EDIT")
				@iconlink(label:"删除", iconcss:"glyphicon-remove", onclick:"deleteTable", innerType:"DEL")
			},
			{
                field: 'dataSource',
                title: '数据源',
                sortable: true,
                formatter:function(value, row, index){
                	return value && value.dataSourceName ? value.dataSourceName:'';
                }
            }, {
                field: 'tableName',
                title: '数据表',
                sortable: true
            }, {
                field: 'comment',
                title: '备注',
                sortable: false
            }
		}
	}
}	
<script>
	function saveSearchPage(){
		$('#spForm').bootstrapValidator('validate');
      	 if($('#spForm').data('bootstrapValidator').isValid()){
           	ajax({
         		url: '@url("/ddb/searchConfig/save.action")',
         		type: "POST",
         		data: {
         			searchPageName:$('#spName').val(),
         			searchPageId:$('#searchPageId').val(),
         			description:$('#spDesc').val()
         		},
	            success: function(data) {
		               if(data.status){
		            	   bodySuccess(data.messages); 
		               }else{
		            	   bodyError(data.messages);
		               }
		            } 
         		});
      	 }
	}
	
	$(function(){
		//Validator 初始化
		$('#spForm').bootstrapValidator({
			//trigger: 'blur',
			submitButton:'#btnSearchPageSave',
            fields: {
            	spName: {
            		//trigger: 'focus blur',
                    validators: {
                    	notEmpty: {
                            message: '查询名称不能为空'
                        },
                        remote: {
	                        message: '查询名称已存在',
	                        data:function(){
	                        	return {
	                        		searchPageId:$('#searchPageId').val(),
	                        		searchPageName:$('#spName').val()
	                        	};
	                        },
	                        url: '@url("/ddb/searchConfig/checkName.action")'
	                    }
                    }
            	}
            }
        });
		
		
            
	});
	
	function tableListqueryParams(params){
  	   return $.extend(params, {
  		   searchPageId:'@searchPage.searchPageId'
 	    });
     }
        
	function addOrEditField(fId){
		var searchFieldId = fId? fId : '';
		var title = fId? '编辑查询字段':'新增查询字段';
		BootstrapDialog.show({
            title: title,
            message: $('@es(fieldForm).raw()'.replace(/%searchFieldId/g, searchFieldId)),
            cssClass:'change_pwd_dialog',
            buttons: [{
               label: '保存',
               cssClass: 'btn-normal',
               id:'btnFieldSave',
               hotkey: 13,
               action: function(dialog) {
               	$('#fieldForm').bootstrapValidator('validate');
               	 if($('#fieldForm').data('bootstrapValidator').isValid()){
	                	ajax({
	              		url: '@url("/ddb/searchConfig/saveField.action")',
	              		type: "POST",
	              		data: {
	              			searchFieldName:$('#searchFieldName').val(),
	              			description:$('#description').val(),
	              			searchFieldId:searchFieldId,
	              			searchPageId:'@searchPage.searchPageId'
	              		},
			            success: function(data) {
				               if(data.status){
				            	   bodySuccess(data.messages); 
				               		dialog.close();
				               		$('#fieldList').bootstrapTable('refresh');
				               }else{
				            	   error(data.messages);
				               }
				            } 
	              		});
               	 }
             	}
           }, {
               label: '取消',
               cssClass: 'btn-normal',
               hotkey: 13,
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	
	
	function editSearchField(row){
		var searchFieldId  = row.searchFieldId;
		addOrEditField(searchFieldId);
	}
	
	function addSearchField(){
		addOrEditField();
	}
	
	function deleteSearchField(row){
		var searchFieldId = row.searchFieldId;
		var searchFieldName = row.searchFieldName;
		confirm("确认删除查询字段  " + searchFieldName + " ?", function(){
			ajax({ 
				url: "@url("/ddb/searchConfig/deleteField.action")",
				data:{searchFieldId:searchFieldId},
				type:"post", 
				success: function(result){
		        	//成功
		        	if(result.status){
		        		bodySuccess(result.messages);
		        		$('#fieldList').bootstrapTable('refresh');
		        	}else{
		        		bodyError(result.messages);
		        	}
		      	}
		    });
			return true;
		});
	}
	
	function deleteSearchFields(){
		var selectedRows = $('#fieldList').bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){
			var searchFieldId = [];
			for(var i = 0; i < selectedRows.length; i++){
				searchFieldId[i] = selectedRows[i].roleId;
			}
			confirm("确认删除选中的查询字段?", function(){
				$.ajax({ 
					url: "@url("/ddb/searchConfig/deleteField.action")",
					data:{searchFieldId:searchFieldId.join(',')},
					type:"post", 
					success: function(result){
			        	//成功
			        	if(result.status){
			        		bodySuccess(result.messages);
			        		$('#fieldList').bootstrapTable('refresh');
			        	}else{
			        		bodyError(result.messages);
			        	}
			      	}
			    });
				return true;
			});
		}else{
			warning("请选择要删除的查询字段");
		}
	}
	
	//Search Field 弹窗初始化
	function initFieldForm(searchFieldId){
		//初始化
		if(searchFieldId != ''){
			//查询数据并赋值
			$.ajax({
          		url: '@url("/ddb/searchConfig/getField.action")',
          		type: "get",
          		data: {
          			searchFieldId:searchFieldId
          		},
	            success: function(data) {
		               if(data && data != 'null'){
		                	$('#searchFieldName').val(data.searchFieldName); 
		                	$('#description').val(data.description); 
		               }else{
		               	   error('查询字段不存在或者被删除');
		               }
		            } 
          		});
		}
		//Validator
		$('#fieldForm').bootstrapValidator({
			//trigger: 'blur',
			submitButton:'#btnFieldSave',
            fields: {
            	searchFieldName: {
            		//trigger: 'focus blur',
                    validators: {
                    	notEmpty: {
                            message: '字段名称不能为空'
                        },
                        remote: {
	                        message: '字段名已存在',
	                        data:function(){
	                        	return {
	                        		searchFieldId:searchFieldId,
	                        		searchPageId:'@searchPage.searchPageId',
	                        		searchFieldName:$('#searchFieldName').val()
	                        	};
	                        },
	                        url: '@url("/ddb/searchConfig/checkFieldName.action")'
	                    }
                    }
            	}
            }
        });
	}
	
	function editTable(row){
		var tableId = row.tableId;
		var tableName = row.tableName;
		BootstrapDialog.show({
            title: '配置数据表  ' + tableName,
            cssClass: 'dm-table-config',
            message: $('@es(tableConfig).raw()'.replace(/%tableId/g, tableId)),
            buttons: [{
               label: '保存',
               cssClass: 'btn-normal',
               id:'btnTableSave',
               hotkey: 13,
               action: function(dialog) {
               		//判断是否有选中的	
            	   var selectedRows = $('#columnList').bootstrapTable('getSelections');
           		   if(selectedRows && selectedRows.length > 0){
           			$.ajax({ 
    					url: "@url("/ddb/searchConfig/saveTableConfig.action")",
    					contentType:"application/json",
    					data:JSON.stringify({
    						tableId:tableId,
    						columns:$('#columnList').bootstrapTable('getData')
    					}),
    					type:"post", 
    					success: function(result){
    			        	//成功
    			        	if(result.status){
    			        		bodySuccess(result.messages);
    			        		dialog.close();
    			        	}else{
    			        		error(result.messages);
    			        	}
    			      	}
    			    });
           		   }else{
           			warning("请至少选择一列作为检索结果");
           		  }
               }
           }, {
               label: '取消',
               cssClass: 'btn-normal',
               hotkey: 13,
               action: function(dialog) {
                   dialog.close();
               }
           }]
		});
	}
	
	function addTable(){
		BootstrapDialog.show({
            title: '新增数据表',
            message: $('@es(tableForm).raw()'),
            cssClass:'change_pwd_dialog',
            buttons: [{
               label: '保存',
               cssClass: 'btn-normal',
               id:'btnTableSave',
               hotkey: 13,
               action: function(dialog) {
               	$('#tableForm').bootstrapValidator('validate');
               	 if($('#tableForm').data('bootstrapValidator').isValid()){
	                	ajax({
	              		url: '@url("/ddb/searchConfig/addTable.action")',
	              		type: "POST",
	              		dataType: "json",
	              		contentType:'application/json',
	              		data: JSON.stringify({
	              			tableName:$('#tableName').selectpicker('val'),
	              			dataSource:{dataSourceId:$('#dataSourceId').selectpicker('val')},
	              			searchPageId:'@searchPage.searchPageId'
	              		}),
			            success: function(data) {
				               if(data.status){
				            	   bodySuccess(data.messages); 
				               		dialog.close();
				               		$('#tableList').bootstrapTable('refresh');
				               }else{
				            	   error(data.messages);
				               }
				            } 
	              		});
               	 }
             	}
           }, {
               label: '取消',
               cssClass: 'btn-normal',
               hotkey: 13,
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	
	function deleteTable(row){
		var tableId= row.tableId;
		var tableName = row.tableName;
		confirm("确认删除数据表  " + tableName + " ?", function(){
			ajax({ 
				url: "@url("/ddb/searchConfig/deleteTable.action")",
				data:{tableId:tableId},
				type:"post", 
				success: function(result){
		        	//成功
		        	if(result.status){
		        		bodySuccess(result.messages);
		        		$('#tableList').bootstrapTable('refresh');
		        	}else{
		        		bodyError(result.messages);
		        	}
		      	}
		    });
			return true;
		});
	}
	
	function deleteTables(){
		var selectedRows = $('#tableList').bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){
			var tableId = [];
			for(var i = 0; i < selectedRows.length; i++){
				tableId[i] = selectedRows[i].roleId;
			}
			confirm("确认删除选中的数据表?", function(){
				$.ajax({ 
					url: "@url("/ddb/searchConfig/deleteTable.action")",
					data:{tableId:tableId.join(',')},
					type:"post", 
					success: function(result){
			        	//成功
			        	if(result.status){
			        		bodySuccess(result.messages);
			        		$('#tableList').bootstrapTable('refresh');
			        	}else{
			        		bodyError(result.messages);
			        	}
			      	}
			    });
				return true;
			});
		}else{
			warning("请选择要删除的数据表");
		}
	}
	
	//添加 Table 弹窗初始化
	function initTableForm(){
		//Validator
		$('#tableForm').bootstrapValidator({
			//trigger: 'blur',
			excluded: ':disabled',
			submitButton:'#btnTableSave',
            fields: {
            	tableName: {
            		//trigger: 'focus blur',
                    validators: {
                    	notEmpty: {
                            message: '数据表不能为空'
                        },
                        remote: {
	                        message: '数据表已存在',
	                        contentType:'application/json',
	                        type:'post',
	                        data:function(){
	                        	return JSON.stringify({
	                        		dataSource:{dataSourceId:$('#dataSourceId').selectpicker('val')},
	                        		searchPageId:'@searchPage.searchPageId',
	                        		tableName:$('#tableName').selectpicker('val'),
	                        	});
	                        },
	                        url: '@url("/ddb/searchConfig/checkTable.action")'
	                    }
                    }
            	}
            }
        });
	}
	
	//勾选框formater
	function checkBoxFormatter(value, row, index) {
		var result = new Object;
		result.checked = value;
		
		if(row["adaptType"] == "BLOB") {
			result.disabled = true;
			row.showAsResult = false;
			result.checked = false;
		}
		return result;
	}
</script>