@import com.cloudsoaring.web.common.view.MailView;
@args String description, String link, String key

@extends(mail)

@{
	final String conectFlag = link.contains("?") ? "&" : "?";
}
<table>
	<tr>
		<td>
			@description
		</td>
	</tr>
	<tr>
		<td>
			<a href="@(weburl(link)+conectFlag + Constants.PARAM_AUTH_UNIQUE_KEY)=@key">@MessageUtil.getMessage(MsgNames.MSG_CLICK)</a>
		</td>
	</tr>
	<tr>
		<td> 
			@(weburl(link) + conectFlag + Constants.PARAM_AUTH_UNIQUE_KEY)=@key
		</td>
	</tr>
	<tr>
		<td> 
		@MessageUtil.getMessage(MsgNames.MSG_NOT_REPLY_EMAIL_SYSTEM)
		</td>
	</tr>
</table>