@import com.cloudsoaring.web.common.view.MailView;
@args MailView email, String content

@extends(mail)

<table>
	<tr>
		<td style="text-align: right">@MessageUtil.getMessage(MsgNames.MSG_COME_FROM):</td>
		<td>
			@email.getFrom()
		</td>
	</tr>
	<tr>
		<td style="text-align: right">@MessageUtil.getMessage(MsgNames.MSG_THEME):</td>
		<td>
			@email.getSubject()
		</td>
	</tr>
	<tr>
		<td style="text-align: right">@MessageUtil.getMessage(MsgNames.MSG_CONTENTS):</td>
		<td> 
			@content
		</td>
	</tr>
</table>