@import(){
net.sf.json.JSONArray,
com.cloudsoaring.web.course.entity.QuestionOptionEntity,
com.cloudsoaring.web.course.entity.QuestionEntity,
com.cloudsoaring.web.course.view.CourseView,
com.cloudsoaring.web.course.constant.CourseMsgNames,
com.cloudsoaring.web.course.constant.CourseConfigNames,
com.cloudsoaring.web.course.constant.CourseStateConstants,
com.cloudsoaring.web.course.view.ChapterView,
com.cloudsoaring.web.course.entity.CourseEntity,
com.cloudsoaring.web.course.entity.ChapterActiveEntity
}
@args List<QuestionEntity>  questionList,
Boolean visible = true,
String linkId = "",
String chapterId="",
String linkType = "",
Boolean showAnswer = true,
String randomId = "",
List chapterCourseList,
ChapterActiveEntity activeEntity
@{
    String contentLableTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_CONTENT);
    final String contentLable = contentLableTemp;
}
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditorDetail/ueditor.config.js")"></script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditorDetail/ueditor.all.js")"></script>
<style type="text/css">
#title02 {height:50px;line-height:25px;}
#title02 ul
{
  width:100%;
  height:25px;
  margin:0px;
  font-size: 16px;
}
#title02 ul li {float:left; width:65px; height:20px;line-height:30px;list-style:none;  cursor:pointer; font-weight:bold;text-align:center;}
#title02 li.on {background-color:#b60005;color:white;border-radius: 12px;height: 33px;}
#con02 {background:#fafafa;height:100px;}
#con02 div.off {display:none; padding:5px;}
#con02 div.on {display:block;}
#diva1 img {
    border: 0;
    width: 650px;
}
#diva2 img {
    border: 0;
    width: 650px;
}
#diva3 img {
    border: 0;
    width: 650px;
}
#diva4 img {
    border: 0;
    width: 650px;
}
.combobox-rythm{
	width: 310px;
	height: 37px;
	padding: 1px;
}
.group-with-required{
width: 310px;
	height: 37px;
	padding: 1px;
}

#title03 {height:50px;line-height:25px;}
</style>
<div style="height:500px;">
    <div id="diva0" class="main02">
	      <div id="title02">
	      
	        <ul>  
	           <li class="on">全部</li>
	           <li>课前</li>
	           <li>课中</li>
	           <li>课后</li>
	           <input type="button" name="创建活动" value="创建活动" style="float: right;background-color: #b60005;color: white;border-radius: 12px;height: 33px;" onclick="createActive('@linkId')">
	        </ul>
	      </div>
	      <div id="title03">
	      
	         @combobox(
	                  label:MessageUtil.getMessage("搜索活动章节："),
			          name:"chapterId", 
			          popplace:"left", 
			          multiple:false,
			          groupcss:"col-10", 
			          value:"",
			          labelfield:"title", 
			          valuefield:"id",
			          placeholder:"--请选择章节--",
			          options:chapterCourseList,
			          onChange:"getSecondTag"
			       )
	      </div>
	      <div id="con02" style="width:100%;height:auto;width: 100%;
							    height: auto;
							    margin-bottom: 8px;
							    padding: 24px 32px 32px;
							    background: #fff;
							    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
							    border-radius: 12px;
							    font-family: 微软雅黑;">
	          <div id="diva1" class="on" style="padding:15px 0px 0px 15px;">
		       </div>
		       <div id="diva2" class="off">
		       </div>
		       <div id="diva3" class="off">
		       </div>
		       <div id="diva4" class="off">
		       </div>  
		  </div>
    </div>
</div>

<script type="text/javascript">
    var bTitle = document.getElementById('title02');
    var cSpan = bTitle.getElementsByTagName('li');

    var i = 0;
    for (i = 0; i < cSpan.length; i++) {
        switch (i) {
            case 0:
                cSpan[0].onclick = function () {
            	    cSpan[0].className = 'on';
                    cSpan[1].className = '';
                    cSpan[2].className = '';
                    cSpan[3].className = '';
                    $('#diva1').attr('class', 'on');
                    $('#diva2').attr('class', 'off');
                    $('#diva3').attr('class', 'off');
                    $('#diva4').attr('class', 'off');
               
                }
                break;
            case 1:
                cSpan[1].onclick = function () {
            	    cSpan[0].className = '';
                    cSpan[1].className = 'on';
                    cSpan[2].className = '';
                    cSpan[3].className = '';
                    $('#diva1').attr('class', 'off');
                    $('#diva2').attr('class', 'on');
                    $('#diva3').attr('class', 'off');
                    $('#diva4').attr('class', 'off');
                 
                }
                break;
            case 2:
                cSpan[2].onclick = function () {
                    cSpan[0].className = '';
                    cSpan[1].className = '';
                    cSpan[2].className = 'on';
                    cSpan[3].className = '';
                    $('#diva1').attr('class', 'off');
                    $('#diva2').attr('class', 'off');
                    $('#diva3').attr('class', 'on');
                    $('#diva4').attr('class', 'off');
               
                }
                break;
            case 3:
                cSpan[3].onclick = function () {
                    cSpan[0].className = '';
                    cSpan[1].className = '';
                    cSpan[2].className = '';
                    cSpan[3].className = 'on';
                    $('#diva1').attr('class', 'off');
                    $('#diva2').attr('class', 'off');
                    $('#diva3').attr('class', 'off');
                    $('#diva4').attr('class', 'on');
               
                }
                break;


        }
    }
</script>
<script>
$(document).ready(function(){$("div p img").addClass('img-responsive');});
$(function(){
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
		dataType:"json",
		data:{activeFlag:"",courseId:"@linkId"},
		success:function(result){
		for(var i=0;i<result.data.length;i++){
			$("#diva1").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
			$("#diva1").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");
		}	
			
		}
	});
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
		dataType:"json",
		data:{activeFlag:"0",courseId:"@linkId"},
		success:function(result){
		for(var i=0;i<result.data.length;i++){
			$("#diva2").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
            $("#diva2").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");

		}	
			
		}
	});	
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
		dataType:"json",
		data:{activeFlag:"1",courseId:"@linkId"},
		success:function(result){
		for(var i=0;i<result.data.length;i++){
			$("#diva3").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
            $("#diva3").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");

		}	
			
		}
	});	
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
		dataType:"json",
		data:{activeFlag:"2",courseId:"@linkId"},
		success:function(result){
		for(var i=0;i<result.data.length;i++){
			$("#diva4").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
            $("#diva4").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");

		}	
			
		}
	});	
	
})
</script>
<script>
function createActive(linkId){
	 window.location.href="/pblMgr/pub/course/addActiveInit.action?courseId="+linkId;
}
function getSecondTag(value){ 
    if(value ==null || value==""){
       $("#secondTag").html("");
       $("#secondTag").selectpicker('refresh');
    }else{
    	$.ajax({
    		type:'post',
    		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
    		dataType:"json",
    		data:{activeFlag:"",courseId:"@linkId",chapterId:value},
    		success:function(result){
    			if(result.data.length>0){
    				for(var i=0;i<result.data.length;i++){
    	    			$("#diva1").html("");
    	    			$("#diva1").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
                        $("#diva1").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");

    	    		}
    			}else{
    				$("#diva1").html("");
    			}
    			
    		}
    	});
    	$.ajax({
    		type:'post',
    		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
    		dataType:"json",
    		data:{activeFlag:"0",courseId:"@linkId",chapterId:value},
    		success:function(result){
    			if(result.data.length>0){
    				for(var i=0;i<result.data.length;i++){
    	    			$("#diva2").html("");
    	    			$("#diva2").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
                          $("#diva2").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");

    	    		}
    			}else{
    				$("#diva2").html("");
    			}	
    			
    		}
    	});	
    	$.ajax({
    		type:'post',
    		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
    		dataType:"json",
    		data:{activeFlag:"1",courseId:"@linkId",chapterId:value},
    		success:function(result){
    			if(result.data.length>0){
    				for(var i=0;i<result.data.length;i++){
    	    			$("#diva3").html("");
    	    			$("#diva3").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
                        $("#diva3").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");

    	    		}
    			}else{
    				$("#diva3").html("");
    			}
    			
    		}
    	});	
    	$.ajax({
    		type:'post',
    		url:'/pblMgr/pub/course/searchActiveAllChapterInfo.action',
    		dataType:"json",
    		data:{activeFlag:"2",courseId:"@linkId",chapterId:value},
    		success:function(result){
    			if(result.data.length>0){
    				for(var i=0;i<result.data.length;i++){
    	    			$("#diva4").html("");
    	    			$("#diva4").append("<div><p><span>"+result.data[i].chapterTitle+"</span><span style='float:right'>&nbsp;"+result.data[i].flag+"&nbsp;"+ result.data[i].personName+"-"+result.data[i].createDateStr+"&nbsp;&nbsp;<a href='/pblMgr/pub/course/editActiveInit.action?courseId="+result.data[i].courseId+"&activeId="+result.data[i].id+"'><i class='fa fa-edit' aria-hidden='true' style='float:right'></i></a><a href='javascript:void(0);' onclick='activeDelete(\""+result.data[i].id+"\")'><i class='fa fa-trash' aria-hidden='true' style='float:right;margin-right: 7px;'></i></a></span></p>"+result.data[i].content+"</div>");
                        $("#diva4").append("<div style='margin: 30px 8px 20px 6px;border-top:1px dotted #C0C0C0;'></div>");

    	    		}
    			}else{
    				$("#diva4").html("");
    			}
    			
    			
    		}
    	});	
    }
    // parent.refreshTable();
 }
 
    //删除活动
    function  activeDelete(val){
    	var url = "/pblMgr/pub/course/activeDelete.action?id="+val;
        confirm("是否确认删除该活动记录？",function(){
        	$.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
	               		location.reload();

                }
            });
        
        })
    	
    }
</script>