@import(){com.cloudsoaring.web.course.constant.CourseStateConstants}
@args String url ="",
String linkId = "",
String linkType = "",
Boolean visible = true,
Integer pageSize = Integer.valueOf("5")

@{
	final String surl = url(url);
	final String deleteUrl = url("/pub/discuss/deleteDiscuss.action");
	final String loginUserId = WebContext.getSessionUserId();
}

@if(visible){
	<div ng-controller="discussCtrl">
		<div class="course-description course-wrap">
			<div style="text-align:center;padding: 10px 50px 0px;">
				<input ng-show="send" style="width:100%;height:42px;background-color: #f8fafc;border: 1px #f8fafc solid;outline:medium;padding:10px;border-radius: 8px;" placeholder="@MessageUtil.getMsgAndNote("请输入评论内容", "ab01011.txt.input.discuss.content")" ng-model="content" ng-change="inputChange(content)"/>
				<span ng-show="reply" style="height:42px;padding:10px;float:left;color:red;font-size:14px;">{{replyPersonName}}</span>
				<input ng-show="reply" style="width:100%;height:42px;background-color:#EEEEEE;border:1px #999999 solid;outline:medium;padding:10px;" placeholder="@MessageUtil.getMsgAndNote("请输入回复内容", "ab01011.txt.input.reply.discuss.content")" ng-model="replyContent" ng-change="replyInputChange(replyContent)"/>
			</div>
			<div style="text-align:right;margin-top:15px;padding: 0px 50px 10px;" >
				<button ng-show="send" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="sendDiscuss(content)">@MessageUtil.getMsgAndNote("发送", "ab01011.txt.btn.send")</button>
				<button ng-show="reply" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="sendReplyDiscuss(replyContent)">@MessageUtil.getMsgAndNote("发送", "ab01011.txt.btn.send")</button>
				<button ng-show="reply" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="disReplyDiscuss()">@MessageUtil.getMsgAndNote("取消", "ab01011.txt.btn.cancle")</button>
			</div>
		</div>
		<div class="course-description course-wrap" ng-repeat="item in discussList" style="background: #fff;box-shadow: 0 4px 8px 0 rgb(231, 234, 237);border-radius: 12px;">
			<div class="note_list_item">
				<!-- 头像区域 -->
				<div class="note_list_header_img">
					<img class="note_list_img" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
					<p class="note_list_person_name">{{item.personName}}</p>
					<p class="note_list_title" style="padding-left: 65px;">{{item.content}}</p>
				</div>
				<!-- 右侧部分 -->
				<div class="discuss_list_content" style="width:100%;">
					<div class="note_list_time">
					<span style="padding-left: 65px;">{{item.createDate | date:'yyyy@MessageUtil.getMsgAndNote("年", "ab01011.txt.date.year")MM@MessageUtil.getMsgAndNote("月", "ab01011.txt.date.month")dd@MessageUtil.getMsgAndNote("日", "ab01011.txt.date.day") HH:mm'}}</span>
						<span style="float:right;padding-right: 50px;">
							<span ng-show="!item.userLike" style="cursor:pointer;" class="note_list_like" ng-click="likeDiscuss(item.id,$index)">
								<span class="fa fa-thumbs-o-up"></span>
								<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("点赞", "ab01011.txt.oprate.like"){{item.numLike|replaceToNumber}}</span>
							</span>
							<span ng-show="item.userLike" style="color:red;">
								<span class="fa fa-thumbs-o-up"></span>
								<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("已点赞", "ab01011.txt.oprate.already.like"){{item.numLike|replaceToNumber}}</span>
							</span>
							<span ng-if="item.userId != '@loginUserId'" ng-show="item.isReply != '1'" style="cursor:pointer;" class="note_list_like" ng-click="replyDiscuss(item.id,item.discussId,item.userId,item.personName)">
									<span style="margin-left:15px;" class="gh gh-share-alt"></span>
									<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("回复", "ab01011.txt.reply")</span>
							</span>
							<span ng-if="item.canDelete" style="cursor:pointer;" class="note_list_like" ng-click="deleteDiscuss(item.id)">
								<span style="padding-left: 15px;" class="fa fa-times-circle"></span>
								<span style="margin-left:0px;">删除</span>
							</span>
						</span>
					</div>
				</div>
				<div class="note_list_header_img" ng-show="item.isReply =='1'" style="padding-left:50px;">
					<img class="note_list_img" ng-src="@url("/pub/headerThumb.action?fileId={{item.replyImage}}")">
					<p class="note_list_person_name">{{item.replyName}} <span>回复:</span></p>
					<p class="note_list_title" style="padding-left: 65px;">{{item.replyContent}}</p>
				</div>
				<!-- 右侧部分 -->
				<div class="discuss_list_content" style="width:100%;" ng-show="item.isReply == '1'" style="padding-left:50px;">
					<div class="note_list_time">
					<span style="padding-left: 65px;">{{item.replyDate | date:'yyyy@MessageUtil.getMsgAndNote("年", "ab01011.txt.date.year")MM@MessageUtil.getMsgAndNote("月", "ab01011.txt.date.month")dd@MessageUtil.getMsgAndNote("日", "ab01011.txt.date.day") HH:mm'}}</span>
					<span style="float:right;padding-right: 50px;">
						<span ng-show="!item.userLike" style="cursor:pointer;" class="note_list_like" ng-click="likeDiscuss(item.replyId,$index)">
							<span class="fa fa-thumbs-o-up"></span>
							<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("点赞", "ab01011.txt.oprate.like"){{item.numLike|replaceToNumber}}</span>
						</span>
						<span ng-show="item.userLike" style="color:red;">
							<span class="fa fa-thumbs-o-up"></span>
							<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("已点赞", "ab01011.txt.oprate.already.like"){{item.numLike|replaceToNumber}}</span>
						</span>
						<span ng-if="item.canDelete" style="cursor:pointer;" class="note_list_like" ng-click="deleteDiscuss(item.replyId)">
							<span style="padding-left: 15px;" class="fa fa-times-circle"></span>
							<span style="margin-left:0px;">删除</span>
						</span>
					</span>
					</div>
				</div>
				<div class="clearfix "></div>
			</div>
		</div>
		<!-- 分页 -->
		<div style="padding:30px 0px;text-align:center;">
			<span style="" ng-repeat="item in pageList">
				<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
				<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum)">{{item.text}}</span>
			</span>
		</div>
		
		<div id="confirmModal_discuss" class="modal fade bs-example-modal-sm" style="margin-top:350px;">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header" style="background-color:#FFCE54;color:#ffffff;">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">@MessageUtil.getMsgAndNote("警告", "ab01011.txt.warn")</h4>
		      </div>
		      <div class="modal-body"  style="font-size:18px;">
		        <span class="gh gh-question-sign" style="color:#FFCE54;"></span>
		        <span>@MessageUtil.getMsgAndNote("确认删除评论内容吗？", "ab01011.txt.confirm.delete")</span>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" ng-click="deleteDiscussConfirm()">@MessageUtil.getMsgAndNote("确认", "ab01011.txt.confirm.ok")</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">@MessageUtil.getMsgAndNote("关闭", "ab01011.txt.confirm.delete")</button>
		        
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>

	<script>
		myApp.controller("discussCtrl",function($scope,$http){
			//发表评论标志
			$scope.send = true;
			//回复评论标志
			$scope.reply = false;
			$scope.targetDiscussId = '';
			$scope.targetUserId = '';
			//发送评论
			$scope.sendDiscuss = function(content){
				@if(WebContext.isGuest()) {
					toLoginFun(window.location.href)
				} else {
					if(content==''){
						noticeError('@MessageUtil.getMsgAndNote("评论内容不能为空！", "ab01011.txt.validate.empty.content")')
					}else{
						//发送评论
						$http.post("@url("/pub/discuss/publishDiscuss.action")",{linkId:"@linkId",linkType:"@linkType",content:content})
						.success(function(result){
							if(result.status){
								noticeInfo('@MessageUtil.getMsgAndNote("发送成功！", "ab01011.txt.oprate.send.ok")');
								$scope.content = '';
								$scope.search4Page($scope.pageNumber);
							}else{
								noticeError(result.messages);
							}
						})
						.error(function(){
							noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
						});
					}
				}
			};
			//最大输入长度
			$scope.inputChange = function(content){
				if(content.length >= 500){
					$scope.content = content.substr(0,500);
					
				}
			};
			//列表数据
			$scope.discussList = [];
			//分页数据
			$scope.pageList = [];
			//当前页
			$scope.pageNumber = 1;
			$http.post('@surl',{linkId:"@linkId",linkType:"@linkType",pageSize:@pageSize,pageNumber:$scope.pageNumber,sortName:"CREATE_DATE",sortOrder:"desc"})
			.success(function(result){
				if(result.status){
					//请求成功
					$scope.discussList = result.data;
					//获取分页显示，当前页，总页数
					$scope.pageList = getPageList(result.page,result.total);
				}else{
					noticeError(result.messages);
				}
			})
			.error(function(){
				noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
			});
			//评论点赞
			$scope.likeDiscuss = function(id,index){
				@if(WebContext.isGuest()) {
					toLoginFun(window.location.href)
				} else {
					$http.post("@url("/pub/discuss/likeDiscuss.action")",{id:id})
					.success(function(result){
						//请求成功
						noticeInfo('@MessageUtil.getMsgAndNote("点赞成功！", "ab01011.txt.oprate.like.ok")');
						$scope.discussList[index].userLike=1;
						if(isEmpty($scope.discussList[index].numLike)){
							$scope.discussList[index].numLike = 0;
						}
						$scope.discussList[index].numLike += 1;
					})
					.error(function(){
						noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
					});
				}
			};
			//分页检索
			$scope.search4Page = function(num){
				//请求数据
				$http.post('@surl',{linkId:"@linkId",linkType:"@linkType",pageSize:@pageSize,pageNumber:num,sortName:"CREATE_DATE",sortOrder:"desc"})
				.success(function(result){
					//console.log(result);
					if(result.status){
						//请求成功
						$scope.discussList = result.data;
						//改变当前页
						$scope.pageNumber = result.page;
						//获取分页显示，当前页，总页数
						$scope.pageList = getPageList(result.page,result.total);
					}else{
						noticeError(result.messages);
					}
				})
				.error(function(){
					noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
			};
			//点击回复按钮
			$scope.replyPersonName = '';
			$scope.replyDiscuss = function(id,discussId,userId,personName){
				$scope.replyPersonName = '@@'+getOrElse(personName)+'：';
				$scope.id = id;
				$scope.targetDiscussId = discussId;
				$scope.targetUserId = userId;
				$scope.send = false;
				$scope.reply = true;
			};
			//点击取消按钮
			$scope.disReplyDiscuss = function(){
				$scope.send = true;
				$scope.reply = false;
			};
			//回复评论输入框值改变事件
			//最大输入长度
			$scope.replyInputChange = function(content){
				if(content.length >= 500){
					$scope.replyContent = content.substr(0,500);
					
				}
			};
			//点击回复发送按钮
			$scope.sendReplyDiscuss = function(replyContent){
				@if(WebContext.isGuest()) {
					toLoginFun(window.location.href)
				} else {
					if(replyContent==''){
					noticeError('@MessageUtil.getMsgAndNote("回复内容不能为空！", "ab01011.txt.validate.empty.reply.content")');
				}else{
					var param = {linkId:"@linkId",linkType:"@linkType",content:replyContent,targetDiscussId:$scope.targetDiscussId,targetUserId:$scope.targetUserId,replyId:$scope.id};
					$http.post("@url("/pub/discuss/publishDiscuss.action")",param)
						.success(function(result){
							if(result.status){
								noticeInfo('@MessageUtil.getMsgAndNote("回复成功！", "ab01011.txt.oprate.reply.ok")');
								$scope.send = true;
								$scope.reply = false;
								$scope.replyContent ='';
								$scope.search4Page($scope.pageNumber);
							}else{
								noticeError(result.messages);
							}
						})
						.error(function(){
							noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
						});
					}
				}
			};
			$scope.deleteId = "";
			//删除笔记
			$scope.deleteDiscuss = function(id){
				$scope.deleteId = id;
				/*$("#confirmModal_discuss").modal({});
				$("#confirmModal_discuss").modal('show'); */
				confirm("确定要删除评论吗？",function(){
					$scope.deleteDiscussConfirm();
					return true;
				});  
			}
			//删除评论
			$scope.deleteDiscussConfirm = function(){
				//$("#confirmModal_discuss").modal('hide');
				$http.post("@url("/pub/discuss/deleteDiscuss.action")",{id:$scope.deleteId })
				.success(function(result){
					if(result.status){
						noticeInfo('@MessageUtil.getMsgAndNote("删除成功！", "ab01011.txt.oprate.del.ok")');
						//$scope.discussList = deleteItem($scope.discussList,$scope.deleteId);
						$scope.pageNumber = 1;
						$scope.search4Page($scope.pageNumber);
					}else{
						noticeError(result.messages);
					}
				})
				.error(function(){
						noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
				return false;
			};
		});
		
		//根据id删除数组中对应数据
		function deleteItem(list,id){
			var arr = new Array();
			for(var i=0;i<list.length;i++){
				var item = list[i];
				if(item.id != id){
					arr.push(list[i]);
				}
			}
			return arr;
		}
	
	</script>
}