@args Integer pageSize = 20,
String url = "",
String id = "list",
String getParamsFunction,
Integer itemBlankWidth = 20,
String nullDateLabel="暂无数据",
Integer lineMaxItem = 4
@import(){
   	com.cloudsoaring.web.trainingplatform.constants.TpMsgNames
}
@assign("item_render_body"){
	@renderBody().raw()
}

@{
	String surl = url;
	String preString = IDGenerator.genDomID();
	String itemContent = StringUtil.matchAll(item_render_body, "<!--%rythm-item-content([\\s\\S]*?)tnetnoc-meti-mhtyr%-->");
	String renderItemFunction = StringUtil.matchAll(item_render_body, "<!--%rythm-item-render([\\s\\S]*?)redner-meti-mhtyr%-->");
	String itemSort = StringUtil.matchAll(item_render_body, "<!--%rythm-item-sort([\\s\\S]*?)tros-meti-mhtyr%-->");
	Double itemWidth = (100 - lineMaxItem*2*0.5) / lineMaxItem;
	Double lastItemWidth = (100 - lineMaxItem*2*0.5) - itemWidth*(lineMaxItem - 1);
}



<style>

.pagination{
	padding:0;
}

.listMain {
   /*  background-color: #FFF; */
    margin-bottom: 50px;
    padding-bottom: 0px;
    padding-left:0px;
    margin: -10px;
    padding-top: 10px;
}

.filterLable ul {
   /*  background-color: #FFF; */
    padding:5px;
    margin-bottom:0px;
   	/* border-bottom-style: solid;
    border-bottom-color: rgb(238,238,238); */
}

li.filterLableItem {
    /* list-style-type: none;
    display: inline;
    padding-right: 20px;
    font-size: 15px; */
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    float: left;
    font-size: 15px;
}
.filterLable ul{
    /* padding-left: 20px; */
}

.filterLableItem:hover  {
   cursor: pointer;
}
.filterLableItem{
	color: #666666;
}
.filterLableItem.on{
	/* font-weight: bold;
    color: #b60006;
    font-size: 16px; */
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
    color: #b60006;
    border-radius: 10px;
    background: rgb(183, 4, 7,.1);
    font-weight: 700;
    width: 70px;
    float: left;
    text-align: center;
}
.list_item{
/* border:1px solid #fff; */
}
.list_item:hover #titleP{
 /*  box-shadow:5px 5px 5px #999999;*/
 color:blue;
}

</style>

@assign("nullDiv"){
	<div style="width: 100%;
    height: 130px;
    padding: 10px 20px;">
		<span>@nullDateLabel</span>
	</div>

}

@assign("list_item"){
	<!-- <div class="list_item" style="float: left; width:%width%; padding:0px 0px 0px 0px;margin:3px;"> -->
	<div class="list_item" style="float: left;margin: 0 0 18px 18px;height: 160px;z-index: 0;font-size: 0;">
		
				@itemContent.raw()
		
		<div class="clearfix"></div>
	</div>
}

@assign("list_item_blank"){
	<div style="float: left;  width:1.5%">
		<span>　</span>
		<div class="clearfix"></div>
	</div>
}

@assign("pagination_nav"){
	<nav style="margin: 25px 0 auto;overflow: hidden;clear: both;text-align: center;">
		<ul class="pagination" id="@(id)paginationDiv_li">
			%paginatioContent			
		</ul>
	</nav>
}
<div id="@(id)" class="courseList">
	@if(StringUtil.isNotEmpty(itemSort)){
		<div id="@(id)tools" style="padding-bottom: 10px;">
			<div class="filterLable">
				<ul class="clearfix"  style="overflow: hidden; padding-bottom: 0px;padding-top: 0px;">
				</ul>
			</div>
		</div>
	}
	<div id="@(id)_main" class="listMain">
		
	</div>	
	
	
	<!-- 分页 -->
	<div id="@(id)paginationDiv">
		
	</div>
	@hidden(name:"pageSize", value:pageSize)
	@hidden(name:"pageNumber", value:"1")
</div>
<script>
$(function(){	
	
	@(id)initfilterLable();
	//检索
	searchList@(preString)(@pageSize,1);
	
	$('.filterLable .filterLableItem').click(function(event){
		$(".filterLable .on").removeClass("on");
		$(this).addClass("on");
		@(id)Reflash();
	})
});
	
	function @(id)initfilterLable(){
		var itemSort = @if(StringUtil.isNotEmpty(itemSort)) {@itemSort.raw()} else{""};
		var itemHtmls = "";
		if(itemSort){
			$(itemSort).each(function(index){
				var item = "<li class=\"filterLableItem %on\" data-filterkey=\"%filterKey\" data-filtervalue=\"%filterValue\" >%label</li>"
				var obj = this;
				if(obj.on){
					item = item.replace(/%on/g, "on");
				} else {
					item = item.replace(/%on/g, "");
				}
				itemHtmls += item
							.replace(/%filterKey/g, obj.filterKey)
							.replace(/%filterValue/g, obj.filterValue)
							.replace(/%label/g, obj.label);
			});
			$("#@(id)tools ul").html(itemHtmls);
		}
	}

	function @(id)Reflash(){
		searchList@(preString)();
		setValueAny("pageSize", '@pageSize');
		setValueAny("pageNumber", 1);
	}
// 生成表格,外界可以调用
	function searchList@(preString)(pageSize,pageNumber){
		if(!pageSize) {
			pageSize = getValueAny("pageSize");
			pageNumber = getValueAny("pageNumber");
		} else {
			setValueAny("pageSize", pageSize);
			setValueAny("pageNumber", pageNumber);
		}
		@if(StringUtil.isEmpty(getParamsFunction)){
			var data = new Object;
		} else {
			var data = @(getParamsFunction)();
		}
		
		$.extend(data,{pageNumber:pageNumber,pageSize:pageSize});
		var filterKey = $(".filterLable .on").data("filterkey");
		var filterValue = $(".filterLable .on").data("filtervalue");
		var fileInfo = new Object;
		fileInfo[filterKey] = filterValue;
		$.extend(data,fileInfo);
		//检索课程列表
		$.ajax({
			url:"@url(surl)",
			data: data,
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					if(!objs || objs.length == 0){
						displayNullData@(preString)();
						initPagination@(preString)("@(id)paginationDiv",0,1, @pageSize)
						return;
					}
					
					var itemNum = objs.length;
					var str = '';
					if(objs != null) {
						$(objs).each(function(index){
							var lineContent =  "";
							if(index == objs.length - 1) {
								lineContent = "@es(list_item).raw()".replace(/%width/g, '@(lastItemWidth)');
							}else {
								lineContent = "@es(list_item).raw()".replace(/%width/g, '@(itemWidth)');
							}
							lineContent = @(renderItemFunction.raw())(lineContent,this);
							str += lineContent;
						});
					}
					if(str != ""){
						$("#@(id)_main").html(str+"<div class=\"clearfix\"></div>");
					} else {
						displayNullData@(preString)();
					}
					initPagination@(preString)("@(id)paginationDiv",result.total,result.page, @pageSize)	
				}
			}
		});
	}
	

	function initPagination@(preString)(paginationId, total, page, pageSize){
		var totalPage = total;
		$("#" + paginationId).html("");
		if(totalPage > 1){
			var str = '';
			if(page == 1){
				str += '<li class="pagination_first"><a>@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
				str += '<li class="pagination_pre"><a>@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
			}else{
				str += '<li class="pagination_first"><a href="javascript:searchList@(preString)('+pageSize+',1)" >@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
				str += '<li class="pagination_pre"><a href="javascript:searchList@(preString)('+pageSize+','+(page-1)+')">@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
			}
			for(var i=1;i<=totalPage;i++){
				if(totalPage > 10){
					if(page < 10){
						if(i<=10){
							str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList@(preString)('+pageSize+','+i+')">'+i+'</a></li>';
						}
					}else if(page >= 10 && page<(totalPage-5)){
						if(i>(page-5) && i<=(page+5)){
							str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList@(preString)('+pageSize+','+i+')">'+i+'</a></li>';
						}
					}else if(page>=(totalPage-5)){
						if(i>(totalPage-10)){
							str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList@(preString)('+pageSize+','+i+')">'+i+'</a></li>';
						}
					}
					
				}else{
					str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList@(preString)('+pageSize+','+i+')">'+i+'</a></li>';
				}
					
			}
			
			if(page == totalPage){
				str += '<li class="pagination_next"><a>@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
				str += '<li class="pagination_last"><a>@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
			}else{
				str += '<li class="pagination_next"><a href="javascript:searchList@(preString)('+pageSize+','+(page+1)+')">@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
				str += '<li class="pagination_last"><a href="javascript:searchList@(preString)('+pageSize+','+totalPage+')">@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
			}
			
			str = "@es(pagination_nav).raw()".replace(/%paginatioContent/g, str)
			
			$("#"+ paginationId).html(str);
			if(page == 1){
				$(".pagination_first").addClass("disabled");
				$(".pagination_pre").addClass("disabled");
			}
			if(page == totalPage){
				$(".pagination_next").addClass("disabled");
				$(".pagination_last").addClass("disabled");
			}
			$(".pagination_"+page).addClass("active");
		}
	}
	
	function displayNullData@(preString)(){
		$("#@(id)_main").html("@es(nullDiv).raw()");
	}
</script>