@import(){com.cloudsoaring.web.course.constant.CourseStateConstants}
@args String linkId="",
String linkType="COURSE",
String courseId,
Integer pageSize = Integer.valueOf("10")
@{
	final String workUrl= url("/pub/course/honeworkDetail.action");
	final String homeworkUrl= url("/pub/course/gethomeworkReviewListByJson.action?courseId="+courseId+"&linkId="+linkId+"&linkType="+linkType);
	final String fileSizeLimit ="102400";
}
<style>

body{font-size:14px;line-height:180%;} /*总控制，可忽略此行*/

table tr:first-child{background:#b60005; color:#fff;font-weight:bold;} /*第一行标题蓝色背景*/

</style>
	<style>

table{border-top:1pt solid #C1DAD7;border-left:1pt solid #C1DAD7;margin: 0 auto;} 

td{
	padding: 5px 5px;
	text-align: center;
	border-right: 1pt solid #C1DAD7;
	border-bottom: 1pt solid #C1DAD7;
	text-shadow: 0px 0px #b60005;
}

tr:nth-of-type(odd){ background:#f0f9fc;} /* odd 标识奇数行，even标识偶数行 */

tr:hover{ background: #C5EAEF;} /*鼠标悬停后表格背景颜色*/
.modal-body {
    padding: 36px 20px 20px 20px;
}
    </style>
<!-- <div ng-controller="homeWorkCtrl">
	<div class="filterLable" style="padding-top:20px;">
		<ul class="clearfix" style="overflow: hidden;background-color: #e6e6e6;margin-bottom: -10px;">
			<li class="filterLableItem on" ng-click="search4PageHomeWork(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)')">@MessageUtil.getMsgAndNote("全部", "ab01011.txt.filter.all")</li>
			<li class="filterLableItem" ng-click="search4PageHomeWork(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)')">@MessageUtil.getMsgAndNote("优秀", "ab01011.txt.filter.best")</li>
		</ul>
	</div>
	<table  width="100%" border="0" cellspacing="0" cellpadding="0" align="center"  style="border-top:1pt solid #C1DAD7;border-left:1pt solid #C1DAD7;margin: 0 auto;"> 
		<tr id ="homeworkTable">
		 	<td style="width:80px;">学生姓名</td>
			<td style="width: 80px;">作业内容</td>
			<td>音频播放</td>
			<td style="width: 50px;">打分</td>
			<td style="width: 150px;">评语</td>
			<td style="width: 50px;">教师打分</td>
			<td style="width: 150px;">教师评语</td>
			<td style="width: 150px;">操作</td>
			<td>id</td>
			<td>学生姓名</td>
			<td>作业内容</td>
			<td>打分</td>
			<td>评语</td>
			<td>点赞数</td>
			<td style="width: 150px;">操作</td>
		  </tr>
		  <tr ng-repeat="item in homeWorkList">
		  	<td>{{item.id}}</td>
		  	<td>{{item.userName}}</td>
			<td>{{item.answerContent}}</td>
			<td>{{item.score}}</td>
			<td>{{item.teacherComment}}</td>
			<td>{{item.likeNum}}</td>
			<td style="width: 150px;">
			<a id="{{item.id}}" class="fa fa-pencil-square-o" onclick="editHomeWork(this.id)" iconcss="fa fa-pencil-square-o" data-content="编辑" label="编辑" title="编辑"></a>
			<a id="{{item.id}}" class="fa fa-info" onclick="viewHomeWork(this.id)" iconcss="fa fa-info" title="查看" ></a>
			<a id="{{item.id}}" class="fa fa-thumbs-o-up" onclick="likeHomeWork(this.id)" iconcss="fa fa-thumbs-o-up" title="点赞" ></a>
			<a id="{{item.id}}" class="fa fa-users" onclick="mutualEvaHomeWork(this.id)" iconcss="fa fa-users" title="互评" ></a>
			<a id="{{item.id}}" class="fa fa-user-secret" onclick="teacherEvaHomeWork(this.id)" iconcss="fa fa-user-secret" title="教师点评" ></a>
			<a id="{{item.id}}" class="iconlink-rythm fa fa-share-alt" onclick="shareHomeWork(this.id)" iconcss="fa fa-share-alt" title="分享" ></a>
			<a id="{{item.id}}" class="fa fa-external-link" onclick="quoteHomeWork(this.id)" iconcss="fa fa-external-link" title="引用" ></a>
			<a id="{{item.id}}" class="fa fa-share-alt" ng-show="item.teacher==1 && item.share!='1'" onclick="shareWork(this.id)" iconcss="fa-share-alt" title="分享" ></a>
			<a id="{{item.id}}" class="fa fa-chain-broken" ng-show="item.teacher==1 && item.share=='1'" onclick="cancleShareWork(this.id)" iconcss="fa-chain-broken" title="取消分享" ></a>
			<a id="{{item.id}}" class="fa fa-arrow-circle-o-up" ng-show="item.teacher==1 && item.top!='1'" onclick="topWork(this.id)" iconcss="fa-arrow-circle-o-up" title="置顶" ></a>
			<a id="{{item.id}}" class="fa fa-arrow-circle-o-down" ng-show="item.teacher==1 && item.top=='1'" onclick="cancleTopWork(this.id)" iconcss="fa-arrow-circle-o-down" title="取消置顶" ></a>
			<a id="{{item.id}}" class="fa fa-trash" ng-show="item.teacher==1" onclick="deleteWork(this.id)" iconcss="fa-trash" title="删除" ></a>
			
			
			
				
			</td>
		  </tr>
	</table>
</div>
@assign("home_work"){
	<div>
		<div style="position:relative;">
		</div>
	</div>
	<div style="padding:0px 0px 0px 0px;width:100%;">
		<table  width="100%" border="0" cellspacing="0" cellpadding="0" align="center"  style="border-top:1pt solid #C1DAD7;border-left:1pt solid #C1DAD7;margin: 0 auto;"> 
		 <tr id ="homeworkTable">
		 	<td style="width:80px;">学生姓名</td>
			<td style="width: 80px;">作业内容</td>
			<td>音频播放</td>
			<td style="width: 50px;">打分</td>
			<td style="width: 150px;">评语</td>
			<td style="width: 50px;">教师打分</td>
			<td style="width: 150px;">教师评语</td>
		  </tr>
		</table>
	</div>
}
 -->
<script>
function editHomeWork(id){
	 window.open('@url("/pub/course/homeWorkEdit.action")?id='+id,'_blank');	
 }
function likeHomeWork(id){
	$.ajax({ 
        url: "@url("/pub/course/likeHomeWorkById.action")?id="+id,
        method:"post",  
        bodyMsg:true,
        mask:true,
        contentType:false,  
        processData:false, 
        success: function(result){
        	if(result.status){
				noticeInfo('@MessageUtil.getMsgAndNote("点赞成功！", "ab01011.txt.oprate.write.ok")');
				window.location.reload();
			}else{
				noticeError(result.messages);
			}
        }
    });
}
function viewHomeWork(id){
	window.open('@url("/pub/course/homeWorkView.action")?id='+id,'_blank');	
}
function mutualEvaHomeWork(id){
	window.open('@url("/pub/course/homeWorkAddQuestion.action")?id='+id,'_blank');	
}
myApp.controller("homeWorkCtrl",function($scope,$http){
	//检索条件样式
	$scope.searchAllClassHomeWork = "note_search_active";
	$scope.searchBestClassHomeWork = "note_search";
	//检索第几页 
	$scope.pageNumberHomeWork = 1;
	//检索全部还是精华
	$scope.searchFlagHomeWork = '@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)';
	//笔记列表数据
	$scope.homeWorkList = [];
	//分页数据
	$scope.pageListHomeWork = [];
	//请求数据
	$http.post('@workUrl',{linkId:"@linkId",linkType:"@linkType",courseId:"@courseId",pageSize:@pageSize,pageNumberHomeWork:$scope.pageNumberHomeWork,sortName:"CREATE_DATE",sortOrder:"desc"})
	.success(function(result){
		if(result.status){
			//请求成功
			$scope.homeWorkList = result.data;
			//获取分页显示，当前页，总页数
			$scope.pageListHomeWork = getPageList(result.page,result.total);
		}else{
			noticeError(result.messages);
		}
	})
	.error(function(){
		noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
	});
	//分页检索
	$scope.search4PageHomeWork = function(num,pageType){
		if(pageType!=''){
			$scope.searchFlagHomeWork = pageType;
		}
		//请求数据
		$http.post('@workUrl',{linkId:"@linkId",linkType:"@linkType",pageSize:@pageSize,pageNumberHomeWork:num,pageType:$scope.searchFlagHomeWork,sortName:"CREATE_DATE",sortOrder:"desc"})
		.success(function(result){
			if(result.status){
				if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)'){
					$scope.searchAllClassHomeWork = "note_search_active";
					$scope.searchBestClassHomeWork = "note_search";
				}else if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)'){
					$scope.searchAllClassHomeWork = "note_search";
					$scope.searchBestClassHomeWork = "note_search_active";
				}
				//请求成功
				$scope.homeWorkList = result.data;
				//改变当前页
				$scope.pageNumberHomeWork = result.page;
				//获取分页显示，当前页，总页数
				$scope.pageListHomeWork = getPageList(result.page,result.total);
			}else{
				noticeError(result.messages);
			}
		})
		.error(function(){
			noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
		});
	};
});
	/* $(homeWorkInit()); */
	function homeWorkInit(){
		$.ajax({
			url:"@workUrl",
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){					
					var obj = result.data;										
					if(obj){	
						var titlechart="";
						var teacherComment="";
						var score="";
						var schart="";
						var mchart="";
						var isShow="hidden";
						var isHidden="visible";										
						if(obj.title){
							titlechart="gh gh-list-alt";
						}
						if(obj.teacherComment){
							teacherComment="老师评语："+obj.teacherComment;
							mchart="fa fa-comments";
						}
						if(obj.answerFileId){
							isShow="visible";
							isHidden="hidden";
						}
						if(obj.score){
							score="得分："+obj.score;
							schart="fa fa-thumbs-o-up";
						}
						//$("#header").html('@es(home_work).raw()'.replace(/%title/g,replaceNull(obj.title)).replace(/%fileId/g,replaceNull(obj.answerFileId)).replace(/%content/g,replaceNull(obj.content))
						//.replace(/%score/g,score).replace(/%teacherComment/g,teacherComment).replace(/%tchart/g,titlechart).replace(/%schart/g,schart).replace(/%mchart/g,mchart).replace(/%isShow/g,isShow)
						//.replace(/%isHidden/g,isHidden));
						//$("#header").html('@es(home_work).raw()'.replace(/%title/g,replaceNull(obj.title)));
						$.ajax({
							type:'post',
							url:"@homeworkUrl",
							dataType:"json",  
							success:function(result){
								if(result.length>0){
									var source = result[0].resultList;;
									var tbBody = "";
									for(var i=0;i<source.length;i++){
						  				/* tbBody += "<tr><td>"+source[i].userName+"</td><td>第"+source[i].audioContent+"句</td><td><audio controls='controls' src="+source[i].answerFileName+" ></audio></td> <td>"+source[i].score+"</td><td>"+source[i].teacherComment+"</td><td>"+source[i].teacherScore+"</td><td>"+source[i].teacherComments+"</td></tr>"; */
						  				tbBody += "<tr><td>"+source[i].userName+"</td><td>"+source[i].audioContent+"</td><td>"+source[i].score+"</td><td>"+source[i].teacherComment+"</td></tr>";
									}
									$("#homeworkTable").after(tbBody); 
									}
								}
							});	
					}
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
	}
	
	function downloadFile(fileId){
		window.open('@url("/pub/course/download.action")?fileId='+fileId,'_blank');	 				
	}
	
		function replaceOr(str){
    		if(str){
    			return str;
    		}
    		return "0";   
    	} 
    	
    	
    	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
		
		function save(){		
			var fileValid = $("#homework").fileinput('validate');	
			if(fileValid){  	
			var params = new FormData($('#file-formOne')[0]);
			$.ajax({ 
				url: "@url("/pub/course/upload.action?linkId=")"+"@linkId"+"&linkType="+"@linkType",
				data:params,
				type:"post", 
				contentType:false,  
		        processData:false,  
				success: function(result){
					//刷新文件上传控件
					$("#homework").fileinput('clear');
	        		$("#homework").fileinput('clearValidate');
		        	if(result.status){
						bodySuccess("上传成功");
		        		homeWorkInit();
		        	}else{
		        		closeSelfDialog();
		        		bodyError(result.messages);
		        	}		        	  
		      	}
		    });
		}
	
		} 
		//分享作业
		function shareWork(id){
			var msg = "是否分享该项作业？";
			confirm(msg,function(){
				$.ajax({ 
				    url:"@url("/pub/course/shareWork.action?")"+"id="+id,
					bodyMsg:true,
					type:"post", 
					success: function(result){
						location.reload();
				    }
				});
			});
		}
		//取消作业
		function cancleShareWork(id){
			var msg = "是否取消分享该项作业？";
			confirm(msg,function(){
				$.ajax({ 
				    url:"@url("/pub/course/cancleShareWork.action?")"+"id="+id,
					bodyMsg:true,
					type:"post", 
					success: function(result){
						location.reload();
				    }
				});
			});
		}
		//置顶作业
		function topWork(id){
			var msg = "是否置顶该项作业？";
			confirm(msg,function(){
				$.ajax({ 
				    url:"@url("/pub/course/topWork.action?")"+"id="+id,
					bodyMsg:true,
					type:"post", 
					success: function(result){
						location.reload();
				    }
				});
			});
		}
		//取消作业
		function cancleTopWork(id){
			var msg = "是否取消置顶该项作业？";
			confirm(msg,function(){
				$.ajax({ 
				    url:"@url("/pub/course/cancleTopWork.action?")"+"id="+id,
					bodyMsg:true,
					type:"post", 
					success: function(result){
						location.reload();
				    }
				});
			});
		}
		//删除作业
		function deleteWork(id){
			var msg = "是否删除该项作业？";
			confirm(msg,function(){
				$.ajax({ 
				    url:"@url("/pub/course/deleteWork.action?")"+"id="+id,
					bodyMsg:true,
					type:"post", 
					success: function(result){
						location.reload();
				    }
				});
			});
		}
</script>