@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.view.ChapterView
}
@args String linkId="",
String linkType="",
String courseName="",
ChapterView chapterView,
Object studentComment,
String courseId,
String zuoye,
Boolean isOnlyView = false
@{
	final String workUrl= url("/pub/course/homeworkTitle.action?linkId="+linkId+"&linkType="+linkType);
	final String homeWorkUrl= url("/pub/course/honeworkDetail.action");
	String contentLableTemp = MessageUtil.getMessage("提交作业");
    final String contentLable = contentLableTemp;
    final Boolean isMakerFlag = (chapterView.getIsMakerFlag())!= null && ("1").equals(chapterView.getIsMakerFlag()) ? true : false;
}
<style>
body{font-size:14px;line-height:180%;} /*总控制，可忽略此行*/
table tr:first-child{background:#b60005; color:#fff;font-weight:bold;} /*第一行标题蓝色背景*/
</style>
<style>
table{border-top:1pt solid #C1DAD7;border-left:1pt solid #C1DAD7;margin: 0 auto;} 
td{
	padding: 5px 5px;
	text-align: center;
	border-right: 1pt solid #C1DAD7;
	border-bottom: 1pt solid #C1DAD7;
	text-shadow: 0px 0px #b60005;
}
tr:nth-of-type(odd){ background:#f0f9fc;} /* odd 标识奇数行，even标识偶数行 */
tr:hover{ background: #C5EAEF;} /*鼠标悬停后表格背景颜色*/
.modal-body {
    padding: 36px 20px 20px 20px;
}
.title{
	display: block;
    line-height: 14px;
    margin-bottom: 10px;
    color: #333;
    width: 100px;
}
.desc img{
	width: 400px;
}
#header{
	background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 12px;
}
#header1{
	background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 12px;
    float: left;
     width:1200px;
}
#header2{
	background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 12px;
     width:1200px;
}
#header3{
	background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 12px;
    float: left;
    width:1200px;
}
.filterLable ul {
   /*  background-color: #FFF; */
    padding:5px;
    margin-bottom:0px;
   	/* border-bottom-style: solid;
    border-bottom-color: rgb(238,238,238); */
}

li.filterLableItem {
    /* list-style-type: none;
    display: inline;
    padding-right: 20px;
    font-size: 15px; */
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    float: left;
    font-size: 15px;
    text-align: center;
}
.filterLable ul{
    /* padding-left: 20px; */
}

.filterLableItem:hover  {
   cursor: pointer;
   color: #b60006;
   font-weight: 700;
}
.filterLableItem{
	color: #666666;
}
.filterLableItem.on{
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
    color: #b60006;
    border-radius: 10px;
    background: rgb(182, 0, 6,.1);
    font-weight: 700;
    width: 150px;
    float: left;
    text-align: center;
}
</style>
<div id="header2" >
<div id="header" >
	@assign("home_work"){
		<div>
			<div class="title" style="font-weight: 700;margin-top: 10px;float: left;">作业题目：</div>
			<div class="title" style="margin-top: 10px;float: left;width: 300px;">%title</div>
		</div>
		<div class="desc">
			<div class="title" style="font-weight: 700;">题目描述：</div>
			<div>%content</div>
			<input type="hidden" id="homeworkId" value="%id">
		</div>
		
	}		 
</div>


</div>
@if(isMakerFlag){
	<div ng-controller="homeWorkCtrl">
	<div class="filterLable" style="padding-top:10px;">
		<ul class="clearfix" style="overflow: hidden;background-color: #e6e6e6;margin-bottom: -10px;">
			<li ng-class="p2_class" ng-click="search4PageHomeWork(1,'@MessageUtil.getMessage(CourseStateConstants.OPERATE_COLLECT)')">@MessageUtil.getMsgAndNote("小组及成员作业", "ab01011.txt.filter.best")</li>
		</ul>
	</div>
	<div style="padding:0px 0px 0px 0px;width:100%;">
		<table  width="100%" border="0" cellspacing="0" cellpadding="0" align="center"  style="border-top:1pt solid #C1DAD7;border-left:1pt solid #C1DAD7;margin: 0 auto;"> 
		<tr id ="homeworkTable">
			<!-- <td>id</td> -->
			<td>学生/小组姓名</td>
			<td>提交时间</td>
			<!-- <td>打分</td>
			<td>评语</td> -->
			<td style="width: 150px;">操作</td>
		  </tr>
		  <tr ng-repeat="item in homeWorkList">
		  	<!-- <td>{{item.id}}</td> -->
		  	<td>{{item.userName}}</td>
			<td>{{item.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
			<!-- <td>{{item.score}}</td>
			<td>{{item.teacherComment}}</td> -->
			<td style="width: 150px;">
			<a id="{{item.homeworkId}}" class="fa fa-info" ng-click="viewHomeWork(item.homeworkId,item.answerUser)"  iconcss="fa fa-info" title="查看" ></a>
			<a id="{{item.id}}" class="fa fa-user-secret" ng-show="teacherFlag==1" ng-click="teacherEvaHomeWork(item.id)" iconcss="fa fa-user-secret" title="教师点评" ></a>
			<!-- <a id="{{item.id}}" class="fa fa-trash" ng-show="item.teacher==1" ng-click="deleteWork(this.id)" iconcss="fa-trash" title="删除" ></a> -->
			</td>
		  </tr>
	</table>
		<div id="tip" style="font-size: 15px;font-family: 微软雅黑;color: red;margin-top: 10px;"></div>
	</div>
	<div style="height: 100px;"></div>
</div>	
}else{
	<div id="header3"   ng-controller="noteCtrl">
		<div class="desc">
			<table id="search-result" class="table-rythm table table-hover table-striped"><thead><tr><th style="text-align: center; vertical-align: middle; min-width: 200px; "><div class="th-inner sortable" style="width: 100%;text-align: center; ">作业标题</div><div class="fht-cell"></div></th><th style="text-align: center; vertical-align: middle; min-width: 200px; "><div class="th-inner sortable" style="width: 100%;text-align: center; ">姓名</div><div class="fht-cell"></div></th><th style="text-align: center; vertical-align: middle; min-width: 50px; "><div class="th-inner sortable" style="width: 100%;text-align: center; ">提交日期<span class="order dropup"><span class="caret" style="margin: 10px 5px;"></span></span></div><div class="fht-cell"></div></th><th style="text-align: center; vertical-align: middle; min-width: 50px; "><div class="th-inner sortable" style="width: 100%;text-align: center; ">状态</div><div class="fht-cell"></div></th><th style="text-align: center; vertical-align: middle; min-width: 120px; "><div class="th-inner " style="width: 100%;text-align: center; ">操作</div><div class="fht-cell"></div></th></tr></thead><tbody ><tr data-index="0"  ng-repeat="item in noteList"><td style="text-align: left; vertical-align: middle; min-width: 200px; color: #666;">{{item.title}}</td><td style="text-align: left; vertical-align: middle; min-width: 200px; color: #666;">{{item.personName}}</td><td style="text-align: left; vertical-align: middle; min-width: 50px;color: #666; ">{{item.crDate}}</td><td style="text-align: left; vertical-align: middle; min-width: 50px; color: #666;">{{item.evStatus}}</td>
			<td style="text-align: center; vertical-align: middle; min-width: 120px; ">
			 <a id="{{item.id}}" ng-show="item.status=='2' || item.status=='1'" class="gh gh-list glyphicon" ng-click="teacherEvaHomeWork(item.status,item.answerId)"  iconcss="fa fa-user-secret" title="教师点评" ></a>
			<a id="{{item.id}}" ng-show="item.status=='3'" class="gh gh-list glyphicon" ng-click="teacherEvaHomeWork1(item.status,item.answerId)"  iconcss="fa fa-user-secret" title="查看" ></a>
			</td></tr></tbody></table>
		</div>	
		<div style="padding:30px 0px;text-align:center;">
			<span style="" ng-repeat="item in pageList">
				<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
				<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum,'')">{{item.text}}</span>
			</span>
		</div>	 
</div>
}
<!-- @form("file-form"){
<div id="header1" >
  @hidden(id:"linkId", name:"linkId", value: linkId)
  @hidden(id:"linkType", name:"linkType", value: linkType)
	@ue_image_video_zuoye(label:"提交作业", height:"300",width:"100%", value:studentComment)	 
	  @btnbox(){
	    @button_save(width:100)
    } 
</div>
} -->
<script>
	$(function(){
		$.ajax({
			url:"@workUrl",
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){					
					var obj = result.data;										
					if(obj){	
						$("#header").html('@es(home_work).raw()'.replace(/%id/g,replaceNull(obj.id)).replace(/%title/g,replaceNull(obj.title)).replace(/%content/g,replaceNull(obj.content)));
					}
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
	});
</script>
<script>
function save() {
	    var params = new FormData($('#file-form')[0]);
	    var baseInfo = $('#base-form').serializeObject();
        baseInfo.content = ueZuoye.getContent();
        baseInfo.linkId = getValue($('#linkId'));
        baseInfo.id = getValue($('#homeworkId'));
        baseInfo.linkType = getValue($('#linkType'));
        baseInfo.content = baseInfo.content.replace('data-latex=','111');
        params.append("courseJson", JSON.stringify(baseInfo));
        $.ajax({ 
            url: "@url("/pub/course/saveZyInfo.action")",
            data:params,
            method:"post",  
            bodyMsg:true,
            mask:true,
            /** 
             *必须false才会自动加上正确的Content-Type 
             */
            contentType:false,  
            /** 
             * 必须false才会避开jQuery对 formdata 的默认处理 
             * XMLHttpRequest会对 formdata 进行正确的处理 
             */  
            processData:false, 
            success: function(result){
                success("@MessageUtil.getMessage("保存成功")", function(){
                	window.location.reload();
                });
            }
        });
}
</script>
<script>
myApp.controller("homeWorkCtrl",function($scope,$http){
	//检索条件样式
	//检索第几页 
	$scope.pageNumberHomeWork = 2;
	//检索全部还是精华
	$scope.searchFlagHomeWork = '@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)';
	//笔记列表数据
	$scope.homeWorkList = [];
	//分页数据
	$scope.pageListHomeWork = [];
	//请求数据
	$http.post('@homeWorkUrl',{linkId:"@linkId",linkType:"@linkType",courseId:"@courseId",audioType:"2",pageSize:10,pageNumberHomeWork:$scope.pageNumberHomeWork,sortName:"CREATE_DATE",sortOrder:"desc"})
	.success(function(result){
		if(result.status){
			//请求成功
			$scope.homeWorkList = result.data;
			/* var msg = result.messages;
			if(msg != null && msg == "isTrue"){
				$scope.teamLeaderFlag = 1;
			}
			if(msg != null && msg == "isTeacher"){
				$scope.teacherFlag = 1;
			} */
			//获取分页显示，当前页，总页数
			$scope.pageListHomeWork = getPageList(result.page,result.total);
			$scope.p2_class="filterLableItem on";
		}else{
			noticeError(result.messages);
		}
	})
	.error(function(){
		noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
	});
	//分页检索
	$scope.search4PageHomeWork = function(num,pageType){
		if(pageType!=''){
			$scope.searchFlagHomeWork = pageType;
		}
		//请求数据
		$http.post('@homeWorkUrl',{linkId:"@linkId",linkType:"@linkType",courseId:"@courseId",audioType:pageType,pageSize:10,pageNumberHomeWork:num,pageType:$scope.searchFlagHomeWork,sortName:"CREATE_DATE",sortOrder:"desc"})
		.success(function(result){
			if(result.status){
				if(pageType=='1'){
					$scope.p1_class="filterLableItem on";
					$scope.p2_class="filterLableItem";
				}else if(pageType=='2'){
					$scope.p2_class="filterLableItem on";
					$scope.p1_class="filterLableItem";
				}
				//请求成功
				$scope.homeWorkList = result.data;
				if(msg != null && msg == "isTeacher"){
					$scope.teacherFlag = 1;
				}
				//改变当前页
				$scope.pageNumberHomeWork = result.page;
				//获取分页显示，当前页，总页数
				$scope.pageListHomeWork = getPageList(result.page,result.total);
			}else{
				noticeError(result.messages);
			}
		})
		.error(function(){
			noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
		});
	};
	$scope.viewHomeWork = function(id,answerUser){
		window.open('@url("/pub/course/studentTaskInit.action")?id='+id+'&answerUser='+answerUser,'_blank');	
	};
	$scope.teacherEvaHomeWork = function(id){
		window.open('@url("/pub/course/homeWorkById1.action")?id='+id,'_blank');	
	};
});
myApp.controller("noteCtrl",function($scope,$http){
	$scope.pageNumber = 1;
	$scope.courseId ='@courseId';
	$scope.linkId ='@linkId';
	$scope.linkType ='@linkType';
	$scope.noteList = [];
	$scope.pageList = [];
	//请求数据
	$http.post('/pblMgr/pub/course/zuoyelistByIdSearch.action',{pageSize:10,pageNumber:1,courseId:'@courseId',linkId:'@linkId',linkType:'@linkType'})
	.success(function(result){
		if(result.status){
			$scope.noteList = result.data;
			$scope.pageList = getPageList1(result.page,result.total);
		}else{
			noticeError(result.messages);
		}
	})
	.error(function(){
		noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
	});
	$scope.teacherEvaHomeWork = function(status,answerId){
		if(status == null){
    		noticeError("作业还未提交！");
    		return;
    	}
		window.open('/pblMgr/pub/course/homeWorkById.action?id='+answerId,'_self');
	}
	$scope.teacherEvaHomeWork1 = function(status,answerId){
		if(status == null){
    		noticeError("作业还未提交！");
    		return;
    	}
		window.open('/pblMgr/pub/course/viewHomeWorkById.action?id='+answerId,'_self');
	}
	//分页检索
	$scope.search4Page = function(num,pageType){
		if(pageType!=''){
			$scope.searchFlag = pageType;
		}
		//请求数据
		$http.post('/pblMgr/pub/course/zuoyelistByIdSearch.action',{pageSize:10,pageNumber:num,courseId:'@courseId',linkId:'@linkId',linkType:'@linkType'})
		.success(function(result){
			if(result.status){
				if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)'){
					$scope.searchAllClass = "note_search_active";
					$scope.searchBestClass = "note_search";
				}else if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)'){
					$scope.searchAllClass = "note_search";
					$scope.searchBestClass = "note_search_active";
				}
				//请求成功
				$scope.noteList = result.data;
				//改变当前页
				$scope.pageNumber = result.page;
				//获取分页显示，当前页，总页数
				$scope.pageList = getPageList1(result.page,result.total);
			}else{
				noticeError(result.messages);
			}
		})
		.error(function(){
			noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
		});
	};
}); 
function teacherEvaHomeWork(row){
	if(row.status == null){
		noticeError(row.personName+"作业还未提交！");
		return;
	}
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/insertUserOper.action',
		dataType:"json",
		data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"作业，教师点评",operSite:"pblMgr/course/manager/chapter_list.html"},
		success:function(result){
		}
	});	
	window.location.href="@url("/pub/course/homeWorkById.action?id=")"+row.answerId;
}
//获取分页显示ITEM
function getPageList1(page,total){
	var pageList = new Array();
	if(total <= 0){
		//不显示分页
		var pageList = [];
		return pageList;
	}
	//总数>pageSize
	//首页和上一页
	if(page<=1){
		pageList.push({text:"首页",css:"page_li_disabled",clickNum:1});
		pageList.push({text:"上一页",css:"page_li_disabled",clickNum:(page-1)});
	}else{
		pageList.push({text:"首页",css:"page_li_normal",clickNum:1});
		pageList.push({text:"上一页",css:"page_li_normal",clickNum:(page-1)});
	}
	//中间数字
	for(var i=1;i<=total;i++){
		if(total > 10){
			if(page < 10){
				if(i<=10){
					var css = "page_li_normal";
					if(page == i){
						css = "page_li_active";
					}
					pageList.push({text:""+i,css:css,clickNum:i});
				}
			}else if(page >= 10 && page<(total-5)){
				if(i>(page-5) && i<=(page+5)){
					var css = "page_li_normal";
					if(page == i){
						css = "page_li_active";
					}
					pageList.push({text:""+i,css:css,clickNum:i});
				}
			}else if(page>=(total-5)){
				if(i>(total-10)){
					var css = "page_li_normal";
					if(page == i){
						css = "page_li_active";
					}
					pageList.push({text:""+i,css:css,clickNum:i});
				}
			}
			
		}else{
			var css = "page_li_normal";
			if(page == i){
				css = "page_li_active";
			}
			pageList.push({text:""+i,css:css,clickNum:i});
		}
	}
	//尾页和下一页
	if(page>=total){
		pageList.push({text:"下一页",css:"page_li_disabled",clickNum:(page+1)});
		pageList.push({text:"尾页",css:"page_li_disabled",clickNum:page});
	}else{
		pageList.push({text:"下一页",css:"page_li_normal",clickNum:(page+1)});
		pageList.push({text:"尾页",css:"page_li_normal",clickNum:total});
	}
	return pageList;
}
</script>