@args Integer pageSize = 20,
String url = "",
String id = "list",
String nullDateLabel="暂无数据",
String getParamsFunction

@assign("item_render_body"){
	@renderBody().raw()
}

@{
	String surl = url;
	String preString = new Date().getTime() + "";
	String itemContent = StringUtil.matchAll(item_render_body, "<!--%rythm-item-content([\\s\\S]*?)tnetnoc-meti-mhtyr%-->");
	String renderItemFunction = StringUtil.matchAll(item_render_body, "<!--%rythm-item-render([\\s\\S]*?)redner-meti-mhtyr%-->");
	String itemSort = StringUtil.matchAll(item_render_body, "<!--%rythm-item-sort([\\s\\S]*?)tros-meti-mhtyr%-->");
}



<style>

.pagination{
	padding:0;
}

.listMainChapter {
    background-color: #f3f5f7;
}


.filterLable ul {
   	background-color: #e6e6e6;
    padding: 5px;
    margin-bottom: 0px;
    border-bottom-color: rgb(248, 250, 252);
}

li.filterLableItem {
    /* list-style-type: none;
    display: inline;
    padding-right: 20px; */
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 65px;
    float: left;
    font-size: 15px;
}
.filterLable ul{
    padding-left: 20px;
}

.filterLable ul li:hover{
	cursor:pointer;
	color: #b60005;
	font-weight: 700;
}

.filterLableItem{
	color: rgb(102,102,102);
}
.filterLableItem.on{
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
    color: #b60005;
    border-radius: 10px;
    background: rgb(182, 0, 5,.1);
    font-weight: 700;
    width: 65px;
    float: left;
   text-align: center;
}
.list_item:hover{
	box-shadow:5px 5px 5px #999999;
}

</style>


@assign("list_item"){
	<div class="course-description course-wrap" style="padding-bottom: 20px;">
		<div>
				@itemContent.raw()
		</div>
		<div class="clearfix"></div>
	</div>
}

@assign("list_item_blank"){
	<div style="float: left;  width:1.5%">
		<span>　</span>
		<div class="clearfix"></div>
	</div>
}

@assign("pagination_nav"){
	<nav style="text-align:center;background-color:#fff;margin-top:10px;">
		<ul class="pagination" id="@(id)paginationDiv_li">
			%paginatioContent			
		</ul>
	</nav>
}

@assign("nullDiv"){
	<div style="width: 100%;
    height: 130px;
    padding: 10px 20px;">
		<span>@nullDateLabel</span>
	</div>

}
<div id="@(id)">
	@if(StringUtil.isNotEmpty(itemSort)){
		<div id="@(id)tools" style="margin-top: 20px;">
			<div class="filterLable" style="background: rgb(248, 250, 252);box-shadow: rgba(7, 17, 27, 0) 0px 8px 16px 0px;">
				<ul class="clearfix" style="overflow: hidden;background-color: #e6e6e6;">
				</ul>
			</div>
		</div>
	}
	<div id="@(id)_main" class="listMainChapter">
		
	</div>	
	
	<!-- 分页 -->
	<div id="@(id)paginationDiv">
		
	</div>
	@hidden(name:"pageSize", value:pageSize)
	@hidden(name:"pageNumber", value:"1")
</div>
<script>
$(function(){	
	
	@(id)initfilterLable();
	//检索
	searchList@(preString)(@pageSize,1);
	
	$('.filterLable .filterLableItem').click(function(event){
		$(".filterLable .on").removeClass("on");
		$(this).addClass("on");
		@(id)Reflash();
	})
});
	
	function @(id)initfilterLable(){
		var itemSort = @if(StringUtil.isNotEmpty(itemSort)) {@itemSort.raw()} else{""};
		var itemHtmls = "";
		if(itemSort){
			$(itemSort).each(function(index){
				var item = "<li class=\"filterLableItem %on\" data-filterkey=\"%filterKey\" data-filtervalue=\"%filterValue\" >%label</li>"
				var obj = this;
				if(obj.on){
					item = item.replace(/%on/g, "on");
				} else {
					item = item.replace(/%on/g, "");
				}
				itemHtmls += item
							.replace(/%filterKey/g, obj.filterKey)
							.replace(/%filterValue/g, obj.filterValue)
							.replace(/%label/g, obj.label);
			});
			$("#@(id)tools ul").html(itemHtmls);
		}
	}

	function @(id)Reflash(){
		searchList@(preString)();
		setValueAny("pageSize", '@pageSize');
		setValueAny("pageNumber", 1);
	}
// 生成表格,外界可以调用
	function searchList@(preString)(pageSize,pageNumber){
		if(!pageSize) {
			pageSize = getValueAny("pageSize");
			pageNumber = getValueAny("pageNumber");
		} else {
			setValueAny("pageSize", pageSize);
			setValueAny("pageNumber", pageNumber);
		}
		@if(StringUtil.isEmpty(getParamsFunction)){
			var data = new Object;
		} else {
			var data = @(getParamsFunction)();
		}
		$.extend(data,{pageNumber:pageNumber,pageSize:pageSize});
		var filterKey = $(".filterLable .on").data("filterkey");
		var filterValue = $(".filterLable .on").data("filtervalue");
		var fileInfo = new Object;
		fileInfo[filterKey] = filterValue;
		$.extend(data,fileInfo);
		//检索课程列表
		$.ajax({
			url:"@url(surl)",
			data: data,
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					if(!objs || objs.length == 0){
						displayNullData@(preString)();
						initPagination@(preString)("@(id)paginationDiv",0,1, @pageSize)
						return;
					}
					var itemNum = objs.length;
					
					var str = '';
					if(objs != null) {
						$(objs).each(function(index){
							var obj = objs[index];
							if(obj) {
								var lineContent = @(renderItemFunction.raw())("@es(list_item).raw()",obj);
								str += lineContent;
							}
						});
					}
					if(str != ""){
						$("#@(id)_main").html(str+"<div class=\"clearfix\"></div>");
					} else {
						displayNullData@(preString)();
					}
					initPagination@(preString)("@(id)paginationDiv",result.total,result.page, @pageSize)	
				}
			}
		});
	}
	

	function initPagination@(preString)(paginationId, total, page, pageSize){
		var totalPage = total;
		$("#" + paginationId).html("");
		if(totalPage > 1){
			var str = '';
			if(page == 1){
				str += '<li><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
			}else{
				str += '<li><a href="javascript:searchList@(preString)('+pageSize+','+(page-1)+');" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
			}
			for(var i=1;i<=totalPage;i++){
				str = str +'<li><a href="javascript:searchList@(preString)('+pageSize+','+i+')">'+i+'</a></li>';
			}
			if(page == totalPage){
				str += '<li><a aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>';
			}else{
				str += '<li><a href="javascript:searchList@(preString)('+pageSize+','+(page+1)+')" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>';
			}
			
			
			str = "@es(pagination_nav).raw()".replace(/%paginatioContent/g, str)
			
			$("#"+ paginationId).html(str);
			if(page == 1){
				$("#"+paginationId+"_li li:eq(0)").addClass("disabled");
			}
			if(page == totalPage){
				$("#"+paginationId+"_li li:eq("+(totalPage+1)+")").addClass("disabled");
			}
			$("#"+paginationId+"_li li:eq("+(page)+")").addClass("active");
		}
	}
	
	function displayNullData@(preString)(){
		$("#@(id)_main").html("@es(nullDiv).raw()");
	}
</script>