@args String tutorInstId = "",String title = "",String activeFunc = ""


<div style="padding:30px;" id="div_maker_comment">
	<div style="font-size:16px;color:#000000;">我的点评</div>
	<div style="height:60px;font-size:14px;color:#333333;background-color:#cccccc;margin-top:20px;text-indent:2em;line-height:60px;">对老师进行点评（30-300字）</div>
	<div>
		<textarea id="input_makerComment" style="width:100%;height:200px;padding:30px;outline:none;border-color:#cccccc;font-size:18px;color:#666666;"></textarea>
	</div>
	<div style="">
		<button class="btn btn-normal" id="submitMakerComment" onclick="submitMakerComment()" style="float:right;">提交</button>
	</div>
</div>
<script>
	//提交点评
	function submitMakerComment(){
		var content = $("#input_makerComment").val();
		if(content==''){
			noticeError("点评内容不能为空！");
		}else{
			$.ajax({
				url:"@url("/client/tutor/userDiscuss.action")",
				data:{tutorInstId:"@tutorInstId",title:"@title",content:content},
				type:"post", 
				bodyMsg:true,
				mask:false,
				success:function(result){
					noticeInfo("提交成功！");
					$("#div_maker_comment").hide();
					//提交成功后调用的方法
					@if(!activeFunc.equals("")){
						@(activeFunc)();
					}
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		}
	}
</script>