@import(){com.cloudsoaring.web.course.view.CourseView,com.cloudsoaring.web.course.common.utils.CommonUtils,java.math.BigDecimal,com.cloudsoaring.web.course.constant.CourseStateConstants,com.cloudsoaring.web.course.constant.*,com.cloudsoaring.web.course.view.ChapterView,com.cloudsoaring.web.course.entity.CourseEntity}
@args String id = "myPlay",
Integer width = 0,
Integer height= 0,
String preload = "none",
String dataSetup = "",
Boolean autoPlay = true,
String videoStyle = "",
String srcMp4 = "",
String srcWebm = "",
String srcOgg = "",
Boolean visible = true,
Integer progress = 0,
String preImg = "",
Boolean showChapter = true,
Boolean showNote = true,
Boolean showQuestion = true,
CourseView courseView,
List<ChapterView> chapterList,
String currentChapterId = "",
Boolean showMenu = true,
String videoEndedFunc = "",
String videoPaseFunc = "",
String videoStartFunc = "",
String videoLength = "0",
Boolean autoNext = true,
String linkId = "",
String linkType = "",
String courseOrChapterTitle = "",
Boolean isTeacher = false

@if(visible){

	@{
		final Boolean showPreImg = (preImg!=null && !preImg.equals("")) ? true : false;
		final Boolean showMp4 = (srcMp4!=null && !srcMp4.equals("")) ? true : false;
		final Boolean showWebm = (srcWebm!=null && !srcWebm.equals("")) ? true : false;
		final Boolean showOgg = (srcOgg!=null && !srcOgg.equals("")) ? true : false;
	}
	
<div id="mainDiv" style="width:100%;height:100%;position:relative;background-color:#000000;overflow:hidden;">
	<div id="uploadVideo" style="float:left;text-align:center;@if(showMp4 || showWebm || showOgg || !isTeacher){display:none;}">
		<div style="width:700px;height:50px;margin-left:auto;margin-right:auto;margin-top:300px;">
			<div style="width:600px;height:50px;float:left;">
				<input type="file" style="display:none;" id="uploadVideoFile" name="uploadVideoFile" onchange="fileChange()"/>
				<span class="gh gh-plus" style="cursor:pointer;font-size:30px;color:#ffffff;width:30px;height:30px;" onclick="clickFile()"></span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="@url("/js/$.ajaxfileupload.js")"></script>
	<script>
		//点击新增图标
		function clickFile(){
			$("#uploadVideoFile").click();
		}
		//选择文件后上传文件
		function fileChange(){
			$.$.ajaxFileUpload({
				url:"@url("/pub/chapter/uploadVideo.action")",
				fileElementId:"uploadVideoFile",
				dataType:"text",
				data:{linkId:"@linkId",linkType:"@linkType",inputName:"uploadVideoFile"},
				type:"post",
				success:function(result){
					var obj = eval("("+result+")");
					if(obj.status){
						//上传成功，刷新页面
						noticeInfo("上传成功！");
						window.location.reload();//刷新当前页面
					}else{
						noticeError(obj.messages);
					}
				},
				error:function(){
					noticeError("系统繁忙，请稍后再试！");
				}
			});
		}
	</script>
	

	<video id="@id" class="video-js vjs-default-skin vjs-big-play-centered" controls
		preload="@preload"
		@if(showPreImg){poster="@url(preImg)"}
		data-setup='{"example_option":true}' style="@if(!showMp4 && !showWebm && !showOgg && isTeacher){display:none;}float:left;@if(!visible){display:none;} @if(videoStyle!=null&&!videoStyle.equals("")){@videoStyle}">
		@if(showMp4){
		<source src="@url(srcMp4)"
			type='video/mp4' />
		}
		@if(showWebm){
		<source src="@url(srcWebm)"
			type='video/webm' />
		}
		@if(showOgg){
		<source src="@url(srcOgg)"
			type='video/ogg' />
		}
		
	</video>
@if(showMenu){
	<div id="videoHelp" style="position:absolute;right:-350px;width:400px;z-index:999;overflow:hidden;">
		<div style="width:50px;text-align:center;float:left;">
			<ul style="list-style:none;padding:0;margin:0;margin-top:300px;">
			@if(showChapter){
				<li class="help_li" style="width:50px;height:50px;background-color:#666666;padding:5px;cursor:pointer;">
					<i class="fa fa-th-list" style="color:#ffffff;"></i><br/>
					<span style="color:#ffffff;font-size:12px;">@MessageUtil.getMessage(CourseMsgNames.TXT_CHAPTER)</span>
				</li>
			}
			@if(showNote){
				<li id="add_note" class="help_li" style="width:50px;height:50px;background-color:#666666;padding:5px;margin-top:2px;cursor:pointer;">
					<i class="fa fa-edit" style="color:#ffffff;"></i><br/>
					<span style="color:#ffffff;font-size:12px;">@MessageUtil.getMessage(CourseMsgNames.TXT_NOTE)</span>
				</li>
			}
			@if(showQuestion){
				<li id="add_question" class="help_li" style="width:50px;height:50px;background-color:#666666;padding:5px;margin-top:2px;cursor:pointer;">
					<i class="fa fa-question-circle" style="color:#ffffff;"></i><br/>
					<span style="color:#ffffff;font-size:12px;">@MessageUtil.getMessage(CourseMsgNames.TXT_QUESTION)</span>
				</li>
			}
			</ul>
		</div>
		@if(showChapter){
		<div id="chapterList" style="width:350px;margin-top:0;float:left;overflow:auto;background-color:#14191E;">
			<ul style="list-style-type:none;padding:10px;margin-top:10px;margin-bottom:50px;">
			@if(courseView!=null){
				<li class="chapter_detail_list_course_title">@courseView.getTitle()</li>
			}
			@if(chapterList!=null&&chapterList.size()>0){
				@for(ChapterView item : chapterList){
					@if(((item.getChapterFlag()).toString()).equals(CourseStateConstants.BIG_CHAPTER)){
						<!-- 一级大章节 -->
						<li class="chapter_detail_list_chapter_title">@item.getTitle()</li>
						<!-- 二级小章节 -->
						@for(ChapterView subItem : chapterList){
							@if(((subItem.getChapterFlag()).toString()).equals(CourseStateConstants.SMALL_CHAPTER) && (subItem.getParentId() != null)&&  && (subItem.getParentId()).equals(item.getId())){
								<li class="chapter_detail_list_chapter_sub_title_active" onclick="clickChapter('@item.getId()')">
								@if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_EXAM)){
									<i class="fa fa-edit"></i>
								}else if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_MEASUERMENT)){
									<i class="fa fa-align-right"></i>
								}else if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){
									<i class="fa fa-play"></i>
								}else{
									<i class="fa fa-image"></i>
								}
								<span class="chapter_detail_list_chapter_sub_title_span">@subItem.getTitle()&nbsp;&nbsp;@if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){@CommonUtils.formatSeconds((subItem.getVideoLength()).toString())}</span>
								@if(currentChapterId.equals(subItem.getId())){
									<span class="chapter_detail_list_chapter_sub_title_right_text">@MessageUtil.getMessage(CourseMsgNames.TXT_STUDY_NOW)&nbsp;&nbsp;<i class="gh gh-time"></i></span></li>
								}else{
									@if((subItem.getStudyProgress()) == null || ((subItem.getStudyProgress()).compareTo(new BigDecimal("0"))) == 0){
										<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle-o"></i></span></li>
									}else if(((subItem.getStudyProgress()).compareTo(new BigDecimal("100"))) == 0){
										<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle"></i></span></li>
									}else{
										<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="gh gh-adjust"></i></span></li>
									}
								}
								<!-- 三级 子章节 -->
								@for(ChapterView threeItem : chapterList){
									@if(((threeItem.getChapterFlag()).toString()).equals(CourseStateConstants.THREE_CHAPTER) && (threeItem.getParentId()).equals(subItem.getId())){
										<li class="chapter_detail_list_chapter_three_title_active" onclick="clickChapter('@item.getId()')">
										@if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_EXAM)){
											<i class="fa fa-edit"></i>
										}else if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_MEASUERMENT)){
											<i class="fa fa-align-right"></i>
										}else if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){
											<i class="fa fa-play"></i>
										}else{
											<i class="fa fa-image"></i>
										}
										<span class="chapter_detail_list_chapter_sub_title_span">@threeItem.getTitle()&nbsp;&nbsp;@if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){@CommonUtils.formatSeconds((threeItem.getVideoLength()).toString())}</span>
										@if(currentChapterId.equals(threeItem.getId())){
											<span class="chapter_detail_list_chapter_sub_title_right_text">@MessageUtil.getMessage(CourseMsgNames.TXT_STUDY_NOW)&nbsp;&nbsp;<i class="gh gh-time"></i></span></li>
										}else{
											@if((threeItem.getStudyProgress()) == null || ((threeItem.getStudyProgress()).compareTo(new BigDecimal("0"))) == 0){
												<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle-o"></i></span></li>
											}else if(((threeItem.getStudyProgress()).compareTo(new BigDecimal("100"))) == 0){
												<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle" style="color:#00b33b"></i></span></li>
											}else{
												<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="gh gh-adjust" style="color:#00b33b"></i></span></li>
											}
										}
									}
								}
							}
						}
					}
				}
			}
			</ul>
		</div>
		}
	</div>
	<!-- 显示下一节或重新播放 -->
	@if(autoNext){
		@{
			Boolean hasNext = true;
			ChapterView nextChapter = null;
			if(chapterList!=null&&chapterList.size()>0){
				for(int i=0;i < chapterList.size() ;i++){
					ChapterView cv = chapterList.get(i);
					if((cv.getId()).equals(currentChapterId)){
						if(i < chapterList.size()-1){
							nextChapter = chapterList.get(i+1);
						}else{
							hasNext = false;
						}
					}
				}
			}
		}
		<div id="showNext" style="background-color:#000000;position:absolute;left:0;top:0;z-index:99;display:none;">
			<div id="div_next" style="width:400px;height:200px;position:absolute;text-align:center;">
				@if(hasNext&&nextChapter!=null){
					<div style="color:#ffffff;font-size:14px;">
					下一节课程：@nextChapter.getTitle() (@CommonUtils.formatSeconds((nextChapter.getVideoLength()).toString()))
					</div>
					<div style="margin-top:30px;"><button style="width:150px;" class="btn btn-normal" onclick="clickChapter('@nextChapter.getId()')">下一节</button></div>
				}
				
				<div class="video_refresh" onclick="refreshChpater('@currentChapterId')">
					<span class="fa fa-refresh" style="margin-right:10px;"></span>重新观看
				</div>
			</div>
		</div>
	}
	
}
</div>
<div class="clear-fix"></div>
@if(showNote){
	<div id="div_add_note_modal" class="modal fade bs-example-modal-lg" style="margin-top:300px;">
	  <div class="modal-dialog modal-lg" style="height:400px;width:700px;">
	    <div class="modal-content" style="background-color:#ffffff;">
	      <div style="padding:20px 30px;">
	      	<div style="font-size:16px;color:#000000;">
	      		<span>笔记</span>
	      		<span class="gh gh-remove" style="float:right;cursor:pointer;" onclick="closeNote()"></span>
	      	</div>
	      	<div class="grave_line" style="height:1px;margin-top:10px;margin-bottom:20px;"></div>
	      	<div>
	      		<textarea id="note_data" rows="6" cols="" style="width:100%;" placeholder="请输入笔记内容"></textarea>
	      	</div>
	      	<div style="text-align:right;padding:5px 0;">
	      		<span><span id="strlength">0</span>/1000</span>
	      	</div>
	      	<div style="margin-top:20px;margin-bottom:20px;width:100%;height:30px;line-height:30px;">
	      		<div style="width:100px;height:28px;line-height:28px;float:left;">
	      			<span style="float:left;">截屏&nbsp;&nbsp;</span>
	      			<div class="switch" style="width:50px;float:left;">
				    	<input id="on_off_screen" class="switch-rythm" name="on_off_screen" type="checkbox" data-on="oon" data-on-label="开启" data-off-label="关闭" data-off="ooff" value="" onclick="changeScreen()">
					</div>
	      		</div>
	      		<button id="btn_save_note_data" class="btn btn-normal" style="float:right;margin-right:0;">保存</button>
	      	</div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}

@if(showQuestion){
	<div id="div_add_question_modal" class="modal fade bs-example-modal-lg" style="margin-top:250px;">
	  <div class="modal-dialog modal-lg" style="height:460px;width:700px;">
	    <div class="modal-content" style="background-color:#ffffff;height:100%;">
	      <div style="padding:20px 30px;">
	      	<div style="font-size:16px;color:#000000;">
	      		<span>提问</span>
	      		<span class="gh gh-remove" style="float:right;cursor:pointer;" onclick="closeQuestion()"></span>
	      	</div>
	      	<div class="grave_line" style="height:1px;margin-top:10px;margin-bottom:20px;"></div>
	      	<div style="margin-bottom:20px;">
	      		<input id="question_title" style="width:100%;height:30px;font-size:14px;line-height:30px;padding-bottom:0;" value="" placeholder="请输入问题标题">
	      	</div>
	      	
	      	<div style="margin-left:-15px;">
	      		@ue_image_video(label:"",height:"10px",width:"640", value:"")
	      	</div>
	      	<div style="margin-top:20px;margin-bottom:20px;width:100%;height:30px;line-height:30px;">
	      		<button id="btn_save_question_data" class="btn btn-normal" style="float:right;margin-right:0;">保存</button>
	      	</div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}
	<script>
		var myPlay = videojs("@id");
		$(function(){
			var startTime = new Date().getTime();
			//窗口发生变化
			window.onresize=windowResize;
			var screenWidth = @width;
			var sHeight = screenWidth*9/16-300;
			@if(width==null||width==0){
				screenWidth = document.body.clientWidth;
				sHeight = screenWidth*9/16-300;
			}
			//设置宽度
			myPlay.width(screenWidth);
			myPlay.height(sHeight);
			$("#uploadVideo").css("width",screenWidth).css("height",sHeight);
			@if(showMenu)
				$("#videoHelp").css("height",(sHeight-30)+"px");
				$("#chapterList").css("height",sHeight+"px");
			}
			$("#mainDiv").css("width",screenWidth+"px");
			$("#mainDiv").css("height",sHeight+"px");
			
			//判断当前进度
			@if(progress!=null && progress > 0){
				myPlay.currentTime(@progress);
			}
			//判断是否自动播放
			@if(autoPlay){
				myPlay.play();
			}
			@if(showMenu){
				//助手工具处理
				$(".help_li").each(function(index){
					//章节、笔记、提问鼠标滑过样式
					$(".help_li:eq("+index+")").hover(function(){
						$(".help_li:eq("+index+")").css("background-color","#F01400");
					},function(){
						if($(".help_li:eq("+index+")").hasClass("li_active")){
						
						}else{
							$(".help_li:eq("+index+")").css("background-color","#666666");
						}
					});
				});
				@if(showChapter){
					//章节点击事件
					$(".help_li:eq(0)").click(function(){
						if($(".help_li:eq(0)").hasClass("li_active")){
							//章节列表隐藏，章节样式改变
							$(".help_li:eq(0)").css("background-color","#666666");
							//列表隐藏
							myPlay.width(screenWidth);
							$("#videoHelp").animate({right:'-350px'},500);
							$(".help_li:eq(0)").removeClass("li_active");
							@if(autoNext){
								$("#div_next").css("left",(screenWidth/2-200)+"px");
								$("#showNext").css("width",screenWidth+"px");
							}
						}else{
							$(".help_li:eq(0)").css("background-color","#F01400");
							//列表显示
							myPlay.width(screenWidth-350);
							$("#videoHelp").animate({right:'0px'},500);
							$(".help_li:eq(0)").addClass("li_active");
							@if(autoNext){
								$("#div_next").css("left",((screenWidth-350)/2-200)+"px");
								$("#showNext").css("width",(screenWidth-350)+"px");
							}
						}
					});
				}
				//笔记点击事件
				@if(showNote){
					$("#on_off_screen").bootstrapSwitch();
					$("#add_note").click(function(){
						//视频播放暂停
						myPlay.pause();
						//弹出笔记框
						$("#div_add_note_modal").modal({});
						$("#div_add_note_modal").modal('show'); 
					});
					//截屏是否开启事件
					$('#on_off_screen').on('switch-change', function (e, data) {
					    var value = data.value;
					    if(value){
					    	//开启截屏
					    	$("#on_off_screen").val(myPlay.currentTime());
					    }else{
					    	$("#on_off_screen").val("");
					    }
					});
					//文本域值改变事件
					$("#note_data").on("input",function(){
						var str = $("#note_data").val();
						if(str.length > 1000){
							noticeError("最多输入1000个字符！");
							str = str.substr(0,1000);
							$("#note_data").val(str);
						}
						$("#strlength").text(str.length);
					});
					//保存按钮点击事件
					$("#btn_save_note_data").click(function(){
						var content = $("#note_data").val();
						if(content==null || content==''){
							noticeError("笔记内容不允许为空！");
							return ;
						}
						//获取提交数据
						var param = {linkId:"@linkId",linkType:"@linkType",title:"@courseOrChapterTitle",content:content};
						if($("#on_off_screen").val()!=null&&$("#on_off_screen").val()!=''){
							param = {linkId:"@linkId",linkType:"@linkType",title:"@courseOrChapterTitle",content:content,screenshotTime:$("#on_off_screen").val()};
						}
						//发送请求
						$.ajax({
							url: "@url("/pub/note/saveNoteData.action")",
							data:param,
							type:"post", 
							bodyMsg:true,
							mask:false,
							success: function(result){
							 	//保存成功
							 	noticeInfo("保存成功！");
							 	//清空数据
							 	$("#on_off_screen").bootstrapSwitch('setState', false);
							 	$("#note_data").val("");
							 	$("#strlength").text("0");
							 	//关闭遮罩
							 	closeNote();
					      	},
					      	fail:function(result){
					      		noticeError(result.messages);
					      	}
						});
					});
				}
				
				@if(showQuestion){
					//点击提问助手工具
					$("#add_question").click(function(){
						//视频播放暂停
						myPlay.pause();
						//弹出笔记框
						$("#div_add_question_modal").modal({});
						$("#div_add_question_modal").modal('show'); 
					});
					//问题标题字数限制
					$("#question_title").on("input",function(){
						var str = $("#question_title").val();
						if(str.length > 100){
							noticeError("标题不能超过100个字符！");
							$("#question_title").val(str.substr(0,100));
						}
					});
					//点击保存按钮
					$("#btn_save_question_data").click(function(){
						var title = $("#question_title").val();
						if(title==null||title==''){
							noticeError("标题不能为空！");
							return ;
						}
						var content = ue.getContent();
						if(content==null||content==''){
							noticeError("问题内容不能为空！");
							return ;
						}
						$.ajax({
							url: "@url("/pub/faq/publishQuestion.action")",
							data:{linkId:"@linkId",linkType:"@linkType",title:title,content:content},
							type:"post", 
							bodyMsg:true,
							mask:false,
							success:function(result){
								noticeInfo("保存成功！");
								//清空
								$("#question_title").val("");
								ue.setContent("");
								//关闭遮罩
								closeQuestion();
							},
							fail:function(result){
								noticeError(result.messages);
							}
						});
					});
				}
			}
			windowResize();
			//播放结束点击事件
			myPlay.on('ended',function(){
				@if(StringUtil.isEmpty(videoEndedFunc)){
					//播放结束更新用户章节信息
					$.ajax({
						url: "@url("/pub/chapter/updateChapterStudy.action")",
						data:{"chapterId":"@currentChapterId","progress":"100"},
						type:"post", 
						bodyMsg:true,
						mask:false,
						success: function(result){
						 	//更新成功
				      	}
					});
					$("#showNext").show();
				}else{
					@(videoEndedFunc)();
				}
			});
			// 检测播放时间
			/* myPlay.on('timeupdate', function () {  
			  //$(".vjs-remaining-time-display").text(myPlay.currentTime());
			  var t1 = formatSeconds(myPlay.currentTime()+"");
			  var t2 = formatSeconds('@videoLength');
			  $(".vjs-remaining-time-display").text(t1+"/"+t2);
			}); 
			 */
			// 开始或恢复播放
			myPlay.on('play', function() {  
			  @if(StringUtil.isNotEmpty(videoStartFunc)){
			  	@(videoStartFunc)();
			  }
			});
			
			// 暂停播放
			myPlay.on('pause', function() {  
				@if(StringUtil.isEmpty(videoPaseFunc)){
					var videoTime = myPlay.currentTime();
				  	var costTime = (new Date().getTime() - startTime)/1000;
				   	//更新用户章节视频时间点
					$.ajax({
						url: "@url("/pub/chapter/updateChapterLastVideoTime.action")",
						data:{"chapterId":"@currentChapterId","time":videoTime+""},
						type:"post", 
						bodyMsg:true,
						mask:false,
						success: function(result){
				        	 //更新成功
				      	}
					});
					//更新用户学习章节耗费的时间
					$.ajax({
						url: "@url("/pub/chapter/updateChapterTimeCost.action")",
						data:{"chapterId":"@currentChapterId","time":costTime+""},
						type:"post", 
						bodyMsg:true,
						mask:false,
						success: function(result){
				        	 //更新成功
				      	}
					});
				}else{
					@(videoPaseFunc)();
				}
			}); 
			
		});
		
		//窗口大小改变
		function windowResize(){
			var screenWidth = @width;
			var sHeight = screenWidth*9/16-300;
			@if(width==null||width==0){
				screenWidth = document.body.clientWidth;
				sHeight = screenWidth*9/16-300;
			}
			//设置宽度
			myPlay.width(screenWidth);
			myPlay.height(sHeight);
			$("#uploadVideo").css("width",screenWidth).css("height",sHeight);
			@if(showMenu){
				$("#videoHelp").css("height",(sHeight-30)+"px");
				$("#chapterList").css("height",sHeight+"px");
				@if(autoNext){
					$("#div_next").css("top",(sHeight/2-100)+"px");
					$("#div_next").css("left",(screenWidth/2-200)+"px");
					$("#showNext").css("height",sHeight+"px");
					$("#showNext").css("width",screenWidth+"px");
				}
			}
			$("#mainDiv").css("width",screenWidth+"px");
			$("#mainDiv").css("height",sHeight+"px");
		}
		
		//点击章节
		function clickChapter(id){
			 window.open("@url("/pub/chapter/toChapterDetail.action")"+"?courseId=@courseView.getId()"+"&chapterId="+id,"_self");
		}
		
		//将秒数转为时分秒
		function formatSeconds(ss){
			ss = new String(ss);
			if(ss.indexOf(".")!=-1){
				ss = ss.substring(0, ss.indexOf("."));
			}
			var sss = parseInt(ss);
			var h = Math.floor(sss/3600);
			var m = Math.floor((sss-h*3600)/60);
			var s = Math.floor((sss-h*3600)%60);
			var str = "";
			if(h<10){
				str += "0"+h+":";
			}else{
				str += h+":";
			}
			if(m<10){
				str += "0"+m+":";
			}else{
				str += m+":";
			}
			if(s<10){
				str += "0"+s;
			}else{
				str += m+"";
			}
			return str;
		}
		
		//重新观看
		function refreshChpater(id){
			//更新用户章节视频时间点
			$.ajax({
				url: "@url("/pub/chapter/updateChapterLastVideoTime.action")",
				data:{"chapterId":"@currentChapterId","time":"0"},
				type:"post", 
				bodyMsg:true,
				mask:false,
				success: function(result){
		        	clickChapter(id);
		      	}
			});
		}
		
		@if(showNote){
			//弹出框关闭
			function closeNote(){
				$("#div_add_note_modal").modal("hide");
				myPlay.play();
			}
		}
		
		@if(showQuestion){
			//提问弹出框关闭
			function closeQuestion(){
				$("#div_add_question_modal").modal("hide");
				myPlay.play();
			}
		}
		
	</script>
}