@import(){com.cloudsoaring.web.course.constant.CourseStateConstants}
@args String url ="",
String linkId = "",
String linkType = "",
Boolean visible = true,
String title = "",
Integer pageSize = Integer.valueOf("5")

@{
	final String surl = url(url);
	final String deleteUrl = url("/pub/note/deleteNoteDataById.action")
}

@if(visible){
	<div ng-controller="noteCtrl">
	@if(linkType.equals(CourseStateConstants.LINK_TYPE_CHAPTER)){
		<div style="text-align:center;">
			<input style="width:100%;height:42px;background-color:#EEEEEE;border:1px #999999 solid;outline:medium;padding:10px;" placeholder="@MessageUtil.getMsgAndNote("请输入笔记内容", "ab01011.txt.input.note.content")" ng-model="content" ng-change="inputChange(content)"/>
		</div>
		<div style="text-align:right;margin-top:15px;">
			<button class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="sendNote(content)">@MessageUtil.getMsgAndNote("发送", "ab01011.txt.btn.send")</button>
		</div>
	}
		<!-- 全部、精华 -->
		<!-- <div> 
			<span class="{{searchAllClass}}" ng-click="search4Page(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)')">@MessageUtil.getMsgAndNote("全部", "ab01011.txt.filter.all")</span>
			<span class="{{searchBestClass}}" ng-click="search4Page(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)')">@MessageUtil.getMsgAndNote("精华", "ab01011.txt.filter.best")</span>
		</div> -->
		<div class="filterLable">
			<ul class="clearfix" style="overflow: hidden;">
				<li class="filterLableItem on" ng-click="search4Page(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)')">@MessageUtil.getMsgAndNote("全部", "ab01011.txt.filter.all")</li>
				<li class="filterLableItem" ng-click="search4Page(1,'@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)')">@MessageUtil.getMsgAndNote("精华", "ab01011.txt.filter.best")</li>
			</ul>
		</div>
		<!-- <div id="list_main" class="listMain">
			
		</div> -->

		<!-- <div style="height:1px;background-color:#e1e1e1;margin-top:10px;"></div> -->
		<!-- 笔记列表 -->
		<div ng-repeat="item in noteList">
			<div class="course-description course-wrap" style="background: #fff;box-shadow: 0 4px 8px 0 rgb(231, 234, 237);border-radius: 12px;padding: 20px 20px 20px 20px;">
				<!-- 右侧部分 -->
				<div class="note_list_header_img">
					<p class="note_list_title ng-binding" style="padding-left: 50px;width: 660px;">{{item.content}}</p>
					<div ng-show="item.fileId != null && item.type == 1" class="aside-course-img" ng-click="notePicDetail(item.fileId)" style="padding-left: 50px;margin-bottom: 20px;">
						<img style="width: 100px;" src="@url("/pub/image.action?fileId={{item.fileId}}")">
					</div>
					<div ng-show="item.fileId != null && item.type == 2" class="aside-course-img" ng-click="noteDownload(item.fileId)" style="padding-left: 50px;margin-bottom: 20px;">
						<p class="note_list_title ng-binding" style="width: 660px;color: #c00005;cursor: pointer;">下载附件</p>
					</div>
				</div>
				<div class="discuss_list_content" style="width:100%;">
					<div class="note_list_time">
						<span style="margin-left: 50px;">{{item.createDate | date:'yyyy@MessageUtil.getMsgAndNote("年", "ab01011.txt.date.year")MM@MessageUtil.getMsgAndNote("月", "ab01011.txt.date.month")dd@MessageUtil.getMsgAndNote("日", "ab01011.txt.date.day") HH:mm'}}</span>
						<span style="margin-left:20px;">@MessageUtil.getMsgAndNote("源自", "ab01011.txt.src.from")：{{item.title}}</span>
						<span style="float:right;padding-right: 50px;">
							<span ng-show="item.userLike==null || item.userLike==0" style="cursor:pointer;" class="note_list_like" ng-click="userLike($index)">
								<span class="fa fa-thumbs-o-up"></span>
								<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("点赞", "ab01011.txt.oprate.like"){{item.likeNum}}</span>
							</span>
							<span ng-show="item.userLike!=null && item.userLike>0" style="color:red;">
								<span class="fa fa-thumbs-o-up"></span>
								<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("已点赞", "ab01011.txt.oprate.already.like"){{item.likeNum}}</span>
							</span>
							<span ng-show="item.userCollection==null || item.userCollection==0" style="cursor:pointer;" class="note_list_like" ng-click="userCollection($index)">
								<span style="margin-left:15px;" class="fa fa-heart"></span>
								<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("收藏", "ab01011.txt.oprate.collection"){{item.collectionNum}}</span>
							</span>
							<span ng-show="item.userCollection!=null && item.userCollection>0" style="cursor:pointer;color:red;" ng-click="unUserCollection($index)">
								<span style="margin-left:15px;" class="fa fa-heart"></span>
								<span style="margin-left:0px;">@MessageUtil.getMsgAndNote("已收藏", "ab01011.txt.oprate.already.collection"){{item.collectionNum}}</span>
							</span>
							<span ng-if="item.canDelete" style="cursor:pointer;" class="note_list_like" ng-click="deleteNote(item.id)">
								<span style="padding-left: 15px;" class="fa fa-times-circle"></span>
								<span style="margin-left:0px;">删除</span>
							</span>
						</span>
					</div>
				</div>
				<div class="clearfix "></div>
			</div>
			<div class="clearfix "></div>
		</div>
		<!-- 分页 -->
		<div style="padding:30px 0px;text-align:center;">
			<span style="" ng-repeat="item in pageList">
				<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
				<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum,'')">{{item.text}}</span>
			</span>
		</div>
		
		<div id="confirmModal" class="modal fade bs-example-modal-sm" style="margin-top:350px;">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header" style="background-color:#FFCE54;color:#ffffff;">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">@MessageUtil.getMsgAndNote("警告", "ab01011.txt.warn")</h4>
		      </div>
		      <div class="modal-body"  style="font-size:18px;">
		        <span class="gh gh-question-sign" style="color:#FFCE54;"></span>
		        <span>@MessageUtil.getMsgAndNote("确认删除笔记内容吗？", "ab01011.txt.confirm.del.note")</span>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" ng-click="deleteNoteData()">@MessageUtil.getMsgAndNote("确认", "ab01011.txt.confirm.ok")</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">@MessageUtil.getMsgAndNote("关闭", "ab01011.txt.confirm.delete")</button>
		        
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	
	<script>
		//angular对象
		myApp.controller("noteCtrl",function($scope,$http){
			//检索条件样式
			$scope.searchAllClass = "note_search_active";
			$scope.searchBestClass = "note_search";
			//检索第几页 
			$scope.pageNumber = 1;
			//检索全部还是精华
			$scope.searchFlag = '@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)';
			//笔记列表数据
			$scope.noteList = [];
			//分页数据
			$scope.pageList = [];
			//请求数据
			$http.post('@surl',{linkId:"@linkId",linkType:"@linkType",pageSize:@pageSize,pageNumber:$scope.pageNumber,sortName:"CREATE_DATE",sortOrder:"desc"})
			.success(function(result){
				if(result.status){
					//请求成功
					$scope.noteList = result.data;
					//获取分页显示，当前页，总页数
					$scope.pageList = getPageList(result.page,result.total);
				}else{
					noticeError(result.messages);
				}
			})
			.error(function(){
				noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
			});
			$scope.inputChange = function(content){
				if(content.length >= 500){
					$scope.content = content.substr(0,500);
					
				}
			};
			//发送笔记
			$scope.sendNote = function(content){
				@if(WebContext.isGuest()) {
					toLoginFun(window.location.href)
				} else {
					if(content==''){
						noticeError('@MessageUtil.getMsgAndNote("笔记内容不能为空！", "ab01011.txt.validate.empty.note.content")')
					}else{
						//发送评论
						$http.post("@url("/pub/note/saveNoteData.action")",{linkId:"@linkId",linkType:"@linkType",content:content,title:"@title"})
						.success(function(result){
							if(result.status){
								noticeInfo('@MessageUtil.getMsgAndNote("记录成功！", "ab01011.txt.oprate.write.ok")');
								$scope.content = '';
								$scope.search4Page($scope.pageNumber);
							}else{
								noticeError(result.messages);
							}
						})
						.error(function(){
							noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
						});
					}
				}
			};
			//用户点赞
			$scope.userLike = function(index){
				@if(WebContext.isGuest()) {
					toLoginFun(window.location.href)
				} else {
					$http.post("@url("/pub/note/noteClickLike.action")",{id:$scope.noteList[index].id})
					.success(function(){
						noticeInfo('@MessageUtil.getMsgAndNote("点赞成功！", "ab01011.txt.oprate.like.ok")');
						$scope.noteList[index].userLike = 1;
						$scope.noteList[index].likeNum += 1;
					})
					.error(function(){
						noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
					});
				}
				
			};
			//用户收藏
			$scope.userCollection = function(index){
				@if(WebContext.isGuest()) {
					toLoginFun(window.location.href)
				} else {
					$http.post("@url("/pub/note/noteCollect.action")",{id:$scope.noteList[index].id})
					.success(function(){
						noticeInfo('@MessageUtil.getMsgAndNote("收藏成功！", "ab01011.txt.oprate.collection.ok")');
						$scope.noteList[index].userCollection = 1;
						$scope.noteList[index].collectionNum += 1;
					})
					.error(function(){
						noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
					});
				}
			};
			//用户取消收藏
			$scope.unUserCollection = function(index){
				@if(WebContext.isGuest()) {
					toLoginFun(window.location.href)
				} else {
					$http.post("@url("/pub/note/deleteNoteCollect.action")",{id:$scope.noteList[index].id})
					.success(function(){
						noticeInfo("取消收藏成功！");
						$scope.noteList[index].userCollection = 0;
						$scope.noteList[index].collectionNum -= 1;
					})
					.error(function(){
						noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
					});
				}
			};
			//分页检索
			$scope.search4Page = function(num,pageType){
				if(pageType!=''){
					$scope.searchFlag = pageType;
				}
				//请求数据
				$http.post('@surl',{linkId:"@linkId",linkType:"@linkType",pageSize:@pageSize,pageNumber:num,pageType:$scope.searchFlag,sortName:"CREATE_DATE",sortOrder:"desc"})
				.success(function(result){
					if(result.status){
						if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)'){
							$scope.searchAllClass = "note_search_active";
							$scope.searchBestClass = "note_search";
						}else if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)'){
							$scope.searchAllClass = "note_search";
							$scope.searchBestClass = "note_search_active";
						}
						//请求成功
						$scope.noteList = result.data;
						//改变当前页
						$scope.pageNumber = result.page;
						//获取分页显示，当前页，总页数
						$scope.pageList = getPageList(result.page,result.total);
					}else{
						noticeError(result.messages);
					}
				})
				.error(function(){
					noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
			};
			$scope.deleteId = "";
			//删除笔记
			$scope.deleteNote = function(id){
				$scope.deleteId = id;
				/* $("#confirmModal").modal({});
				$("#confirmModal").modal('show'); */
				confirm("确定要删除笔记吗？",function(){
					$scope.deleteNoteData();
					return true;
				});
			}
			$scope.notePicDetail = function(fileId){
				window.open('@url("/pub/image.action")?fileId='+fileId,'_blank'); 
			}
			$scope.noteDownload = function(fileId){
				window.open('@url("/pub/course/download.action")?fileId='+fileId+'&fileType=image','_blank');
			}
			//删除数据
			$scope.deleteNoteData = function(){
				//$("#confirmModal").modal('hide');
				$http.post('@deleteUrl',{id:$scope.deleteId})
				.success(function(result){
					if(result.status){
						//请求成功
						noticeInfo('@MessageUtil.getMsgAndNote("删除成功！", "ab01011.txt.oprate.del.ok")');
						$scope.search4Page(1,'');
					}else{
						noticeError(result.messages);
					}
				})
				.error(function(){
					noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
				
			};
		});
		
		//根据id删除数组中对应数据
		function deleteItem(list,id){
			var arr = new Array();
			for(var i=0;i<list.length;i++){
				var item = list[i];
				if(item.id != id){
					arr.push(list[i]);
				}
			}
			return arr;
		}
		
	</script>
}

