@import(){com.cloudsoaring.web.course.view.CourseView,
com.cloudsoaring.web.course.common.utils.CommonUtils,
java.math.BigDecimal,
com.cloudsoaring.web.course.constant.*,
com.cloudsoaring.web.course.view.ChapterView,
com.cloudsoaring.web.course.entity.CourseEntity,
com.cloudsoaring.web.trainingplatform.utils.*
}
@args String id = "myVideo",
String width = "100%",
String height = "800px",
String preload = "auto",
Boolean autoPlay = true,
String videoStyle = "",
String srcMp4 = "",
String srcWebm = "",
String srcOgg = "",
BigDecimal progress = BigDecimal.ZERO,
String preImg = "",
Boolean showChapter = true,
Boolean showNote = true,
Boolean showQuestion = true,
CourseView courseView,
List<ChapterView> chapterList,
String currentChapterId = "",
Boolean showMenu = true,
String videoEndedFunc = "",
String videoPaseFunc = "",
String videoStartFunc = "",
String videoLength = "0",
Boolean autoNext = true,
String linkId = "",
String linkType = "",
String courseOrChapterTitle = "",
Boolean isTeacher = false
<!-- css样式类 -->
<style>
.vjs-default-skin .vjs-control.vjs-changeClarity-button {
         display: block;
         font-size: 1.5em;
         float:right;
         text-align: center;
         cursor: pointer;
         left: 10px;
         height: 100%;
         position:relative;
         width:100px;
	}
	.div_clarity{
		width:100px;
        position:absolute;
        left:0;
        top:-120px;
        height:120px;
        z-index:999999;
        line-height:30px;
        display:none;
	}
	.checked_carity{
		width:100px;
		text-align:center;
		line-height:2;
	}
    .carity_item{
    	height:30px;
    	text-align:center;
    	background-color:#363C40;
    }
    .carity_item:hover{
    	background-color:#B5B9BC;
    	color:#ffffff;
    }

</style>
@{
	final Boolean showPreImg = (preImg!=null && !preImg.equals("")) ? true : false;
	final Boolean showMp4 = (srcMp4!=null && !srcMp4.equals("")) ? true : false;
	final Boolean showWebm = (srcWebm!=null && !srcWebm.equals("")) ? true : false;
	final Boolean showOgg = (srcOgg!=null && !srcOgg.equals("")) ? true : false;
}

@if(!showMp4 && !showWebm && !showOgg && !isTeacher){
	<div id="showNext" style="width:100%;height:800px;background-color:#000000;z-index:9999;text-align:center;padding-top:350px;">
		<div style="text-align:center;font-size:14px;color:#ffffff;">
			暂无视频
		</div>
	</div>
}else if(!showMp4 && !showWebm && !showOgg && isTeacher){
	<div id="showNext" style="width:100%;height:800px;background-color:#000000;z-index:9999;text-align:center;padding-top:350px;">
		<div style="width:100%;height:50px;color:#ffffff;font-size:50px;text-align:center;">
			<span id="icon_upload" class="gh gh-plus" style="cursor:pointer;" onclick="openModal()"></span>
		</div>
	</div>
	<!-- 遮罩层 -->
	<div id="uploadModal" class="modal fade bs-example-modal-lg" style="margin-top:250px;">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content modal_border" style="padding:30px;width:400px;height:180px;background-color:#ffffff;margin-left:auto;margin-right:auto;">
	      <span id="icon_del" class="gh gh-remove" style="color:red;float:right;margin-right:-30px;margin-top:-30px;cursor:pointer;" onclick="closeModal()"></span>
	      <div class="clearfix"></div>
	      <button id="btn_upload_file" class="btn btn-danger" style="float:right;" onclick="preUpload()">上传</button>
	      <input type="file" value="Filedata" id="fileupload1" >
	     <!--  <input type="file" value="" id="localfile"/> -->
			<div class="progress" id="process_after_upload" style="display:none;">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
			    <span>正在处理，请稍后...</span>
			  </div>
			</div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<link rel="stylesheet" href="@url("/css/uploadify.css")"/>
	<script src="@url("/js/jquery.uploadify.min.js")"></script>
	<script type="text/javascript">
		function openModal(){
			$("#uploadModal").modal({backdrop:"static"});
			$("#uploadModal").modal('show');
			$("#icon_upload").hide();
			$("#fileupload1-button").show();
			$("#btn_upload_file").show();
			$("#icon_del").show();
		}
		function preUpload(){
			if($("#fileupload1-queue").children().length == 0){
				noticeError("请选择视频文件！");
			}else{
				$('#fileupload1').uploadify('upload','*');
				$("#fileupload1-button").hide();
				$("#btn_upload_file").hide();
				$("#icon_del").hide();
			}
		}
		function closeModal(){
			$("#uploadModal").modal('hide');
			$("#icon_upload").show();
		}
		$(function() {
			var title = Math.uuid();
			var tag = Math.uuid();
			var desc = Math.uuid();
			var cataid = '@TpConfigUtil.getVideoServiceCategoryCourse()';
			var JSONRPC = '{"title":"'+title+'"}';
			var params = "cataid="+cataid+"&JSONRPC="+JSONRPC+"&writetoken=@TpConfigUtil.getVideoServiceWriteToken()";
			$.ajax({
				url: "@url("/common/video/sign.action")",
				data:{params:params},
				type:"post", 
				bodyMsg:true,
				mask:false,
				success:function(result){
					$.fileupload1 = $('#fileupload1').uploadify({
			            'auto' : false,
			            'formData' : {
			                'cataid':cataid,
			                'JSONRPC': JSONRPC,
			                'writetoken' : '@TpConfigUtil.getVideoServiceWriteToken()',
			                'sign':result.data,
			                'fcharset' : 'UTF-8'
			            },
			            'buttonText': '选择视频',
			            'fileSizeLimit' : '3000MB',
			            'fileTypeDesc' : '视频文件',
			            'fileTypeExts' : '*.mp4',//文件类型过滤
			            'swf'      : '@url("/js/uploadify.swf")',
			            'multi':false,
			            'successTimeout':1800,
			            'queueSizeLimit':1,
			            'uploader' : 'http://v.polyv.net/uc/services/rest?method=uploadfile',
			            //onUploadSuccess为上传完视频之后回调的方法，视频json数据data返回，
			            //下面的例子演示如何获取到vid
			            'onUploadSuccess':function(file,data,response){
			                var jsonobj=eval('('+data+')');      
			                //console.log(jsonobj)        ; 
			                //console.log(jsonobj.data[0].vid + " - " + jsonobj.data[0].playerwidth + " - " + jsonobj.data[0].duration);
			               if(jsonobj.error == '0'){
			               		if(jsonobj.data[0].vid){
				                	//更新章节信息
				                	updateChapterVideo(jsonobj);
			               		}else{
			               			noticeError("上传失败！");
				                	$("#uploadModal").modal('hide');
				                	$("#icon_upload").show();
			               		}
			               }else{
			               		noticeError("上传失败！");
			                	$("#uploadModal").modal('hide');
			                	$("#icon_upload").show();
			               }
			            }
			        });
				},
				fail:function(result){
					noticeError("初始化上传失败！");
				}
			});
	    });
		//上传成功后的处理
		function processAfter(){
			//本地上传未完成，等待...
			//$("#process_after_upload").show();
			//刷新页面
			window.location.href="@url("/pub/chapter/toChapterDetail.action?courseId=")" +"@courseView.getId()"+"&chapterId="+"@linkId";
		}
		//更新视频信息
		function updateChapterVideo(data){
			var vid = data.data[0].vid;
			var duration = data.data[0].duration;
			var arr = duration.split(":");
			var time = 0;
			if(arr[0]){
				var h = parseInt(arr[0]);
				time += h*60*60;
			}
			if(arr[1]){
				var m = parseInt(arr[1]);
				time += m*60;
			}
			if(arr[2]){
				var s = parseInt(arr[2]);
				time += s;
			}
			var linkId = '@linkId';
			var linkType = '@linkType';
			$.ajax({
				url: "@url("/pub/chapter/updatePolyvInfo.action")",
				data:{"linkId":linkId,"linkType":linkType,"vid":vid,"duration":time},
				type:"post", 
				bodyMsg:true,
				mask:false,
				success:function(result){
					uploadFlag_polyv = true;
					processAfter();
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		}
	</script>
}else{

<!-- <link rel="stylesheet" href="http://vjs.zencdn.net/4.12/video-js.css">
<script type="text/javascript" src="http://vjs.zencdn.net/4.12/video.js"></script> 
<link rel="stylesheet" href="@url("/js/ueditor/third-party/video-js/video-js.css")">
<script type="text/javascript" src="@url("/js/ueditor/third-party/video-js/video.js")"></script>
<script type="text/javascript">  
	videojs.options.flash.swf = "@url("/js/ueditor/third-party/video-js/video-js.swf")";
</script> 
-->
<link rel="stylesheet" href="@WebContext.url("/js/videojs/video-js.css")">
<script type="text/javascript" src="@WebContext.url("/js/videojs/video.js")"></script>
<script type="text/javascript">  
	videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")";
</script> 
@assign("html_video"){
	<video id="@id" class="video-js vjs-default-skin vjs-big-play-centered" style="float:left;@videoStyle" data-setup="{}">
		@if(showMp4){
			<source id="video_sourse" src="%src_video" type='video/mp4' />
		}
		@if(showWebm){
			<source id="video_sourse" src="%src_video" type='video/webm' />
		}
		@if(showOgg){
			<source id="video_sourse" src="%src_video" type='video/ogg' />
		}
	</video>
}
<div id="div_video" style="width:@width;height:@height;background-color:#000000;display:none;">
	<div id="video_append_div"></div>
@if(showMenu){
	<div id="videoHelp" style="position:absolute;right:0px;margin-top:-800px;width:400px;height:750px;z-index:999;overflow:hidden;">
		<div id="div_help" style="position:relative;width:100%;height:100%;right:-350px;">
			<div style="width:50px;text-align:center;position:absolute;left:0;top:0;">
				<ul style="list-style:none;padding:0;margin:0;margin-top:300px;">
				@if(showChapter){
					<li class="help_li" style="width:50px;height:50px;background-color:#666666;padding:5px;cursor:pointer;">
						<i class="fa fa-th-list" style="color:#ffffff;"></i><br/>
						<span style="color:#ffffff;font-size:12px;">@MessageUtil.getMessage(CourseMsgNames.TXT_CHAPTER)</span>
					</li>
				}
				@if(showNote){
					<li id="add_note" class="help_li" style="width:50px;height:50px;background-color:#666666;padding:5px;margin-top:2px;cursor:pointer;">
						<i class="fa fa-edit" style="color:#ffffff;"></i><br/>
						<span style="color:#ffffff;font-size:12px;">@MessageUtil.getMessage(CourseMsgNames.TXT_NOTE)</span>
					</li>
				}
				@if(showQuestion){
					<li id="add_question" class="help_li" style="width:50px;height:50px;background-color:#666666;padding:5px;margin-top:2px;cursor:pointer;">
						<i class="fa fa-question-circle" style="color:#ffffff;"></i><br/>
						<span style="color:#ffffff;font-size:12px;">@MessageUtil.getMessage(CourseMsgNames.TXT_QUESTION)</span>
					</li>
				}
				</ul>
			</div>
			@if(showChapter){
			<div id="chapterList" style="width:350px;height:750px;position:absolute;left:50px;top:0;overflow:auto;background-color:#14191E;">
				<ul style="list-style-type:none;padding:10px;margin-top:10px;margin-bottom:50px;">
				@if(courseView!=null){
					<li class="chapter_detail_list_course_title">@courseView.getTitle()</li>
				}
				@if(chapterList!=null&&chapterList.size()>0){
					@for(ChapterView item : chapterList){
						@if(((item.getChapterFlag()).toString()).equals(CourseStateConstants.BIG_CHAPTER)){
							<!-- 一级大章节 -->
							<li class="chapter_detail_list_chapter_title @if(!(CourseStateConstants.CHAPTER_TYPE_TITLE).equals(item.getMeasureType())){ chpater_detail_title_chapter_active }" @if(!(CourseStateConstants.CHAPTER_TYPE_TITLE).equals(item.getMeasureType())){onclick="clickChapter('@item.getId()')"}>
								@if((item.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_EXAM)){
									<i class="fa fa-edit"></i>
								}else if((item.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_MEASUERMENT)){
									<i class="fa fa-align-right"></i>
								}else if((item.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){
									<i class="fa fa-play"></i>
								}else{
									<i class="fa fa-image"></i>
								}
								<span class="chapter_detail_list_chapter_sub_title_span">@item.getTitle()&nbsp;&nbsp;@if((item.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){@CommonUtils.formatSeconds(item.getVideoLength())}</span>
								@if(currentChapterId.equals(item.getId())){
									<span class="chapter_detail_list_chapter_sub_title_right_text">@MessageUtil.getMessage(CourseMsgNames.TXT_STUDY_NOW)&nbsp;&nbsp;<i class="gh gh-time"></i></span></li>
								}else{
									@if((item.getStudyProgress()) == null || ((item.getStudyProgress()).compareTo(new BigDecimal("0"))) == 0){
										<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle-o"></i></span></li>
									}else if(((item.getStudyProgress()).compareTo(new BigDecimal("100"))) == 0){
										<span class="chapter_detail_list_chapter_sub_title_right_text"><i class="fa fa-circle"></i></span></li>
									}else{
										<span class="chapter_detail_list_chapter_sub_title_right_text"><i class="gh gh-adjust"></i></span></li>
									}
								}
							<!-- 二级小章节 -->
							@for(ChapterView subItem : chapterList){
								@if(((subItem.getChapterFlag()).toString()).equals(CourseStateConstants.SMALL_CHAPTER) && (subItem.getParentId() != null) && (subItem.getParentId()).equals(item.getId())){
									<li class="@if(!(CourseStateConstants.CHAPTER_TYPE_TITLE).equals(subItem.getMeasureType())){chapter_detail_list_chapter_sub_title_active}else{chapter_detail_list_chapter_sub_title}" @if(!(CourseStateConstants.CHAPTER_TYPE_TITLE).equals(subItem.getMeasureType())){onclick="clickChapter('@subItem.getId()')"}>
									@if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_EXAM)){
										<i class="fa fa-edit"></i>
									}else if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_MEASUERMENT)){
										<i class="fa fa-align-right"></i>
									}else if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){
										<i class="fa fa-play"></i>
									}else{
										<i class="fa fa-image"></i>
									}
									<span class="chapter_detail_list_chapter_sub_title_span">@subItem.getTitle()&nbsp;&nbsp;@if((subItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){@CommonUtils.formatSeconds(subItem.getVideoLength())}</span>
									@if(currentChapterId.equals(subItem.getId())){
										<span class="chapter_detail_list_chapter_sub_title_right_text">@MessageUtil.getMessage(CourseMsgNames.TXT_STUDY_NOW)&nbsp;&nbsp;<i class="gh gh-time"></i></span></li>
									}else{
										@if((subItem.getStudyProgress()) == null || ((subItem.getStudyProgress()).compareTo(new BigDecimal("0"))) == 0){
											<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle-o"></i></span></li>
										}else if(((subItem.getStudyProgress()).compareTo(new BigDecimal("100"))) == 0){
											<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle"></i></span></li>
										}else{
											<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="gh gh-adjust"></i></span></li>
										}
									}
									<!-- 三级 子章节 -->
									@for(ChapterView threeItem : chapterList){
										@if(((threeItem.getChapterFlag()).toString()).equals(CourseStateConstants.THREE_CHAPTER) && (threeItem.getParentId()).equals(subItem.getId())){
											<li class="@if(!(CourseStateConstants.CHAPTER_TYPE_TITLE).equals(subItem.getMeasureType())){chapter_detail_list_chapter_three_title_active}else{chapter_detail_list_chapter_three_title}" @if(!(CourseStateConstants.CHAPTER_TYPE_TITLE).equals(subItem.getMeasureType())){onclick="clickChapter('@item.getId()')"}>
											@if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_EXAM)){
												<i class="fa fa-edit"></i>
											}else if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_MEASUERMENT)){
												<i class="fa fa-align-right"></i>
											}else if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){
												<i class="fa fa-play"></i>
											}else{
												<i class="fa fa-image"></i>
											}
											<span class="chapter_detail_list_chapter_sub_title_span">@threeItem.getTitle()&nbsp;&nbsp;@if((threeItem.getMeasureType()).equals(CourseStateConstants.CHAPTER_TYPE_VIDEO)){@CommonUtils.formatSeconds(threeItem.getVideoLength())}</span>
											@if(currentChapterId.equals(threeItem.getId())){
												<span class="chapter_detail_list_chapter_sub_title_right_text">@MessageUtil.getMessage(CourseMsgNames.TXT_STUDY_NOW)&nbsp;&nbsp;<i class="gh gh-time"></i></span></li>
											}else{
												@if((threeItem.getStudyProgress()) == null || ((threeItem.getStudyProgress()).compareTo(new BigDecimal("0"))) == 0){
													<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle-o"></i></span></li>
												}else if(((threeItem.getStudyProgress()).compareTo(new BigDecimal("100"))) == 0){
													<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="fa fa-circle" style="color:#00b33b"></i></span></li>
												}else{
													<span class="chapter_detail_list_chapter_sub_title_right_normal"><i class="gh gh-adjust" style="color:#00b33b"></i></span></li>
												}
											}
										}
									}
								}
							}
						}
					}
				}
				</ul>
			</div>
		}
		</div>
	</div>	
}
	<div class="clear-fix"></div>
</div>
<div class="clear-fix"></div>
<div id="polyv_status" style="width:100%;height:800px;background-color:#000000;z-index:9999;text-align:center;display:none;padding-top:350px;">
	
</div>
<!-- 显示下一节或重新播放 -->
@if(autoNext){
	@{
		Boolean hasNext = false;
		ChapterView nextChapter = null;
		if(chapterList!=null&&chapterList.size()>0){
			for(int i=0;i < chapterList.size() ;i++){
				ChapterView cv = chapterList.get(i);
				if((cv.getId()).equals(currentChapterId)){
					if(i < chapterList.size()-1){
						int j = i;
						while(j < chapterList.size()-1){
							nextChapter = chapterList.get(i+1);
							if(!(CourseStateConstants.CHAPTER_TYPE_TITLE).equals(nextChapter.getMeasureType())){
								hasNext = true;
								break;
							}
						}
						
					}
				}
			}
		}
	}
	<div id="showNext" style="width:100%;height:800px;background-color:#000000;z-index:9999;text-align:center;display:none;padding-top:350px;">
		@if(hasNext&&nextChapter!=null){
			<div style="color:#ffffff;font-size:14px;">
			下一节课程：@nextChapter.getTitle() (@CommonUtils.formatSeconds(nextChapter.getVideoLength()))
			</div>
			<div style="margin-top:30px;"><button style="width:150px;" class="btn btn-normal" onclick="clickChapter('@nextChapter.getId()')">下一节</button></div>
		}
		
		<div class="video_refresh" onclick="refreshChpater('@currentChapterId')">
			<span class="fa fa-refresh" style="margin-right:10px;"></span>重新观看
		</div>
	</div>
}

@if(showNote){
	<div id="div_add_note_modal" class="modal fade bs-example-modal-lg" style="margin-top:300px;">
	  <div class="modal-dialog modal-lg" style="height:400px;width:700px;">
	    <div class="modal-content" style="background-color:#ffffff;">
	      <div style="padding:20px 30px;">
	      	<div style="font-size:16px;color:#000000;">
	      		<span>笔记</span>
	      		<span class="gh gh-remove" style="float:right;cursor:pointer;" onclick="closeNote()"></span>
	      	</div>
	      	<div class="grave_line" style="height:1px;margin-top:10px;margin-bottom:20px;"></div>
	      	<div>
	      		<textarea id="note_data" rows="6" cols="" style="width:100%;" placeholder="请输入笔记内容"></textarea>
	      	</div>
	      	<div style="text-align:right;padding:5px 0;">
	      		<span><span id="strlength">0</span>/1000</span>
	      	</div>
	      	<div style="margin-top:20px;margin-bottom:20px;width:100%;height:30px;line-height:30px;">
	      		<!-- <div style="width:100px;height:28px;line-height:28px;float:left;display:none;" >
	      			<span style="float:left;">截屏&nbsp;&nbsp;</span>
	      			<div class="switch" style="width:50px;float:left;">
				    	<input id="on_off_screen" class="switch-rythm" name="on_off_screen" type="checkbox" data-on="oon" data-on-label="开启" data-off-label="关闭" data-off="ooff" value="" onclick="changeScreen()">
					</div>
	      		</div> -->
	      		<button id="btn_save_note_data" class="btn btn-normal" style="float:right;margin-right:0;">保存</button>
	      	</div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}
@if(showQuestion){
	<div id="div_add_question_modal" class="modal fade bs-example-modal-lg" style="margin-top:250px;">
	  <div class="modal-dialog modal-lg" style="height:460px;width:700px;">
	    <div class="modal-content" style="background-color:#ffffff;height:100%;">
	      <div style="padding:20px 30px;">
	      	<div style="font-size:16px;color:#000000;">
	      		<span>提问</span>
	      		<span class="gh gh-remove" style="float:right;cursor:pointer;" onclick="closeQuestion()"></span>
	      	</div>
	      	<div class="grave_line" style="height:1px;margin-top:10px;margin-bottom:20px;"></div>
	      	<div style="margin-bottom:20px;">
	      		<input id="question_title" style="width:100%;height:30px;font-size:14px;line-height:30px;padding-bottom:0;" value="" placeholder="请输入问题标题">
	      	</div>
	      	
	      	<div id="question_editor" style="margin-left:-15px;">
	      		@ue_image_video(label:"",height:"10px",width:"640", value:"")
	      	</div>
	      	<div style="margin-top:20px;margin-bottom:20px;width:100%;height:30px;line-height:30px;">
	      		<button id="btn_save_question_data" class="btn btn-normal" style="float:right;margin-right:0;">保存</button>
	      	</div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}
@assign("question_editor"){
	
}
@assign("polyvStatus"){
	<div style="font-size:14px;color:#ffffff;text-align:center;">%text</div>
}
<script>
/**自定义videojs控制条上的组件-切换清晰度*/
videojs.ChangeClarity = videojs.Button.extend({
	/* constructor */
	init: function(player,options){
		videojs.Button.call(this, player, options);
		//onClick为默认事件，不需要人为邦定，否则会调两次
		//this.on('click', this.onClick);
		this.on('mouseover',this.onMouseover);
		this.on('mouseout',this.onMouseout);
	}
});

/**当切换清晰度被点击时*/
videojs.ChangeClarity.prototype.onClick = function(){
    //这里添加做你想要干的事情
   // console.log("click");
};
/**当切换清晰度鼠标移入时*/
videojs.ChangeClarity.prototype.onMouseover = function(){
    //这里添加做你想要干的事情
    $(".div_clarity").show();
};
/**当切换清晰度鼠标移出时*/
videojs.ChangeClarity.prototype.onMouseout = function(){
    //这里添加做你想要干的事情
    $(".div_clarity").hide();
};

/**创建一个切换清晰度的按钮*/
var createChangeClarityButton = function(){
	var props = {
		className:'vjs-changeClarity-button vjs-control',
		innerHTML:'<div class="vjs-control-content"><div class="div_clarity"><div style="height:30px;"></div><div class="carity_item" onclick="changeSrc(3)">超清</div><div class="carity_item" onclick="changeSrc(2)">高清</div><div class="carity_item" onclick="changeSrc(1)">普清</div></div><div id="div_clarity_text" class="checked_carity">普清</div></div>',
		role:'button',
		'aria-live':'polite',
		tabIndex:0
	};
	return videojs.Component.prototype.createEl(null, props);
};

/**自定义videojs控制条上的组件-切换清晰度*/
var changeClarity;
videojs.plugin('ChangeClarity', function() {
	var options = { 'el' : createChangeClarityButton() };
	changeClarity = new videojs.ChangeClarity(this, options);
	this.controlBar.el().appendChild(changeClarity.el());
});

var myPlayer;
//开始时间
var startTime = new Date().getTime();
//保利威视根据vid取得的视频信息
var polyResult = {};
//当前选中了哪个清晰度，从cookie中获取
var checkedIndex = $.cookie('checkedClarityIndex'); 
if(checkedIndex==null||checkedIndex==''||checkedIndex==undefined||checkedIndex=='undefined'){
	checkedIndex = 1;
}
//每隔多长时间（秒）更新一次用户学习进度
var intervalTime = @CodeFactory.get(CourseConfigNames.CONFIG_UPDATE_USER_STUDY_PROGRESS_TIME) * 1000;
var intervalId = '';
//请求保利威视视频信息
$(function(){
	//获取哈希值
	$.ajax({
		url: "@url("/common/video/sign.action")",
		data:{params:"readtoken=@TpConfigUtil.getVideoServiceReadToken()&vid=@srcMp4"},
		type:"post", 
		bodyMsg:true,
		mask:false,
		success:function(result){
			//console.log(result);
			$.ajax({
				url: "http://v.polyv.net/uc/services/rest?method=getById",
				data:{readtoken:"@TpConfigUtil.getVideoServiceReadToken()",vid:"@srcMp4",sign:result.data},
				type:"post", 
				bodyMsg:true,
				mask:false,
				success:function(result){
					//error:0 表示请求成功
					if(result.error == '0'){
						//console.log(result);
						//视频状态码	含义
						//60/61	已发布
						//10	等待编码
						//20	正在编码
						//50	等待审核
						//51	审核不通过
						//-1	已删除
						var status = result.data[0].status;
						var text = '@es(polyvStatus).raw()';
						if(status == '50'||status == '10'||status == '20'){
							//正在审核
							text = text.replace(/%text/g,"视频正在审核中...");
							$("#polyv_status").html(text);
							$("#polyv_status").show();
							return;
						}else if(status == '51'){
							//审核未通过
							text = text.replace(/%text/g,"视频审核未通过");
							$("#polyv_status").html(text);
							$("#polyv_status").show();
							return;
						}else if(status == '-1'){
							//视频已删除
							text = text.replace(/%text/g,"该视频已删除");
							$("#polyv_status").html(text);
							$("#polyv_status").show();
							return;
						}
						polyResult = result;
						//生成videojsDOM
						var src_url = result.data[0].mp4_1;
						if(checkedIndex==2){
							src_url = result.data[0].mp4_2;
						}else if(checkedIndex == 3){
							src_url = result.data[0].mp4_3;
						}
						var html = '@es(html_video).raw()'.replace(/%src_video/g,src_url);
						$("#video_append_div").html(html);
						initVideo();
						if(checkedIndex==2){
							changeCheckedText("高清");
						}else if(checkedIndex == 3){
							changeCheckedText("超清");
						}
						//判断是否设置播放进度
						//判断当前进度
						if('@progress'!='' && '@progress' != 'undefined' && parseInt('@progress') > 0){
							myPlayer.currentTime(parseInt('@progress'));
						}
						//显示播放器
						$("#div_video").show();
						myPlayer.show();
						//是否自动播放
						@if(autoPlay){
							myPlayer.play();
						}
						processInit();
					}else{
						noticeError("获取视频信息失败！");
					}
				},
				error:function(result){
					noticeError("获取视频信息失败！");
				}
			});
		},
		fail:function(result){
			noticeError("获取视频信息失败！");
		}
	});
});

//初始视频播放组件	
function initVideo(){
	videojs(document.getElementById('@id'), {
		techOrder: ["html5","flash"],
		autoplay : false,
		preload : "@preload",
		//显示视频封面
		@if(showPreImg){
			poster : "@url(preImg)",
		}
		width : "@width",
		height : "@height",
		controls:true,
		children : {
	           bigPlayButton : false,
	           textTrackDisplay : false,
	           posterImage: false,
	           errorDisplay : false,
	           controlBar : {
	               captionsButton : false,
	               chaptersButton: false,
	               subtitlesButton:false,
	               liveDisplay:false,
	               playbackRateMenuButton:false
	           }
	       },
		plugins:{ChangeClarity:{} }
	}, function() {
		//当前播放器
		myPlayer = this;
		
		//播放结束点击事件
		myPlayer.on('ended',function(){
			$("#div_video").hide();
			$("#showNext").show();
			@if(StringUtil.isEmpty(videoEndedFunc)){
				//播放结束更新用户章节信息
				$.ajax({
					url: "@url("/pub/chapter/updateChapterStudy.action")",
					data:{"chapterId":"@currentChapterId","progress":"100"},
					type:"post", 
					bodyMsg:true,
					mask:false,
					success: function(result){
					 	//更新成功
			      	}
				});
				$("#showNext").show();
			}else{
				@(videoEndedFunc)();
			}
			if(intervalTime > 0){
				window.clearInterval(intervalId);
			}
		});
		// 开始或恢复播放
		myPlayer.on('play', function() {  
		  @if(StringUtil.isNotEmpty(videoStartFunc)){
		  	@(videoStartFunc)();
		  }
		  if(intervalTime > 0){
		  	intervalId = window.setInterval("updateStudyProgresss()", intervalTime);  
		  }
		});
		
		// 暂停播放
		myPlayer.on('pause', function() {  
			updateStudyProgresss();
			if(intervalTime > 0){
				window.clearInterval(intervalId);
			}
		}); 
	});
}
//更新用户学习章节视频时间点及耗费时间
function updateStudyProgresss(){
	@if(StringUtil.isEmpty(videoPaseFunc)){
		var videoTime = myPlayer.currentTime();
	  	var costTime = (new Date().getTime() - startTime)/1000;
	   	//更新用户章节视频时间点
		$.ajax({
			url: "@url("/pub/chapter/updateChapterLastVideoTime.action")",
			data:{"chapterId":"@currentChapterId","time":videoTime+""},
			type:"post", 
			bodyMsg:true,
			mask:false,
			success: function(result){
	        	 //更新成功
	        	 startTime = new Date().getTime();
	      	}
		});
		//更新用户学习章节耗费的时间
		$.ajax({
			url: "@url("/pub/chapter/updateChapterTimeCost.action")",
			data:{"chapterId":"@currentChapterId","time":costTime+""},
			type:"post", 
			bodyMsg:true,
			mask:false,
			success: function(result){
	        	 //更新成功
	        	 startTime = new Date().getTime();
	      	}
		});
	}else{
		@(videoPaseFunc)();
	}
}

@if(showNote){
	//弹出框关闭
	function closeNote(){
		$("#div_add_note_modal").modal("hide");
		myPlayer.play();
	}
}

@if(showQuestion){
	//提问弹出框关闭
	function closeQuestion(){
		$("#div_add_question_modal").modal("hide");
		myPlayer.play();
	}
}


//点击章节
function clickChapter(id){
	 window.location.href = "@url("/pub/chapter/toChapterDetail.action")"+"?courseId=@courseView.getId()"+"&chapterId="+id;
}

//将秒数转为时分秒
function formatSeconds(ss){
	ss = new String(ss);
	if(ss.indexOf(".")!=-1){
		ss = ss.substring(0, ss.indexOf("."));
	}
	var sss = parseInt(ss);
	var h = Math.floor(sss/3600);
	var m = Math.floor((sss-h*3600)/60);
	var s = Math.floor((sss-h*3600)%60);
	var str = "";
	if(h<10){
		str += "0"+h+":";
	}else{
		str += h+":";
	}
	if(m<10){
		str += "0"+m+":";
	}else{
		str += m+":";
	}
	if(s<10){
		str += "0"+s;
	}else{
		str += m+"";
	}
	return str;
}

//重新观看
function refreshChpater(id){
	myPlayer.currentTime(0);
	$("#div_video").show();
	$("#showNext").hide();
	myPlayer.play();
	//更新用户章节视频时间点
	$.ajax({
		url: "@url("/pub/chapter/updateChapterLastVideoTime.action")",
		data:{"chapterId":"@currentChapterId","time":"0"},
		type:"post", 
		bodyMsg:true,
		mask:false,
		success: function(result){
        	clickChapter(id);
      	}
	});
}
//切换视频源
function changeSrc(index){
	if(index != checkedIndex){
		//将选中的清晰度存到cookie中
		$.cookie('checkedClarityIndex',index);
		//暂停播放
		myPlayer.pause();
		//切换后的url
		var changeUrl = '';
		//当前观看时间点
		var time = myPlayer.currentTime();
		if(index == 3){
			//点击了超清
			changeUrl = polyResult.data[0].mp4_3;
		}else if(index == 2){
			//点击了高清
			changeUrl = polyResult.data[0].mp4_2;
		}else if(index == 1){
			//点击了普清
			changeUrl = polyResult.data[0].mp4_1;
		}
		//重新生成videojs节点
		var html = '@es(html_video).raw()'.replace(/%src_video/g,changeUrl);
		$("#video_append_div").html(html);
		
		//初始化videojs节点
		initVideo();
		if(index == 3){
			//点击了超清
			changeCheckedText("超清");
		}else if(index == 2){
			//点击了高清
			changeCheckedText("高清");
		}else if(index == 1){
			//点击了普清
			changeCheckedText("普清");
		}
		//设置当前观看时间点
		myPlayer.currentTime(time);
		//播放
		myPlayer.play();
	}
}		

//改变选中的清晰度文本
function changeCheckedText(str){
	document.getElementById('div_clarity_text').innerHTML = '<span>'+str+'</span>';
}

//工具助手初始化
function processInit(){
	//初始化操作
	@if(showMenu){
		//助手工具处理
		$(".help_li").each(function(index){
			//章节、笔记、提问鼠标滑过样式
			$(".help_li:eq("+index+")").hover(function(){
				$(".help_li:eq("+index+")").css("background-color","#F01400");
			},function(){
				if($(".help_li:eq("+index+")").hasClass("li_active")){
				
				}else{
					$(".help_li:eq("+index+")").css("background-color","#666666");
				}
			});
		});
		@if(showChapter){
			//视频控件长度
			var videoOldWidth = document.body.clientWidth;
			//章节点击事件
			$(".help_li:eq(0)").click(function(){
				if($(".help_li:eq(0)").hasClass("li_active")){
					//章节列表隐藏，章节样式改变
					$(".help_li:eq(0)").css("background-color","#666666");
					//列表隐藏
					myPlayer.width("100%");
					$("#div_help").animate({right:'-350px'},500);
					$(".help_li:eq(0)").removeClass("li_active");
					@if(autoNext){
						$("#div_next").css("left",(videoOldWidth/2-200)+"px");
						$("#showNext").css("width",videoOldWidth+"px");
					} 
				}else{
					$(".help_li:eq(0)").css("background-color","#F01400");
					//列表显示
					myPlayer.width(videoOldWidth-350);
					$("#div_help").animate({right:'0'},500);
					$(".help_li:eq(0)").addClass("li_active");
					@if(autoNext){
						$("#div_next").css("left",((videoOldWidth-350)/2-200)+"px");
						$("#showNext").css("width",(videoOldWidth-350)+"px");
					}
				}
			});
		}
	}
	//笔记点击事件
	@if(showNote){
		$("#on_off_screen").bootstrapSwitch();
		$("#add_note").click(function(){
			//视频播放暂停
			myPlayer.pause();
			//弹出笔记框
			$("#div_add_note_modal").modal({});
			$("#div_add_note_modal").modal('show'); 
		});
		/* //截屏是否开启事件
		$('#on_off_screen').on('switch-change', function (e, data) {
		    var value = data.value;
		    if(value){
		    	//开启截屏
		    	$("#on_off_screen").val(myPlayer.currentTime());
		    }else{
		    	$("#on_off_screen").val("");
		    }
		}); */
		//文本域值改变事件
		$("#note_data").on("input",function(){
			var str = $("#note_data").val();
			if(str.length > 1000){
				noticeError("最多输入1000个字符！");
				str = str.substr(0,1000);
				$("#note_data").val(str);
			}
			$("#strlength").text(str.length);
		});
		//保存按钮点击事件
		$("#btn_save_note_data").click(function(){
			var content = $("#note_data").val();
			if(content==null || content==''){
				noticeError("笔记内容不允许为空！");
				return ;
			}
			//获取提交数据
			var param = {linkId:"@linkId",linkType:"@linkType",title:"@courseOrChapterTitle",content:content};
			/* if($("#on_off_screen").val()!=null&&$("#on_off_screen").val()!=''){
				param = {linkId:"@linkId",linkType:"@linkType",title:"@courseOrChapterTitle",content:content,screenshotTime:$("#on_off_screen").val()};
			}  */
			//发送请求
			$.ajax({
				url: "@url("/pub/note/saveNoteData.action")",
				data:param,
				type:"post", 
				bodyMsg:true,
				mask:false,
				success: function(result){
				 	//保存成功
				 	noticeInfo("保存成功！");
				 	//清空数据
				 	$("#on_off_screen").bootstrapSwitch('setState', false);
				 	$("#note_data").val("");
				 	$("#strlength").text("0");
				 	//关闭遮罩
				 	closeNote();
		      	},
		      	fail:function(result){
		      		noticeError(result.messages);
		      	}
			}); 
		});
	}
	
	@if(showQuestion){
		//点击提问助手工具
		$("#add_question").click(function(){
			//视频播放暂停
			myPlayer.pause();
			//弹出笔记框
			//$("#question_editor").html('@es(question_editor).raw()');
			$("#div_add_question_modal").modal({});
			$("#div_add_question_modal").modal('show'); 
		});
		//问题标题字数限制
		$("#question_title").on("input",function(){
			var str = $("#question_title").val();
			if(str.length > 100){
				noticeError("标题不能超过100个字符！");
				$("#question_title").val(str.substr(0,100));
			}
		});
		//点击保存按钮
		$("#btn_save_question_data").click(function(){
			var title = $("#question_title").val();
			if(title==null||title==''){
				noticeError("标题不能为空！");
				return ;
			}
			var content = ue.getContent();
			if(content==null||content==''){
				noticeError("问题内容不能为空！");
				return ;
			}
			$.ajax({
				url: "@url("/pub/faq/publishQuestion.action")",
				data:{linkId:"@linkId",linkType:"@linkType",title:title,content:content},
				type:"post", 
				bodyMsg:true,
				mask:false,
				success:function(result){
					noticeInfo("保存成功！");
					//清空
					$("#question_title").val("");
					ue.setContent("");
					//关闭遮罩
					closeQuestion();
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		});
	} 
}
</script>
}
