@args String linkId,String linkType
<style>
.course-right-nano{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.nano-right-content{
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
}
.c-panel{
	cursor: pointer;
}
.c-panel .qa-panel{
    background: #f8fafc;
    box-shadow: 0 8px 16px 0 rgba(28,31,33,.1);
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    min-height: 100%;
    box-sizing: border-box;
}
.delIcon{
	float: right;
    padding-top: 10px;
    font-size: 20px;
    padding-right: 30px;
    color: #93999f;
    padding-bottom: 10px;
}
</style>
<div class="course-right-nano ">
	<div class="nano-right-content">
		<div class="c-panel">
			<div class="c-panel qa-panel">
				<i class="fa fa-times delIcon" onclick="showQA();"></i>
				<div class="course-description course-wrap">
					@form("file-form"){
						<div style="width:98%;padding-top:10px;">
				  			@input(
				  				id:"form",
								label:"标题", 
								name:"title", 
								groupcss:"", 
								required: true, 
								maxlength:"50", 
								value:"", 
						         )
						</div>
				 		<div style="margin-left:-15px;">
				 		<!-- 	@ue_image_video(label:"内容", height:200,width:"101%", value:"") -->
				 		</div>
						<div style="padding-right:20px;margin-top: 350px;">
							@btnbox(align:"right"){
								@button(label:"发布",iconcss:"fa fa-plus",onclick:"release",innerType:"", id:"btnAdd")				
							}	
						</div>
						<div class="clearfix"></div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
