@args String linkId,String linkType
<style>
.comp-filter-bar {
  height: 40px;
  border-bottom: 1px solid #e3e5e5;
}
.comp-filter-bar .bar-item {
  float: left;
  font-size: 12px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding: 0 20px;
  color: #787d82;
}
.comp-filter-bar .bar-item.active {
  color: #14191e;
}
.comp-filter-bar .bar-item:hover {
  color: #f01400;
}

.mod-qa-list {
  padding: 20px 0;
  border-bottom: 1px solid #e3e5e5;
  overflow: hidden;
  width:1000px;
   position: relative;
}
.mod-qa-list .qa-medias {
  width: 96px;
  overflow: hidden;
  text-align: center;
  height: 100px;

}

.mod-qa-list .qa-medias .meida:hover {
  color: #be3948;
  text-decoration: underline;
}
.qa-medias .name {
display: block;
margin-top: 10px;
text-align: center;
line-height: 16px;
color: #99a1a6;
font-size: 18px;
padding: 0 10px;
white-space: nowrap;
overflow: hidden;
word-wrap: break-word;
word-break: break-all;


}
a{
	text-decoration:none;
}
.mod-qa-list .qa-content {
  padding-right: 110px;
  min-height: 85px;
  position: relative;
  overflow: hidden;
  position: absolute;
  top:10px;
  left:90px;
  width:900px;
}
.mod-qa-list .qa-content .static-count {
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 0px;
}
.mod-qa-list .qa-content .static-count .static-item {
  display: inline-block;
  vertical-align: top;
  color: #787d82;
}
.mod-qa-list .qa-content .static-count .static-item.answer {
  margin-right: 26px;
    
}
.mod-qa-list .qa-content .static-count .val {
  display: block;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.key{
  font-size: 18px;
  font-weight: normal;
}
.mod-qa-list .qa-content .static-count.hasanswer .answer {
  color: #00b33b;
}
.mod-qa-list .qa-content .wait-answer {
  color: #ff7802;
  font-size: 12px;
}
.mod-qa-list .qa-content .wait-answer strong {
  font-weight: bold;
}

.mod-qa-list .qa-header {
  font-size: 16px;
  color: #363d40;
  position: relative;
}
.mod-qa-list .qa-header .qa-header-cnt {
  padding-left: 26px;
  position: relative;
  top:-20px;
}

 .myanswer,.what-credit {
  color: #787d82;
}
.wait-answer {
  margin-right: 16px;
}
.myanswer {
  font-weight: bold;
}
.myanswer:hover,
.what-credit:hover {
  color: #14191e;
}
.qa-header-cnt a:hover i{
	color:red;
	text-decoration:underline;
}
.replydes {
	position:relative;
	top:-20px;
  margin-left: 26px;
  color: #99a1a6;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.split-l {
  display: inline-block;
  height: 12px;
  width: 1px;
  <!--vertical-align: -2px;-->
  background-color: #d0d6d9;
  margin: 0 7px 0 9px;
}
.qa-footer {
  padding-left: 27px;
  margin-top: 18px;
  color: #999;
  width: 605px;
  font-size: 12px;
}
.qa-footer .from {
  color: #999;
  font-size: 12px;
  margin-left: 30px;
}
.mod-qa-list .qa-medias img {

  border-radius: 100%;
}

 .qa-tit i {
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 22px;
    font-style: normal;
    color:#14193a;
    padding-left:10px;
    font-family: 微软雅黑;
    font-size: 13px;
}

a{
  text-decoration:none;
}
.qa-content {
  padding-right: 110px;
  min-height: 85px;
  position: relative;
  overflow: hidden;
  top:-110px;
  left:90px;
  width:900px;
}
.static-item {
  display: inline-block;
  vertical-align: top;
  color: #787d82;
  }
  .answer {
  margin-right: 26px;
      color: #00b33b;
}
 .val {
  display: block;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.key{
  font-size: 12px;
  font-weight: normal;}
 .name {
display: block;
margin-top: 10px;
line-height: 16px;
color: #99a1a6;
/* font-size: 14px; */
white-space: nowrap;
overflow: hidden;
word-wrap: break-word;
word-break: break-all;
margin-left: 10px;
}
.animg{
	background:url('@url("/images/danew.png")') no-repeat 0px 8px;
}

.animgNo{
	background:url('@url("/images/danew.png")') no-repeat 0px -24px;
}
.animgYe{
	background:url('@url("/images/danew.png")') no-repeat 0px -54px;
}

#titleShow i:hover {
  color: #b60005;
  text-decoration: underline;
}
</style>
<div class="course-description course-wrap">
	@form("file-form"){
		<div style="width:92%;padding-top:10px;">
  			@input(
  				id:"form",
				label:"标题", 
				name:"title", 
				groupcss:"", 
				required: true, 
				maxlength:"50", 
				value:"", 
		         )
		</div>
 		<div style="margin-left:-15px;">
 			@ue_image_video(label:"内容", height:100,width:"96%", value:"")
 		</div>
		<div style="padding-right:50px;">
			@btnbox(align:"right"){
				@button(label:"发布",iconcss:"fa fa-plus",onclick:"release",innerType:"", id:"btnAdd")				
			}	
		</div>
		<div class="clearfix"></div>
	}
</div>


<div style="background:white;">
	@line_list(url:("/pub/faq/faqList.action?linkId="+linkId+"&linkType="+linkType+"&sortName=createDate&sortOrder=desc"), pageSize:5){
		@list_filter(){
			[
				{label:"全部", filterKey:"flagBest", filterValue:"",on:true},
				{label:"已解决", filterKey:"flagBest", filterValue:"0"},
				{label:"待解决", filterKey:"flagBest", filterValue:"1"}
			]
		}
		@list_item(renderItemFunction:"renderItemContent"){
			<div style="position: relative;background-color: #ffffff;height: 150px;font-size: 12px;">
    			<div style="margin:30px 0px 30px 30px;float:left;min-width:80px;">
      				 <img style="border-radius: 100%;" src="@url("/pub/image.action?fileId=%questionUserImage")" width="40" height="40">
     				 <span class="name">%questionUserName</span>
   				 </div>
				<div style="padding:30px 5px 5px 10px;display:table;">
					<div style="display:table-row;">
						<div class="animgYe" style="display:%isanYe;">
							<span style="padding-left:20px;">
								%title
          						<!-- %sendPoint -->
							</span>						
						</div>
						<div class="animgNo" style="display:%isanNo;">
							<span style="padding-left:20px;">
								%title
          						<!-- %sendPoint -->
							</span>						
						</div>						     
          				<div style="padding-top: 10px;display:%coanYe;">
            				<span style="display:inline-block;color: #ff7802;font-size: 12px;">
            					  快来回答问题，解决疑惑吧！<!-- 最佳答案可 + -->
              					<!-- <strong>%points积分</strong> -->
            				</span>
            				<a href="#" style="padding-left: 30px;">
              					<span style="font-size: 16px;font-weight: normal;color: #787d82;">
                					%myanw
              					</span>
            				</a>
          				</div>
					</div>	
					<div style="display:table-row;padding-top: 10px;display:%coanNo;">
						<div style="margin:0px;padding:0px;display:table;">
							<div style="display:table-cell;">
								<span style="display:%newAnH;">
             						<div class="animg">
             							<span style="padding-left:20px;">
             								[最新回答]
             							</span>
             				
             						</div>           			
             					</span>
             					<span  style="color:#39b94e;display:%adoptedH;">             	            			
             						<div class="animg">
             							<span style="padding-left:20px;">
             								[已采纳的回答]
             							</span>             				
             						</div> 
             					</span>
							</div>
							<div style="display:table-cell;">
								<img style="border-radius: 100%;margin-left:10px;" src="@url("/pub/image.action?fileId=%answerUserImage")" width="20" height="20">            		
								<span style="display: inline-block;">%answerUserName</span>
             					
							</div>
							<div style="display:table-cell;width:280px;padding-left:10px;">
								<span >%answerContent</span>
							</div>
						</div>					
					</div>	
					<div style="display:table-row;">
						<div style="padding-top: 10px;padding-bottom: 10px;padding-right:80px;">
							<span  style="color: #999;font-size: 12px;">时间：%answerCreateDate
             				</span>
             				<span style="color: #999;font-size: 12px; margin-left: 30px;">
               				源自：%answerFromTitle
             				</span>
             			</div>
					</div>	
				</div>

   			 <div style="position: absolute;top:50px;right:80px;">
             	<span class="static-item answer">
             	 	<b class="val">%answerCount</b>
             		<span class="key">回答</span>
           		</span>
          		 <span class="static-item" >
              		<b class="val">%viewNum</b>
             		<span class="key">浏览</span>
          		 </span>
   			</div>
    		<div style="clear: both;"></div>
  		</div>
			
		
		
		
		}
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

<script>

	
	function renderItemContent(itemContent, obj) {
		var title=hideStringByMax(obj.title,15)
		var linkId="@linkId";
		var linkType="@linkType";
		var sendPoint=""; 
		var myanw="";
		var newAnH="none";
		var adoptedH="none";
		var isanNo="none";
		var isanYe="none";
		var coanNo="none";
		var coanYe="none";
		if(obj.adoptAnswerId){
			/* sendPoint=sendPoint="&nbsp;&nbsp;&nbsp;<span style='color:red'>+"+replaceOr(obj.sendPoint)+"积分</span>" */
		}
		title=  "<a id='titleShow' href='@url("/pub/faq/faqCourseChapterList.action?linkId=")"+linkId+"&linkType="+linkType+"&qaQuestionId="+obj.id+"&sendPoint="+replaceOr(obj.sendPoint)+"' target='_blank' class='qa-tit' ><i>"+replaceNull(title)+"</i></a>";
		
		if(obj.answerCount){
			if(obj.adoptAnswerId){
			 	newAnH="none";
				adoptedH="block";
				isanYe="block";
				isanNo="none";
			}else{
				newAnH="block";
				adoptedH="none";
				isanNo="block";
				isanYe="none";
			}
			coanNo="block";
         
		}else{
			 myanw=
            "<a href='@url("/pub/faq/faqCourseChapterList.action?linkId=")"+linkId+"&linkType="+linkType+"&qaQuestionId="+obj.id+"&sendPoint="+replaceOr(obj.sendPoint)+"' class='myanswer' target='_blank'>我来回答</a><span class='split-l'></span>"+
            "<a href='' target='_blank' class='what-credit' style='visibility:hidden;'>什么是积分</a>";
			coanYe="block";
			isanNo="block";
		}
		
		var answerContent="";
		if(obj.answerContent){
			answerContent=hideStringByMax(obj.answerContent.text(),18);
		}
		return itemContent.replace(/%title/g,title)
		.replace(/%questionUserName/g, replaceNull(hideStringByMax(obj.questionUserName,6)))
		.replace(/%questionUserImage/g, replaceNull(obj.questionUserImage))
		.replace(/%myanw/g,myanw)
		.replace(/%points/g,replaceOr(obj.sendPoint))
		.replace(/%viewNum/g,replaceOr(obj.viewNum))
		.replace(/%answerFromTitle/g,replaceNull(obj.answerFromTitle))
		.replace(/%answerCreateDate/g,replaceDate(obj.createDate))
		.replace(/%answerCount/g,replaceOr(obj.answerCount))
		.replace(/%sendPoint/g,sendPoint)
		.replace(/%answerUserName/g,replaceNull(hideStringByMax(obj.answerUserName,4)))
		.replace(/%answerContent/g,answerContent)
		.replace(/%newAnH/g,newAnH)
		.replace(/%isanYe/g,isanYe)
		.replace(/%isanNo/g,isanNo)
		.replace(/%adoptedH/g,adoptedH)
		.replace(/%coanNo/g,coanNo)
		.replace(/%coanYe/g,coanYe)
		.replace(/%answerUserImage/g,replaceNull(obj.answerUserImage));
	}
	
	
	
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
    function replaceOr(str){
    	if(str){
    		return str;
    	}
    	return "0";   
    } 
    function replaceDate(str){
    	if(str == null || str == "undefind"){
				return "";
			}else{
				return dateFormat(str);;
			}
    }
    function release(){
    	@if(WebContext.isGuest()) {
			toLoginFun(window.location.href)
		} else {
	    	 $('#file-form').bootstrapValidator('validate');
	    	 if($('#file-form').data('bootstrapValidator').isValid()){
	    	 	var title=$('#form').prop("value");
	    	 	//var sendPoint=$('#formNum').prop("value");
	    	 	var sendPoint=0;
	    	 	var content= ue.getContent();
	    	 	var linkId="@linkId";
	    	 	var linkType="@linkType";
	    	 	$.ajax({ 
	                url: "@url("/pub/faq/publishQuestion.action")",
	                data:{linkId:linkId,linkType:linkType,title:title,content:content,sendPoint:sendPoint},
	                method:"post",  
	                bodyMsg:true,
	                mask:true,
	                success: function(result){
	                if(result.status){
	                	 //$('#formNum').value="";
	                	// $('#form').value="";
	                	// $("p").empty();
	                	$('#form').prop("value",""); 
	                	$('#formNum').prop("value",""); 
	                	//$(".view").lastChild.innerHTML='';
	                	bodyMessage('success', "添加成功")                 
	                   listReflash();
	                }
	                   
	                }
	            });
	    	 
	    	 }
    	 }
    }
    
</script>
</div>
