@import(){com.cloudsoaring.web.course.constant.*}
@args Boolean visible = true,
String linkId = "",
String linkType = "",
Boolean userInvolvement = false,
String id = ""

@{
	final String url = url("/pub/question/questionnaireDetial.action")+"?linkId="+linkId+"&linkType="+linkType;
	final String subUrl = url("/pub/question/submitQuestionnaire.action");	
}

@if(visible){
	@if(!userInvolvement){
		<div id="@id">
			
		</div>
		
		@assign("question_list"){
			<div class="div_question">
				<!-- 题目，题目ID，用户于提交 -->
				<input class="hidden_question hidden_%question_id" type="hidden" value="%question_id"/>%question_index.&nbsp;%question_content&nbsp;&nbsp;
				<!-- 用于显示用户选择的答案 -->
				<span style="color:red;" class="user_answer_%question_id"></span>
			</div>
		}
		
		@assign("question_option"){
			<div class="div_option">
				<div class="%input_type">
					<label>
						<input type="%input_type" name="option_%question_id" value="%option_id" onclick="changeValue('%question_id')">
						<span style="margin-left:10px;">%abc&nbsp;:&nbsp;%option_content</span>
					</label>
				</div>
			</div>
		}
		
		@assign("question_submit"){
			<div style="padding:30px;text-align:center;">
				<button class="btn btn-normal" onclick="submitQuestion()">提交</button>
				<button style="margin-left:30px;" class="btn btn-normal" onclick="closeQuestion()">取消</button>
			</div>
		}
		
		<script>
			var abcd = ['A','B','C','D','E','F','G','H','I','J','K'];
			$(function(){
				//检索问题列表
				searchQuestionList();
			});
			
			var measureId = '';
			//检索问卷问题列表
			function searchQuestionList(){
				$.ajax({
					url:"@url",
					data:{},
					type:"post", 
					bodyMsg:true,
					mask:false,
					success:function(result){
						//拼接字符串
						var questions = result.data;
						//遍历数组，每一项都是一个问卷题目+选项
						var str = '';
						for(var i=0;i<questions.length;i++){
							//题目+选项的html字符串
							var itemStr = '';
							//具体的一项问卷题目+选项
							var question = questions[i];
							measureId = question.measureId;
							//问卷题目的ID
							var questionId = question.id;
							//此问卷题目下的选项数组
							var options = question.option;
							//选项的html字符串
							var optStr = '';
							for(var j=0;j<options.length;j++){
								//具体的一个选项
								var opt = options[j];
								//判断题目类型
								var inputType = "";
								if(question.questionType == '@CourseStateConstants.QUESTION_TYPE_RADIO' || question.questionType == '@CourseStateConstants.QUESTION_TYPE_JUDGMENT'){
									inputType = "radio";//单选
								}else if(question.questionType == '@CourseStateConstants.QUESTION_TYPE_MULT'){
									//多选
									inputType = "checkbox";
								}
								optStr += '@es(question_option).raw()'.replace(/%input_type/g,inputType).replace(/%option_id/g,opt.id).replace(/%abc/g,abcd[j]).replace(/%option_content/g,opt.content);
							}
							itemStr = '@es(question_list).raw()'.replace(/%question_index/g,(i+1)+"").replace(/%question_content/g,question.content) + optStr;
							itemStr = itemStr.replace(/%question_id/g,question.id);
							str += itemStr;
						}
						str += '@es(question_submit).raw()';
						//将字符串填充
						$("#@id").html(str);
					},
					fail:function(result){
						//noticeError(result.messages);
					}
				});
			}
			
			//选项值改变
			function changeValue(questionId){
				var selectOptions = new Array();
				$("#@id input[name='option_"+questionId+"']").each(function(index){
					if($(this).is(':checked')){
						selectOptions.push(abcd[index]);
					}
				});
				if(selectOptions.length > 0){
					var ss = selectOptions.join("、");
					$("#@id .user_answer_"+questionId).text("（"+ss+"）");
				}
			}
			
			//关闭
			function closeQuestion(){
				$("#@id").hide();
				$("#question"+"@id").hide();
				$("#question"+"@id").removeClass("active");
			}
			
			//提交
			function submitQuestion(){
				//题目IDS
				var questionIds = new Array();
				//用户选择的答案IDS
				var userAnswer = new Array();
				$("#@id .hidden_question").each(function(index){
					var questionId = $("#@id .hidden_question:eq("+index+")").val();
					questionIds.push(questionId);
					//用户选择
					var options = new Array();
					$("#@id input[name='option_"+questionId+"']").each(function(j){
						if($(this).is(':checked')){
							options.push($(this).val());
						}
					});
					userAnswer.push(options.join(";"));
				});
				//提交
				$.ajax({
					url:"@subUrl",
					data:{questionIds:questionIds.join(","),optionIds:userAnswer.join(","),measureId:measureId},
					type:"post", 
					bodyMsg:true,
					mask:false,
					success:function(result){
						//提交成功
						noticeInfo("提交成功！");
						var str = '<div id="@id" style="font-size:14px;color:#666666">感谢您的参与！</div>';
						$("#@id").html(str);
						location.reload(true);
					},
					fail:function(result){
						noticeError(result.messages);
					}
				});
			}
		
		</script>
	}else{
		<div id="@id" style="font-size:14px;color:#666666">
			您已参与过！
		</div>
	}
}