@args String id = "tagDiv",
String itemSelectedFun = ""




@{
	String preString = new Date().getTime() + "";
	String hiddenTagsId = id + "tags";
}

<div id="tagQueryNav" style="margin-bottom:20px; background-color: #fff;">
	<div id="@id" class="top">
		
	</div>
	@hidden(name:hiddenTagsId)
</div>

<style>

.tagLineDiv{
	border-bottom: 1px solid #edf1f2;
}

.tagSpan{
	/* float: left;
    font-size: 15px;
    font-weight: 700;
    padding-top: 5px; */
    width: 50px;
    font-weight: 700;
    font-size: 14px;
    color: #b60006;
    text-align: left;
    position: absolute;
    padding-top: 7px;
}
.tagUl{
	/* margin-left: 40px; */
}
.tagSpan ul{
	    margin-bottom: 0px;
}
.tagItem {
    display: inline-block;
    /* margin: 0 4px; */
}
.tagItem a{
	/* background: rgb(182, 0, 5,.1); */
    border-radius: 6px;
    /* color: #b60005; */
    color: #000;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
}
.tagItem a:hover  {
   cursor: pointer;
   color: #b60005;
   font-weight: 600;
}
.tagItem.tagItemon a{
    color: #b60006;
   /*  background-color: #b60006; */
    border-radius: 10px;
   	background: rgb(183, 4, 7,.1);
    font-weight: 700;
}
.tagItem:hover  {
   cursor: pointer;
   color: #b60006;
}
.bd{
    margin-left: 20px;
}

</style>
@assign("tagClass") {
	<div id="divClass%no" class="course-nav-row">
	
		<span id="spanClass%no" class="tagSpan"  data-tagclassid="%no">%name：</span>
		<div class="bd">
			<ul id="ulClass%no" class="tagUl %flagHasParent" data-parenttypeid="%parentId" style="margin-bottom: 0px;">
			<li class="tagItem allData tagItemon" onclick="tagItemClick@(preString)('%no', this)">
				<a href="#">全部</a>
			</li>
			%items
		</ul>
		</div>
	</div>
}
@assign("tagItem") {
	<li id="li%no" class="tagItem noalldata"  data-parenttagid="%parentId" onclick="tagItemClick@(preString)('%ulNo', this)">
		<a href="#" data-ct="fe">%itemName</a>
	</li>
}	
<script>
	$(function(){
		$("#@id").data("initTag", initTag@(preString));
		$("#@id").data("getTagSelect", getTagSelect@(preString));
	})
	
	function getTagSelect@(preString)(){
		return $('#@(hiddenTagsId)').data('tag');
	}
	//标签定义
	function initTag@(preString)(data) {
		if(!data) {
			return ;
		}
		var str = '';
		$(data).each(function(index){
				var tagItems = "";
				var objInfo = this;
				var flagHasParent = "";
				var parentId = "";
				if(this.parentId)  {
					flagHasParent = "hasParent";
				}
				$(this.list).each(function(itemNo){
					tagItems += "@es(tagItem).raw()"
										.replace(/%no/g,this.tagId)
										.replace(/%ulNo/g, objInfo.tagTypeId)
										.replace(/%parentId/g, this.parentId ? this.parentId : "")
										.replace(/%itemName/g,this.tagName);
				});
				var tagTypeName = "";
				if(this.tagTypeName == "方向"){
					tagTypeName = "分类";
				}else{
					tagTypeName = this.tagTypeName;
				}
				 str += "@es(tagClass).raw()"
									.replace(/%no/g,this.tagTypeId)
									.replace(/%name/g,tagTypeName)
									.replace(/%flagHasParent/g,flagHasParent)
									.replace(/%parentId/g,this.parentId ? this.parentId : "")
									.replace(/%items/g,tagItems);
				
		});
		$("#@(id)").html(str);
	}
	
	function tagItemClick@(preString)(typeId, el) {
		var ulClass = 'ulClass' + typeId;
		$("#" + ulClass + " .tagItemon").removeClass("tagItemon");
		$(el).addClass("tagItemon");
		
		
		//获取所有选中的标签
		var selectedTags = $('#@(hiddenTagsId)').data('tag');
		if(!selectedTags) {
			selectedTags = {};
		}
		//有ID，可不是全部
		if($(el)[0].id) {
			selectedTags[typeId] = $(el)[0].id.replace("li","");
		} else {
			selectedTags[typeId] = '';
		}
		
		
		
		$('#@(hiddenTagsId)').data('tag', selectedTags)
		@if(StringUtil.isNotEmpty(itemSelectedFun)){
			@(itemSelectedFun)();
		}
		//处理子集标签
		//processChildTag@(preString)(typeId, selectedTags[typeId]);
	}
	//处理子标签
	//如果父标签被选中，则子集标签只显示相应部分
	function processChildTag@(preString)(parentTypeId, parentTagId){
		//子集标签选中全部
		$('.hasParent').each(function(index){
			var $this = $(this);
			var thisParentTypeId = $this.data('parenttypeid');
			if(thisParentTypeId == parentTypeId) {
				var ulClass = $this[0].id;
				//选中全部标签
				tagItemClick@(preString)(ulClass.replace("ulClass",""), $("#" + ulClass + " .allData")[0])
				//处理子标签是否显示
				$("#" + ulClass + " .noalldata").each(function(liIndex){
					var $li = $(this);
					var liParentId = $li.data("parenttagid");
					if(parentTagId && liParentId == parentTagId){
						$li.show();
					}
					if(parentTagId && liParentId != parentTagId){
						$li.hide();
					}
					if(!parentTagId) {
						$li.show();
					}
				});
				
			}
		});
		
		
	}
</script>