/*登录页样式*/
.login-top,.login-bottom{
  background: -webkit-gradient(linear, 0% 0, 100% 0, from(#da4453), to(#F597A0)) !important;
  background: -ms-linear-gradient(left,#da4453 0%,#F597A0 100%) !important;
  background: -moz-linear-gradient(left, #da4453, #F597A0) !important;
  color:white;
}
.login-center{
  background: -webkit-gradient(linear, 0% 0, 100% 0, from(#F597A0), to(#da4453)) !important;
  background: -ms-linear-gradient(left,#F597A0 0%,#da4453 100%) !important;
  background: -moz-linear-gradient(left, #F597A0, #da4453) !important;
}
.dialog-loading,.error-code{
	color: #b60006 !important;
}
.navbar-inverse {
	/* background-color: #333333;
	border-color: #333333; */
}
.loading-circle, .loading-circle-small {
	border-top: 2px solid #b60006 !important;
}
.spin-icon {
  background: #b60006;
}
#pageTitle{
	border-left-color:#b60006;
}
.list-group-item,.list-group-item:hover,.list-group-item:focus {
    background-color: #b60006 !important;
    border-color: #b60006 !important;
    background:#b60006 !important;
	background-image: none !important;
}
.list-group-item{
	color:#fff !important;
}
.list-group-item:hover{
	color:#ddd !important;
}

.pace .pace-progress {
  background: #b60006;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-header a:hover, .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,
.tabs-rythm>li>a:hover ,.tagsinput-add:hover,.tagsinput .tag,.tagsinput .rtag
{
	/* background-color:#b60006 !important; */
}
.btn-normal, .btn-normal:focus,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover,
.tabs-rythm>li.active>a, 
.tabs-rythm>li.active>a:focus, 
.tabs-rythm>li.active>a:hover,
.panel-normal>.panel-heading,
.badge-normal, .tagsinput .tag:hover,
.label-normal {
	background-color:#b60006 !important;
}
.btn-normal, .btn-normal:focus,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover,
.panel-normal>.panel-heading,
.badge-normal,
.label-normal,
.tab-content {
	border-color:#b60006 !important;
}
.areahead{
	color: #EA7A85;
}
.btn-normal:hover{
	background-color:#b60006 !important;
	border-color:#b60006 !important;
}
a.iconlink-rythm:hover{
	color:#b60006 !important;
}
a.iconlink-rythm,a.iconlink-rythm:focus{
	color:#333333;
}
/*菜单主题*/
#left-side .list-group-item[data-toggle="collapse"]{
	color:#FFF;
	background-color: #b60006;
}
#left-side>#sidebar>#accordion>.list-group-item{
	border-color: #b60006;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"].collapsed {
   color: #616060; 
}
/**Dialog*/
.type-primary.bootstrap-dialog .modal-header {
	background-color:#b60006;
}
.close{
	text-shadow: 1px 2px 2px #475057;
}
.bootstrap-dialog-title{
	text-shadow: 2px 2px 2px #475057;
}
/*Table标题*/
.fixed-table-container{
	border-color:#DDD;
	border-top-color:#D8D8D8;
}
.table-rythm thead tr th{
	color:#fff;
}
/*Switch*/
.has-switch span.switch-oon{color:#fff;background:#b60006}
.has-switch span.switch-ooff{color:#fff;background:#b60006}
/*二级菜单 展开*/
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed){
	border-left-color:#b60006;
	background-color:rgba(230, 230, 230, 1) !important;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed),a.np-title.active,a.np-title:hover,
#left-side .list-group .list-group .list-group-item.active, #left-side .list-group .list-group .list-group-item.active:hover, #left-side .list-group .list-group .list-group-item.active:focus {
	color: #b60006;
}
a.np-title.active{
	border-bottom:3px solid #b60006;
}
a.selector-item-rythm{
	color:#000000;
}
a.selector-item-rythm:hover{
	color: #b60006;
}
a.selector-item-rythm.selector-active-rythm{
	color: #b60006;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot,
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
	background: #EF9999; 
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
	background: #b60006;
} 
/*非主色调 可以不换*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
	color: #fff;
}
.jstree-proton .jstree-hovered {
  background: rgb(229, 229, 229);
  color: rgb(0, 0, 0);
}
.dm-footer{
	background-color:#0e112a;
	border-color:#0e112a;
	color:#8A8A8A;
}

#left-side .list-group .list-group .list-group-item[data-toggle="collapse"] .fa:after,
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"].collapsed .fa:after{
	color: #616060; 
}
#left-side a.list-group-item.active{
	border-color: #e6e9ed;
}
.dm-empty-bar:hover{
	background-color:#e6e9ed;
}
.input-group-addon {
	color: #000;
	background-color: #e6e9ed;
}
.login-title{
	color:#b60006;
}
.flex-control-paging li a.flex-active {
	background-color: #b60006 !important;
}