﻿@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(client)
@args String title = "我的评论"
@args DiscussDataEntity condition

<div style="margin-bottom:20px; background-color: white;padding: 10px 50px 10px 50px;">
	<div style="float:left; width:100px;font-weight: bold;">
		<span class="center-content-title-p ">@MessageUtil.getMessage("我的评论")</span>
	</div>
	<div style="width:100px;margin-left:800px;">
		<span>@MessageUtil.getMessage("全部")</span>
	</div>
</div>

@line_list(url:("/pub/discuss/userDiscussList.action?"), pageSize:10){	
	@list_item(renderItemFunction:"renderItemContent") {
		<div class="discussList" style=" width: 100%; overflow: hidden; padding: 15px;position:relative; background-color: rgb(255, 255, 255);">
			<div  style="float:left;height:100px; width:60px;" >
				<img style="border-radius:100%"; width=60px; height=60px; src="@url("/pub/image.action?fileId=%image")">
				<div style="height:30px; ">
					<span style="float:left;font-weight: bold; padding:10px 12px;">%personName</span>
				</div>
			</div>
			<div style="height:20px; width:90%; margin-left:100px ;  color:#999999;"  >
				%content
			</div>
			<div style="margin-top:30px;height:10px;  margin-left:100px ;  font-size:10px; color:#999999;" class="center-font-content" >
					%createDate&nbsp;
				<span class="center-content">@MessageUtil.getMessage("源自:")%title</span>
			</div>
			<div style="float:right;width:100px; margin-top:20px;height:20px;  margin-left:1000px ;  font-size:10px; color:#999999;">
				<span class="gh gh-thumbs-up">@MessageUtil.getMessage("点赞数")</span>
					%numLike
			</div>
			<div style="width:10px; height:10px; color:#999999;position:absolute;top:10px;right:10px;">
				<span class="gh gh-remove"></span>
			</div>
		</div>
	}
}


	
	
<script>

	function renderItemContent(itemContent, obj) {
		var title = hideStringByMax(obj.title,200);
		var content = hideStringByMax(obj.content,100);
		var personName = hideStringByMax(obj.personName,50);
		var createDate = hideStringByMax(obj.createDate,20);
		var numLike = hideStringByMax(obj.numLike,11);
		return itemContent
					.replace(/%numLike/g, replaceNull(numLike))
					.replace(/%title/g, replaceNull(title))
					.replace(/%personName/g, replaceNull(personName))
					.replace(/%content/g, replaceNull(content))
					.replace(/%createDate/g, replaceNull(dateTimeFormatMi(createDate)))
					.replace(/%image/g,obj.image);
	}
 //替换null为空字符串
   function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
</script>
