@args String title = "道具新增", 
PropsEntity props
@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
   com.cloudsoaring.web.trainingplatform.entity.*;
   com.cloudsoaring.web.course.constant.CourseMsgNames;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
}
@extends(blank, title:title, pageLoading:pageLoading)
<div style="width:70%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
     @form("file-form"){
            @input(label:"道具名称",name:"propsName",value:props.getPropsName(),required:true,groupcss:"col-10",maxlength:"50")
            @input_float(
                label:"道具价格",
                name:"price",
                value:props.getPrice(),
                required:true,
                groupcss:"col-10",
                maxlength:"12", 
                unitstring:"积分"
            )
            @input_float(label:"好感度",name:"numFavour",value:props.getNumFavour(),required:true,groupcss:"col-10",maxlength:"12")
            @hidden(id:"id", name:"id", value:props.getId())
            @file(
               label:"道具图标",
               required:true,
               name:"image",
               fileextion: "jpg ,png",
               fileid:props.getPropsIcon(),
               filename:props.getPropsIconName(),
               placeholder:"请选择需要上传的道具图标",
               groupcss:"col-10"
            )
           @btnbox(){
               @button_save(width:100)
               @button_close(width:100, onclick:"closeWindow")
           } 
      }
</div>
<script>
    function save() {
        $('#file-form').bootstrapValidator('validate');
        var validate = $('#file-form').data('bootstrapValidator').isValid();
        if(validate){
            var params = new FormData($('#file-form')[0]);
            $.ajax({ 
                url: "@url("/manager/props/addProps.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.history.go(-1);
                    });
                }
            });
        }
    }
    function closeWindow() {
       //window.close();
       window.history.go(-1);
    }
</script>
