@args String title = "道具详情查看",
PropsEntity props
@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.trainingplatform.entity.*;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
   java.math.BigDecimal;
    com.cloudsoaring.web.trainingplatform.utils.*;
    com.cloudsoaring.common.utils.*;
}
@extends(blank, title:title, pageLoading:pageLoading)
<div style="width:80%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:30px;">
    <div class="row" >
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B">道具详情</div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>道具名称：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@props.getPropsName()</div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"><span>道具图标：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
            @picture(
                 label:"",
                 id:"picture",
                  height:"60px", 
                 groupcss:"col-2",
                 url:"pub/image.action", 
                 fileid: props.getPropsIcon(), 
                 filename:props.getPropsIconName(), 
                 viewmode:true
             )
        
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>价格：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">
	        @if( props.getPrice()!=null){
	            @props.getPrice() 积分
	        }
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>好感度：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
            @props.getNumFavour()
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>创建时间：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
           @DateUtil.getDateString(props.getCreateDate(), DateUtil.DATE_PATTERN_06 )
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_back(style:"width:200px;height:50px;",onclick="goBack")</span>
        </div>
    </div>
</div>
<script>

</script>
