.tip-simple {
	z-index:1000;
	text-align:left;
	box-shadow: 1px 1px 3px 2px #E5E9EC;
	 
	border-radius:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	padding:16px 18px;
	min-width:250px;
	max-width:300px;
	color:#000;
	background-color:white;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-simple .tip-inner {
	font:12px/16px arial,helvetica,sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-simple .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(img/tip-simple_arrows.gif) no-repeat;
}
.tip-simple .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(img/tip-simple_arrows.gif) no-repeat -9px 0;
}
.tip-simple .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(img/tip-simple_arrows.gif) no-repeat -18px 0;
}
.tip-simple .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(img/tip-simple_arrows.gif) no-repeat -27px 0;
}