@args String title = MessageUtil.getMessage(TpMsgNames.INDEX_DETAIL_TITLE),
String infoId =""
@extends(client,title:getPageTitle(title), "text_info")

@{
	final String uurl = url("/pub/indexInfo/searchInfoDetail.action?infoId="+infoId);
}
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
 		     com.cloudsoaring.web.trainingplatform.entity.InfomationEntity
}
<style>
.infoTitle{
	font-size: 22px;
}
#detail_content{
	margin-top: 30px;
}
#detail_content video,#detail_content img{
} 
#info_category span{
	height:35px;
	font-size:24px;
	font-family: "@MessageUtil.getMessage(TpMsgNames.COURSE_FONT_BLACK_COLOR)";
	color:#000000;
	padding:5px;
	margin-top:24px;
	line-height:24px;
}
#titleDiv:hover{
	white-space:normal;
}

#detail_title{
	font-size: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#detail_title:hover{
	white-space:normal;
}
        
</style>
<div style="width:100%;">
	<!-- <nav class="navbar navbar-inverse" role="navigation" id="top-nav" style="margin-bottom: 0; border: 0;height: 60px;line-height: 60px;">
		<div style="width: 100%;">
			<ul class="nav navbar-nav"  ng-controller="ctrNav" style="width:100%;">
 				<li style="width:100%;">
 					<span class="my-nav-title" style="float:left;font-size: 20px;color: #ffffff;margin-left: 20px;" ng-bind="textTitle" id="detail_title"></span>
 					<span class="my-nav-sub-title gh gh-time infoTime" style="float:left;font-size: 20px;color: #ffffff;margin-left: 50px;" id="detail_date"></span>
					<div style="float: right;color: white;margin-right: 30px;font-size: 18px;cursor:pointer;" onclick="returnTable();">返回</div>
				</li>
			</ul>
		</div>
	</nav> -->
	<div style="background-color: white;width: 1152px;margin: auto;margin-top: 30px;border-radius: 12px;">
		<div style="padding-top: 10px;padding-right: 50px;padding-left: 50px;padding-bottom: 15px;">
	    	<h1 style="font-size: 22px;" id="detail_title"></h1>
	    </div>
    <div>
    	<p style="border-top: 7px solid #b60005;line-height: 30px;margin-left: 50px;margin-right: 50px;">
    		<span class="my-nav-sub-title gh gh-time infoTime" style="float: right;color: gray;font-family: 微软雅黑;" id="detail_date"></span>
    	</p>
    </div>
    
    
	<p id="detail_content"></p>
</div>
<div class="clearfix"></div>
<script>
	$(function(){
		$(".tp_nav_title").removeClass("active");
		$("#text_info").addClass("active");
		//从后台检索分类
		$.ajax({
			url : "@url("/pub/indexInfo/searchCategory.action")",
			type : "post",
			bodyMsg:true,
			success : function(result) {
				if (result.status) {
					var cid = '';
					var objs = result.data;
					var str = '';
					$(objs).each(function(index) {
						var obj = objs[index];
						if(index == 0){
							cid = obj.id;
						}
						str += '<span id="category_'+ obj.tagId+ '"  class="navbar-text .navbar-left">'+ obj.tagName + '</span>';
					});
					$("#info_category").html(str);
					getDetailInfo();
				}
			}
		});
		
	});
	
	function getDetailInfo(){
		//根据平台信息ID，检索平台信息详情
		var infoId = $("#infoId").val();
		$.ajax({
			url:"@uurl",
			type:"post",
			success:function(result){
				if(result.status){
					var obj = result.data;
					$("#detail_title").html(obj.title);
					$("#detail_date").html(dateFormat(obj.createDate));
					$("#detail_img").attr("src","@url("/pub/image.action?fileId=")" + obj.pictureId);
					console.log(obj.content);
					$("#detail_content").html(obj.content);
					$("#category_"+obj.categoryId).css("border-bottom","2px red solid");
				}
			}
		});
	}
	
	function returnTable(){
		var location = window.location.host;
		 window.location.href="http://"+location+"/pblMgr/pub/indexInfo/toIndex.action";	
		
	}
	
</script>