@import(){
	com.cloudsoaring.web.social.constant.*,
	com.cloudsoaring.web.trainingplatform.utils.*
}
@extends(client_blank,title:"",activeMenu:"text_coach")
@args String teacherInfo = "",String tutorDefList = "",String teacherList = "",String aboutThem="",String studentScoreList="",String teacherScoreList=""
@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}
<!-- css样式 -->
<style>
	.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px red solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}
	.techer_header_img{
		width:200px;
		height:200px;
		border:4px rgba(255,255,255,0.3) solid;
	}
	.coach_list_flag{
		background-image:url('@url("/images/bookmark.png")');
		background-repeat: no-repeat;
		background-size:200px 80px;
		background-position:left center;
	}
	.about_them:hover{
		color:#000000;
	}
	.student_score_active{
		color:red;
		border-bottom:1px red solid;
		font-size:18px;
	}
	.student_score{
		color:#666666;
		font-size:18px;
	}
	.student_score:hover{
		color:red;
		border-bottom:1px red solid;
	}
	
	.note_list_item{
	padding:30px 0px;
	border-bottom:1px #e1e1e1 solid;
}
.note_list_header_img{
	width:54px;
	float:left;
}
.note_list_img{
	width:50px;
	height:50px;
	border-radius:50%;
}
.note_list_person_name{
	font-size:14px;
	color:#333333;
	margin-top:14px;
	text-align:center;
}
.note_list_content{
	float:left;
	margin-left:10px;
	font-size:14px;
	color:#666666;
	width:750px;
	overflow-x:hidden;
}
.discuss_list_content{
	float:left;
	margin-left:10px;
	font-size:14px;
	color:#666666;
	width:700px;
	overflow-x:hidden;
}
.note_list_time{
	margin-top:30px;
	font-size:12px;
	color:#999999;
}
.page_li{
	padding:5px 10px;
	font-size:14px;
	color:#999999;
	margin-left:5px;
	display:inline-block;
}
.page_li_normal:hover{
	border-bottom:1px red solid;
}
.page_li_disabled{
	padding:5px 10px;
	font-size:14px;
	color:#999999;
	margin-left:5px;
	display:inline-block;
}
.page_li_normal{
	padding:5px 10px;
	font-size:14px;
	color:#999999;
	margin-left:5px;
	display:inline-block;
	cursor:pointer;
}
.page_li_active{
	padding:5px 10px;
	font-size:14px;
	margin-left:5px;
	display:inline-block;
	cursor:pointer;
	background-color:red;
	color:#ffffff;
}

</style>

<!-- angular开始 ngApp -->
<div ng-app="myApp">
	<div ng-controller="myCtrl">
		<!-- 最上面 -->
		<div style="background-color:#ffffff;padding-bottom:50px;">
			<!-- 背景图片 -->
			<div style="height:400px;overflow:hidden;">
				<img style="width:100%;height:400px;border:0;" ng-src="@url("/pub/image.action?fileId={{teacherInfo.backgroundImage}}")">
			</div><!-- 背景图片 end -->
			<!-- 导师头像 -->
			<div style="text-align:center;margin-top:-150px;">
				<img class="techer_header_img img-circle" ng-src="@url("/pub/headerThumb.action?fileId={{teacherInfo.image}}")">
			</div><!-- 导师头像 end -->
			<!-- 教师名称 -->
			<div style="margin-top:20px;text-align:center;font-size:36px;color:#000000;" ng-bind="teacherInfo.personName"></div>
			<!-- 职位 -->
			<div style="margin-top:20px;text-align:center;font-size:16px;color:#666666;">
				<span ng-bind="teacherInfo.position"></span>
				<span style="margin-left:20px;" ng-bind="teacherInfo.region"></span>
			</div>
			<!-- 响应状态 -->
			<div style="text-align:center;margin-top:20px;">
				<div style="text-align:center;width:600px;height:40px;line-height:40px;margin-left:auto;margin-right:auto;font-size:16px;border-top:1px #e1e1e1 solid;border-bottom:1px #e1e1e1 solid;">
					<span class="gh gh-time" style="color:red;"></span>
					<span style="color:red;margin-left:10px;" ng-bind="teacherInfo.avgResponseTime | formatResponseTime"></span><span style="color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_RESPONSE_TIME,"")</span>
					<span class="gh gh-eye-open" style="color:red;margin-left:80px;"></span>
					<span style="color:red;margin-left:10px;" ng-bind="teacherInfo.totalNumMeet|replaceToNumber"></span><span style="color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_SEE,"")</span>
					<span class="fa fa-smile-o" style="color:red;margin-left:80px;"></span>
					<span style="color:red;margin-left:10px;" ng-bind="teacherInfo.totalNumWish|replaceToNumber"></span><span style="color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_WISH_METTING,"")</span>
				</div>
			</div><!-- 响应状态 end -->
			<!-- 加入心愿单 -->
			<div style="text-align:center;margin-top:20px;">
				<button ng-if="'@WebContext.getSessionUserId()'==teacherInfo.masterId " style="width:280px;height:40px;font-size:16px;color:#ffffff;" class="btn btn-normal disabled" ng-click="joinOrder()"><span class="gh gh-gift"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_JOIN_WISH_ORDER)</span></button>
				<button ng-if="'@WebContext.getSessionUserId()'!=teacherInfo.masterId && '0'==teacherInfo.joinHeart " style="width:280px;height:40px;font-size:16px;color:#ffffff;" class="btn btn-normal" ng-click="joinOrder()"><span class="gh gh-gift"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_JOIN_WISH_ORDER)</span></button>
				<button ng-if="'1'==teacherInfo.joinHeart" style="width:280px;height:40px;font-size:16px;color:#ffffff;" class="btn btn-normal disabled" ng-click="joinOrder()"><span class="gh gh-gift"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_JOIN_WISH_ORDER)</span></button>
				<!-- <button ng-if="!alreadyJoin" style="width:280px;height:40px;font-size:16px;color:#ffffff;" class="btn btn-normal" ng-click="joinOrder()"><span class="gh gh-gift"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_JOIN_WISH_ORDER)</span></button> -->
				<!-- <span ng-if="alreadyJoin" style="width:280px;height:40px;font-size:16px;color:#666666;"><span class="gh gh-gift"></span><span style="margin-left:10px;">已加入心愿单</span></span> -->
			</div><!-- 加入心愿单 end -->
		</div><!-- 最上面 end -->
		<!-- 中间1200px部分 -->
		<div style="width:1200px;margin-left:auto;margin-right:auto;">
			<!-- 固定说明部分 -->
			<div style="height:100px;padding:0 30px;margin-top:30px;background-color:#ffffff;">
				<div style="width:780px;float:left;">
					<div style="font-size:24px;color:#333333;margin-top:20px;">@MessageUtil.getMessage(SocialMsgNames.TXT_TUTOR_INFORMATION_ONE)</div>
					<div style="font-size:14px;color:#666666;text-align:right;margin-top:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_TUTOR_INFORMATION_TWO)</div>
				</div>
				<div style="width:360px;float:left;text-align:right;height:100px;line-height:100px;">
					<img ng-src="@url("/images/logo.png")" style="width:36px;height:36px;">
					<span style="font-size:16px;color:#666666;">@MessageUtil.getMessage(SocialMsgNames.TXT_SYS_LOGO_TEXT)</span>
				</div>
			</div><!-- 固定说明部分 end-->
			
			<div style="width:1200px;margin-top:30px;margin-bottom:30px;">
				<!-- 中间区域 左侧830部分 -->
				<div style="width:830px;float:left;">
					<!-- 导师辅导列表 -->
					<div ng-repeat="item in coachList">
						<div style="padding:30px;background-color:#ffffff;margin-bottom:30px;overflow:hidden;">
							<div style="height:30px;overflow:hidden;margin-left:-45px;padding-left:45px;" class="coach_list_flag">
								<span style="font-size:20px;color:#ffffff;" ng-bind="item.price | replaceToNumber"></span>
								<span style="font-size:14px;color:#ffffff;" ng-if="!@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_MONEY)</span>
								<span style="font-size:14px;color:#ffffff;" ng-if="@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_POINT)</span>
								<span style="float:right;">
									<span style="font-size:20px;color:#333333;" ng-bind="item.tutorScore | replaceToNumber"></span>
									<span style="font-size:14px;color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_MINITER)</span>
								</span>
							</div>
							<div style="margin-top:20px;font-size:18px;color:#333333;" ng-bind="item.title"></div>
							<div style="margin-top:20px;font-size:14px;color:#666666;" data-ng-bind-html="item.content | to_trusted"></div>
							<div style="height:1px;border-bottom:1px #e1e1e1 solid;margin-top:20px;"></div>
							<div style="margin-top:20px;font-size:12px;color:#999999;">
								<span ng-bind="item.tutorDuration"></span>
								<span style="margin-left:20px;margin-right:20px;">|</span>
								<span>
									@MessageUtil.getMessage(SocialMsgNames.TXT_TUTOR_TALK,"{{item.totalNumMeet | replaceToNumber}}")
								</span>
								<span style="margin-left:20px;margin-right:20px;">|</span>
								<!-- 分享 -->
								@if("on".equalsIgnoreCase(ConfigUtil.getProperty(SocialConfigNames.SHOW_TUTOR_METTING))){
								<button ng-show="item.teacherId!='@WebContext.getSessionUserId()'" class="btn btn-normal" style="float:right;" ng-click="tutorAppointment($index)"><span class="fa fa-comment"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_TUROR_APPOINTMENT)</span></button>
								}
							</div>
						</div>
					</div><!-- 导师辅导列表 end-->
					<!-- 关于老师 -->
					<div style="padding:30px;background-color:#ffffff;margin-bottom:30px;">
						<div style="font-size:18px;color:#666666;">@MessageUtil.getMessage(SocialMsgNames.TXT_ABOUT_TEACHER)</div>
						<div style="font-size:14px;color:#666666;">
							<div style="margin-top:30px;">
								<img style="width:100px;height:100px;" ng-src="@url("/pub/image.action?fileId={{teacherInfo.image}}")"/>
							</div>
							<div style="margin-top:30px;" ng-bind="teacherInfo.remark">
								
							</div>
						</div>
					</div><!-- 关于老师 end -->
					<!-- 学员点评、老师推荐 -->
					<div style="padding:30px;margin-bottom:30px;background-color:#ffffff;min-height:200px;">
					@if("on".equalsIgnoreCase(ConfigUtil.getProperty(SocialConfigNames.SHOW_TUTOR_METTING))){
						<div ng-if="showTab == 0">
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;text-align:center;" class="student_score_active" ng-click="changeTab(0)">@MessageUtil.getMessage(SocialMsgNames.TXT_STUDENT_DISCUSS)</div>
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;margin-left:30px;text-align:center;" class="student_score" ng-click="changeTab(1)">@MessageUtil.getMessage(SocialMsgNames.TXT_TEACHER_COMMOND)</div>
						</div>
						<div ng-if="showTab == 1">
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;text-align:center;" class="student_score" ng-click="changeTab(0)">@MessageUtil.getMessage(SocialMsgNames.TXT_STUDENT_DISCUSS)</div>
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;margin-left:30px;text-align:center;" class="student_score_active" ng-click="changeTab(1)">@MessageUtil.getMessage(SocialMsgNames.TXT_TEACHER_COMMOND)</div>
						</div>
					}else{
						<div ng-if="showTab == 0">
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;text-align:center;" class="student_score_active" ng-click="changeTab(0)">@MessageUtil.getMessage("留言")</div>
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;margin-left:30px;text-align:center;" class="student_score" ng-click="changeTab(1)">@MessageUtil.getMessage(SocialMsgNames.TXT_TEACHER_COMMOND)</div>
						</div>
						<div ng-if="showTab == 1">
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;text-align:center;" class="student_score" ng-click="changeTab(0)">@MessageUtil.getMessage("留言")</div>
							<div style="padding-bottom:10px;width:80px;cursor:pointer;float:left;margin-left:30px;text-align:center;" class="student_score_active" ng-click="changeTab(1)">@MessageUtil.getMessage(SocialMsgNames.TXT_TEACHER_COMMOND)</div>
						</div>
					}
						
						<div class="clearfix"></div>
						@if("on".equalsIgnoreCase(ConfigUtil.getProperty(SocialConfigNames.SHOW_TUTOR_METTING))){
						<!-- 点评列表 -->
						<div ng-show="showTab == 0">
							<div style="padding:30px 0;overflow:hidden;">
								<div ng-repeat="item in studentScoreList">
									<div style="padding:30px 0;border-bottom:1px #e1e1e1 solid;">
										<div style="width:50px;height:50px;float:left;">
											<img class="img-circle" style="width:50px;height:50px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
										</div>
										<div style="width:690px;margin-left:30px;float:left;">
											<div>
												<span style="font-size:14px;color:#333333;" ng-bind="item.personName"></span>
												<span style="font-size:14px;color:#999999;margin-left:10px;" ng-bind="item.createDate.time | date:'yyyy年MM月dd日  hh:mm'"></span>
											</div>
											<div style="margin-top:10px;">
												<span style="font-size:14px;color:#333333;" ng-bind="item.content"></span>
											</div>
											<div style="margin-top:10px;">
												<span style="font-size:14px;color:#999999;">@MessageUtil.getMessage(SocialMsgNames.TXT_ABOUT_TOPIC)</span>
												<span style="font-size:14px;color:#999999;" ng-bind="item.title"></span>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<!-- 分页 -->
								<div style="margin-top:30px;text-align:center;">
									<span style="" ng-repeat="item in studentPageList">
										<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
										<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4PageStudent(item.clickNum)">{{item.text}}</span>
									</span>
								</div>
							</div>
						</div><!-- 点评列表 end-->
						}else{
						<div ng-show="showTab == 0">
							<!-- 评论 -->
							<div style="margin-top:30px;">
								<div style="text-align:center;">
									<input ng-show="send" style="width:100%;height:42px;background-color:#EEEEEE;border:1px #999999 solid;outline:medium;padding:10px;" placeholder="@MessageUtil.getMsgAndNote("请输入留言内容", "ab01011.txt.input.discuss.content")" ng-model="remarkContent" ng-change="remrkInputChange(remarkContent)"/>
									<span ng-show="reply" style="height:42px;padding:10px;float:left;color:red;font-size:14px;">@@{{replyPersonName}}</span>
									<input ng-show="reply" style="width:100%;height:42px;background-color:#EEEEEE;border:1px #999999 solid;outline:medium;padding:10px;" placeholder="@MessageUtil.getMsgAndNote("请输入回复内容", "ab01011.txt.input.reply.discuss.content")" ng-model="replyContent" ng-change="replyInputChange(replyContent)"/>
								</div>
								<div style="text-align:right;margin-top:15px;margin-bottom:30px;">
									<button ng-show="send" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="sendRemark()">@MessageUtil.getMsgAndNote("发送", "ab01011.txt.btn.send")</button>
									<button ng-show="reply" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="sendReplyDiscuss()">@MessageUtil.getMsgAndNote("发送", "ab01011.txt.btn.send")</button>
									<button ng-show="reply" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="disReplyDiscuss()">@MessageUtil.getMsgAndNote("取消", "ab01011.txt.btn.cancle")</button>
								</div>
								<div ng-if="remarkList.length<=0" style="font-size:14px;color:#333333;margin-top:30px;">@MessageUtil.getMessage("暂无留言")</div>
								<div ng-if="remarkList.length>0" ng-repeat="item in remarkList" style="overflow:hidden;">
									<div class="note_list_item">
										<!-- 头像区域 -->
										<div class="note_list_header_img">
											<img class="note_list_img" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
											<div class="note_list_person_name" style="width:50px;font-size:12px;overflow:hidden;">{{item.nickName}}</div>
										</div>
										<!-- 右侧部分 -->
										<div class="discuss_list_content">
											<div class="note_list_title">
												<span ng-if="item.targetUserId!=null && item.targetUserId!=''" style="color:red;">@@{{item.targetNickname}}：</span>
												{{item.content}}
												<span ng-if="item.canDelete" style="float:right;color:red;cursor:pointer;" class="fa fa-times-circle" ng-click="deleteDiscuss(item.id)"></span>
											</div>
											<div class="note_list_time">
												<span>{{item.createDate | date:'yyyy@MessageUtil.getMsgAndNote("年", "ab01011.txt.date.year")MM@MessageUtil.getMsgAndNote("月", "ab01011.txt.date.month")dd@MessageUtil.getMsgAndNote("日", "ab01011.txt.date.day") HH:mm'}}</span>
												<span style="float:right;">
													<span ng-if="item.userId != '@WebContext.getSessionUserId()'" style="cursor:pointer;" class="note_list_like" ng-click="replyDiscuss(item.discussId,item.userId,item.nickName)">
														<span style="margin-left:30px;" class="gh gh-share-alt"></span>
														<span style="margin-left:10px;">@MessageUtil.getMsgAndNote("回复", "ab01011.txt.reply")</span>
													</span>
												</span>
											</div>
										</div>
										<div class="clearfix "></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div style="">
									<!-- 分页 -->
									<div ng-if="remarkPageList.length>0" style="padding:30px;text-align:center;background-color:#ffffff;">
										<span style="" ng-repeat="item in remarkPageList">
											<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}" ng-bind="item.text"></span>
											<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="searchRemarkList(item.clickNum)" ng-bind="item.text"></span>
										</span>
									</div><!-- 分页end -->
								</div>
							</div><!-- 评论 END-->
						</div>
						}
						<!-- 老师推荐列表 -->
						<div ng-show="showTab == 1">
							<div style="padding:30px 0;overflow:hidden;">
								<div>
									<div>
										<input style="width:100%;height:42px;background-color:#EEEEEE;border: 1px #999999 solid;padding:10px;" placeholder="@MessageUtil.getMessage(SocialMsgNames.TXT_INPUT_TEACHER_COMMOND)" ng-model="recommend" ng-change="inputChange(recommend)"/>
									</div>
									<div style="margin-top:30px;text-align:right;">
										<button class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="submitContent(content)">@MessageUtil.getMessage(SocialMsgNames.TXT_BTN_SUBMIT)</button>
									</div>
								</div>
								<div ng-repeat="item in teacherScoreList" >
									<div style="padding:30px 0;border-bottom:1px #e1e1e1 solid;">
										<div style="width:50px;height:50px;float:left;">
											<img class="img-circle" style="width:50px;height:50px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
										</div>
										<div style="width:690px;margin-left:30px;float:left;">
											<div>
												<span style="font-size:14px;color:#666666;" ng-bind="item.personName"></span>
											</div>
											<div style="margin-top:10px;">
												<span style="font-size:14px;color:#999999;" ng-bind="item.position"></span>
											</div>
											<div style="margin-top:10px;">
												<span style="font-size:14px;color:#666666;" ng-bind="item.recommend"></span>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<!-- 分页 -->
								<div style="margin-top:30px;text-align:center;">
									<span style="" ng-repeat="item in pageList">
										<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
										<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum)">{{item.text}}</span>
									</span>
								</div>
							</div>
						</div><!-- 老师推荐列表 end-->
					</div><!-- 学员点评、老师推荐 end -->
					<div style="height:1px;margin-top:100px;"></div>
				</div><!-- 中间区域 左侧830部分 end-->
				<!-- 中间区域 右侧340部分 -->
				<div style="width:340px;float:left;margin-left:30px;">
					<!-- 推荐老师 -->
					<div style="padding:30px;background-color:#ffffff;">
						<div style="font-size:18px;color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_COMMOND_TEACHER)</div>
						<!-- 推荐老师列表 -->
						<div ng-repeat="item in tacherList">
							<div style="padding:30px 0;cursor:pointer;border-bottom:1px #e1e1e1 solid;"  ng-click="toCouchDetail($index)">
								<div style="width:60px;height:60px;float:left;">
									<img style="width:60px;height:60px;border:0;" class="img-circle" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
								</div>
								<div style="width:200px;float:left;margin-left:20px;">
									<div style="font-size:12px">
										<span style="color:#666666;" ng-bind="item.personName"></span>
										<span style="color:#00cccc;" ng-bind="item.position | subStringLength:12"></span>
									</div>
									<div style="font-size:12px;color:#666666;margin-top:10px;" ng-bind="item.title | subStringLength:24"></div>
									<div style="font-size:14px;color:#999999;margin-top:10px;">
										<span class="gh gh-eye-open"></span>
										<span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_SEE,"{{item.totalNumMeet|replaceToNumber}}")</span>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div><!-- 推荐老师列表 end-->
					</div><!-- 推荐老师 end-->
					<!-- 相关主题 -->
					<div style="padding:30px;margin-top:30px;background-color:#ffffff;">
						<div style="font-size:18px;color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_ABOUT_THEME)</div>
						<!-- 相关主题列表 -->
						<div ng-repeat="item in aboutThem">
							<div class="about_them" style="padding:30px 0;cursor:pointer;border-bottom:1px #e1e1e1 solid;" ng-click="toCouchDetailOther($index)">
								<span style="font-size:12px;color:#666666;" ng-bind="item.title"></span>
							</div>
						</div><!-- 相关主题列表 end-->
					</div><!-- 相关主题 end-->
				</div><!-- 中间区域 右侧340部分 end-->
			</div>
		</div><!--  中间1200px部分 end-->
	</div>
</div><!-- ngApp end -->

<!-- 引入相关文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<!-- 我的JS脚本 -->
<script>
	myApp.controller("myCtrl",function($scope,$http){
		$scope.page = 1;
		$scope.studentPage = 1;
		$scope.pageSize = 5;
		//是否显示加入心愿单按钮
		$scope.alreadyJoin = false;
		//分页数据
		$scope.pageList = [];
		$scope.studentPageList = [];
		//最上部区域数据
		var teacherInfoResult = eval("("+'@teacherInfo'+")");
		$scope.teacherInfo = teacherInfoResult.data;
		//导师辅导课程列表
		$scope.coachList = [];
		if('@tutorDefList'){
			$scope.coachList = eval("("+'@tutorDefList'+")");
		}
		for(var i=0;i<$scope.coachList.length;i++){
			@if(showPriceByPoints){
				//积分显示
				$scope.coachList[i].price = $scope.coachList[i].price*@unitPrice;
			}
		}
		//推荐老师列表
		$scope.tacherList = [];
		if('@teacherList'){
			$scope.tacherList = eval("("+'@teacherList'+")");
		}
		//点击推荐老师列表
		$scope.toCouchDetail = function(index){
			window.open("@url("/pub/tutor/toCoachDetail.action?userId=")" + $scope.tacherList[index].teacherId);
		};
		//相关主题
		$scope.aboutThem = [];
		if('@aboutThem'){
			$scope.aboutThem = eval("("+'@aboutThem'+")");
		}
		//点击相关主题
		$scope.toCouchDetailOther = function(index){
			window.open("@url("/pub/tutor/toCoachDetail.action?userId=")" + $scope.aboutThem[index].teacherId);
		};
		//点评、推荐显示那个TAB
		$scope.showTab = 0;
		//切换选项卡
		$scope.changeTab = function(num){
			if($scope.showTab != num){
				$scope.showTab = num;
			}
		};
		//学员点评数据
		var studentResult = eval("("+'@studentScoreList'+")");
		$scope.studentScoreList = studentResult.data;
		
		$scope.studentPageList = getPageList(studentResult.page,studentResult.total);
		//老师推荐语列表
		var teacherResult = eval("("+'@teacherScoreList'+")");
		$scope.teacherScoreList = teacherResult.data;
		//获取分页显示，当前页，总页数
		$scope.pageList = getPageList(teacherResult.page,teacherResult.total);
		//输入框长度
		$scope.inputChange = function(content){
			if(content!=''){
				if(content.length >= 500){
					$scope.recommend = content.substr(0,500);
					
				}
			}
		};
		//提交
		$scope.submitContent = function(content){
			if(content==''){
				noticeError("@MessageUtil.getMessage(SocialMsgNames.MSG_COMMOND_CAN_NOT_EMPTY)");
			}else{
				var params = {recommend:$scope.recommend,teacherId:$scope.teacherInfo.masterId};
				$http.post("@url("/client/tutor/teacherRecommendSubmit.action")",params)
				.success(function(result){
					if(result.status){
						noticeInfo("@MessageUtil.getMessage(SocialMsgNames.MSG_BTN_SUBMIT_SUCCESS)");
						$scope.recommend='';
						//列表 刷新
						$scope.search4Page();
					}else{
						noticeError(result.messages);
					}
				});
			}
		};
		
		//分页检索
		$scope.search4Page = function (num){
		
			var params = {userId:$scope.teacherInfo.masterId,pageNumber:num,pageSize:$scope.pageSize};
			$http.post("@url("/pub/tutor/teacherRecommendList.action")",params)
			.success(function(result){
				if(result.status){
					$scope.teacherScoreList = result.data;
					$scope.pageList = getPageList(result.page,result.total);
					$scope.page = result.page;
				}else{
					noticeError(result.messages);
				}
			});
		};
		
		//分页检索-学员点评
		$scope.search4PageStudent = function(num){
			var params = {userId:$scope.teacherInfo.masterId,pageNumber:num,pageSize:$scope.pageSize};
			$http.post("@url("/pub/tutor/tutorTeacherDiscussData.action")",params)
			.success(function(result){
				if(result.status){
					$scope.studentScoreList = result.data;
					$scope.studentPageList = getPageList(result.page,result.total);
					$scope.studentPage = result.page;
				}else{
					noticeError(result.messages);
				}
			});
		};
		//加入心愿单
		$scope.joinOrder = function(){
			$http.post("@url("/client/tutor/joinHeartOrder.action")",{teacherId:$scope.teacherInfo.masterId})
			.success(function(result){
				if(result.status){
					noticeInfo("@MessageUtil.getMessage(SocialMsgNames.MSG_JOIN_WISH_ORDER_SUCCESS)");
					$scope.alreadyJoin = true;
					history.go(0);
				}else{
					noticeError(result.messages);
				}
			});
		};
		//跳转到辅导预约画面
		$scope.tutorAppointment = function(index){
			@if(WebContext.isGuest()) {
				toLoginFun(window.location.href)
			} else {
				window.location.href = "@url("/pub/tutor/toTutorAppointment.action")"+"?tutorDefId="+$scope.coachList[index].tutorDefId+"&tutorType="+$scope.coachList[index].tutorType+"&teacherId="+$scope.coachList[index].teacherId;
			}
		};
		
		@if(!"on".equalsIgnoreCase(ConfigUtil.getProperty(SocialConfigNames.SHOW_TUTOR_METTING))){
			//发表评论标志
			$scope.send = true;
			//回复评论标志
			$scope.reply = false;
			$scope.targetDiscussId = '';
			$scope.targetUserId = '';
			$scope.replyPersonName = '';
			$scope.replyContent = '';
			$scope.remarkContent = '';
			$scope.pa = {
				pageSize:10,
				pageNumber:1,
				linkId:$scope.teacherInfo.masterId
			};
			$scope.remarkList = [];
			$scope.remarkPageList = [];
			//检索留言板数据
			$scope.searchRemarkList = function(num){
				$scope.pa.pageNumber = num;
				$http.post("@url("/pub/tutor/searchRemarkList.action")",$scope.pa)
				.success(function(result){
					if(result.status){
						//console.log(result);
						$scope.remarkList = result.data;
						$scope.remarkPageList = getPageList(result.page,result.total);
					}else{
						noticeError(result.messages);
					}
				});
			};
			
			//初始化检索
			$scope.searchRemarkList(1);
			
			$scope.remrkInputChange = function(remarkContent){
				if(remarkContent.length >= 10){
					$scope.remarkContent = remarkContent.substr(0,10);
				}
			};
			$scope.replyInputChange = function(replyContent){
				if(replyContent.length >= 10){
					$scope.replyContent = replyContent.substr(0,10);
				}
			};
			//提交留言
			$scope.sendRemark = function(){
				if($scope.remarkContent==''){
					noticeError('留言内容不能为空！');
					return;
				}
				var params = {
					linkId:$scope.pa.linkId,
					content:$scope.remarkContent
				};
				$http.post("@url("/client/tutor/submitRemark.action")",params)
				.success(function(result){
					if(result.status){
						//提交成功
						noticeInfo('提交成功！');
						$scope.remarkContent = '';
						//重新检索
						$scope.searchRemarkList(1);
					}else{
						noticeError(result.messages);
					}
				});
			};
			//点击回复按钮
			$scope.replyDiscuss = function(discussId,userId,personName){
				$scope.send = false;
				$scope.reply = true;
				$scope.targetDiscussId = discussId;
				$scope.targetUserId = userId;
				$scope.replyPersonName = personName;
				$scope.replyContent = '';
			};
			//取消回复
			$scope.disReplyDiscuss = function(){
				$scope.send = true;
				$scope.reply = false;
				$scope.targetDiscussId = '';
				$scope.targetUserId = '';
				$scope.replyPersonName = '';
				$scope.replyContent = '';
			};
			//点击回复提交
			$scope.sendReplyDiscuss = function(){
				if($scope.replyContent==''){
					noticeError('留言内容不能为空！');
					return;
				}
				var params = {
					linkId:$scope.pa.linkId,
					content:$scope.replyContent,
					targetDiscussId:$scope.targetDiscussId,
					targetUserId:$scope.targetUserId,
					replyPersonName:$scope.replyPersonName
				};
				$http.post("@url("/client/tutor/submitRemark.action")",params)
				.success(function(result){
					if(result.status){
						//提交成功
						noticeInfo('提交成功！');
						$scope.send = true;
						$scope.reply = false;
						$scope.targetDiscussId = '';
						$scope.targetUserId = '';
						$scope.replyPersonName = '';
						$scope.replyContent = '';
						//重新检索
						$scope.searchRemarkList(1);
					}else{
						noticeError(result.messages);
					}
				});
			};
		}
	});
</script>