@import(){
	com.cloudsoaring.web.course.entity.*,
	com.cloudsoaring.web.course.view.*,
	com.cloudsoaring.web.social.constant.*,
	com.cloudsoaring.web.trainingplatform.utils.*,
	com.cloudsoaring.web.course.constant.CourseStateConstants
}
@extends(client,title:"",activeMenu:"text_coach")
@args String tutorResult

@{
	final Integer pageSize = Integer.valueOf("5");
	final String searchUrl = url("/pub/tutor/teacherList.action");
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}

<!-- css样式 -->
<style>
	.tag_item{
		font-size:12px;
		color:#000000;
		padding:5px 10px;
		margin-right:30px;
		cursor:pointer;
	}
	.tag_item:hover{
		font-size:12px;
		color:#ffffff;
		padding:5px 10px;
		margin-right:30px;
		background-color:red;
		cursor:pointer;
	}
	.tag_active{
		font-size:12px;
		color:#ffffff;
		padding:5px 10px;
		margin-right:30px;
		background-color:red;
		cursor:pointer;
	}
	.coach_list_item{
		width:1200px;
		height:180px;
		padding:30px;
		background-color:#ffffff;
		margin-top:30px;
		overflow:hidden;
		cursor:pointer;
	}
	.coach_list_item:hover{
		box-shadow:5px 5px 5px #999999;
	}
	.coach_list_item_left{
		width:120px;
		height:120px;
		float:left;
	}
	.coach_list_item_right{
		width:990px;
		float:left;
		margin-left:30px;
	}
	.coach_list_item_img{
		width:120px;
		height:120px;
		border-radius:50%;
		-moz-border-radius: 50%; 
		-webkit-border-radius: 50%; 
		border:1px #ffffff solid;
	}
	.coach_list_item_title{
		font-size:20px;
		color:#333333;
		margin-top:6px;
	}
	.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px red solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}
	
.tagLineDiv{
	border-bottom: 1px solid #edf1f2;
}

.tagSpan{
	float:left;
	color: #666666;
}
.tagUl{
	margin-left: 20px;
}
.tagItemon{
    background: #4f85ff;
    color: #fff;
}
.tagSpan ul{
	    margin-bottom: 0px;
}


.tagItem {
    height: 20px;
    padding: 0px 5px;
    margin-bottom: 16px;
    display: inline-block;
    margin-top: 0px;
    margin-right: 36px;
}

.tagItem:hover  {
   cursor:hand;
   cursor: pointer;
}
</style>

<!-- angular开始 ngApp -->
<div ng-app="myApp" style="width:1200px;margin-left:auto;margin-right:auto;">
	<div ng-controller="coachListCtrl">
		<div style="background-color:#ffffff;">
			<button id="btn_hidden_params" style="display:none;" ng-click="getTagParams()">get params</button>
			<div class="tagLineDiv" style="background-color: white;padding: 10px 36px 0px 0px; ">
				<p class="center-content-title-p " style="font-size: 18px; font-weight: 500; margin-left:20px;padding: 8px 0px 0px 0px;">@MessageUtil.getMessage("全部课程")</p>
			</div>
			<div>
				@tag_query(id:"tagQuery", itemSelectedFun:"courseListReflash")
			</div>
			<div class="clearfix"></div>
		</div>
		<div ng-if="tutorList.length<=0" style="font-size:14px;color:#333333;padding:30px;background-color:#ffffff;margin-top:30px;">@MessageUtil.getMessage(SocialMsgNames.TXT_EMPTY_DATA)</div>
		<!-- 辅导列表 -->
		<div ng-if="tutorList.length>0" ng-repeat="item in tutorList">
			<div class="coach_list_item" ng-mouseover="mouseOver($index)" ng-mouseout="mouseOut($index)" ng-click="toDetail($index)">
				<div class="coach_list_item_left">
					<img class="coach_list_item_img" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")"/>
				</div>
				<div class="coach_list_item_right">
					<div class="coach_list_item_title">
						<span class="item_title_{{$index}}" ng-bind="item.title"></span>
						<span style="margin-left:25px;" ng-bind="item.tutorScore|replaceToNumber"></span><span style="font-size:14px;">@MessageUtil.getMessage(SocialMsgNames.TXT_MINITER)</span>
						<span style="float:right;">
							<span class="item_price_{{$index}}" ng-bind="item.price|replaceToNumber"></span>
							<span style="font-size:14px;" ng-if="!@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_MONEY)</span>
							<span style="font-size:14px;" ng-if="@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_POINT)</span>
						</span>
					</div>
					<div style="font-size:14px;margin-top:10px;">
						<span style="color:#333333;" ng-bind="item.personName"></span>
						<span style="color:#666666;margin-left:25px;" ng-bind="item.position"></span>
					</div>
					<div style="font-size:12px;color:#999999;margin-top:10px;">
						<span class="gh gh-eye-open"></span>
						<span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_SEE,"{{item.totalNumMeet|replaceToNumber}}")</span>
						<span ng-if="item.tutorType=='@SocialConstants.TUTOR_TYPE_1VN'" style="margin-left:30px;" class="gh gh-user"></span>
						<span ng-if="item.tutorType=='@SocialConstants.TUTOR_TYPE_1VN'" style="margin-left:10px;"><span>@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_TOTAL,"{{item.numStudents | replaceToNumber}}")</span>
						<span ng-if="item.tutorType=='@SocialConstants.TUTOR_TYPE_1VN'" style="margin-left:10px;"><span>@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_MIN,"{{item.numStudentsMin | replaceToNumber}}")</span>
						<span ng-if="item.tutorType=='@SocialConstants.TUTOR_TYPE_1VN'" style="margin-left:30px;" class="gh gh-thumbs-up"></span>
						<span ng-if="item.tutorType=='@SocialConstants.TUTOR_TYPE_1VN'" style="margin-left:10px;"><span>@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_SIGN,"{{item.numApply | replaceToNumber}}")</span>
					</div>
				</div>
			</div>
		</div><!-- 辅导列表end -->
		<!-- 分页 -->
		<div ng-if="pageList.length>0" style="padding:30px;text-align:center;background-color:#ffffff;margin-top:30px;">
			<span style="" ng-repeat="item in pageList">
				<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}" ng-bind="item.text"></span>
				<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum)" ng-bind="item.text"></span>
			</span>
		</div><!-- 分页end -->
	</div>
</div><!-- ng-app end -->
<!-- 引入相关文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<!-- 我的JS脚本 -->
<script>
	$(function(){
		initTagData();
	});
	function initTagData() {
		//检索课程列表
		$.ajax({
			url:"@url("/pub/tag/searchCategory.action")",
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					objs.push(getCourseStageTagData());
					//添加阶段
					$('#tagQuery').data("initTag")(objs);
						
				}
			}
		});
	}
	
	function getCourseStageTagData(){
		/* var codes =  @JsonLib.toJson(CodeFactory .getCodeMap(CourseStateConstants.COURSE_STAGE)).raw();
		var tagItems = [];
		for(key in codes) {
			var item = {
				tagId : key,
				tagTypeId : "@CourseStateConstants.COURSE_STAGE",
				parentId : "",
				tagName: codes[key]
			}
			tagItems.push(item)
		} */
		//[{text:"@MessageUtil.getMessage(SocialMsgNames.TXT_ALL)",value:""},{text:"@MessageUtil.getMessage(SocialMsgNames.TXT_ONE_TO_ONE)",value:"@SocialConstants.TUTOR_TYPE_1V1"},{text:"@MessageUtil.getMessage(SocialMsgNames.TXT_ONE_TO_N)",value:"@SocialConstants.TUTOR_TYPE_1VN"}];
		var tagItems = [
			{
				tagId : "@SocialConstants.TUTOR_TYPE_1V1",
				tagTypeId : "filter",
				parentId : "",
				tagName: "@MessageUtil.getMessage(SocialMsgNames.TXT_ONE_TO_ONE)"
			},
			{
				tagId : "@SocialConstants.TUTOR_TYPE_1VN",
				tagTypeId : "filter",
				parentId : "",
				tagName: "@MessageUtil.getMessage(SocialMsgNames.TXT_ONE_TO_N)"
			}
		];
		
		var result = {
			tagTypeId : "filter",
			tagTypeName : "@MessageUtil.getMessage(SocialMsgNames.TXT_FILTER)",
			parentId : "",
			list : tagItems
		}
		return result;
	}
	
	//列表参数
	function getParams(){
		var result = new Object;
		var selectedTags = $('#tagQuery').data("getTagSelect")();
		if(!selectedTags) {
			return result;
		}
		if(selectedTags["1"]) {
			result["directionTagId"] = selectedTags["1"];
		}
		if(selectedTags["2"]) {
			result["categoryTagId"] = selectedTags["2"];
		}
		if(selectedTags["filter"]) {
			result["filterState"] = selectedTags["filter"];
		}
		return result;
	}
	
	//点击事件
	function courseListReflash(){
		$("#btn_hidden_params").click();
	}
	


	myApp.controller("coachListCtrl",function($scope,$http){
		//当前页
		$scope.page = 1;
		//辅导列表数据
		$scope.tutorResult = eval("("+'@tutorResult'+")");
		$scope.tutorList = $scope.tutorResult.data;
		//分页
		$scope.pageList = getPageList($scope.tutorResult.page,$scope.tutorResult.total);
			@if(showPriceByPoints){
				for(var i=0;i<$scope.tutorList.length;i++){
					//积分显示
					$scope.tutorList[i].price = $scope.tutorList[i].price*@unitPrice;
				}
			}
		//辅导列表鼠标移入移出事件
		$scope.mouseOver = function(index){
			$(".item_title_"+index).css("color","red");
			$(".item_price_"+index).css("color","red");
		};
		$scope.mouseOut = function(index){
			$(".item_title_"+index).css("color","#333333");
			$(".item_price_"+index).css("color","#333333");
		};
		
		//点击分页
		$scope.search4Page = function(num){
			$scope.page = num;
			//发送请求
			$scope.searchList();
		};
		
		//点击标签
		$scope.getTagParams = function(){
			$scope.searchList();
		};
		
		//发送请求检索辅导列表
		$scope.searchList = function(){
			var paramObj = getParams();
			//参数-方向
			var paramDirect = '';
			//参数-分类
			var paramCategory = '';
			//参数-筛选
			var paramFilter = '';
			if(paramObj && paramObj.directionTagId){
				paramDirect = paramObj.directionTagId;
			}
			if(paramObj && paramObj.categoryTagId){
				paramCategory = paramObj.categoryTagId;
			}
			if(paramObj && paramObj.filterState){
				paramFilter = paramObj.filterState;
			}
			//请求参数
			var params = {directionTagId:paramDirect,categoryTagId:paramCategory,tutorType:paramFilter,pageNumber:$scope.page,pageSize:@pageSize};
			$http.post("@searchUrl",params)
			.success(function(result){
				if(result.status){
					//改变当前页
					$scope.page = result.page;
					//改变辅导列表数据
					$scope.tutorList = result.data;
						@if(showPriceByPoints){
							for(var i=0;i<$scope.tutorList.length;i++){
								//积分显示
								$scope.tutorList[i].price = $scope.tutorList[i].price*@unitPrice;
							}
						}
					//改变分页数据
					$scope.pageList = getPageList(result.page,result.total);
				}else{
					noticeError(result.messages);
				}
			})
			.error(function(){
				noticeError("@MessageUtil.getMessage(SocialMsgNames.MSG_E_REQUEST_ERROR)");
			});
		};
		//跳转到详情页面
		$scope.toDetail = function(index){
			window.location.href = "@url("/pub/tutor/toCoachDetail.action")"+"?userId="+$scope.tutorList[index].teacherId;
		};
	});
	
</script>
