@import(){
	com.cloudsoaring.web.course.entity.*,
	com.cloudsoaring.web.course.view.*,
	com.cloudsoaring.web.social.constant.*,
	com.cloudsoaring.web.trainingplatform.utils.*
}
@extends(client,title:"",activeMenu:"text_coach")
@args String tutorDefEntity,String teacherInfo = ""

@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}

<!-- css样式 -->
<style>
.coach_list_item{
	width:1200px;
	padding:30px;
	background-color:#ffffff;
	overflow:hidden;
	cursor:pointer;
}
.coach_list_item_left{
	width:120px;
	height:120px;
	float:left;
}
.coach_list_item_right{
	width:990px;
	float:left;
	margin-left:30px;
}
.coach_list_item_img{
	width:120px;
	height:120px;
	border-radius:50%;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border:1px #ffffff solid;
}
.coach_list_item_title{
	font-size:20px;
	color:#333333;
	margin-top:6px;
}
.circle-border{
	border-radius:50% ;
	-webkit-border-radius:50% ;
	-moz-border-radius:50% ;
}
.modal_border{
	border-radius:10px ;
	-webkit-border-radius:10px ;
	-moz-border-radius:10px ;
}
</style>

<!-- angular开始 ngApp -->
<div ng-app="myApp" style="width:1200px;margin-left:auto;margin-right:auto;">
	<div ng-controller="myContrl">
		<!-- 辅导信息 -->
		<div>
			<div class="coach_list_item" >
				<div class="coach_list_item_left">
					<img class="coach_list_item_img" ng-src="@url("/pub/headerThumb.action?fileId={{tutorInfo.image}}")"/>
				</div>
				<div class="coach_list_item_right">
					<div class="coach_list_item_title">
						<span ng-bind="tutorInfo.title"></span>
						<span style="margin-left:25px;" ng-bind="tutorInfo.tutorScore|replaceToNumber"></span><span style="font-size:14px;">@MessageUtil.getMessage(SocialMsgNames.TXT_MINITER)</span>
						<span style="float:right;">
							<span ng-bind="tutorInfo.price|replaceToNumber"></span>
							<span style="font-size:14px;" ng-if="!@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_MONEY)</span>
							<span style="font-size:14px;" ng-if="@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_POINT)</span>
						</span>
					</div>
					<div style="font-size:14px;margin-top:10px;">
						<span style="color:#333333;" ng-bind="tutorInfo.personName"></span>
						<span style="color:#666666;margin-left:25px;" ng-bind="tutorInfo.position"></span>
					</div>
					<div style="font-size:14px;margin-top:10px;color:#666666;" ng-bind="tutorInfo.content"></div>
					<div style="font-size:12px;color:#999999;margin-top:10px;">
						<span class="gh gh-eye-open"></span>
						<span style="margin-left:10px;"><span>@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_SEE,"{{tutorInfo.totalNumMeet|replaceToNumber}}")</span></span>
						<span ng-if="tutorInfo.tutorType=='@MessageUtil.getMessage(SocialConstants.TUTOR_TYPE_1VN)'" style="margin-left:30px;" class="gh gh-user"></span>
						<span ng-if="tutorInfo.tutorType=='@MessageUtil.getMessage(SocialConstants.TUTOR_TYPE_1VN)'" style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_TOTAL,"{{tutorInfo.numStudents | replaceToNumber}}")</span>
						<span ng-if="tutorInfo.tutorType=='@MessageUtil.getMessage(SocialConstants.TUTOR_TYPE_1VN)'" style="margin-left:30px;" class="gh gh-thumbs-up"></span>
						<span ng-if="tutorInfo.tutorType=='@MessageUtil.getMessage(SocialConstants.TUTOR_TYPE_1VN)'" style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_SIGN,"{{tutorInfo.numApply | replaceToNumber}}")</span>
					</div>
				</div>
			</div>
		</div><!-- 辅导信息 end-->
		<!-- 编辑区域 -->
		<div style="margin-top:30px;background-color:#ffffff;padding:30px 50px 30px 100px;">
			<div style="width:20px;height:710px;float:left;margin-left:-60px;text-align:center;">
				<div style="margin-top:4px;text-align:center;margin-left:2px;"><span class="fa fa-circle" style="font-size:16px;color:{{stepData[0].color}};"></span></div>
				<div style="width:1px;background-color:{{stepData[0].color}};height:335px;margin-left:auto;margin-right:auto;margin-top:-5px;"></div>
				<div style="text-align:center;margin-top:-5px;margin-left:2px;"><span class="fa fa-circle" style="font-size:16px;color:{{stepData[1].color}};"></span></div>
				<div style="width:1px;background-color:{{stepData[1].color}};height:330px;margin-left:auto;margin-right:auto;margin-top:-5px;"></div>
				<div style="text-align:center;margin-top:-8px;margin-left:2px;"><span class="fa fa-circle" style="font-size:16px;color:{{stepData[2].color}};"></span></div>
			</div>
			<div style="">
				<span style="font-size:22px;color:#000000;">我的问题</span>
				<div style="height:60px;font-size:18px;color:#333333;background-color:#cccccc;margin-top:20px;text-indent:2em;line-height:60px;">告诉老师您要请教的问题（30-300字）</div>
				<div>
					<textarea ng-model="myQuestion" ng-change="myquestionChange(myQuestion)" style="width:100%;height:200px;padding:30px;outline:none;border-color:#cccccc;font-size:18px;color:#666666;"></textarea>
				</div>
			</div>
			<div style="margin-top:30px;">
				<span style="font-size:22px;color:#000000;">自我介绍</span>
				<div style="height:60px;font-size:18px;color:#333333;background-color:#cccccc;margin-top:20px;text-indent:2em;line-height:60px;">介绍一下自己（可备注时间地点喜欢30-300字）</div>
				<div>
					<textarea ng-model="selfInfo" ng-change="selfInfoChange(selfInfo)" style="width:100%;height:200px;padding:30px;outline:none;border-color:#cccccc;font-size:18px;color:#666666;"></textarea>
				</div>
			</div>
			<div style="margin-top:30px;margin-bottom:30px;">
				<span style="font-size:14px;color:#666666;">详细的描述问题有助于老师有的放矢。您填写的信息只能老师看见，不会公开给其他人</span>
				<button ng-if="stepData[2].ok" class="btn btn-normal" style="float:right;" ng-click="submitAppointment()">提交</button>
				<button ng-if="!stepData[2].ok" class="btn btn-normal disabled" style="float:right;">提交</button>
			</div>
		</div><!-- 编辑区域 end -->
		
		
		<!-- 遮罩层 -->
		<div id="submitModal" class="modal fade bs-example-modal-lg" style="margin-top:100px;">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content modal_border" style="width:800px;height:600px;background-color:#ffffff;margin-left:auto;margin-right:auto;">
		      <div class="clearfix"></div>
		      <div style="margin-top:100px;text-align:center;">
		      	<span class="gh gh-ok-sign" style="font-size:100px;color:#00cccc;"></span>
		      </div>
		      <div style="margin-top:40px;font-size:18px;color:#cccccc;text-align:center;">提交成功，请等待老师的反馈</div>
		      <div style="margin-top:40px;font-size:24px;color:#333333;text-align:center;">据历史统计该老师</div>
		      <div style="margin-top:40px;font-size:18px;text-align:center;">
		      	<span class="gh gh-time" style="color:red;"></span>
		      	<span style="color:#999999;margin-left:10px;">
		      		<span>平均{{teacherInfo.avgResponseTime | formatResponseTime}}回应</span>
		      	</span>
		      	<span class="gh gh-ok-sign" style="color:red;margin-left:50px;"></span>
		      	<span style="color:#999999;margin-left:10px;">
		      		<span>{{teacherInfo.avgAccept | formatAvgAccept}}</span>
		      	</span>
		      </div>
		      <div style="margin-top:40px;text-align:center;">
		      	<button class="btn btn-normal" style="font-size:18px;width:100px;" ng-click="closeModal()">知道了</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</div>
</div>
<!-- 引入相关文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<!-- 我的JS脚本 -->
<script>
	myApp.controller("myContrl",function($scope,$http){
		//辅导信息
		$scope.tutorInfo = eval("("+'@tutorDefEntity'+")");
		@if(showPriceByPoints){
			//积分显示
			$scope.tutorInfo.price = $scope.tutorInfo.price*@unitPrice;
		}
		//左侧向导颜色
		$scope.stepData = [
			{color:"#cccccc",ok:false},
			{color:"#cccccc",ok:false},
			{color:"#cccccc",ok:false}
		];
		//我的问题文本域值改变事件
		$scope.myquestionChange = function(myQuestion){
			if(myQuestion!=''&&myQuestion.length>=30&&myQuestion.length<=300){
				$scope.stepData[0].color = "red";
				$scope.stepData[0].ok = true;
			}else{
				$scope.stepData[0].color = "#cccccc";
				$scope.stepData[0].ok = false;
			}
			if(myQuestion.length>300){
				noticeError("输入内容不能超过300个字符！");
			}
			$scope.canSubmit();
		};
		//我的问题文本域值改变事件
		$scope.selfInfoChange = function(selfInfo){
			if(selfInfo!=''&&selfInfo.length>=30&&selfInfo.length<=300){
				$scope.stepData[1].color = "red";
				$scope.stepData[1].ok = true;
			}else{
				$scope.stepData[1].color = "#cccccc";
				$scope.stepData[1].ok = false;
			}
			if(selfInfo.length>300){
				noticeError("输入内容不能超过300个字符！");
			}
			$scope.canSubmit();
		};
		//步骤三
		$scope.canSubmit = function(){
			if($scope.stepData[0].ok && $scope.stepData[1].ok){
				$scope.stepData[2].color = "red";
				$scope.stepData[2].ok = true;
			}else{
				$scope.stepData[2].color = "#cccccc";
				$scope.stepData[2].ok = false;
			}
		};
		//提交预约
		$scope.submitAppointment = function(){
			var params = {tutorDefNo:$scope.tutorInfo.tutorDefNo,tutorInstId:$scope.tutorInfo.tutorInstId,teacherId:$scope.tutorInfo.teacherId,question:$scope.myQuestion,introduction:$scope.selfInfo};
			$http.post("@url("/client/tutor/tutorAppointment.action")",params)
			.success(function(result){
				if(result.status){
					noticeInfo("预约成功！");
					window.location.href = "@url("/client/tutor/myTutor.action?payment=payment&tutorInstId=")"  + result.data.tutorInstId;
						
// 					$("#submitModal").modal({backdrop:"static"});
// 					$("#submitModal").modal('show');
				}else{
					noticeError(result.messages);
				} 
			});
		};
		var teacherInfoResult = eval("("+'@teacherInfo'+")");
		$scope.teacherInfo = teacherInfoResult.data;
		//关闭模态框
		$scope.closeModal = function(){
			$("#submitModal").modal('hide');
			//跳转到详情页面
			window.location.href="@url("/pub/tutor/toCoachDetail.action?userId=")" + $scope.tutorInfo.teacherId;
		};
	});
</script>