@args String title = "", 
String categoryId="", 
String pageType="list",
Boolean pageLoading=true,
List categorys,
String measureType
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
}

@extends(trainingplatform.client.center.center_base, title:"社交管理", pageLoading:pageLoading, selectedPage:"socialListInit")

<!-- 页面中间部分 -->
<style>
    .np-title{
        color:#a7a7a7; 
        font-size:16px;
        cursor:pointer;
    }   
    .np-title.active{   
        cursor: not-allowed;   
    }
</style>
<div id="mainContent" style="margin-left:0px">
<!-- 页面内容 -->
    <!-- 页面内容上部分导航 -->
    @render("mainContent"){
        @content(css:"page-content"){
            <div style="padding:0px 20px 20px 20px;">
                @{
                    String listHref = "#";
                    String listCss = "";
                    String infoHref = "#";
                    String addExamHref = "#";
                    String tagHref = "#";
                    String infoCss = "";
                    String  studentListCss ="";
                    String studentListHref="";
                    String addExamCss = "";
                    String tagCss = "";
                    if("list".equals(pageType)){
                        listCss = "active";
                        infoHref=WebContext.url("/client/social/socialEditInit.action");
                    }else if("edit".equals(pageType)){
                        infoCss = "active";
                        listHref = WebContext.url("/client/social/socialListInit.action");
                    }else if("info".equals(pageType)){
                        listCss = "active";
                        listHref = WebContext.url("/client/social/socialListInit.action");
                        infoHref=WebContext.url("/client/social/socialEditInit.action");
                    }
                    
                }
                <ul class="selector-container-rythm" >
                    <li style="margin-right: 20px">
                        <a class="np-title" href="" style="font-size:18px;color:#000000;font-weight:600;">
                            @MessageUtil.getMessage("社交管理")
                        </a>
                    </li>
                </ul>
                <div style="background:#fff;width:1000px">
                      <ul class="selector-container-rythm" style="margin-top: 20px;font-size:14px">
                        <li style="margin-right: 20px">
                            <a class="np-title @infoCss " href="@infoHref">
                                @MessageUtil.getMessage("社交信息")
                            </a>
                        </li>
                         <li style="margin-right: 20px">
                            <a class="np-title @listCss" href="@listHref">
                                @MessageUtil.getMessage("社交管理")
                            </a>
                        </li>
                      </ul>
                 </div>
            </div>
            
        }
        <div id="pageContent">
            @if(StringUtil.isNotEmpty(title)){
                <div id="pageTitle">
                    <h>@title</h>
                </div>
            }
            <div id="pageBody">
                @render()
            </div>
            <div class="clearfix"></div>
        </div>
     }
</div>

<script type="text/javascript">
    //生成GUID
    function _guid() {
        function S4() {
           return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
        }
        return (S4()+S4()+S4()+S4()+S4()+S4()+S4()+S4());
    }
</script>
