@import(){
	com.cloudsoaring.web.course.entity.*,
	com.cloudsoaring.web.course.view.*,
	com.cloudsoaring.web.social.constant.*,
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.social.constant.*,
	com.cloudsoaring.web.trainingplatform.utils.*
}

@extends(client_blank,title:"",activeMenu:"text_friend")
@args String teachInfo="",String teacherCourseList="",String aboutCourseList="",String qaList="",Boolean teacherFlag ,Integer pageSize = Integer.valueOf("5")

@{
	final Integer pageSize = Integer.valueOf("5");
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}
<!-- css样式 -->
<style>
	.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px red solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}
	.div_other_course{
		padding:30px;
		margin-top:30px;
		background-color:#ffffff;
	}
	@@keyframes showCourse
	{
		from {height: 0px;}
		to {height: 157.5px;}
	}
	
	@@-moz-keyframes showCourse /* Firefox */
	{
		from {height: 0px;}
		to {height: 157.5px;}
	}
	
	@@-webkit-keyframes showCourse /* Safari 和 Chrome */
	{
		from {height: 0px;}
		to {height: 157.5px;}
	}
	
	@@-o-keyframes showCourse /* Opera */
	{
		from {height: 0px;}
		to {height: 157.5px;}
	}
	
	.other_course_img_show{
		animation: showCourse 500ms;
		-moz-animation: showCourse 500ms;
		-webkit-animation: showCourse 500ms;
		-o-animation: showCourse 500ms;
		width:280px;
		height:157.5px;
	}
	.other_course_img_hide{
		width:280px;
		height:0px;
		display:none;
	}
	.other_course_title{
		padding:20px 0px;
		border-bottom:1px #e1e1e1 solid;
		font-size:12px;
		color:#333333;
	}
	.div_other_course_item{
		cursor:pointer;
	}
	.list_item{
			cursor:pointer;
			border:1px rgba(237,237,237,0.5) solid;
	}
	.list_item:hover{
		box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.techer_header_img{
		width:200px;
		height:200px;
		border:4px rgba(255,255,255,0.3) solid;
	}
</style>

<!-- angular开始 ngApp -->
<div ng-app="myApp">
	<div ng-controller="socialDetailCtrl">
		<!-- 最上面 -->
		<div style="background-color:#ffffff;padding-bottom:50px;">
			<!-- 背景图片 -->
			<div style="height:400px;overflow:hidden;">
				<img style="width:100%;height:400px;border:0;" ng-src="@url("/pub/image.action?fileId={{teacherInfo.backgroundImage}}")">
			</div><!-- 背景图片 end -->
			<!-- 导师头像 -->
			<div style="text-align:center;margin-top:-150px;">
				<img class="techer_header_img img-circle" ng-src="@url("/pub/headerThumb.action?fileId={{teacherInfo.image}}")">
			</div><!-- 导师头像 end -->
			<!-- 教师名称 -->
			<div style="margin-top:20px;text-align:center;font-size:36px;color:#000000;" ng-bind="teacherInfo.personName"></div>
			<!-- 职位 -->
			<div style="margin-top:20px;text-align:center;font-size:16px;color:#666666;">
				<span ng-bind="teacherInfo.position"></span>
				<span style="margin-left:20px;" ng-bind="teacherInfo.region"></span>
			</div>
			<!-- 响应状态 -->
			<div style="text-align:center;margin-top:20px;">
				<div style="text-align:center;width:600px;height:40px;line-height:40px;margin-left:auto;margin-right:auto;font-size:16px;border-top:1px #e1e1e1 solid;border-bottom:1px #e1e1e1 solid;">
					<span style="color:red;">
						<span ng-bind="@if(showPriceByPoints){@unitPrice*}teacherInfo.price|replaceToNumber"></span>
							<span style="font-size:14px;" ng-if="!@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_MONEY)</span>
							<span style="font-size:14px;" ng-if="@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_POINT)</span>
					</span>
					<span class="gh gh-time" style="color:red;margin-left:30px;"></span>
					<span style="color:red;margin-left:10px;" ng-bind="teacherInfo.avgResponseTime | formatResponseTime"></span><span style="color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_RESPONSE_TIME,"")</span>
					<span class="gh gh-eye-open" style="color:red;margin-left:30px;"></span>
					<span style="color:red;margin-left:10px;" ng-bind="teacherInfo.totalNumMeet|replaceToNumber"></span><span style="color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_NUM_SEE,"")</span>
					<span class="fa fa-smile-o" style="color:red;margin-left:30px;"></span>
					<span style="color:red;margin-left:10px;" ng-bind="teacherInfo.totalNumWish|replaceToNumber"></span><span style="color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_WISH_PRE_METTING,"")</span>
				</div>
			</div><!-- 响应状态 end -->
			<!-- 加入心愿单 -->
			<div style="text-align:center;margin-top:20px;">
				<button ng-if="teacherInfo.masterId=='@WebContext.getSessionUserId()'" style="width:280px;height:40px;font-size:16px;color:#ffffff;" class="btn btn-normal disabled" ng-click="wishMetting()"><span class="fa fa-comment"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_METTING_NOW)</span></button>
				<button ng-if="teacherInfo.masterId!='@WebContext.getSessionUserId()' && teacherInfo.socialFlag=='1'" style="width:280px;height:40px;font-size:16px;color:#ffffff;" class="btn btn-normal" ng-click="wishMetting()"><span class="fa fa-comment"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_METTING_NOW)</span></button>
				<button ng-if="teacherInfo.masterId=='@WebContext.getSessionUserId()'" style="width:280px;height:40px;font-size:16px;color:#ffffff;margin-left:30px;" class="btn btn-normal disabled" ng-click="joinOrder()"><span class="gh gh-gift"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_JOIN_WISH_ORDER)</span></button>
				<button ng-if="teacherInfo.masterId!='@WebContext.getSessionUserId()'" style="width:280px;height:40px;font-size:16px;color:#ffffff;margin-left:30px;" class="btn btn-normal" ng-click="joinOrder()"><span class="gh gh-gift"></span><span style="margin-left:10px;">@MessageUtil.getMessage(SocialMsgNames.TXT_JOIN_WISH_ORDER)</span></button>
				<!-- <span ng-if="alreadyJoin" style="width:280px;height:40px;font-size:16px;color:#666666;"><span class="gh gh-gift"></span><span style="margin-left:10px;">已加入心愿单</span></span> -->
			</div><!-- 加入心愿单 end -->
		</div><!-- 最上面 end -->
		<!-- 下面1200区域 -->
		<div style="width:1200px;margin-left:auto;margin-right:auto;margin-top:30px;margin-bottom:90px;">
			<!-- 左侧830区域 -->
			<div style="width:830px;float:left;">
				<!-- 导师课程列表 -->
				<div style="background-color:#ffffff;padding:30px;overflow:hidden;margin-bottom:30px;" ng-if="teacherCourseList.length > 0">
					<div ng-repeat="item in teacherCourseList" class="list_item" style="width:245px;height:245px;overflow:hidden;background-color:#EDEDED;margin-left:5px;margin-right:5px;float:left;margin-bottom:30px;" ng-click="toCourseDetail(item.id)">
						<img style="border:0;width:245px;height:132px;" ng-src="@url("/pub/image.action?fileId={{item.pictureId}}")">
						<div style="padding:20px;">
							<div ng-bind="item.title | subStringLength:10" style="font-size:16px;color:#000000;"></div>
							<div style="font-size:12px;color:#999999;margin-top:10px;" ng-bind="item.summary"></div>
							<div style="font-size:12px;color:#666666;margin-top:10px;">
								<span ng-if="item.courseStatus=='@CourseStateConstants.COURSE_STATUS_CONTINU'">@MessageUtil.getMessage(SocialMsgNames.TXT_PUBLISH_ING)</span>
								<span ng-if="item.courseStatus=='@CourseStateConstants.COURSE_STATUS_FINISH'">@MessageUtil.getMessage(SocialMsgNames.TXT_PUBLISH_FINISH)</span>
								<span ng-if="item.courseStatus=='@CourseStateConstants.COURSE_STATUS_OVER'">@MessageUtil.getMessage(SocialMsgNames.TXT_PUBLISH_END)</span>
								<span style="margin-left:20px;">
									@MessageUtil.getMessage(SocialMsgNames.TXT_STUDY_NUM,"{{item.numStudy|replaceToNumber}}")
								</span>
							</div>
						</div>
					</div>
				</div><!-- 导师课程列表 END-->
				<!-- 关于老师 -->
				<div style="padding:30px;background-color:#ffffff;margin-bottom:30px;">
					<div style="font-size:18px;color:#666666;">@MessageUtil.getMessage(SocialMsgNames.TXT_ABOUT_TEACHER)</div>
					<div style="font-size:14px;color:#666666;">
						
						<div style="margin-top:30px;overflow:hidden;" ng-bind="teacherInfo.remark">
							
						</div>
					</div>
				</div><!-- 关于老师 END-->
				<!-- 问答 -->
				<a id="a_question_area" style="display:none;" href="#qustion_area">scroll to qa</a>
				<div style="padding:30px;background-color:#ffffff;margin-bottom:30px;">
					<div style="font-size:18px;color:#666666;">@MessageUtil.getMessage(SocialMsgNames.TXT_QUESTION_AND_ANSWER)</div>
					<div style="margin-top:30px;" ng-controller="qaCtrl">
						<div>
							<input ng-show="!teacherFlag" style="margin-bottom:20px;width:100%;height:42px;background-color:#EEEEEE;border:1px #999999 solid;outline:medium;padding:10px;" placeholder="请输入提问标题" ng-model="title" ng-change="titleInputChange(title)"/>
							<textarea rows="3" ng-show="!teacherFlag" style="width:100%;background-color:#EEEEEE;border:1px #999999 solid;outline:medium;padding:10px;" placeholder="@MessageUtil.getMessage(SocialMsgNames.TXT_INPUT_QUESTION_TO_ASK_TEACHER)" ng-model="content" ng-change="inputChange(content)"></textarea>
							<textarea rows="3" ng-show="teacherFlag && answerFlag" style="width:100%;background-color:#EEEEEE;border:1px #999999 solid;outline:medium;padding:10px;" placeholder="@MessageUtil.getMessage(SocialMsgNames.TXT_INPUT_ANSWER_SOMEONE_QUESTION,"{{replyPersonName}}")" ng-model="replyContent" ng-change="replyInputChange(replyContent)"></textarea>
						</div>
						<div style="text-align:right;margin-top:15px;">
							<button ng-show="!teacherFlag" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="submitQuestion(title,content)">@MessageUtil.getMessage(SocialMsgNames.TXT_QUESITON)</button>
							<button ng-show="teacherFlag && answerFlag" class="btn btn-normal" style="font-size:14px;color:#ffffff;" ng-click="submitAnswer(replyContent,qaQuestionId)">@MessageUtil.getMessage(SocialMsgNames.TXT_ANSWER)</button>
						</div>
						<!-- 问答列表 -->
						<div style="margin-top:30px;" id="qustion_area">
							<div ng-if="qaList.length<=0" style="font-size:14px;color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_EMPTY_DATA)</div>
							<div ng-if="qaList.length>0">
								<div  ng-repeat="item in qaList">
									<div style="padding:30px 0;border-top:1px #e1e1e1 solid;">
										<div style="width:50px;float:left;">
											<img style="width:50px;height:50px;border:0;" class="img-circle" ng-src="@url("/pub/headerThumb.action?fileId={{item.questionUserImage}}")"/>
											<div style="margin-top:10px;text-align:center;font-size:12px;color:#000000;" ng-bind="item.questionUserName|subStringLength:3"></div>
										</div>
										<div style="width:20px;float:left;margin-left:10px;">
											<span ng-if="item.answerContent !='' && item.answerContent !=null" class="gh gh-ok-sign" style="color:#00cccc;font-size:18px;"></span>
											<span ng-if="!(item.answerContent !='' && item.answerContent !=null)" class="gh gh-question-sign" style="color:red;font-size:18px;"></span>
										</div>
										<div style="width:680px;float:left;margin-left:10px;">
											<div>
												<span style="color:#000000;font-size:18px;" ng-bind="item.title"></span>
												<span style="font-size:12px;color:#999999;float:right;" ng-bind="item.createDate | date:'yyyy年MM月dd日 HH:mm'"></span>
											</div>
											<div class="clearfix"></div>
											<div style="margin-top:10px;font-size:12px;color:#666666;">
												<span ng-bind="item.content"></span>
												<span style="cursor:pointer;float:right;" ng-if="teacherFlag && (item.answerContent =='' || item.answerContent ==null)" ng-click="answer($index)">@MessageUtil.getMessage(SocialMsgNames.TXT_REPLY)</span>
											</div>
											<div class="clearfix"></div>
											<div style="margin-top:10px;margin-left:-30px;" ng-if="item.answerContent !='' && item.answerContent !=null">
												<span class="gh gh-exclamation-sign" style="font-size:14px;color:#999999;"></span>
												<span style="margin-left:10px;color:#00cccc;font-size:14px;">@MessageUtil.getMessage(SocialMsgNames.TXT_ANSWER_BY_DOCTER)</span>
												<span style="font-size:14px;color:#333333;margin-left:10px;" ng-bind="item.answerContent"></span>
											</div>
											<div class="clearfix"></div>
										</div>
									<div class="clearfix"></div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div style="height:1px;border-bottom:1px #e1e1e1 solid;"></div>
							<div style="margin-top:30px;text-align:center;font-size:14px;color:#999999;" ng-show="page < total">
								<span ng-click="loadMore()" style="cursor:pointer;">加载更多</span>
							</div>
						</div><!-- 问答列表 end -->
					</div>
				</div><!-- 问答 END-->
				<!-- 评论 -->
				<div style="padding:30px;background-color:#ffffff;margin-bottom:30px;">
					<div style="font-size:18px;color:#666666;">@MessageUtil.getMessage(SocialMsgNames.TXT_DISCUSS)</div>
					<div ng-if="discussList.length<=0" style="font-size:14px;color:#333333;margin-top:30px;">@MessageUtil.getMessage(SocialMsgNames.TXT_EMPTY_DISCUSS_DATA)</div>
					<div ng-if="discussList.length>0" ng-repeat="item in discussList" style="padding:30px 0;border-bottom:1px #e1e1e1 solid;overflow:hidden;">
						<div style="width:50px;float:left;">
							<img ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")" style="width:50px;height:50px;border:0;" class="img-circle"/>
						</div>
						<div style="width:700px;margin-left:20px;float:left;">
							<div>
								<span style="font-size:14px;color:#333333;" ng-bind="item.personName"></span>
								<span style="font-size:14px;color:#999999;margin-left:10px;" ng-bind="item.createDate | date:'yyyy@MessageUtil.getMessage(SocialMsgNames.TXT_YEAR)MM@MessageUtil.getMessage(SocialMsgNames.TXT_MONTH)dd@MessageUtil.getMessage(SocialMsgNames.TXT_DAY) HH:mm'"></span>
							</div>
							<div style="margin-top:10px;font-size:14px;color:#666666;" ng-bind="item.content"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div style="">
						<!-- 分页 -->
						<div ng-if="pageList.length>0" style="padding:30px;text-align:center;background-color:#ffffff;">
							<span style="" ng-repeat="item in pageList">
								<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}" ng-bind="item.text"></span>
								<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum)" ng-bind="item.text"></span>
							</span>
						</div><!-- 分页end -->
					</div>
				</div><!-- 评论 END-->
			</div><!-- 左侧830区域 END-->
			<!-- 右侧 340区域-->
			<div style="width:340px;float:left;margin-left:30px;overflow:hidden;">
				<!-- 相关视频 -->
				<div style="padding:30px;background-color:#ffffff;" ng-controller="ctrOtherCourse">
					<div style="font-size:18px;color:#000000;">
						@MessageUtil.getMessage(SocialMsgNames.TXT_OTHER_VIDEO,"{{teacherInfo.personName}}")
					</div>
					<div style="margin-top:20px;height:1px;border-bottom:1px #e1e1e1 solid;"></div>
					<div ng-if="otherCourses.length<=0" style="font-size:14px;color:#333333;margin-top:30px;">@MessageUtil.getMessage(SocialMsgNames.TXT_EMPTY_OTHER_VIDEO_DATA)</div>
					<div ng-repeat="item in otherCourses">
						<div class="div_other_course_item">
							<div ng-mouseover="showCourse($index)" ng-click="toCoursePage(item.id)">
								<img class="{{item.cssClass}} img-thumbnail" ng-src="@url("/pub/image.action?fileId={{item.img}}")">
								<div class="other_course_title" ng-bind="item.title"></div>
							</div>
						</div>
					</div>
				</div><!-- 相关视频 end-->
			</div><!-- 右侧 340区域END-->
		</div><!-- 下面1200区域 END-->
		<div class="clearfix"></div>
		<div style="height:1px;margin-bottom:90px;"></div>
	</div>
</div><!-- ng-app end -->

<!-- 引入相关文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<!-- 我的JS脚本 -->
<script>
	myApp.controller("socialDetailCtrl",function($scope,$http){
		//导师个人信息
		$scope.teacherInfo = eval("("+'@teachInfo'+")");
		//导师的课程
		var courseResult = eval("("+'@teacherCourseList'+")");
		$scope.teacherCourseList = courseResult.data;
		//加入心愿单
		$scope.joinOrder = function(){
			$http.post("@url("/client/social/joinHeartOrder.action")",{teacherId:$scope.teacherInfo.masterId})
			.success(function(result){
				if(result.status){
					noticeInfo("@MessageUtil.getMessage(SocialMsgNames.MSG_JOIN_WISH_ORDER_SUCCESS)");
					//$scope.alreadyJoin = true;
				}else{
					noticeError(result.messages);
				}
			});
		};
		//预约
		$scope.wishMetting = function(){
			window.location.href = "@url("/client/social/toMetting.action?masterId=")" + $scope.teacherInfo.masterId;
		};
		
		//评论信息
		$scope.discussList = [];
		$scope.discussPage = 1;
		$scope.pageList = [];
		//检索评论信息
		$scope.searchDiscussList = function(){
			var params = {masterId:$scope.teacherInfo.masterId,pageSize:@pageSize,pageNumber:$scope.discussPage};
			$http.post("@url("/pub/social/socialDiscussList.action")",params)
			.success(function(result){
				if(result.status){
					$scope.discussList = result.data;
					$scope.discussPage = result.page;
					$scope.pageList = getPageList(result.page,result.total);
				}else{
					noticeError(result.messages);
				}
			});
		};
		//发送请求获取评论信息
		$scope.searchDiscussList();
		//分页点击事件
		$scope.search4Page = function(num){
			$scope.discussPage = num;
			$scope.searchDiscussList();
		};
		//课程列表点击事件
		$scope.toCourseDetail = function(id){
			window.open('@url("/pub/course/courseDetailInit.action?courseId=")' + id);
		};
	})
	.controller("ctrOtherCourse",['$scope',function($scope){
		//相关课程
		$scope.otherCourses = new Array();
		//相关课程
		var list = [];
		if('@aboutCourseList'){
			list = eval("("+'@aboutCourseList'+")");
		}
		//组装相关课程数组
		for(var i=0;i<list.length;i++){
			var item = list[i];
			var map = {title:item.title,img:item.pictureId,cssClass:"other_course_img_hide",id:item.id};
			$scope.otherCourses.push(map);
		}
		//第一项为激活状态
		if($scope.otherCourses.length > 0){
			$scope.otherCourses[0].cssClass = "other_course_img_show";
		}
		//当前激活的序号
		$scope.activeIndex = 0;
		//鼠标进入事件
		$scope.showCourse = function(index){
			$scope.otherCourses[$scope.activeIndex].cssClass = "other_course_img_hide";
			$scope.otherCourses[index].cssClass = "other_course_img_show";
			$scope.activeIndex = index;
		};
		//点击事件
		$scope.toCoursePage = function(id){
			window.open('@url("/pub/course/courseDetailInit.action?courseId=")' + id);
		};
	}])
	.controller("qaCtrl",function($scope,$http){
		//问答controller
		//问答result
		var  result = eval("("+'@qaList'+")");
		$scope.page = result.page;
		$scope.total = result.total;
		var masterInfo = eval("("+'@teachInfo'+")");
		//显示多少条
		$scope.qaList = result.data;
		for(var i=0;i<$scope.qaList.length;i++){
			$scope.qaList[i].createDate = $scope.qaList[i].createDate.time;
		}
		//显示提问还是回答,true:显示提问input，false：显示回答input
		$scope.answerFlag = false;
		//回答谁的问题
		$scope.replyPersonName = '';
		$scope.qaQuestionId = '';
		$scope.content = '';
		$scope.replyContent = '';
		//当前登录用户是否社交详情的老师
		$scope.teacherFlag = @teacherFlag;
		//提问输入框值改变事件
		$scope.inputChange = function(content){
			if(content!=''&& content.length>500){
				
				$scope.content = content.substr(0,500);
			}
		};
		//提问标题输入框值改变事件
		$scope.titleInputChange = function(title){
			if(title!=''&& title.length>50){
				
				$scope.title = title.substr(0,50);
			}
		};
		//回答输入框值改变事件
		$scope.replyInputChange = function(replyContent){
			if(replyContent!=''&& replyContent.length>500){
				
				$scope.replyContent = replyContent.substr(0,500);
			}
		};
		//加载更多
		$scope.loadMore = function(){
			if($scope.page < $scope.total){
				$scope.page = $scope.page+1;
				$scope.searchList();
			}
		};
		//检索列表数据
		$scope.searchList = function(){
			$http.post("@url("/pub/social/socialQuestionAnswerList.action")",{masterId:masterInfo.masterId,pageNumber:$scope.page,pageSize:@pageSize})
				.success(function(result){
					if(result.status){
						if($scope.page > 1){
							for(var i=0;i<result.data.length;i++){
								$scope.qaList.push(result.data[i]);
							}
						}else{
							$scope.qaList = result.data;
						}
					}else{
						noticeError(result.messages);
					}
				});
		};
		//提交提问
		$scope.submitQuestion = function(title,content){
			//标题不能为空
			if(title == '' || title == undefined || title == 'undefined'){
				noticeError("标题不能为空！");
				return;
			}
			if(checkContent(content)){
				$http.post("@url("/client/social/questionSocialTeacher.action")",{masterId:masterInfo.masterId,content:content,title:title})
				.success(function(result){
					if(result.status){
						noticeInfo("@MessageUtil.getMessage(SocialMsgNames.MSG_BTN_SUBMIT_SUCCESS)");
						$scope.content = '';
						$scope.title = '';
						$scope.page = 1;
						//刷新列表
						$scope.searchList();
					}else{
						noticeError(result.messages);
					}
				});
			}
		};
		//回复按钮
		$scope.answer = function(index){
			//显示输入框
			$scope.answerFlag = true;
			$scope.qaQuestionId = $scope.qaList[index].id;
			$scope.replyPersonName = $scope.qaList[index].questionUserName;
			$("#a_question_area").click();
		};
		//提交回答
		$scope.submitAnswer = function(replyContent,id){
			if(checkContent(replyContent)){
				$http.post("@url("/client/social/socialTeacherAnswer.action")",{qaQuestionId:id,content:replyContent})
				.success(function(result){
					if(result.status){
						noticeInfo("@MessageUtil.getMessage(SocialMsgNames.MSG_BTN_SUBMIT_SUCCESS)");
						$scope.replyContent = '';
						$scope.answerFlag = false;
						$scope.qaQuestionId = '';
						$scope.replyPersonName = '';
						//刷新列表
						$scope.searchList();
					}else{
						noticeError(result.messages);
					}
				});
			}
		};
		//展开
		$scope.openAll = function(){
			$scope.showLength = $scope.qaList.length;
		};
		//收起
		$scope.closeOther = function(){
			$scope.showLength = 5;
		};
	});
	
	//判断输入框是否可以提交
	function checkContent(content){
		if(content==null||content==undefined || content=='undefined'||content==''){
			noticeError("@MessageUtil.getMessage(SocialMsgNames.MSG_CONTENT_CAN_NOT_EMPTY)");
			return false;
		}else if(content.length > 500){
			noticeError("@MessageUtil.getMessage(SocialMsgNames.MSG_STRING_LENGTH_MAX)");
			return false;
		}else{
			return true;
		}
	}

</script>
