@import(){
	com.cloudsoaring.web.course.entity.*,
	com.cloudsoaring.web.course.view.*,
	com.cloudsoaring.web.social.constant.*,
	com.cloudsoaring.web.trainingplatform.utils.*
}
@extends(client,title:"",activeMenu:"text_friend")
@args String socialList=""

@{
	final Integer pageSize = Integer.valueOf("15");
	final String searchUrl = url("/pub/tutor/teacherList.action");
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}

<!-- css样式 -->
<style>
	.tag_item{
		font-size:12px;
		color:#000000;
		padding:5px 10px;
		margin-right:30px;
		cursor:pointer;
	}
	.tag_item:hover{
		font-size:12px;
		color:#ffffff;
		padding:5px 10px;
		margin-right:30px;
		background-color:red;
		cursor:pointer;
	}
	.tag_active{
		font-size:12px;
		color:#ffffff;
		padding:5px 10px;
		margin-right:30px;
		background-color:red;
		cursor:pointer;
	}
	.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px red solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}
	.list_item{
		cursor:pointer;
		border:1px rgba(237,237,237,0.5) solid;
	}
	.list_item:hover{
		box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
</style>

<!-- angular开始 ngApp -->
<div ng-app="myApp" style="width:1200px;margin-left:auto;margin-right:auto;">
      <a href="@url("/client/center/centerApplyTeacher.action")">
            <div style="font-size: 20px; padding-top: 5px;  float: right;color:#00DDDD;font-weight: bold;"><span >应聘导师</span><span class="fa fa-mortar-board" style="padding-left: 10px;"></span>
            </div>
     </a>
	<div ng-controller="socialListCtrl">
	   
		<div style="background-color:#ffffff;">
			<button id="btn_hidden_params" style="display:none;" ng-click="getTagParams()">get params</button>
			<div class="tagLineDiv" style="background-color: white;padding: 10px 36px 0px 0px; ">
				<p class="center-content-title-p " style="font-size: 18px; font-weight: 500; margin-left:20px;padding: 8px 0px 0px 0px;">@MessageUtil.getMessage("全部课程")</p>
			</div>
			<div>
				@tag_query(id:"tagQuery", itemSelectedFun:"courseListReflash")
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- 导师列表 -->
		<div style="margin-top:30px;padding:30px;margin-bottom:30px;background-color:#ffffff;">
			<div ng-if="socialList.length<=0" style="font-size:14px;color:#333333;">@MessageUtil.getMessage(SocialMsgNames.TXT_EMPTY_DATA)</div>
			<div ng-if="socialList.length>0" ng-repeat="item in socialList" style="margin-left:17px;margin-right:17px;float:left;margin-bottom:30px;">
				<div style="width:194px;height:364px;overflow:hidden;" class="list_item" ng-click="toDetail($index)">
					<img style="width:194px;height:194px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
					<div style="padding:20px 10px;">
						<div>
							<span style="font-size:18px;color:#000000;" ng-bind="item.personName"></span>
							<span style="font-size:12px;color:red;float:right;">
								<span ng-bind="item.price|replaceToNumber"></span>
								<span style="font-size:14px;" ng-if="!@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_MONEY)</span>
								<span style="font-size:14px;" ng-if="@showPriceByPoints">@MessageUtil.getMessage(SocialMsgNames.TXT_PRICE_POINT)</span>
							</span>
						</div>
						<div class="clearfix"></div>
						<div style="height:12px;margin-top:10px;font-size:12px;color:#999999;" ng-bind="item.position|subStringLength:12"></div>
					</div>
					<div style="padding:0 10px;">
						<div style="height:1px;border-bottom:1px #e1e1e1 solid;"></div>
					</div>
					<div style="padding:20px 10px;font-size:12px;color:#666666;overflow:hidden;" ng-bind="item.remark | subStringLength:40"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<!-- 分页 -->
			<div ng-if="pageList.length>0" style="padding:30px;text-align:center;background-color:#ffffff;">
				<span style="" ng-repeat="item in pageList">
					<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}" ng-bind="item.text"></span>
					<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum)" ng-bind="item.text"></span>
				</span>
			</div><!-- 分页end -->
		</div><!-- 导师列表 end-->
	</div>
</div><!-- ng-app end -->
<!-- 引入相关文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<!-- 我的JS脚本 -->
<script>
	$(function(){
		initTagData();
	});
	function initTagData() {
		//检索课程列表
		$.ajax({
			url:"@url("/pub/tag/searchCategory.action")",
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					//添加阶段
					$('#tagQuery').data("initTag")(objs);
						
				}
			}
		});
	}
	//列表参数
	function getParams(){
		var result = new Object;
		var selectedTags = $('#tagQuery').data("getTagSelect")();
		if(!selectedTags) {
			return result;
		}
		if(selectedTags["1"]) {
			result["directionTagId"] = selectedTags["1"];
		}
		if(selectedTags["2"]) {
			result["categoryTagId"] = selectedTags["2"];
		}
		return result;
	}
	
	//点击事件
	function courseListReflash(){
		$("#btn_hidden_params").click();
	}


	myApp.controller("socialListCtrl",function($scope,$http){
		//社交列表
		var result = eval("("+'@socialList'+")");
		$scope.socialList = result.data;
		@if(showPriceByPoints){
			for(var i=0;i<$scope.socialList.length;i++){
				//积分显示
				$scope.socialList[i].price = $scope.socialList[i].price*@unitPrice;
			}
		}
		//分页数据
		$scope.pageList = getPageList(result.page,result.total);
		//当前页
		$scope.page = 1;
		//点击分页
		$scope.search4Page = function(num){
			$scope.page = num;
			//发送请求
			$scope.searchList();
		};
		//点击标签
		$scope.getTagParams = function(){
			$scope.searchList();
		};
		//发送请求检索辅导列表
		$scope.searchList = function(){
			var paramObj = getParams();
			console.log(paramObj);
			//参数-方向
			var paramDirect = '';
			//参数-分类
			var paramCategory = '';
			if(paramObj && paramObj.directionTagId){
				paramDirect = paramObj.directionTagId;
			}
			if(paramObj && paramObj.categoryTagId){
				paramCategory = paramObj.categoryTagId;
			}
			//请求参数
			var params = {directionTagId:paramDirect,categoryTagId:paramCategory,pageNumber:$scope.page,pageSize:@pageSize};
			console.log(params);
			$http.post("@url("/pub/social/socialTeacherList.action")",params)
			.success(function(result){
				if(result.status){
					$scope.socialList = result.data;
					$scope.pageList = getPageList(result.page,result.total);
					@if(showPriceByPoints){
						//积分显示
						for(var i=0;i<$scope.socialList.length;i++){
							$scope.socialList[i].price = $scope.socialList[i].price*@unitPrice;
						}
					}
				}else{
					noticeError(result.messages);
				}
			});
		}; 
		//跳转到详情页面
		$scope.toDetail = function(index){
			window.location.href = "@url("/pub/social/toSocialDetail.action")"+"?masterId="+$scope.socialList[index].masterId;
		};
	});
	
</script>
