@args String title = "", 
String pageType,
SocialView condition,
SocialMasterEntity entity
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.course.constant.*;
     com.cloudsoaring.web.social.entity.*;
    java.lang.*;
}
@extends(social, pageType:pageType, pageLoading:false)


<div style="width:100%;font-size:15px">
      <div style="padding-top:10px">
         @form(name:"search-condition",validation:false){
               @input(label:MessageUtil.getMessage("约见创客"), name:"personName",groupcss:"fcol-5")
               @combobox(label:MessageUtil.getMessage("所处进度"), name:"status",groupcss:"fcol-5",options:CodeFactory.getCodeList(SocialStateConstants.SOCISL_STATUS))
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        }
      </div>
      
     <div style="">
        @table(id:"search-result",url:"/client/social/socialManagerList.action",condition:condition){
            @columns(){
                {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMessage("全选")',width:50}, 
                {field: 'socialInstNo',title:'@MessageUtil.getMessage("编号")',width:50,align:'center'},
                {field: 'personName',title:'@MessageUtil.getMessage("约见创客")',width:50,sortable: true,align:'left', formatter:"titleFormat"}, 
                {field: 'status',title:'@MessageUtil.getMessage("所处进度")',width:50,sortable: true,align:'center',formatter:"statusFormat"}, 
                {field: '',title:'@MessageUtil.getMessage("操作")',align:'center',formatter:"operateFormat"} 
            }
        }
        @btnbox(align:"left"){
            @button(label:MessageUtil.getMessage("删除"),iconcss:"gh gh-trash",onclick:"deleteCourse",innertype:"DEL")
         }
     </div>
</div>
@assign("dd"){
    <input name='isPass' type='radio' value='0' />通过 &nbsp;&nbsp; 
    <input name='isPass' type='radio' value='1' />不通过 &nbsp;&nbsp;
    <button class='btn btn-default' onclick='updateStatus("%id");'>保存</button>
}
@assign("aa"){
   <input name='isMeet' type='radio' value='2' />见过 &nbsp;&nbsp;
   <button  class='btn btn-default' onclick='updateIsMeet("%id");'>保存</button>
}
<script>
	
    function uploadFile(){
          var params = new FormData($('#file-form')[0]);
          $.ajax({ 
                   url: "@url("/client/social/uploadFile.action")",
                    data:params,
	                type:"post", 
	                contentType:false,  
	                processData:false,  
	                success: function(result){
                    if(result.status){
                        bodySuccess("上传成功");
                    }else{
                        bodyError("上传失败");
                    } 
                    window.location.reload();
                   }             
                });
    }
  function titleFormat(value, row, index) {
        var userName = hideStringByMax(value, 20);
        userName = " <a href='@url("/client/social/socialInfoInit.action?socialInstId=%s")' target='__blank'>%s</a>".format(row.socialInstId, userName);
        var html = userName; 
        return html;
    }
    function operateFormat(value, row, index){
        var operate = "";
           if(row.status=="1") {
              operate = ("@es(dd).raw()".replace(/%id/g,row.socialInstId)).format(row.socialInstId);
           }
           if(row.status=="2") {
               operate = "@es(aa).raw()".replace(/%id/g,row.socialInstId);
           }
          var html = operate; 
          return html;
    }
    function updateIsMeet(value){
         var isMeet=$('input:radio[name="isMeet"]:checked').val();
        $.ajax({ 
              url: "@url("/client/social/socialMeeted.action")",
              data:{socialInstId:value,type:isMeet},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                 $('#search-result').bootstrapTable('refresh');
              }
         });
    }
    function statusFormat(value, row, index){ 
       // $("#price").val(row.price);
       // $("#preTime").val(row.preTime);
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(SocialStateConstants.SOCISL_STATUS)).raw();
        return data[value];
    }
   /*  function editPrice(){
        var price=getValue($('#price'));
        var preTime=getValue($('#preTime'));
        $.ajax({ 
              url: "@url("/client/social/editMeetPoint.action")",
              data:{price:price,preTime:preTime},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                window.location.reload();
              }
         });
    } */
    function updateStatus(value){
         var isPass=$('input:radio[name="isPass"]:checked').val();
        $.ajax({ 
              url: "@url("/client/social/editSocialStatus.action")",
              data:{socialInstId:value,type:isPass},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                 $('#search-result').bootstrapTable('refresh');
              }
         });
    }
     function deleteCourse(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var socialInstId = [];
            for(var i = 0; i < selectedRows.length; i++){
                socialInstId[i] = selectedRows[i].socialInstId;
            }
            confirm("@MessageUtil.getMessage(SocialMsgNames.CENTER_SURE_DELETE_SOCIAL)", function(){
                $.ajax({ 
                    url: "@url("/client/social/deleteSocial.action")",
                    data:{socialInstIds:socialInstId.join(',')},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    }
</script>