@args String title = "社交基础信息", 
String pageType,
Boolean isEditWeek,
SocialView condition,
SocialMasterEntity entity
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.course.constant.*;
    com.cloudsoaring.web.social.entity.*;
    java.lang.*;
    com.cloudsoaring.web.trainingplatform.utils.*;
    java.math.BigDecimal;
}
@extends(social, pageType:pageType, pageLoading:false)
@{
    String tempPrice="";
    String pp=ConfigUtil.getProperty("PRICE_DISPLAY_MODE");
    if(pp.equals("P")){
        tempPrice="积分";
    }else if(pp.equals("S")){
      tempPrice="元";
    }
     final String price=tempPrice;
     
     String showTempPrice="";
    if(entity.getPrice() != null) {
         if (TpConfigUtil.displayPriceByPoints()) {
           showTempPrice= BigDecimalUtil.ignoreZeroScale(entity.getPrice().multiply(new BigDecimal(TpConfigUtil.getPointsForSmallChange()))).toString();
         }else{
            showTempPrice=entity.getPrice().toString();
         }
    }
    final String showPrice=showTempPrice;
    
    String tempPreTime="";
    if(entity.getPreTime() != null){
        tempPreTime=BigDecimalUtil.ignoreZeroScale(new BigDecimal(entity.getPreTime())).toString();
    }
     final String preTime=tempPreTime;
}
<div style="width:100%;font-size:15px">
    <div style="padding-top:25px">
      @form("file-form"){
            @row(){
                @input_float(label:"设定约见价格", name:"price", groupcss:"col-10",  maxlength:"11", value:showPrice,unitstring:price,required:true)
               
            }
            @row(){
                @input_float(label:"设定约见时长", name:"preTime", groupcss:"col-10",  maxlength:"11", value:preTime,unitstring:"小时",required:true)
            }
            @row(){
                 @picture(
                     label:MessageUtil.getMessage("社交背景图"),
                     id:"picture",
                     required:true,
                     height:"210px",  
                     groupcss:"col-10", 
                     url:"pub/image.action", 
                     fileid:entity.getBackgroundImage() ,
                     filename:entity.getImageName(),
                     viewmode:false
                  )
            }
           
            @row(){
                  @textarea(
                       groupcss:"col-10", 
                       label:MessageUtil.getMessage("老师简介"), 
                       id:"remark", 
                       required:false,
                       maxlength:"400", 
                       value:entity.getRemark(), 
                       rows:5,
                       disabled:false
                    )
              
            }
           @row(){
             @combobox(
                  label:MessageUtil.getMessage("是否可预约"),
                  name:"socialFlag", 
                  popplace:"left",  
                  value:entity.getSocialFlag(), 
                  options:CodeFactory.getCodeList(SocialStateConstants.SOCIAL_FLAG),
                  required:true, 
                  groupcss:"col-10",
                  disabled:false
               )
           }
          @row(){
                @input(label:"话题1", name:"topicContent1", groupcss:"col-10",  maxlength:"50", value:entity.getTopicContent1(),required:true, disabled:isEditWeek)
          }
          @row(){
                @input(label:"话题2", name:"topicContent2", groupcss:"col-10",  maxlength:"50", value:entity.getTopicContent2(),required:false, disabled:isEditWeek)
          }
          @row(){
                @input(label:"话题3", name:"topicContent3", groupcss:"col-10",  maxlength:"50",value:entity.getTopicContent3(),required:false, disabled:isEditWeek)
          }
        }
      @btnbox(){
        @button_save(width:100)
        @button({label:"主页", 
            btncss:"btn-normal", 
            iconcss:"",
            onclick:"toHome"})
        }
    </div>
  </div>
  <script>
    function toHome(){
         window.open("@url("/pub/social/toSocialDetail.action?masterId=")@WebContext.getSessionUserId()");
     }
    function save() {
          $('#file-form').bootstrapValidator('validate');
          var validate =$('#file-form').data('bootstrapValidator').isValid();
          if(validate){
            var params = new FormData($('#file-form')[0]);
            var topicContents="";
            var topicContent1=getValue($('#topicContent1'));
            var topicContent2=getValue($('#topicContent2'));
            var topicContent3=getValue($('#topicContent3'));
            if(topicContent1 != null){
              topicContents +=topicContent1; 
            }
            if(topicContent2!=null){
              topicContents+=","+topicContent2;
            }
            if(topicContent3!=null){
                topicContents+=","+topicContent3;
            }
            params.append("topicContents", topicContents);
            $.ajax({ 
                url: "@url("/client/social/uploadFile.action")",
                data:params,
                type:"post", 
                contentType:false,  
                processData:false,  
                success: function(result){
               //成功
                    window.location.reload();
	             }
            });
        }
   }
  </script>