@args String title = "" ,
Object condition,
String pageType
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.course.constant.*;
    java.lang.*;
}
@extends(tutor, pageType:pageType, pageLoading:false)


<div style="width:100%;font-size:15px">
     <div style="padding-top:20px;">
        @table(id:"search-result",url:"/client/tutor/tutorMeetApprovalList.action",condition:condition){
            @columns(){
                {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMessage("全选")',width:50}, 
                {field: 'tutorDefNo',title:'@MessageUtil.getMessage("编号")',width:50,align:'center'},
                {field: 'title',title:'@MessageUtil.getMessage("预约辅导名称")',width:50,sortable: true,align:'left', formatter:"titleFormat"}, 
                {field: 'personName',title:'@MessageUtil.getMessage("预约创客")',width:50,sortable: true,align:'left', formatter:""}, 
                {field: 'studentStatus',title:'@MessageUtil.getMessage("所属进度")',width:30,sortable: true,align:'center',formatter:"statusFormat"}, 
                {field: '',title:'@MessageUtil.getMessage("操作")',width:80,align:'center',formatter:"operateFormat"} 
            }
        }
        @btnbox(align:"left"){
            @button(label:MessageUtil.getMessage("删除"),iconcss:"gh gh-trash",onclick:"deleteCourse",innertype:"DEL")
         }
     </div>
</div>
<script>
  function operateFormat(value, row, index){
        var operate = "";
         if(row.studentStatus=="1") {
            operate = " <input name='isPass' type='radio' value='2' />通过 &nbsp;&nbsp; <input name='isPass' type='radio' class='btn btn-default' value='6' />不通过 &nbsp;&nbsp;<button onclick='updateStatus(\""+row.tutorInstId+"\",\""+row.studentId+"\");'>保存</button>";
         }
         if(row.studentStatus=="2") {
             operate = " <input name='isMeet' type='radio' value='3' />见过 &nbsp;&nbsp;<button  class='btn btn-default' value='保存' onclick='updateIsMeet(\""+row.tutorInstId+"\",\""+row.studentId+"\");'>保存</button>";
         }
          var html = operate; 
          return html;
    }
  function titleFormat(value, row, index) {
        var title = hideStringByMax(value, 20);
        title = " <a href='@url("/client/tutor/meetInfoInit.action?tutorInstId=%s&studentId=%s")' target='__blank'>%s</a>".format(row.tutorInstId, row.studentId,title);
        var html = title; 
        return html;
    }
  function statusFormat(value, row, index){ 
      var data = @JsonLib.toJson(CodeFactory.getCodeMap(SocialStateConstants.SOCISL_STATUS)).raw();
      return data[value];
  }
  function updateIsMeet(tutorInstId,studentId){
        var isMeet=$('input:radio[name="isMeet"]:checked').val();
        $.ajax({ 
              url: "@url("/client/tutor/tutorStudentOneMeeted.action")",
              data:{tutorInstId:tutorInstId,studentId:studentId,studentStatus:isMeet},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                 $('#search-result').bootstrapTable('refresh');
              }
         });
    }
    function updateStatus(tutorInstId,studentId){
        var isPass=$('input:radio[name="isPass"]:checked').val();
        $.ajax({ 
              url: "@url("/client/tutor/tutorMeetApproval.action")",
              data:{tutorInstId:tutorInstId,studentId:studentId,studentStatus:isPass},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                 $('#search-result').bootstrapTable('refresh');
              }
         });
    }
</script>