@args String title = "", 
TutorView tutor,
String pageType
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.social.entity.*;
    com.cloudsoaring.web.social.view.*;
    java.lang.*;
    java.math.BigDecimal;
    com.cloudsoaring.web.trainingplatform.utils.*;
    com.cloudsoaring.common.utils.*;
}
@extends(tutor, pageType:pageType, pageLoading:false)
@{
    if(tutor.getTotalNumApply()==null){
        tutor.setTotalNumApply(BigDecimal.ZERO);
    }
    String studentsList="/pblMgr/client/tutor/studentsInit.action?tutorDefId="+tutor.getTutorDefId()+"&titleTutor="+tutor.getTitle()+"&totalNumApply="+tutor.getTotalNumApply()+"&tutorType="+tutor.getTutorType();
    String dscussHref="/pblMgr/client/tutor/discussInit.action?tutorInstId="+tutor.getTutorInstId()+"&tutorDefId="+tutor.getTutorDefId()+"&titleTutor="+tutor.getTitle()+"&totalNumApply="+tutor.getTotalNumApply()+"&tutorType="+tutor.getTutorType();
    String tempTag="";
	if(tutor.getFirstTagName() !=null || tutor.getSecondTagName() != null){
	   tempTag= tutor.getFirstTagName()+"-"+tutor.getSecondTagName();
	}
   final String  Tag=tempTag;
   String tempType="";
   if(tutor.getTutorType() != null){
	    if(tutor.getTutorType().equals("1V1")){
	      tempType="一对一";
	    }else if(tutor.getTutorType().equals("1VN")){
	        tempType="众筹";
	    }else{
	      tempType=tutor.getTutorType();
	    }
    }
    final String tutorType=tempType;
	  String tempTime="";
	if(tutor.getStartDate()!=null || tutor.getEndDate() != null){
	    tempTime=DateUtil.getDateString(tutor.getStartDate(), DateUtil.DATE_PATTERN_14 )+" - "+DateUtil.getDateString(tutor.getEndDate(), DateUtil.DATE_PATTERN_14 );
	}
	final String startAndEndTime=tempTime;
	
	String showTempPrice="";
    if(tutor.getPrice() != null) {
         if (TpConfigUtil.displayPriceByPoints()) {
           showTempPrice= BigDecimalUtil.ignoreZeroScale(tutor.getPrice().multiply(new BigDecimal(TpConfigUtil.getPointsForSmallChange()))).toString();
         }else{
            showTempPrice=tutor.getPrice().toString();
         }
    }
    final String showPrice=showTempPrice;
    String tempPrice="";
    String pp=ConfigUtil.getProperty("PRICE_DISPLAY_MODE");
    if(pp.equals("P")){
        tempPrice="积分";
    }else if(pp.equals("S")){
      tempPrice="元";
    }
     final String price=tempPrice;
}
<style>
  
</style>
 <div style="background:#fff;width:80%;margin-left:40px">
     <ul class="selector-container-rythm" style="margin-top: 20px;font-size:14px">
       <li style="margin-right: 20px">
           <a class="np-title active" href="">
               @MessageUtil.getMsgAndNote("基础信息","ac07006.txt.teacherTutor.basicInformation")
           </a>
       </li>
        <li style="margin-right: 20px">
           <a class="np-title" href="@studentsList">
               @MessageUtil.getMsgAndNote("人员列表","ac07006.txt.teacherTutor.studentList")
           </a>
       </li>
       <li style="margin-right: 20px">
           <a class="np-title " href="@dscussHref">
               @MessageUtil.getMsgAndNote("点评","ac07006.txt.teacherTutor.comment")
           </a>
       </li>
     </ul>
</div>   
<div style="width:80%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
    <div class="row" style=" background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;color:#E84D3B">
        </div>
        <div class="col-lg-11" style="font-size:16px">
             @label(
                label:MessageUtil.getMsgAndNote("课程名称","ac07006.txt.teacherTutor.title"), 
                name:"title",
                groupcss:"", 
                value:tutor.getTitle()
             )
        </div>
    </div>
    <div class="row" style="background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-11" style="font-size:16px" >
             @label(
                label:MessageUtil.getMsgAndNote("课程简介","ac07006.txt.teacherTutor.content"), 
                name:"content",
                groupcss:"", 
                value:tutor.getContent()
             )
        </div>
    </div>
    <div class="row" style="background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-11" style="font-size:16px" >
		      @label(
                label:MessageUtil.getMsgAndNote("分类","ac07006.txt.teacherTutor.tag"), 
                name:"tag",
                groupcss:"", 
                value: Tag
             )
        </div>
    </div>
    <div class="row" style="background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-11" style="font-size:16px;text-align:left" >
          <span id="tutorType">
             @label(
                label:MessageUtil.getMsgAndNote("授课类型","ac07006.txt.teacherTutor.tutorType"), 
                name:"tutorType",
                groupcss:"", 
                value:tutorType
             )
           </span>
        </div>
    </div>
	    <div class="row" style="margin-top:15px;background-color:#FFFFFF;">
	        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
	        <div class="col-lg-11" style="font-size:16px" >
		        @label(
	                label:MessageUtil.getMsgAndNote("开始结束时间","ac07006.txt.teacherTutor.startAndEndTime"), 
	                name:"startAndEndTime",
	                groupcss:"", 
	                value:startAndEndTime
	             )
	        </div>
	    </div>
	    @if(tutor.getTutorType().equals("1VN"))
		    <div class="row" style="margin-top:15px;background-color:#FFFFFF;">
		        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
		        <div class="col-lg-11" style="font-size:16px" >
		         @label(
                    label:MessageUtil.getMsgAndNote("开课地点","ac07006.txt.teacherTutor.address"), 
                    name:"address",
                    groupcss:"", 
                    value:tutor.getAddress()
                 )
		        </div>
		    </div>
		    <div class="row" style="margin-top:15px;background-color:#FFFFFF;">
		        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
		        <div class="col-lg-11" style="font-size:16px" >
		         @label(
                    label:MessageUtil.getMsgAndNote("开课时间","ac07006.txt.teacherTutor.startTime"), 
                    name:"address",
                    groupcss:"", 
                    value:DateUtil.getDateString(tutor.getStartTime(), DateUtil.DATE_PATTERN_14 )
                 )
		        </div>
		    </div>
	    }
     <div class="row" style="margin-top:15px;background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-11" style="font-size:16px" >
               @label(
                    label:MessageUtil.getMsgAndNote("开课价格","ac07006.txt.teacherTutor.price"), 
                    name:"price",
                    groupcss:"", 
                    value:showPrice,
                    unitstring:price
                 )
        </div>
    </div>
      @if(tutor.getTutorType().equals("1VN"))
	     <div class="row" style="margin-top:15px;background-color:#FFFFFF;">
	        <div class="col-lg-1" style="font-size:20px;color:#E84D3B"></div>
	        <div class="col-lg-11" style="font-size:16px" >
	                @label(
                    label:MessageUtil.getMsgAndNote("开课人数","ac07006.txt.teacherTutor.numStudents"), 
                    name:"numStudents",
                    groupcss:"", 
                    value:tutor.getNumStudents()
                 )
	        </div>
	    </div>
     }
    <div class="clearfix"></div>
</div>
<script>
</script>