@args String title = "", 
String pageType,
TutorView tutor
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.social.entity.*;
    com.cloudsoaring.web.social.view.*;
    java.lang.*;
}
@{
    String status=tutor.getStudentStatus();
    final List<StepInfo> steps = new ArrayList<StepInfo>();
     if(status.equals("5")){
         steps.add(new StepInfo("0",MessageUtil.getMessage("创客付款")));
         steps.add(new StepInfo("5",MessageUtil.getMessage("创客取消")));
    }else if(status.equals("6")){
         steps.add(new StepInfo("0",MessageUtil.getMessage("创客付款")));
         steps.add(new StepInfo("6",MessageUtil.getMessage("老师拒绝")));
    }else{
        steps.add(new StepInfo("0",MessageUtil.getMessage("创客预约")));
        steps.add(new StepInfo("1",MessageUtil.getMessage("创客付款")));
        steps.add(new StepInfo("2",MessageUtil.getMessage("老师确认")));
        steps.add(new StepInfo("3",MessageUtil.getMessage("老师确认见过")));
        steps.add(new StepInfo("4",MessageUtil.getMessage("创客点评")));
    }
}
@extends(tutor, pageType:pageType, pageLoading:false)
<div style="width:90%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
     <div class="row" style="margin-top:15px; background-color:#FFFFFF;">
        <div class="col-lg-2" style="font-size:18px;color:#D7000F">
                           基础信息
        </div>
        <div class="col-lg-10" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px; background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:18px;color:#D7000F;text-align:left">
        </div>
        <div class="col-lg-3" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"><span>课程名称：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px;text-align:left">@tutor.getTitle()</div>
    </div>
    <div class="row" style="margin-top:15px; background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:18px;color:#D7000F;">
        </div>
        <div class="col-lg-3" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"><span>创客名称：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px;">@tutor.getPersonName()</div>
    </div>
     <div class="row" style="margin-top:15px; background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;">
        </div>
        <div class="col-lg-3" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"><span>预约描述：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">
        </div>
    </div>
    <div class="row" style="margin-top:15px; background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;">
        </div>
        <div class="col-lg-11" style="font-size:16px">
           <div class="row" style="background-color:#FFFFFF;" >
              <div class="col-lg-12">
                <span>创客请教的问题：</span>
                 @tutor.getQuestion()
              
              </div>
           </div>
            <div class="row" style="background-color:#FFFFFF;margin-top:30px;">
              <div class="col-lg-12">
                <span>创客自我介绍：</span>
                @tutor.getIntroduction()
              </div>
           </div>
            <div class="row" style="background-color:#FFFFFF;margin-top:30px;">
              <div class="col-lg-12"><span>进度 </span></div>
           </div>
           <div class="row" style="background-color:#FFFFFF;margin-top:30px;">
              <div class="col-lg-12"><span>@wizard(steps:steps,value:tutor.getStudentStatus())</span></div>
           </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="background-color:#FFFFFF">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_back(style:"width:120px;height:50px;",onclick="goBack")</span>
        </div>
    </div>
</div>
