@args String title = "" ,
String pageType,
TutorDefEntity condition

@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.course.constant.*;
     com.cloudsoaring.web.social.entity.*;
    java.lang.*;
    com.cloudsoaring.web.trainingplatform.utils.*;
}
@extends(tutor, pageType:pageType, pageLoading:false)

<div style="width:100%;font-size:15px;">
    <div style="padding-top:20px;">
	    @table(id:"search-result",url:"/client/tutor/tutorList.action",sortName:"createDate", condition:condition,sortOrder:"desc",queryParamFunction:"createQueryParams01"){
	        @columns(){
	            {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMessage("全选")',width:50}, 
	            {field: 'tutorDefNo',title:'@MessageUtil.getMessage("编号")',width:50,align:'center'},
	            {field: 'title',title:'@MessageUtil.getMessage("课程信息")',width:200,sortable: true,align:'left', formatter:"titleFormat"}, 
	            {field: 'tutorType',title:'@MessageUtil.getMessage("类型")',width:80,sortable: true,align:'center',formatter:"typeFormat"}, 
	            {field: 'price',title:'@MessageUtil.getMessage("价格")',width:150,sortable: true,align:'center',formatter:"priceFormat"},
	            {field: 'numStudents',title:'@MessageUtil.getMessage("开课人数")',width:50,sortable: true,align:'center'},
	            {field: 'status',title:'@MessageUtil.getMessage("状态")',width:70,sortable: true,align:'center',formatter:"statusFormat"},
	            @optcolumn(){
	                @iconlink(
	                    label:MessageUtil.getMessage("编辑")
	                    , iconcss:"glyphicon-pencil"
	                    , onclick:"editNotice"
	                    , visible:hasAnyInnerAccess("EDIT")
	                    , visibleFunction:"isEditNotice"
	                )
	               @iconlink(
	                    label: (MessageUtil.getMessage(CourseMsgNames.CENTER_RELEASE) + "," + MessageUtil.getMessage(CourseMsgNames.CENTER_NOT_RELEASE))
	                    , iconcss:"fa fa-share,fa fa-mail-reply"
	                    , onclick:"publicTutor"
	                    , visibleFunction:"isLook"
	             )
	            }
	        }
	    }
	     @btnbox(align:"left"){
	        @button(label:MessageUtil.getMessage("新增"),iconcss:"fa fa-plus",onclick:"addTutor",url:"",innertype:"ADD")
	        @button(label:MessageUtil.getMessage("删除"),iconcss:"gh gh-trash",onclick:"deleteCourse",innertype:"DEL")
	     }
	 </div>
</div>


 <script type="text/javascript">
  function statusFormat(value, row, index){
    if(value=='0'){
        return "未发布";
    }else if(value=='1'){
        return "已发布";
    }else{
        return "";
    }
  }
   function publicTutor(row) {
         if(row.status=='@SocialStateConstants.TUTOR_DEF_STATUS_RELEASED') {
            _doCancelpublicTutor(row);
        } else {
            _dopublicTutor(row);
        }
    }
     function _doCancelpublicTutor(row) {
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_NOT_PUBLIC)",function(){
            var url  = "@url("/client/tutor/updateTutorStatus.action?tutorDefId=")"+row.tutorDefId+"&statusType=cancel";
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    parent.refreshTable();
                }
            });
        })
    }
     function _dopublicTutor(row) {
         confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_PUBLIC)",function(){
            var url  = "@url("/client/tutor/updateTutorStatus.action?tutorDefId=")"+row.tutorDefId+"&statusType=issue";
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    parent.refreshTable();
                }
            });
        })
    }
  function isLook(value, row, index){ 
        return row.status;
    }
   function titleFormat(value, row, index) {
        var title = hideStringByMax(value, 20);
        title = " <a href='@url("/client/tutor/tutorViewInit.action?tutorDefId=%s&tutorType=%s")' target='__blank'>%s</a>".format(row.tutorDefId,row.tutorType, title);
        var html = title; 
        return html;
    }
    function addTutor(){
        window.location.href = "@url("/client/tutor/addInit.action")";
    }
    function editNotice(row){
        window.location.href = "@url("/client/tutor/editInit.action?")"+"tutorDefId="+row.tutorDefId +"&tutorType="+row.tutorType;
    }
    function deleteCourse(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var tutorDefId = [];
            for(var i = 0; i < selectedRows.length; i++){
                tutorDefId[i] = selectedRows[i].tutorDefId;
            }
            confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_SURE_DELETE_COURSE)", function(){
                $.ajax({ 
                    url: "@url("/client/tutor/deleteTutor.action")",
                    data:{tutorDefIdArray:tutorDefId.join(',')},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    }
    function isEditNotice(value, row, index){
        return true;
    }
     function typeFormat(value, row, index){ 
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(SocialStateConstants.TUTOR_TYPE)).raw();
        return data[value]; 
    }
     function createQueryParams01(params){
        return buildQueryParam('#search-condition', params);
    }
    function priceFormat(value, row, index){
        if(value != null) {
            if (@TpConfigUtil.displayPriceByPoints()) {
               return  value*(@TpConfigUtil.getPointsForSmallChange()) +"积分";
            }else{
                return value+"元";
            }
        }
    }
</script>