@args String title = "", 
TutorView tutor,
String totalNumApply,
String tutorDefId,
String tutorInstId,
String titleTutor,
String tutorType,
String pageType
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.social.entity.*;
    com.cloudsoaring.web.social.view.*;
    java.lang.*;
}
@extends(tutor, pageType:pageType, pageLoading:false)
@{
    String dscussHref="/pblMgr/client/tutor/discussInit.action?tutorInstId="+tutorInstId+"&tutorDefId="+tutorDefId+"&titleTutor="+titleTutor+"&totalNumApply="+totalNumApply+"&tutorType="+tutorType;;
    String infoHref="/pblMgr/client/tutor/tutorViewInit.action?tutorDefId="+tutorDefId+"&tutorType="+tutorType;;

}
<div style="background:#fff;width:80%;margin-left:40px">
     <ul class="selector-container-rythm" style="margin-top: 20px;font-size:14px">
       <li style="margin-right: 20px">
           <a class="np-title " href="@infoHref">
               @MessageUtil.getMsgAndNote("基础信息","ac07006.txt.teacherTutor.basicInformation")
           </a>
       </li>
        <li style="margin-right: 20px">
           <a class="np-title active" href="">
                @MessageUtil.getMsgAndNote("人员列表","ac07006.txt.teacherTutor.studentList")
           </a>
       </li>
       <li style="margin-right: 20px">
           <a class="np-title " href="@dscussHref">
              @MessageUtil.getMsgAndNote("点评","ac07006.txt.teacherTutor.comment")
           </a>
       </li>
     </ul>
</div>   
<div style="width:80%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
     <div class="row" style="margin-top:15px; background-color:#FFFFFF;">
        <div class="col-lg-6" style="font-size:16px">
            <span>课程名称：</span><span>@titleTutor</span>
        </div>
        <div class="col-lg-6" style="font-size:16px">
            <span>辅导人数：</span><span>@totalNumApply</span>
        </div>
    </div>
    <div class="row" style="margin-top:25px; background-color:#FFFFFF;">
        <div class="col-lg-2" style="font-size:16px;color:#D7000F">
                             学员信息:
        </div>
        <div class="col-lg-2" style="font-size:16px">
        </div>
        <div class="col-lg-8" style="font-size:16px"></div>
    </div>
  @line_list(url:("/client/tutor/tutorStudentsList.action?tutorDefId="+tutorDefId+"&pageSize=10")){ 
     @list_item(renderItemFunction:"renderItemContent") {
         <div class="row" style="margin-top:15px;background-color:#FFFFFF;">
            <div class="col-lg-3" style="font-size:16px;text-align:right" >
               %personName
            </div>
            <div class="col-lg-2" style="font-size:16px;">
               %mobile
            </div>
              <div class="col-lg-1" style="font-size:16px">
            </div>
            <div class="col-lg-6" style="font-size:16px" >
               %email
            </div>
     </div>
         }
        <div class="clearfix"></div>
    </div>
}
<script>
    function renderItemContent(itemContent, obj) {
        var personName = hideStringByMax(obj.personName,10);
        var mobile = hideStringByMax(obj.mobile,20);
        var email = hideStringByMax(obj.email,50);
        return itemContent
                    .replace(/%personName/g, replaceNull(personName))
                    .replace(/%mobile/g, replaceNull(mobile))
                    .replace(/%email/g, replaceNull(email));
    }
     function replaceNull(str){
            if(str == null || str == "undefind"){
                return "";
            }else{
                return str;
            }
        }
    //对多余的字符进行隐藏
    function hideStringByMax(oldString, maxLength) {
        var result = oldString;
        if(oldString!=null && oldString.length > maxLength){
            result = oldString.substring(0,maxLength);
            result += "...";
        }
        return result;
    }
</script>