@args String title = "", 
Object catagoryTags,
Object  tagsSecond,
TutorView tutor,
String pageType
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.social.entity.*;
    com.cloudsoaring.web.social.view.*;
    java.lang.*;
    com.cloudsoaring.web.trainingplatform.utils.*;
    java.math.BigDecimal;
}
@extends(tutor, pageType:pageType, pageLoading:false)
@if(tutor.getTutorDefNo()==null){
	<div style="margin-left:50px;margin-bottom:5px;font-size:16px;color:#D7000F">
        <p> 
            <span>授课信息>新增</span> 
        </p>
    </div>
}else{
    <div style="margin-left:50px;margin-bottom:5px;font-size:16px;color:#D7000F">
        <p> 
            <span>授课信息>编辑</span> 
        </p>
    </div>
}
@{
    String tempPrice="";
    String pp=ConfigUtil.getProperty("PRICE_DISPLAY_MODE");
    if(pp.equals("P")){
        tempPrice="积分";
    }else if(pp.equals("S")){
      tempPrice="元";
    }
     final String price=tempPrice;
     
     String showTempPrice="";
    if(tutor.getPrice() != null) {
         if (TpConfigUtil.displayPriceByPoints()) {
           showTempPrice= BigDecimalUtil.ignoreZeroScale(tutor.getPrice().multiply(new BigDecimal(TpConfigUtil.getPointsForSmallChange()))).toString();
         }else{
            showTempPrice=tutor.getPrice().toString();
         }
    }
    final String showPrice=showTempPrice;
     Boolean tempDisabled=false;
     if(pageType.equals("edit")){
        tempDisabled=true;
     }
    final Boolean disabled=tempDisabled;
}
<div style="width:100%;height:100%;padding-top:10px;padding-bottom:50px;">

	@form("file-form"){
	     @row(){
              @input(label:"课程名称", name:"title", groupcss:"col-12",  maxlength:"50",required:true, value:tutor.getTitle())
              @hidden(id:"tutorDefId", name:"id", value:tutor.getTutorDefId())
              @hidden(id:"tutorDefNo", name:"tutorDefNo", value:tutor.getTutorDefNo())
          }
          @row(){
             @ue_image_video(label:"课程简介",height:"200",width:"100%", value:tutor.getContent())
         }
          @row(){
                @combobox(
                    label:MessageUtil.getMessage("课程分类"),
                    name:"firstTag", 
                    groupcss:"col-7", 
                    popplace:"left", 
                    multiple:false, 
                    value:tutor.getFirstTag(),
                    labelfield:"tagName", 
                    placeholder:"一级标签",
                    valuefield:"tagId",
                    options:catagoryTags,
                    required:true, 
                    onChange:"getSecondTag",
                    disabled:false
                 )
                 @if(tutor.getFirstTag()==null){
                     @combobox(
	                    name:"secondTag", 
	                    groupcss:"col-5", 
	                    popplace:"left", 
	                    placeholder:"二级标签",
	                    showempty:false,
	                    multiple:false,  
	                    value:tutor.getSecondTag(), 
	                    labelfield:"tagName", 
	                    valuefield:"tagId", 
	                    required:true
	                 ) 
                 
                 }else{
	                @combobox(
	                    name:"secondTag", 
	                    groupcss:"col-5", 
	                    popplace:"left", 
	                    placeholder:"二级标签",
	                    showempty:false,
	                    multiple:false,  
	                    value:tutor.getSecondTag(), 
	                    url:("/manager/course/searchSecondTag.action?id="+tutor.getFirstTag()),
	                    labelfield:"tagName", 
	                    valuefield:"tagId", 
	                    required:true
	                 )  
	              }
              
           }
           @row(){
             @ftdate(
                validation:true, 
                label:MessageUtil.getMessage("开始时间"),
                fromname:"applyStartDate", 
                groupcss:"col-12", 
                toname:"applyEndDate",
                showbutton:false,
                torequired: true, 
                fromrequired: true,
                fromvalue:tutor.getStartDate(),
                tovalue:tutor.getEndDate(), 
                onlydate:true
             ) 
           }
           @row(){
             @combobox(
                 label:MessageUtil.getMessage("课程类型"),
                 name:"tutorType", 
                 groupcss:"col-6", 
                 popplace:"left", 
                 showempty:false,
                 disabled:disabled,
                 value:tutor.getTutorType(), 
                 options:CodeFactory.getCodeList(SocialStateConstants.TUTOR_TYPE),
                 required:true,
                 onChange:"changeType"
             ) 
              @input(label:"辅导时长", name:"tutorDuration", groupcss:"col-6",  maxlength:"11",required:true, value:tutor.getTutorDuration()) 
           }
         
           @row(){
             @input_float(label:"开课价格", name:"price", groupcss:"col-6",  maxlength:"11",required:true, value:showPrice,unitstring:price,)
             <div id="num">
                @input(label:"开课地点", name:"address", groupcss:"col-6",  maxlength:"200",required:true, value:tutor.getAddress())
            </div>   
           }
         <div id="addressAndTime">
            @row(){
               @input_number(
                    label:"最少开课人数 ", 
                    name:"numStudentsMin",
                    groupcss:"col-6", 
                    maxlength:"11",
                    required:true, 
                    value:tutor.getNumStudentsMin()
                  )
                 @input_number(
                    label:"最大开课人数", 
                    name:"numStudents",
                     groupcss:"col-6", 
                      maxlength:"11",
                      required:true, 
                      value:tutor.getNumStudents()
                  )
                 @date(
                    label:"开课时间",
                    required:true,
                    name:"startTime",
                    placeholder:"请选择开课时间", 
                    onlydate:false, 
                    format:"yyyy-mm-dd hh:ii",
                    groupcss:"col-6", 
                    popplace:"left",
                    value:tutor.getStartTime()
                  )
           }
      </div>
          
	}
	@btnbox(){
	    @button_save(width:100)
	    @button_close(width:100, onclick:"closeWindow")
   }
</div>
<script>
     $(function(){
       var type=$("#tutorType").val();
       changeType(type);
       
    });
     function closeWindow() {
       //window.close();
       window.history.go(-1);
    }
    function changeType(value){
     var addressAndTime=document.getElementById("addressAndTime");
     var num=document.getElementById("num");
       if(value =="1V1"){
            addressAndTime.style.display="none";
            num.style.display="none";
       }else{
            addressAndTime.style.display="block";
            num.style.display="block";
       }
       if($("#tutorType").val()=="1V1"){
          disabledFieldValidators($("[name=numStudents]"),true);
          disabledFieldValidators($("[name=address]"),true);
          disabledFieldValidators($("[name=startTime]"),true);
          disabledFieldValidators($("[name=numStudentsMin]"),true);
        }else {
           disabledFieldValidators($("[name=numStudents]"),false);
           disabledFieldValidators($("[name=address]"),true);
           disabledFieldValidators($("[name=startTime]"),false);
           disabledFieldValidators($("[name=numStudentsMin]"),false);
        }
    }
    function getSecondTag(value){ 
      
       if(value==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/manager/course/searchSecondTag.action?id=")"+value;
            
            $("#secondTag").selectpicker('reload', url);
            
       }
       // parent.refreshTable();
    }
     function save() {
        $('#file-form').bootstrapValidator('validate');
        var validate =  $('#file-form').data('bootstrapValidator').isValid();
           if(validate){
	            var params = new FormData($('#file-form')[0]);
	            var tutorDefId = getValue($('#tutorDefId')); 
	            var secondTags = getValue($('#secondTag'));
	            var tutorType = getValue($('#tutorType'));         
	            if( tutorDefId !=""){
	                 params.append("tutorType",tutorType);
	            }
	            params.append("tutorDefId",tutorDefId);
	            params.append("secondTags",secondTags);
	            params.append("content",ue.getContent());
	            
	            $.ajax({ 
	                url: "@url("/client/tutor/submitTutor.action")",
	                data:params,
	                method:"post",  
	                bodyMsg:true,
	                mask:true,
	                /** 
	                 *必须false才会自动加上正确的Content-Type 
	                 */
	                contentType:false,  
	                /** 
	                 * 必须false才会避开jQuery对 formdata 的默认处理 
	                 * XMLHttpRequest会对 formdata 进行正确的处理 
	                 */  
	                processData:false, 
	                success: function(result){
	                    if(result.status){
                           success("@MessageUtil.getMessage(SocialMsgNames.CENTER_SAVE_SUCCESS)", function(){
                              window.history.go(-1);
                           });
                       }else{
                           bodyError(result.messages);
                       }
	                }
	            });
	      
        }
         
    }
</script>