@args String title = "", 
SocialView social,
String pageType
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.social.entity.*;
    java.lang.*;
}
@{
    String status=social.getStatus();
    final List<StepInfo> steps = new ArrayList<StepInfo>();
    if(status.equals("5")){
         steps.add(new StepInfo("0",MessageUtil.getMessage("创客付款")));
	     steps.add(new StepInfo("5",MessageUtil.getMessage("创客取消")));
    }else if(status.equals("6")){
         steps.add(new StepInfo("0",MessageUtil.getMessage("创客付款")));
		 steps.add(new StepInfo("6",MessageUtil.getMessage("老师拒绝")));
    }else{
        steps.add(new StepInfo("0",MessageUtil.getMessage("创客预约")));
        steps.add(new StepInfo("1",MessageUtil.getMessage("创客付款")));
        steps.add(new StepInfo("2",MessageUtil.getMessage("老师确认")));
        steps.add(new StepInfo("3",MessageUtil.getMessage("老师确认见过")));
        steps.add(new StepInfo("4",MessageUtil.getMessage("创客点评")));
    }
}
@extends(social, pageType:pageType, pageLoading:false)
<div style="width:90%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
    <div class="row" style=" background-color:#FFFFFF;">
        <div class="col-lg-2" style="font-size:18px;color:#D7000F">
           @MessageUtil.getMsgAndNote(" 基础信息","ac07006.txt.teacherSocial.basicInformation")
        </div>
        <div class="col-lg-10" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"></div>
            </div>
        </div>
    </div>
     <div class="row" style="background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:18px;color:#D7000F;text-align:left">
        </div>
        <div class="col-lg-11" style="font-size:16px">
             @label(
                label:MessageUtil.getMsgAndNote("创客名称","ac07006.txt.teacherSocial.personName"), 
                name:"personName",
                groupcss:"", 
                value:social.getPersonName()
             )
       </div>
    </div>
     <div class="row" style=" background-color:#FFFFFF;">
        <div class="col-lg-1" style="font-size:20px;">
        </div>
        <div class="col-lg-3" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12">
                     @label(
		                label:MessageUtil.getMsgAndNote("预约描述","ac07006.txt.teacherSocial.description"), 
		                name:"description",
		                groupcss:"", 
		                value:""
		             )
                </div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">
        </div>
    </div>
     <div class="row" style=" background-color:#FFFFFF;">
        <div class="col-lg-2" style="font-size:20px;">
        </div>
        <div class="col-lg-10" style="font-size:16px">
           <div class="row" style="background-color:#FFFFFF;" >
              <div class="col-lg-12">
                 @label(
                        label:MessageUtil.getMsgAndNote("创客请教的问题","ac07006.txt.teacherSocial.question"), 
                        name:"personName",
                        groupcss:"", 
                        value:social.getQuestion()
                     )
              </div>
           </div>
            <div class="row" style="background-color:#FFFFFF;">
              <div class="col-lg-12">
                 @label(
                        label:MessageUtil.getMsgAndNote("创客自我介绍","ac07006.txt.teacherSocial.introduction"), 
                        name:"introduction",
                        groupcss:"", 
                        value:social.getIntroduction()
                   )
              </div>
           </div>
           <div class="row" style="background-color:#FFFFFF;">
              <div class="col-lg-12">
                 @label(
                        label:MessageUtil.getMsgAndNote("预约话题","ac07006.txt.teacherSocial.topicContent"), 
                        name:"topicContent",
                        groupcss:"", 
                        value:social.getTopicContent()
                   )
              </div>
           </div>
            <div class="row" style="background-color:#FFFFFF;">
              <div class="col-lg-12">
                 @label(
                       label:MessageUtil.getMsgAndNote("进度","ac07006.txt.teacherSocial.progress"), 
                       name:"personName",
                       groupcss:"" 
                  )
              </div>
           </div>
           <div class="row" style="background-color:#FFFFFF;">
              <div class="col-lg-12"><span>@wizard(steps:steps,value:social.getStatus())</span></div>
           </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="background-color:#FFFFFF">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_back(style:"width:120px;height:50px;",onclick="goBack")</span>
        </div>
    </div>
</div>
