@args String title = "", 
String categoryId="", 
String pageType="list",
Boolean pageLoading=true,
List categorys,
String measureType
@import(){  
    com.cloudsoaring.web.social.constant.*;
    com.cloudsoaring.web.course.constant.*;
    com.cloudsoaring.web.social.entity.*;
}
@extends(trainingplatform.client.center.center_base, title:"辅导管理", selectedPage:"tutorlistInit")

<!-- 页面中间部分 -->     
<style>  
    .np-title{ 
        color:#a7a7a7;  
        font-size:16px; 
        cursor:pointer;         
    }      
    .np-title.active{       
        cursor: not-allowed; 
    }  
</style>
<div id="mainContent" style="margin-left:0px">
<!-- 页面内容 -->
    <!-- 页面内容上部分导航 -->
    @render("mainContent"){
        @content(css:"page-content"){
            <div style="padding:0px 20px 20px 20px;">
                @{
                    String listHref = "#";
                    String listCss = "";
                    String infoHref = "#";
                    String addExamHref = "#";
                    String tagHref = "#";
                    String infoCss = "";
                    String  studentListCss ="";
                    String studentListHref="";
                    String addExamCss = "";
                    String tagCss = "";
                    String meetCss="";
                    String meetHref="";
                    if("list".equals(pageType)){
                        listCss = "active";
                        meetHref = WebContext.url("/client/tutor/meetInit.action");
                    }else if("meet".equals(pageType)){
                        meetCss = "active";
                        listHref = WebContext.url("/client/tutor/listInit.action");
                    }else if("info".equals(pageType)){
                        listCss = "active";
                        listHref = WebContext.url("/client/tutor/listInit.action");
                        meetHref = WebContext.url("/client/tutor/meetInit.action");
                    }else if("studentList".equals(pageType)){
                        listCss = "active";
                        listHref = WebContext.url("/client/tutor/listInit.action");
                        meetHref = WebContext.url("/client/tutor/meetInit.action");
                    }else if("discuss".equals(pageType)){
                        listCss = "active";
                        listHref = WebContext.url("/client/tutor/listInit.action");
                        meetHref = WebContext.url("/client/tutor/meetInit.action");
                    }else if("meetInfo".equals(pageType)){
                        meetCss = "active";
                        listHref = WebContext.url("/client/tutor/listInit.action");
                        meetHref = WebContext.url("/client/tutor/meetInit.action");
                    }
                }
                <ul class="selector-container-rythm" style="font-size:16px">
                    <li style="margin-right: 20px">
                        <a class="np-title" href="" style="font-size:18px;color:#000000;font-weight:600;">
                           @MessageUtil.getMessage("辅导管理")
                        </a>
                    </li>
                </ul>
                <div style="background:#fff;width:1000px">
	                  <ul class="selector-container-rythm" style="margin-top: 20px;font-size:14px">
	                    <li style="margin-right: 20px">
	                        <a class="np-title  @listCss" href="@listHref">
	                            @MessageUtil.getMessage("授课信息")
	                        </a>
	                    </li>
	                    @if("on".equalsIgnoreCase(ConfigUtil.getProperty(SocialConfigNames.SHOW_TUTOR_METTING))){
	                     <li style="margin-right: 20px">
	                        <a class="np-title @meetCss" href="@meetHref">
	                            @MessageUtil.getMessage("约见待审核")
	                        </a>
	                    </li>
	                    }
	                  </ul>
	             </div>
            </div>
            
        }
        <div id="pageContent">
            @if(StringUtil.isNotEmpty(title)){
                <div id="pageTitle">
                    <h>@title</h>
                </div>
            }
            <div id="pageBody" style="overflow:hidden">
                @render()
            </div>
            <div class="clearfix"></div>
        </div>
     }
</div>

<script type="text/javascript">
    //生成GUID
    function _guid() {
        function S4() {
           return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
        }
        return (S4()+S4()+S4()+S4()+S4()+S4()+S4()+S4());
    }
</script>
