@args String linkId="", String linkType=""
@extends(course,title:"作业设置")

@form("file-form"){

	<div style="width:970px;padding-top:10px;margin-left:20%;">
		@input(id:"form",label:"题目", name:"title", groupcss:"", required: true, maxlength:"50", value:"", )
	</div>
	<div style="margin-left:19%;">
 			@ue_image_video(label:"题目描述", height:200,width:"80%", value:"")
 	</div>
 	
			@btnbox(align:"center"){
				<span style="diaplay:inline-block; margin-right:60px;">
					@button(label:"保存",width:200,iconcss:"",onclick:"release",innerType:"", id:"btnAdd")	
				</span>
				<span style="diaplay:inline-block;margin-left:60px;">
					@button_close(label:"返回",width:200,iconcss:"",onclick:"closeWindow")
				</span>
				
			
			}	
	
		<div class="clearfix"></div>

}


<script>

 function closeWindow() {
        window.history.go(-1);
    }
  function release(){
    	 $('#file-form').bootstrapValidator('validate');
    	 if($('#file-form').data('bootstrapValidator').isValid()){
    	 	var title=$('#form').prop("value");
    	 	var content= ue.getContent();
    	 	var linkId="@linkId";
    	 	var linkType="@linkType";
    	 	$.ajax({ 
                url: "@url("/manager/course/saveTask.action")",
                data:{linkId:linkId,linkType:linkType,title:title,content:content},
                method:"post",  
                bodyMsg:true,
                mask:true,
                success: function(result){
   					success("作业设置成功", function(){
                      window.history.go(-2);
                 	});
                }
            });
    	 
    	 }
    }

</script>