@args String title = ""
@extends(course, title:"")
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;
}

<!-- 下载模板 -->
<!-- 上传文件 -->
@column("col-2")
@column("col-8"){
    @form("import-form"){
        @file(required:true,label:(TpMsgNames.TXT_PLEASE_UPLOAD),fileextion:"zip", name:"course",placeholder:(MessageUtil.getMessage(TpMsgNames.TXT_SELECT_FILE))){
         }
        @column(align:"right",css:"fcol-12", style:"padding-bottom: 20px;"){    <a class="down-temp" target="_blank" href="@url("/resources/template/courseImportTemplate.zip")">@message(TpMsgNames.TXT_DOWNLOAD_TEMP)</a>}
        @btnbox(){
            @button(label:TpMsgNames.TXT_UPLOAD,iconcss:"gh gh-import",width:160,onclick:"importUser",style="margin-left:200px;" )
            @button_clear(width:160, onclick:"doClear")
            @button_back(width:160)
        }
        @div(id:"result", css:"result-ta")
    }
}
@column("col-2")
<!-- 样式 -->
<style>
    .down-temp{
        width: 80px;
        text-align: center;
        vertical-align: middle;
        padding-right: 20px;
    }
    .result-ta{
        margin-left: 85px;
        border:none;
        min-height:400px;
    }
    .import_result{
        font-size:16px;
    }
    .total_cnt{
        color:#E84D3B;
        border-bottom:2px solid #E84D3B;
    }
    .failed_cnt{
        color:#b60006;
        border-bottom:2px solid #b60006;
    }
    .success_cnt{
        color:#8cc152;
        border-bottom:2px solid #8cc152;
    }
    .failed_item{
        color:#b60006;
        list-style:none;
    }
</style>
<!-- 脚本 -->
<script>
    $(function (){
        $('#import-form').bootstrapValidator();
    });
    function importUser(){
        $('#import-form').bootstrapValidator('validate');
        var formValid = $('#import-form').data('bootstrapValidator').isValid();
        if(formValid){
            var params = new FormData($('#import-form')[0]);
           $.ajax({ 
                url: "@url("/manager/course/importCourse.action")",
                data:params,
                type:"post", 
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false,  
                success: function(resp){
                    var result = resp.data;
                    var courseResult=result[0];
                    var chapterResult=result[1];
                    var total = courseResult.totalCount;
                    var failed = courseResult.noneValidatedRows.length;
                    var failedc = chapterResult.noneValidatedRows.length;
                    var realFailedSheets = courseResult.noneValidatedSheets;
                    realFailedSheets.merge(chapterResult.noneValidatedSheets); 
                    var realFailed = realFailedSheets.length;
                    var success = total -  failed;
                    var tb = "&nbsp;<span class='total_cnt'><b>"+total+"</b></span>&nbsp;";
                    var fb = "&nbsp;<span class='failed_cnt'><b>"+realFailed+"</b></span>&nbsp;";
                    var tmsg ="<br/><span class='import_result'>" +  '@message("msg.s.importcourse")' + "</span>"; 
                    if(realFailed > 0){
                      tmsg= "<br/><span class='import_result'>" + "@message(TpMsgNames.MSG_COURSE_IMPORT)".format(tb, fb) + "</span>";
                    }
                    $("#result").html("");
                    $("#result").append(tmsg);
                    if(failed > 0){
                        var list = $("<ul class='failed_list'></ul>");
                        $("#result").append(list);
                        for(var i=0; i<failed; i++){
                            list.append("<br/>"+ "<li class='failed_item failed_item fa fa-remove'>" + courseResult.noneValidatedRows[i].message + "</li>");
                        }
                    } 
                    if(failedc > 0){
                        var list = $("<ul class='failed_list'></ul>");
                        $("#result").append(list);
                        for(var i=0; i<failedc; i++){
                            list.append("<br/>"+ "<li class='failed_item failed_item fa fa-remove'>" + chapterResult.noneValidatedRows[i].message + "</li>");
                        }
                    } 
                } 
                
            }); 
        }
    }
    
    function doClear(){
        clearForm($('#import-form'));
        $("#result").html("");
    }
</script>