@args String title = "", 
CourseManagerView course,
String pageType,
Boolean isOnlyView = false,
String type
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.CourseManagerView;
    java.lang.*;
}
@extends(course, pageType:pageType)
<div style="width:80%;height:100%;margin-left:auto;margin-right:auto;background: #fff;padding-left:100px;">
	@form("file-form"){
	    <div  >
	      @textarea(
          	groupcss:"col-10",
            label:MessageUtil.getMessage("分享理由"), 
            id:"shareComment", 
            required:false,
            maxlength:"400", 
            height:"120px",
            value:course.getShareComment(), 
            disabled:false
           )
          @hidden(id:"courseId", name:"id", value: course.getId())
          @hidden(id:"type", name:"type",value:type)
	    </div>
     @btnbox(){
	     @button_save(width:100) 
	    @button_close(width:100, onclick:"closeWindow")
    }
    }
    <div class="clearfix"></div>
</div>



<script type="text/javascript">
    function closeWindow() {
       //window.close();
       window.history.go(-1);
    }
   function save() {
	   $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程，分享课程",operSite:"pblMgr/course/manager/course_share.html"},
			success:function(result){
			}
		});	
        $('#file-form').bootstrapValidator('validate');
        var params = new FormData($('#file-form')[0]);
        $.ajax({ 
            url: "@url("/manager/course/saveShare.action")",
            data:params,
            method:"post",  
            bodyMsg:true,
            mask:true,
            contentType:false,  
            processData:false, 
            success: function(result){
                success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                     window.history.go(-1);
                });
            }
        });
    }  
</script>