@import(){
com.cloudsoaring.web.course.entity.*
com.cloudsoaring.web.course.view.*
}
@args TeacherApplyEntity teacherApplyEntity, String title=MessageUtil.getMessage("审批信息")
@extends(blank, title:@title)

<div style="width:800px;height:100%;margin-left:auto;margin-right:auto;padding-top:50px;padding-bottom:50px;">
	<div class="row" style="margin-top:0px;">
		<div style="width:200px;height:20px;float: left;margin-left:90px;">
			<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "姓名",  "teacherApplyApprove.personName",  "txt.teacherApplyApprove.personName")</div>
			<div style="float: left; padding-left:20px;">@teacherApplyEntity.getPersonName()</div>
		</div>
		<div style="height:20px;float: left;margin-left:150px; ">
			<div style="float: left; padding-left:10px;margin-left:67px;">@MessageUtil.getMsgAndNote( "职业", "teacherApplyApprove.position", "txt.teacherApplyApprove.position")</div>
			<div style="float: left; padding-left:20px;">@teacherApplyEntity.getPosition()</div>
		</div>
	</div>
	
	<div class="row" style="margin-top:30px;width:400px;height:20px;float: left;margin-left:45px;">
			<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "联系方式", "teacherApplyApprove.connectWay", "txt.teacherApplyApprove.connectWay")</div>
			<div style="float: left; padding-left:20px;">@teacherApplyEntity.getConnectWay()</div>
	</div>
	 <div style="margin-top:30px;margin-left:40px;width:600px;float: left;margin-left:45px;">
        <div style="float: left; padding-left:10px;margin-left:30px;">@MessageUtil.getMsgAndNote("话题", "teacherApplyApprove.topics", "txt.teacherApplyApprove.tagNames")</div>
        <div style="float: left; padding-left:20px;">@teacherApplyEntity.getTopicContents()</div>
    </div>
	
	<div style="margin-top:30px;margin-left:40px;width:600px;float: left;margin-left:45px;">
		<div style="float: left; padding-left:10px;margin-left:30px;">@MessageUtil.getMsgAndNote("标签", "teacherApplyApprove.tagNames", "txt.teacherApplyApprove.tagNames")</div>
		<div style="float: left; padding-left:20px;">@teacherApplyEntity.getTagNames()</div>
	</div>
	<div class="row" style="margin-top:180px;margin-left:55px;width:600px;display:table;">
		<div style="display:table-cell;width:60px;">
			<div style="">@MessageUtil.getMsgAndNote( "个人简介", "teacherApplyApprove.summary", "txt.teacherApplyApprove.summary")</div>
		</div>
		<div style="display:table-cell;">
			<div style="padding-left:12px;">@teacherApplyEntity.getSummary()</div>
		</div>			
	</div>
	
	<div class="row" style="margin-top:30px;margin-left:25px;width:600px;display:table;">
		<div style="display:table-cell;width:100px;">
			<div style=" padding-left:28px;">@MessageUtil.getMsgAndNote( "试讲视频", "teacherApplyApprove.testVideo", "txt.teacherApplyApprove.testVideo")</div>
		</div>
		<div style="display:table-cell;">
			<div style="padding-left:7px;"><a href="http://teacherApply.getTestVideo()">@teacherApplyEntity.getTestVideo()</a></div>
		</div>			
	</div>
	
	<div class="row" style="margin-top:30px;margin-left:45px;">
		<div style="width:600px;float: left;">
			<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "提交时间", "teacherApplyApprove.submitTime", "txt.teacherApplyApprove.submitTime")</div>
			<div style="float: left; padding-left:20px;"> 
			@{
				final String submitTime = DateUtil.format(teacherApplyEntity.getSubmitTime(),"yyyy-MM-dd");
			}
			@submitTime
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:30px;">
	@form("approve"){
		@row()
			{
				<input type="hidden" name="id" value="@teacherApplyEntity.getId()"/>
				@textarea(label:MessageUtil.getMsgAndNote("审核意见", "teacherApplyApprove.applyOpinion", "txt.teacherApplyApprove.applyOpinion"),name:"applyOpinion",required:true,popplace:"right",groupcss:"col-12",rows:5,maxlength:"500")
			}
	}
	</div>
</div>


<div class="clearfix"></div>
	<div style="margin-top:30px;text-align:center;">
		<span style="margin-left:100px;">@button(label:MessageUtil.getMsgAndNote("同意", "teacherApplyApprove.agree", "txt.teacherApplyApprove.agree"),style:"width:100px;height:50px;",onclick="agree")</span>
		<span style="margin-left:100px;">@button(label:MessageUtil.getMsgAndNote("不同意", "teacherApplyApprove.disAgree", "txt.teacherApplyApprove.disAgree"),style:"width:100px;height:50px;",onclick="disAgree")</span>
		<span style="margin-left:100px;">@button_back(style:"width:100px;height:50px;",onclick="goBack")</span>
	</div>
</div>

<script>
	//保存数据
	function agree(){
		$('#approve').bootstrapValidator('validate');
   	 	if($('#approve').data('bootstrapValidator').isValid()){
			var params = $('#approve').serializeObject();
			//var userId="@teacherApplyEntity.getUserId()";
			//params.setUserId(userId);
			$.ajax({ 
				url: "@url("/client/teacherApply/saveAgreeApprove.action")",
				data:params,
				type:"post", 
				bodyMsg:true,
				success: function(result){
		        	 window.history.go(-1);
		        	 //window.location.href = '@url(/client/teacherApply/init.action)';
		      	}
		    }); 
		}
	}
	
	function disAgree(){
		$('#approve').bootstrapValidator('validate');
   	 	if($('#approve').data('bootstrapValidator').isValid()){
			var params = $('#approve').serializeObject();
			$.ajax({ 
				url: "@url("/client/teacherApply/saveDisAgreeApprove.action")",
				data:params,
				type:"post", 
				bodyMsg:true,
				success: function(result){
		        	  window.history.go(-1);
		        	 //window.location.href = '@url(/client/teacherApply/init.action)';
		      	}
		    }); 
		}
	}
</script>