@import(){
com.cloudsoaring.web.course.entity.*
com.cloudsoaring.web.course.view.*
}
@args TeacherApplyEntity teacherApplyEntity, String title=MessageUtil.getMessage("基础信息")
@extends(blank, title:@title)

<style>
/**圆形边框字母*/
.circl_word{
	display:block;
	width:20px;
	height: 20px;
	line-height:20px;
	text-align:center;
	-moz-border-radius: 20px;
	border:1px #999999 solid;
	color:#999999;
	border-radius:10px;
}
</style>

<div style="width:800px;height:100%;margin-left:auto;margin-right:auto;padding-top:50px;padding-bottom:50px;">
	<div class="row" style="margin-top:0px;">
		<div style="width:200px;height:20px;float: left;margin-left:150px;">
			<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "姓名",  "teacherApplyApprove.personName",  "txt.teacherApplyApprove.personName")</div>
			<div style="float: left; padding-left:20px;">@teacherApplyEntity.getPersonName()</div>
		</div>
		<div style="height:20px;float: left;margin-left:100px; ">
			<div style="float: left; padding-left:10px;margin-left:67px;">@MessageUtil.getMsgAndNote( "职业", "teacherApplyApprove.position", "txt.teacherApplyApprove.position")</div>
			<div style="float: left; padding-left:20px;">@teacherApplyEntity.getPosition()</div>
		</div>
	</div>
	
	<div style="margin-top:30px;margin-left:110px;">
		<div style="width:300px;height:20px;float: left;">
			<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "联系方式", "teacherApply.connectWay", "txt.teacherApply.connectWay")</div>
			<div style="float: left; padding-left:20px;">@teacherApplyEntity.getConnectWay()</div>
		</div>
		<div style="height:20px;float: left;">
			<div style="float: left; padding-left:10px;margin-left:90px;">@MessageUtil.getMsgAndNote("状态", "teacherApply.status", "txt.teacherApply.status")</div>
			<div style="float: left; padding-left:20px;">
			@if(teacherApplyEntity.getStatus() != null){
					@if((teacherApplyEntity.getStatus()).equals("0")){
						@MessageUtil.getMsgAndNote("审批中", "teacherApply.status.0", "txt.teacherApply.status.0")						
					}else if((teacherApplyEntity.getStatus()).equals("1")){
						@MessageUtil.getMsgAndNote("审批未通过", "teacherApply.status.1", "txt.teacherApply.status.1")	
					}else if((teacherApplyEntity.getStatus()).equals("2")){
						@MessageUtil.getMsgAndNote("审批已通过", "teacherApply.status.2", "txt.teacherApply.status.2")	
					}
				}
			</div>
		</div>
	</div>
	
	<div style="margin-top:30px;margin-left:40px;width:600px;float: left;margin-left:106px;">
		<div style="float: left; padding-left:10px;margin-left:30px;">@MessageUtil.getMsgAndNote("标签", "teacherApplyApprove.tagNames", "txt.teacherApplyApprove.tagNames")</div>
		<div style="float: left; padding-left:20px;">@teacherApplyEntity.getTagNames()</div>
	</div>
	
	<div class="row" style="margin-top:130px;margin-left:120px;width:600px;display:table;">
		<div style="display:table-cell;width:60px;">
			<div style="">@MessageUtil.getMsgAndNote( "个人简介", "teacherApplyApprove.summary", "txt.teacherApplyApprove.summary")</div>
		</div>
		<div style="display:table-cell;">
			<div style="padding-left:12px;">@teacherApplyEntity.getSummary()</div>
		</div>			
	</div>
	
	<div class="row" style="margin-top:30px;margin-left:90px;width:600px;display:table;">
		<div style="display:table-cell;width:100px;">
			<div style=" padding-left:28px;">@MessageUtil.getMsgAndNote( "试讲视频", "teacherApplyApprove.testVideo", "txt.teacherApplyApprove.testVideo")</div>
		</div>
		<div style="display:table-cell;">
			<div style="padding-left:7px;"><a href="http://teacherApplyEntity.getTestVideo()">@teacherApplyEntity.getTestVideo()</a></div>
		</div>			
	</div>
	
	<div style="margin-top:30px;margin-left:110px;">
		<div style="width:300px;height:20px;float: left;">
			<div style="float: left; padding-left:10px;margin-left:15px;">@MessageUtil.getMsgAndNote("审核人", "teacherApply.applyUser", "txt.teacherApply.applyUser")</div>
			<div style="float: left; padding-left:20px;">@teacherApplyEntity.getApplyUser()</div>
		</div>
		<div style="height:20px;float: left;">
			<div style="float: left;margin-left:78px;">@MessageUtil.getMsgAndNote("审核时间", "teacherApply.applyTime", "txt.teacherApply.applyTime")</div>
			@{
				final String applyTime = DateUtil.format(teacherApplyEntity.getApplyTime(),"yyyy-MM-dd");
			}
			<div style="float: left; padding-left:20px;">@applyTime</div>
		</div>
	</div>
	
	<div style="margin-top:80px;margin-left:110px;width:600px;display:table;">
		<div style="display:table-cell;width:80px;">
			<div style="padding-left:10px;">@MessageUtil.getMsgAndNote("审核意见", "teacherApply.applyOpinion", "txt.teacherApply.applyOpinion")</div>
		</div>
		<div style="display:table-cell;">
			<div style="padding-left:10px;">@teacherApplyEntity.getApplyOpinion()</div>
		</div>			
	</div>
</div>


<div class="clearfix"></div>
	<div style="margin-top:30px;text-align:center;">
		<span style="margin-left:100px;">@button_back(style:"width:100px;height:50px;",onclick="goBack")</span>
	</div>
</div>