@extends(main)
@args RoleEntity condition

<!-- 检索条件表单 -->
@form(name:"search-condition",validation:false){
	@input(label:MessageUtil.getMessage(MsgNames.MSG_ROLE_NAME),name:"roleName", value:condition.getRoleName())
	@input(label:MessageUtil.getMessage(MsgNames.MSG_ROLE_DESCRIPTION),name:"personName", value:condition.getRoleDesc())
	@btnbox(align:"right"){
		@button_search(onclick:"$('#roleList').bootstrapTable('refresh');")
		@button_clear()
	}
}
<!-- 检索结果列表 -->
@table(id:"roleList", url:"/role/search.action"){
	@toolbar(){
		@button(label:MessageUtil.getMessage(MsgNames.MSG_ADD),iconcss:"fa fa-plus",onclick:"addOrEditRole",innertype:"ADD")
		@button(label:MessageUtil.getMessage(MsgNames.MSG_DELETE),iconcss:"fa fa-remove",onclick:"deleteRoles",innertype:"DEL")
	}
	@columns(){
		{field: 'state',align:'center',checkbox: true}, 
		@if(hasAnyInnerAccess("EDIT","DEL","CONF")){
              @optcolumn(width:120){
				@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_EDIT), iconcss:"glyphicon-pencil", onclick:"addOrEditRole",innertype:"EDIT")
				@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_COMPETENCE), iconcss:"glyphicon-cog", onclick:"configRole",innertype:"CONF")
				@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_DELETE), iconcss:"glyphicon-remove", onclick:"deleteRole",innertype:"DEL",popplace:"right",visibleFunction:"canDelete")
			},
		}
		{field: 'roleName',title: '@MessageUtil.getMessage(MsgNames.MSG_ROLE_NAME)',sortable: true},
		{field: 'roleDesc',title: '@MessageUtil.getMessage(MsgNames.MSG_ROLE_DESCRIPTION)',sortable: true}
	}
}

<!-- 权限配置窗口 -->
@assign("configRole"){
	<div id="module-tree" style="height:500px;overflow: auto;"></div>
	<script>
		initModuleTree('%roleId');
	</script>
}

<!-- 角色编辑Dialog -->
@assign("roleForm"){
	@form(name:"roleForm", htmlargs:"style=max-height:100px;"){
		@input(label:MessageUtil.getMessage(MsgNames.MSG_ROLE_NAME), id:"rName",name:"roleName",maxlength:"25", required:true, groupcss:"col-12")
		@input(label:MessageUtil.getMessage(MsgNames.MSG_ROLE_DESCRIPTION), id:"rDesc",name:"roleDesc",maxlength:"100", groupcss:"col-12")
	}
   	<script>initRoleForm('%roleId');</script>
}

<!-- 页面脚本 -->
<script>
	//是否可以删除
	function canDelete(value, row, index){
		return row.lockFlag != '1';
	}

	function addOrEditRole(row){
		
		var roleId = row? row.roleId : '';
		var title = row? '@MessageUtil.getMessage(MsgNames.MSG_EDIT_ROLE)':'@MessageUtil.getMessage(MsgNames.MSG_NEW_ROLE)';
		BootstrapDialog.show({
            title: title,
            message: $('@es(roleForm).raw()'.replace(/%roleId/g, roleId)),
            cssClass:'change_pwd_dialog',
            buttons: [{
               label: '@MessageUtil.getMessage("确定")',
               cssClass: 'btn-normal gh gh-ok',
           	   id:'btnRoleSave',
               action: function(dialog) {
               	$('#roleForm').bootstrapValidator('validate');
               	 if($('#roleForm').data('bootstrapValidator').isValid()){
	                ajax({
	              		url: '@url("/role/save.action")',
	              		type: "POST",
	              		bodyMsg:true,
						mask:false,
	              		data: {
	              			roleName:$('#rName').val(),
	              			roleDesc:$('#rDesc').val(),
	              			roleId:roleId
	              		},
			            success: function(data) {
				               	dialog.close();
				               	$('#roleList').bootstrapTable('refresh');
				        } 
	              		});
               	 }
             	}
           }, {
               label: '@MessageUtil.getMessage(MsgNames.MSG_CANCEL)',
               cssClass: 'btn-normal fa fa-reply',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	
	function initRoleForm(roleId){
		
		//初始化
		if(roleId != ''){
			//查询数据并赋值
			ajax({
          		url: '@url("/role/get.action")',
          		type: "get",
          		data: {
          			roleId:roleId
          		},
          		bodyMsg:false,
				mask:false,
	            success: function(data) {
		               if(data && data != 'null'){
		                	$('#rName').val(data.roleName); 
		                	$('#rDesc').val(data.roleDesc); 
		               }else{
		               	   error('@MessageUtil.getMessage(MsgNames.MSG_ROLE_NOT_EXIST)');
		               }
		            } 
          		});
		}
		//Validator
		$('#roleForm').bootstrapValidator({
			//trigger: 'blur',
			submitButton:'#btnRoleSave',
            fields: {
            	roleName: {
            		//trigger: 'focus blur',
                    validators: {
                        remote: {
	                        message: '@MessageUtil.getMessage(MsgNames.MSG_ROLE_NAME_ALREADY_EXISTS)',
	                        data:function(){
	                        	return {
	                        		roleId:roleId,
	                        		roleName:$('#rName').val()
	                        	};
	                        },
	                        url: '@url("/role/checkRoleName.action")'
	                    }
                    }
            	}
            }
        });
	}
	
	function deleteRole(row){
		confirm("@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_REMOVE_ROLE)  " + row.roleName + " ?", function(){
			ajax({ 
				url: "@url("/role/delete.action")",
				data:{roleId:row.roleId},
				type:"post", 
				bodyMsg:true,
				mask:false,
				success: function(result){
		        	//成功
		        	$('#roleList').bootstrapTable('refresh');
		      	}
		    });
			return true;
		});
	}
	
	function deleteRoles(){
		var selectedRows = $('#roleList').bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){
			var roleId = [];
			for(var i = 0; i < selectedRows.length; i++){
				roleId[i] = selectedRows[i].roleId;
				if(selectedRows[i].lockFlag==1){
					parent.warning(selectedRows[i].roleName+"是不可删除的角色！");
					return false;
				}
			}
			confirm("@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_TO_DELETE_THE_SELECTED_ROLE)", function(){
				ajax({ 
					url: "@url("/role/delete.action")",
					data:{roleId:roleId.join(',')},
					type:"post",
					bodyMsg:true,
					mask:false, 
					success: function(result){
			        	//成功
			        	$('#roleList').bootstrapTable('refresh');
			      	}
			    });
				return true;
			});
		}else{
			warning("@MessageUtil.getMessage(MsgNames.MSG_PLEASE_CHOOSE_TO_DELETE_ROLE)");
		}
	}
	
	function configRole(row){
		BootstrapDialog.show({
            title: row.roleName + '@MessageUtil.getMessage(MsgNames.MSG_PERMISSION_CONFIGURATION)',
            message: $('@es(configRole).raw()'.replace(/%roleId/g, row.roleId)),
            buttons: [{
               label: '@MessageUtil.getMessage("确定")',
               cssClass: 'btn-normal gh gh-ok',
               id:'btnSaveRoleModule',
               action: function(dialog) {
            	   ajax({
	              		url: '@url("/role/saveRoleModules.action")',
	              		type: "POST",
	              		data: {
	              			roleId:row.roleId,
	              			moduleIds:$('#module-tree').jstree('get_selected').join(',')
	              		},
	              		bodyMsg:true,
						mask:false,
			            success: function(data) {
				               		dialog.close();
				               		$('#roleList').bootstrapTable('refresh');
				            } 
	              		});
               		
               }
           }, {
               label: '@MessageUtil.getMessage(MsgNames.MSG_CANCEL)',
               cssClass: 'btn-normal fa fa-reply',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	
	function initModuleTree(roleId){
		$('#module-tree').jstree({
			'plugins': ["checkbox"],
			'core' : {
				//'check_callback' : true,
				'strings' : {
					 'Loading ...' : '@MessageUtil.getMessage(MsgNames.MSG_LOADING)'
				 },
				 'themes': {
	                'name': 'proton',
	                'responsive': true,
	                'icons' : true
	            },
				'data' : {
			    	'url' : '@url("/role/getRoleModule.action?roleId=")' + roleId
				}
	    	}
		}).on('loaded.jstree', function() {
			$('#module-tree').jstree('open_all');
		  });
	}
</script>
    
