﻿@args com.cloudsoaring.web.teacher.entity.StudentQualityReportEntity report
@extends(common_student)
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
<!-- 检索条件表单 -->
<div style="margin-top: 30px;">
</div>
@form(name:"search-condition",validation:false,showempty:true){
	@btnbox(align:"right"){
		@button(label:MessageUtil.getMessage(TpMsgNames.MSG_IMPORT), iconcss:"gh gh-import", url:"/pub/student/reportImportInit.action", innerType:"IMPORT")
	}
}
<!-- 检索结果列表 -->
@table(id:"search-result",url:("/pub/student/reportList.action?userId="+report.getUserId())){
	@columns(){
		{field: 'studentNo',title: '@MessageUtil.getMessage("学籍编号")',width:100,sortable: true,align:'center'},
		{field: 'userName',title: '@MessageUtil.getMessage("姓名")',width:100,sortable: true,align:'center'},
		{field: 'sex',title:'@MessageUtil.getMessage("性别")',width:130,sortable: true,align:'center'}, 
		{field: 'gradeId',title: '@MessageUtil.getMessage("年级")',width:130,sortable: true,align:'center'},
		{field: 'classId',title: '@MessageUtil.getMessage("班级")',width:130,sortable: true,align:'center'}, 
		{field: 'overallEvaluation',title: '@MessageUtil.getMessage("总体评价")',width:100,sortable: true,align:'center'},
		{field: 'createTime',title: '@MessageUtil.getMessage("导入时间")',width:100,sortable: true,align:'center', formatter:dateFormat},
		@optcolumn(width:160){
            @iconlink(
				label:MessageUtil.getMessage("查看"),
				iconcss:"fa fa-info",
				onclick:"viewReport",
				innerType:"EDIT"
			)
		}
	}
}
<script type="text/javascript">
function viewReport(row){
    window.location.href = "@url("/pub/student/reportView.action")?id=" + row.id;
}
</script>
