﻿@args com.cloudsoaring.web.teacher.entity.StudentEntity teacher, 
com.cloudsoaring.web.teacher.entity.StudentCertificateEntity certificate,
String selectedPage
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
     com.cloudsoaring.web.teacher.constant.TeacherMsgNames;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
}
@extends(common_student, title:"", selectedPage: "teacherC")
<style>
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    /* position: absolute;
    width: 172px;
    left: -15px; */
    width: 100%;
    top: 0;
    padding-top: 10px;
}
ul {
    list-style: none;
    height: 48px;
    text-align: center;
}
.slider ul li:first-child {
    /* margin-top: 40px; */
}
.slider ul li {
    height: 48px;
    width: 160px;
    display: inline-block;
}
.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px ;
}
.slider ul a:hover {
    color: #14191e;
}
</style>
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
<div class="slider">
		<ul>
		@if(isExit){
			<li>
				<a href="/pblMgr/pub/student/edit.action?userId=@sessionUser.userId" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}else{
			<li>
				<a href="/pblMgr/pub/student/addInit.action" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}
			@if(isExit){
				<li>
					<a href="/pblMgr/pub/student/familyMembers.action?teacherId=@teacherId" class="@if("teacherFM".equals(selectedPage)){active}"> <i class="fa fa-users"></i><span>家庭成员</span></b>
					</a>
				</li>
				<li>
					<a href="/pblMgr/pub/student/certificate.action?teacherId=@teacherId" class="@if("teacherC".equals(selectedPage)){active}"> <i class="fa fa-file"></i><span>个人证书</span></b>
					</a>
				</li>
			}
		</ul>
	</div>
@form("certificate-form"){
	<div style="height: 295px;">
	    @picture(
	        label:MessageUtil.getMessage("证书"),
	        id:"picture",
	        required:true,
	        height:"250px", 
	        groupcss:"col-5",
	        url:"pub/image.action", 
	        fileid:certificate.getPictureId(), 
	        viewmode:false
	     )
	</div>
	<div>
     	@input(label:"类型", name:"type", groupcss:"col-5",  maxlength:"50",required:true, value:"")
     	@input(label:"名称", name:"name", groupcss:"col-5",  maxlength:"50",required:true, value:"")
        @hidden(id:"studentId", name:"studentId", value: teacher.getId())
	</div>
	<div>
     	@input(label:"获得时间",type:"date", name:"getTime", groupcss:"col-5",  maxlength:"50",required:true, value:"")
	</div>
	@btnbox(border:true){
		@button_save(width:100)
		@button_back(width:100)
	}
}
@table(id:"search-result",url:"/pub/student/certificateList.action?teacherId="+teacher.getId(),queryParamFunction:"createQueryParams01"){
    @columns(){
        {field: 'type',title:'@MessageUtil.getMessage("关系")',background:'#b60005',align:'center'},
        {field: 'name',title:'@MessageUtil.getMessage("姓名")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'getTime',title:'@MessageUtil.getMessage("获得时间")',background:'#b60005',sortable: true,align:'center', formatter:dateFormat},
		@optcolumn(width:50){
			@iconlink(
				label:MessageUtil.getMessage("编辑"),
				iconcss:"glyphicon-pencil",
				onclick:"editCertificate",
				innerType:"EDIT"
			)
			@iconlink(
				label:MessageUtil.getMessage("删除"),
				iconcss:"glyphicon-trash",
				onclick:"deleteCertificate",
				innerType:"DEL"
			)
		}
    }
}
</div>
<script>
function editCertificate(row){
	window.location.href = "@url("/pub/student/certificateEdit.action?id=")" + row.id;
}
function deleteCertificate(row){
	confirm("@MessageUtil.getMessage("确定要删除")  " + row.name + " ?", function(){
		$.ajax({ 
			url: "@url("/pub/student/deleteCertificate.action")",
			data:{id:row.id},
			type:"post", 
			bodyMsg:true,
			mask:true,
			success: function(result){
	        	$('#search-result').bootstrapTable('refresh');
	      	}
	    });
		return true;
	});
}
function save(){
	$('#certificate-form').bootstrapValidator('validate');
  	 	if($('#certificate-form').data('bootstrapValidator').isValid()){
		//var params = $('#certificate-form').serializeObject();
		var params = new FormData($('#certificate-form')[0]);
		$.ajax({ 
			url: "@url("/pub/student/saveCertificate.action")",
			data:params,
			type:"post", 
			processData: false,
			contentType: false,
			bodyMsg:true,
			success: function(result){
				window.location.href="@url("/pub/student/certificate.action?teacherId=")"+$("#studentId").val();
			}
	    });
	}
}
function isEditNotice(value, row, index){
      return true;
 }
 function isDeleteNotice(){
     return true;
 }
</script>