﻿@args com.cloudsoaring.web.teacher.entity.StudentEntity teacher, 
com.cloudsoaring.web.teacher.entity.StudentCertificateEntity certificate,
String timeString,
String selectedPage
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
	
}
@extends(common_student, title:"", selectedPage: "teacherC")
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
@form("certificate-form"){
	<div style="height: 295px;">
	    @picture(
	        label:MessageUtil.getMessage("证书"),
	        id:"picture",
	        required:true,
	        height:"250px", 
	        groupcss:"col-5",
	        url:"pub/image.action", 
	        fileid:certificate.getPictureId(), 
	        viewmode:false
	     )
	</div>
	<div>
     	@input(label:"类型", name:"type", groupcss:"col-5",  maxlength:"50",required:true, value:certificate.getType())
     	@input(label:"名称", name:"name", groupcss:"col-5",  maxlength:"50",required:true, value:certificate.getName())
        @hidden(id:"studentId", name:"studentId", value: teacher.getId())
        @hidden(id:"id", name:"id", value: certificate.getId())
	</div>
	<div>
     	@input(label:"获得时间",type:"date", name:"getTime", groupcss:"col-5",  maxlength:"50",required:true, value:timeString)
	</div>
	@btnbox(border:true){
		@button_save(width:100)
		@button_back(width:100)
	}
}
</div>
<script>
function save(){
	$('#certificate-form').bootstrapValidator('validate');
  	 	if($('#certificate-form').data('bootstrapValidator').isValid()){
		var params = new FormData($('#certificate-form')[0]);
		$.ajax({ 
			url: "@url("/pub/student/saveCertificate.action")",
			data:params,
			type:"post", 
			processData: false,
			contentType: false,
			bodyMsg:true,
			success: function(result){
				window.location.href="@url("/pub/student/certificate.action?teacherId=")"+$("#studentId").val();
				
			}
	    });
	}
}
</script>s