﻿@args com.cloudsoaring.web.teacher.entity.StudentQualityReportEntity report
@extends(common_student)
<div style="width: 80%;margin: auto;background: #fff;">

@form("teacher-form"){
	<div>
     	@input(label:"学籍编号", name:"studentNo", groupcss:"col-5",  maxlength:"50",required:true, value:report.getStudentNo(),disabled:true)
     	@input(label:"姓名", name:"userName", groupcss:"col-5",  maxlength:"50",required:true, value:report.getUserName(),disabled:true)
	</div>
	<div>
     	@input(label:"性别", name:"sex", groupcss:"col-5",  maxlength:"50",required:true, value:report.getSex(),disabled:true)
     	@input(label:"年级", name:"gradeId", groupcss:"col-5",  maxlength:"50",required:true, value:report.getGradeId(),disabled:true)
	</div>
	<div>
     	@input(label:"班级", name:"classId", groupcss:"col-5",  required:true, value:report.getClassId(),disabled:true)
     	@input(label:"语文", name:"chinese", groupcss:"col-5",  required:true, value:report.getChinese(),disabled:true)
	</div>
	<div>
     	@input(label:"数学", name:"math", groupcss:"col-5",  required:true, value:report.getMath(),disabled:true)
     	@input(label:"品德与生活", name:"moralityAndLife", groupcss:"col-5",  required:true, value:report.getMoralityAndLife(),disabled:true)
	</div>
	<div>
     	@input(label:"音乐", name:"music", groupcss:"col-5",  required:true, value:report.getMusic(),disabled:true)
     	@input(label:"体育", name:"sports", groupcss:"col-5",  required:true, value:report.getSports(),disabled:true)
	</div>
	<div>
     	@input(label:"美术", name:"arts", groupcss:"col-5",  required:true, value:report.getArts(),disabled:true)
     	@input(label:"书法", name:"calligraphy", groupcss:"col-5",  required:true, value:report.getCalligraphy(),disabled:true)
	</div>
	<div>
     	@input(label:"综合实践活动", name:"spac", groupcss:"col-5",  required:true, value:report.getSpac(),disabled:true)
     	@input(label:"道德品质", name:"motalTrait", groupcss:"col-5",  required:true, value:report.getMotalTrait(),disabled:true)
	</div>
	<div>
     	@input(label:"公民素质", name:"qualityCitizens", groupcss:"col-5",  required:true, value:report.getQualityCitizens(),disabled:true)
     	@input(label:"学习能力", name:"learningAbility", groupcss:"col-5",  required:true, value:report.getLearningAbility(),disabled:true)
	</div>
	<div>
     	@input(label:"交流与合作", name:"eac", groupcss:"col-5",  required:true, value:report.getEac(),disabled:true)
     	@input(label:"运动与健康", name:"sportAndHealth;", groupcss:"col-5",  required:true, value:report.getSportAndHealth(),disabled:true)
	</div>
	<div>
     	@input(label:"审美与表现", name:"aae", groupcss:"col-5",  required:true, value:report.getAae(),disabled:true)
     	@input(label:"总体评价", name:"overallEvaluation", groupcss:"col-5",  required:true, value:report.getOverallEvaluation(),disabled:true)
	</div>
	<div>
     	@textarea(label:"学生自我评价", name:"selfEvaluation", groupcss:"col-10",  required:true, value:report.getSelfEvaluation(),disabled:true)
	</div>
	<div>
     	@textarea(label:"获奖情况", name:"honorAndAward", groupcss:"col-10",  required:true, value:report.getHonorAndAward(),disabled:true)
	</div>
	<div>
     	@textarea(label:"教师评语", name:"teacherEvaluation", groupcss:"col-10",  required:true, value:report.getTeacherEvaluation(),disabled:true)
	</div>
	<div>
     	@textarea(label:"家长寄语", name:"patriarchEvaluation", groupcss:"col-10",  required:true, value:report.getPatriarchEvaluation(),disabled:true)
	</div>
	@btnbox(){
		@button_back(width:160)
	}
}
</div>