﻿@args com.cloudsoaring.web.teacher.entity.StudentEntity teacher,
String selectedPage,
String birthDay
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
}
@extends(common_student, title:"", selectedPage: "teacherInfo")
<style>
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    /* position: absolute;
    width: 172px;
    left: -15px; */
    width: 100%;
    top: 0;
    padding-top: 10px;
}
.slider ul {
    list-style: none;
    height: 48px;
    text-align: center;
}
.slider ul li:first-child {
    /* margin-top: 40px; */
}
.slider ul li {
    height: 48px;
    width: 160px;
    display: inline-block;
}
.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px ;
}
.slider ul a:hover {
    color: #14191e;
}
</style>
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
<div class="slider">
		<ul>
		@if(isExit){
			<li>
				<a href="/pblMgr/pub/student/view.action?userId=@teacher.getUserId()" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}
			@if(isExit){
				<li>
					<a href="/pblMgr/pub/student/familyMembersView.action?teacherId=@teacherId" class="@if("teacherFM".equals(selectedPage)){active}"> <i class="fa fa-users"></i><span>家庭成员</span></b>
					</a>
				</li>
				<li>
					<a href="/pblMgr/pub/student/certificateView.action?teacherId=@teacherId" class="@if("teacherC".equals(selectedPage)){active}"> <i class="fa fa-file"></i><span>个人证书</span></b>
					</a>
				</li>
			}
		</ul>
	</div>
@form("teacher-form"){
	<div style="height: 295px;">
	    @picture(
	        label:MessageUtil.getMessage("个人照片"),
	        id:"picture",
	        required:true,
	        height:"250px", 
	        groupcss:"col-5",
	        url:"pub/image.action", 
	        fileid: teacher.getPictureId(), 
	        filename: teacher.getPictureName(), 
	        viewmode:true
	     )
	</div>
	<div>
     	@input(label:"用户名", name:"userName", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getUserName(),disabled:true)
        @hidden(id:"id", name:"id", value: teacher.getId())
	</div>
	<div>
     	@input(label:"姓名", name:"personName", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getPersonName(),disabled:true)
     	@combobox(
			   label:"性别项",
			   name:"sex", 
			   empty:false, 
			   options:CodeFactory.getCodeList(TeacherStateConstants.PERSON_SEX), 
			   value:teacher.getSex(),
			   groupcss:"col-5",
			   disabled:true
			) 
	</div>
	<div>
     	@input(label:"身份证号", name:"idCard", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getIdCard(),disabled:true)
     	@input(label:"出生年月",type:"date", name:"birthday", groupcss:"col-5",  maxlength:"50",required:true, value:birthDay,disabled:true)
	</div>
	<div>
     	@input(label:"手机号", name:"telephone", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getTelephone(),disabled:true)
     	@input(label:"邮件", name:"email", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getEmail(),disabled:true)
	</div>
	<div>
     	@combobox(
		   label:"政治面貌",
		   name:"politicsStaus", 
		   empty:false, 
		   options:CodeFactory.getCodeList(TeacherStateConstants.POLITICS_STATUS), 
		   value:teacher.getPoliticsStaus(),
		   groupcss:"col-5",
		   disabled:true
		) 
	</div>
	@btnbox(border:true){
		@button_back(width:100)
	}
}
</div>
