﻿@args com.cloudsoaring.web.teacher.entity.StudentEntity teacher, 
com.cloudsoaring.web.teacher.entity.StudentFamilyMemberEntity familyMember,
String timeString,
String selectedPage
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
	
}
@extends(common_student, title:"", selectedPage: "teacherC")
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
@form("familyMember-form"){
	<div>
     	@input(label:"关系", name:"relationship", groupcss:"col-5",  maxlength:"50",required:true, value:familyMember.getRelationship())
     	@input(label:"姓名", name:"memberName", groupcss:"col-5",  maxlength:"50",required:true, value:familyMember.getMemberName())
        @hidden(id:"studentId", name:"studentId", value: teacher.getId())
        @hidden(id:"id", name:"id", value: familyMember.getId())
	</div>
	<div>
     	@input(label:"工作单位", name:"companyName", groupcss:"col-5",  maxlength:"50",required:true, value:familyMember.getCompanyName())
     	@input(label:"手机号码", name:"telephone", groupcss:"col-5",  maxlength:"50",required:true, value:familyMember.getTelephone())
	</div>
	@btnbox(border:true){
		@button_save(width:100)
		@button_back(width:100)
	}
}
</div>
<script>
function save(){
	$('#familyMember-form').bootstrapValidator('validate');
	if($('#familyMember-form').data('bootstrapValidator').isValid()){
		var params = $('#familyMember-form').serializeObject();
		$.ajax({ 
			url: "@url("/pub/student/saveFamilyMember.action")",
			data:params,
			type:"post", 
			bodyMsg:true,
			success: function(result){
				window.location.href="@url("/pub/student/familyMembers.action?teacherId=")"+$("#studentId").val();
				
			}
	    });
	}
}
</script>