﻿@args com.cloudsoaring.web.teacher.entity.StudentEntity teacher, 
com.cloudsoaring.web.teacher.entity.StudentFamilyMemberEntity familyMember,
String selectedPage
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
}
@extends(common_student, title:"", selectedPage: "teacherFM")
<style>
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    /* position: absolute;
    width: 172px;
    left: -15px; */
    width: 100%;
    top: 0;
    padding-top: 10px;
}
ul {
    list-style: none;
    height: 48px;
    text-align: center;
}
.slider ul li:first-child {
    /* margin-top: 40px; */
}
.slider ul li {
    height: 48px;
    width: 160px;
    display: inline-block;
}
.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px ;
}
.slider ul a:hover {
    color: #14191e;
}
</style>
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
<div class="slider">
		<ul>
		@if(isExit){
			<li>
				<a href="/pblMgr/pub/student/view.action?userId=@teacher.getUserId()" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}else{
			<li>
				<a href="/pblMgr/pub/student/addInit.action" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}
			@if(isExit){
				<li>
					<a href="/pblMgr/pub/student/familyMembersView.action?teacherId=@teacherId" class="@if("teacherFM".equals(selectedPage)){active}"> <i class="fa fa-users"></i><span>家庭成员</span></b>
					</a>
				</li>
				<li>
					<a href="/pblMgr/pub/student/certificateView.action?teacherId=@teacherId" class="@if("teacherC".equals(selectedPage)){active}"> <i class="fa fa-file"></i><span>个人证书</span></b>
					</a>
				</li>
			}
		</ul>
	</div>
@table(id:"search-result",url:"/pub/student/familyMemberList.action?teacherId="+teacher.getId(),queryParamFunction:"createQueryParams01"){
    @columns(){
        {field: 'relationship',title:'@MessageUtil.getMessage("关系")',background:'#b60005',align:'center'},
        {field: 'memberName',title:'@MessageUtil.getMessage("姓名")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'companyName',title:'@MessageUtil.getMessage("工作单位")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'telephone',title:'@MessageUtil.getMessage("手机号码")',background:'#b60005',sortable: true,align:'center'},
    }
}
</div>