﻿@args com.cloudsoaring.web.teacher.entity.StudentEntity teacher, 
com.cloudsoaring.web.teacher.entity.StudentFamilyMemberEntity familyMember,
String selectedPage
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
}
@extends(common_student, title:"", selectedPage: "teacherFM")
<style>
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    /* position: absolute;
    width: 172px;
    left: -15px; */
    width: 100%;
    top: 0;
    padding-top: 10px;
}
ul {
    list-style: none;
    height: 48px;
    text-align: center;
}
.slider ul li:first-child {
    /* margin-top: 40px; */
}
.slider ul li {
    height: 48px;
    width: 160px;
    display: inline-block;
}
.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px ;
}
.slider ul a:hover {
    color: #14191e;
}
</style>
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
<div class="slider">
		<ul>
		@if(isExit){
			<li>
				<a href="/pblMgr/pub/student/edit.action?userId=@sessionUser.userId" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}else{
			<li>
				<a href="/pblMgr/pub/student/addInit.action" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}
			@if(isExit){
				<li>
					<a href="/pblMgr/pub/student/familyMembers.action?teacherId=@teacherId" class="@if("teacherFM".equals(selectedPage)){active}"> <i class="fa fa-users"></i><span>家庭成员</span></b>
					</a>
				</li>
				<li>
					<a href="/pblMgr/pub/student/certificate.action?teacherId=@teacherId" class="@if("teacherC".equals(selectedPage)){active}"> <i class="fa fa-file"></i><span>个人证书</span></b>
					</a>
				</li>
			}
		</ul>
	</div>
@form("family-form"){
	<div>
     	@input(label:"关系", name:"relationship", groupcss:"col-5",  maxlength:"50",required:true, value:"")
     	@input(label:"姓名", name:"memberName", groupcss:"col-5",  maxlength:"50",required:true, value:"")
        @hidden(id:"studentId", name:"studentId", value: teacher.getId())
	</div>
	<div>
     	@input(label:"工作单位", name:"companyName", groupcss:"col-5",  maxlength:"50",required:true, value:"")
     	@input(label:"手机号码", name:"telephone", groupcss:"col-5",  maxlength:"50",required:true, value:"")
	</div>
	@btnbox(border:true){
		@button_save(width:100)
		@button_back(width:100)
	}
}
@table(id:"search-result",url:"/pub/student/familyMemberList.action?teacherId="+teacher.getId(),queryParamFunction:"createQueryParams01"){
    @columns(){
        {field: 'relationship',title:'@MessageUtil.getMessage("关系")',background:'#b60005',align:'center'},
        {field: 'memberName',title:'@MessageUtil.getMessage("姓名")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'companyName',title:'@MessageUtil.getMessage("工作单位")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'telephone',title:'@MessageUtil.getMessage("手机号码")',background:'#b60005',sortable: true,align:'center'},
       	@optcolumn(width:50){
			@iconlink(
				label:MessageUtil.getMessage("编辑"),
				iconcss:"glyphicon-pencil",
				onclick:"editFamilyMember",
				innerType:"EDIT"
			)
			@iconlink(
				label:MessageUtil.getMessage("删除"),
				iconcss:"glyphicon-trash",
				onclick:"deleteFamilyMember",
				innerType:"DEL"
			)
		}
    }
}
</div>
<script>
function editFamilyMember(row){
	window.location.href = "@url("/pub/student/familyMemberEdit.action?id=")" + row.id;
}
function deleteFamilyMember(row){
	confirm("@MessageUtil.getMessage("确定要删除")  " + row.relationship + " ?", function(){
		$.ajax({ 
			url: "@url("/pub/student/deleteFamilyMember.action")",
			data:{id:row.id},
			type:"post", 
			bodyMsg:true,
			mask:true,
			success: function(result){
	        	$('#search-result').bootstrapTable('refresh');
	      	}
	    });
		return true;
	});
}
function save(){
	$('#family-form').bootstrapValidator('validate');
  	 	if($('#family-form').data('bootstrapValidator').isValid()){
		var params = $('#family-form').serializeObject();
		$.ajax({ 
			url: "@url("/pub/student/saveFamilyMember.action")",
			data:params,
			type:"post", 
			bodyMsg:true,
			success: function(result){
				window.location.href="@url("/pub/student/familyMembers.action?teacherId=")"+params.studentId;
				
			}
	    });
	}
}
</script>


