﻿@args String title = ""
@extends(common_teacher, MessageUtil.getMessage("导入教师信息"))
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
}
<!-- 下载模板 -->
<!-- 上传文件 -->
@column("col-2")
@column("col-8"){
	@form("import-form"){
		@file(required:true,label:(TpMsgNames.TXT_PLEASE_UPLOAD),fileextion:"xls,xlsx", name:"users",placeholder:(MessageUtil.getMessage(TpMsgNames.TXT_SELECT_FILE))){
		}
		@column(align:"right",css:"fcol-12", style:"padding-bottom: 20px;"){	<a class="down-temp" target="_blank" href="@url("/resources/template/UserTemplate.xlsx")">@message(TpMsgNames.TXT_DOWNLOAD_TEMP)</a>}
		@btnbox(){
			@button(label:TpMsgNames.TXT_UPLOAD,iconcss:"gh gh-import",width:160,onclick:"importUser",style="margin-left:200px;" )
			@button_clear(width:160, onclick:"doClear")
			@button_back(width:160)
		}
		@div(id:"result", css:"result-ta")
	}
}
@column("col-2")
<!-- 样式 -->
<style>
	.down-temp{
		width: 80px;
	    text-align: center;
	    vertical-align: middle;
	    padding-right: 20px;
	}
	.result-ta{
		margin-left: 85px;
		border:none;
		min-height:400px;
	}
	.import_result{
		font-size:16px;
	}
	.total_cnt{
		color:#E84D3B;
		border-bottom:2px solid #E84D3B;
	}
	.failed_cnt{
		color:#da4453;
		border-bottom:2px solid #da4453;
	}
	.success_cnt{
		color:#8cc152;
		border-bottom:2px solid #8cc152;
	}
	.failed_item{
		color:#da4453;
		list-style:none;
	}
</style>
<!-- 脚本 -->
<script>
	$(function (){
		$('#import-form').bootstrapValidator();
	});
	function importUser(){
		$('#import-form').bootstrapValidator('validate');
		var formValid = $('#import-form').data('bootstrapValidator').isValid();
   	 	if(formValid){
   	 		var params = new FormData($('#import-form')[0]);
   	 	$.ajax({ 
				url: "@url("/tpuser/doImport.action")",
				data:params,
				type:"post", 
				bodyMsg:true,
				mask:true,
				/** 
		         *必须false才会自动加上正确的Content-Type 
		         */
				contentType:false,  
		        /** 
		         * 必须false才会避开jQuery对 formdata 的默认处理 
		         * XMLHttpRequest会对 formdata 进行正确的处理 
		         */  
		        processData:false,  
				success: function(resp){
	        		//刷新文件上传控件
	        		var result = resp.data;
	        		var total = result.totalCount;
	        		var failed = result.noneValidatedRows.length;
	        		var success = total -  failed;
	        		var tb = "&nbsp;<span class='total_cnt'><b>"+total+"</b></span>&nbsp;";
	        		var fb = "&nbsp;<span class='failed_cnt'><b>"+failed+"</b></span>&nbsp;";
	        		var sb = "&nbsp;<span class='success_cnt'><b>"+success+"</b></span>&nbsp;";
	        		var tmsg = "<br/><span class='import_result'>" + "@message(TpMsgNames.MSG_USER_IMPORT)".format(tb, sb,fb) + "</span>";
	        		$("#result").html("");
	        		$("#result").append(tmsg);
					if(failed > 0){
		        		var list = $("<ul class='failed_list'></ul>");
		        		$("#result").append(list);
		        		for(var i=0; i<failed; i++){
		        			list.append("<br/>"+ "<li class='failed_item failed_item fa fa-remove'>" + result.noneValidatedRows[i].message + "</li>");
		        		}
					}
		      	}
		    });	
   	 	}
	}
	
	function doClear(){
		clearForm($('#import-form'));
		$("#result").html("");
	}
</script>