﻿@args com.cloudsoaring.web.teacher.entity.TeacherEntity teacher, 
com.cloudsoaring.web.teacher.entity.CertificateEntity certificate,
String selectedPage
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
     com.cloudsoaring.web.teacher.constant.TeacherMsgNames;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
}
@extends(common_teacher, title:"", selectedPage: "teacherC")
<style>
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    /* position: absolute;
    width: 172px;
    left: -15px; */
    width: 100%;
    top: 0;
    padding-top: 10px;
}
ul {
    list-style: none;
    height: 48px;
    text-align: center;
}
.slider ul li:first-child {
    /* margin-top: 40px; */
}
.slider ul li {
    height: 48px;
    width: 160px;
    display: inline-block;
}
.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px ;
}
.slider ul a:hover {
    color: #14191e;
}
</style>
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
<div class="slider">
		<ul>
		@if(isExit){
			<li>
				<a href="/pblMgr/pub/teacher/edit.action?userId=@sessionUser.userId" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}else{
			<li>
				<a href="/pblMgr/pub/teacher/addInit.action" class="@if("teacherInfo".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人档案</span></b>
				</a>
			</li>
		}
			@if(isExit){
				<li>
					<a href="/pblMgr/pub/teacher/familyMembers.action?teacherId=@teacherId" class="@if("teacherFM".equals(selectedPage)){active}"> <i class="fa fa-users"></i><span>家庭成员</span></b>
					</a>
				</li>
				<li>
					<a href="/pblMgr/pub/teacher/certificate.action?teacherId=@teacherId" class="@if("teacherC".equals(selectedPage)){active}"> <i class="fa fa-file"></i><span>个人证书</span></b>
					</a>
				</li>
			}
		</ul>
	</div>
@form("certificate-form"){
	<div style="height: 295px;">
	    @picture(
	        label:MessageUtil.getMessage("证书"),
	        id:"picture",
	        required:true,
	        height:"250px", 
	        groupcss:"col-5",
	        url:"pub/image.action", 
	        fileid:certificate.getPictureId(), 
	        viewmode:false
	     )
	</div>
	<div>
     	@input(label:"类型", name:"type", groupcss:"col-5",  maxlength:"50",required:true, value:"")
     	@input(label:"名称", name:"name", groupcss:"col-5",  maxlength:"50",required:true, value:"")
        @hidden(id:"teacherId", name:"teacherId", value: teacher.getId())
	</div>
	<div>
     	@input(label:"获得时间",type:"date", name:"getTime", groupcss:"col-5",  maxlength:"50",required:true, value:"")
	</div>
	@btnbox(border:true){
		@button_save(width:100)
		@button_back(width:100)
	}
}
@table(id:"search-result",url:"/pub/teacher/certificateList.action?teacherId="+teacher.getId(),queryParamFunction:"createQueryParams01"){
    @columns(){
        {field: 'type',title:'@MessageUtil.getMessage("类型")',background:'#b60005',align:'center'},
        {field: 'name',title:'@MessageUtil.getMessage("名称")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'getTime',title:'@MessageUtil.getMessage("获得时间")',background:'#b60005',sortable: true,align:'center', formatter:dateFormat},
		@optcolumn(width:50){
			@iconlink(
				label:MessageUtil.getMessage("编辑"),
				iconcss:"glyphicon-pencil",
				onclick:"editCertificate",
				innerType:"EDIT"
			)
			@iconlink(
				label:MessageUtil.getMessage("删除"),
				iconcss:"glyphicon-trash",
				onclick:"deleteCertificate",
				innerType:"DEL"
			)
		}
    }
}
</div>
<script>
function editCertificate(row){
	$(function(){
		 $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"教师证书管理，修改",operSite:"pblMgr/trainingplatform/manager/user_edit.html"},
			success:function(result){
			}
		});	
	});
	window.location.href = "@url("/pub/teacher/certificateEdit.action?id=")" + row.id;
}
function deleteCertificate(row){
	confirm("@MessageUtil.getMessage("确定要删除")  " + row.name + " ?", function(){
		$.ajax({ 
			url: "@url("/pub/teacher/deleteCertificate.action")",
			data:{id:row.id},
			type:"post", 
			bodyMsg:true,
			mask:true,
			success: function(result){
	        	$('#search-result').bootstrapTable('refresh');
	      	}
	    });
		return true;
	});
}
function save(){
	$('#certificate-form').bootstrapValidator('validate');
  	 	if($('#certificate-form').data('bootstrapValidator').isValid()){
		//var params = $('#certificate-form').serializeObject();
		var params = new FormData($('#certificate-form')[0]);
		$.ajax({ 
			url: "@url("/pub/teacher/saveCertificate.action")",
			data:params,
			type:"post", 
			processData: false,
			contentType: false,
			bodyMsg:true,
			success: function(result){
				window.location.href="@url("/pub/teacher/certificate.action?teacherId=")"+$("#teacherId").val();
			}
	    });
	    $(function(){
			 $.ajax({
				type:'post',
				url:'/pblMgr/pub/teacher/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"教师证书管理，新增",operSite:"pblMgr/trainingplatform/manager/teacher_add.html"},
				success:function(result){
				}
			});	
		});
	}
}
function isEditNotice(value, row, index){
      return true;
 }
 function isDeleteNotice(){
     return true;
 }
</script>
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
		 console.log(returnCitySN["cip"]+','+returnCitySN["cname"]) 
		var browserInfo = "";
		var sysInfo = "";
		var IpInfo = "";
		(function($){
					 var BrowserMatch = {  
						  init: function() {  
							  this.browser = this.getBrowser().browser || "未知浏览器";  //获取浏览器名
							  this.version = this.getBrowser().version || "未知浏览器版本号";  //获取浏览器版本
							  this.OS = this.getOS()+" "+this.getDigits() || "未知操作系统"; //系统版本号 
						  },  
						  getOS: function() {  //判断所处操作系统
								 var sUserAgent = navigator.teacherAgent.toLowerCase();   
								
								var isWin = (navigator.platform == "Win32") || (navigator.platform == "Win64")|| (navigator.platform == "wow64");   
								
								var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");   
								if (isMac) return "Mac";   
								var isUnix = (navigator.platform == "X11") && !isWin && !isMac;   
								if (isUnix) return "Unix";   
								var isLinux = (String(navigator.platform).indexOf("Linux") > -1);   
								var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";  
								if (isLinux) {  
								if(bIsAndroid) return "Android";  
								else return "Linux";   
								}  
								if (isWin) {   
								
									var isWin2K = sUserAgent.indexOf("Windows nt 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;   
									if (isWin2K) return "Win2000";   
									var isWinXP = sUserAgent.indexOf("Windows nt 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1  
									sUserAgent.indexOf("Windows XP") > -1;   
									if (isWinXP) return "WinXP";   
									var isWin2003 = sUserAgent.indexOf("Windows nt 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;   
									if (isWin2003) return "Win2003";   
									var isWinVista= sUserAgent.indexOf("Windows nt 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;   
									if (isWinVista) return "WinVista";   
									var isWin7 = sUserAgent.indexOf("Windows nt 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;   
									if (isWin7) return "Win7";   
									var isWin8 = sUserAgent.indexOf("windows nt 6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;  
									if (isWin8) return "Win8"; 
									var isWin10 = sUserAgent.indexOf("windows nt 10.0")>-1||sUserAgent.indexOf("Windows 10")>-1;	
									if(isWin10)return "Win10";				
								}  
								return "其他";
						  },  
						  getDigits:function(){ //判断当前操作系统的版本号 
							var sUserAgent = navigator.teacherAgent.toLowerCase();   
							var is64 = sUserAgent.indexOf("win64") > -1||sUserAgent.indexOf("wow64") > -1;  
							if (is64) {  
								return "64位";  
							}else{  
							   return "32位";    
							}  
						},
						  getBrowser: function() {  // 获取浏览器名
							  var rMsie = /(msie\s|trident\/7)([\w\.]+)/;  
							  var rTrident = /(trident)\/([\w.]+)/;  
							  var rEdge = /(chrome)\/([\w.]+)/;//IE
							  
							  var rFirefox = /(firefox)\/([\w.]+)/;  //火狐
							  var rOpera = /(opera).+version\/([\w.]+)/;  //旧Opera
							  var rNewOpera = /(opr)\/(.+)/;  //新Opera 基于谷歌
							  var rChrome = /(chrome)\/([\w.]+)/; //谷歌 
							  var rUC = /(chrome)\/([\w.]+)/;//UC
							  var rMaxthon = /(chrome)\/([\w.]+)/;//遨游
							  var r2345 =  /(chrome)\/([\w.]+)/;//2345
							  var rQQ =  /(chrome)\/([\w.]+)/;//QQ
							  //var rMetasr =  /(metasr)\/([\w.]+)/;//搜狗
							  var rSafari = /version\/([\w.]+).*(safari)/;
							  
							  var ua = navigator.teacherAgent.toLowerCase();  
		 
		 
							  var matchBS, matchBS2;  
							  
							  //IE 低版
							  matchBS = rMsie.exec(ua);  
							  if (matchBS != null) {  
								  matchBS2 = rTrident.exec(ua);  
								  if (matchBS2 != null) {  
									  switch (matchBS2[2]) {  
									  case "4.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 8"  //内核版本号
										  };  
										  break;  
									  case "5.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 9"  
										  };  
										  break;  
									  case "6.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 10"  
										  };  
										  break;  
									  case "7.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 11"  
										  };  
										  break;  
									  default:  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "Undefined"  
										  };  
									  }  
								  } else {  
									  return {  
										  browser: "Microsoft IE",  
										  version: "IE:"+matchBS[2] || "0"  
									  };  
								  }  
							  }  
							  //IE最新版
							   matchBS = rEdge.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "Microsoft Edge",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
		                                          //UC浏览器					  
							  matchBS = rUC.exec(ua);                         		   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "UC",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //火狐浏览器
							  matchBS = rFirefox.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "火狐",  
									  version: "Firefox/"+matchBS[2] || "0"  
								  };  
							  }  
		                                         //Oper浏览器					 
							 matchBS = rOpera.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "Opera",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //遨游
							   matchBS = rMaxthon.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "遨游",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
		                                          //2345浏览器					  
		 					  matchBS = r2345.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "2345",  
									  version: "Chrome/ "+matchBS[2] || "0"  
								  };  
							  }  
		                                          //QQ浏览器					  
							  matchBS = rQQ.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "QQ",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //Safari（苹果）浏览器
							  matchBS = rSafari.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent)) && (!(window.chrome)) && (!(window.opera))) {  
								  return {  
									  browser: "Safari",  
									  version: "Safari/"+matchBS[1] || "0"  
								  };  
							  }  
							  //谷歌浏览器
							   matchBS = rChrome.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  matchBS2 = rNewOpera.exec(ua);  
								  if (matchBS2 == null) {  
									  return {  
										  browser: "谷歌",  
										  version: "Chrome/"+matchBS[2] || "0"  
									  };  
								  } else {  
									  return {  
										  browser: "Opera",  
										  version: "opr/"+matchBS2[2] || "0"  
									  };  
								  }  
							  }  
						  }  
		      };  
		      BrowserMatch.init();  
		      //alert("当前浏览器为：" + BrowserMatch.browser +"\n版本为："+ BrowserMatch.version + "\n所处操作系统为："+BrowserMatch.OS); 
		      browserInfo = BrowserMatch.version;
			  sysInfo = BrowserMatch.OS;
			  IpInfo = returnCitySN["cip"];
				})(jQuery);
		</script>

