﻿@extends(main)
@args UserEntity condition


@{
	final Boolean isWithMerchant = ConfigUtil.isWithMerchant();
}
<!-- 角色配置Dialog -->
@assign("configRole"){
	<select id="userRole" multiple="multiple"></select>
	<script>
		initUserRoleList('%userId');
	</script>
}


<!-- 检索条件表单 -->
@form(name:"search-condition",validation:false){
	@combobox(
		label:MessageUtil.getMessage(MsgNames.MSG_USER_TYPE)
		, name:"userKbn"
		, showempty:true
		, options:CodeFactory.getCodeList(StateConstants.CODE_TYPE_USER_KBN)
		, visible: isWithMerchant)
	@input(label:MessageUtil.getMessage(MsgNames.MSG_USER_NAME), name:"userName", value:condition.getUserName())
	@input(label:MessageUtil.getMessage(MsgNames.MSG_PERSON_NAME),name:"personName", value:condition.personName)
	@input(label:MessageUtil.getMessage(MsgNames.MSG_MAILBOX),name:"email", value:condition.email)
	@combobox(label:MessageUtil.getMessage(MsgNames.MSG_MERCHANT_TYPE), name:"companyType", showempty:true,value:condition.companyType, options:CodeFactory.getCodeList(StateConstants.MERCHANT_TYPE), visible: isWithMerchant)
	@combobox(label:MessageUtil.getMessage(MsgNames.MSG_MERCHANT_STATUS), name:"merchantStatus", showempty:true, value:condition.merchantStatus, options:CodeFactory.getCodeList(StateConstants.MERCHANT_STATUS), visible: isWithMerchant)
	@input_merchant_no(name:"companyCode", value:condition.companyCode, visible: isWithMerchant)
	@btnbox(align:"right"){
		@button_search()
		@button_clear()
	}
}
<!-- 检索结果列表 -->
@table(id:"search-result", url:"/user/search.action", showColumns:false){
	@toolbar(){
		@button(label:MessageUtil.getMessage(MsgNames.MSG_ADD),iconcss:"fa fa-plus",url:"/user/addMaster.action",innertype:"ADD")
		@button(label:MessageUtil.getMessage(MsgNames.MSG_DELETE),iconcss:"fa fa-remove",onclick:"deleteUsers",innertype:"DEL")
	}
	@columns(){
		{field: 'state',align:'center',checkbox: true}, 
		@optcolumn(width:160){
			@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_VIEW), iconcss:"glyphicon-eye-open", onclick:"viewUser")
			@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_EDIT), iconcss:"glyphicon-pencil", onclick:"editUser",innertype:"EDIT")
			@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_CHARACTER), iconcss:"glyphicon-cog", onclick:"configRole",innertype:"CONF", visibleFunction:"canConfig")
			@if(hasAnyInnerAccess("LOCK","UNLOCK"))
				@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_LOCK_UNLOCK), iconcss:"fa-lock,fa-unlock", css:"fa", onclick:"lockUser",visibleFunction:"canLock")
			}
			@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_DELETE), iconcss:"glyphicon-remove", onclick:"deleteUser",innertype:"DEL",popplace:"right", visibleFunction:"canDelete")
		},
		@if(isWithMerchant) {
			{field: 'userKbn',title: '@MessageUtil.getMessage(MsgNames.MSG_USER_TYPE)',width:130,sortable: true, formatter:formatUserKbn},
		}
		{field: 'userName',title: '@MessageUtil.getMessage(MsgNames.MSG_USER_NAME)',width:130,sortable: true},
		{field: 'personName',title: '@MessageUtil.getMessage(MsgNames.MSG_PERSON_NAME)',width:100,sortable: true},
		{field: 'departmentName',width:130,title: '@MessageUtil.getMessage(MsgNames.MSG_DEPARTMENT)',sortable: true}, 
		{field: 'email',title: '@MessageUtil.getMessage(MsgNames.MSG_EMAIL)',width:190,sortable: true}, 
		{field: 'mobile',title: '@MessageUtil.getMessage(MsgNames.MSG_MOBILE)',width:150,sortable: true}, 
		{field: 'phone',title: '@MessageUtil.getMessage(MsgNames.MSG_PHONE)',sortable: true},
		@if(isWithMerchant) {
			{field: 'companyType',title: '@MessageUtil.getMessage(MsgNames.MSG_MERCHANT_TYPE)',width:150,sortable: true, formatter:formatCompanyType},
			{field: 'companyCode',title: '@MessageUtil.getMessage(MsgNames.MSG_MERCHANT_CODING)',width:150,sortable: true},
			{field: 'companyName',title: '@MessageUtil.getMessage(MsgNames.MSG_MERCHANT_NAME)',width:150,sortable: true},
			{field: 'merchantStatus',title: '@MessageUtil.getMessage(MsgNames.MSG_MERCHANT_STATUS)',width:150,sortable: true, formatter:formatCompanyStatus}
		}
	}
}
<!-- 脚本 -->
<script>
	//列表检索参数
// 	function createQueryParams(params){
// 		return buildQueryParam('#search-condition', params);
// 	}
@if(isWithMerchant) {
	//公司类型格式化
	function formatCompanyType(value, row, index){ 
		var data = @JsonLib.toJson(CodeFactory.getDbCodeMap(StateConstants.MERCHANT_TYPE)).raw();
		return data[value];
	}
}
	//公司状态格式化
	function formatCompanyStatus(value, row, index){ 
		var data = @JsonLib.toJson(CodeFactory.getCodeMap(StateConstants.MERCHANT_STATUS)).raw();
		return data[value];
	}

	//用户类型格式化
	function formatUserKbn(value, row, index){
		var data = @JsonLib.toJson(CodeFactory.getCodeMap(StateConstants.CODE_TYPE_USER_KBN)).raw();
		return data[value];
	}

	//是否可以删除
	function canDelete(value, row, index){
		return row.lockFlag != '1';
	}
	
	//是否可以锁定
	function canLock(value, row, index){
		if(row.lockFlag == '1'){
			return false;
		}
		if(@hasInnerAccess("LOCK") && row.status == '1'){
			return 0;
		}
		if(@hasInnerAccess("UNLOCK") && row.status == '0'){
			return 1;
		}
		return false;
	}
	
	//是否可以配置角色
	function canConfig(value, row, index){
		return row.userKbn == 'A';
	}
	
	//锁定用户
	function lockUser(row){
		var forLock = row.status == '1' ;
		var url = forLock ? '@url("/user/lock.action")' :'@url("/user/unlock.action")';
		var displayName = getOrElse(row.personName) + (row.userName ? " [ " + getOrElse(row.userName) + " ] " : "");
		var msg = "@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_THAT_YOU_WANT)" + (forLock ? "@MessageUtil.getMessage(MsgNames.MSG_LOCKING)" :"@MessageUtil.getMessage(MsgNames.MSG_UNLOCK)") + "@MessageUtil.getMessage(MsgNames.MSG_USER) " + displayName + " ?";
		confirm(msg,function(){
		ajax({
			bodyMsg:true,
			data:{userId:row.userId},
			url:url,
			success:function(){
				refreshTable();
			}
		});});
	}
	
	//编辑用户
	function editUser(row){
		window.location.href = "@url("/user/edit.action?userId=")" + row.userId;
	}
	//查看用户
	function viewUser(row){
		//保留上次输入条件跳转
		//var condition = buildQueryCondition('search-condition', 'search-result');
		//保留上次查询条件跳转
		var condition = $('#search-result').bootstrapTable('getLastQueryParams');
		window.location.href = "@url("/user/view.action?userId=")" + row.userId  + '&'+ @historyQueryString("condition").raw();
	}
	//删除用户
	function deleteUser(row){
		confirm("@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_DELETE_USER)  " + row.personName + " ?", function(){
			ajax({ 
				url: "@url("/user/delete.action")",
				data:{userId:row.userId},
				type:"post", 
				bodyMsg:true,
				mask:true,
				success: function(result){
		        	$('#search-result').bootstrapTable('refresh');
		      	}
		    });
			return true;
		});
	}
	//批量删除用户
	function deleteUsers(){
		var selectedRows = $('#search-result').bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){
			var userId = [];
			for(var i = 0; i < selectedRows.length; i++){
				userId[i] = selectedRows[i].userId;
			}
			confirm("@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_DELETE_SELECTED_USER)", function(){
				ajax({ 
					url: "@url("/user/delete.action")",
					data:{userId:userId.join(',')},
					type:"post", 
					bodyMsg:true,
					mask:true,
					success: function(result){
			        	//成功
			        	$('#search-result').bootstrapTable('refresh');
			      	}
			    });
				return true;
			});
		}else{
			warning("@MessageUtil.getMessage(MsgNames.MSG_PLEASE_SELECT_THE_USER_TO_DELETE)");
		}
	}
	
	//配置角色
	function configRole(row){
		var userId = row.userId;
		var personName = row.personName;
		BootstrapDialog.show({
            title: '@(MessageUtil.getMessage(MsgNames.MSG_USER))[' + personName + '] - @MessageUtil.getMessage(MsgNames.MSG_ROLE_CONFIGURATION)',
            message: $('@es(configRole).raw()'.replace(/%userId/g, userId)),
            buttons: [{
               label: '@MessageUtil.getMessage("确定")',
               cssClass: 'gh gh-ok btn-normal',
               id:'btnChangePwdSave',
               action: function(dialog) {
            	   var foo = []; 
            	   $('#userRole :selected').each(function(i, selected){ 
            	     foo[i] = $(selected).val(); 
            	   });
            	 	//后台保存
	           		ajax({ 
	           			url: "@url("/user/saveUserRole.action")",
	           			data:{userId:userId, roleIds:foo.join(',')},
	           			type:"post", 
	           			bodyMsg:true,
						mask:true,
	           			success: function(result){
	           	        	//成功
	           	        	dialog.close();
	           	      	}
	           	    });
               }
           }, {
               label: '@MessageUtil.getMessage(MsgNames.MSG_CANCEL)',
               cssClass: 'btn-normal fa fa-reply',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	
	//角色配置Dialog初始化
	function initUserRoleList(userId){
		var userRole = $('#userRole').bootstrapDualListbox();
		
		//后台取数据
		ajax({ 
			url: "@url("/user/getAllUserRole.action")",
			data:{userId:userId},
			type:"post", 
			success: function(result){
	        	//成功
	        	for(var i=0; i< result.length; i++){
	        		var row = result[i];
	        		var selected = row.selected ? " selected " : "";
	        		userRole.append('<option value="' + row.roleId + '"' + selected + '>' + row.roleName + '</option>');
	        	}
	        	$('#userRole').bootstrapDualListbox('refresh', true);
	      	}
	    });
	}
	</script>