 .mobileFooter{ display:none;}
@media screen and (max-width:768px){
    body{padding-bottom: 81px;}
    .mobileFooter{width: 100%;  display:block; display: flex; display: -webkit-flex; flex-wrap: nowrap; justify-content: space-between; align-items: center;  position: fixed;  left: 0; bottom: 0; z-index: 100;background-color: rgb(255, 255, 255); }
    .mobileFooter div {text-align: center; width: 33%;  padding: 18px 0 0px 0; height: 100%;  }
    .mobileFooter div i{  font-size: 25px; color: #0c969e;  padding: 8px; background-color: #fff;  border-radius: 50%; -webkit-border-radius:50%; -o-border-radius:50%; }
    .mobileFooter div h6{ font-size: 14px; color: #333; line-height: 2;  margin-top: 10px;}
}
