@args List categorys
@extends(main)

<!-- 检索条件表单 -->
@form(name:"search-condition",validation:false){
	@combobox(label:MessageUtil.getMessage(MsgNames.MSG_CLASS),name:"categoryId", options:categorys, valuefield:"categoryId", labelfield:"categoryName"){
		<script>
	 		$('#categoryId').change(function(){
	 			var categoryId = $('#categoryId').selectpicker('val');
	 			if(categoryId && categoryId != ''){
		 			//刷新模块
		 			$('#moduleId').selectpicker('reload', '@url("/log/getModuleIndex.action?categoryId=")' + categoryId);
	 			}else{
	 				$('#moduleId').selectpicker('reloadData', []);
	 			}
	 		});
	 	</script>
	}
	@combobox(label:MessageUtil.getMessage(MsgNames.MSG_MODEL),name:"moduleId", valuefield:"moduleId", labelfield:"moduleName"){
		<script>
	 		$('#moduleId').change(function(){
	 			//刷新模块
	 			var moduleId = $('#moduleId').selectpicker('val');
	 			if(moduleId && moduleId != ''){
		 			//刷新操作
		 			$('#operation').selectpicker('reload', '@url("/log/getOperationIndex.action?moduleId=")' + moduleId);
	 			}else{
	 				$('#operation').selectpicker('reloadData', []);
	 			}
	 		});
	 	</script>
	}
	@combobox(label:MessageUtil.getMessage(MsgNames.MSG_HANDLE),name:"operation", valuefield:"operation", labelfield:"operation")
	@row(){
		@input(label:MessageUtil.getMessage(MsgNames.MSG_OPEAROR_USER),name:"userName")
		@input(label:MessageUtil.getMessage(MsgNames.MSG_MESSAGE_CONTENT),name:"logMessage", groupcss:"col-8")
	}
	@row(){
		@date(label:MessageUtil.getMessage(MsgNames.MSG_DATE_START),name:"logTimeStart")
		@date(label:MessageUtil.getMessage(MsgNames.MSG_DATE_END),name:"logTimeEnd")
	}
	@btnbox(align:"right"){
		@button_search(onclick:"$('#logList').bootstrapTable('refresh');")
		@button_clear()
	}
}

<!-- 检索结果列表 -->
@table(id:"logList", url:"/log/busSearch.action",sortName:"logTime",sortOrder:"desc"){
	@columns(){
		{field: 'logTime',title: '@MessageUtil.getMessage(MsgNames.MSG_LOG_TIME)',sortable: true,width:160,formatter:dateTimeFormat},
	  	{field: 'moduleName',title: '@MessageUtil.getMessage(MsgNames.MSG_MODEL)',width:180,sortable: true},
	  	{field: 'operation',title: '@MessageUtil.getMessage(MsgNames.MSG_HANDLE)',width:60,sortable: true},
	  	{field: 'personName',title: '@MessageUtil.getMessage(MsgNames.MSG_OPEAROR_USER)',width:80,sortable: true}, 
	  	{field: 'logMessage',title: '@MessageUtil.getMessage(MsgNames.MSG_MESSAGE)',sortable: true}, 
	  	{field: 'clientIp',title: '@MessageUtil.getMessage(MsgNames.MSG_CLIENT_IP)',width:130,sortable: true}
	}
}

<!-- 脚本 -->