@extends(main)

<!-- 日志明细查看 -->
@assign("sysLogForm"){
   	@form(name:"sysLogForm", htmlargs:"style=max-height:500px;overflow: auto;"){
		<div class="media-body" id="stackTrace" style="max-height:500px;overflow: auto;"></div>
	}
   	<script>initSysLogForm('%id');</script>
}
<!-- 检索条件表单 -->
@form(name:"search-condition",validation:false){
	@input(label:"Logger",name:"logger")
	@date(label:MessageUtil.getMessage(MsgNames.MSG_DATE_START),name:"logTimeStart")
	@date(label:MessageUtil.getMessage(MsgNames.MSG_DATE_END),name:"logTimeEnd")
	@combobox({label:MessageUtil.getMessage(MsgNames.MSG_LOG_LEVEL),name:"logLevel",options:" ,DEBUG,INFO,WARN,ERROR,FATAL,ALL,OFF"})
	@input(label:MessageUtil.getMessage(MsgNames.MSG_OPEAROR_USER),name:"userName")
	@input(label:MessageUtil.getMessage(MsgNames.MSG_MESSAGE_CONTENT),name:"logMessage")
	@btnbox(align:"right"){
		@button_search(onclick:"$('#logList').bootstrapTable('refresh');")
		@button_clear()
	}
}

<!-- 检索结果列表 -->
@table(id:"logList", url:"/log/sysSearch.action",sortName:"logTime",sortOrder:"desc"){
	@columns(){
		@optcolumn(width:60){
	   		@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_VIEW_STACK_TRACE), iconcss:"glyphicon-eye-open", onclick:"viewLog", visibleFunction:"canViewStackTrace")
	    },
	    {field: 'logTime',title: '@MessageUtil.getMessage(MsgNames.MSG_LOG_TIME)',sortable: true,width:160,formatter:dateTimeFormat}, 
        {field: 'logLevel',title: '@MessageUtil.getMessage(MsgNames.MSG_LOG_LEVEL)',width:80,sortable: true},
        {field: 'logger', title: '@MessageUtil.getMessage(MsgNames.MSG_LOGGER)',sortable: true, formatter:loggerFormat},
	    {field: 'logMessage',title: '@MessageUtil.getMessage(MsgNames.MSG_MESSAGE)',sortable: true, formatter:logMessageFormat},
        {field: 'personName',title: '@MessageUtil.getMessage(MsgNames.MSG_OPEAROR_USER)',width:80,sortable: true},
        {field: 'clientIp',title: '@MessageUtil.getMessage(MsgNames.MSG_CLIENT_IP)',width:130,sortable: true}
	}
}

<!-- 脚本 -->
<script>
	function canViewStackTrace(value, row, index){
		return row.logLevel == 'ERROR' || row.logLevel == 'FATAL';
	}
	
	function loggerFormat(value, row, index){
		var v = getOrElse(value);
		var c = "<div style=\"word-wrap: break-word;\">" + v.replaceAll("\'","&apos;") + "</div>";
		return "<div class='ellip-text' style='width:400px;' data-content='" +c+ "' data-placement='top'>" + v + "</div>";
	}
	
	function logMessageFormat(value, row, index){
		var v = getOrElse(value);
		var c = "<div style=\"word-wrap: break-word;\">" + v.replaceAll("\'","&apos;") + "</div>";
		return "<div class='ellip-text' style='width:500px;' data-content='" +c+ "' data-placement='top'>" + v + "</div>";
	}
	
	function viewLog(row){
		var id = row.id
		BootstrapDialog.show({
	           title: "@MessageUtil.getMessage(MsgNames.MSG_VIEW_LOG_DETAIL)",
	           width:500,
	           message: $('@es(sysLogForm).raw()'.replace(/%id/g, id)),
	           buttons: [{
	              label: '@MessageUtil.getMessage(MsgNames.MSG_CLOSE)',
	              cssClass: 'btn-normal fa fa-remove',
	              action: function(dialog) {
	                  this.dialog.close();
	              }
	          }]
		});
	}
	
	function initSysLogForm(id){
		//初始化
		if(id != ''){
			//查询数据并赋值
			ajax({
	         		url: '@url("/log/sysGet.action")',
	         		type: "get",
	         		bodyMsg:false,
					mask:false,
	         		data: {
	         			id:id
	         		},
	            success: function(data) {
		               if(data){
		            	   if(data.stackTrace){
		                		$('#stackTrace').html(data.stackTrace.replaceAll("\n","<br/>")); 
		               	   }else{
		               		$('#stackTrace').html('@MessageUtil.getMessage(MsgNames.MSG_NONE_STACK_TRACE)'); 
		               	   }
		               }else{
		               	   error('@MessageUtil.getMessage(MsgNames.MSG_LOG_NOT_HAVE)');
		               }
		            } 
	         		});
		}
	}
</script>