@args List<CourseUserEvalutionEntity> evlutionCourseList
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.entity.CourseUserEvalutionEntity;
    com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 	com.cloudsoaring.web.trainingplatform.constants.*
}
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/base.css")">
    <link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/home.css")">
    <script type="text/javascript" src="@WebContext.url("/js/slider.js")"></script>
    <script type="text/javascript" src="@WebContext.url("/js/tab.js")"></script>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed b-line">
        <a href="javascript:history.back(-1)" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">我的测评</span>
        </div>
       <!--  <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-release"></i>
        </a> -->
    </header>
<section class="aui-scrollView">    
@extends(common, title:getPageTitle(title), selectedPage: "text_my")
@table(id:"search-result",url:"/pub/course/listMyInfoSearch.action",sortName:"createDate",
                    sortOrder:"desc",queryParamFunction:"createQueryParams01"){
    @columns(){
       {field: 'number',title:'@MessageUtil.getMessage(TpMsgNames.MSG_NO)',width:30,align:'center',formatter:"noFormat"},       
       {field: 'title',title:'课程标题',width:100,sortable: true,align:'center', formatter:"titleFormat"}, 
       {field: 'teacherName',title:'老师名称',width:100,sortable: true,align:'center'},
       {field: 'createTime',title:'测评时间',width:100,sortable: true,align:'center',formatter:dateFormat}, 
       {field: 'degree',title:'评价等级',width:100,sortable: true,align:'center'}, 
       @optcolumn(){
         @iconlink(
                label:MessageUtil.getMessage(CourseMsgNames.CENTER_VIEW)
                , iconcss:"glyphicon-eye-open"
                , onclick:"viewNotice"
            )
        }
     }
   }
</section>
    <footer class="aui-footer">
        <a href="/pblMgr/pub/course/homePage.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-home"></i>
            </span>
            <span class="aui-tabBar-item-text">首页</span>
        </a>
        <a href="/pblMgr/pub/course/userMobileMsg.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-find"></i>
            </span>
            <span class="aui-tabBar-item-text">消息</span>
        </a>
        <a href="/pblMgr/pub/course/homeMobileMyPage.action"  class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-car"></i>
            </span>
            <span class="aui-tabBar-item-text">我的</span>
        </a>
    </footer>
</section>    
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        html, body {
            height: 100%;
            width: 100%;
        }

        iframe {
            border: 0;
        }
        .bootstrap-table {
		    padding-left: 35px;
		    padding-right: 35px;
		}
    </style>
    <script type="text/javascript">
    function noFormat(value, row, index){ 
		return index+1;
	}
    function createQueryParams01(params){
        return buildQueryParam('#search-condition', params);
    }
    function viewNotice(row){
    	 window.location.href="/pblMgr/pub/course/evalutionMobilePersonlistInit.action?courseId="+row.courseId;
    } 
    function titleFormat(value, row, index) {
        var title = hideStringByMax(value, 20);
            title += " <a title='评论'  class='fa fa-ellipsis-h' '></a>";
          var html = title; 
          return html;
    }
    </script>