@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.entity.UserInfoEntity
}
@args UserInfoEntity userInfo
@{
	final String fileSizeLimit ="102400";
}
@extends(common, title:"")
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/base.css")">
<link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/home.css")">
<script type="text/javascript" src="@WebContext.url("/js/jquery.min.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/slider.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/tab.js")"></script>
<link rel="stylesheet" media="screen" href="/pblMgr/css/cloud.min.css">
<link rel="stylesheet" href="/pblMgr/css/i18n/zh_CN.css">
<link rel="stylesheet" id="checktheme" type="text/css" href="/pblMgr/third-res/bootstrap-iCheck/skins/square/red.css">
<link rel="stylesheet" id="theme" type="text/css" href="/pblMgr/css/theme/tp.css">
<link rel="stylesheet" id="theme" type="text/css" href="/pblMgr/css/theme/tp_style.css">
<script type="text/javascript" src="/pblMgr/js/i18n/bootstrap-combotree-zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/js/i18n/common-zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-datetimepicker/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-duallistbox/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-jasny/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/js/jquery-1.9.1.min.js"></script>
<script src="/pblMgr/third-res/jquery/jquery.cookie.js"></script>
<script src="/pblMgr/third-res/jquery/jquery.base64.js"></script>
<script src="/pblMgr/third-res/jquery/jquery.formatDateTime.js"></script>
<script src="/pblMgr/third-res/jquery/jquery.mask.js"></script>
<script src="/pblMgr/third-res/bootstrap/js/bootstrap.js"></script>
<!-- Bootflat's JS files.-->
<script src="/pblMgr/third-res/bootflat/js/jquery.fs.selecter.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-validator/js/bootstrap-validator.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-dialog/js/bootstrap-dialog.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-switch/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-jasny/js/bootstrap-jasny.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-jstree/js/bootstrap-jstree.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-jstreegrid/js/bootstrap-jstreegrid.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-table/js/bootstrap-table-dm.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-table/js/bootstrap-table-config.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-duallistbox/js/bootstrap-duallistbox-dm.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-iCheck/js/icheck.js"></script><style></style>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-iconpicker/js/bootstrap-iconpicker.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/jquery-gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/freewall/js/freewall.js"></script>
<script type="text/javascript" src="/pblMgr/js/math.uuid.js"></script>
<script type="text/javascript" src="/pblMgr/js/common.js"></script>
<script type="text/javascript" src="/pblMgr/js/config.js"></script>
<script type="text/javascript" src="/pblMgr/js/bootstrap-combotree.js"></script>
<script type="text/javascript" src="/pblMgr/js/bootstrap-selector.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/jquery/jquery.browser.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/jquery/jquery.iframe-auto-height.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/full-calender/js/moment.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/full-calender/fullcalendar.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/ajaxfileupload/ajaxfileupload.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/jcrop/js/jquery.Jcrop.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/video-js/js/video.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/jquery/jquery.tagsinput.js"></script>
<!-- 后置 i18n -->
<script type="text/javascript" src="/pblMgr/third-res/video-js/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-table/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-validator/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/bootstrap-select/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/pblMgr/third-res/full-calender/i18n/zh_CN.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/pblMgr/js/html5shiv.js"></script>
<script type="text/javascript" src="/pblMgr/js/respond.src.js"></script>
<![endif]--> 
<meta charset="UTF-8"> <!-- for HTML5 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/pblMgr/css/tp_style.css">
<link rel="stylesheet" href="/pblMgr/js/videojs/video-js.css" type="text/css">
<link rel="stylesheet" href="/pblMgr/js/jquery-ui2.css" type="text/css">
<link rel="stylesheet" href="/pblMgr/js/robert.css" type="text/css">
<script type="text/javascript" src="/pblMgr/js/echarts.js"></script>
<script type="text/javascript" src="/pblMgr/js/three.js"></script>
<script type="text/javascript" src="/pblMgr/js/jquery-ui.min.js"></script>
<script> videojs.options.flash.swf = "\/pblMgr\/js\/videojs\/video-js.swf"</script>
<link href="/pblMgr/js/ueditor/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
<section class="aui-flexView" style="">
    <header class="aui-navBar aui-navBar-fixed b-line aui-navBar-change1" >
        <a href="javascript:history.back(-1)" class="aui-navBar-item" >
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center" >
            <span class="aui-center-title">创建记录</span>
        </div>
        <!-- <a href="javascript:;" class="aui-navBar-item" style="color:#fff">
            <i class="icon icon-sys"></i>学习计划
        </a> -->
    </header>
    <section class="aui-scrollView" style="background: #fff;">
<div style="width: 80%;margin: auto;margin-top: 50px;">
	@form("userInfo-form"){
	<div class="home_work" style="margin-top: 20px;">
		 @input(label:"标题", name:"title", groupcss:"col-12",  maxlength:"50",required:true, value:userInfo.getTitle())
		 @textarea(
           label:MessageUtil.getMessage("摘要"), 
           id:"abstracts", 
           required:false,
           maxlength:"400", 
           height:"256px",
           groupcss:"col-12",
           disabled:false,
           value:userInfo.getAbstracts(), 
        )
		@ue_image_video(height:"200px",width:"100%", value:userInfo.getContent(), disabled:false)
		<div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;padding-bottom: 20px;">
	        <div class="col-lg-12" style="text-align:center;margin-top:20px;">
	            @button_save(width:100)
				@button_back(width:100)
	        </div>
	    </div>
	</div>
}
</div>
</section>
   <footer class="aui-footer">
        <a href="/pblMgr/pub/course/homePage.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-home"></i>
            </span>
            <span class="aui-tabBar-item-text">首页</span>
        </a>
        <a href="/pblMgr/pub/course/userMobileMsg.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-find"></i>
            </span>
            <span class="aui-tabBar-item-text">消息</span>
        </a>
        <a href="/pblMgr/pub/course/homeMobileMyPage.action"  class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-car"></i>
            </span>
            <span class="aui-tabBar-item-text">我的</span>
        </a>
    </footer>
</section>
<script>
function save(){
	var params = new FormData($('#userInfo-form')[0]);
 	var baseInfo = $('#base-form').serializeObject();
    baseInfo.content = ue.getContent();
    baseInfo.abstracts = getValue($('#abstracts'));
    baseInfo.title = getValue($('#title'));
    params.append("userInfoJson", JSON.stringify(baseInfo));
	$.ajax({ 
        url: "@url("/pub/course/saveUserInfoById.action")",
        data:params,
        method:"post",  
        bodyMsg:true,
        mask:true,
        contentType:false,  
        processData:false, 
        success: function(result){
        	if(result.status){
				noticeInfo('@MessageUtil.getMsgAndNote("保存成功！", "ab01011.txt.oprate.write.ok")');
				 window.history.go(-1);
			}else{
				noticeError(result.messages);
			}
        }
    });
}
</script>
