@args Object courseId,
List<String> weiduList,
List<UserCourseEntity> courseUserList,
CourseUserEvalutionEntity evalution,
Integer wdjihe
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.entity.*;
}
@extends(common, title:getPageTitle(title), selectedPage: "text_my")
<style>
     .btn-primary:hover {
		    background-color: #b60005;
		    border-color: #b60005;
		}
        * {
            margin: 0;
            padding: 0;
        }
		input {
		    padding-bottom: 0px;
		}
        table {
            border: 1px solid #fff;
            /*去掉表格之间的空隙*/
            border-collapse:collapse;
            width: 1400px;
        }

        caption {
            font-size: 20px;
            font-weight: bold;
        }

        th,td{
            border: 1px solid #ccc;
            width: 80px;
            font-size: 14px;
           /*  line-height: 40px; */
            text-align: center;
            height: 38px;
        }


        b{
            font-style:normal;
            display:block;
            position:absolute;
            top:-40px;
            left:-40px;
            width:50px;
        }

        em{
            font-style:normal;
            display:block;
            position:absolute;
            top:-25px;
            left:-70px;
            width:55px;
            color: #fff;
        }
		#lineTd {
		 background: #b60005 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEwMCUiIHkyPSIxMDAlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=) no-repeat 100% center;   
		}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/base.css")">
    <link type="text/css" rel="stylesheet" href="@WebContext.url("/css/mobile/themes/css/home.css")">
    <script type="text/javascript" src="@WebContext.url("/js/slider.js")"></script>
    <script type="text/javascript" src="@WebContext.url("/js/tab.js")"></script>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed b-line">
        <a href="javascript:history.back(-1)" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">我的测评详情</span>
        </div>
       <!--  <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-release"></i>
        </a> -->
    </header>
<section class="aui-scrollView" style=" width: 100%;height: 100%;-webkit-box-flex: 1;flex: 1;overflow-y: auto;overflow-x: auto;position: relative;margin-top: 0;padding-bottom: 10px;">    
 @if(null!=weiduList && weiduList.size()>0){   
<form id="singleFrom">
	<table id="evalution">
	    <thead style="background-color: #b60005;color: #fff;border-color: #b60005;">
	        <tr>
	            <!-- 模拟表头分割线的部分 -->
	            <th id="lineTd">
	                <!-- <div class="out" style="background-color: #b60005;color: #fff;border-color: #b60005;">
	                    <b>维度</b>
	                    <em>姓名</em>
	                </div> -->
	                <span style="float:left;margin-top:20px;margin-left:27px;">姓名</span>
                    <span style="float:right;margin-top:0px;">维度</span>
	            </th>
	            @for(String weidu : weiduList){
	             @if(weidu.equals("1")){
	                <th>科学精神</th>
	              }
	              @if(weidu.equals("2")){
	                <th>责任担当</th>
	              }
	              @if(weidu.equals("3")){
	                <th>学会学习</th>
	              }
	              @if(weidu.equals("4")){
	                <th>人文底蕴</th>
	              }
	              @if(weidu.equals("5")){
	                <th>实践创新</th>
	              }
	              @if(weidu.equals("6")){
	                <th>健康生活</th>
	              }
	            }
	            <th>评价等级</th>
	        </tr>
	    </thead>
	    <tbody>
	    @if(null!=courseUserList && courseUserList.size()>0){
		    @for(UserCourseEntity item : courseUserList){
		       <tr>
		            <td>@item.getPersonName()</td>
		            @if(null!=item.getGroupList() && item.getGroupList().size()>0){
		              @for(CourseUserEvalutionEntity entity : item.getGroupList()){
		               <td>@entity.getScore()</td>
		              }
		              <td>@item.getGroupList().get(0).getDegree()</td>
		             </td>
		            }
		            
		            
		        </tr>
		    }
	    }
	    </tbody>
	</table>
</form>
}
</section>
    <footer class="aui-footer">
        <a href="/pblMgr/pub/course/homePage.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-home"></i>
            </span>
            <span class="aui-tabBar-item-text">首页</span>
        </a>
        <a href="/pblMgr/pub/course/userMobileMsg.action" class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-find"></i>
            </span>
            <span class="aui-tabBar-item-text">消息</span>
        </a>
        <a href="/pblMgr/pub/course/homeMobileMyPage.action"  class="aui-tabBar-item">
            <span class="aui-tabBar-item-icon">
                <i class="icon icon-car"></i>
            </span>
            <span class="aui-tabBar-item-text">我的</span>
        </a>
    </footer>
</section>
<script>
$("#submitTable").click(function () {
	window.location.href="/pblMgr/pub/course/userPblMyInfo.action";
});

</script>