@args String title = "", 
TbInstitutionEvalutionManagerView course,
Object catagoryTags,
String pageType,
String measureType,
List teachList,
Boolean isOnlyView = false,
Boolean isTeacher =  false,
String type,
Object tagsSecond
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.taxonomy.entity.TbInstitutionEvalutionManagerView;
    com.cloudsoaring.web.taxonomy.entity.TagInstitutionView;
    com.cloudsoaring.web.course.entity.QuestionEntity
    java.lang.*;
}
@{

     String isForeverTemp = "1";
     if(StringUtil.isNotEmpty(course.getEndDate()) && course.getEndDate().substring(0,3) == "2099"){
     	isForeverTemp = "1";
     }
     final String isForever = isForeverTemp;
}
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditorDetail/ueditor.config.js")"></script>
<script type="text/javascript" charset="utf-8" src="@url("/js/ueditorDetail/ueditor.all.js")"></script>
<script type="text/javascript" charset="utf-8" src="@url("/js/lang/zh-cn/zh-cn.js")"></script>
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
<style>
	.question-title {
	    margin-top: 20px;
	}
	.question-div {
	    margin: 5px 0px;
	    display: table;
	    background-color: #fff;
	    padding-bottom: 15px;
	}
	.teacher-div {
        margin: 50px 0px;
        background-color: #fff;
        padding-bottom: 15px;
    }
    .type-primary.bootstrap-dialog .modal-header {
    background-color: #3dd4c1;
}
</style>
<!-- 人员添加dialog -->
@assign("teacher"){
  <div style="width:600">
      @form(name:"search-condition",validation:false){
           <div >
               @input(label:MessageUtil.getMessage("学校名称"), name:"institutionNameseacher",groupcss:"fcol-12")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
	    @table(id:("search-user"), showColumns:false, url:"/pub/course/searchEvalutionSchoolAll.action",height:400,singleSelect:true){
	        @columns(){
	            {field: 'state',title: "",align:'center',checkbox:true,width:30},
	            {field: 'institutionName',title: "学校名称",sortable: true},                                            
	            {field: 'institutionAbbreviation',title: "学校类型",sortable: true},
	            {field: 'schoolType',title: "学校简称",sortable: true},
	        }
	     }
    </div>
}
<div style="width:80%;height:100%;margin-left:auto;margin-right:auto;background: #fff;padding-left:100px;">
	@form("file-form"){
	    <div  >
	      @input(label:"评价标题", name:"title", groupcss:"col-10",  maxlength:"50",required:true, value:course.getTitle())
             @hidden(id:"courseId", name:"id", value: course.getId())
             @hidden(id:"teacherId", name:"teacherId",value:course.getTeacherId())
             @hidden(id:"type", name:"type",value:type)
	    </div>
		<div  >
		          @combobox(
		              label:MessageUtil.getMessage("评价类别"),
		              name:"crowdType", 
		              popplace:"left",  
		              value:course.getCrowdType(), 
		              options:"[{value:'0',text:'学校自评'},{value:'1',text:'学校互评'},{value:'2',text:'教育局评价'},{value:'3',text:'家长评价'}]",
		              required:true, 
		              groupcss:"col-10",
		              disabled:false
		           )
		</div>
		<div>
                  @combobox(
                    label:MessageUtil.getMessage("标签分类"),
                    name:"firstTag", 
                    popplace:"left", 
                    multiple:false,
                    groupcss:"col-5", 
                    value:course.getFirstTag(),
                    labelfield:"tagName", 
                    valuefield:"tagId",
                    placeholder:"一级标签",
                    options:catagoryTags,
                    required:true, 
                    onChange:"getSecondTag",
                    disabled:isOnlyView
                 )
                 @if(course.getFirstTag()==null){
                    @combobox(
	                    label:MessageUtil.getMessage("    "),
	                    name:"secondTag", 
	                    groupcss:"col-5",  
	                    popplace:"left", 
	                    placeholder:"二级标签",
	                    showempty:false,
	                    multiple:false,  
	                    value:course.getSecondTag(), 
	                    labelfield:"tagName", 
	                    valuefield:"tagId", 
	                    required:true
	                 )   
                 }else{
                    @combobox(
	                    label:MessageUtil.getMessage("    "),
	                    name:"secondTag", 
	                    groupcss:"col-5",  
	                    popplace:"left", 
	                    showempty:false,
	                    multiple:false,  
	                    value:course.getSecondTag(), 
	                    url:("/pub/course/searchSecondTag2.action?id="+course.getFirstTag()),
	                    labelfield:"tagName", 
	                    valuefield:"tagId", 
	                    required:true
	                 )   
                 }
		  </div>
		  <div>
		     @combobox(
		              label:MessageUtil.getMessage("永久任务"),
		              name:"foreverFlag", 
		              popplace:"left",  
		              value:isForever, 
		              options:"[{value:'0',text:'否'},{value:'1',text:'是'}]",
		              required:true, 
		              groupcss:"col-5",
		              onChange:"foreverFlagChange"
	         )
		</div>
		<div>
		   @ftdate(
                label:MessageUtil.getMessage("任务时间"),
                fromname:"startDate", 
                groupcss:"col-10", 
                toname:"endDate",
                showbutton:false,
                torequired: true, 
                fromrequired: true,
                fromvalue:course.getStartDate(), 
                tovalue:course.getEndDate(), 
                onlydate:true, 
             )
		</div>
		  <div  >
			     @combobox(
			        label:MessageUtil.getMessage("评分分值设置"),
			        name:"courseStage", 
			        groupcss:"col-5",
			        popplace:"left",  
			        required:true,
			        value:course.getCourseStage(),  
			        options:"[{value:'A',text:'85-100分'},{value:'B',text:'70-84分'},{value:'C',text:'60-69分'},{value:'D',text:'60分以下'}]",
			        required:false
			      )  
		 </div>

	  }
		 <div>
		    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 60px;margin-top: 20px;">
		        @button(
	                label:MessageUtil.getMessage("选择学校"),
	                 iconcss:"fa fa-plus",
	                 onclick:"addTeacher"
	            )
		    </div>
		     @if(course!=null){
		      @row(){
			               @input(
			                   label:MessageUtil.getMessage("学校名称"),
			                   name:"institutionName",
			                   groupcss:"col-5",  
			                   required: true, 
			                   maxlength:"50", 
			                   value:course.getInstitutionName(),
			                   disabled:true 
			                )
			                @input(
				                   label:MessageUtil.getMessage("学校类型"), 
				                   name:"schoolType", 
				                   groupcss:"col-5",  
				                   required: true, 
				                   maxlength:"50", 
				                   value:course.getSchoolType(),
				                   disabled:true 
				                )
				               @input(
				                   label:MessageUtil.getMessage("学校简称"), 
				                   name:"institutionAbbreviation", 
				                   groupcss:"col-5",            
				                   maxlength:"50", 
				                   disabled:true,
				                   value:course.getInstitutionAbbreviation(), 
				                )

			          }  
		     }else{
		      @row(){
			               @input(
			                   label:MessageUtil.getMessage("学校名称"),
			                   name:"institutionName",
			                   groupcss:"col-5",  
			                   required: true, 
			                   maxlength:"50", 
			                   value:"",
			                   disabled:true 
			                )
			                @input(
				                   label:MessageUtil.getMessage("学校类型"), 
				                   name:"schoolType", 
				                   groupcss:"col-5",  
				                   required: true, 
				                   maxlength:"50", 
				                   value:"",
				                   disabled:true 
				                )
				               @input(
				                   label:MessageUtil.getMessage("学校简称"), 
				                   name:"institutionAbbreviation", 
				                   groupcss:"col-5",            
				                   maxlength:"50", 
				                   disabled:true,
				                   value:"", 
				                )

			          }  
		     }
			  
	    </div>
	<div style="background-color: #E6E6E6;width: 100%;">
           <div id="activity" name="activity"  class="">
                @row(){
                    @check({
                        name:"activity",
                        id:"activity",
                        label:"选择活动", 
                        popplace:"left", 
                        multiple:true, 
                        value:course.getActivitys(), 
                        valuefield:"value", 
                        labelfield:"label",
                        optionWidth:"100px",
                        options:"[{value:\"2\",label:\"专家意见\"}]"
                    })
                   
                }
            </div>
     </div>
     @btnbox(){
	    @if("0".equals(course.getStatus()) || course ==null) {
	        @button(
	            width:100,
	            iconcss:"gh gh-plus", 
	            onclick:"zancun", 
	            label:MessageUtil.getMessage("暂存")
	         )
	    } 
	    @button_save(width:100)
	    @button_close(width:100, onclick:"closeWindow")
    }
    <div class="clearfix"></div>
</div>



<script type="text/javascript">
function addTeacher(){
    BootstrapDialog.show({
        title:"选择学校",
        cssClass:'user_dialog',
        message: $('@es(teacher).raw()'),
        buttons: [
        {
           label: "确定",
           cssClass: 'btn-normal fa fa-floppy-o',
           action: function(dialog) {
                //找到选中的用户
                var selectedRows = $('#search-user').bootstrapTable('getSelections');
                if(selectedRows && selectedRows.length > 0){
                   for(var i = 0; i < selectedRows.length; i++){
                      var url  = "@url("/pub/course/searchSchool.action?id=")"+selectedRows[i].id;
                      $.ajax({ 
                          url:url,
                          bodyMsg:true,
                          type:"post", 
                          success: function(result){
                             $("#institutionName").val(result.data.institutionName);
                             $("#schoolType").val(result.data.schoolType);
                             $("#institutionAbbreviation").val(result.data.institutionAbbreviation);
                             $("#teacherId").val(result.data.id);
                           } 
                      });
                   } 
                   this.dialog.close();
                }else{
                    warning("请选择要添加的学校");
                }
           }
            
       },
       {
           label: "关闭",
           cssClass: 'btn-normal fa fa-remove',
           action: function(dialog) {
               this.dialog.close();
           }
       }]
    });


}
//永久课程改变的时控制课程期限
function foreverFlagChange(value, id){
	if(value == '1'){
		setValueAny("endDate", "2099-12-31");
		disableAny("endDate",true)
	} else {
		if(getValueAny("endDate") == "2099-12-31") {
			setValueAny("endDate", (new Date()).addDay(1));
		}
		disableAny("endDate",false)
	}
}


 //显示性别
    function formatterSex(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "女";
            }else if(value == 1){
                return "男";
            }
        }       
    }

    $(function(){
        //Validator
        
        $('#file-form').bootstrapValidator({
        });
        foreverFlagChange('@isForever');
    });
    function closeWindow() {
       //window.close();
       window.history.go(-1);
    }
    function addQuestionByBtn() {
        questionForm.addQueset();
        $('html,body').animate({scrollTop:$('html,body')[0].scrollHeight},'slow');
    }
   function save() {
	   $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"评价，添加评价",operSite:"pblMgr/institution/manager/institution_evalution_add"},
			success:function(result){
			}
		});	
        $('#file-form').bootstrapValidator('validate');
        var validate =$('#file-form').data('bootstrapValidator').isValid();
        var teacherUserName = $("#institutionName").val();
        if(teacherUserName == ""){
        	warning("请选择学校");
        	return false;
        }
        if(validate){
            var params = new FormData($('#file-form')[0]);
            var baseInfo = $('#base-form').serializeObject();
            baseInfo.id = getValue($('#courseId'));
            baseInfo.title = getValue($('#title'));
            baseInfo.firstTag = getValue($('#firstTag'));
            baseInfo.secondTag = getValue($('#secondTag'));
            baseInfo.teacherId = getValue($('#teacherId'));
            baseInfo.summary = getValue($('#summary'));
            baseInfo.flagOrderStudy= getValue($('#flagOrderStudy'));
            baseInfo.courseStage= getValue($('#courseStage'));
            baseInfo.measureType = getValue($('#measureType'));
            baseInfo.crowdType = getValue($('#crowdType'));
            //baseInfo.price = getValue($('#price'));
            baseInfo.price = 0;
            baseInfo.target=getValue($('#target'));
            baseInfo.notice=getValue($('#notice'));
            //baseInfo.flagRequired=getValue($('#flagRequired'));
            baseInfo.flagRequired="1";
            baseInfo.flagSkipVideo=getValue($('#flagSkipVideo'));
            baseInfo.courseRource=getValue($('#courseRource'));
            baseInfo.supplier=getValue($('#supplier'));
            //baseInfo.numRecommend=getValue($('#numRecommend'));
            baseInfo.numRecommend="";
            var str= document.getElementsByName("activity");
            var objarray=str.length;
            var chestr="";
            for (i=0;i<objarray;i++){
                if(str[i].checked == true)
                {
                   chestr+=str[i].value+",";
                }
            }
            baseInfo.activitys=chestr;
            baseInfo.flagBoutique=getValue($('#flagBoutique'));
            baseInfo.flagHomeCarousel=getValue($('#flagHomeCarousel'));
            @if(CourseStateConstants.MEASUERMENT_TYPE_EXAM.equals(measureType)) {
                baseInfo.measureStartDate = getValue($('#measureStartDate'));
                baseInfo.measureEndDate = getValue($('#measureEndDate'));
                baseInfo.measureDuration = getValue($('#measureDuration'));
                //默认值
                baseInfo.startDate = baseInfo.measureStartDate ;
                baseInfo.endDate = baseInfo.measureEndDate;
                baseInfo.studyDuration= baseInfo.measureDuration + "分钟";
                baseInfo.courseStatus = '@CourseStateConstants.COURSE_STATUS_FINISH';
            } else {
                baseInfo.startDate = getValue($('#startDate'));
                baseInfo.endDate = getValue($('#endDate'));
                baseInfo.studyDuration = getValue($('#studyDuration'));
                baseInfo.courseStatus = getValue($('#courseStatus'));
            }
            params.append("courseJson", JSON.stringify(baseInfo));
            $.ajax({ 
                url: "@url("/pub/course/saveEvalutionInfo.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.history.go(-1);
                    });
                }
            });
        }
    }
   function zancun() {
	   $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"评价，添加评价",operSite:"pblMgr/institution/manager/institution_evalution_add"},
			success:function(result){
			}
		});	
        $('#file-form').bootstrapValidator('validate');
        var validate =$('#file-form').data('bootstrapValidator').isValid();
        var teacherUserName = $("#institutionName").val();
        if(teacherUserName == ""){
        	warning("请选择学校");
        	return false;
        }
        if(validate){
            var params = new FormData($('#file-form')[0]);
            var baseInfo = $('#base-form').serializeObject();
            baseInfo.id = getValue($('#courseId'));
            baseInfo.title = getValue($('#title'));
            baseInfo.firstTag = getValue($('#firstTag'));
            baseInfo.secondTag = getValue($('#secondTag'));
            baseInfo.teacherId = getValue($('#teacherId'));
            baseInfo.summary = getValue($('#summary'));
            baseInfo.flagOrderStudy= getValue($('#flagOrderStudy'));
            baseInfo.courseStage= getValue($('#courseStage'));
            baseInfo.measureType = getValue($('#measureType'));
            baseInfo.crowdType = getValue($('#crowdType'));
            //baseInfo.price = getValue($('#price'));
            baseInfo.price = 0;
            baseInfo.target=getValue($('#target'));
            baseInfo.notice=getValue($('#notice'));
            //baseInfo.flagRequired=getValue($('#flagRequired'));
            baseInfo.flagRequired="1";
            baseInfo.flagSkipVideo=getValue($('#flagSkipVideo'));
            baseInfo.courseRource=getValue($('#courseRource'));
            baseInfo.supplier=getValue($('#supplier'));
            //baseInfo.numRecommend=getValue($('#numRecommend'));
            baseInfo.numRecommend="";
            var str= document.getElementsByName("activity");
            var objarray=str.length;
            var chestr="";
            for (i=0;i<objarray;i++){
                if(str[i].checked == true)
                {
                   chestr+=str[i].value+",";
                }
            }
            baseInfo.activitys=chestr;
            baseInfo.flagBoutique=getValue($('#flagBoutique'));
            baseInfo.flagHomeCarousel=getValue($('#flagHomeCarousel'));
            @if(CourseStateConstants.MEASUERMENT_TYPE_EXAM.equals(measureType)) {
                baseInfo.measureStartDate = getValue($('#measureStartDate'));
                baseInfo.measureEndDate = getValue($('#measureEndDate'));
                baseInfo.measureDuration = getValue($('#measureDuration'));
                //默认值
                baseInfo.startDate = baseInfo.measureStartDate ;
                baseInfo.endDate = baseInfo.measureEndDate;
                baseInfo.studyDuration= baseInfo.measureDuration + "分钟";
                baseInfo.courseStatus = '@CourseStateConstants.COURSE_STATUS_FINISH';
            } else {
                baseInfo.startDate = getValue($('#startDate'));
                baseInfo.endDate = getValue($('#endDate'));
                baseInfo.studyDuration = getValue($('#studyDuration'));
                baseInfo.courseStatus = getValue($('#courseStatus'));
            }
            params.append("courseJson", JSON.stringify(baseInfo));
            $.ajax({ 
                url: "@url("/pub/course/zancunEvalutionInfo.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.history.go(-1);
                    });
                }
            });
        }
    }
    function getSecondTag(value){ 
       if(value ==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/pub/course/searchInsitutionSecondTag2.action?id=")"+value;
            $("#secondTag").selectpicker('reload', url);
       }
       // parent.refreshTable();
    }
</script>

<script type="text/javascript">
var browserInfo = "";
var sysInfo = "";
var IpInfo = "";
(function($){
			 var BrowserMatch = {  
				  init: function() {  
					  this.browser = this.getBrowser().browser || "未知浏览器";  //获取浏览器名
					  this.version = this.getBrowser().version || "未知浏览器版本号";  //获取浏览器版本
					  this.OS = this.getOS()+" "+this.getDigits() || "未知操作系统"; //系统版本号 
				  },  
				  getOS: function() {  //判断所处操作系统
						 var sUserAgent = navigator.userAgent.toLowerCase();   
						
						var isWin = (navigator.platform == "Win32") || (navigator.platform == "Win64")|| (navigator.platform == "wow64");   
						
						var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");   
						if (isMac) return "Mac";   
						var isUnix = (navigator.platform == "X11") && !isWin && !isMac;   
						if (isUnix) return "Unix";   
						var isLinux = (String(navigator.platform).indexOf("Linux") > -1);   
						var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";  
						if (isLinux) {  
						if(bIsAndroid) return "Android";  
						else return "Linux";   
						}  
						if (isWin) {   
						
							var isWin2K = sUserAgent.indexOf("Windows nt 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;   
							if (isWin2K) return "Win2000";   
							var isWinXP = sUserAgent.indexOf("Windows nt 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1  
							sUserAgent.indexOf("Windows XP") > -1;   
							if (isWinXP) return "WinXP";   
							var isWin2003 = sUserAgent.indexOf("Windows nt 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;   
							if (isWin2003) return "Win2003";   
							var isWinVista= sUserAgent.indexOf("Windows nt 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;   
							if (isWinVista) return "WinVista";   
							var isWin7 = sUserAgent.indexOf("Windows nt 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;   
							if (isWin7) return "Win7";   
							var isWin8 = sUserAgent.indexOf("windows nt 6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;  
							if (isWin8) return "Win8"; 
							var isWin10 = sUserAgent.indexOf("windows nt 10.0")>-1||sUserAgent.indexOf("Windows 10")>-1;	
							if(isWin10)return "Win10";				
						}  
						return "其他";
				  },  
				  getDigits:function(){ //判断当前操作系统的版本号 
					var sUserAgent = navigator.userAgent.toLowerCase();   
					var is64 = sUserAgent.indexOf("win64") > -1||sUserAgent.indexOf("wow64") > -1;  
					if (is64) {  
						return "64位";  
					}else{  
					   return "32位";    
					}  
				},
				  getBrowser: function() {  // 获取浏览器名
					  var rMsie = /(msie\s|trident\/7)([\w\.]+)/;  
					  var rTrident = /(trident)\/([\w.]+)/;  
					  var rEdge = /(chrome)\/([\w.]+)/;//IE
					  
					  var rFirefox = /(firefox)\/([\w.]+)/;  //火狐
					  var rOpera = /(opera).+version\/([\w.]+)/;  //旧Opera
					  var rNewOpera = /(opr)\/(.+)/;  //新Opera 基于谷歌
					  var rChrome = /(chrome)\/([\w.]+)/; //谷歌 
					  var rUC = /(chrome)\/([\w.]+)/;//UC
					  var rMaxthon = /(chrome)\/([\w.]+)/;//遨游
					  var r2345 =  /(chrome)\/([\w.]+)/;//2345
					  var rQQ =  /(chrome)\/([\w.]+)/;//QQ
					  //var rMetasr =  /(metasr)\/([\w.]+)/;//搜狗
					  var rSafari = /version\/([\w.]+).*(safari)/;
					  
					  var ua = navigator.userAgent.toLowerCase();  
 
 
					  var matchBS, matchBS2;  
					  
					  //IE 低版
					  matchBS = rMsie.exec(ua);  
					  if (matchBS != null) {  
						  matchBS2 = rTrident.exec(ua);  
						  if (matchBS2 != null) {  
							  switch (matchBS2[2]) {  
							  case "4.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 8"  //内核版本号
								  };  
								  break;  
							  case "5.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 9"  
								  };  
								  break;  
							  case "6.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 10"  
								  };  
								  break;  
							  case "7.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 11"  
								  };  
								  break;  
							  default:  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "Undefined"  
								  };  
							  }  
						  } else {  
							  return {  
								  browser: "Microsoft IE",  
								  version: "IE:"+matchBS[2] || "0"  
							  };  
						  }  
					  }  
					  //IE最新版
					   matchBS = rEdge.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "Microsoft Edge",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
                                          //UC浏览器					  
					  matchBS = rUC.exec(ua);                         		   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "UC",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //火狐浏览器
					  matchBS = rFirefox.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "火狐",  
							  version: "Firefox/"+matchBS[2] || "0"  
						  };  
					  }  
                                         //Oper浏览器					 
					 matchBS = rOpera.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "Opera",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //遨游
					   matchBS = rMaxthon.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "遨游",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
                                          //2345浏览器					  
 					  matchBS = r2345.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "2345",  
							  version: "Chrome/ "+matchBS[2] || "0"  
						  };  
					  }  
                                          //QQ浏览器					  
					  matchBS = rQQ.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "QQ",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //Safari（苹果）浏览器
					  matchBS = rSafari.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent)) && (!(window.chrome)) && (!(window.opera))) {  
						  return {  
							  browser: "Safari",  
							  version: "Safari/"+matchBS[1] || "0"  
						  };  
					  }  
					  //谷歌浏览器
					   matchBS = rChrome.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  matchBS2 = rNewOpera.exec(ua);  
						  if (matchBS2 == null) {  
							  return {  
								  browser: "谷歌",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  } else {  
							  return {  
								  browser: "Opera",  
								  version: "opr/"+matchBS2[2] || "0"  
							  };  
						  }  
					  }  
				  }  
      };  
      BrowserMatch.init();  
      //alert("当前浏览器为：" + BrowserMatch.browser +"\n版本为："+ BrowserMatch.version + "\n所处操作系统为："+BrowserMatch.OS); 
      browserInfo = BrowserMatch.version;
	  sysInfo = BrowserMatch.OS;
	  IpInfo = returnCitySN["cip"];
		})(jQuery);
</script>


