@extends(main)
@args SearchPage searchPage

@import() {
     com.cloudsoaring.web.ddb.db.*
     com.cloudsoaring.web.ddb.db.entity.*
    com.cloudsoaring.web.ddb.constants.*
}

<style>
	.fixed-table-toolbar .columns{
		margin-bottom: 20px ;
		margin-top: 0px;
	}
	.bootstrap-table {
		padding-left: 0px;
		padding-right: 0px;
	}
</style>
@assign("con"){
	@condition(searchPage.searchFields)
}


@if(searchPage.searchFields != null){
	@form("search-form"){
		@for(SearchField searchField : searchPage.searchFields){
			@if(searchField_isFirst){
				@where_condition(searchField)
			}else{
		   		@fix_condition(searchField)
			}
		}
	}
	@btnbox(align:"right"){
		@button(label:"添加条件",iconcss:"fa fa-plus",onclick:"addFieldCondition")
		@button_search(label:"检索",iconcss:"dm-search",onclick:"doSearch",id:"btnSearch")
	}
}else{
	@btnbox(align:"right"){
		@button_search(label:"检索",iconcss:"dm-search",onclick:"doSearch",id:"btnSearch")
	}
}


@if(searchPage.tables != null){
	@div(style:"padding:0px 35px;overflow: visible;float: left;width: 100%;"){
		@for(Table stable:searchPage.tables){
			@{
				final Table table = stable;
			}
			@panel(table.getDescription()){
				@table(id:(table.tableId),showRefresh:true, method:"post",contentType:"application/json"
				,queryParamFunction:("function(params){return buildQueryParams(params, '"+table.tableId+"');}"))
				{
					@columns(){
						@for(Column column:table.resultColumns){
		            	   @if(!column_isFirst){
		            		   ,
		            	   }
		            	   {
			                   field: '@column.columnName',
			                   @if("DATE".equalsIgnoreCase(column.adaptType)){
			                	   formatter: dateTimeFormat,
			                   }
			                   title: '@column.columnName',
			                   sortable: true
			               }
			        	}
					}
				}
			}
			<script>
			$(function(){
				//样式调整
				$('.bootstrap-table').css('margin-top', '-46px');
				$('.fixed-table-toolbar .btn-default.dropdown-toggle').removeClass('btn-default').addClass('btn-primary');
				$('.fixed-table-toolbar .columns button').removeClass('btn-default btn-primary').addClass('btn-normal');
			});
			</script>
		}
  	}
}
<script>
	function doSearch(){
		clearBodyMessage();
		//判断是否有输入条件
		var valid = false;
		var inputs = $('input[type="text"]');
		if(inputs.length == 0){
			bodyError("未配置检索条件，请联系管理员");
			return;
		}
		for(var i = 0; i < inputs.length; i++){
			var v = $.trim($(inputs[i]).val());
			if(v != ''){
				valid = true;
				break;
			}
		}
		
		if(valid){
			@if(searchPage.tables != null){
				@for(Table table:searchPage.tables){
					$('#@table.tableId').bootstrapTable('refresh',  {url: '@url("/ddb/query/search.action")'});
				}
			}
		}else{
			bodyError("请至少输入一个非空的检索条件");
		}
		return false;
	}

	//Build Search Condition
	function buildQueryParams(params, tableId){
		var conditions = [];
		$('.query-condition').each(function(){
			var that = $(this);
			var con = {};
			var sfid = that.find('[name="searchFieldId"]');
			if(sfid.length > 0){
				con.searchFieldId = sfid.val();
			}
			var op = that.find('[name="operator"]');
			if(op.length > 0){
				con.operator = op.val();
			}
			var ju = that.find('[name="junction"]');
			if(ju.length > 0){
				con.junction = ju.val();
			}else{
				con.junction = 'And';
			}
			var fv = that.find('[name="fieldValue"]');
			if(fv.length > 0){
				con.value = $.trim(fv.val());
			}
			conditions.push(con);
		});
		var condition = {
			table:{tableId:tableId},
			searchPage:{searchPageId:'@searchPage.searchPageId', searchPageName:'@searchPage.searchPageName'},
			conditions:conditions,
			pageSize:params.pageSize,
			pageNumber:params.pageNumber,
			sortOrder:params.sortOrder,
			sortName:params.sortName
		};
		return JSON.stringify(condition);
	}
	
	function addFieldCondition(){
		$('@es(con).raw()'.replace(/%index%/g, Math.uuid())).appendTo($('#search-form'));
	}
	
</script>