.label.arrowed,.label.arrowed-right,.label.arrowed-in,.label.arrowed-in-right{
  display: inline-block;
}
.label {
  font-size: 12px;
  line-height: 1.15;
  height: 20px;
}
.label-lg {
  padding: .3em .6em .4em;
  font-size: 13px;
  line-height: 1.1;
  height: 24px;
}
.label-xlg {
  padding: .3em .7em .4em;
  font-size: 14px;
  line-height: 1.3;
  height: 28px;
}
.label-sm {
  padding: .2em .4em .3em;
  font-size: 11px;
  line-height: 1;
  height: 18px;
}
.label.arrowed-right, .label.arrowed-in-right,.label.arrowed, .label.arrowed-in {
  position: relative;
  border-radius: 0;
  z-index: 1;
}
.label.arrowed:before, .label.arrowed-in:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-right-color: #abbac3;
}
.label.arrowed-right:after, .label.arrowed-in-right:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-left-color: #abbac3;
}

.label.arrowed-in-right,.label.arrowed-right {
  margin-right: 5px;
}
.label.arrowed-in,.label.arrowed {
  margin-left: 5px;
}
.label.arrowed:before {
  left: -10px;
  border-width: 10px 5px;
}
.label.arrowed-in:before {
  left: -5px;
  border-width: 10px 5px;
}
.label.arrowed-right:after {
  right: -10px;
  border-width: 10px 5px;
}
.label.arrowed-in-right:after {
  right: -5px;
  border-width: 10px 5px;
}
.label-xlg.arrowed:before {
  left: -14px;
  border-width: 14px 7px;
}
.label-lg.arrowed:before {
  left: -12px;
  border-width: 12px 6px;
}
.label-sm.arrowed:before {
  left: -8px;
  border-width: 9px 4px;
}
.label-xlg.arrowed-in:before {
  left: -7px;
  border-width: 14px 7px;
}
.label-lg.arrowed-in:before {
  left: -6px;
  border-width: 12px 6px;
}
.label-sm.arrowed-in:before {
  left: -4px;
  border-width: 9px 4px;
}
.label-xlg.arrowed-right:after {
  right: -14px;
  border-width: 14px 7px;
}
.label-lg.arrowed-right:after {
  right: -12px;
  border-width: 12px 6px;
}
.label-sm.arrowed-right:after {
  right: -8px;
  border-width: 9px 4px;
}
.label-xlg.arrowed-in-right:after {
  right: -7px;
  border-width: 14px 7px;
}
.label-lg.arrowed-in-right:after {
  right: -6px;
  border-width: 12px 6px;
}
.label-sm.arrowed-in-right:after {
  right: -4px;
  border-width: 9x 4px;
}
.label-lg.arrowed-in-right,.label-lg.arrowed-right {
  margin-right: 6px;
}
.label-lg.arrowed-in,.label-lg.arrowed {
  margin-left: 6px;
}
.label-xlg.arrowed-in-right,.label-xlg.arrowed-right {
  margin-right: 7px;
}
.label-xlg.arrowed-in,.label-xlg.arrowed {
  margin-left: 7px;
}
.label-sm.arrowed-in-right,.label-sm.arrowed-right {
  margin-right: 4px;
}
.label-sm.arrowed-in,.label-sm.arrowed {
  margin-left: 4px;
}
.label-danger.arrowed:before{
  border-right-color: #da4453 !important;
}
.label-danger.arrowed-right:after {
  border-left-color: #da4453 !important;
}
.label-danger.arrowed-in:before,.label-danger.arrowed-in-right:after {
  border-color: #da4453;
}

.label-success.arrowed:before{
  border-right-color: #8cc152 !important;
}
.label-success.arrowed-right:after {
  border-left-color: #8cc152 !important;
}
.label-success.arrowed-in:before,.label-success.arrowed-in-right:after {
  border-color: #8cc152;
}

.label-info.arrowed:before{
  border-right-color: #37bc9b !important;
}
.label-info.arrowed-right:after {
  border-left-color: #37bc9b !important;
}
.label-info.arrowed-in:before,.label-info.arrowed-in-right:after {
  border-color: #37bc9b;
}

.label-primary.arrowed:before {
  border-right-color: #3bafda !important;
}
.label-primary.arrowed-right:after {
  border-left-color: #3bafda !important;
}
.label-primary.arrowed-in:before,.label-primary.arrowed-in-right:after {
  border-color: #3bafda;
}

.label-warning.arrowed:before{
  border-right-color: #f6bb42 !important;
}
.label-warning.arrowed-right:after {
  border-left-color: #f6bb42 !important;
}
.label-warning.arrowed-in:before,.label-warning.arrowed-in-right:after {
  border-color: #f6bb42;
}
.label.arrowed-in-right:after {
  border-right-color: transparent !important;
}
.label.arrowed-in:before {
  border-left-color: transparent!important;
}