@charset "utf-8";

.js-silder{
	position: relative;	
	min-width: 320px;
}
.silder-scroll{
	width: 100%;
	overflow: hidden;
}
.silder-main{
	position: relative;
	width: 100%;
}
.silder-main-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.silder-main-img img{
	width: 100%;
}
.js-silder-ctrl{
	width: 100%;
	text-align: center;
	margin-top: -30px;
	position: absolute;
}
.silder-ctrl-prev,
.silder-ctrl-next{
	position: absolute;
	top: 0;
	width: 8%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	font-family: "宋体";
	font-size: 52px;
	font-weight: 600;
	text-shadow: #666 2px 2px 5px;
}
.silder-ctrl-prev{
	left: 0;
	text-align: left;
}
.silder-ctrl-next{
	right: 0;
	text-align: right;
}
.silder-ctrl-prev>span,
.silder-ctrl-next>span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
}
.silder-ctrl-prev>span{
	left: 0;
}
.silder-ctrl-next>span{
	right: 0;
}
.silder-ctrl-con{
	display: inline-block;
	width: 4%;
	padding: 10px 0;
	margin: 0 10px;
	cursor: pointer;
}
.silder-ctrl-con>span{
	display: block;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 5px 0;
	cursor: pointer;
	background-color: #e4e4e4;
}
.silder-ctrl-con.active>span{
	background-color: #b60006;
}

@media (max-width: 768px){
	.silder-ctrl-prev,
	.silder-ctrl-next{
		width: 10%;
		font-size: 26px;
		margin-top: -25px;
	}
	.silder-ctrl-con{
		width: 14px;
		height: 14px;
		padding: 0;
		margin: 0 5px;
	}
	.silder-ctrl-con>span{
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		padding: 0;
	}
}
  .indexwrap5 {
    width: 100%;
    height: 802px;
    clear: both;
    background-color: #C5E5FF;
    text-align: center;
  }
  .indexwrap5 h2 {
  	font-family: 微软雅黑;
    font-size: 42px!important;
    color: #242629;
    padding-top: 99px;
    margin: 0px;
  }
  .indexwrap5 .box {
    width: 1290px;
    padding-top: 126px;
  }
  .indexwrap5 .box ul .box-li {
    width: 370px;
    height: 344px;
    display: inline-block;
    background: no-repeat center center;
    padding-top: 100px;
    position: relative;
    cursor: pointer;
  }
  .indexwrap5 .box ul .box-li .intro .line {
    width: 20px;
    height: 2px;
    background: #fff;
    margin-top: 28px;
    margin-bottom: 24px;
  }
  .indexwrap5 .box ul .box-li .text {
    font-size: 22px;
    color: #fff;
    padding-top: 50px;
  }
  .indexwrap5 .box ul .box-li .fixed-box {
    width: 100%;
    height: 100%;
    padding: 70px 46px 0;
    background: rgba(2, 160, 233, 0.7);
    position: absolute;
    display: none;
    top: 0;
    left: 0;
  }
  .indexwrap5 .box ul .box-li .fixed-box .text {
    padding-top: 38px;
    padding-bottom: 26px;
  }
  .indexwrap5 .box ul .box-li .fixed-box .detail {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    width: 266px;
  }
  .indexwrap5 .box ul .box-li:nth-child(1) {
    background-image: url("../images/homePage/top2_1.png");
  }
  .indexwrap5 .box ul .box-li:nth-child(2) {
    background-image: url("../images/homePage/top2_2.png");
  }
  .indexwrap5 .box ul .box-li:nth-child(3) {
    background-image: url("../images/homePage/top2_3.png");
  }
  .indexwrap5 .box ul .box-li:nth-child(2) {
    margin: 0 8px;
  }
  .indexwrap5 .box ul .box-li:hover .intro {
    display: none;
  }
  .indexwrap5 .box ul .box-li:hover .fixed-box {
    display: block;
  }
  @media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap5 .box {
    width: 953px;
  }
}
@media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap5 .box ul .box-li {
    width: 280px;
    height: 261px;
    padding-top: 53px;
  }
}
@media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap5 .box ul .box-li .fixed-box {
    width: 312px;
    height: 291px;
    padding: 35px 23px 0;
  }
  .indexwrap5 .box ul .box-li .fixed-box .text {
    padding-top: 20px;
    padding-bottom: 13px;
  }
}

  .indexwrap6 {
    width: 100%;
    height: 918px;
    overflow: hidden;
  	background-color: white;
    padding-top: 90px;
  }
  .indexwrap6 h2 {
    font-size: 42px!important;
    color: #242629;
    margin: 0;
  }
  .indexwrap6 .box {
    width: 1190px;
    margin-top: 86px;
  }
  .indexwrap7{
  width: 100%;
   height: 1098px; 
   background-color: #C5E5FF;
   text-align: center;
  }
  .indexwrap6 .box .img-box {
    position: relative;
  }
  .indexwrap6 .box .img-box .img {
    position: absolute;
    z-index: 4;
  }
  .indexwrap6 .box .img-box .img .text {
    color: #09b6e8;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 14px;
  }
  .indexwrap6 .box .img-box .img .detail {
    font-size: 14px;
    color: #3d3d3d;
    line-height: 24px;
  }
  .indexwrap6 .box .img-box .img1 {
    top: -451px;
    left: 401px;
  }
  .indexwrap6 .box .img-box .img2 {
    top: -32px;
    left: 763px;
    opacity: 0;
  }
  .indexwrap6 .box .img-box .img3 {
    width: 154px;
    top: 130px;
    left: -542px;
  }
  .indexwrap6 .box .img-box .img4 {
    width: 154px;
    top: 328px;
    left: -542px;
  }
  .indexwrap6 .box .img-box .img5 {
    width: 154px;
    top: 700px;
    left: 525px;
  }
  .indexwrap6 .box .img-box .img6 {
    width: 154px;
    top: 328px;
    left: 1600px;
  }
  .indexwrap6 .box .img-box .img7 {
    width: 154px;
    top: 130px;
    left: 1600px;
  }
  .indexwrap6 .box .img-box .img8 {
    top: 700px;
    left: 134px;
    z-index: 3;
  }
  
  @media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap6 .box {
    width: 953px;
  }
}
@media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap6 .box .img-box {
    width: 953px;
    left: -110px;
  }
}
@media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap6 .box .img-box .img3 {
    left: 123px;
    top: 145px;
  }
}
@media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap6 .box .img-box .img7 {
    left: 906px;
    top: 145px;
  }
}
@media screen and (min-width: 970px) and (max-width: 1199px) and (min-width: 970px) {
  .indexwrap6 .box .img-box .img8 {
    top: 97px;
  }
}
@media screen and (min-width: 970px) and (max-width: 1440px) and (min-width: 970px) {
  #logo{
  	width:1366px;
  }
  .js-silder{
  	width:1366px;
  }
  .indexwrap5{
  	width:1366px;
  }
  .indexwrap6{
  	width:1366px;
  }
  .indexwrap7{
  	width:1366px;
  }
}
