/*主题*/
.theme {
  margin: 5px 10px;
}
textarea{
  resize:none;
}
.theme-nomal{
	background-color:#ff681f !important;
}
.theme-nomal:hover,.theme-nomal:focus{
	background-color:rgb(243, 137, 0)!important;
}
.theme-primary{
	background-color:#3bafda!important;
}
.theme-primary:hover,.theme-primary:focus{
	background-color:#4fc1e9 !important;
}
.theme-success{
	background-color:#8cc152!important;
}
.theme-success:hover,.theme-success:focus{
	background-color:#a0d468 !important;
}
.theme-warning{
	background-color:#f6bb42!important;
}
.theme-warning:hover,.theme-warning:focus{
	background-color:#ffce54 !important;
}
.theme-info{
	background-color:#37bc9b!important;
}
.theme-info:hover,.theme-info:focus{
	background-color:#48cfad !important;
}
.theme-danger{
	background-color:#da4453!important;
}
.theme-danger:hover,.theme-danger:focus{
	background-color:#ed5565 !important;
}
.theme-tp {
    background-color: #E84D3B !important;
}
.theme-tp:hover,.theme-tp:focus{
	background-color:#E84D3B !important;
}
#header_container{
	z-index: 100000;
}
#body-content #bodyMsg{
	position: fixed;
	float: right;
	z-index: 99999;
	/*left: 275px;*/
	/*left: 257px;*/
	/* left: 15px; */
	/*right: 15px;*/
	/*left:15px;*/
	right:25px;
	bottom:0px;
	width:500px;
}


#bodyMsg .alert-success,.notice-success .gritter-item {
	background-color:rgba(140, 193, 82, 0.8);
	color: #fff;
}

.alert-success.alert-icon{
	background-color:rgba(140, 193, 82, 0.9) !important;
}
#bodyMsg .alert-success.alert-icon:before{
	content:"\f058";
}
#bodyMsg .alert-danger ,.notice-danger .gritter-item{
	background-color:rgba(218, 68, 83, 0.8);
	color: #fff;
}
.alert-danger.alert-icon{
	background-color:rgba(218, 68, 83, 0.9) !important;
}
#bodyMsg .alert-danger.alert-icon:before{
	content:"\f057";
}
#bodyMsg .alert-info ,.notice-info .gritter-item{
	background-color:rgba(59, 175, 218, 0.8);
	color: #fff;
}
.alert-info.alert-icon{
	background-color:rgba(59, 175, 218, 0.9) !important;
}
#bodyMsg .alert-info.alert-icon:before{
	content:"\f05a";
}
#bodyMsg .alert-warning ,.notice-warning .gritter-item{
	background-color:rgba(232, 76, 17, 0.8);
	color: #fff;
}
.alert-warning.alert-icon{
	background-color:rgba(232, 76, 17, 0.9) !important;
}
#bodyMsg .alert-warning.alert-icon:before{
	content:"\f071";
}
.alert-icon{
  display: table-cell;
  padding: 0px 8px !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 22px;
  vertical-align: middle;
  width: 36px;
}
.alert-content{
	margin-left:1px;
	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
  	border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
  	padding: 8px 22px 8px 12px;
  	width:464px;
  	word-wrap: break-word;
}
.alert-content span{
	font-size:14px;
	font-family:Arial,"Microsoft YaHei";
}
#bodyMsg .fade{
	text-align:left;
	opacity: 0;
	-webkit-transition: all .3s linear ; 
	-o-transition: all .3s linear;
	transition: all .3s linear; 
	font-family:FontAwesome;
	margin:0px 0px 7px 0px !important;
	
	 -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

#bodyMsg{
	transition:left 1s;
	-moz-transition:left 1s; /* Firefox 4 */
	-webkit-transition:left 1s; /* Safari and Chrome */
	-o-transition:left 1s;
}
#bodyMsg .close{
	font-size:16px;
	padding-top:6px;
	float:right;
	margin-right: -14px;
}
#bodyMsg .close:hover,#bodyMsg .close:focus{
	font-size:16px;
	padding-top:6px;
}
option:checked,option:selected{
  background-color: #ff681f !important; 
  color: #fff !important;
}
#mainContent,#left-side{
transition:margin-left .5s;
-moz-transition:margin-left .5s; /* Firefox 4 */
-webkit-transition:margin-left .5s; /* Safari and Chrome */
-o-transition:margin-left .5s;
}
.sys-title,dmh1,dmh2,loginUserDisplayName{
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-style: normal;
}
.loginUserDisplayName{
	font-size:16px;
}
.sys-title{
	font-weight: 400;
	font-size: 18px;
	white-space:nowrap;
	text-overflow : ellipsis;
}
dmh1{
	font-size: 14px;	
}
.loginUserDisplayName:before{
	content:"\f007    ";
}
dmh2{
font-weight: 400;
font-size: 16px;
}
body{
	/*background-color:#f5f5f5;	*/
	background-color:rgba(230, 230, 230, 1);
	color:#000000;
	zoom: 1;
	font-family: '微软雅黑 Regular', '微软雅黑' ! important;
	/*min-width:650px;*/
	margin-bottom:0px !important;
}
.navbar.navbar-fixed-bottom{
	/*height:170px;*/
	height:35px;
	min-height:30px !important;
}
.pace .pace-progress {
  bottom: 33px !important;
}
#pageContent{
	background-color:#FFFFFF;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
#pageBody{
	padding:10px 0px;
}
#pageTitle{
	border: 1px solid #eee;
	height:43px;
	border-left-width:4px;
	border-bottom: none;
	border-right:none;
	border-top:none;
	padding-top:12px;
}
#pageTitle h{
	font-family: '微软雅黑 Regular', '微软雅黑' ! important;
	font-size:18px;
	font-weight: 400;
	margin-left:23px;
}
.nav-button{
	cursor: pointer;
}

/*.fixed-table-toolbar{
	margin-top:5px;
}*/

@media (max-width: 767px){
	#left-side-toggle{
		display:none;
	}
}
.bootstrap-dialog-title{
	font-weight: bold;
}
.modal-header,.modal-footer{
	padding:10px;
}
.modal-open{
	overflow:auto;
}
.modal-footer{
	border-top: 1px solid #e5e5e5;
}
.dm-modal-sm .modal-dialog{
	width:300px;
}
.alert {
	padding: 0px;
	margin-bottom: 12px;
}
.dm-form-row .col-xs-1, .dm-form-row .col-sm-1, .dm-form-row .col-md-1, .dm-form-row .col-lg-1, .dm-form-row .col-xs-2, .dm-form-row .col-sm-2, .dm-form-row .col-md-2, .dm-form-row .col-lg-2, .dm-form-row .col-xs-3, .dm-form-row .col-sm-3, .dm-form-row .col-md-3, .dm-form-row .col-lg-3, .dm-form-row .col-xs-4, .dm-form-row .col-sm-4, .dm-form-row .col-md-4, .dm-form-row .col-lg-4, .dm-form-row .col-xs-5, .dm-form-row .col-sm-5, .dm-form-row .col-md-5, .dm-form-row .col-lg-5, .dm-form-row .col-xs-6, .dm-form-row .col-sm-6, .dm-form-row .col-md-6, .dm-form-row .col-lg-6, .dm-form-row .col-xs-7, .dm-form-row .col-sm-7, .dm-form-row .col-md-7, .dm-form-row .col-lg-7, .dm-form-row .col-xs-8, .dm-form-row .col-sm-8, .dm-form-row .col-md-8, .dm-form-row .col-lg-8, .dm-form-row .col-xs-9, .dm-form-row .col-sm-9, .dm-form-row .col-md-9, .dm-form-row .col-lg-9, .dm-form-row .col-xs-10, .dm-form-row .col-sm-10, .dm-form-row .col-md-10, .dm-form-row .col-lg-10, .dm-form-row .col-xs-11, .dm-form-row .col-sm-11, .dm-form-row .col-md-11, .dm-form-row .col-lg-11, .dm-form-row .col-xs-12, .dm-form-row .col-sm-12, .dm-form-row .col-md-12, .dm-form-row .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}
.dm-form-row{
	padding-top:2px;
	padding-bottom:5px;
}
.input-group-span-default{
	min-width:100px;
	font-weight:bold;
}
.query-condition{
	width:100%;
}
.query-condition .input-group-span-default{
	width: 90px;
	text-align:center !important;
	background-color: #fff !important;
	border-right: 1px #aab2bd solid !important;
	font-weight: normal;
}
.query-condition .btn-group{
	display: table-cell;
}
.query-condition .input-group-span-default{
	min-width:20px;
}
.dm-condition-where{
	border-left: 1px #aab2bd solid !important;
	border-top-left-radius:4px !important;
	border-bottom-left-radius:4px !important;
	min-width:70px !important;
}
.query-condition .btn{
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
.fixed-table-pagination .pagination, .fixed-table-pagination .pagination-detail {
margin-top: 10px;
margin-bottom: 0px;
}
/*以下三个样式给分页详细加边框*/
.fixed-table-pagination .pagination-detail .pagination-info{
border: 1px solid #ccd1d9;
border-right:none;
line-height: 32px;
margin-top: 0px;
padding-left:10px;
margin-right:0px !important;
padding-right:10px !important;
border-top-right-radius:0 !important;
border-bottom-right-radius:0 !important;
}
.pull-left.pagination-detail{
	margin-top:20px;
}
.fixed-table-pagination .pagination-detail .pagination-info.need-right-border{
	border-right:1px solid #ccd1d9;
	border-top-right-radius:4px !important;
	border-bottom-right-radius:4px !important;
}
.fixed-table-pagination .pagination-detail .page-list{
	border: 1px solid #ccd1d9;
	border-left:none;
	line-height: 32px;
	padding-right:10px;
	margin-left:0px !important;
	padding-left:10px !important;
	border-top-right-radius:4px !important;
	border-bottom-right-radius:4px !important;	
}
.fixed-table-pagination .pagination-detail .page-list button{
	border-radius:0;
	border-top:none;
	border-bottom:none;
	height: 31px;
	margin-top: -2px;
}
.query-condition [name="operator"] + .bootstrap-select .btn, .query-condition [name="searchFieldId"] + .bootstrap-select .btn{
	border-top-left-radius:0;
 	border-bottom-left-radius:0;
 	border-left:0;
}
.query-condition [name="operator"] + .bootstrap-select .btn{
 	border-right:0;
}
.query-condition .dm-condition-input, .dm-condition-delete{
	border-top-right-radius:4px !important;
 	border-bottom-right-radius:4px !important;
}
.dm-condition-delete{
	cursor:pointer;
}
form{
	/*padding-top: 10px;*/
}
/*
.fixed-table-toolbar .bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search{
	margin-top:-5px;
}*/
.dm-search,.dm-refresh,.dm-save,.dm-add,.dm-delete,.dm-back, .dm-check, .dm-connect, .dm-reject, .dm-apply,.dm-accept, .dm-download, .dm-clear{
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
}
.open>.combotree-rythm-drop {
display: block;
}
.combotree-rythm-drop {
background-color: #fff;
border: none;
overflow:auto;
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.bootstrap-dialog-footer-buttons .btn{
font-style: normal;
font-weight: bold;
}
.dm-search:before {
content: "\f002  " ;
}
.dm-reject:before{
content: "\f056  ";
}
.dm-accept:before{
content: "\f058  ";
}
.dm-clear:before{
content: "\f12d  ";	
}
.dm-refresh:before{
content: "\f021  ";	
}
.dm-apply:before{
content: "\f0a6  ";
}
.dm-check:before{
content: "\f00c  " ;	
}
.dm-add:before {
content: "\f067  " ;
}
.dm-delete:before {
content: "\f00d  " ;
}
.dm-save:before {
content: "\f0c7  " ;
}
.dm-back:before {
content: "\f112  ";
}
.dm-connect:before{
content: "\f0c1  ";
}
.dm-download:before{
content: "\f0ed  ";
}
em{
	color:red;
}
.dm-hspace{
	width:20px;
	display:table-cell;
}
.media-heading a{
	cursor: pointer;
}
.popover-content{
	padding: 6px 14px;
}
@media (min-width: 1200px) {
  .dm-hspace {
    width:20px;!important;
  }
}

@media (max-width: 1199px) {
  .dm-hspace {
    width:0px;!important;
  }
}

.modal-body {
	padding: 15px;
}
.change_pwd_dialog .modal-dialog{
	width:420px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}
.footer-copyright, .push {
    height: 35px; /* .push must be the same height as .footer */
}
.dm-fa, .dm-fa-lg, .dm-fa-md, .dm-fa-sm{
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	color:#777;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.menu-item-rythm{
	display: block;
	font-size:18px;
}
.dm-sm{
	font-size:16px;
}
.dm-fa-sm{
	font-family:FontAwesome,Arial,"Microsoft YaHei" ! important;	
	font-size:16px;
}
.dm-fa-lg{
	font-size:24px;
}
.dm-table-icon{
	padding:2px 2px;
}
.jstree-anchor{
	font-family:'微软雅黑 Regular', '微软雅黑'! important;
}
.jstree-proton .jstree-hovered {
  border-radius: 3px;
  box-shadow: inset 0 0 1px #e6e9ed;
}
.dm-fa-md{
	font-family: FontAwesome,Arial,"Microsoft YaHei" ! important;	
	font-size:18px;
}
.dm-footer{
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
.dm-box{
background-color:#3bafda;
border-color::#3bafda;
}
.dm-box, .dm-box>div>a.navbar-brand{
color:#fff;	
}
.navbar-inverse{
	height: 45px;
	min-height: 30px !important;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
#top-nav .navbar-brand {
	height: 45px;
}
.dropdown-menu .active a, .dropdown-menu .active a:focus, .dropdown-menu .active a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:hover{
	
	
}
@media (min-width: 768px){
.navbar-nav>li>a {
padding-bottom: 10px;
}
}

.navbar-inverse .btn-link, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-link,.navbar-inverse .navbar-nav>li>a, #top-nav .navbar-inverse .navbar-text {
	color: #FFFFFF !important;
}

.navbar-header a.active{
	color: #fff;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
}
#top-link-block{
	  transition: all .1s;
}
#top-link-block:hover {
  -moz-transform:scale(1.2);
  -o-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  -ms-transform:scale(1.2);
}
#top-link-block.affix {
    position: fixed;
    display: block; 
    z-index: 9; 
    bottom: 55px; 
    right: 2%;
}

#left-side .list-group .list-group .list-group-item{
	padding-left:30px;
} 
#left-side .list-group-item{
	cursor:pointer;
}
#left-side .list-group .list-group .list-group .list-group-item {
padding-left: 60px;
}

/*子菜单背景*/
#left-side .list-group .list-group .list-group-item{
	background-color:#ffffff;
}
/* 取消菜单固定*/
#left-side{
	float: left;
	position:absolute;
	margin-top:-20px;
}
#body-content{
	margin-top:65.05px;
}
.list-group .list-group .list-group-item:first-child {
border-top: 1px solid #ddd;
}
.form-group.input-group span.input-group-addon+select+.bootstrap-select .btn, .form-group.input-group span.input-group-addon+select+.form-control-feedback+.bootstrap-select .btn{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}
.has-feedback .selectpicker + .form-control-feedback {
    /* Adjust feedback icon position */
    right: 38px;
    z-index:101;
}
.has-feedback .form-control-feedback {
top: 0;
right: 0px;
}
.input-group .before-dm-hspace  + .form-control{
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
}
.input-group .before-dm-hspace  + .form_datetime .form-control, .input-group .before-dm-hspace + .file-input .input-group .form-control.file-caption.kv-fileinput-caption
{
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}
.file-caption .glyphicon.form-control-feedback {
float: right;
top: -2px;
right: -3px;
}
.input-group .before-dm-hspace + .file-input .input-group{
	width:100%;
}

.bootstrap-select .btn.selectpicker:hover,.bootstrap-select .btn.selectpicker:active, .bootstrap-select .btn.selectpicker:focus,.btn-group.open .btn-default.dropdown-toggle.selectpicker{
	background-color:#fff;
	color:#000;
}
.bootstrap-select .dropdown-menu li a {
color: #000;
}
.bootstrap-select .dropdown-menu .active a:hover, .bootstrap-select .dropdown-menu li a:hover {
color: #000;
background-color: #e5e5e5;
outline: 0;
}
.bootstrap-select .dropdown-menu .active a, .bootstrap-select .dropdown-menu .active a:focus, .bootstrap-select .dropdown-menu li a:focus {
color: #000;
background-color: #3bafda;
outline: 0;
}
.bootstrap-select .dropdown-menu{
	background-color: #fff;
}
.datetimepicker.dropdown-menu{
	background-color: #fff;
}
.before-dm-hspace + .form-control + .form-control-feedback{
	top: 0;
right: 26px;
}

.before-dm-hspace +.combotree-rythm-drop + [data-toggle="combotree"]  + input + .form-control-feedback{
top: 0;
right: 46px;
}

#left-side .list-group,#left-side .list-group-item{
	border-top-left-radius: 0px; 
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#left-side .list-group .list-group .list-group-item:hover{
	background-color:#e6e9ed;
}

#left-side .list-group .list-group{
	margin-bottom:0px;
}

.dm-box .navbar-brand {
padding: 6px 6px;
}

.bootstrap-duallistbox-container .btn-group{
	margin-left:0px;
}
.bootstrap-duallistbox-container .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
margin-left: 0px;
}
.dm-page-title{
	min-height:6px;
	height: 34px;
}
form .panel-footer{
	padding-left:26px;
}
select[multiple="multiple"] option{
	height:28px;
	padding:5px;
	font-family: Arial,"Microsoft YaHei" ! important;
}
/*一级菜单  展开*/
#left-side .list-group-item[data-toggle="collapse"] .fa.faicon:after {
   text-align:right;
   font-family:FontAwesome;
   width:100%;
   content: "\f0d8";    
}
/*一级菜单  收缩*/
#left-side .list-group-item{
	border-right:none ;
}
#left-side .list-group-item[data-toggle="collapse"].collapsed {
   color: #FFFFFF; 
}
#left-side .list-group-item[data-toggle="collapse"].collapsed .fa.faicon:after {
   font-family:FontAwesome;
   content: "\f0d7"; 
}
/*二级，三级菜单*/
#left-side .list-group .list-group .list-group-item
{
	background:-webkit-gradient(linear, 0% 0, 100% 0, from(white), to(#dedede));
	background: -ms-linear-gradient(left,white 0%,#dedede 100%); 
	background: -moz-linear-gradient(left, white, #dedede);
}
#left-side .list-group{
	box-shadow: none;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed):before{
	margin-left:-2px;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"] .fa.faicon:after {
   text-align:right;
   width:100%;
   content: "\f147";    
}
/*二级菜单 收缩*/
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"].collapsed .fa.faicon:after {
   content: "\f196"; 
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed){
	border-left-width:3px;
	background: none;
}
#left-side a.list-group-item.active:last-child{
	border-bottom:none;
}
.jstree-proton>.jstree-wholerow-ul .jstree-hovered, .jstree-proton>.jstree-wholerow-ul .jstree-clicked {
background: 0 0;
box-shadow: none;
border-radius: 0;
}
.jstree-leaf .jstree-clicked {
height: 26px;
}
.jstree-proton .jstree-anchor{
line-height: 24px;
margin:0px;
height: 24px;
}
.jstree-grid-cell .jstree-wholerow-ul{
	display: block; 
}
.jstree-clicked.jstree-anchor {
line-height: 26px;
margin: 1px 0 2px;
height: 26px;
}
.jstree-wholerow +.jstree-icon+.jstree-clicked.jstree-anchor {
margin: 0px;
}
.jstree-grid-cell .jstree-clicked.jstree-anchor{
margin: 0px;
}
.jstree-leaf {
 font-size: 14px;
 height: 26px;
}
.jstree-grid-table .jstree-leaf {
 font-size: 14px;
 height: 24px;
}
.jstree-proton .jstree-wholerow {
height: 24px;
}
.jstree-leaf .jstree-hovered {
 height: 24px;
}

.jstree-leaf .jstree-clicked {
 height: 24px;
}
.jstree-proton>.jstree-wholerow-ul .jstree-clicked, .jstree-grid-cell {
line-height: 24px;
height: 24px;
border-radius:0px;
padding-left:0px;
}
.dm-tree-cell{
	padding-left:5px;
	font-family: Arial,"Microsoft YaHei" ! important;
}
.dm-empty-bar{
	list-style:none;
	font-family: Arial,"Microsoft YaHei" ! important;
}
.dm-empty-bar:hover{
	cursor: pointer;
}
td.jstree-grid-cell{
	line-height: 24px;
	padding-left:0px;
	margin-top:1px;
	border-radius:0px;
}
.jstree-proton>.jstree-wholerow-ul .jstree-hovered{
	border-radius:0px;
}
#sidebarLeftToggle,#fullScreenToggle{
	line-height:18px;
}
.dropdown-toggle, .dropdown-toggle a, .dropdown-menu a{
	cursor: pointer;
}
.dropdown-shop a span.check-dropshop-mark {
position: absolute;
display: inline-block;
right: 15px;
margin-top: 7px;
}

.float-area {
  position: fixed;
  right: 0px;
  overflow: hidden;
}
.float-area-box {
  position: relative;
  z-index: 2000;
  transition-duration: 0.8s;
}
.spin-icon {
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0px 0px 20px;
  font-size: 16px;
  top: 0;
  left: 0px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  height:36px;
  margin-bottom: 20px;
}
.spin-icon i{
 	width: 14px;
	line-height: 16px !important;
	height: 16px;
}
.float-area-content {
  overflow: hidden;
  margin-left: 50px;
  background: #f3f3f4;
  box-shadow: 0 0 40px rgba(29, 25, 25, 0.65);
  margin-bottom:40px;
}
.float-area-content .title {
  background: rgba(211, 200, 189, 0.71);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  height: 36px;
}
.float-area-content .body {
	padding:20px 10px;
}
.has-feedback .form-control {
  padding-right: 24px;
}
.warning-rythm .bootstrap-dialog-body,.confirm-rythm .bootstrap-dialog-body,
.success-rythm .bootstrap-dialog-body,.info-rythm .bootstrap-dialog-body,
.danger-rythm .bootstrap-dialog-body{
  margin-left: 70px;
  min-height: 50px;
}
.warning-rythm .bootstrap-dialog-body:before,.confirm-rythm .bootstrap-dialog-body:before,
.success-rythm .bootstrap-dialog-body:before,.info-rythm .bootstrap-dialog-body:before,
.danger-rythm .bootstrap-dialog-body:before{
  font-family: FontAwesome;
  font-size: 56px;
  margin-left: -70px;
  position: absolute;
  margin-top: -15px;
}
.warning-rythm .bootstrap-dialog-body:before {
  content: "\f059";
  color: #f6bb42;
}
.confirm-rythm .bootstrap-dialog-body:before {
  content: "\f071";
  color: #e84c11;
}
.danger-rythm .bootstrap-dialog-body:before{
	content:"\f057";
	color: #da4453;
}
.success-rythm .bootstrap-dialog-body:before {
  content: "\f058";
  color: #8cc152;
}
.info-rythm .bootstrap-dialog-body:before {
  content: "\f05a";
  color: #3bafda;
}
.bootstrap-dialog.type-confirm .modal-header {
  background-color: #e84c11;
}
.btn-confirm,.btn.btn-confirm:focus {
	background-color:#e84c11 !important;
	border-color:#e84c11 !important;
}
.btn-confirm:hover{
	background-color:rgb(243, 137, 0) !important;
	border-color:rgb(243, 137, 0) !important;
}
@-webkit-keyframes rotation{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(359deg)}}
@-moz-keyframes rotation{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(359deg)}}
@-o-keyframes rotation{from{-o-transform:rotate(0deg)}to{-o-transform:rotate(359deg)}}
@-ms-keyframes rotation{from{-ms-transform:rotate(0deg)}to{-ms-transform:rotate(359deg)}}
@keyframes rotation{from{transform:rotate(0deg)}to{transform:rotate(359deg)}}
#page-loader.fade.in {
  display: block;
}
#page-loader.fade {
  display: none;
}
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(230, 230, 230, 1);
  z-index: 1020;
}
.fade.in .loading-circle, .fade.in .loading-circle-small {
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  -ms-animation: rotation .6s infinite linear;
  /* animation: rotation .6s infinite linear; */
}
.loading-circle, .loading-circle-small {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -20px 0 0;
  border: 2px solid #fff;
  border-radius: 100%;
}
.loading-circle-small{
  height: 25px !important;
  width: 25px !important;
}
.dialog-loading .loading-circle,.dialog-loading .loading-circle-small{
	border: 2px solid rgba(122, 122, 122, 0.1);
}
.ajax-waiting-dialog .loading-circle-small{
  top: 8px !important;
  left: 18px !important;
  margin: 0 !important;
}
.dialog-for-page .loading-circle-small {
  top: 8px !important;
  margin: 0px 0px 0px -70px;
  left: 50%;
}
.ellip-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.navbar-nav>li>a {
    line-height: 20px !important;
    height: 45px;
}
.page-content {
    background-color: rgb(255,255,255);
    margin-bottom: 15px;
    overflow: hidden;
}
.icon-popup.dropdown-menu{
	z-index:900000 !important;
}
a{
	cursor: pointer;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px #fff inset !important; 
}
.initial-show-always{
	display:block !important;
}
.jcrop-holder .preview-pane,.imgcrop-rythm{
  display: block;
  position: absolute;
  z-index: 10;
  padding: 6px;
  margin-top: -6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
.preview-pane .preview-container {
  overflow: hidden;
}
.jcrop-container {
	border: 1px rgba(0,0,0,.4) solid;
    border-radius: 6px;
}
.colorpicker.colorpicker-visible{
	z-index:999999 !important;	
}
#header_container>ul:not(.navbar-right)>li{
	width: 162px;
	height: 45px;
    text-align: center;
}
.navbar-nav{float:left;margin:0}
.navbar-nav>li{float:left}
.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}
.navbar-nav.navbar-right:last-child{margin-right:-15px}
.navbar-left{float:left!important}
.navbar-right{float:right!important}
.navbar-header{float:left}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  color: white;
  background-color: #656d78;
  outline: none;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
  background-color: #656d78;
  outline: none;
}
.float-area{
	top:50px;
}
.top-nav-item{
	height:45px;
}
.circl_word{
	display:block;
	width:20px;
	height: 20px;
	line-height:20px;
	text-align:center;
	-moz-border-radius: 20px;
	border:1px #999999 solid;
	color:#999999;
	border-radius:10px;
}
.circl_word_icon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-left: 2px!important;
    color: #fff;
    border: 1px solid;
    font-size: 16px;
}
a.iconlink-rythm{
   font-size:17px;
}
.notice-view-detail{
	color:#EF2525 !important;
}