.input-group-label{
	display:table-cell;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	min-width: 120px;
	text-align: right;
	padding-right: 8px;
	font-weight:400;
}
.input-group .input-rythm {
	border-radius: 4px !important;
}
.input-select-rythm .input-rythm,.input-withunit-rythm .input-rythm {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
/*Table*/
.table-rythm [type=checkbox]{
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.fixed-table-container{
	margin-top:-11px !important;
}
/*
.fixed-table-body{
	padding-left:1px;
	padding-right:12px;
}

.table-rythm tbody{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
*/
.table-rythm thead tr th{
	border-bottom:none;
	border-top:none;
	color:#fff;
}
.fixed-table-container thead th:last-child {
border-top-right-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
}
.fixed-table-container thead th:first-child {
border-top-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
}

.table-rythm thead, .table-rythm thead tr{
	border:none;
}
/*.bootstrap-table{
	overflow: hidden;
}*/
#pageContent{overflow:visible;}
.group-rythm .has-feedback .form-control-feedback {
top: 0;
right: 18px;
}
.input-select-rythm +.form-control-feedback {
right: 55px !important;
}
.input-widthunit-1 +.form-control-feedback {
right: 55px !important;
}
.input-widthunit-2 +.form-control-feedback {
right: 70px !important;
}
.input-widthunit-3 +.form-control-feedback {
right: 85px !important;
}
.input-widthunit-4 +.form-control-feedback {
right: 100px !important;
}
.input-widthunit-5 +.form-control-feedback {
right: 115px !important;
}
.input-widthunit-6 +.form-control-feedback {
right: 130px !important;
}
.combobox-rythm +.form-control-feedback {
top: 10;
right: 55px !important;
}
.input-group-required{
	display:table-cell;
	white-space: nowrap;
	vertical-align: middle;
	text-align: left;
	color:red;
	width:18px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 16px;
  	font-weight: bold;
}
.combotree-rythm-drop + [data-toggle="combotree"] + input + .form-control-feedback {
top: 0;
right: 55px;
}
.date-rythm + .form-control-feedback {
top: 0;
right: 55px !important;
}
.no-mp-group .date-rythm + .form-control-feedback {
top: 0;
right: 35px !important;	
}
.no-mp-group .input-rythm + .form-control-feedback {
top: 0;
right: 0px !important;	
}
.btnbox-rythm button:first-child, .toolbar-rythm button:first-child,.bootstrap-dialog-footer-buttons button:first-child{
	margin-left:0px;
}
.btnbox-rythm button:last-child, .toolbar-rythm button:last-child,.bootstrap-dialog-footer-buttons button:last-child{
	margin-right:0px;
}
.btnbox-rythm button, .toolbar-rythm button{
	margin:3px 8px;
}
.bootstrap-dialog-footer-buttons button{
	margin:0px 8px !important;
}
.bootstrap-dialog-footer-buttons button:first-child{
	margin-left:0px;
}
.date-rythm .input-group-addon, .input-select-rythm .input-group-addon {
color: #000 !important;
background-color: #FFFFFF;
width: 33px !important;
cursor: pointer;
}
.input-withunit-rythm .input-group-addon{
	color: #000 !important;
	background-color: #FFFFFF;
	width: 33px !important;
}
.date-rythm .input-group-addon:hover, .input-select-rythm .input-group-addon:hover {
background-color: rgb(204, 209, 217);
color:#ffffff;
border-color: rgb(170, 178, 189);
}
.date-rythm .input-group-addon:hover span{
color:#ffffff;
}
.has-error .combotree-rythm-down{
	border-color: #da4453 !important
}
.has-success .combotree-rythm-down{
	border-color:#8cc152 !important
}
.combotree-rythm-down[disabled],.combobox-rythm .btn.dropdown-toggle.selectpicker.disabled
,.combotree-rythm + .form-control[disabled],.file-rythm-browser[disabled],.file-rythm-reset[disabled],.file-rythm-remove[disabled],.file-rythm-download[disabled],.file-rythm-upload[disabled]
,.date-rythm .input-group-addon[disabled],.date-rythm .input-group-addon[disabled] span
,.input-select-rythm .input-group-addon[disabled],.input-select-rythm .input-group-addon[disabled] span
,.combobox-rythm .btn.dropdown-toggle.selectpicker.disabled .caret
,.input-group-btn-vertical > button.btn[disabled]{
	background-color: #eee !important;
	border-color: #91b1c3 !important;
	cursor: not-allowed !important;
	opacity: 1;
}
.combobox-rythm .btn.dropdown-toggle.selectpicker.disabled .caret{
	border-right-width:0px !important;
}
.date-rythm .input-group-addon[disabled],.date-rythm .input-group-addon[disabled] span{
	color:rgb(67, 74, 84)!important;
}
input.date-rythm.date-disabled,input.datetime-input-rythm.date-disabled{
	cursor: not-allowed !important;
	background-color: #e6e9ed !important;
}
div.combobox-rythm:has(> .combobox-rythm.selectpicker.disabled){
	cursor: not-allowed !important;
}
.label-rythm,.link-rythm{
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	vertical-align: middle;
}
.label-rythm{
	line-height: 34px;
	height:34px;
}
.combotree-rythm-drop .jstree-leaf, .combotree-rythm-drop .jstree-anchor,.combotree-rythm-drop .jstree-wholerow{
 height: 30px !important;
 line-height:30px !important;
}
.btnbox-rythm{
	padding-bottom:5px;
	overflow: hidde;
}
.btnbox-rythm,.bootstrap-table{
	padding-left:35px;
	padding-right:35px;
}
.combotree-rythm-drop .jstree-icon{
	margin-top:3px;	
}
.combotree-rythm + .form-control{
	background-color:#ffffff;
}
.combotree-rythm-drop + .combotree-rythm + .form-control{
	border-bottom-left-radius:4px !important;
	border-top-left-radius:4px !important;
}
.btn-none .btn-none, .btn:focus {
	background-color: #aab2bd;
	border-color: #aab2bd;
}
.btn-warning:focus {
  background-color: #ffce54;
  border-color: #ffce54;
}
.btn-danger:focus {
  background-color: #ed5565;
  border-color: #ed5565;
}
.btn-success:focus {
  background-color: #a0d468;
  border-color: #a0d468;
}
.btn-info:focus {
  background-color: #48cfad;
  border-color: #48cfad;
}
.btn-primary:focus {
  background-color: #4fc1e9;
  border-color: #4fc1e9;
}
a.iconlink-rythm,a.iconlink-rythm:focus{
	cursor: pointer;
}
a.link-rythm{
	cursor: pointer;
}
a.iconlink-rythm{
	padding:0 5px;
}
.combobox-rythm button.selectpicker .caret{
	font: normal normal normal 14px/1 FontAwesome;
	background-color: #FFFFFF;
	width: 39px;
	border-left-color: rgb(145, 177, 195);
	border-left-style: solid;
	border-left-width: 1px;
	height: 100%;
	padding-top: 9px;
	top: 0px !important;
	right: 0px !important;
	margin-top: 0px!important;
	padding-left: 3px;
	border-top:none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: -10px;
	border-bottom-width:0px;
}
.date-rythm[disabled],.datetime-input-rythm[disabled]{
	border-color: rgb(145, 177, 195);
}
.has-success .combobox-rythm button.selectpicker .caret
{
	border-color: #8cc152 !important;
	border-right-width: 0px;
}
.has-success .combobox-rythm button.selectpicker,.has-success .file-rythm-browser,.has-success .file-rythm-reset,.has-success .file-rythm-remove,.has-success .file-rythm-download,.has-success .file-rythm-upload{
	border-color: #8cc152 !important;
}
.has-error .combobox-rythm button.selectpicker .caret
{
	border-color: rgb(218, 68, 83) !important;
	border-right-width: 0px;
}
.bootstrap-dialog.type-warning .modal-header {
	background-color: #ffce54;
}
.bootstrap-dialog-close-button .close {
	 margin-top: -6px;
  	font-size: 30px;
}
.bootstrap-dialog-close-button{
	transition: all .3s;
}
.bootstrap-dialog-close-button:hover{
	-moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
.has-error .combobox-rythm button.selectpicker,.has-error .file-rythm-browser,.has-error .file-rythm-reset,.has-error .file-rythm-remove,.has-error .file-rythm-download,.has-error .file-rythm-upload{
	border-color: rgb(218, 68, 83) !important;
}
.combobox-rythm button.selectpicker .caret:before {
	content: "\f0d7";
}
.combobox-rythm button.selectpicker .caret:hover {
	background-color: rgb(204, 209, 217);
	color:#fff;
}
.bootstrap-dialog-footer-buttons{
	text-align:center;
}
.close{
	margin-top: -4px;
    font-size:24px;
	color:#fff;
	opacity: 1;
}
/**iCheck*/
label.icheck-label{
	margin-right: 10px;
	margin-bottom:0px;
	margin-top:5px;
	cursor: pointer;
	font-weight:400;
	min-height:24px;
	padding-left:0px;
}
.icheck-item{
	margin-right:6px;
	min-height:24px;
}
.check-body{
	padding-top:0px;
}
.has-success .icheck-label{
	color:#000;
}
td.editable-column-rythm {
	padding: 3px 0px 3px 20px !important;
}
td.editable-column-rythm .group-rythm{
	padding: 0px;
	margin: 0px;
	height: 33px;
}
td.editable-column-rythm .group-rythm .form-group{
	margin-bottom:0px;
}
.popover{
	z-index: 1100;
}
.fixed-table-toolbar .columns label{
	color:#fff;
}
.btnbox-rythm-border{
	border-top:1px solid #e5e5e5;
	padding-top:10px;
}

.dialog-for-page .modal-body{
	padding:0px;
}
.jstree{
	border:1px solid #e5e5e5;
	border-radius:4px;
}
.jstree-grid-wrapper .jstree{
	border:none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color: #fff;
}
.ajax-waiting-dialog .modal-header,.no-title-dialog .modal-header{
	display:none;
}
.ajax-waiting-dialog  .bootstrap-dialog-message{
	text-align:center;
}
.no-footline-dialog .modal-footer{
	border-top:none !important;
}
.bootstrap-dialog-message{
	word-break:break-all;
}
.tabs-container-rythm{
	padding:0px 35px;
	margin-bottom: 15px;
}
.tabs-rythm {
	background-color: #fff;
}
.tabs-rythm>li.active>a, .tabs-rythm>li.active>a:focus, .tabs-rythm>li.active>a:hover {
	border:none !important;
	color:#fff;
}
.tabs-rythm>li>a {
	background-color: #aab2bd;
	border-top-left-radius:4px !important;
	border-top-right-radius:4px !important;
	color:#fff;
	margin-right:1px;
}
.tab-content {
	width:100%;
	padding: 10px 0;
	border:3px solid;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.tabs-rythm > li > a {
padding: 6px 15px !important;
}
.tabs-rythm>li {
border-left: none !important;
}
.iconlink-hidden-rythm,.iconlink-hidden-rythm:hover,.iconlink-hidden-rythm:focus{
	color:#fff;
	cursor:auto;
	filter:alpha(opacity=0); /*IE滤镜，透明度0%*/
	-moz-opacity:0; /*Firefox私有，透明度0%*/
	opacity:0;
}
.tabs-content-rythm{
	padding:15px 0px;
}
.tabs-rythm li.bv-tab-error>a {
/*color: #a94442;*/
color: #fff;
background: #da4453;
}
.tabs-rythm li.bv-tab-success>a {
/*color: #a94442;*/
color: #fff;
}
.page-dialog-rythm .content-rythm{
	overflow:auto;
}
.page-dialog-rythm{
	overflow:hidden;
}
@media (min-width: 992px){
	.modal-lg {
	width: 993px;
	}
}
textarea{padding-right: 30px !important;}
.group-rythm .has-feedback .textarea-rythm + .form-control-feedback {
right: 28px;
}
.box-rythm{
	border-radius: 4px !important;
	margin:0px 0px 15px 0px;
	padding:15px 10px 0px 10px !important;
	background-color: #F2F1EF;
}
.box-rythm-border{
	border:solid 1px #aab2bd;
}
.box-rythm .btn{
	margin-top:0px !important;
	margin-bottom:15px !important;
}

.label-large{
	font-weight: bold;
	font-size: 15px;
}
.fixed-table-toolbar .bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search{
	margin-bottom:2px;
	margin-top:0px;
	width:100%; /*Firefox下table Toolbar宽度修正*/
}
.fixed-table-container{
	border-top: 36px solid #808E99;
	margin-bottom:15px;
}
.fixed-table-header {
	margin-top: -36px;
}
.fixed-table-body {
border-bottom: 1px solid #ddd;
}
.fixed-table-container thead th .th-inner{
	padding:0px 8px;
}

.fixed-table-container thead th{
	height:36px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 6px 8px;
line-height:22px;
}
.fixed-table-container .bs-checkbox .th-inner {
padding: 6px 0;
}
.auto-label{
	min-width:1px;
}
.label-width100{
	min-width:100px;
}
.label-width50{
	min-width:50px;
}
.label-width150{
	min-width:150px;
}
.label-width200{
	min-width:200px;
}
.label-width250{
	min-width:250px;
}
.label-width300{
	min-width:300px;
}
.label-width350{
	min-width:350px;
}
.label-width400{
	min-width:400px;
}
.label-width450{
	min-width:450px;
}
.label-width500{
	min-width:500px;
}
.dialog-width200 .modal-dialog{
	width:200px;
}
.dialog-width250 .modal-dialog{
	width:250px;
}
.dialog-width300 .modal-dialog{
	width:300px;
}
.dialog-width350 .modal-dialog{
	width:350px;
}
.dialog-width400 .modal-dialog{
	width:400px;
}
.dialog-width450 .modal-dialog{
	width:450px;
}
.dialog-width500 .modal-dialog{
	width:500px;
}
.dialog-width550 .modal-dialog{
	width:550px;
}
.dialog-width600 .modal-dialog{
	width:600px;
}
.dialog-width650 .modal-dialog{
	width:650px;
}
.dialog-width700 .modal-dialog{
	width:700px;
}
.dialog-width750 .modal-dialog{
	width:750px;
}
.dialog-width800 .modal-dialog{
	width:800px;
}
.dialog-width850 .modal-dialog{
	width:850px;
}
.dialog-width900 .modal-dialog{
	width:900px;
}
.dialog-width950 .modal-dialog{
	width:950px;
}
.dialog-width1000 .modal-dialog{
	width:1000px;
}
.datetime-input-rythm{
	border-radius:4px !important;
}
.no-mp-group,.no-mp-group .form-group{
	margin:0px;
	padding:0px;
}
.form-group .no-mp-group .form-group .datetime-input-rythm+.form-control-feedback{
	right: 0px !important;
}
.top-border-row{
	border-top: 1px solid #e5e5e5;
}
.bottom-border-row{
	border-bottom: 1px solid #808E99;
}
tr.no-records-found td{
	text-align:left;
}
.break-words{
    overflow:hidden;  
    white-space:nowrap;  
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;  
    -icab-text-overflow: ellipsis;  
    -khtml-text-overflow: ellipsis;  
    -moz-text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;  
}
.pagination-info{
	margin-bottom: 10px !important;
}
input.datetime-input-rythm[readonly], input.date-rythm[readonly]{
	cursor: pointer;
 	background-color: #fff;
}
.file-preview-frame,.file-preview-image{
	width:100%;
	height:auto;
}
.file-preview-frame{
	/*margin:8px 0px 8px 3px !important;*/
	
    margin: 0px 0px 2px 0px !important;
}
.file-preview-frame,span.file-preview-init{
	cursor: pointer;
}
.file-preview-thumbnails{
margin-right:8px;	
}
.picture-rythm{
	margin-right: -30px;
}
.flexslider ul.slides li .slide_content_top{
	padding: 10px 20px;
	background: #000000;
	color: #ffffff;
	opacity:0.6;
	top:0;
	left:0;
	width:100%;
	margin-top: -40px;
	filter:alpha(opacity=60);
}

.slider-rythm{
	padding:0 35px;
}
.flex-control-paging {
position: relative;
bottom: 0px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 0.7;
	left: 45px;
}
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: 45px;
}
.align-left{
	text-align: left;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.flexslider {
	margin: 0px;
}
@media screen and (max-width: 860px)
{
	.flex-direction-nav .flex-next {
		right: 0px;
		opacity: 0;
	}
	.flex-direction-nav .flex-prev {
		left: 0px;
		opacity: 0;
	}
}
.check-rythm{
margin-bottom:5px;	
}
.p-left-10{
	padding-left:10px !important;
}
.p-right-10{
	padding-right:10px !important;
}
.area-rythm{
	border-bottom: solid 1px #e5e5e5;
	margin-bottom:15px;
}
.area-rythm h{
	font-size:16px;
}
.col-rythm{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
}
.areahead{
	padding-right: 10px;
	font-size: 20px;
}
.label-width-auto{
	min-width:0px !important;
}
.no-padding{
	padding:0px !important;	
}
.tinfo-title{
	padding:0 0px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	vertical-align: middle;
	line-height: 25px;
}
.tinfo-date{
	width:100px;
	float:right;
	text-align: right;
	padding-top: 5px;
}
.fixed-table-noheader{
	border:none !important;
}
.panel-body {
	padding: 10px 15px;
}
.panel-normal>.panel-heading,.badge-normal, .label-normal {
	color: #fff;
}
.panel-normal>.panel-heading>.panel-title {
	color: #fff;
}
.jstree-grid-wrapper{
	margin-bottom:15px;
}
.content-rythm{
	padding-top:20px;
}
.bootstrap-dialog-message .form-rythm{
	display:table;
}
.dialog-loading{
	width:100%;
	padding:10px;
}
.ajax-waiting-dialog .modal-dialog{
	width:300px;
}
.ajax-waiting-dialog .modal-dialog .modal-body{ 
	padding:0px;
}
.jstree{
	margin-bottom:15px;
}
.modal-body {
	padding: 20px 20px 5px 20px;
}
.spinner {
 /* width: 100px;*/
}
.spinner input {
  text-align: right;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > button.btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px !important;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.spinner2 .input-group-btn-vertical > button.btn {
  padding: 6px 9px 6px 12px !important;
  margin-top: 0px !important;
  margin-left: 0px;
}
.input-group-btn-vertical > button.btn:first-child {
  border-top-right-radius: 4px;
}
.spinner2 .form-control-feedback,.spinner2+.form-control-feedback{
	right: 53px !important;
}
.spinner2 .spinner-minus{
	border-bottom-right-radius: 0px !important;
  	border-top-right-radius: 0px !important;
  	border-bottom-left-radius: 4px !important;
  	border-top-left-radius: 4px !important;	
  	border-right:0px;
}
.spinner2 .spinner-plus{
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-left:0px;
}
.spinner2 .input-group-btn-vertical button{
	width: 36px;;
}
.input-group-btn-vertical > button.btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: -2px;
  left: 4px;
}
.no-mp-group.group-rythm .has-feedback .spinner + .form-control-feedback {
  right: 13px;
}
.group-rythm .has-feedback .spinner + .form-control-feedback {
  right: 33px;
}
.has-success .input-group-btn-vertical .btn {
  border-color: #8cc152 !important;
}
.has-error .input-group-btn-vertical .btn {
  border-color: #da4453 !important;
}
.popover-rythm{
	cursor: pointer;
}
.group-rythm .has-feedback .colorpicker-element +.form-control-feedback{
	right:54px;
}
.group-rythm .has-feedback .iconselect-rythm +.form-control-feedback{
	right:92px;
}
 
.ft-splitor{
  float: right;
  text-align: center;
  position: absolute;
  border-top: solid 1px rgb(170, 178, 189);
  width: 21px;
  height: 100%;
  vertical-align: middle;
  padding-top: 7px;
  background-color: rgb(238, 238, 238);
  border-bottom: solid 1px rgb(170, 178, 189);
}
.f-obin .input-group input.input-rythm,.f-obin input {
	border-top-right-radius: 0px !important;
  	border-bottom-right-radius: 0px !important;
}
.t-obin .input-group input.input-rythm,.t-obin input{
	border-top-left-radius: 0px !important;
  	border-bottom-left-radius: 0px !important;
}
.time-splitor{
	float: right;
	  right: -21px;
	  top: 0px;
	  position: absolute;
	  width: 21px;
	  padding-top: 7px;
	  height: 100%;
	  text-align: center;
	  vertical-align: middle;
	  background-color: rgb(238, 238, 238);
	  border-top: solid 1px rgb(170, 178, 189);
	  border-bottom: solid 1px rgb(170, 178, 189);
}
.hour-rythm+.input-group-btn-vertical button{
	border-radius:0px !important;
}
.minute-rythm{
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
}
.dialog-for-page{
	overflow:hidden !important;
}
.check-rythm label div {
  margin-right: 5px;
}
.tagsinput {
    background: white;
    border: 1px solid #AAB2BD;
    border-radius: 6px;
    padding: 6px 1px 1px 6px;
    overflow-y: auto;
    text-align: left; 
}
.tagsinput .tag,.tagsinput .rtag{
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 6px 13px 6px 19px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    -webkit-transition: 0.14s linear;
    -moz-transition: 0.14s linear;
    -o-transition: 0.14s linear;
    transition: 0.14s linear;
    -webkit-backface-visibility: hidden; 
}
.tagsinput .tag:hover {
    padding-left: 12px;
    padding-right: 20px; 
}
.tagsinput .tag:hover .tagsinput-remove-link {
    color: white;
    opacity: 1;
    display: block; 
}
 .tagsinput input {
    background: transparent;
    border: none;
    color: #34495e;
    font-size: 14px;
    margin: 0px;
    padding: 0 0 0 5px;
    outline: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 12px; 
}
.tagsinput-remove-link {
   bottom: 0;
   color: white;
   cursor: pointer;
   font-size: 12px;
   opacity: 0;
   padding: 9px 7px 3px 0;
   position: absolute;
   right: 0;
   text-align: right;
   text-decoration: none;
   top: 0;
   width: 100%;
   z-index: 2;
   display: none\9; }
.tagsinput-remove-link:before {
   color: white;
}
.tagsinput-add-container {
   vertical-align: middle;
   display: inline-block;
   zoom: 1;
   *display: inline;
}
.tagsinput-add {
   background-color: #bbc3cb;
   border-radius: 3px;
   color: white;
   cursor: pointer;
   margin-bottom: 5px;
   width: 31px;
   padding: 6px 9px;
   display: inline-block;
   zoom: 1;
   -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
   -o-transition: 0.25s;
   transition: 0.25s;
   -webkit-backface-visibility: hidden; 
}
.tags_clear {
   clear: both;
   width: 100%;
   height: 0px;
}
.not_valid {
   background: #fbd8db !important;
   color: #90111a !important; 
}
.fui-cross-16:before {
    content: "\e014";
    font-family:'Glyphicons Halflings';
}
.image-captcha-group .form-control-feedback{
	    right: 115px !important;
}
.player-dialog .flexslider{
	padding:0px !important;
}
.flex-control-nav.flex-control-paging {
     margin-top: -21px; 
}
.player-dialog .flexslider{
	border:none;
}
.player-dialog .flexslider{
	border:none;
}
.player-dialog .modal-body {
    padding: 0px;
}
.player-dialog .modal-header {
    background-color: #37bc9b;
    position: fixed;
    z-index: 9999;
    right: 5px;
    top: 5px;
    border-radius: 50px;
}
.player-dialog .slides li{
	text-align:center;
	background:rgba(10, 10, 10, 0.92)
}
.player-dialog .slides li img{
	display:initial !important;
	width:auto !important;
}