.icon-down:before {
    content: "\e60c";
}
*, :after, :before {
    box-sizing: border-box;
}
.course-top{
	clear: both;
   border-bottom: 1px solid rgba(28,31,33,.2);
}
.course-top .top-header{
margin-top: 15px;
   display: inline-block;
}
.course-top .course-top-search{
	position: relative;
   float: right;
   width: 520px;
   margin: 8px 0;	
}
.course-top .course-top-search .search-area{
	float: right;
   padding-right: 40px;
   width: 466px;
   height: 36px;
   line-height: 36px;
   background: #f3f5f6;
   border-radius: 8px;
   border: 0;
   position: relative;
   transition: width .3s;
}
.course-top .course-top-search .search-area .search-input{
	padding: 0 16px;
   color: #1c1f21;
   height: 36px;
   line-height: 36px;
   font-size: 14px;
}
.search-area .search-input {
   padding: 12px 0;
   outline: medium;
   width: 100%;
   height: 46px;
   line-height: 22px;
   font-size: 12px;
   float: left;
   border: 0;
   color: #fff;
   -webkit-transition: background-color .3s;
   -moz-transition: background-color .3s;
   transition: background-color .3s;
   background-color: transparent;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}
.search-area .btn_search{
	float: left;
   cursor: pointer;
   width: 30px;
   height: 38px;
   text-align: center;
   -webkit-transition: background-color .3s;
   -moz-transition: background-color .3s;
   transition: background-color .3s;
}
.course-top .course-top-search .search-area .search-area-result{
	top: 40px;
   width: 100%;
}
.search-area .search-area-result {
   position: absolute;
   left: 0;
   top: 60px;
   width: 300px;
   margin-bottom: 20px;
   border-top: none;
   background-color: #fff;
   box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
   font-size: 12px;
   overflow: hidden;
   display: none;
   z-index: 800;
   border-bottom-right-radius: 8px;
   border-bottom-left-radius: 8px;
}
.s-search-wrap{
	
}
.course-top .course-top-search .showhide-search{
	width: 24px;
   height: 24px;
   color: #9199a1;
   text-align: right;
   position: absolute;
   display: inline-block;
   right: 5px;
   cursor: pointer;
}
.course-top .course-top-search .showhide-search .icon-search {
   float: left;
}
[class*=" icon-"], [class^=icon-] {
   font-family: icomoon;
   speak: none;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
   content: "\e610";
}
.courseList{
    width: 1386px;
    margin: auto;
}
.course-list {
    padding: 10px 0 20px;
}
.moco-course-list {
    margin: 0 0 0 -18px;
}
.moco-course-list {
    font-family: "PingFang SC",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
    margin: -10px;
}
.course-card-container {
    float: left;
    /* margin: 0 0 18px 18px; */
    height: 236px;
    z-index: 0;
    font-size: 0;
    float: left;
    z-index: 0;
    font-size: 0;
    width: 216px;
    position: relative;
    transition: .3s all linear;
}
    .course-card-container .course-card-content .course-card-name {
    font-size: 14px;
    color: #07111b;
    line-height: 21px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all .3s;
    font-weight: 700;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 微软雅黑;
}
.course-card-container:hover .course-card-name {
    color: #b50005!important;
}
a:link, a:visited {
    /* color: #1c1f21; */
}
.course-card-container .course-card-top {
    width: 216px;
    height: 120px;
    position: relative;
    border-radius: 8px;
    transition: all .3s;
    overflow: hidden;
}
.course-card-container .course-card-top .course-banner {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    transition: all 1s;
}
.course-card-container .course-card-top .course-label {
    position: absolute;
    bottom: 6px;
    left: 8px;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
}
.course-card-container .course-card-top .course-label label {
    display: inline-block;
    background: rgba(28,31,33,.6);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-right: 0;
    font-weight: 200;
}
.course-card-top img:hover{
	transition: all 1s;
    transform: scale(1.1);
} 
.course-card-bottom .course-card-desc{
	font-size: 12px;
    font-weight: 300;
    color: #9199a1;
    line-height: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 20px;
    font-family: 微软雅黑;
}
.course-card-bottom .course-card-price{
	font-size: 12px;
    color: #4d555d;
    /* font-weight: 700; */
    font-family: 微软雅黑;
}
.course-card-bottom .course-card-price .price-box{
	line-height: 24px;
}
.course-card-bottom .course-card-price .price-box .price{
	color: #4d555d;
    margin-right: 8px;
    font-size: 12px;
    line-height: 24px;
}
.gh .gh-search{
	font-family: Arial,"Microsoft YaHei";
    line-height: inherit!important;
}
.gh-search:before {
    content: "\e003";
}
.gh:before {
    position: relative;
    top: 10px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right: 3px;
}
.top{
    max-width: 1386px;
    margin: auto;
    padding-bottom: 10px;
}
.course-nav-row{
	position: relative;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid #edf1f2;
}
.course-nav-skills {
    max-height: 132px;
}
.hd{
	width: 50px;
    font-weight: 700;
    font-size: 14px;
    color: #07111b;
    text-align: left;
    position: absolute;
    padding-top: 7px;
}
.course_logo{
	max-width: 1386px;
	margin: auto;
}
.resource_logo{
	max-width: 1386px;
	margin: auto;
}
@media screen and (max-width: 1440px){
	.top {
    	width: 1152px;
    	margin: auto;
	}
	.courseList{
		width: 1152px;
		margin: auto;
	}
	.course_logo{
		max-width: 1152px;
		margin: auto;
	}
	.resource_logo{
		max-width: 1152px;
		margin: auto;
	}
}
