.my-nav {
	background-color: #000000;
	border-color: #000000;
	height: 45px;
	min-height: 30px !important;
	box-shadow: 0 0 40px rgba(0, 0, 0, .2);
	
}
.my-nav-title{
	font-size:20px;
	color:#ffffff;
	margin-left:20px;
	margin-top:7px;
}
.my-nav-sub-title{
	font-size:14px;
	color:#999999;
	margin-left:20px;
	margin-top:13px;
}
.my-nav-attention{
	font-size:16px;
	color:#ffffff;
	margin-left:20px;
	margin-top:11px;
}
.my-nav-attention_active{
	font-size:16px;
	color:#ffffff;
	margin-left:20px;
	margin-top:11px;
	cursor:pointer;
}
.my-nav-attention_active:hover{
	color:#F00000;
}
.my-nav-split{
	font-size:16px;
	color:#999999;
	margin-top:11px;
	margin-left:24px;
}
.my-nav-share{
	font-size:16px;
	color:#ffffff;
	margin-top:11px;
	margin-left:24px;
}
.my-nav-tips{
	font-size:16px;
	color:#ffffff;
	margin-top:11px;
	margin-right:24px;
	float:right;
}
.my-nav-user{
	font-size:16px;
	color:#787d82;
	margin-right:60px;
	margin-top:10px;
	float:right;
}
.my-nav-user a{
	
	color:#ffffff;
}
.my-nav-user a:active{
	color:#ffffff;
}
.img-circle{border-radius:50%}
.chapter_detail_list_course_title{
	font-size: 16px;
	color:#b5b9bc;
	padding:10px;
}
.chapter_detail_list_chapter_title{
	font-size: 14px;
    color: #787d82;
	padding:10px;
}
.chapter_detail_list_chapter_sub_title{
	font-size: 12px;
    color: #787d82;
	padding:5px 10px 5px 20px;
	line-height:20px;
}
.chapter_detail_list_chapter_sub_title_active{
	font-size: 12px;
    color: #787d82;
	padding:5px 10px 5px 20px;
	line-height:20px;
	cursor:pointer;
}
.chapter_detail_list_chapter_sub_title_active:hover{
    color: #00b33b;
}
.chapter_detail_list_chapter_sub_title_span{
	margin-left:10px;
}
.chapter_detail_list_chapter_sub_title_right_text{
	float: right;
    font-size: 12px;
    text-align: right;
    color: #00b33b;
    line-height:20px;
}
.chapter_detail_list_chapter_sub_title_right_normal{
	float: right;
    font-size: 12px;
    text-align: right;
    color: #787d82;
    line-height:20px;
}
.chpater_detail_title_chapter_active{
	cursor:pointer;
}
.chpater_detail_title_chapter_active:hover{
	color: #00b33b;
}
.chapter_detail_list_chapter_three_title{
	font-size: 12px;
    color: #787d82;
	padding:5px 10px 5px 30px;
	line-height:20px;
}
.chapter_detail_list_chapter_three_title_active{
	font-size: 12px;
    color: #00b33b;
	padding:5px 10px 5px 30px;
	line-height:20px;
	cursor:pointer;
}
.chapter_detail_list_chapter_three_title_active:hover{
    color: #00b33b;
}

.chapter_list_div{
	
}
.chapter_list_big{
	font-size:16px;
	color:#000000;
	line-height:40px;
	height:40px;
	position:relative;

}
.chapter_list_icon{
	color:#666666;
	float: left;
}
.chapter_list_sub_div{
	/* padding-left:15px; */
}
.chapter_list_sub{
	font-size:14px;
	color:#666666;
	line-height:40px;
	height:40px;
	margin-top:4px;
	padding-left: 15px;
}
.chapter_list_active{
	cursor:pointer;
}
.chapter_list_active:hover{
	color:#3AC5EF;
}
.chapter_list_three_div{
	padding-left:30px;
}
.chapter_list_three{
	font-size:14px;
	color:#666666;
	line-height:40px;
	height:40px;
	margin-top:4px;
}

.video_refresh{
	font-size:12px;
	color:#999999;	
	margin-top:30px;
	display:block;
	cursor:pointer;
}
.video_refresh:hover{
	color:#3AC5EF ;
}

.div_title{
	font-size:18px;
	color:#FF3530;
	font-weight:bold;
}
.div_remark{
	font-size:14px;
	color:#000000;
	margin-top:30px;
}
.div_tabs{
	height:70px;
	background-color:#ffffff;
	padding:30px 30px 0px 30px;
}
.course-info-menu .course-menu li{
	float: left;
	/* text-align:center;
	font-size:18px;
	color:#666666;
	padding:0px 20px 10px 20px;
	float:left;
	border-bottom:1px #ffffff solid;
	cursor:pointer; */
}
.div_tab_li a{
	margin-right: 40px;
    display: inline-block;
    padding: 0;
    font-size: 16px;
    color: #1c1f21;
    line-height: 37px;
    font-weight: bold;
    cursor: pointer;
}
.div_tab_li_active a{
	/* text-align:center;
	font-size:18px;
	color:#40CEFF;
	float:left;
	padding:0px 20px 10px 20px;
	border-bottom:1px #40CEFF solid;
	cursor:pointer; */
	 position: relative;
    color: #b60005 !important;
    cursor: default;
}
.div_tab_li a:hover{
	 color: #b60005;
	/* color:#40CEFF;
	border-bottom:1px #40CEFF solid; */
}

.div_download{
	padding:30px;
	background-color:#ffffff;
}
.download_title{
	font-size:18px;
	color:#000000;
}
.download_sub{
	font-size:12px;
	color:#333333;
}
.download_btn{
	font-size:12px;
	color:#00cccc;
	float:right;
	cursor:pointer;
}
.div_other_course{
	padding:30px;
	background-color:#ffffff;
}
@keyframes showCourse
{
	from {height: 0px;}
	to {height: 157.5px;}
}

@-moz-keyframes showCourse /* Firefox */
{
	from {height: 0px;}
	to {height: 157.5px;}
}

@-webkit-keyframes showCourse /* Safari 和 Chrome */
{
	from {height: 0px;}
	to {height: 157.5px;}
}

@-o-keyframes showCourse /* Opera */
{
	from {height: 0px;}
	to {height: 157.5px;}
}

.other_course_img_show{
	animation: showCourse 500ms;
	-moz-animation: showCourse 500ms;
	-webkit-animation: showCourse 500ms;
	-o-animation: showCourse 500ms;
	width:280px;
	height:157.5px;
}
.other_course_img_hide{
	width:280px;
	height:0px;
	display:none;
}
.other_course_title{
	padding:20px 0px;
	border-bottom:1px #e1e1e1 solid;
	font-size:12px;
	color:#333333;
}
.div_other_course_item{
	cursor:pointer;
}

.div_question{
	font-size:14px;
	color:#666666;
	padding:12px;
}
.div_option{
	font-size:14px;
	color:#666666;
	padding:12px 30px;
}
.test_btn{
	width:150px;
	margin-left:30px;
}

.note_search{
	font-size:14px;
	color:#666666;
	margin-right:20px;
	cursor:pointer;
}
.note_search:hover{
	color:#000000;
}
.note_search_active{
	font-size:14px;
	color:#000000;
	margin-right:20px;
	cursor:pointer;
}
.note_list_item{
	/* padding:30px 0px;
	border-bottom:1px #e1e1e1 solid; */
	padding-left: 50px;
}
.note_list_header_img{
	/* width:54px; */
	float: left;
    padding-top: 5px;
}
.note_list_img{
	width:50px;
	height:50px;
	border-radius:50%;
    float: left;
    overflow: hidden;
}
.note_list_person_name{
	color: #787d82;
    font-size: 12px;
    text-align: left;
    font-family: 微软雅黑;
    font-weight: 700;
    padding-left: 65px;
}
.note_list_title{
	line-height: 28px;
    font-size: 13px;
    color: #14191e;
    text-align: left;
    word-break: break-all;
    width: 600px; 
    font-family: 微软雅黑;
    /* padding-right: 50px;
    padding-left: 65px; */
}
.note_list_content{
	float:left;
	margin-left:10px;
	font-size:14px;
	color:#666666;
	width:750px;
	overflow-x:hidden;
}
.discuss_list_content{
	font-size: 14px;
    color: #666666;
    overflow-x: hidden;
}
.note_list_screen_img{
	width:245px;
	height:132px;
	margin-top:20px;
	border:0;
}
.note_list_time{
	font-size:12px;
	color:#999999;
}
.grave_line{
	border-bottom:1px #e1e1e1 solid;
}
.note_list_like:hover{
	color:red;
}
.page_li{
	padding:5px 10px;
	font-size:14px;
	color:#999999;
	margin-left:5px;
	display:inline-block;
}
.page_li_normal:hover{
	border-bottom:1px #34495e solid;
}
.page_li_disabled{
	padding:5px 10px;
	font-size:14px;
	color:#999999;
	margin-left:5px;
	display:inline-block;
}
.page_li_normal{
	padding:5px 10px;
	font-size:14px;
	color:#999999;
	margin-left:5px;
	display:inline-block;
	cursor:pointer;
}
.page_li_active{
	padding:5px 15px;
	font-size:14px;
	margin-left:5px;
	display:inline-block;
	cursor:pointer;
	background-color:#002140;
	color:#ffffff;
	border-radius: 50%;
}

.circle_border{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}