.link-about {
	background: #333333;
	height: 135px;
}

#body-content {
	/* margin-top:75.05px; */
	
}

.pace .pace-progress {
	top: 45px !important;
}

.pull-left.pagination-detail {
	display: none !important;
}

.pull-right.pagination {
	float: right;
	width: 100%;
	text-align: center;
}

.pagination a {
	border-radius: 10px !important;
}

.table-rythm thead tr th {
	font-weight: normal;
}

button.btn:not (.selectpicker ){
	border-radius: 0px !important;
}

.fixed-table-container {
	border-radius: 0px;
}

.link-about a {
	color: #858585;
	cursor: pointer;
}

.link-about .link-group {
	color: #cccccc !important;
	line-height: 40px;
	font-weight: bolder;
	font-size: 15px;;
}

.affix#top-link-block {
	z-index: 99999;
}

#top-nav .navbar-header {
	padding-left: 100px;
}

.fixed-table-body td {
	border-left: none !important;
	border-right: none !important;
}

.list-group-item.active dmh1, .list-group-item.active dmh2 {
	border-bottom: 2px solid #fff;
}

.dm-fa-md {
	font-size: 16px;
}

.flex-control-nav.flex-control-paging {
	margin-top: -21px;
}

.flex-direction-nav {
	display: none;
}

.navbar.navbar-xs.navbar-inverse.navbar-fixed-top {
	min-width: 1100px;
}

.flex-control-paging li a {
	background: #fff;
}

.flex-control-paging li a:hover {
	background: #A2A2A2;
}

.btn-normal {
	min-width: 100px;
}

/*通用控件样式 - 头像*/
img.userImg {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

/*去除点的li*/
.none-ul li {
	list-style-type: none;
}

.navbar-nav>li>a {
	/* height: 50px !important;
	line-height: 20px !important; */
}

.pace .pace-progress {
	top: 60px !important;
}

#body-content {
	/* margin-top: 80.05px !important; */
}

.navbar-inverse {
	/* background-color: #b60006 !important;
	border-color: #b60006 !important; */
	/* background-image: url(/pblMgr/images/nav-back.png); */
	
}

.navbar-inverse .navbar-nav>.active>a {
	/* background-color: #b60006 !important; */
	color: #af0905 !important;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>li>a:hover,
	.navbar-inverse .navbar-nav>.active>a:hover {
	/* background-color: #35B5EB !important; */
	/* color: #ffffff !important; */
	/* font-weight: bold; */
}

.navbar-nav>li>a {
	padding-top: 15px;
}