@import(){
com.cloudsoaring.web.course.entity.QuestionOptionEntity,
com.cloudsoaring.web.course.entity.QuestionEntity,
com.cloudsoaring.web.course.view.CourseView,
com.cloudsoaring.web.course.constant.CourseMsgNames,
com.cloudsoaring.web.course.constant.CourseStateConstants,
com.cloudsoaring.web.course.view.ChapterView,
com.cloudsoaring.web.trainingplatform.constants.TpConfigNames,
com.cloudsoaring.web.common.utils.ConfigUtil,
com.cloudsoaring.web.course.entity.CourseEntity,java.math.BigDecimal,
com.cloudsoaring.web.course.entity.NoteDataEntity,
com.cloudsoaring.web.course.view.HomeworkView,
 com.cloudsoaring.web.course.entity.ChapterActiveEntity
}
@args String title = MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COURSE),
ChapterView chapterView,CourseView courseView,
List<ChapterView> chapterList,
List<CourseEntity> otherCourseList,
List<QuestionEntity>  questionList,
NoteDataEntity note,
HomeworkView homeWork,
String goal="",String totalGoal="",String examTime = "",
Boolean isTeacher,
String useingChapterId,
List chapterCourseList,
ChapterActiveEntity activeEntity
@extends(hs_blank,title:getPageTitle(title))
@{
	final String measureType = chapterView.getMeasureType();
	final String TYPE_NORMAL = MessageUtil.getMessage(CourseStateConstants.CHAPTER_TYPE_NORMAL);
	final String TYPE_EXAM  = MessageUtil.getMessage(CourseStateConstants.CHAPTER_TYPE_EXAM);
	final String TYPE_MEASUERMENT = MessageUtil.getMessage(CourseStateConstants.CHAPTER_TYPE_MEASUERMENT);
	final String TYPE_VIDEO = MessageUtil.getMessage(CourseStateConstants.CHAPTER_TYPE_VIDEO);
	final String ATTENTION = chapterView.getFavorite()==null ? null : (chapterView.getFavorite()).toString();
	final Boolean showDiscuss = (chapterView.getFlagDiscuss())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(chapterView.getFlagDiscuss()) ? true : false;
	final Boolean showQuestion = (chapterView.getFlagQa())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(chapterView.getFlagQa()) ? true : false;
	final Boolean showNote = (chapterView.getFlagNote())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(chapterView.getFlagNote()) ? true : false;
	final Boolean showTest = (chapterView.getFlagTest())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(chapterView.getFlagTest()) ? true : false;
	final Boolean flagTask = (chapterView.getFlagTask())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(chapterView.getFlagTask()) ? true : false;
	final String linkType = MessageUtil.getMessage(CourseStateConstants.LINK_TYPE_CHAPTER);
	final String linkId = chapterView.getId();
	final String chapterId = chapterView.getId();
	final String fileSizeLimit ="1024000";
}
<link rel="stylesheet" href="@WebContext.url("/css/chapter_detail.css")"/> 
<link rel="stylesheet" href="@WebContext.url("/css/chapter_active_detail.css")"/> 


<script type="text/javascript" src="@url("/js/vr/player/plugin/sceneVideo/sceneVideo.js")"></script>
<script type="text/javascript" src="@url("/js/vr/player/UtoVRPlayerGuide.js")"></script>


<link rel="stylesheet" href="@WebContext.url("/css/hs_style.css")"/>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/font_826145_1kvrj73qfjc.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/font_680193_mlx1ll180gc1h5mi.css")">
<script type="text/javascript" src="@WebContext.url("/js/homepage/js/index.js")"></script>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/swiper.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/editor.css")">
<script src="@WebContext.url("/js/homepage/js/swiper.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/wySilder.min.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/jquery.base64.js")"></script>
<link rel="stylesheet" href="@url("/js/jquery-ui2.css")" type="text/css"/>
<link rel="stylesheet" href="@url("/js/robert.css")" type="text/css"/>
<script type="text/javascript" src="@url("/js/echarts.js")"></script>
<script type="text/javascript" src="@url("/js/three.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
<script type="text/javascript">
  $(function(){
	 @if(WebContext.isGuest()) {
		 toLoginFun(window.location.href)
	}
  });
  </script>
<script type="text/javascript">
  $(function(){
	 @if(WebContext.isGuest()) {
		 toLoginFun(window.location.href)
	}
  });
  </script>
<div ng-app="myApp">
	<div class="chapter_detail">
		 <div class="clearfix">
		 	<ul class="l" ng-controller="ctrNav" style="margin-bottom: 0px;">
		 		<li class="nv nv-goback" onClick="backToCourse();">
		 			<a href="#" class="revert l">
		 				<i class="fa fa-arrow-circle-left" style="font-size: 25px;color: black;"></i>
		 			</a>
		 		</li>
				<li class="nv nv-menu">
					<a href="javascript:;" class="chaptername J-chaptername" style="cursor: text;">
						<em ng-bind="textTitle">@courseView.getTitle()</em>
					</a>
				</li>
			</ul>
			<style>
			  	.notice{
			  		color: #fff;
		  		}
		  		.notice:focus, .notice:hover {
		  			color:#1E90FF;
				}
			 </style>
		 </div>
	</div>
	<div id="studyMain">
		<div id="bgarea" class="video-con">
			<div id="courseLayout" class="course-layout">
				<div class="course-center-layout" id="courseCenter" data-minw="500">
					<div class="js-box-wrap course-video-wrap"">
					    <div id="J_Box" class="course-video-box">
					        <div id="video-box" class="video-wrap">
					        	<div id="video-box-mocoplayer" class="mocoplayer">
					        		 @if(TYPE_NORMAL.equals(measureType) || TYPE_VIDEO.equals(measureType)){
										<!-- 普通章节 -->
										@raw(){@chapterView.getContent()}
									}else if(TYPE_EXAM.equals(measureType)){
										<!-- 考试章节 -->
										@{
											final String startUrl = url("/pub/measuerment/examstart.action?linkId="+chapterView.getId()+"&linkType="+CourseStateConstants.LINK_TYPE_CHAPTER);
											final String submitUrl = url("/pub/measuerment/submitMeasuerment.action");
											final String examListUrl = url("/pub/measuerment/examgetlist.action?linkId="+chapterView.getId()+"&linkType="+CourseStateConstants.LINK_TYPE_CHAPTER);
											final String measureDuration = chapterView.getTimeDuration()==null?"0":chapterView.getTimeDuration().toString();
										}
										<div style="width:100%;padding:30px;margin-left:auto;margin-right:auto;background-color:#ffffff;margin-top:30px;">
										@client_exam(startUrl:startUrl,submitUrl:submitUrl,examListUrl:examListUrl,goal:goal,totalGoal:totalGoal,examTime:examTime,linkType:linkType,measureDuration:measureDuration)
										</div>
									}else if(TYPE_MEASUERMENT.equals(measureType)){
										<!-- 练习章节 -->
										<div style="width:100%;padding:30px;overflow:scroll;margin-left:auto;margin-right:auto;background-color:#ffffff;margin-top:30px;">
											<div style="font-size:18px;color:#000000;">@chapterView.getTitle()</div>
											@chapter_test(questionList:questionList,linkId:chapterView.getId(),linkType:linkType)
										</div>
									}
					        	</div>
					      	</div>
					    </div>
					</div>
				</div>
				<div class="course-right-layout" id="courseRight" data-minw="414" style="width: 0px;">
					@qa_list_form(linkId: chapterView.getId(), linkType:CourseStateConstants.LINK_TYPE_CHAPTER)
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	 myApp.controller("ctrNav",['$scope','$http',function($scope,$http){
		$scope.textTitle = '@courseView.getTitle()';
		$scope.textSubTitle = '@chapterView.getTitle()';
		$scope.textAttention = '@MessageUtil.getMessage(CourseMsgNames.TXT_ATTENTION)';
		$scope.textShare = '@MessageUtil.getMessage(CourseMsgNames.TXT_SHARE)';
		$scope.headerImg = '@url("/pub/headerThumb.action?fileId=")@chapterView.getImage()';
		$scope.textName = '@chapterView.getUserName()';
		$scope.attentionClass = 'my-nav-attention_active';
		if('@ATTENTION'=='@MessageUtil.getMessage(CourseStateConstants.ALREADY_SAVE)'){
			$scope.attentionClass = 'my-nav-attention';
			$scope.textAttention = '@MessageUtil.getMessage(CourseMsgNames.TXT_ATTENTION_ALREADY)';
		}
		$scope.favorite = function(){
			if('@ATTENTION' == '@MessageUtil.getMessage(CourseStateConstants.ALREADY_SAVE)'){
				return;
			}
			//发请求处理关注课程
			$http.post('@url("/pub/course/collectCourse.action")',{courseId:"@courseView.getId()"})
			.success(function(result){
				if(result.status){
					noticeInfo("关注成功！");
					$scope.favorite = function(){
						
						//发请求处理关注课程
						$http.post('@url("/pub/course/cancelCollectCourse.action")',{courseId:"@courseView.getId()"})
						.success(function(result){
							if(result.status){
								noticeInfo("取消关注成功！");
								$scope.textAttention = '@MessageUtil.getMessage(CourseMsgNames.TXT_ATTENTION)';
								$scope.attentionClass = 'my-nav-attention';
							}else{
								//关注失败
								noticeError(result.messages);
							}
						}).error(function(){
							noticeError("系统繁忙，请稍后再试！");
						});
						
					};
					$scope.textAttention = '@MessageUtil.getMessage(CourseMsgNames.TXT_ATTENTION_ALREADY)';
					$scope.attentionClass = 'my-nav-attention';
				}else{
					//关注失败
					noticeError(result.messages);
				}
			}).error(function(){
				noticeError("系统繁忙，请稍后再试！");
			});
		}
	}])
	.controller("ctrTabs",["$scope",function($scope){
		$scope.tabs = new Array();
		@if(showNote){
			//var map = {name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_NOTE)",activeClass:"div_tab_li_active",id:"id_note"};
			//$scope.tabs.push(map);
		}
		@if(showDiscuss){
			var map = {name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_DISCUSS)",activeClass:"div_tab_li",id:"id_discuss"};
			$scope.tabs.push(map);
		}
		@if(showTest){
			$scope.tabs.push({name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_MEASUREMENT)",activeClass:"div_tab_li",id:"id_measurement"});
		} 
		@if(showQuestion){
			//var map = {name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_QUESTION)",activeClass:"div_tab_li",id:"id_question"};
			//$scope.tabs.push(map);
		}
		@if(flagTask){
			$scope.tabs.push({name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_WORK)",activeClass:"div_tab_li",id:"id_work"});
			$scope.tabs.push({name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_WORK_TITLE)",activeClass:"div_tab_li",id:"id_work_title"});
		} 
		$scope.tabs.push({name:"@MessageUtil.getMessage("活动记录")",activeClass:"div_tab_li",id:"id_measurement1"});
		//激活的选项卡ID
		$scope.activeIndex = 0;
		//点击选项卡
		$scope.changeTab = function(index){
			if(index != $scope.activeIndex){
				//切换选中的选项卡
				changeTab($scope.tabs[$scope.activeIndex].id,$scope.tabs[index].id,index);
				$scope.tabs[$scope.activeIndex].activeClass = "div_tab_li";
				$scope.tabs[index].activeClass = "div_tab_li_active";
				$scope.activeIndex = index;
			}
		};
		var hashIndex = window.location.hash;
		if(hashIndex!=null&&hashIndex!=undefined&&hashIndex!=''&&hashIndex.length>1){
			var ii = hashIndex.substring(1);
			$scope.changeTab(ii);
		}
	}])
	.controller("ctrOtherCourse",['$scope',function($scope){
		//相关课程
		$scope.otherCourses = new Array();
		//组装相关课程数组
		@if(otherCourseList!=null && otherCourseList.size()>0){
			@for(CourseEntity ce : otherCourseList){
				var map = {title:"@ce.getTitle()",img:'@ce.getPictureId()',cssClass:"other_course_img_hide",id:"@ce.getId()"};
				$scope.otherCourses.push(map);
			}
		}
		//点击事件
		$scope.toCoursePage = function(id){
			window.location.href = '@url("/pub/course/courseDetailInit.action?courseId=")' + id;
		};
	}]);  
	
	//切换选中的选项卡
	 function changeTab(oldId,id,index){
		$("#"+oldId).hide();
		$("#"+id).show();
		window.location.hash = index;
	} 
	
	//打开关闭章节
	function showChapter(){
		var patt1 = new RegExp("current");
		if(patt1.test($(".openchapter").attr("class"))){
			$(".openchapter").removeClass("current");
			$(".section-list").removeClass("active");
		}else{
			$(".openchapter").addClass("current");
			$(".section-list").addClass("active");
		}
		
	}
	
	//打开关闭笔记
	function showNote(){
		if($("#noteDialog").css("display") == "none"){
			$("#noteDialog").css("display","block");
			$("#noteDialogBack").css("display","block");
		}else{
			$("#noteDialog").css("display","none");
			$("#noteDialogBack").css("display","none");
		}
	}
	//打开关闭作业
	function showHomeWork(){
		if($("#homeWorkDialog").css("display") == "none"){
			$("#homeWorkDialog").css("display","block");
			$("#noteDialogBack").css("display","block");
		}else{
			$("#homeWorkDialog").css("display","none");
			$("#noteDialogBack").css("display","none");
		}
	}
	//打开关闭评论
	function showDiscussDialog(){
		if($("#discussDialog").css("display") == "none"){
			$("#discussDialog").css("display","block");
			$("#discussDialogBack").css("display","block");
		}else{
			$("#discussDialog").css("display","none");
			$("#discussDialogBack").css("display","none");
		}
	}
	
	//打开关闭问答
	function showQA(){
		if($("#courseRight")[0].style.width == "0px"){
			$("#courseRight")[0].style.width="500px";
		}else{
			$("#courseRight")[0].style.width="0px";
		}
	}
	
	function backToCourse(){
		var url = window.location.search;
		var theRequest = new Object();
		var courseId = "";
		if ( url.indexOf( "?" ) != -1 ) {
			var str = url.substr( 1 ); //substr()方法返回从参数值开始到结束的字符串；
	 				 var strs = str.split( "&" );
	  				for ( var i = 0; i < strs.length; i++ ) {
	    				theRequest[ strs[ i ].split( "=" )[ 0 ] ] = ( strs[ i ].split( "=" )[ 1 ] );
	 				 }
	 				 courseId = theRequest.courseId;
		}
		var location = window.location.host;
		 window.location.href="http://"+location+"/pblMgr/pub/course/courseDetailInit.action?courseId="+ courseId+"#0";	
	}
</script>
