@args String title = MessageUtil.getMessage(""),String schoolName

@import(){
 com.cloudsoaring.web.course.constant.CourseStateConstants
 com.cloudsoaring.web.trainingplatform.utils.*
}
@extends(client,title:getPageTitle(title), "text_course")

@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}

<link rel="stylesheet" href="@WebContext.url("/css/course_resource_list.css")"/>
<style>
	.pointer_bg{  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
	}
	.header>ul {
    /* padding-left:10px; */
	}  
</style>
<div id="kechengNav" style="background-color: #fff; margin-top: 20px;">
	<div class="course_logo">
		<div class="course-top ">
			<a class="top-header" href="#">
				<img src="/pblMgr/images/logo/gkk.png" alt="课程" width="36" height="36" style="float: left;">
				<span style="font-family: 微软雅黑;font-size: 24px;color: #b60005;display: block;float: left;vertical-align: middle;line-height: 36px;padding-left: 5px;">公开课</span>
			</a>
			<div class="course-top-search">
				<div class="search-area" data-search="top-banner">
					<input class="search-input" data-suggest-trigger="suggest-trigger" placeholder="请输入课程名称" type="text" autocomplete="off" id="codeSel" name="codeSel">
					<input type="hidden" class="btn_search" data-search-btn="search-btn">
					<ul class="search-area-result js-search-wrap" data-suggest-result="suggest-result"></ul>
				</div>
				<div class="showhide-search" data-show="no">
					<span class="gh gh-search" style="" onClick="seachInfo()"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	@tag_query(id:"tagQuery", itemSelectedFun:"courseListReflash")
</div>

@grid_list(url:"/pub/course/coursePublicList.action", pageSize:30, id:"courseList", getParamsFunction:"getParams"){
	@list_filter(){
		[
			{label:"公开课", filterKey:"sortType", filterValue:"hot",on:true},
			{label:"试听课", filterKey:"sortType", filterValue:"new"}
		]
	}
	@list_item(renderItemFunction:"renderItemContent") {	
		<!-- <a style="color:#000000;" href="@url("/pub/course/courseDetailInit.action?courseId=%courseId")"> -->
		<a style="color:#000000;" href="javascript:void(0)" onclick="courseDetail('%courseId');">
			<div id="courseId" style="display: none;">%courseId</div>
			<div class="course-card-container">
				<div class="course-card-top">
					<img class="course-banner lazy" style="display: inline;" src="@url("/pub/image.action?fileId=%courseFileId")">
				</div>
				<div class="course-card-content">
					<h3 class="course-card-name">%title</h3>
					<div class="clearfix course-card-bottom">
						<!-- <p class="course-card-desc">%summary</p> -->
						<div class="course-card-price">
							<div class="price-box">
								<span class="price" style="color: #adb4b6;">教师：%teacherName</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	}
}
<script>
	function courseDetail(courseId){
		noticeInfo('@MessageUtil.getMsgAndNote("正在打开课程详情页面，请稍等！！", "ab01011.txt.oprate.send.ok")');
		var operDetail = $("h3")[0].innerHTML;
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/course_detail.html"},
			success:function(result){
			}
		});	
		//var courseId = $("#courseId")[0].innerHTML;
		window.open('/pblMgr/pub/course/courseDetailInit.action?courseId='+courseId,'_self');
	}
	function seachInfo(){
        courseListReflash();
    }
	$(function(){
		initTagData();
	})
	
	function initTagData() {
		var schoolName='@schoolName';
		var shareFlag='3';
		//检索课程列表
		$.ajax({
			url:"/pblMgr/pub/tag/searchCategory2.action?schoolName="+schoolName+"&shareFlag="+shareFlag,
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					objs.unshift(getCourseStageTagData());
					//添加阶段
					$('#tagQuery').data("initTag")(objs);
						
				}
			}
		});
	}
	
	function getCourseStageTagData(){
		var codes =  @JsonLib.toJson(CodeFactory .getCodeMap(CourseStateConstants.SCHOOL_COURSE_STAGE)).raw();
		var tagItems = [];
		for(key in codes) {
			var item = {
				tagId : key,
				tagTypeId : "@CourseStateConstants.SCHOOL_COURSE_STAGE",
				parentId : "",
				tagName: codes[key]
			}
			tagItems.push(item)
		}
		
		
		var result = {
			tagTypeId : "@CourseStateConstants.SCHOOL_COURSE_STAGE",
			tagTypeName : "学段",
			parentId : "",
			list : tagItems
		}
		return result;
	}
	
	//列表参数
	function getParams(){
	    var name=$('#codeSel').val();
		var result = new Object;
		var selectedTags = $('#tagQuery').data("getTagSelect")();
		
		if(!selectedTags) {
		    if(name) {
                result["title"] = name;
            }  
			return result;
		}
		if(selectedTags["3"]) {
			result["tagsId"] = selectedTags["3"];
		}
		if(selectedTags["4"]) {
			result["categoryTagId"] = selectedTags["4"];
		}
		if(name) {
                result["title"] = name;
            }
		if(selectedTags["@CourseStateConstants.SCHOOL_COURSE_STAGE"]) {
			result["schoolNatrul"] = selectedTags["@CourseStateConstants.SCHOOL_COURSE_STAGE"];
		}
		return result;
	}
	
	function renderItemContent(itemContent, obj) {
		var content = hideStringByMax(obj.momo,50);
		var title = hideStringByMax(obj.title,26);
		var dbContent = obj.content;
		var textContent = "";
		if(dbContent.length > 0){
			var textContent = dbContent.replace(/<\/?[^>]*>/g,"");
		}
		var summary = hideStringByMax(textContent,22);
		var numFavorite = obj.numFavorite ? obj.numFavorite : 0;
		var numStudy = obj.numStudy ? obj.numStudy : 0;
		var point = obj.price;
		if(point==null||point==undefined||point==''){
			point = 0;
		}
		if(point==0){
			point = "免费";
		}else{
			@if(showPriceByPoints){
				//积分显示
				point = point*@unitPrice+"积分";
			}else{
				point = point+"元";
			}
		}
		var className = obj.className == undefined?"":obj.className;
		var gradeName = obj.gradeName == undefined?"":obj.gradeName;
		return itemContent
					.replace(/%title/g, getOrElse(title))
					.replace(/%content/g, getOrElse(content))
					.replace(/%summary/g, getOrElse(summary))
					.replace(/%courseId/g,obj.id)
					.replace(/%courseFileId/g,obj.pictureId)
					.replace(/%courseType/g,typeFormat(obj.courseType))
					.replace(/%numFavorite/g,numFavorite)
					.replace(/%teacherName/g,obj.teacherName)
					.replace(/%className/g,className)
					.replace(/%gradeName/g,gradeName)
					.replace(/%userNum/g, numStudy)
					.replace(/%point/g,point);
	}
	function typeFormat(value){ 
		if(value == null){
			return "无类型";
		}else{
			 var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.COURSE_TYPE)).raw();
		     return data[value];
		}
    }
	
</script>