@import(){
com.cloudsoaring.web.course.entity.*,
com.cloudsoaring.web.course.view.*,
com.cloudsoaring.web.points.entity.*,
com.cloudsoaring.common.utils.DateUtil,
com.cloudsoaring.web.trainingplatform.utils.TpConfigUtil,
java.math.BigDecimal,
com.cloudsoaring.web.course.common.utils.*,
com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(client,title:getPageTitle(title))
@args CourseView view,UserEntity user,UserPoint userPoint,String tags
@{
final String url=url("/pub/course/courseDetailInit.action?courseId="+view.getId());
final String pictureUrl=url("/pub/image.action?fileId="+view.getPictureId());
}


<div style="margin-bottom:20px;">
	<div class="joinPlanPay" style="width: 100%; overflow: hidden; padding: 30px; background-color: rgb(255, 255, 255);">
		<div style="font-weight: bold;font-size: 150%;height:50px;border-bottom-style: solid; border-bottom-width:thin;border-bottom-color:#DDDDDD; margin-bottom: 20px;">
			@MessageUtil.getMsgAndNote("参与者信息","","txt.course.pay.actor")
		</div>
		<div style="float: left;padding-left:30px;">
			昵称：@user.getPersonName()
		</div>
		<div style="float: left; padding-left:50px;">
			电话：@user.getPhone()
		</div>
		<div style="float: left; padding-left:50px;">
			邮箱：@user.getEmail()
		</div>
		<div class="clearfix"></div>
		<div style=" margin-top:30px;font-weight: bold;font-size: 150%;height:50px;border-bottom-style: solid; border-bottom-width:thin;border-bottom-color:#DDDDDD; margin-bottom: 20px;">
			@MessageUtil.getMsgAndNote("购物清单","","txt.shopping.list")
		</div>
		<div style="height:150px;">
			<div style="height:40px;background-color:#DDDDDD;line-height:40px;">
				<div style="float:left;width:240px;padding-left:38px;">
					@MessageUtil.getMsgAndNote("封面","","txt.shopping.cover")
				</div>
				<div style="float: left;width:250px;">
					@MessageUtil.getMsgAndNote("课程名称","","txt.pay.course.name")
				</div>
				<div style="float: left;width:200px;">
					@MessageUtil.getMsgAndNote("课程简介","","txt.pay.course.intro")
				</div>
				<div style="float: left;width:250px;">
					@MessageUtil.getMsgAndNote("课程起始日期","","txt.pay.course.time")
				</div>
				<div style="float: left;width:200px;">
					@MessageUtil.getMsgAndNote("价格","","txt.pay.course.cost")
				</div>
			</div>
			<div style="min-width:800px;height:100px;display:table;padding-top: 30px;">
				<div style="float:left;width:240px;padding-left:38px;">
					<img style="width:100px;height:100px;" src="@pictureUrl">
				</div>
				<div  style="display:table-cell;float: left;width:250px;">
					@view.getTitle()
				</div>
				<div style="display:table-cell;float: left;width:200px;">
					@CommonUtils.hideStringByMax(CommonUtils.filterHtml(view.getContent()),new Integer(100))
				</div>
				<div style="display:table-cell;float: left;width:250px;">
				@{
					final String courseStart = DateUtil.format(view.getStartDate(),"yyyy-MM-dd");
					final String courseEnd= DateUtil.format(view.getEndDate(),"yyyy-MM-dd");
				}
					@courseStart至 @courseEnd
				</div>
				@{
					Boolean showPriceByPoints = false;
					Integer unitPrice = 1;
					if(TpConfigUtil.displayPriceByPoints()){
						showPriceByPoints = true;
						unitPrice = TpConfigUtil.getPointsForSmallChange();
					}
				}
				<div style="display:table-cell;float: left;width:200px;">
					@if(showPriceByPoints){
						@(view.getPrice()==null?0:(view.getPrice().multiply(new BigDecimal(unitPrice))).longValue())&nbsp;积分
					}else{
						@(view.getPrice()==null?0:view.getPrice())元
					}
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div style=" margin-top:50px;font-weight: bold;font-size: 150%;height:50px;border-bottom-style: solid; border-bottom-width:thin;border-bottom-color:#DDDDDD; margin-bottom: 20px;">
			@MessageUtil.getMsgAndNote("积分支付","","txt.pay.by.integral")
		</div>
		<div style="float: left;width:250px;padding-left:30px;">
			你的积分总额：@userPoint.getPoints().longValue() 积分
		</div>
		<div style="float: left;width:250px;">
			@{				
				java.math.BigDecimal points = view.getPrice().multiply(new BigDecimal(TpConfigUtil.getPointsForSmallChange()));
				final java.math.BigDecimal surplusPoint = userPoint.getPoints().subtract(points);
			}
			@MessageUtil.getMessage(CourseMsgNames.TXT_PLAN_SURPLUSPOINT)：@surplusPoint.longValue()&nbsp;积分
		</div>
		<div style="text-align:center;margin-top:100px;">
			<span>@button(label:"立即支付",style:"width:200px;height:50px;",onclick="pay")</span>
		</div>
	</div>
</div>



<script>
	function pay(){
		var price = (@view.getPrice().longValue() * @TpConfigUtil.getPointsForSmallChange());
		var finallyPoint = @userPoint.getPoints().longValue()- price;
		if(finallyPoint<0){
			warning("@MessageUtil.getMessage("余额不足，请充值！")");
		}else{
			$.ajax({ 
				url: "@url("/pub/course/joinCourse.action")",
				data:{courseId:"@view.getId()"},
				type:"post",
				bodyMsg:true,
				success: function (result){
		        	//window.history.go(-1);
		        	BootstrapDialog.show({cssClass:"no-title-dialog no-footline-dialog",message:"<div style='height:200px;'><div style='margin-top:100px;margin-left:180px;font-weight: bold;font-size: 300%;height:40px;'>支付成功！</div><div style='float: left;width:180px;margin-top:100px'>你的积分总额：@userPoint.getPoints().longValue()</div><div style='float: left;width:180px;margin-top:100px'>计划价值积分：@points</div><div style='float: left;width:180px;margin-top:100px'>支付后积分余额：@surplusPoint</div></div>",
		        	buttons: [{
			                label:'知道了',
			                cssClass: 'btn-normal gh gh-ok',
			                action: function(dialog) {
			                    dialog.close();
			                    window.location.href = "@url";
			                }}]});	        	
		      	}
		    });
		}		
	}
</script>