@import(){ com.cloudsoaring.web.course.view.CourseView,
com.cloudsoaring.web.course.constant.CourseMsgNames,
com.cloudsoaring.web.course.constant.CourseConfigNames,
com.cloudsoaring.web.course.constant.CourseStateConstants,
com.cloudsoaring.web.course.view.ChapterView,
com.cloudsoaring.web.course.entity.CourseEntity,
com.cloudsoaring.web.bus.entity.TagEntity,
com.cloudsoaring.web.trainingplatform.utils.*,
com.cloudsoaring.web.points.entity.*,
com.cloudsoaring.web.pointmanager.constant.PointStateConstants,
java.math.BigDecimal, com.cloudsoaring.web.course.common.utils.* ,
 com.cloudsoaring.web.course.entity.ChapterActiveEntity,
} 
@args String title = MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COURSE),
BigDecimal progress = BigDecimal.ZERO,
CourseView courseView, 
List chapterList,
Object schoolName,
Object courseId,
String msgInfo = "",
List chapterCourseList,
List chapterExamList,
ChapterActiveEntity activeEntity
@{ 
final String url=url("/pub/course/paydetail.action?courseId="+courseView.getId());
PointTypeEntity votePointType =(PointTypeEntity)WebContext.session(PointStateConstants.POINT_TYPE_VOTE);
String endDateTemp = DateUtil.getDateString(courseView.getEndDate(),DateUtil.DATE_PATTERN_12 ); 
final String endDate ="2099-12-31".equals(endDateTemp) ? "永久" : endDateTemp; 
final Boolean showShareFlagOne = (courseView.getShareFlag())!= null && ("1").equals(courseView.getShareFlag()) ? true : false;
final Boolean showShareFlagTwo = (courseView.getShareFlag())!= null && ("2").equals(courseView.getShareFlag()) ? true : false;
final Boolean showShareFlagThree = (courseView.getShareFlag())!= null && ("3").equals(courseView.getShareFlag()) ? true : false;
final Boolean classFlag = (courseView.getClassFlag())!= null && ("1").equals(courseView.getClassFlag()) ? true : false;
final Boolean libraryFlag = (courseView.getLibraryFlag())!= null && ("1").equals(courseView.getLibraryFlag()) ? true : false;
}
@extends(client,title:getPageTitle(title)) 
@section("mainContent"){
<link rel="stylesheet" href="@WebContext.url("/css/course_detail.css")"/>
<link rel="stylesheet" href="@url("/css/mydirective.css")"/>
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<!--  <script type="text/javascript" src="@WebContext.url("/mobile/source/js/jquery1.8.3.js")"></script>-->
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
<script type="text/javascript">
	
	

	</script>
<script type="text/javascript" src="@WebContext.url("/js/StackBlur.js")"></script>

<div
	style="width: 100%; height: 210px; position: absolute; overflow: hidden;">
	<canvas id="coursePageHeader" style="margin-top: 0px"></canvas>
	<img id="backgroundImage" width=100% height="100%" src="/pblMgr/images/kecheng.png">
</div>
<div ng-app="myApp" style="padding-top: 0; color: #1c1f21; background: #f8fafc;" ng-controller="ctrTabs">
	<div class="course_h">
		<div class="content" style="padding-top: 10px;">
			<div class="path">
			  <a href="/pblMgr/pub/course/courseListInit.action?schoolName=@schoolName">@schoolName &nbsp;&nbsp;>&nbsp;&nbsp;</a>
			  <a href="">@courseView.getTitle()</a>
			      @if(courseView.getDirectTag()!=null){ 
						@{
							String directiveTagName = ""; 
							TagEntity tag =courseView.getDirectTag();
							if(tag.getTagName()!=null &&!"".equals(tag.getTagName())){ 
								directiveTagName = tag.getTagName() +"/"; 
							} 
						} 
						@directiveTagName 
					} 
					@if(courseView.getCategoryTag()!=null){
						@{ 
							String categoryTagName = ""; 
							TagEntity tag =courseView.getCategoryTag();
							if(tag.getTagName()!=null &&!"".equals(tag.getTagName())){
								categoryTagName = tag.getTagName() +"/"; }
						} 
						/@categoryTagName 
					}<!--  @courseView.getTitle() -->
			</div>
 			<div>
				<h2 style="position: relative;z-index: 1;line-height: 32px;font-size: 32px;color: #b60005;margin-top: 0px;font-weight: 400;">@courseView.getTitle()</h2>
			</div> 
			<!-- <div>
				<span class="title fa ">@courseView.getTitle()</span><span
					class="title_date gh gh-time">@endDate</span>
			</div> -->
			<div class="statics">
				@if(showShareFlagOne || showShareFlagTwo || libraryFlag || showShareFlagThree){
				}else{
					<div class="static-items">
						<span class="meta"><!-- 难度 -->年级：@courseView.getGradeName()</span>
						<span class="meta-value">
						</span>
					</div>
					<div class="static-items">
						<span class="meta"><!-- 时长 -->班级：@courseView.getClassName()</span>
						<span class="meta-value">
						</span>
					</div>
				}
				<div class="static-items">
					<span class="meta"><!-- 学习人数 -->教师：</span>
					<span class="meta-value js-learn-num">@courseView.getTeacherName()</span>
				</div>
			</div>
			<div class="extra">
				<!-- @if(courseView.getFavorite() == null ||courseView.getFavorite().intValue() != 1) {
				<div class="collection">
					<a onclick="collectinoFun()" style="color: rgba(255,255,255,.6);">
						<i class="fa fa-heart-o" style="font-size: 12px;padding-right: 5px;margin-top: 5px;"></i>
						<span style="margin-left: 5px;font-size: 12px;line-height: 24px;float: right;color: rgba(255,255,255,.6);">收藏</span>
						</a>
				</div>
				}@if(courseView.getFavorite() != null &&courseView.getFavorite().intValue() == 1) {
				<div class="collection">
					<a onclick="cancelCollectinoFun()" style="color: rgb(229, 0, 0);">
						<i class="fa fa-heart" style="font-size: 12px;padding-right: 5px;margin-top: 5px;"></i>
						<span style="margin-left: 5px;font-size: 12px;line-height: 24px;float: right;/* color: rgba(255,255,255,.6); */">取消收藏</span>
				</div>
				} -->
				<!-- 暂时隐藏课程删除   @if(showShareFlagTwo){
					<div class="collection">
					<a onclick="courseCopy()" style="color: rgba(115,115,115);">
						<i class="fa fa-files-o" style="font-size: 12px;padding-right: 5px;margin-top: 5px;"></i>
						<span style="margin-left: 5px;font-size: 12px;line-height: 24px;float: right;color: rgba(115,115,115);padding-right: 20px;">复制</span>
					</a>
					</div>
					<div class="collection">
						<a onclick="courseDelete()" style="color: rgba(115,115,115);">
							<i class="fa fa-times" style="font-size: 12px;padding-right: 5px;margin-top: 5px;"></i>
							<span style="margin-left: 5px;font-size: 12px;line-height: 24px;float: right;color: rgba(115,115,115);padding-right: 20px;">删除</span>
						</a>
					</div>
				} -->
				
				<!-- <div class="share" style="padding-top: 5px;">
					@share_component(
						text:("我正在参加@教学平台的一门课程【"+courseView.getTitle()+"】，很不错哦！快来一起学习吧！"), 
						url:WebContext.getLastRequestUrl(), 
						imgPicId:courseView.getPictureId())
				</div> -->
			</div>
		</div>
	</div>
	<div class="course-info-menu">
		<div class="w">
			<ul class="course-menu">
				<li ng-repeat=" item in tabs"><a class="{{item.activeClass}}" ng-click="changeTab($index)" ng-bind="item.name"></a></li>
			</ul>
		</div>
	</div>
	<div class="course-info-main clearfix w">
		<div class="content-wrap clearfix">
			<div class="content">
				<!-- 课程简介 -->
				<div id="id_course">
					<div class="course-description course-wrap" style="display: block;overflow: hidden;/* background: #f7f9fb;box-shadow: 0 8px 16px 0 #f8fafc; */">
						<div id="tab_content_info">
							<div class="course_summary" style="width: 100%; height: 100%;">
								<div style="width: 100%;/* text-align: center; */ font-family: 微软雅黑; font-size: 14px; /* line-height: 35px; */ vertical-align: middle; float: left;height: 100%;background: #fff;border-radius: 12px;/* box-shadow: 0 8px 16px 0 rgba(7,17,27,.1); */background-color: white;/* padding:20px 30px; */">
									@courseView.getContent().raw()</div>
							</div>
						</div>
					</div>
					<!-- <div class="course-description course-wrap">
						<div id="tab_content_info">
							<div class="course_summary">
								@courseView.getCourseDetail().raw()</div>
						</div>
					</div> -->
				</div>
				@{ 
					final Boolean showDiscuss = (courseView.getFlagDiscuss())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(courseView.getFlagDiscuss())? true : false;
					final Boolean showQuestion = (courseView.getFlagQa())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(courseView.getFlagQa())? true : false;
					final Boolean showNote = (courseView.getFlagNote())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(courseView.getFlagNote())? true : false;
					final Boolean showVote = (courseView.getFlagVote())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(courseView.getFlagVote()) ? true : false; 
					final Boolean showTest = true;
					final Boolean flagTask = false;
					final Boolean flagQuestionner = (courseView.getFlagQuestionnaire())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(courseView.getFlagQuestionnaire()) ? true : false; 
				}
				<!--章节列表 -->
				<div id="id_chapter" class="course-description course-wrap" style="display:none;background: rgb(248, 250, 252); box-shadow: rgba(7, 17, 27, 0) 0px 8px 16px 0px;padding: 0px;">
					@chapter_list(courseId: (courseView.getId()),
					joinCourse:(courseView.getJoinCourse()),chapterList:chapterList,currentChapterId:courseView.getLastChapterId())
				</div>
				@if(showNote){
				<!-- 笔记 -->
				<div id="id_note" class="course-description course-wrap" style="display:none;padding: 0px;background: rgb(248, 250, 252); box-shadow: rgba(7, 17, 27, 0) 0px 8px 16px 0px;">
					@note_list(url:"/pub/note/noteList.action",linkId:courseView.getId(),linkType:CourseStateConstants.LINK_TYPE_COURSE,title:courseView.getTitle())
				</div>
				} @if(showDiscuss){
				<!-- 评论 -->
				<div id="id_discuss" class="course-description course-wrap" style="display:none;background: rgb(248, 250, 252); box-shadow: rgba(7, 17, 27, 0) 0px 8px 16px 0px;padding-top: 0px;">
					@discuss_list(url:"/pub/discuss/discussList.action",linkId:courseView.getId(),linkType:CourseStateConstants.LINK_TYPE_COURSE)
				</div>
				} @if(showTest){
				} @if(showQuestion){
				<!-- 问答 -->
				} @if(showVote){
				<!-- 投票 -->
				<!-- <div id="id_vote" class="course-description course-wrap" style="display:none;">
					@vote_item(courseId:courseView.getId())</div> -->
				} @if(flagTask){
				<!-- 作业 -->
				<div id="id_work" class="course-description course-wrap" style="display:none;padding-top: 0px;height: 100px;">
						<div style="width: 100%; height: 100px; font-family: 微软雅黑; font-size: 14px; line-height: 100px; vertical-align: middle; float: left;">
							请完成仿真制作章节中两个模型的制作。
						</div>
					</div>
				} @if(flagQuestionner){
				<!-- 问卷 -->
				<div id="id_questionner" class="course-description course-wrap" style="display:none;padding-top: 0px;">
					@{ Boolean finishFlag =
					(CourseStateConstants.FLAG_USER_ANSWER_ALREADY).equals(courseView.getFinishQuestionnaireFlag());
					}
					@questionner_item(linkId:courseView.getId(),linkType:CourseStateConstants.LINK_TYPE_COURSE,userInvolvement:finishFlag,id:"course_questionnaire")
				</div>
				}
				<div id="id_active" class="course-description course-wrap" style="display:none;background: rgb(248, 250, 252); box-shadow: rgba(7, 17, 27, 0) 0px 8px 16px 0px;padding-top: 0px;">
					@discuss_list(url:"/pub/discuss/discussList.action",linkId:courseView.getId(),linkType:CourseStateConstants.LINK_TYPE_COURSE)
				</div>
				<div id="id_courseChapter" class="course-description course-wrap" style="display:none;background: rgb(248, 250, 252); box-shadow: rgba(7, 17, 27, 0) 0px 8px 16px 0px;padding: 0px;">
					@chapter_java_list(courseId: (courseView.getId()),
					joinCourse:(courseView.getJoinCourse()),chapterExamList1:chapterExamList,currentChapterId:courseView.getLastChapterId())
				</div>
				 <div id="id_measurement1" style="display:none;">
					@active_course_test(linkId:courseView.getId(),chapterCourseList:chapterCourseList) 
				</div>
			</div>
			<div class="aside r">
				<div class="course-wrap course-aside-info js-usercard-box">
					@if(!WebContext.isGuest()&&(CourseStateConstants.ALREADY_JOIN_COURSE).equals(courseView.getJoinCourse().toString())){
						@{ 
							if(courseView.getStudyProgress() != null){ 
								progress = (courseView.getStudyProgress()).setScale(0, BigDecimal.ROUND_DOWN);
							} 
							if(courseView.getStudyProgress() != null && (courseView.getStudyProgress()).compareTo(new BigDecimal(100)) == 1){ 
								progress = new BigDecimal(100); 
							}
						}
					}
					<div class="learn-btn">
						@if(classFlag){
							@if(courseView.getJoinCourse() != null && "1".equals(courseView.getJoinCourse().toString())) {
								@if(courseView.getLastChapterId() != null || courseView.getLastChapterId() == null){
									@if(chapterList.size() > 0){
										<a name="continueStudy" onclick="continueStudy();" class="moco-btn">继续学习</a>
									}else{
										<a name="continueStudy" class="moco-btn">无章节信息</a>
									}
								}
							}else{
								@if(msgInfo == "-1"){
									<a class="moco-btn">已提交申请</a>
								}else if(msgInfo == "1"){
									<a class="moco-btn">申请被驳回，请联系老师！</a>
								}else if(msgInfo == "0"){
									<a class="moco-btn">继续学习</a>
								}else if(!sessionUser.getUserId().equals(courseView.getTeacherId())){
									<a id="applyJoin" onclick="joinStudy();" class="moco-btn">申请加入</a>
								}
							} 
						}else{
							@if(showShareFlagOne || showShareFlagTwo || showShareFlagThree || libraryFlag){
							<a onclick="courseCopy();" class="moco-btn">课程重用</a>
							}else{
								@if(courseView.getJoinCourse() != null && "1".equals(courseView.getJoinCourse().toString())) {
									@if(courseView.getLastChapterId() != null || courseView.getLastChapterId() == null){
										@if(chapterList.size() > 0){
											<a name="continueStudy" onclick="continueStudy();" class="moco-btn">继续学习</a>
										}else{
											<a name="continueStudy" class="moco-btn">无章节信息</a>
										}
									}
								} else {
									@if(msgInfo == "-1"){
										<a class="moco-btn">已提交申请</a>
									}else if(msgInfo == "1"){
										<a class="moco-btn">申请被驳回，请联系老师！</a>
									}else if(!sessionUser.getUserId().equals(courseView.getTeacherId())){
										<a id="applyJoin" onclick="joinStudy();" class="moco-btn">申请加入</a>
									}
								}
							}
						}
		        	</div>
		        	@if(courseView.getNotice() !=null ||  courseView.getTarget() != null){
		        		<div class="course-info-tip">
	                        <dl class="first">
	                        	@if(courseView.getNotice() !=null){
	                        		<dt>课程须知</dt>
				                	<dd class="autowrap">@courseView.getNotice()</dd>
	                        	}
	                        	<!-- @if(courseView.getTarget() !=null){
	                        		<dt>课程目标</dt>
				                	<dd class="autowrap">@courseView.getTarget()</dd>
	                        	} -->
				            </dl>
	                    </div>
		        	}
				</div>
				<!-- 暂时隐藏总投票 -->
<!-- 				 @if(courseView.getJoinCourse() != null && "1".equals(courseView.getJoinCourse().toString())) {
					@if(courseView.getLastChapterId() != null || courseView.getLastChapterId() == null){
						@if(courseView.getFlagVote() != null && "1".equals(courseView.getFlagVote())) {
			        		<div class="course-wrap course-aside-info js-usercard-box">
								<span id="label_all_vote" class="num_vote">总投票</span>
								<span id="num_vote" style="position: absolute;right: 25px;font-size: 15px;color: #b60005;">@courseView.getNumVote()</span>
								<div style="padding-top: 30px;">
									<span id="num_rate" style="display: inline;font-size: 30px;font-weight: 600;color: #b60005;">@(courseView.getVoteGood() == null?0:courseView.getVoteGood())</span>
									<span style="display: inline;font-size: 30px;font-weight: 600;color: #b60005;">%</span>
									<span id="label_rate">好评率</span>
								    <span id="handle_goto"><a ng-click="changeTab2Vote()" style="color: #b60005;">立即去投票</a></span>
								</div>
							</div>
		        		}
					}
				} -->
			</div>
		</div>
	</div>

</div>
<script>
function courseCopy(){
	confirm("@MessageUtil.getMessage("确定复制课程吗")", function(){
		$.ajax({
			url: "@url("/pub/course/copyInfo.action")",
            data:{id:"@courseView.getId()"},
            type:"post", 
            bodyMsg:true,
            mask:true,
            success: function(result){
            	noticeInfo('@MessageUtil.getMsgAndNote("复制成功！", "ab01011.txt.oprate.send.ok")');
            }
        });
        return true;
    });
}
function courseDelete(){
	 var url = "@url("/manager/course/deleteCourse.action?id=")"+"@courseView.getId()";
     confirm("同时删除课程相关的计划、学员、投票、评论、笔记、问卷、作业等信息，且删除后不可恢复，是否确认删除？",function(){
     	$.ajax({ 
             url:url,
             bodyMsg:true,
             type:"post", 
             success: function(result){
            	 if(result.status){
            		 noticeInfo('@MessageUtil.getMsgAndNote("删除成功！", "ab01011.txt.oprate.send.ok")');
            		 window.open('/pblMgr/pub/course/courseListInit.action','_self');
            	 }else{
            		 noticeError(result.messages);
            	 }
            	 
             }
         });
     
     })
}

	myApp.controller("ctrTabs",["$scope",function($scope){
		$scope.tabs = new Array();
		$scope.tabs.push({name:"@MessageUtil.getMessage("课程介绍")",activeClass:"div_tab_li_active",id:"id_course"});
		/* $scope.tabs.push({name:"@MessageUtil.getMessage("课程详情")",activeClass:"div_tab_li",id:"id_detail"}); */
		$scope.tabs.push({name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_CHAPTER)",activeClass:"div_tab_li",id:"id_chapter"});
		@if(showShareFlagTwo || showShareFlagOne || libraryFlag){
		}else{
			@if(showNote){
				//var map = {name:"@MessageUtil.getMessage("课程笔记")",activeClass:"div_tab_li",id:"id_note"};
				//$scope.tabs.push(map);
			}
			@if(showDiscuss){
				var map = {name:"@MessageUtil.getMessage("课程评论")",activeClass:"div_tab_li",id:"id_discuss"};
				$scope.tabs.push(map);
			}
			@if(showTest){
				//$scope.tabs.push({name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_MEASUREMENT)",activeClass:"div_tab_li",id:"id_measurement"});
			} 
			@if(showQuestion){
				//var map = {name:"@MessageUtil.getMessage("课程问答")",activeClass:"div_tab_li",id:"id_question"};
				//$scope.tabs.push(map);
			}
			@if(showVote){
				//var map = {name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_VOTE)",activeClass:"div_tab_li",id:"id_vote"};
				//$scope.tabs.push(map);
				//投票选项
				//$scope.voteIndex = $scope.tabs.length-1;
			}
			@if(flagTask){
				$scope.tabs.push({name:"@MessageUtil.getMessage(CourseMsgNames.TXT_MODE_WORK)",activeClass:"div_tab_li",id:"id_work"});
			} 
			@if(flagQuestionner){
				$scope.tabs.push({name:"问卷",activeClass:"div_tab_li",id:"id_questionner"});
			}
			$scope.tabs.push({name:"课程活动记录",activeClass:"div_tab_li",id:"id_measurement1"});
			$scope.tabs.push({name:"问卷与考试",activeClass:"div_tab_li",id:"id_courseChapter"});
		}
		//激活的选项卡ID
		$scope.activeIndex = 0;
		//点击选项卡
		$scope.changeTab = function(index){
			if(index != $scope.activeIndex){
				//切换选中的选项卡
				changeTab($scope.tabs[$scope.activeIndex].id,$scope.tabs[index].id,index);
				$scope.tabs[$scope.activeIndex].activeClass = "div_tab_li";
				$scope.tabs[index].activeClass = "div_tab_li_active";
				$scope.activeIndex = index;
			}
		};
		//点击选项卡
		$scope.changeTab2Vote = function(index){
			@if(showVote){
				$scope.changeTab($scope.voteIndex);
			}
		};
		var hashIndex = window.location.hash;
		if(hashIndex!=null&&hashIndex!=undefined&&hashIndex!=''&&hashIndex.length>1){
			var ii = hashIndex.substring(1);
			$scope.changeTab(ii);
		}
	}]);
	
	//跳转到导师课程页面
	function toTeacherCourse(userId){
		window.open('@url("/pub/course/teacherCourseInit.action?userId=")' + userId);
	}
		
	//切换选中的选项卡
	function changeTab(oldId,id,index){
		$("#"+oldId).hide();
		$("#"+id).show();
		var operDetail = $("h2")[0].innerHTML;
		if(id == "id_course"){
			operDetail = operDetail+",课程介绍";
		}else if(id == "id_chapter"){
			operDetail = operDetail+",课程章节";
		}else if(id == "id_note"){
			operDetail = operDetail+",课程笔记";
		}else if(id == "id_discuss"){
			operDetail = operDetail+",课程评论";
		}else if(id == "id_measurement"){
			operDetail = operDetail+",课程测试";
		}else if(id == "id_question"){
			operDetail = operDetail+",课程问答";
		}else if(id == "id_vote"){
			operDetail = operDetail+",课程投票";
		}else if(id == "id_work"){
			operDetail = operDetail+",课程作业";
		}else if(id == "id_questionner"){
			operDetail = operDetail+",课程问卷";
		}else if(id =="id_measurement1"){
			operDetail = operDetail+",课程活动记录";
		}else if(id =="id_courseChapter"){
			operDetail = operDetail+",问卷与考试";
		}else{
			
		}
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/course_detail.html"},
			success:function(result){
			}
		});	
		window.location.hash = index;
	}
	
	function joinStudy(){
		@if(WebContext.isGuest()) {
			logoutFun();
		} else {
			@if(courseView.getPrice() == null || 0 == courseView.getPrice().intValue()) {
				$.ajax({
					/* url:"@url("/pub/course/joinCourse.action?courseId=")" + '@courseView.getId()', */
					url:"@url("/pub/course/applyJoinCourse.action?courseId=")" + '@courseView.getId()',
					success:function(result){
						if(result.status){
							noticeInfo('@MessageUtil.getMsgAndNote("申请已提交，请耐心等待！", "ab01011.txt.oprate.send.ok")');
							location.reload();
						}
					}
				});
				
				var operDetail = $("h2")[0].innerHTML;
				operDetail = operDetail+",加入学习";
				$.ajax({
					type:'post',
					url:'/pblMgr/pub/course/insertUserOper.action',
					dataType:"json",
					data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/course_detail.html"},
					success:function(result){
					}
				});	
				
			} else {
				window.location.href = "@url("/pub/course/paydetail.action?courseId=")" + '@courseView.getId()'
			}
		}
	}
	
	function continueStudy(){
		var operDetail = $("h2")[0].innerHTML;
		operDetail = operDetail+",继续学习";
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/course_detail.html"},
			success:function(result){
			}
		});	
		window.location.href = "@url("/pub/chapter/toChapterDetail.action?")courseId=@courseView.getId()&chapterId=@courseView.getLastChapterId()"
	}
	
	function collectinoFun(){
		@if(WebContext.isGuest()) {
			logoutFun();
		} else {
			$.ajax({
				url:"@url("/pub/course/collectCourse.action?courseId=")@courseView.getId()",
				success:function(result){
					location.reload();
				}
			});
		}
	}
	function cancelCollectinoFun(){
		$.ajax({
			url:"@url("/pub/course/cancelCollectCourse.action?courseId=")@courseView.getId()",
			success:function(result){
				location.reload();
			}
		});
	}
</script>
}
