@args CourseView courseView
@import(){ com.cloudsoaring.web.course.view.CourseView,
com.cloudsoaring.web.course.constant.CourseMsgNames,
com.cloudsoaring.web.course.constant.CourseConfigNames,
com.cloudsoaring.web.course.constant.CourseStateConstants,
com.cloudsoaring.web.course.view.ChapterView,
com.cloudsoaring.web.course.entity.CourseEntity,
com.cloudsoaring.web.bus.entity.TagEntity,
com.cloudsoaring.web.trainingplatform.utils.*,
com.cloudsoaring.web.points.entity.*,
com.cloudsoaring.web.pointmanager.constant.PointStateConstants,
java.math.BigDecimal, com.cloudsoaring.web.course.common.utils.* 
} 
@{
String shareTime = DateUtil.getDateString(courseView.getShareTime(),DateUtil.DATE_PATTERN_12 ); 
}
@{ 
	final Boolean showDiscuss = (courseView.getFlagDiscuss())!= null && (MessageUtil.getMessage(CourseStateConstants.FLAG_ON)).equals(courseView.getFlagDiscuss())? true : false;
}
@extends(client,title:getPageTitle(title) )
<link rel="stylesheet" href="@WebContext.url("/css/course_detail.css")"/>
<link rel="stylesheet" href="@url("/css/mydirective.css")"/>
<link rel="stylesheet" href="@WebContext.url("/js/course_public/bootstrap/css/bootstrap.min.css")"/>
<link rel="stylesheet" href="@WebContext.url("/js/course_public/font-awesome/css/font-awesome.min.css")"/>
<link rel="stylesheet" href="@WebContext.url("/js/course_public/css/newblue.css")"/>
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<div class="container" style="background: #ffffff;">

    <div class="blog-detail">
        <div id="puinfo">
            <div id="puinfobody">
                <h3>@courseView.getShareComment()</h3>
                <p>分享者：@courseView.getShareUserId()
                    &nbsp;&nbsp;分享日期：<span class="item-time"><i class="icon-time"></i><a>@shareTime</a></span>
                </p>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content">
            <div class="col-md-2 col-sm-2">&nbsp;</div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p style="margin-top: 0px; margin-bottom: 0px;  font-size: 14px; white-space: normal;">
                	<strong>@courseView.getTitle()</strong>
                </p>
                <p style="margin-top: 20px;margin-top: 0px; margin-bottom: 0px; font-size: 14px; white-space: normal;">@courseView.getContent().raw()</p>
                <p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; white-space: normal;">
                	<img onclick="courseDetail('@courseView.getId()');" src="/pblMgr/pub/image.action?fileId=@courseView.getPictureId()" width="500" height="348" style="margin-right: auto; margin-left: auto; height: auto;">
                </p>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
       <div ng-app="myApp" ng-controller="ctrTabs">
	       <div class="w">
			<ul class="course-menu">
				<li ng-repeat=" item in tabs" class="ng-scope">
					<a class="div_tab_li_active" ng-click="changeTab($index)" ng-bind="item.name" style="position: relative;margin-right: 40px;display: inline-block;padding: 0;font-size: 16px;color: #b60005 !important;cursor: default;line-height: 37px;font-weight: bold;">课程评论</a>
				</li>
			</ul>
			</div>
	        <div id="id_discuss" class="course-description course-wrap" style="width: 80%;margin: auto; box-shadow: rgba(7, 17, 27, 0) 0px 8px 16px 0px;padding-top: 0px;">
				@discuss_list_public(url:"/pub/discuss/discussList.action",linkId:courseView.getId(),linkType:CourseStateConstants.LINK_TYPE_COURSE)
			</div>
		</div>
    </div>
</div> 
<script>
function courseDetail(courseId){
	var operDetail = $("h3")[0].innerHTML;
	window.open('/pblMgr/pub/course/courseDetailInit.action?courseId='+courseId,'_self');
}
myApp.controller("ctrTabs",["$scope",function($scope){
	$scope.tabs = new Array();
	@if(showDiscuss){
		var map = {name:"@MessageUtil.getMessage("公开课评论")",activeClass:"div_tab_li",id:"id_discuss"};
		$scope.tabs.push(map);
	}
	//激活的选项卡ID
	$scope.activeIndex = 0;
	
	//点击选项卡
	$scope.changeTab = function(index){
		if(index != $scope.activeIndex){
			//切换选中的选项卡
			changeTab($scope.tabs[$scope.activeIndex].id,$scope.tabs[index].id,index);
			$scope.tabs[$scope.activeIndex].activeClass = "div_tab_li";
			$scope.tabs[index].activeClass = "div_tab_li_active";
			$scope.activeIndex = index;
		}
	};
	var hashIndex = window.location.hash;
	if(hashIndex!=null&&hashIndex!=undefined&&hashIndex!=''&&hashIndex.length>1){
		var ii = hashIndex.substring(1);
		$scope.changeTab(ii);
	}
}]);
</script>