@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.view.HomeworkView,
	com.cloudsoaring.web.course.entity.HomeworkAnswerQuestionEntity
}
@args HomeworkAnswerQuestionEntity aq,HomeworkView homeWork,
@{
	final String fileSizeLimit ="102400";
}
@extends(client, title:"")
<div style="width: 60%;height: 250px;margin-left:auto;margin-right:auto;">
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业内容：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getContent()</div>
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业附件：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px"><a id="@homeWork.getFileId()" onclick="downloadHomeWork(this.id)">@homeWork.getFileRealName()</a></div>
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>创建时间：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateTime()</div>
    </div>
    <div class="row" style="height: 80px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>学生姓名：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateUser()</div>
    </div>
</div>
<script>
function downloadHomeWork(id){
	window.open('@url("/pub/course/download.action")?fileId='+id+'&fileType=homework','_blank');
}
function closeWindow() {
	window.opener=null;
	window.open('','_self');
	window.close();
}
</script>
<div style="width: 60%;height: 200px;margin-left:auto;margin-right:auto;background: #fff;">
@form("answerQuestion-form"){
	 @row(){
	      @textarea(
	         groupcss:"col-12",   
	        label:MessageUtil.getMessage("评论内容"), 
	        id:"content", 
	        maxlength:"400", 
	        height:"100px",
	        value:aq.getContent(), 
	     )
	}
	 @row(){
		@hidden({id:"answerId",value:homeWork.getId()})
	}
     @btnbox(){
       @button_save(width:100,label:"保存")
       @button_close(width:100, onclick:"closeWindow")
    } 
}
</div>
<script>
function save(){
	@if(WebContext.isGuest()) {
		toLoginFun(window.location.href);
	}else{
		var content = $("#content").val();
		if(content=='' || content == undefined){
			noticeError('@MessageUtil.getMsgAndNote("评论内容不能为空！", "ab01011.txt.validate.empty.note.content")')
		}else{
			var params = new FormData($('#answerQuestion-form')[0]);
			//发送评论
			$.ajax({ 
                url: "@url("/pub/course/saveHomeWorkAnswerQuestion.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                contentType:false,  
                processData:false, 
                success: function(result){
                	if(result.status){
                		window.location.reload();
						noticeInfo('@MessageUtil.getMsgAndNote("保存成功！", "ab01011.txt.oprate.write.ok")');
					}else{
						noticeError(result.messages);
					}
                }
            });
				
		}
	}
};
</script>
<div style="background:white;width: 60%;margin-left: auto;margin-right: auto;margin-top: 20px;">
	@line_list_answer(url:("/pub/course/answerQuestionList.action?answerId="+homeWork.getId()+"&sortName=createDate&sortOrder=desc"), pageSize:5){
		@list_item(renderItemFunction:"renderItemContent"){
			<div style="position: relative;background-color: #ffffff;height: 100px;font-size: 12px;box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);border-radius: 15px;">
    			<div style="margin:20px 0px 30px 30px;float:left;min-width:80px;">
      				 <img style="border-radius: 100%;" src="@url("/pub/image.action?fileId=%questionUserImage")" width="40" height="40">
     				 <span class="name">%questionUserName</span>
   				 </div>
				<div style="padding:30px 5px 5px 10px;display:table;">
					<div style="display:table-row;">
						<div class="animgNo" style="display:block;">
							<span style="padding-left:20px;">
								%title
							</span>						
						</div>						     
					</div>	
					<div style="display:table-row;">
						<div style="padding-top: 10px;padding-bottom: 10px;padding-right:80px;">
							<span  style="color: #999;font-size: 12px;">时间：%questionCreateDate
             				</span>
             			</div>
					</div>	
				</div>
				<div style="clear: both;"></div>
  		</div>
		}
	}

<script>
function renderItemContent(itemContent, obj) {
	return itemContent.replace(/%title/g,obj.content)
	.replace(/%questionUserName/g, replaceNull(obj.questionUserName))
	.replace(/%questionUserImage/g, replaceNull(obj.questionUserImage))
	.replace(/%questionCreateDate/g,replaceDate(obj.createDate));
}
function replaceDate(str){
  	if(str == null || str == "undefind"){
		return "";
	}else{
		return dateFormat(str);
	}
  }
function replaceNull(str){
	if(str == null || str == "undefind"){
		return "";
	}else{
		return str;
	}
}
    
</script>
</div>