@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.view.HomeworkView
}
@args HomeworkView homeWork
@{
	final String fileSizeLimit ="102400";
}
@extends(client, title:"")
<div style="width: 60%;height: 1000px;margin-left:auto;margin-right:auto;background: #fff;">
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业内容：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getStudentComment().raw()</div>
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业附件：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px"><a id="@homeWork.getFileId()" onclick="downloadHomeWork(this.id)">@homeWork.getFileRealName()</a></div>
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>创建时间：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateTime()</div>
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>学生姓名：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateUser()</div>
    </div>
	<div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_close(width:100, onclick:"closeWindow")</span>
        </div>
    </div>
</div>
<script>
function downloadHomeWork(id){
	window.open('@url("/pub/course/download.action")?fileId='+id+'&fileType=homework','_blank');
}
function closeWindow() {
	window.opener=null;
	window.open('','_self');
	window.close();
}
</script>