@args int num ,Boolean isLogin
@import(){  
    com.cloudsoaring.web.course.constant.HtmlAppConfig;
}
@{
    HtmlAppConfig htmlAppConfig = new HtmlAppConfig();
    String ipConfig = htmlAppConfig.getIpConfig();
}
@extends(client,title:getPageTitle("PBL平台"), "text_course")
<script type="text/javascript" src="@WebContext.url("/js/jquery1.8.3.js")"></script>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/font_680193_mlx1ll180gc1h5mi.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/swiper.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/editor.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/chrome.css")">
<script src="@WebContext.url("/js/homepage/js/swiper.js")"></script>
<link rel="stylesheet" href="@WebContext.url("/css/banner.css")" type="text/css" />
<script type="text/javascript" src="@WebContext.url("/js/switch.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/wySilder.min.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/jquery.base64.js")"></script>
<style>
.point {
	position: absolute;
    top: 16px;
    right: 30px;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    z-index: 1000;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
</style>
<div class="js-silder" style="background-color: white;margin-top: 0px;">
   <div class="silder-scroll">
		<div class="silder-main">
			<div class="silder-main-img">
				<img src="../../images/homePage/PBL.png" alt="">
			</div>
			<div class="silder-main-img">
				<img src="../../images/homePage/newfactory.png" alt="">
			</div>
			<div class="silder-main-img">
				<img src="../../images/homePage/active.png" alt="">
			</div>
		</div>
	</div>
</div>
<div class="indexwrap5">
	<h2 class="text-center">我们的特色</h2>
	<section class="box center-block">
	<ul>
	<li class="box-li pull-left">
	<div class="intro">
	<img class="center-block" src="../../images/homePage/top2_1_1.png" alt="" style="">
	<p class="text text-center">课工场</p>
	</div>
	<div class="fixed-box">
	<img class="center-block" src="../../images/homePage/top2_1_1.png" alt="" style="">
	<p class="text text-center">课工场</p>
	<p class="detail text-center">优质课程基地</p>
	<p class="detail text-center">课程分享</p>
	<p class="detail text-center">课程展示</p>
	</div>
	</li>
	<li class="box-li pull-left">
	<div class="intro">
	<img class="center-block" src="../../images/homePage/huodong.png" alt="" style="">
	<p class="text text-center">过程性记录</p>
	</div>
	<div class="fixed-box">
	<img class="center-block" src="../../images/homePage/huodong.png" alt="" style="">
	<p class="text text-center">过程性记录</p>
	<p class="detail text-center">活动观察</p>
	<p class="detail text-center">活动记录</p>
	<p class="detail text-center">活动总结</p>
	</div>
	</li>
	<li class="box-li pull-left">
	<div class="intro">
	<img class="center-block" src="../../images/homePage/top2_3_1.png" alt="" style="">
	<p class="text text-center">紧密结合教育应用</p>
	</div>
	<div class="fixed-box">
	<img class="center-block" src="../../images/homePage/top2_3_1.png" alt="" style="">
	<p class="text text-center">紧密结合教育应用</p>
	<p class="detail text-center">课程结合多种最新教育理念、教育方法及教育模式</p>
	</div>
	</li>
	</ul>
	</section>
</div>
<div class="indexwrap6" style="text-align: center;">
    <h2 class="text-center">满足教学功能需求</h2>
    <section class="box center-block" style="margin: auto;">
        <div class="img-box">
            <img class="img img1" src="../../images/homePage/top3_1.png" style="top: 0px;">
            <p class="img img3" style="left: 61px;">
                <img class="center-block" src="../../images/homePage/top3_3.png">
                <span class="text center-block text-center">在线学习</span>
                <!-- <span class="detail center-block text-center">多重加护方式实现循序渐进的学习过程</span> -->
            </p>
            <p class="img img4" style="left: 267px;">
                <img class="center-block" src="../../images/homePage/top3_4.png">
                <span class="text center-block text-center">辅助教学</span>
                <span class="detail center-block text-center" style=" font-family: 微软雅黑;">课件下载、课程评论、学习跟踪</span>
            </p>
            <p class="img img5" style="top: 407px;">
                <img class="center-block" src="../../images/homePage/top3_5.png">
                <span class="text center-block text-center">网络课堂</span>
                <span class="detail center-block text-center" style=" font-family: 微软雅黑;">课程考试、问卷统计</span>
            </p>
            <p class="img img6" style="left: 788px;">
                <img class="center-block" src="../../images/homePage/top3_6.png">
                <span class="text center-block text-center">活动记录</span>
                <span class="detail center-block text-center" style=" font-family: 微软雅黑;">记录课堂课前、课中、课后成果</span>
            </p>
            <p class="img img7" style="left: 999px;">
                <img class="center-block" src="../../images/homePage/top3_7.png">
                <span class="text center-block text-center">教务工具</span>
                <span class="detail center-block text-center" style=" font-family: 微软雅黑;">结合互联网优势，达到助教、助学、助考的目的</span>
            </p>
            <img class="img img8" src="../../images/homePage/top3_2.png" style="top: 150px;">
        </div>
    </section>
</div>
<div class="indexwrap7">
	<h2 class="text-center" style=" font-family: 微软雅黑;color: #242629;font-size: 42px!important;padding-top: 119px;margin: 0px;">课程优势</h2>
	<div style="width:100%;height: 30%;">
		<div style="width: 30%;float: left;margin-left: 5%;">
			<ul style="height: 100%;">
				<li style="display: block; z-index: 999; width: 100%; height: 50%; padding-top: 128px;">
					<img src="../../images/homePage/top4_1.png" alt="" style="">
				</li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 30px; font-size: 20px;font-weight: bold;">不限次数学习</p></li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 20px; font-size: 14px;">课程不限次数学习，重点知识随时回顾</p></li>
			</ul>
		</div>
		<div  style="width: 30%;float: left;">
			<ul style="height: 100%;">
				<li style="display: block; z-index: 999; width: 100%; height: 50%; padding-top: 128px;">
					<img src="../../images/homePage/top4_2.png" alt="" style="">
				</li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 30px; font-size: 20px;font-weight: bold;">自定义章节学习</p></li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 20px; font-size: 14px;">课程自定义章节学习，多级章节层次清晰</p></li>
			</ul>
		</div>
		<div  style="width: 30%;float: left;">
			<ul style="height: 100%;">
				<li style="display: block; z-index: 999; width: 100%; height: 50%; padding-top: 128px;">
					<img src="../../images/homePage/top4_3.png" alt="" style="">
				</li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 30px; font-size: 20px;font-weight: bold;">优质课程基地</p></li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 20px; font-size: 14px;">丰富教学内容、促进日常教学</p></li>
			</ul>
		</div>
	</div>
	<div  style="width:100%;">
		<div style="width: 30%;float: left;margin-left: 5%;">
			<ul style="height: 100%;">
				<li style="display: block; z-index: 999; width: 100%; height: 50%; padding-top: 128px;">
					<img src="../../images/homePage/top4_4.png" alt="" style="">
				</li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 30px; font-size: 20px;font-weight: bold;">在线测评</p></li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 20px; font-size: 14px;">在线考试、记录考试成绩</p></li>
			</ul>
		</div>
		<div  style="width: 30%;float: left;">
			<ul style="height: 100%;">
				<li style="display: block; z-index: 999; width: 100%; height: 50%; padding-top: 128px;">
					<img src="../../images/homePage/top4_5.png" alt="" style="">
				</li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 30px; font-size: 20px;font-weight: bold;">课程共享</p></li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 20px; font-size: 14px;">校内、校际课程共享</p></li>
			</ul>
		</div>
		<div  style="width: 30%;float: left;">
			<ul style="height: 100%;">
				<li style="display: block; z-index: 999; width: 100%; height: 50%; padding-top: 128px;">
					<img src="../../images/homePage/top4_6.png" alt="" style="">
				</li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 30px; font-size: 20px;font-weight: bold;">课程活动记录</p></li>
				<li style="height: 50%;list-style-type: none;"><p style="padding-top: 20px; font-size: 14px;">课程过程性活动记录</p></li>
			</ul>
		</div>
	</div>
</div>

<script  type="text/javascript" src="@WebContext.url("/js/homepage/js/index.js")"></script>
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
		<script>
$(function () {
	@if(!isLogin){
		getOrigantAjaxPost();
	}
});
function getOrigantAjaxPost() {
	var code="";
	var url = window.location.search;
	var theRequest = new Object();
	if ( url.indexOf( "?" ) != -1 ) {
		var str = url.substr( 1 ); //substr()方法返回从参数值开始到结束的字符串；
 				 var strs = str.split( "&" );
  				for ( var i = 0; i < strs.length; i++ ) {
    				theRequest[ strs[ i ].split( "=" )[ 0 ] ] = ( strs[ i ].split( "=" )[ 1 ] );
 				 }
  				code = theRequest.code;
	}
	if(code == ""){
		//window.location.href = '/pblMgr/client/login.action';
		window.location.href="https://passport.yceduyun.com/passport/oauth/authorize?client_id=1EF8798194B36D72&response_type=code&redirect_uri=@ipConfig/pub/course/homePage.action";
	}else{
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/getUserInfo.action',
			dataType:"json",
			data:{code:code,type:"1"},
			success:function(result){
				if(result[0].result == "success"){
					window.location.reload();
				}
				//location.reload(); 
				/* if (location.href.indexOf("#reloaded") == -1) {
					location.href = location.href + "#reloaded";
					location.reload();
				} */
			}
		});
	}
}
			$(function (){
	$(".js-silder").silder({
		auto: true,//自动播放，传入任何可以转化为true的值都会自动轮播
		speed: 20,//轮播图运动速度
		sideCtrl: true,//是否需要侧边控制按钮
		bottomCtrl: true,//是否需要底部控制按钮
		defaultView: 0,//默认显示的索引
		interval: 3000,//自动轮播的时间，以毫秒为单位，默认3000毫秒
		activeClass: "active",//小的控制按钮激活的样式，不包括作用两边，默认active
	});
});
</script>

