@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.view.HomeworkView
}
@args HomeworkView homeWork
@{
	final String fileSizeLimit ="102400";
}
@extends(client, title:"")
<div style="width: 60%;height: 1000px;margin-left:auto;margin-right:auto;background: #fff;">
@form("homeWork-form"){
	 @row(){
	      @textarea(
	         groupcss:"col-10",   
	        label:MessageUtil.getMessage("内容"), 
	        id:"answerContent", 
	        maxlength:"400", 
	        height:"100px",
	        value:homeWork.getContent(), 
	     )
	}
	 @row(){
	 	@file(
	        label:"上传作业",
	        required:true,
	        name:"file1",
	        fileextion: "txt, csv, doc, docx, xls, xlsx, ppt, pptx, pdf, rtf, zip,jpg,png,jpeg,bmp,tiff,gif,mp4",
	        placeholder:"请选择需要上传的文件",
	        maxFileSize: fileSizeLimit,
	        fileid: homeWork.getFileId(),
	        filename:homeWork.getFileRealName()
	    )
	 }
    @row(){
		@hidden({id:"id",value:homeWork.getId()})
	}
     @btnbox(){
       @button_save(width:100,label:"上传")
       @button_close(width:100, onclick:"closeWindow")
    } 
}
</div>
<script>
function closeWindow() {
	window.opener=null;
	window.open('','_self');
	window.close();
}
function save(){
	@if(WebContext.isGuest()) {
		toLoginFun(window.location.href);
	}else{
		var answerContent = $("#answerContent").val();
		if(answerContent=='' || answerContent == undefined){
			noticeError('@MessageUtil.getMsgAndNote("作业内容不能为空！", "ab01011.txt.validate.empty.note.content")')
		}else{
			var params = new FormData($('#homeWork-form')[0]);
			//发送评论
			$.ajax({ 
                url: "@url("/pub/course/saveHomeWorkById.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                contentType:false,  
                processData:false, 
                success: function(result){
                	if(result.status){
						noticeInfo('@MessageUtil.getMsgAndNote("保存成功！", "ab01011.txt.oprate.write.ok")');
					}else{
						noticeError(result.messages);
					}
                }
            });
				
		}
	}
};
</script>