@args int num ,Boolean isLogin,String courseId
@import(){  
    com.cloudsoaring.web.course.constant.HtmlAppConfig;
}
@{
    HtmlAppConfig htmlAppConfig = new HtmlAppConfig();
    String ipConfig = htmlAppConfig.getIpConfig();
}
@extends(client,title:getPageTitle("PBL平台"), "text_course")
<div class="iframeCls" style="margin-top: 20px;">
	  <iframe id="frameContent"  src="http://remote.hseduyun.com:50971/questionnaire_beihang/panel/index?courseId=@courseId&userId=@sessionUser.userId&userName=@sessionUser.getDisplayName()" name="frameContent"  width="100%" style="_width: 100%;"
     height="1200" scrolling="auto" frameborder="0" name="main" οnlοad="javascript:this.height=this.contentWindow.document.body.scrollHeight+30;"></iframe>
	
</div>

