@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.view.HomeworkView
}
@args HomeworkView homeWork
@{
	final String fileSizeLimit ="102400";
	final Boolean isMakerFlag = (homeWork.getIsMakerFlag())!= null && ("1").equals(homeWork.getIsMakerFlag()) ? true : false;
}
@extends(client, title:"")
<style>
	.home_work{
		width: 60%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		margin-top: 40px;
		background: #fff;
	}
	.home_work img{
		width:250px;	
	}
	.home_work video{
		width:250px;	
	}
</style>
<div class="home_work">
    <div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业内容：</span></div>
            </div>
        </div>
        @if(isMakerFlag){
         <div class="col-lg-8" style="margin-top: -5px;">
			<button id="" class="btn btn-normal " style="width:100px;" data-content="打开" type="button" onclick="openMaker();"><b class="fa fa-check">打开作业</b></button>
			<input type="hidden" id="userId" value="@sessionUser.getUserId()">
			<input type="hidden" id="answerUserId" value="@homeWork.getAnswerUser()">
		</div>	
        }else{
        	<div class="col-lg-8" style="font-size:16px">@homeWork.getStudentComment().raw()</div>
        }
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>创建时间：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateTime()</div>
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;padding-bottom: 30px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>学生姓名：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateUser()</div>
    </div>
	<!-- <div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_close(width:100, onclick:"closeWindow")</span>
        </div>
    </div> -->
</div>
@form("homeWork-form"){
	@hidden({id:"id",value:homeWork.getId()})
	<div class="home_work" style="margin-top: 20px;">
		<div style="font-size: 18px;font-family: 微软雅黑;margin-left: 10px;padding-top: 10px;">教师评价</div>
		<div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
	        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
	        <div class="col-lg-2" style="font-size:16px">
	            <div class="row" style="background-color: #ffffff;">
	                <div class="col-lg-12"><span>评价方式：</span></div>
	            </div>
	        </div>
	        @if(homeWork.getScore() != null){
	        	<div class="col-lg-8" style="font-size:16px">标准分数方式</div>
	        }else{
	        	<div class="col-lg-8" style="font-size:16px">多元评价方式</div>
	        }
    	</div>
    	 @if(homeWork.getScore() != null){
    	 	<div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
		        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
		        <div class="col-lg-2" style="font-size:16px">
		            <div class="row" style="background-color: #ffffff;">
		                <div class="col-lg-12"><span>分数：</span></div>
		            </div>
		        </div>
		        <div class="col-lg-8" style="font-size:16px">@homeWork.getScore()</div>
	    	</div>
    	 }else{
    	 	<div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
		        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
		        <div class="col-lg-2" style="font-size:16px">
		            <div class="row" style="background-color: #ffffff;">
		                <div class="col-lg-12"><span>综合评价</span></div>
		            </div>
		        </div>
		        <div class="col-lg-8" style="font-size:16px">@homeWork.getTeacherComment()</div>
	    	</div>
    	 }
    	 <div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;padding-bottom: 20px;">
		        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
		        <div class="col-lg-2" style="font-size:16px">
		            <div class="row" style="background-color: #ffffff;">
		                <div class="col-lg-12"><span>评语：</span></div>
		            </div>
		        </div>
		        <div class="col-lg-8" style="font-size:16px">@homeWork.getTeacherEvalution().raw()</div>
	    	</div>
	</div>
}
<script>
function openMaker(){
	var userId = $("#userId").val();
	var answerUserId = $("#answerUserId").val();
	var id = $("#id").val();
	$.ajax({ 
        url: "@url("/pub/course/getCourseNameByAnswerId.action")",
        data:{"id":id},
        method:"post",  
        bodyMsg:true,
        success: function(result){
        	var chapterId = result[0].chapterId;
        	var chapterName = result[0].chapterName;
        	var courseName = result[0].courseName;
        	var jsonObj = {"chapterId":chapterId, "userId":userId,homeworkUserId:answerUserId,"chapterName":chapterName, "courseName":courseName,"isOpenHomeWork":true};
        	if(IsPC()){
        		UNI_StartHomeWork(JSON.stringify(jsonObj));
        	}else{
        		window.location.href ="uniwebview://UNI_StartHomeWork?parm1="+JSON.stringify(jsonObj);
        	}
        }
    });
}
function IsPC(){
	 var userAgentInfo = navigator.userAgent;
	 var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
	 var flag = true;
	 for (var v = 0; v < Agents.length; v++){
		 if(userAgentInfo.indexOf(Agents[v]) > 0){
			 flag = false;
			 break;
		}
	 }
	 return flag;
}
</script>