@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.view.HomeworkView
}
@args HomeworkView homeWork
@{
	final String fileSizeLimit ="102400";
	final Boolean isMakerFlag = (homeWork.getIsMakerFlag())!= null && ("1").equals(homeWork.getIsMakerFlag()) ? true : false;
}
@extends(client, title:"")
<style>
	.home_work{
		width: 60%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		margin-top: 40px;
		background: #fff;
	}
	.home_work img{
		width:250px;	
	}
	.home_work video{
		width:250px;	
	}
</style>
<div class="home_work">
    <div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业内容：</span></div>
            </div>
        </div>
        @if(isMakerFlag){
         <div class="col-lg-8" style="margin-top: -5px;">
			<button id="" class="btn btn-normal " style="width:100px;" data-content="打开" type="button" onclick="openMaker();"><b class="fa fa-check">打开作业</b></button>
			<input type="hidden" id="userId" value="@sessionUser.getUserId()">
			<input type="hidden" id="answerUserId" value="@homeWork.getAnswerUser()">
		</div>	
        }else{
        	<div class="col-lg-8" style="font-size:16px">@homeWork.getStudentComment().raw()</div>
        }
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>创建时间：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateTime()</div>
    </div>
    <div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;padding-bottom: 30px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>学生姓名：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getCreateUser()</div>
    </div>
    <!-- <div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业内容：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homeWork.getStudentComment().raw()</div>
    </div> -->
	<!-- <div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_close(width:100, onclick:"closeWindow")</span>
        </div>
    </div> -->
</div>
@form("homeWork-form"){
	@hidden({id:"id",value:homeWork.getId()})
	<div class="home_work" style="margin-top: 20px;">
		<div style="font-size: 18px;font-family: 微软雅黑;margin-left: 10px;padding-top: 10px;">教师评价</div>
		@combobox(
	              label:MessageUtil.getMessage("评价方式"),
	              popplace:"left",  
	              options:CodeFactory.getCodeList(CourseStateConstants.REVIEW_TYPE),
	              required:true, 
	              groupcss:"col-6",
	              disabled:false,
	              onChange:"typeChange"
	     )
	     <div id="scoreDiv" style="display: none;">
	     	@input(label:"分数", name:"score", groupcss:"col-6",  maxlength:"10",required:false, value:homeWork.getScore())
		</div>
		<div id="reviewDiv" style="display: none;">
            @combobox(
	              label:MessageUtil.getMessage("综合评价"),
	              popplace:"left",  
	              name:"teacherComment",
	              options:CodeFactory.getCodeList(CourseStateConstants.REVIEW_TOTAL),
	              required:true, 
	              groupcss:"col-6",
	              disabled:false
	     )
		</div>
		@ue_image_video(height:"200px",width:"100%", value:homeWork.getTeacherEvalution(), disabled:false)
		<div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;padding-bottom: 20px;">
	        <div class="col-lg-12" style="text-align:center;margin-top:20px;">
	            @button_save(width:100)
				@button_back(width:100)
	        </div>
	    </div>
	</div>
}
<script>
function openMaker(){
	var userId = $("#userId").val();
	var answerUserId = $("#answerUserId").val();
	var id = $("#id").val();
	$.ajax({ 
        url: "@url("/pub/course/getCourseNameByAnswerId.action")",
        data:{"id":id},
        method:"post",  
        bodyMsg:true,
        success: function(result){
        	var chapterId = result[0].chapterId;
        	var chapterName = result[0].chapterName;
        	var courseName = result[0].courseName;
        	var jsonObj = {"chapterId":chapterId, "userId":userId,homeworkUserId:answerUserId,"chapterName":chapterName, "courseName":courseName,"isOpenHomeWork":true};
        	if(IsPC()){
        		UNI_StartHomeWork(JSON.stringify(jsonObj));
        	}else{
        		window.location.href ="uniwebview://UNI_StartHomeWork?parm1="+JSON.stringify(jsonObj);
        	}
        }
    });
}
function IsPC(){
	 var userAgentInfo = navigator.userAgent;
	 var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
	 var flag = true;
	 for (var v = 0; v < Agents.length; v++){
		 if(userAgentInfo.indexOf(Agents[v]) > 0){
			 flag = false;
			 break;
		}
	 }
	 return flag;
}
function typeChange(value){
	var scoreDiv = $("#scoreDiv")[0].style.display;
	var reviewDiv = $("#reviewDiv")[0].style.display;
	if(value == 0){
		$("#scoreDiv")[0].style.display ='block';
		$("#reviewDiv")[0].style.display = 'none';
		 ue.setContent("");
	}else if(value == 1){
		$("#scoreDiv")[0].style.display ='none';
		$("#reviewDiv")[0].style.display = 'block';
		ue.setContent('<table align="left" interlaced="enabled"><tbody><tr class="ue-table-interlace-color-single firstRow"><td width="150" '+
				'valign="middle" style="word-break: break-all; border-width: 1px; border-style: solid;" align="center" height="32">自主探究评价：'+
				'</td><td width="510" valign="middle" style="word-break: break-all; border-width: 1px; border-style: solid;" align="left" '+
				'height="32"><br/></td></tr><tr class="ue-table-interlace-color-double"><td width="150" valign="middle" style="word-break: break-all;'+
				'border-width: 1px; border-style: solid;" align="center" height="32">合作与竞争评价：</td><td width="510" valign="top" style="border-width: 1px;'+
				'border-style: solid; word-break: break-all;" height="32">&nbsp; &nbsp; &nbsp;<br/></td></tr><tr class="ue-table-interlace-color-single">'+
				'<td width="150" valign="middle" style="word-break: break-all; border-width: 1px; border-style: solid;" align="center" height="32">'+
				'实效与时效评价：</td><td width="510" valign="top" style="border-width: 1px; border-style: solid; word-break: break-all;" height="32">'+
				'<br/></td></tr><tr class="ue-table-interlace-color-double"><td width="150" valign="middle" style="word-break: break-all; border-width: 1px; '+
				'border-style: solid;" align="center" height="32">创新与激励评价：</td><td width="510" valign="top" style="border-width: 1px; border-style: '+
				'solid; word-break: break-all;" height="32"><br/></td></tr></tbody></table><p><br/></p>');
		
	}
}
function save(){
	var params = new FormData($('#homeWork-form')[0]);
 	var baseInfo = $('#base-form').serializeObject();
    baseInfo.content = ue.getContent();
    if(baseInfo.content.indexOf('preload="none"') > 0){
    	baseInfo.content= baseInfo.content.replace('preload="none"','');
    }
    baseInfo.id = getValue($('#id'));
    var scoreDiv = $("#scoreDiv")[0].style.display;
	var reviewDiv = $("#reviewDiv")[0].style.display;
	if(scoreDiv == "block" && $("#score")[0].value.trim() == ""){
		noticeError('请填写分数！');
		return false;
	}
	if(reviewDiv == "block" && $("#teacherComment")[0].value.trim() == ""){
		noticeError('请填写综合评价！');
		return false;
	}
	if(scoreDiv == "none" && reviewDiv == "none"){
		noticeError('请选择评价方式！');
		return false;
	}
	baseInfo.score = $("#score")[0].value.trim();
	//baseInfo.teacherComment = $("#teacherComment")[0].value;
	baseInfo.teacherComment = $("#teacherComment").find("option:selected").text();
	params.append("courseJson", JSON.stringify(baseInfo));
	 $.ajax({ 
        url: "@url("/pub/course/saveHomeWorkReviewById.action")",
        data:params,
        method:"post",  
        bodyMsg:true,
        mask:true,
        contentType:false,  
        processData:false, 
        success: function(result){
        	if(result.status){
				noticeInfo('@MessageUtil.getMsgAndNote("保存成功！", "ab01011.txt.oprate.write.ok")');
				 window.history.go(-1);
			}else{
				noticeError(result.messages);
			}
        }
    });
}
</script>