@args String linkId,String linkType,String qaQuestionId,String sendPoint
@extends(client,title:"")
@import(){
	com.cloudsoaring.common.utils.*,
}
@{
	final  String headurl=url("/pub/faq/faqCourseChapterhead.action?linkId=")+linkId+"&linkType="+linkType+"&qaQuestionId="+qaQuestionId;
	
}
<style>
.qa-header{
padding-top:30px; 
position: relative;
padding-left:30px;
padding-right:30px;
box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
}
.qa-header img{
	border-radius:100% ;
}
.qa-header .name{
	position: absolute;
    top: 45px;
    padding-left: 20px;
    font-size: 15px;
    font-style: normal;
    color: black;
    font-family: 微软雅黑;
}
.qa-header a:hover .name{
	color:red;
}
.qa-wenda-title {
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    padding-left: 50px;
    margin-top: 0px;
}
.rich-text {
  margin-top: 5px;
}
.qa-disscus {
	line-height: 20px;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 50px;
    font-family: 微软雅黑;
}
#js-content-main{
	
	padding-left:20px;
}

.qa-content-addon {
	position: relative;
    font-size: 12px;
    color: #d0d6d9;
    padding-bottom: 10px;
    padding-left: 70px;

}
.qa-createtime {
margin-right: 20px;
color: #c8cdd2;
line-height: 24px;
}
.qa-course-from:link, .qa-course-from:visited {
color: #c8cdd2;
line-height: 24px;
}
.r{
	float:right;
	padding-right: 50px;
}

.qa-content-addon a:hover {
color: #cc0000;
}

.qa-comment-wrap {
  padding: 10px 0;
  position: relative;
}

.qa-comment-author {
  float: left;
  line-height: 1em;
  width: 90px;
  padding-top: 10px;
  text-align: center;
}
.qa-comment-author a {
  font-size: 12px;
}
.qa-comment-author a:link {
  color: #787d82;
}
.qa-comment-author a:hover {
  color: #f01400;
}
.qa-comment-author img {
  width: 50px;
  border-radius: 50%;
}
.qa-comment-nick {
    position: absolute;
    top: 40px;
    padding-left: 22px;
    font-size: 15px;
    font-style: normal;
    color: black;
    font-family: 微软雅黑;
}
.qa-comment {
  position: relative;
  min-height: 80px;
}
.qa-comment-d {
  position: relative;
}
.qa-comment-c {
  line-height: 20px;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
.imgPreview img {
  cursor: pointer;
}
.qa-comment-addon {
  position: relative;
  font-size: 12px;
  color: #c8cdd2;
  padding-bottom: 20px;
}
.qa-comment-addon-r {
  position: absolute;
  right: 0;
  top: 10px;
  line-height: 24px;
}
.qa-comment-time {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 12px;
  color: #c8cdd2;
}
.qa-comment-send{
	position: absolute;
  right: 100px;
  top: 5px;
  bottom:5px;
  font-size: 18px;
  color: red;
}
.qa-comment-adopt{
    position: absolute;
    right: 130px;
    top: 0px;
    font-size: 12px;
    color: #b60005;
}
</style>

@assign("user"){
	<img src="@url("/pub/image.action?fileId=%image")" style="border-radius:100%;margin-left:20px;" width="50" height="50"> 

}
@assign("headerOne"){
	<div class="qa-header" > 
		<div>            
    		<span class="qa-author"><img src="@url("/pub/image.action?fileId=%image")" width="50" height="50"> 
    		<i class="name">%questionUserName</i></span>
    	</div>   
	
		<div id="js-content-main" >
    		<h1 class="qa-wenda-title">%title</h1>
     		<div id="js-qa-content" class="qa-disscus rich-text">
     			<p>%content</p>
     		</div>
		</div>
		<div class="qa-content-addon">
    		<span class="qa-createtime " >
    			%createDate			
    		</span>
                   
    		<span class="qa-course-from">%answerFromTitle
    		</span>
    		<span class="r">%viewNum&nbsp;浏览</span>
    		<span class="r" style="padding-right:30px;">%answerCount&nbsp;回答</span>
		</div>
	</div>
}
<div style="width: 1152px;margin: auto;margin-top: 30px;">
	<div id="qa-header-one" style="background-color: white;border-radius: 12px;"></div>
	
	@line_list(url:("/pub/faq/questionDetail.action?linkId="+linkId+"&linkType="+linkType+"&qaQuestionId="+qaQuestionId), pageSize:5,nullDateLabel:"暂无回答"){
		@list_item(renderItemFunction:"renderItemContent"){
			<div class="qa-comment ">
				<div class="qa-comment-wrap  ">
        			<div class="qa-comment-author">
            			<span  title=%userName>
               				 <img src="@url("/pub/image.action?fileId=%image")" width="50" height="50" style="border-radius:100%;">
                			<span class="qa-comment-nick">%userName</span>
            			</span>
        			</div>
        			<div class="qa-comment-d ">           
            			<div class="qa-comment-c imgPreview">
                			<div class="rich-text" style="padding-right: 50px;padding-top: 45px;">
                    			<p>%content</p>
                			</div>                    
            			</div>
            			<div class="qa-comment-addon">
            				<span class="qa-comment-adopt" style="%ishadden">已采纳</span>
            				<a href="javascript:void(0)" onclick="adoptQuestion('%answerId','%userId')" target='_blank' class="qa-comment-send" style="%isShow">采纳</a>
                			<span class="qa-comment-time">%answerCreateDate</span>                  
            			</div>
        			</div>
    			</div>                   
			</div>
	
		}

	}

	
<script type="text/javascript">

	
	function renderItemContent(itemContent, obj) {
		var ishadden="visibility:hidden";
		var isShow="visibility:hidden";
		if(obj.send){
			ishadden="visibility:visible";
		}
		if(obj.adopt){
			isShow="visibility:visible";
		} 

		return itemContent.replace(/%userName/g,replaceNull(obj.userName))
					.replace(/%image/g, replaceNull(obj.image))
					.replace(/%content/g, replaceNull(obj.content))
					.replace(/%answerCreateDate/g,replaceDate(obj.createDate))
					.replace(/%isShow/g,ishadden)
					.replace(/%answerId/g,replaceNull(obj.id))
					.replace(/%userId/g,replaceNull(obj.userId))
					.replace(/%ishadden/g,isShow);
					
	}
	
		function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
		function replaceOr(str){
    		if(str){
    			return str;
    		}
    		return "0";   
    	} 
    function replaceDate(str){
    	if(str == null || str == "undefind"){
				return "";
			}else{
				return dateFormat(str);;
			}
    }
    
    
</script>

	<div style="position:relative;background:white;height:350px;;margin-top: 30px;padding-top: 30px;border-radius: 12px;box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);">
		<div id="userOne">
			
		</div>
 			
 			<div style="position: absolute;top: 11px;margin-left: 80px;margin-right: 30px;">
 			 	@ue_image_video(label:"", height:150,width:"100%", value:"")
 			</div>
 		
			<div style="position: absolute;top:280px;right:30px;">
				@btnbox(align:"right"){
					@button(label:"发布",iconcss:"fa fa-plus",onclick:"release",innerType:"", id:"btnAdd")				
				}	
			</div>
 			
 	</div>
 		


</div>
<script>
   $( headerInit());
    $(  MyUser());
  
    function headerInit(){
    	$.ajax({
			url:"@headurl",
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){
					var obj = result.data;
					var answerFromTitle="";
					if(obj.answerFromTitle){
						answerFromTitle="源自："+hideStringByMax(obj.answerFromTitle,40);
					}
					$("#qa-header-one").html('@es(headerOne).raw()'.replace(/%image/g,replaceNull(obj.questionUserImage))
					.replace(/%questionUserName/g,replaceNull(obj.questionUserName))
					.replace(/%title/g,replaceNull(obj.title))
					.replace(/%content/g,replaceNull(obj.content))
					.replace(/%createDate/g,replaceDate(obj.createDate))
					.replace(/%answerFromTitle/g,answerFromTitle)
					.replace(/%viewNum/g,replaceOr(obj.viewNum))
					.replace(/%answerCount/g,replaceOr(obj.answerCount))
					);					
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
    
    
    }
    function MyUser(){
    	$.ajax({
			url: "@url("/pub/faq/searchUser.action")",
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){
					var obj = result.data;			
					$("#userOne").html('@es(user).raw()'.replace(/%image/g,replaceNull(obj.image))					
					
					);					
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
    
    }

	//发布
    function release(){   	   	
    	 	var qaQuestionId="@qaQuestionId";
    	 	var content= ue.getContent();
    	 	if(!content){
    	 	    return warning("请输入回复内容！");
    	 	}    	 	
    	 	$.ajax({ 
                url: "@url("/pub/faq/publishAnswer.action")",
                data:{qaQuestionId:qaQuestionId,content:content},
                method:"post",  
                bodyMsg:true,
                mask:true,
                success: function(result){
                	if(result.status){
                   		bodyMessage('success', result.messages)
                   		listReflash();
                   		headerInit();
                   }else{
                   		bodyMessage('danger',result.messages);
                   }
                }
            });
    	 
    	 }
    
    function adoptQuestion(id,userId){
    	var sendPoint=replaceOr("@sendPoint");
    		$.ajax({ 
                url: "@url("/pub/faq/adoptQuestion.action")",
                data:{linkId:"@linkId",linkType:"@linkType",qaQuestionId:"@qaQuestionId",sendPoint:sendPoint,id:id,userId:userId},
                method:"post",  
                bodyMsg:true,
                mask:true,
                success: function(result){
                	if(result.status){
                		bodyMessage('success', "成功采纳")
                   		listReflash();
                   		headerInit();
                   }else{
                   		bodyMessage('danger',result.messages);
                   }
                }
            });
    }
 
    
      function replaceDate(str){
    	if(str == null || str == "undefind"){
				return "";
			}else{
				return dateFormat(str);;
			}
    }
    
    	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
    function replaceOr(str){
    	if(str){
    		return str;
    	}
    	return "0";   
    } 

</script>
