@args String courseId = "",String linkType="1"
@extends(client,title:"")
@{
		final String getAllUserOperScore = url("/pub/courseER/getAllUserOperScore.action);
}
@import(){
com.cloudsoaring.web.course.constant.*;
}
<div id="score" style="width: 50%; height: 50%">
</div>

<script type="text/javascript">
var dom = document.getElementById("score");
var myChart = echarts.init(dom);
var app = {};
option = null;
var posList = [
    'left', 'right', 'top', 'bottom',
    'inside',
    'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
    'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
];

app.configParameters = {
    rotate: {
        min: -90,
        max: 90
    },
    align: {
        options: {
            left: 'left',
            center: 'center',
            right: 'right'
        }
    },
    verticalAlign: {
        options: {
            top: 'top',
            middle: 'middle',
            bottom: 'bottom'
        }
    },
    position: {
        options: echarts.util.reduce(posList, function (map, pos) {
            map[pos] = pos;
            return map;
        }, {})
    },
    distance: {
        min: 0,
        max: 100
    }
};

app.config = {
    rotate: 90,
    align: 'left',
    verticalAlign: 'middle',
    position: 'insideBottom',
    distance: 15,
    onChange: function () {
        var labelOption = {
            normal: {
                rotate: app.config.rotate,
                align: app.config.align,
                verticalAlign: app.config.verticalAlign,
                position: app.config.position,
                distance: app.config.distance
            }
        };
        myChart.setOption({
            series: [{
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }]
        });
    }
};


var labelOption = {
    normal: {
        show: true,
        position: app.config.position,
        distance: app.config.distance,
        align: app.config.align,
        verticalAlign: app.config.verticalAlign,
        rotate: app.config.rotate,
        formatter: '{c}  {name|{a}}',
        fontSize: 16,
        rich: {
            name: {
                textBorderColor: '#fff'
            }
        }
    }
};

option = {
	title:{
		text: '所有人员各科目操作得分分布图',
		 x:'left'
	},
    color: ['#003366', '#006699', '#4cabce', '#e5323e','#003366'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: ['Forest', 'Steppe', 'Desert', 'Wetland','test']
    },
    toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
            mark: {show: true},
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    calculable: true,
    xAxis: [
        {
            type: 'category',
            axisTick: {show: false},
            data: ['2012', '2013', '2014', '2015', '2016']
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [
        {
            name: 'Forest',
            type: 'bar',
            barGap: 0,
            label: labelOption,
            data: [320, 332, 301, 334, 390]
        },
        {
            name: 'Steppe',
            type: 'bar',
            label: labelOption,
            data: [220, 182, 191, 234, 290]
        },
        {
            name: 'Desert',
            type: 'bar',
            label: labelOption,
            data: [150, 232, 201, 154, 190]
        },
        {
            name: 'Wetland',
            type: 'bar',
            label: labelOption,
            data: [98, 77, 101, 99, 40]
        },
        {
            name: 'test',
            type: 'bar',
            label: labelOption,
            data: [98, 77, 101, 99, 40]
        }
    ]
};;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
$(initScore());
//采用ajax异步请求数据
function initScore(){
	$.ajax({
		type:'post',
		url:'@submitVoteUrl',
		type:"post",
		showMsg:false,
		success:function(result){
			if(result.length>0){
				//将返回的category和series对象赋值给options对象内的category和series
				option.xAxis[0].data = result[0].category;
				option.legend.data = result[0].legend;
				option.color = result[0].legendColorList;
				var series_arr=result[0].series;
				for(var i=0;i<series_arr.length;i++){
				option.series[i] = series_arr[i];
				option.series[i].stack = 'risk';
				}
				if(result[0].category.length<7){
					mainDiv.style.width = 680 ;
				}else{
					mainDiv.style.width = result[0].category.length*100;
				}
				var myChart = echarts.init(mainDiv);
				myChart.setOption(option);
			}
		}
	});
}
</script>
