@import(){com.cloudsoaring.web.course.constant.CourseStateConstants}
@args Integer num, 
String role,
UserEntity user,
String url ="/pub/course/searchUsersList.action",
Integer pageSize = Integer.valueOf("10")
@{
	final String surl = url(url);
	String userName = "";
	if(user != null){
		userName = user.getPersonName();
	}
}
<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="@WebContext.url("/js/jquery1.8.3.js")"></script>
		<link rel="stylesheet" href="@url("/css/mydirective_s.css")"/>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/bootstrap/css/bootstrap.css")"/>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/font-awesome/css/font-awesome.css")" />
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/magnific-popup/magnific-popup.css")" />
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/select2/select2.css")" />
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/stylesheets/theme.css")"/>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/stylesheets/skins/default.css")"/>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/stylesheets/theme-custom.css")">
		<script src="@WebContext.url("/js/studentHomePage/vendor/modernizr/modernizr.js")"></script>
		<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
		<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
	</head>
<body>
	<section class="body">

			<div class="inner-wrapper">
				<!-- start: sidebar -->

				<section role="main" class="content-body">
					<!-- start: page -->
						<section class="panel">
							<div class="panel-body" ng-app="myApp" ng-controller="noteCtrl">
								<table class="table table-bordered table-striped mb-none" id="datatable-editable">
									<thead>
										<tr>
											<th>
												姓名
											</th>
											<th>单位</th>
											<th>职位</th>
											<th>电话</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr class="gradeA" ng-repeat="item in noteList">
											<td>{{item.personName}}</td>
											<td>{{item.workplace}}</td>
											<td>{{item.position}}</td>
											<td>{{item.phone}}</td>
											<td class="actions">
												<a href="javascript:void(0)" ng-click="studentDetail(item.userId)"  class="on-default remove-row" title="成长轨迹"><i class="fa fa-user"></i></a>
												<a href="javascript:void(0)" ng-click="userDetail(item.userId)"  class="on-default remove-row" title="学籍管理"><i class="fa fa-info"></i></a>
												<a href="javascript:void(0)" ng-click="userReport(item.userId)"  class="on-default remove-row" title="综合素质报告"><i class="fa fa-file-text"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
								<div style="padding:30px 0px;text-align:center;">
									<span style="" ng-repeat="item in pageList">
										<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
										<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search4Page(item.clickNum,'')">{{item.text}}</span>
									</span>
								</div>
 <script>
 myApp.controller("noteCtrl",function($scope,$http){
	$scope.pageNumber = 1;
	$scope.noteList = [];
	$scope.pageList = [];
	//请求数据
	$http.post('@surl',{pageSize:@pageSize,pageNumber:$scope.pageNumber,sortName:"CREATE_DATE",sortOrder:"desc"})
	.success(function(result){
		if(result.status){
			$scope.noteList = result.data;
			$scope.pageList = getPageList(result.page,result.total);
		}else{
			noticeError(result.messages);
		}
	})
	.error(function(){
		noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
	});
	$scope.studentDetail = function(userId){
		window.open('/pblMgr/pub/course/studentHomePageFromList.action?userId='+userId,'_self');
	}
	$scope.userDetail = function(userId){
		window.open('/pblMgr/pub/student/view.action?userId='+userId,'_self');
	}
	$scope.userReport = function(userId){
		window.open('/pblMgr/pub/student/reportInitFromList.action?userId='+userId,'_self');
	}
	//分页检索
	$scope.search4Page = function(num,pageType){
		if(pageType!=''){
			$scope.searchFlag = pageType;
		}
		//请求数据
		$http.post('@surl',{pageSize:@pageSize,pageNumber:num,sortName:"CREATE_DATE",sortOrder:"desc"})
		.success(function(result){
			if(result.status){
				if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_ALL)'){
					$scope.searchAllClass = "note_search_active";
					$scope.searchBestClass = "note_search";
				}else if(pageType=='@MessageUtil.getMessage(CourseStateConstants.NOTE_SEARCH_LIKE)'){
					$scope.searchAllClass = "note_search";
					$scope.searchBestClass = "note_search_active";
				}
				//请求成功
				$scope.noteList = result.data;
				//改变当前页
				$scope.pageNumber = result.page;
				//获取分页显示，当前页，总页数
				$scope.pageList = getPageList(result.page,result.total);
			}else{
				noticeError(result.messages);
			}
		})
		.error(function(){
			noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
		});
	};
}); 
</script> 
							</div>
						</section>
					<!-- end: page -->
				</section>


			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery/jquery.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/bootstrap/js/bootstrap.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/nanoscroller/nanoscroller.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/magnific-popup/magnific-popup.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery-placeholder/jquery.placeholder.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/select2/select2.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/theme.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/theme.custom.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/theme.init.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/tables/examples.datatables.editable.js")"></script>
	
</body>
</html>
