@extends(client,title:getPageTitle(title), "text_user")
<link rel="stylesheet" href="@WebContext.url("/css/banner.css")" type="text/css" />
<script type="text/javascript" src="@WebContext.url("/js/jquery1.8.3.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/switch.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/wySilder.min.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/jquery.base64.js")"></script>
<div style="width: 1400px;height: 700px;margin: auto;overflow-y: scroll;overflow-x: scroll;margin-top: 0px;">
  <style>
table tr:first-child{background:#b60006; color:#fff;font-weight:bold;height: 50px;} 
table{border-top:1pt solid #C1DAD7;border-left:1pt solid #C1DAD7;margin: 0 auto;} 
td{
	padding: 5px 10px;
	text-align: center;
	border-right: 1pt solid #C1DAD7;
	border-bottom: 1pt solid #C1DAD7;
	text-shadow: 0px 0px #40CEFF;
}
tr{height: 50px;}
tr:nth-of-type(odd){ background:#f0f9fc;} /* odd 标识奇数行，even标识偶数行 */

tr:hover{ background: #C5EAEF;} /*鼠标悬停后表格背景颜色*/

    </style>
  <table  width="1366" border="0" cellspacing="0" cellpadding="0" align="center"> 

  <tr id ="userTable">
	<td style="width: 300px;">编号</td>
	
    <td style="width: 300px;">登录人员</td>

    <td style="width: 300px;">登录平台</td>

    <td style="width: 300px;">登录时间</td>
    
    <td style="width: 300px;">IP地址</td>
	   
  </tr>   
</table>
</div>
<script type="text/javascript">
	$.ajax({
	type:'post',
	url:'/pblMgr/pub/courseAC/getSysUser.action',
	dataType:"json",  
	success:function(result){
		if(result.length>0){
			var source = result[0].resultList;;
			var tbBody = "";
			for(var i=0;i<source.length;i++){
  				tbBody += "<tr><td>"+source[i].id+"</td><td>"+source[i].userName+"</td><td>"+source[i].proName+" </td><td>"+source[i].systemTime+"</td><td>"+source[i].operIp+"</td></tr>";
			}
			$("#userTable").after(tbBody); 
			}
		}
	});	
	</script>
