@args UserEntity user
@extends(client,title:"")
@import(){
	com.cloudsoaring.web.bus.entity.UserEntity,
	com.cloudsoaring.web.trainingplatform.utils.*
}

@{
final  String url=url("/pub/image.action?fileId=")+user.getImage();
}
@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = TpConfigUtil.getPointsForSmallChange();
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
	}
}
<style>
.user-info {
padding-top: 20px;
width: 1000px;

margin-bottom: 20px;
}
.user-info .user-info-portrait {
position: relative;
z-index: 199;
display: block;
}
.user-info .user-info-body {
position: relative;
height: auto;
width:100%;
font-size: 12px;
margin-left: 160px;
}
.user-info .user-info-body .user-info-body-one, .user-info .user-info-body .user-info-body-two {
margin-bottom: 10px;
}
.user-info .user-info-portrait img {

float: left;
  margin-top:15px;
  height: 100px;
  width:100px;
  border-radius: 100%;
}
.user-info .user-info-body .user-info-name {
font-size: 14px;
line-height: 20px;
height: 20px;
margin-right: 20px;
}
.user-info .user-info-body .user-info-signing {
display: inline-block;
line-height: 20px;
padding: 0 10px;
margin-right: 5px;
border-radius: 10px;
color: #fff;
background-color: #3187cc;
}

.course_list_time_span{
position:absolute;
color:#ffffff;
right:13px;
top:13px;
visibility:hidden;

}
a:hover .course_list_time_span{
visibility: visible;
}
</style>

<div style="margin-bottom:20px; background-color: white;padding: 10px 50px 10px 50px;height:220px;">
	<div class="user-info">
 		<div class="user-info-portrait">         
            <img src="@url">
        </div>

  		<div class="user-info-body" id="userInfoBody">
   			<div class="user-info-body-one">
      			<span class="user-info-name">
      				<h3 style="display:inline; font-weight: normal;">
      				@user.getPersonName()
      				</h3>
      				@if(user.getUserName()){
      				<span class="user-info-signing user-info-teacher" style="position:relative; top:-10px">
              			<span class="gh gh-tree-conifer"></span>
              		</span>
              		}
      			</span>
              
            </div>

    		<div class="user-info-body-two">
      
      			<div class="user-info-disabled" id="userInfoDisable" style="display: block;">             
                    <div class="disable-noLogin" style="display: block;">
                    	@if(user.getPosition()){
                        	<span class="user-company">@user.getPosition()</span>  
                        }        			      
        			</div>
                        
      			</div>
            </div>
    		<div class="user-info-body-three" style="margin-bottom: 10px;min-height:50px;">
            	<div class="descrip-disable" style="display: block;">
            		@if(user.getRemark()){
        				<p style="font-size:16px;">@user.getRemark()</p>
        			}else{
        				<p style="font-size:16px;">暂无简介</p>
        			}
      			</div>
    		</div>
    	 	<span>@user.getSex()</span>&nbsp&nbsp&nbsp
    	 	@if(user.getRegion()){
    	 		<span>来自：&nbsp;@user.getRegion()</span>
    	 	}
  		</div>
	</div>
	
</div>
@grid_list(url:("/pub/course/teacherCourseList.action?teacherId="+user.getUserId()), pageSize:12){	
	@list_item(renderItemFunction:"renderItemContent"){										
	<a class="course_list_a" style="color:#000000; display: block;height:380px;" href="@url("/pub/course/courseDetailInit.action?courseId=%courseId")">
		<div class="courseList" style=" width: 100%; overflow: hidden; padding: 15px;">
			<div class="thumbnail" style="width:100%;position:relative;">
				<img style="width:270px;height:195px;" src="@url("/pub/image.action?fileId=%courseFileId")">
				<span class="course_list_time_span" style="">
                    %price<span>%money</span>
                </span>
			</div>
			<div style="height:30px;margin-bottom:10px;">
				<p style="font-weight: bold;font-size: 110%;">%title</p>
			</div>
			<div style="height:30px; color:#999999;" class="center-font-content" >
				%summary
			</div>
			<div style="height:30px; color:#999999;padding-top:15px;" class="center-font-content">
				<span class="gh gh-heart-empty"><small>%numFavorite &nbsp; @MessageUtil.getMessage("人收藏");</small></span> &nbsp; &nbsp;
				<span class="fa fa-users"><small>%userNum&nbsp;@MessageUtil.getMessage("人学习")</small></span>
			</div>
		</div>
	
	</a>	
	
	}

}

<script>

function renderItemContent(itemContent, obj) {
		var content = "";
		var summary ="";
		var title ="";
		var numFavorite="0";
		var numStudy="0";
		var price="";
		var money="";
		@if(!showPriceByPoints){
			price = replaceOr(obj.price);
			money="元";
		}else{
			var unitPrice="@unitPrice";
			price = parseInt(replaceOr(obj.price))*unitPrice;
			money="积分";
		}
		if(hideStringByMax(obj.title,20)){
			title = hideStringByMax(obj.title,16);
		}
		if(obj.momo){
			content = replaceNull(hideStringByMax(obj.momo,16));
		}
		if(obj.summary){
			summary = replaceNull(hideStringByMax(obj.summary,16));
		}
		if(obj.numFavorite){
			numFavorite=obj.numFavorite;
		}
		if(obj.numStudy){
			numStudy=obj.numStudy;
		}
		
		//debugger;
		return itemContent.replace(/%title/g, title)
					.replace(/%content/g, content)
					.replace(/%summary/g, summary)
					.replace(/%courseId/g,obj.id)
					.replace(/%courseFileId/g,obj.pictureId)
					.replace(/%numFavorite/g,numFavorite)
					.replace(/%price/g,price)
					.replace(/%userNum/g,numStudy)
					.replace(/%money/g,money);
					
	}
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
  function replaceOr(str){
    	if(str){
    		return str;
    	}
    	return "0";   
    } 
</script>


  