@args Integer num, 
String role,
UserEntity user,
String url ="/pub/course/archivesList.action"
@{
	final String surl = url(url);
}
@extends(common_teacher)
<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="@WebContext.url("/js/jquery1.8.3.js")"></script>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/bootstrap/css/bootstrap.css")"/>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/font-awesome/css/font-awesome.css")" />
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/magnific-popup/magnific-popup.css")" />
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/vendor/bootstrap-datepicker/css/datepicker3.css")" />
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/stylesheets/teacher.css")"/>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/stylesheets/skins/default.css")"/>
		<link rel="stylesheet" href="@WebContext.url("/js/studentHomePage/stylesheets/theme-custom.css")">
		<script src="@WebContext.url("/js/studentHomePage/vendor/modernizr/modernizr.js")"></script>
		<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
		<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>

		<link rel="stylesheet" href="@WebContext.url("/js/videojs/video-js.css")" type="text/css"/>
		<script type="text/javascript" src="@WebContext.url("/js/videojs/video.js")"></script>
		<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
	</head>
<body>
	<section class="body">
			<div class="inner-wrapper">

				<section role="main" class="content-body">
					<!-- start: page -->

					<div class="row">
						<div class="col-md-4 col-lg-3">

							<section class="panel">
								<div class="panel-body" style="background: #ecedf0;">
									<div class="thumb-info mb-md">
										<img src="@url("/pub/headerThumb.action?fileId=")@user.getImage()" class="rounded img-responsive" alt="John Doe">
										<div class="thumb-info-title">
											<span class="thumb-info-inner">@user.getPersonName()</span>
											<!-- <span class="thumb-info-type">学生</span> -->
										</div>
									</div>
									
								</div>
							</section>

						</div>
						<div class="col-md-8 col-lg-6">

							<div class="tabs">
								<ul class="nav nav-tabs tabs-primary">
									<li class="active">
										<a href="#overview" data-toggle="tab">全部动态</a>
									</li>
									
								</ul>
								<div class="tab-content">
									<div id="overview" class="tab-pane active">

										<h4 class="mb-xlg">全部动态</h4>

										<div class="timeline timeline-simple mt-xlg mb-md">
											<div class="tm-body">
												<!-- <div class="tm-title">
													<h3 class="h5 text-uppercase">2020-04-20</h3>
												</div> -->
												<ol ng-app="myApp" class="tm-items" ng-controller="noteCtrl">
													<!--一条状态-->
													<li  ng-repeat="item in noteList">
														<div class="tm-box">
															<p class="panel-title">{{item.userName}}</p>
															<p class="text-muted mb-none" style="margin-top: 10px;">{{item.createTime}}</p>
															<p class="panel-body" style="margin-top: 10px;">
																{{item.info}}
															</p>
															<div class="zoom-gallery" ng-show="item.exitImage !=null && item.exitImage ==0">
																{{item.content}}
															</div>
															<div class="zoom-gallery" ng-show="item.exitImage !=null && item.exitImage ==1">
																{{item.content}}
																<img class="img-responsive" src="@url("/pub/image.action?fileId={{item.imageId}}")">
															</div>
															<div class="zoom-gallery" ng-show="item.exitImage !=null && item.exitImage ==2">
																{{item.content}}
																<!-- video -->
																<video class="img-responsive" controls="controls">
																	<source src="/pblMgr/pub/video.action?fileId=2862c676-f28b-4a62-aa24-3e73effccd7f" type="video/mp4">
																</video>
															</div>
															<div class="zoom-gallery" ng-show="item.exitImage !=null && item.exitImage ==3">
																<!-- 附件 -->
																<img class="img-responsive" src="@url("/pub/image.action?fileId={{item.imageId}}")">
															</div>
															<hr class="separator"/>
															<div ng-repeat="discuss in item.discussList">
																<p> 
																	（{{discuss.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}）{{discuss.userName}}：{{discuss.content}}
																</p>
																<hr class="dotted short">
															</div>
															<!--评论输入框-->
															<section class="simple-compose-box mb-xlg" style="margin-top: 20px;">
																<textarea id="{{item.id}}" ng-model="content" ng-change="inputChange(content)" placeholder="评论" rows="1"></textarea>
																<div class="compose-box-footer">
																	<ul class="compose-btn">
																		<li>
				 															<a class="btn btn-primary btn-xs" ng-click="sendDiscuss(content,item.id)">评论</a> 
																		</li>
																	</ul>
																</div>
															</section>

														</div>
													</li>
												</ol>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						@btnbox(border:true){
							@button_back(width:100)
						}
					</div>
					<!-- end: page -->
				</section>
			</div>
		</section>
		<!-- Vendor -->
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery/jquery.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/bootstrap/js/bootstrap.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/nanoscroller/nanoscroller.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/magnific-popup/magnific-popup.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery-placeholder/jquery.placeholder.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/vendor/jquery-autosize/jquery.autosize.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/theme.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/theme.custom.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/theme.init.js")"></script>
		<script src="@WebContext.url("/js/studentHomePage/javascripts/ui-elements/examples.lightbox.js")"></script>
		<script>
		 myApp.controller("noteCtrl",function($scope,$http){
			//列表数据
			$scope.noteList = [];
			//请求数据
			$http.post('@surl',{userId:"@user.getUserId()"}).success(function(result){
				if(result.status){
					//请求成功
					$scope.noteList = result.data;
				}else{
					noticeError(result.messages);
				}
			})
			.error(function(){
				noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
			});
			$scope.inputChange = function(content){
				if(content.length >= 500){
					$scope.content = content.substr(0,500);
					
				}
			};
			$scope.sendDiscuss = function(content,id){
				if(content==''){
						noticeError('@MessageUtil.getMsgAndNote("评论内容不能为空！", "ab01011.txt.validate.empty.note.content")')
					}else{
						//发送评论
						$http.post("@url("/pub/course/saveDiscussData.action")",{content:content,id:id})
						.success(function(result){
							if(result.status){
								$scope.content = '';
								$scope.search();
							}else{
								noticeError(result.messages);
							}
						})
						.error(function(){
							noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
						});
					}
		};
		$scope.search = function(){
			$http.post('@surl',{userId:"@user.getUserId()"}).success(function(result){
				if(result.status){
					//请求成功
					$scope.noteList = result.data;
				}else{
					noticeError(result.messages);
				}
			})
			.error(function(){
				noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
			});
		};
		});
		 function save() {
		        var params = new FormData($('#file-form')[0]);        
		        var baseInfo = $('#base-form').serializeObject();
		        baseInfo.content = ue.getContent();
		        params.append("studentJson", JSON.stringify(baseInfo));
		        $.ajax({ 
		             url: "@url("/pub/course/saveInfo.action")",
		             data:params,
		             method:"post",  
		             bodyMsg:true,
		             mask:true,
		             /** 
		              *必须false才会自动加上正确的Content-Type 
		              */
		             contentType:false,  
		             /** 
		              * 必须false才会避开jQuery对 formdata 的默认处理 
		              * XMLHttpRequest会对 formdata 进行正确的处理 
		              */  
		             processData:false, 
		             success: function(result){
		            	 window.location.reload();
		             }
		         });
		    }
		</script>
</body>
</html>
