@extends(client, "")
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
}

<!-- 检索结果列表 -->
<div style="width:80%;margin:auto;margin-top: 40px;">
	@table(id:"search-result",url:"/pub/course/userHomeWorkSearch.action",sortName:"createDate", sortOrder:"desc"){
		@columns(){
			{field: 'createUser',title: '@MessageUtil.getMessage("姓名")',align:'center'},
			{field: 'content',title:'@MessageUtil.getMessage("作业内容")',align:'center'}, 
			{field: 'score',title: '@MessageUtil.getMessage("打分")',align:'center'},
			{field: 'teacherComment',title: '@MessageUtil.getMessage("评语")',align:'center'},
			{field: 'likeNum',title: '@MessageUtil.getMessage("点赞数")',align:'center'},
			{field: 'createDate',title: '@MessageUtil.getMessage("创建时间")',align:'center',formatter:dateFormat}
		}
	}
</div>
<script>
function dataFormat(value,row,index){
		return dateFormat(value);
}
</script>