@import(){
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.course.entity.UserInfoEntity
}
@args UserInfoEntity userInfo
@{
	final String fileSizeLimit ="102400";
}
@extends(client, title:"")
<div style="width: 80%;margin: auto;margin-top: 50px;">
	@form("userInfo-form"){
	<div class="home_work" style="margin-top: 20px;">
		 @input(label:"标题", name:"title", groupcss:"col-12",  maxlength:"50",required:true, value:userInfo.getTitle())
		 @textarea(
           label:MessageUtil.getMessage("摘要"), 
           id:"abstracts", 
           required:false,
           maxlength:"400", 
           height:"256px",
           groupcss:"col-12",
           disabled:false,
           value:userInfo.getAbstracts(), 
        )
		@ue_image_video(height:"200px",width:"100%", value:userInfo.getContent(), disabled:false)
		<div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;padding-bottom: 20px;">
	        <div class="col-lg-12" style="text-align:center;margin-top:20px;">
	            @button_save(width:100)
				@button_back(width:100)
	        </div>
	    </div>
	</div>
}
</div>
<script>
function save(){
	var params = new FormData($('#userInfo-form')[0]);
 	var baseInfo = $('#base-form').serializeObject();
    baseInfo.content = ue.getContent();
    baseInfo.abstracts = getValue($('#abstracts'));
    baseInfo.title = getValue($('#title'));
    params.append("userInfoJson", JSON.stringify(baseInfo));
	$.ajax({ 
        url: "@url("/pub/course/saveUserInfoById.action")",
        data:params,
        method:"post",  
        bodyMsg:true,
        mask:true,
        contentType:false,  
        processData:false, 
        success: function(result){
        	if(result.status){
				noticeInfo('@MessageUtil.getMsgAndNote("保存成功！", "ab01011.txt.oprate.write.ok")');
				 window.history.go(-1);
			}else{
				noticeError(result.messages);
			}
        }
    });
}
</script>
