﻿@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(client)
@args String title = "我的评论"
@args DiscussDataEntity condition
@args String planType

<div style="margin-bottom:20px; background-color: white;padding: 10px 50px 10px 50px;">
	<div style="float:left; width:100px;font-weight: bold;">
		<span class="center-content-title-p ">@MessageUtil.getMessage("我的计划")</span>
	</div>
	<div style="width:100px;margin-left:800px;">
		<span>@MessageUtil.getMessage("全部")</span>
	</div>
</div>

@line_list(url:("/pub/plan/userPlanList.action?planType="+planType), pageSize:10){
	@list_item(renderItemFunction:"renderItemContent") {
	<a style="color:#000000;" href="@url("/pub/plan/innerPlanDetail.action?planId=%planId")">
	  <div style="margin-bottom:20px;">
		<div class="courseList" style="height: 210px; width: 100%; padding: 20px; background-color: rgb(255, 255, 255);">
			<div class="thumbnail" style="width:300px;height:169px;float: left;">
				<img style="width:100%;height:100%;" src="@url("/pub/image.action?fileId=%pictureId")">
			</div>
			<div style="width:100%;height:200px;padding:1px 10px 2px 320px;">
				<div style=" margin-bottom: 20px;">
					<p style="font-weight: bold;font-size: 110%;">%title</p>
					<p class="center-font-content" style="line-height: 25px;">%courseStatus</p>
					<p class="center-font-content" style="line-height: 25px;">%content</p>				
				</div>				
				<div style="height:80px;position:relative;">				
						<p class="gh gh-time"><small>@MessageUtil.getMessage("学习耗时")：&nbsp;%studyDuration</small></p>
						<p class="gh gh-play-circle"><small>@MessageUtil.getMessage("最后学习")：%lastStudyDate&nbsp;小时前</small></p>
				</div>
			</div>
		</div>
	 </div>
  </a>
 }
}


	
	
<script>	
	
	function renderItemContent(itemContent, obj) {

		var content = hideStringByMax(obj.content,50);
		var title = hideStringByMax(obj.title,20);
		if(obj.courseStatus == "1"){
			var courseStatusName = "连载中";
		}else if(obj.courseStatus == "1"){
			var courseStatusName = "已完成";
		}else if(obj.courseStatus == "1"){
			var courseStatusName = "已结束";
		}	
		return itemContent
					.replace(/%title/g, replaceNull(title))
					.replace(/%content/g, replaceNull(content))	
					.replace(/%pictureId/g,obj.pictureId)							
					.replace(/%studyDuration/g,obj.studyDuration)
					.replace(/%courseStatus/g,courseStatusName)
					.replace(/%lastStudyDate/g,obj.lastStudyDate);
	}
	//替换null为空字符串
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
</script>