@args String title = ""
@extends(client, "")
@args com.cloudsoaring.web.course.entity.UserOperEntity condition
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
}
<!-- 检索条件表单 -->
<div style="margin-top: 0px;">
@form(name:"search-condition",validation:false,showempty:true){
	@input(label:MessageUtil.getMessage("操作人"),name:"operUser")
	@input(label:MessageUtil.getMessage("操作内容"),name:"operDetail")
	@btnbox(align:"right"){
		@button_search()
		@button_clear()
	}
}
</div>
<!-- 检索结果列表 -->
@table(id:"search-result",url:"/pub/course/search.action",sortName:"operTime", sortOrder:"desc"){
	@columns(){
		{field: 'id',title: '@MessageUtil.getMessage("编号")',width:100,align:'center'},
		{field: 'operUser',title: '@MessageUtil.getMessage("操作人")',width:100,align:'center'},
		{field: 'sysInfo',title:'@MessageUtil.getMessage("系统环境")',align:'center'}, 
		{field: 'operDetail',title: '@MessageUtil.getMessage("操作内容")',align:'center'},
		{field: 'operSite',title: '@MessageUtil.getMessage("相关网址")',align:'center'}, 
		{field: 'operTime',title: '@MessageUtil.getMessage("操作时间")',width:100,align:'center', formatter:dateFormat},
		{field: 'operIP',title: '@MessageUtil.getMessage("操作IP")',width:100,align:'center'},
	}
}
<script>

function dataFormat(value,row,index){
	
		return dateFormat(value);
	
}
</script>