@args String title = ""
@extends(client, "")
@args com.cloudsoaring.web.course.entity.CourseMessageEntity condition
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
}

<!-- 检索结果列表 -->
<div style="width:80%;margin:auto;margin-top: 40px;">
	@table(id:"search-result",url:"/pub/courseMsg/search.action",sortName:"createTime", sortOrder:"desc"){
		@columns(){
			{field: 'courseName',title: '@MessageUtil.getMessage("课程名称")',align:'center',formatter:courseDetail},
			{field: 'content',title:'@MessageUtil.getMessage("站内信内容")',align:'center'}, 
			{field: 'studentName',title: '@MessageUtil.getMessage("发布人员")',align:'center'},
			{field: 'createTime',title: '@MessageUtil.getMessage("发布时间")',align:'center', formatter:dateFormat},
			{field: 'checkStatus',title: '@MessageUtil.getMessage("状态")',align:'center', formatter:formatterMsgStat},
			@optcolumn(width:100){
	        	@iconlink(
	                label: (MessageUtil.getMessage("同意") + "," + MessageUtil.getMessage("驳回"))
	                ,iconcss:"fa fa-check,fa fa fa-times"
	                ,onclick:"publicCourse"
	                ,visibleFunction:"isLook1"
	            )
	            @iconlink(
	                label: (MessageUtil.getMessage("驳回") + "," + MessageUtil.getMessage("同意"))
	                ,iconcss:"fa fa fa-times,fa fa-check"
	                ,onclick:"publicCourse1"
	                ,visibleFunction:"isLook1"
	            )
	        }
		}
	}
</div>
<script>
function dataFormat(value,row,index){
		return dateFormat(value);
}
function formatterMsgStat(value, row, index){ 
    if(value != null){
        if(value == -2){
            return "未审批";
        }else if(value == 0){
            return "已通过";
        }else if(value == 1){
            return "已驳回";
        }
    }       
}
function updateMsg(row){
	if(row.stuStatus==1){
		alert("此条站内信已变更状态，请勿重复变更！");
		return;
	}
	$.ajax({ 
        url: "@url("/pub/courseMsg/updateMsg.action")",
        data:{id:row.id},
        type:"post", 
        bodyMsg:true,
        mask:true,
        success: function(result){
            //成功
             $('#search-result').bootstrapTable('refresh');
        }
    });
}
function courseDetail(row){
	var arr  = row.split(",");
	return '<a href="/pblMgr/pub/course/courseDetailInit.action?courseId='+arr[1]+'" style="border-bottom: 1px solid #2400ff;color: blue;">'+arr[0]+'</a>';
}
function isLook(value, row, index){ 
	if(row.stuStatus != null){
		return row.stuStatus;
	}
}
function isLook1(value, row, index){ 
	if(row.checkStatus == "-2"){
		return 0;
	}else{
		return "-1";
	}
}
function publicCourse(row){
	//type,1发布，2分享，3分享至精品课,4申请加入课程
	if(row.type == "1"){
		confirm("确定同意课程（"+row.courseName.split(",")[0]+"）发布至课工场吗？",function(){
			$.ajax({
		        url: "@url("/pub/courseMsg/saveFactory.action")",
		        data:{id:row.id,checkType:"1"},
		        type:"post", 
		        bodyMsg:true,
		        mask:true,
		        success: function(result){
		            //成功
		             $('#search-result').bootstrapTable('refresh');
		        }
		    });
        });
	}else if(row.type == "2"){
		confirm("确定同意课程（"+row.courseName.split(",")[0]+"）分享至精品课吗？",function(){
			$.ajax({ 
		        url: "@url("/pub/courseMsg/saveShare.action")",
		        data:{id:row.id,checkType:"1"},
		        type:"post", 
		        bodyMsg:true,
		        mask:true,
		        success: function(result){
		            //成功
		             $('#search-result').bootstrapTable('refresh');
		        }
		    });
        });
	}else if(row.type == "3"){
		confirm("确定同意课程（"+row.courseName.split(",")[0]+"）分享至公开课吗？",function(){
			$.ajax({ 
		        url: "@url("/pub/courseMsg/savePublic.action")",
		        data:{id:row.id,checkType:"1"},
		        type:"post", 
		        bodyMsg:true,
		        mask:true,
		        success: function(result){
		            //成功
		             $('#search-result').bootstrapTable('refresh');
		        }
		    });
        });
	}else if(row.type == "4"){
		confirm("确定同意"+row.studentName+"加入"+row.courseName.split(",")[0]+"吗？",function(){
			$.ajax({ 
		        url: "@url("/pub/courseMsg/saveApplyJoin.action")",
		        data:{id:row.id,checkType:"1"},
		        type:"post", 
		        bodyMsg:true,
		        mask:true,
		        success: function(result){
		            //成功
		             $('#search-result').bootstrapTable('refresh');
		        }
		    });
        });
	}else if(row.type == "5"){
		confirm("确定同意课程（"+row.courseName.split(",")[0]+"）分享至图书馆吗？",function(){
			$.ajax({ 
		        url: "@url("/pub/courseMsg/saveLib.action")",
		        data:{id:row.id,checkType:"1"},
		        type:"post", 
		        bodyMsg:true,
		        mask:true,
		        success: function(result){
		            //成功
		             $('#search-result').bootstrapTable('refresh');
		        }
		    });
        });
	}
}
	function publicCourse1(row){
		//type,1发布，2分享
		if(row.type == "1"){
			confirm("确定驳回课程（"+row.courseName.split(",")[0]+"）发布至课工场吗？",function(){
				$.ajax({
			        url: "@url("/pub/courseMsg/saveFactory.action")",
			        data:{id:row.id,checkType:"2"},
			        type:"post", 
			        bodyMsg:true,
			        mask:true,
			        success: function(result){
			            //成功
			             $('#search-result').bootstrapTable('refresh');
			        }
			    });
	        });
		}else if(row.type == "2"){
			confirm("确定驳回课程（"+row.courseName.split(",")[0]+"）分享至精品课吗？",function(){
				$.ajax({ 
			        url: "@url("/pub/courseMsg/saveShare.action")",
			        data:{id:row.id,checkType:"2"},
			        type:"post", 
			        bodyMsg:true,
			        mask:true,
			        success: function(result){
			            //成功
			             $('#search-result').bootstrapTable('refresh');
			        }
			    });
	        });
		}else if(row.type == "3"){
			confirm("确定驳回课程（"+row.courseName.split(",")[0]+"）分享至公开课吗？",function(){
				$.ajax({ 
			        url: "@url("/pub/courseMsg/savePublic.action")",
			        data:{id:row.id,checkType:"2"},
			        type:"post", 
			        bodyMsg:true,
			        mask:true,
			        success: function(result){
			            //成功
			             $('#search-result').bootstrapTable('refresh');
			        }
			    });
	        });
		}else if(row.type == "4"){
			confirm("确定驳回"+row.studentName+"加入"+row.courseName.split(",")[0]+"吗？",function(){
				$.ajax({ 
			        url: "@url("/pub/courseMsg/saveApplyJoin.action")",
			        data:{id:row.id,checkType:"2"},
			        type:"post", 
			        bodyMsg:true,
			        mask:true,
			        success: function(result){
		            //成功
		             	$('#search-result').bootstrapTable('refresh');
		        	}
		    	});
        });
	}else if(row.type == "5"){
		confirm("确定驳回课程（"+row.courseName.split(",")[0]+"）分享至图书馆吗？",function(){
			$.ajax({ 
		        url: "@url("/pub/courseMsg/saveLib.action")",
		        data:{id:row.id,checkType:"2"},
		        type:"post", 
		        bodyMsg:true,
		        mask:true,
		        success: function(result){
		            //成功
		             $('#search-result').bootstrapTable('refresh');
		        }
		    });
        });
	}
		
	}
</script>