@args String courseId = "",String linkType="1"
@extends(client,title:"")
@{
		final String getCourseDetail = url("/pub/course/courseDetail.action?courseId="+courseId);
		final String getUserCourse = url("/pub/course/searchUserCourse.action?courseId="+courseId);
		final String submitVoteUrl = url("/pub/vote/submitVote.action?linkId="+courseId+"&linkType="+linkType);
}
@import(){
com.cloudsoaring.web.course.constant.*;
}

<style>
.color_red{
	color:#E84D3B;
}
.color_grave{
	color:#E6E6E6;
}
</style>
<div class="tab-pane" id="vote" style="width: 70%;margin: auto;">
					
</div>

@assign("vote_item"){
	<div style="height:40px;width:100%;margin-top:10px;">
		<div style="width:200px;float:left;color:#999999;">
			<input style="display:none;" class="radio_vote" type="radio" name="radio_vote" value="@CourseStateConstants.VOTE_OPTION_GOOD">
			<i class="glyphicon glyphicon-record i_vote i_vote_good"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			<span>对我非常有帮助</span>
		</div>
		<div style="width:350px;float:left;margin-left:10px;margin-top:6px;">
			<div style="background-color:#E84D3B;width:%width_goodpx;height:10px;"></div>
		</div>
		<div style="width:50px;float:left;margin-left:20px;color:#999999;"><span>%percentNum_good%</span></div>
	</div>
	<div class="clearfix"></div>
	<div style="height:40px;width:100%;margin-top:10px;">
		<div style="width:200px;float:left;color:#999999;">
			<input style="display:none;" class="radio_vote" type="radio" name="radio_vote" value="@CourseStateConstants.VOTE_OPTION_NORMAL">
			<i class="glyphicon glyphicon-record i_vote i_vote_normal"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			<span>对我很有帮助</span>
		</div>
		<div style="width:350px;float:left;margin-left:10px;margin-top:6px;">
			<div style="background-color:#EECB27;width:%width_normalpx;height:10px;"></div>
		</div>
		<div style="width:50px;float:left;margin-left:20px;color:#999999;"><span>%percentNum_normal%</span></div>
	</div>
	<div class="clearfix"></div>
	<div style="height:40px;width:100%;margin-top:10px;">
		<div style="width:200px;float:left;color:#999999;">
			<input style="display:none;" class="radio_vote" type="radio" name="radio_vote" value="@CourseStateConstants.VOTE_OPTION_NOT_GOOD">
			<i class="glyphicon glyphicon-record i_vote i_vote_notgood"></i>&nbsp;&nbsp;&nbsp;&nbsp;
			<span>对我有帮助</span>
		</div>
		<div style="width:350px;float:left;margin-left:10px;margin-top:6px;">
			<div style="background-color:#1B85B7;width:%width_notgoodpx;height:10px;"></div>
		</div>
		<div style="width:50px;float:left;margin-left:20px;color:#999999;"><span>%percentNum_notgood%</span></div>
	</div>
	<div class="clearfix"></div>
	<style>
		.btn {
		    color: #fff;
		    background-color: rgb(182, 0, 5);
		}
	</style>
	<button id="btn_submitVote" class="btn" style="width:120px;display:none;float:right;" onclick="submitVote()">投票</button>
	<p>&nbsp;</p>
	<div class="clearfix"></div>
}	
	
	
	<script>
	$(initVote())
	//投票页签初始化
	function initVote(){
		$.ajax({
			url:"@getCourseDetail",
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){
					var obj = result.data;
					var voteGood = 0;
					if(obj.voteGood != null){
						voteGood = parseInt(obj.voteGood);
					}
					var voteNormal = 0;
					if(obj.voteNormal != null){
						voteNormal = parseInt(obj.voteNormal);
					}
					var voteNotgood = 0;
					if(obj.voteGood != null && obj.voteNormal != null){
						if(voteGood!=null&&voteNormal!=null){
							voteNotgood = 100-voteGood-voteNormal;
						}
					}
					$("#vote").html('@es(vote_item).raw()'.replace(/%width_good/g,voteGood*3.5).replace(/%width_normal/g,voteNormal*3.5).replace(/%width_notgood/g,voteNotgood*3.5)
					.replace(/%percentNum_good/g,voteGood).replace(/%percentNum_normal/g,voteNormal).replace(/%percentNum_notgood/g,voteNotgood));
					getUserCourse();
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
	}
	
	
		//检索用户课程
	function getUserCourse(){
		$.ajax({    
			url:'@getUserCourse',
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.data){
					var vote = result.data.vote;
					if(vote != null){
						if(parseInt(vote) == @CourseStateConstants.VOTE_OPTION_GOOD){
							$(".i_vote_good").removeClass("color_grave").addClass("color_red");
						}else if(parseInt(vote) == @CourseStateConstants.VOTE_OPTION_NORMAL){
							$(".i_vote_normal").removeClass("color_grave").addClass("color_red");
						}else if(parseInt(vote) == @CourseStateConstants.VOTE_OPTION_NOT_GOOD ){
							$(".i_vote_notgood").removeClass("color_grave").addClass("color_red");
						}
					}else{
						$(".radio_vote").show();
						$(".i_vote").hide();
						$("#btn_submitVote").show();
					}
				}
			}
		});
	}
	
	//我要投票
	function submitVote(){
		var voteId = $("input[name='radio_vote']:checked").val();
		voteId = getOrElse(voteId);
		if(voteId == ''){
			//notice
			noticeError("请选择投票");
			return;
		}
		$.ajax({
			url:"@submitVoteUrl"+"&voteId="+voteId,
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){
					var voteGood = result.data.voteGood;
					$("#num_rate").html(voteGood);
					var voteNum = $("#num_vote").html();
					voteNum++;
					$("#num_vote").html(voteNum);
					//投票成功
					$(".radio_vote").hide();
					$(".i_vote").show();
					$("#btn_submitVote").hide();
					if(parseInt(voteId) == @CourseStateConstants.VOTE_OPTION_GOOD){
						$(".i_vote_good").removeClass("color_grave").addClass("color_red");
					}else if(parseInt(voteId) == @CourseStateConstants.VOTE_OPTION_NORMAL){
						$(".i_vote_normal").removeClass("color_grave").addClass("color_red");
					}else if(parseInt(voteId) == @CourseStateConstants.VOTE_OPTION_NOT_GOOD ){
						$(".i_vote_notgood").removeClass("color_grave").addClass("color_red");
					}
					initVote();
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
	}
	</script>