@args String serverUrl
@import(){  
    com.cloudsoaring.web.course.constant.CourseMsgNames;
}
@extends(client,title:getPageTitle(title), "text_editor")
 <script type="text/javascript">
 function unityReset(){
	 var winHeight = $(window).height()-100; 
	 $("#unity").css("height",winHeight);  
 }
  $(function(){
	 @if(WebContext.isGuest()) {
		 toLoginFun(window.location.href)
	}
	 unityReset();
  });
 $(window).resize(function(){
	 var winHeight = $(window).height()-100; 
	 $("#unity").css("height",winHeight);  
	});
 function openSceneInfo(){
	 @if(WebContext.isGuest()) {
		 toLoginFun(window.location.href)
	}
 }
 function saveSceneInfo(){
	 @if(WebContext.isGuest()) {
		 toLoginFun(window.location.href)
	} 
 }
</script>
<div style="overflow:hidden;margin-left:auto;margin-right:auto;">
			<div onresize="unityReset()" id="unity" style="font-size:14px;color:#000000;">
				<iframe src="http://@serverUrl/static/WebTestSelf/index.html" height="100%" width="100%" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" frameborder="0" style="display: block;"></iframe>
			</div>
	</div>
