@args Integer pageSize = 20,
String url = ""

@{
	boolean hasUrl = isNotEmpty(url);
	String categoryUrl = url("/pub/course/getCourseCategorys.action");
}

<style>
.course_title{
	font-size:14px;
}
.course_title span{
	color:#999999;
}
.course_desc{
	color:#999999;
}
.pagination{
	padding:0;
}
#coursecategorys li{
	font-size:20px;
	float:left;
	margin-right:20px;
	cursor:pointer;
	font-weight:normal;
	padding:0 5px;
	margin-top:10px;
	border-bottom: 2px solid #fff;
}

</style>
<div style="background-color:#fff;width:1200px;min-height:70px;overflow:hidden;margin-bottom:20px;padding:20px 35px;">
	<ul id="coursecategorys" style="list-style-type:none;padding:0;margin:0;">
		
	</ul>
</div>
@assign("coursecategorys"){
	<li style="color:#E84D3B;">@MessageUtil.getMessage(TpMsgNames.INDEX_INFO_ALL)<input type="hidden" class="categoryId" value=""></li>
	%category
}
@assign("categoryitem"){
	<li>%tagName<input type="hidden" class="categoryId" value="%categoryId"></li>
}

@if(hasUrl){
	@assign("list_item"){
	<a style="color:#000000;" href="@url("/pub/course/courseDetail.action?courseId=%courseId")" target="_blank">
	<div style="margin-bottom:20px;position:relative;">
			<div class="courseList" style="height: 246px; width: 1200px; overflow: hidden; padding:20px 20px; background-color: rgb(255, 255, 255);">
				<div class="thumbnail" style="width:360px;height:206px;float: left;">
					<img style="width:352px;height:198px;border:0px" src="@url("/pub/imageThumb.action?fileId=%courseFileId")">
				</div>
				<div style="position:relative;">
				<div style="width:795px;height:206px;padding:0px 0px 0px 20px;float: left;">
					<p class="course_title">%title&nbsp;&nbsp;&nbsp;&nbsp;<span>%category</span></p>
					<p>
						<img src="@url("/pub/headerThumb.action?fileId=%userFileId")"  class="img-circle" style="width:45px;height:45px;">
						&nbsp;&nbsp;&nbsp;&nbsp;%author&nbsp;&nbsp;&nbsp;&nbsp;%workplace&nbsp;&nbsp;&nbsp;&nbsp;%position
					</p>
					<p style="color:#999999">%timeText：&nbsp;%textTimeStart&nbsp;-&nbsp;%textTimeEnd</p>
					<p class="course_desc">@MessageUtil.getMessage(TpMsgNames.COURSE_SHORT_CONTENT)：%simpleContent</p>
				</div>
				<p style="color:#999999;position:absolute;left:380px;top:186px;">@MessageUtil.getMessage(TpMsgNames.COURSE_USER_NUM)：%userNum&nbsp;@MessageUtil.getMessage(TpMsgNames.COURSE_PERSON)</p>
				</div>
			</div>
			<div style="width:100px;height:100px;background-image:url(@url("/images/kao.png"));background-repeat:no-repeat;position:absolute;right:0;top:0;%display;"></div>
		</div>
		</a>
		<div class="clearfix"></div>
	}
@assign("no_data"){
	<div style="margin-bottom:20px;">
			<div class="" style="height: 246px; width: 1200px; overflow: hidden; padding:20px 20px; background-color: rgb(255, 255, 255);color:#999999;">
				%no_data
			</div>
		</div>
		<div class="clearfix"></div>
	}	
	
	<div id="list_main">

	</div>	
<!-- 分页 -->
<div id="fenye"style="width:1200px;height:70px;background-color:#fff;">
<div>
	<nav style="text-align:center;">
		<ul class="pagination" id="pagination_li">
						
		</ul>
	</nav>
</div>
</div>

<script>
var tagId = '0';
	$(function(){	
		//检索课程分类
		searchCategory();
		//检索
		//searchList(@pageSize,1);		
	});
	
	//检索课程分类
	function searchCategory(){
		$.ajax({
			url:"@categoryUrl",
			type:"post",
			bodyMsg:true,
			success:function(result){
				if(result.status){
					var objs = result.data;
					var str = '';
					$(objs).each(function(index){
						var obj = objs[index];
						var tagId = obj.tagId;
						var tagName = obj.tagName;
						str += '@es(categoryitem).raw()'.replace(/%tagName/g,tagName).replace(/%categoryId/g,tagId);
					});
					$("#coursecategorys").html('@es(coursecategorys).raw()'.replace(/%category/g,str));
					$("#coursecategorys li").each(function(index){
						$("#coursecategorys li:eq("+index+")").on("click",function(){
							var categoryId = $("#coursecategorys input:eq("+index+")").val();
							changeCategoryActive(index);
							tagId = categoryId;
							if(tagId==''){
								tagId='0';
							}
							searchList(@pageSize,1,categoryId);
						});
					});
					$("#coursecategorys li:eq(0)").click();
				}
			}
		});
	}
	
	function changeCategoryActive(index){
		$("#coursecategorys li").each(function(i){
			$("#coursecategorys li:eq("+i+")").css("border-bottom","2px solid #fff");
		});
		$("#coursecategorys li:eq("+index+")").css("border-bottom","2px solid #E84D3B");
	}
	
	//替换null为空字符串
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	function searchList(pageSize,pageNumber,categoryId){
		if(categoryId == '0'){
			categoryId = '';
		}
		//检索课程列表
		$.ajax({
			url:"@url?pageNumber="+pageNumber+"&pageSize=@pageSize&categoryId="+categoryId,
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					var str = '';
					if(objs.length==0){
						str = "@es(no_data).raw()".replace(/%no_data/g,"@MessageUtil.getMessage(TpMsgNames.NO_DATA)");
					}else{
						$(objs).each(function(index){
							var obj = objs[index];
							var tags = obj.tags;
							var txt_tags = '';
							var content = safeText(obj.momo);
							var title = obj.title;
							if(title!=null && title.length > 35){
								title = title.substring(0,35);
								title += "...";
							}
							if(content!=null && content.length > 165){
								content = content.substring(0,165);
								content += "...";
							}
							if(tags != null && tags != ''){
								for(var i=0;i<tags.length;i++){
									txt_tags += tags[i].tagName+"&nbsp;&nbsp;"
									if(txt_tags.length>100){
										txt_tags = txt_tags+"...";
										break;
									}
								}
								
							}
							//考试开始时间，结束时间
							var measureStartDate = obj.measureStartDate;
							var measureEndDate = obj.measureEndDate;
							measureStartDate = dateTimeFormat(obj.measureStartDate).replaceAll("/",".");
							measureEndDate = dateTimeFormat(obj.measureEndDate).replaceAll("/",".");
							var startDate = measureStartDate.substring(0,measureStartDate.length-3);
							var endDate = measureEndDate.substring(0,measureEndDate.length-3);
							
							var timeText = '@MessageUtil.getMessage(TpMsgNames.EXAM_TIME)';
							var display = "";
							if(obj.measureType != '@TpStateConstants.MEASUERMENT_TYPE_EXAM'){
								//非考试类型
								display = "display:none";
								timeText = '@MessageUtil.getMessage(TpMsgNames.COURSE_START)';
								startDate = obj.startDate;
								endDate = obj.endDate;
								if(startDate != null){
									startDate = startDate.replace(/-/g,".");
								}
								if(endDate != null){
									endDate = endDate.replace(/-/g,".");
								}
							}
							str += ("@es(list_item).raw()".replace(/%title/g, replaceNull(title)).replace(/%display/g,display)
							.replace(/%category/g,replaceNull(txt_tags)).replace(/%courseFileId/g,replaceNull(obj.pictureId)).replace(/%author/g,replaceNull(obj.personName))
							.replace(/%userFileId/g,replaceNull(obj.image)).replace(/%timeText/g,timeText)
							.replace(/%workplace/g,replaceNull(obj.workplace)).replace(/%position/g,replaceNull(obj.position))
							.replace(/%textTimeStart/g,replaceNull(startDate))
							.replace(/%textTimeEnd/g,replaceNull(endDate)).replace(/%simpleContent/g,replaceNull(content))
							.replace(/%userNum/g,replaceNull(obj.userNumber)).replace(/%courseId/g,replaceNull(obj.id)));
						});
					}
					
					$("#list_main").html(str);
					$(".courseList").each(function(index){
						$(".courseList:eq("+index+")").hover(
							function(){
								$(".courseList:eq("+index+")").css("border","1px red solid");
							},
							function(){
								$(".courseList:eq("+index+")").css("border","1px #fff solid");
							}
						);
					});
					//分页
					var totalPage = result.total;
					$("#pagination_li").html("");
					
					//分页
					if(totalPage > 1){
						var str = '';
						if(result.page == 1){
							str += '<li class="pagination_first"><a>@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
							str += '<li class="pagination_pre"><a>@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
						}else{
							str += '<li class="pagination_first"><a href="javascript:searchList(@pageSize,1,'+tagId+')" >@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
							str += '<li class="pagination_pre"><a href="javascript:searchList(@pageSize,'+(result.page-1)+','+tagId+')">@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
						}
						for(var i=1;i<=totalPage;i++){
							if(totalPage > 10){
								if(result.page < 10){
									if(i<=10){
										str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList(@pageSize,'+i+','+tagId+')">'+i+'</a></li>';
									}
								}else if(result.page >= 10 && result.page<(totalPage-5)){
									if(i>(result.page-5) && i<=(result.page+5)){
										str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList(@pageSize,'+i+','+tagId+')">'+i+'</a></li>';
									}
								}else if(result.page>=(totalPage-5)){
									if(i>(totalPage-10)){
										str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList(@pageSize,'+i+','+tagId+')">'+i+'</a></li>';
									}
								}
								
							}else{
								str = str +'<li class="pagination_'+i+'"><a href="javascript:searchList(@pageSize,'+i+','+tagId+')">'+i+'</a></li>';
							}
								
						}
						if(result.page == totalPage){
							str += '<li class="pagination_next"><a>@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
							str += '<li class="pagination_last"><a>@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
						}else{
							str += '<li class="pagination_next"><a href="javascript:searchList(@pageSize,'+(result.page+1)+','+tagId+')">@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
							str += '<li class="pagination_last"><a href="javascript:searchList(@pageSize,'+totalPage+','+tagId+')">@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
						}
						$("#fenye").show();
						$("#pagination_li").html(str);
						if(result.page == 1){
							$(".pagination_first").addClass("disabled");
							$(".pagination_pre").addClass("disabled");
						}
						if(result.page == totalPage){
							$(".pagination_next").addClass("disabled");
							$(".pagination_last").addClass("disabled");
						}
						$(".pagination_"+result.page).addClass("active");
					}else{
						$("#fenye").hide();
					}
				}
			}
		});
	}
	
	
</script>
}

