<table class="link-about">
	<tr>
	<td style="width:50%"></td>
	<td style="text-align:center">
	<div style="width:460px;text-align:center">
		@column("fcol-4"){
			<div style="text-align: left;width:100%">
				<a class="link-group">关于我们</a><br/>
				<a>公司简介</a><br/>
				<a>联系我们</a><br/>
				<a>加入我们</a><br/>
				<a>友情链接</a>
			</div>
		}
		@column("fcol-4"){
			<div style="text-align: left;width:100%">
				<a class="link-group">关于</a><br/>
				<a>服务商</a><br/>
				<a>担保机制</a><br/>
				<a>相关资讯</a>
			</div>
		}
		@column("fcol-4"){
			<div style="text-align: left;width:100%">
				<a class="link-group">帮助中心</a><br/>
				<a>新手指导</a><br/>
				<a>支付方式</a><br/>
				<a>服务商须知</a>
			</div>
		}
	</div>
	</td>
	<td style="width:50%">
	</td>
	</tr>
</table>