@args String text = "",
String imgPicId = "",
String url = "",
String css = ""

<div class="bdsharebuttonbox @css" data-tag="share_1">
	 <a href="javascript:;" class="fa fa-weixin " data-cmd="weixin" style="margin:20px 6px 6px 0;"></a>
     <a href="javascript:;" class="fa fa-qq" data-cmd="qzone" style="margin:20px 6px 6px 0;"></a>
     <a href="javascript:;" class="fa fa-weibo" data-cmd="tsina" style="margin:20px 6px 6px 0;"></a>
</div>
<style>
	.bdsharebuttonbox{
		float:right;
		padding-left: 10px;
	}
	.bdsharebuttonbox a{
		background-image: none;
		font-size: 18px;
		padding-left: 10px;
		color: rgb(151,151,151);
		transition:color 0.5s;
		-moz-transition:color 0.5s; /* Firefox 4 */
		-webkit-transition:color 0.5s; /* Safari and Chrome */
		-o-transition:color 0.5s; /* Opera */
	}
	

	.bdsharebuttonbox a:hover{
		color:rgb(182, 0, 5);
	}
</style>
<script>
	(function(){
	    var imgPic =  ABSTRACT_CONTEXT_ROOT + '/pub/image.action?fileId=@imgPicId'
	    window._bd_share_config = {
	        "common": {
	            "bdUrl": '@url',
	            "bdText": '@text',
	            "bdMini": "2",
	            "bdMiniList": false,
	            "bdPic": imgPic,
	            "bdStyle": "0",
	            "bdSize": "16"
	        },
	        "image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},
	        "share": {
	        	bdCustomStyle: "@WebContext.url("/css/tp_style.css")" //使用系统css来冲抵原有的代码
	        }
	    };
	   with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
   })()
</script>