@args String title = "活动新增",
ActiveEntity active
@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.trainingplatform.entity.*;
   com.cloudsoaring.web.course.constant.CourseMsgNames;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
}
@extends(blank, title:title, pageLoading:pageLoading)
<div style="width:70%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
    @form("file-form"){
            @input(label:"标题",name:"title",value:active.getTitle(),required:true,groupcss:"col-10",maxlength:"50")
             @hidden(id:"id", name:"id", value: active.getId())
            @picture(
                        label:MessageUtil.getMessage("封面"),
                        id:"picture",
                        required:true,
                        height:"150px", 
                        groupcss:"col-10",
                        url:"pub/image.action", 
                        fileid: active.getPictureId(), 
                        filename:active.getPictureName(), 
                        viewmode:false
             )
             @ftdate(
                validation:true, 
                label:MessageUtil.getMessage("活动时间"),
                fromname:"timeStart", 
                groupcss:"col-10", 
                toname:"timeEnd",
                showbutton:false,
                torequired: true, 
                fromrequired: true,
                fromvalue:active.getTimeStart(), 
                tovalue:active.getTimeEnd(), 
                onlydate:false, 
             )
              @combobox(
                label:MessageUtil.getMessage("状态"),
                name:"status", 
                groupcss:"col-5", 
                popplace:"left",  
                value:active.getStatus(),
                options:CodeFactory.getCodeList(CourseStateConstants.ACTIVE_STATUS),
                required:true 
              ) 
             @combobox(
                label:MessageUtil.getMessage("是否直播"),
                name:"flagPlayLive", 
                groupcss:"col-5", 
                popplace:"left",  
                value:active.getFlagPlayLive(),
                onChange:"getPlayLiveUrl",
                options:CodeFactory.getCodeList(CourseStateConstants.ACTIVE_PLAY_LIVE),
                required:true 
            ) 
            @input(label:"直播url地址",name:"playLiveUrl",value:active.getPlayLiveUrl(),required:true,groupcss:"col-10",maxlength:"256",disabled:true)
            @ue_image_video(label:"活动内容", height:"260",width:"90%", value:active.getContent(), disabled:false)
            @btnbox(){
                @button_save(width:100)
                @button_close(width:100, onclick:"closeWindow")
            }    
    }
</div>
<script>
     function getPlayLiveUrl(value){ 
       if(value ==null || value==""){
          disable($("#playLiveUrl"),true);
          $("#playLiveUrl").val("");
       }else if(value=="1"){
           disable($("#playLiveUrl"),false);
       }else if(value=="2"){
          disable($("#playLiveUrl"),true);
          $("#playLiveUrl").val("");
         
       }else{
          disable($("#playLiveUrl"),true);
       }
    } 
    $(function(){ 
        var val = $("#flagPlayLive").selectpicker('val');
        getPlayLiveUrl(val);

    }); 

    function save() {
        $('#file-form').bootstrapValidator('validate');
        var validate = $('#file-form').data('bootstrapValidator').isValid();
        if(validate){
            var params = new FormData($('#file-form')[0]);
            var content = ue.getContent();
            params.append("content", content); 
            $.ajax({ 
                url: "@url("/manager/active/addActive.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.history.go(-1);
                    });
                }
            });
        }
    }
    function closeWindow() {
       //window.close();
       window.history.go(-1);
    }
</script>
