 @args String title = "生成活动二维码",
ActiveEntity active
@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.trainingplatform.entity.*;
   com.cloudsoaring.web.course.constant.CourseMsgNames;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
}
@extends(blank, title:title, pageLoading:pageLoading)
@{
      final String titlePath="/resources/codebar/"+active.getTitle()+".png";

}
<div style="width:70%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
    @form("codebar-form"){
        @input(label:"label.content", groupcss:"fcol-12", name:"content", maxlength:"500", value:active.getId(),disabled:true)
       @* @input_number(label:"label.width", groupcss:"fcol-12",name:"width", max:"1000", value:"")
        @input_number(label:"label.height", groupcss:"fcol-12",name:"height", max:"1000",value:"")*@
        @input(label:"label.file.path", groupcss:"fcol-12",name:"filepath",  maxlength:"500", value:titlePath,disabled:true)
        @hidden(id:"title", name:"title",value:active.getTitle())
    }
    @btnbox(border:true){
        @button_save(onclick:"genCodeBar",label:MessageUtil.getMessage("generate"))
    }
</div>
<script>
    $(function(){
        $('#codebar-form').bootstrapValidator();        
    });

    function genCodeBar(){
        $('#codebar-form').bootstrapValidator('validate');
        if($('#codebar-form').data('bootstrapValidator').isValid()){
            var params = new FormData($('#file-form')[0]);
            var title = getValue($('#title'));
            var content = getValue($('#content'));
            var width = getValue($('#width'));
            var height = getValue($('#height'));
            var url="/resources/codebar/"+title+".png";
              $.ajax({ 
                url: "@url("/manager/active/gencodebar.action?title=")"+title+"&content="+content,
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.location.href = "@url("/manager/active/activeOrCodeInit.action?title=")"+title+"&url="+url;
                    });
                }
            });
        }
    }
</script>