@args String title = "活动详情查看",
ActiveEntity active
@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.trainingplatform.entity.*;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
}
@extends(blank, title:title, pageLoading:pageLoading)
<div style="width:80%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:30px;">
    <div class="row" >
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B">活动详情</div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>活动标题：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@active.getTitle()</div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"><span>封面图片：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
            @picture(
                 label:"",
                 id:"picture",
                  height:"180px", 
                 groupcss:"col-6",
                 url:"pub/image.action", 
                 fileid: active.getPictureId(), 
                 filename:active.getPictureName(), 
                 viewmode:true
             )
        
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>活动时间：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">
            @DateUtil.getDateString(active.getTimeStart(), DateUtil.DATE_PATTERN_06 )-
            @DateUtil.getDateString(active.getTimeEnd(), DateUtil.DATE_PATTERN_06 )
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>活动状态：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
              <span id="status"></span>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>是否直播：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
             <span id="playLive"></span>
               
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>直播URL地址</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
            @active.getPlayLiveUrl()
               
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>报名人数：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
               @active.getNumEntry()
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>签到人数：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
               @active.getNumSign()
        </div>
    </div>
     <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>活动内容：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
              <span id="content">
                @active.getContent().raw()
              </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_back(style:"width:200px;height:50px;",onclick="goBack")</span>
        </div>
    </div>
</div>
<script>
  $(function(){
       var data= @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.ACTIVE_STATUS)).raw();
       var data1= @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.ACTIVE_PLAY_LIVE)).raw();
       var value= @active.getStatus();
       var flag=@active.getFlagPlayLive();
       //ACTIVE_PLAY_LIVE
       $("#status").html(data[value]);
       $("#playLive").html(data1[flag]);
  })
</script>