@args String title = "签到人员列表", 
Object condition,
String activeId,
String titleActive

@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
}
@extends(blank, title:title, pageLoading:pageLoading)
<div style="margin-left:50px;font-size:15px">
    <p> 
                       活动名称：<span>@titleActive</span> 
    </p>
</div>
@table(id:"search-result",url:("/manager/active/signActiveList.action?activeId="+activeId),condition:condition,sortName:"timeSign",sortOrder:"desc"){
     @columns(){
             {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMessage("全选")',width:30}, 
             {field: 'userName',title:'@MessageUtil.getMsgAndNote("用户名","txt.active.userName")',width:50,align:'center'},
             {field: 'personName',title:'@MessageUtil.getMsgAndNote("真实姓名","txt.active.personName")',width:150,sortable: true,align:'center'}, 
             {field: 'timeSign',title:'@MessageUtil.getMsgAndNote("签到时间","txt.active.timeSign")',width:150,sortable: true,align:'center',formatter:dateTimeFormat}, 
             {field: 'timeEntry',title:'@MessageUtil.getMsgAndNote("是否报名","txt.active.remark")',width:150,sortable: true,align:'center', formatter:"entryFormat"}, 
         }
     @toolbar(){
        @button(label:MessageUtil.getMsgAndNote("导出","delete"),iconcss:"gh gh-export",onclick:"exportEntryAndSignList")
     }
 }
 <script>
 function exportEntryAndSignList(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var userId = [];
            for(var i = 0; i < selectedRows.length; i++){
                userId[i] = selectedRows[i].userId;
            }
            window.location.href = "@url("/manager/active/exportEntryAndSign.action?userId=")"+userId.join(',')+"&activeId="+@activeId;  
        }else{
           confirm('@MessageUtil.getMsgAndNote("是否导出全部活动数据","txt.active.exportConfirm")', function(){
                 window.location.href = "@url("/manager/active/exportEntryAndSign.action?activeId=")"+@activeId;   
           });
        }
  }
    function entryFormat(value){
        if(value !=null){
            return "是";
        }else{
            return "否";
        }
    }
 </script>