@args String title = "活动签到",
ActiveEntity active,
String url
@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.trainingplatform.entity.*;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
}
<div style="width:80%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:30px;">
    <p style="font-size:20px;margin-left:320px;">说明：扫描二维码，可对活动【@active.getTitle()】进行签到</p>
    <img src="@url(url)" style="width:656px;height:656px;margin-left:320px;">
</div>