@args String title = "", 
Object condition,
Object catagoryTags,
Object tagsSecond,
String editCourseUrl = "/pub/resourse/resourceeditInit.action",
Boolean isOnlyView = false
@import(){  
   com.cloudsoaring.web.trainingplatform.constants.*;
   com.cloudsoaring.web.course.constant.CourseMsgNames;
   com.cloudsoaring.web.course.constant.CourseStateConstants;
}
@extends(client, title:"", pageLoading:pageLoading)
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
@{
    final String fileSizeLimit ="1024000";
    final String groupcss = "col-6";
}
<div style="margin-top: 50px;">
@form("search-condition"){
     @combobox(
              label:MessageUtil.getMessage("标签分类"),
              name:"firstTag", 
              groupcss:"", 
              popplace:"left", 
              multiple:false,
              groupcss:groupcss, 
              value:"",
              labelfield:"tagName", 
              valuefield:"tagId",
              placeholder:"一级标签",
              options:catagoryTags,
              onChange:"getSecondTag",
              disabled:isOnlyView
        )
      @combobox(
             label:MessageUtil.getMessage("    "),
             name:"secondTag", 
             groupcss:groupcss,  
             popplace:"left", 
             placeholder:"二级标签",
             showempty:true,
             multiple:false,  
             value:"", 
             labelfield:"tagName", 
             valuefield:"tagId"
      )   
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
        @button(label:MessageUtil.getMsgAndNote("上传","add"),iconcss:"fa fa-plus", url:"/manager/resource/resourceuploadInit.action")
        @button(label:MessageUtil.getMsgAndNote("删除","delete"),iconcss:"gh gh-trash",onclick:"deleteResource")
    }
}
</div>
@table(id:"search-result",url:"/manager/resource/resourceList.action",condition:condition,sortName:"timeShare",sortOrder:"desc"){
     @columns(){
             {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMessage("全选")',width:30}, 
             {field: 'fileName',title:'@MessageUtil.getMsgAndNote("文件名","txt.resource.fileName")',width:50,align:'center',sortable: true},
             {field: 'stateShare',title:'@MessageUtil.getMsgAndNote("状态","txt.resource.stateShare")',width:50,align:'center', formatter:"stateShareFormat"}, 
              @optcolumn(title:MessageUtil.getMsgAndNote("操作","bb01001.txt.operation",""),width:60){							
					@iconlink(label:MessageUtil.getMsgAndNote("编辑","bb01001.txt.edit",""), iconcss:"glyphicon-pencil", onclick:"editNotice")
					@iconlink(label:MessageUtil.getMsgAndNote("查看","bb01001.txt.edit",""), iconcss:"glyphicon-eye-open", onclick:"viewNotice")				
				},	
         }
 }
 @assign("resource"){
      @form("resource-form"){
            @combobox(
                    label:MessageUtil.getMessage("资源分类"),
                    name:"firstTag", 
                    groupcss:"", 
                    popplace:"left", 
                    multiple:false,
                    groupcss:"fcol-12", 
                    value:"",
                    labelfield:"tagName", 
                    valuefield:"tagId",
                    placeholder:"一级标签",
                    options:catagoryTags,
                    required:true, 
                    onChange:"getSecondTag"
                   
                 )
               @combobox(
                        label:MessageUtil.getMessage("    "),
                        name:"secondTag", 
                        groupcss:"fcol-12",  
                        popplace:"left", 
                        placeholder:"二级标签",
                        showempty:false,
                        multiple:false,  
                        value:"", 
                        labelfield:"tagName", 
                        valuefield:"tagId", 
                        required:true
                     )   
             @file(
                 label:"上传资源",
                 required:true,
                 name:"file1",
                 fileextion: "txt, csv, doc, docx, xls, xlsx, ppt, pptx, pdf, rtf, zip, jpg ,png,mp4",
                 placeholder:"请选择需要上传的文件",
                 maxFileSize: fileSizeLimit
             )
             @input(label:"文件名",name:"fileName",value:"",required:true,groupcss:"fcol-12",maxLength:10)  
       }
}
<script>
	function uploadResource1(){
	   
	}
 function getSecondTag(value){ 
       if(value ==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/manager/course/searchSecondTag.action?id=")"+value;
            $("#secondTag").selectpicker('reload', url);
       }
    }
    function stateShareFormat(value, row, index){ 
        return "审批通过";
    }
    function deleteResource(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var id = [];
            for(var i = 0; i < selectedRows.length; i++){
                id [i] = selectedRows[i].id;
            }
            confirm('@MessageUtil.getMsgAndNote("确定要删除资源吗？","txt.resource.deleteConfirm")', function(){
            	$.ajax({ 
                    url: "@url("/manager/resource/deleteResource.action")",
                    data:{id:id.join(',')},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                $.ajax({
        			type:'post',
        			url:'/pblMgr/pub/course/insertUserOper.action',
        			dataType:"json",
        			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"虚拟仿真资源管理，删除",operSite:"pblMgr/trainingplatform/manager/resource_list2.html"},
        			success:function(result){
        			}
        		});	
                return true;
            });
        }else{
            warning('@MessageUtil.getMsgAndNote("请选择要删除的资源！","txt.resource.deleteWarning")');
        }
    }
    ///manager/resource/resourceUpload.action
    function uploadResource(){
        $('#alter-form').bootstrapValidator('validate');
         BootstrapDialog.show({
            title:"上传资源",
            message: $('@es(resource).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "上传",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
               $('#resource-form').bootstrapValidator('validate');
                 if($('#resource-form').data('bootstrapValidator').isValid()){
                    var params = new FormData($('#resource-form')[0]);
                    var firstTag = getValue($('#firstTag'));
                    var secondTag = getValue($('#secondTag'));
                    var fileName = getValue($('#fileName'));
                    $.ajax({
                        url: "@url("/manager/resource/resourceuploadInit.action?firstTag=")"+firstTag+"&secondTag="+secondTag+"&fileName="+fileName,
                        type:"post", 
                        ontentType:false,   
                        processData:false, 
                        bodyMsg:true,
                        mask:true, 
                        data:params,
                        success: function(data) {
                                //成功
                                dialog.close();
                                 $('#search-result').bootstrapTable('refresh');
                        } 
                       });
                  }
               }
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
    }
    function editNotice(row){
    	$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"虚拟仿真资源管理，编辑",operSite:"pblMgr/trainingplatform/manager/resource_upload2.html"},
			success:function(result){
			}
		});
        window.location.href="@url(editCourseUrl)?id="+row.id;
      }
    function viewNotice(row){
    	$.ajax({
 			type:'post',
 			url:'/pblMgr/pub/course/insertUserOper.action',
 			dataType:"json",
 			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"虚拟仿真资源管理，查看",operSite:"pblMgr/trainingplatform/manager/resource_list.html"},
 			success:function(result){
 			}
 		});
    	window.open('@url("/pub/resourse/resourceDetailInit.action")?resourceId='+row.id+'&fileId='+row.fileId,'_blank'); 
    }
</script>
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
		<script>
		 console.log(returnCitySN["cip"]+','+returnCitySN["cname"]) 
		var browserInfo = "";
		var sysInfo = "";
		var IpInfo = "";
		(function($){
					 var BrowserMatch = {  
						  init: function() {  
							  this.browser = this.getBrowser().browser || "未知浏览器";  //获取浏览器名
							  this.version = this.getBrowser().version || "未知浏览器版本号";  //获取浏览器版本
							  this.OS = this.getOS()+" "+this.getDigits() || "未知操作系统"; //系统版本号 
						  },  
						  getOS: function() {  //判断所处操作系统
								 var sUserAgent = navigator.userAgent.toLowerCase();   
								
								var isWin = (navigator.platform == "Win32") || (navigator.platform == "Win64")|| (navigator.platform == "wow64");   
								
								var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");   
								if (isMac) return "Mac";   
								var isUnix = (navigator.platform == "X11") && !isWin && !isMac;   
								if (isUnix) return "Unix";   
								var isLinux = (String(navigator.platform).indexOf("Linux") > -1);   
								var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";  
								if (isLinux) {  
								if(bIsAndroid) return "Android";  
								else return "Linux";   
								}  
								if (isWin) {   
								
									var isWin2K = sUserAgent.indexOf("Windows nt 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;   
									if (isWin2K) return "Win2000";   
									var isWinXP = sUserAgent.indexOf("Windows nt 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1  
									sUserAgent.indexOf("Windows XP") > -1;   
									if (isWinXP) return "WinXP";   
									var isWin2003 = sUserAgent.indexOf("Windows nt 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;   
									if (isWin2003) return "Win2003";   
									var isWinVista= sUserAgent.indexOf("Windows nt 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;   
									if (isWinVista) return "WinVista";   
									var isWin7 = sUserAgent.indexOf("Windows nt 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;   
									if (isWin7) return "Win7";   
									var isWin8 = sUserAgent.indexOf("windows nt 6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;  
									if (isWin8) return "Win8"; 
									var isWin10 = sUserAgent.indexOf("windows nt 10.0")>-1||sUserAgent.indexOf("Windows 10")>-1;	
									if(isWin10)return "Win10";				
								}  
								return "其他";
						  },  
						  getDigits:function(){ //判断当前操作系统的版本号 
							var sUserAgent = navigator.userAgent.toLowerCase();   
							var is64 = sUserAgent.indexOf("win64") > -1||sUserAgent.indexOf("wow64") > -1;  
							if (is64) {  
								return "64位";  
							}else{  
							   return "32位";    
							}  
						},
						  getBrowser: function() {  // 获取浏览器名
							  var rMsie = /(msie\s|trident\/7)([\w\.]+)/;  
							  var rTrident = /(trident)\/([\w.]+)/;  
							  var rEdge = /(chrome)\/([\w.]+)/;//IE
							  
							  var rFirefox = /(firefox)\/([\w.]+)/;  //火狐
							  var rOpera = /(opera).+version\/([\w.]+)/;  //旧Opera
							  var rNewOpera = /(opr)\/(.+)/;  //新Opera 基于谷歌
							  var rChrome = /(chrome)\/([\w.]+)/; //谷歌 
							  var rUC = /(chrome)\/([\w.]+)/;//UC
							  var rMaxthon = /(chrome)\/([\w.]+)/;//遨游
							  var r2345 =  /(chrome)\/([\w.]+)/;//2345
							  var rQQ =  /(chrome)\/([\w.]+)/;//QQ
							  //var rMetasr =  /(metasr)\/([\w.]+)/;//搜狗
							  var rSafari = /version\/([\w.]+).*(safari)/;
							  
							  var ua = navigator.userAgent.toLowerCase();  
		 
		 
							  var matchBS, matchBS2;  
							  
							  //IE 低版
							  matchBS = rMsie.exec(ua);  
							  if (matchBS != null) {  
								  matchBS2 = rTrident.exec(ua);  
								  if (matchBS2 != null) {  
									  switch (matchBS2[2]) {  
									  case "4.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 8"  //内核版本号
										  };  
										  break;  
									  case "5.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 9"  
										  };  
										  break;  
									  case "6.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 10"  
										  };  
										  break;  
									  case "7.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 11"  
										  };  
										  break;  
									  default:  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "Undefined"  
										  };  
									  }  
								  } else {  
									  return {  
										  browser: "Microsoft IE",  
										  version: "IE:"+matchBS[2] || "0"  
									  };  
								  }  
							  }  
							  //IE最新版
							   matchBS = rEdge.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "Microsoft Edge",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
		                                          //UC浏览器					  
							  matchBS = rUC.exec(ua);                         		   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "UC",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //火狐浏览器
							  matchBS = rFirefox.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "火狐",  
									  version: "Firefox/"+matchBS[2] || "0"  
								  };  
							  }  
		                                         //Oper浏览器					 
							 matchBS = rOpera.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "Opera",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //遨游
							   matchBS = rMaxthon.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "遨游",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
		                                          //2345浏览器					  
		 					  matchBS = r2345.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "2345",  
									  version: "Chrome/ "+matchBS[2] || "0"  
								  };  
							  }  
		                                          //QQ浏览器					  
							  matchBS = rQQ.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "QQ",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //Safari（苹果）浏览器
							  matchBS = rSafari.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent)) && (!(window.chrome)) && (!(window.opera))) {  
								  return {  
									  browser: "Safari",  
									  version: "Safari/"+matchBS[1] || "0"  
								  };  
							  }  
							  //谷歌浏览器
							   matchBS = rChrome.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  matchBS2 = rNewOpera.exec(ua);  
								  if (matchBS2 == null) {  
									  return {  
										  browser: "谷歌",  
										  version: "Chrome/"+matchBS[2] || "0"  
									  };  
								  } else {  
									  return {  
										  browser: "Opera",  
										  version: "opr/"+matchBS2[2] || "0"  
									  };  
								  }  
							  }  
						  }  
		      };  
		      BrowserMatch.init();  
		      //alert("当前浏览器为：" + BrowserMatch.browser +"\n版本为："+ BrowserMatch.version + "\n所处操作系统为："+BrowserMatch.OS); 
		      browserInfo = BrowserMatch.version;
			  sysInfo = BrowserMatch.OS;
			  IpInfo = returnCitySN["cip"];
				})(jQuery);
		 $(function(){
			 $.ajax({
				type:'post',
				url:'/pblMgr/pub/course/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"虚拟仿真资源管理",operSite:"pblMgr/trainingplatform/manager/resource_list2.html"},
				success:function(result){
				}
			});	
		});
		</script>