@args String title = "", 
String pageType,
TeacherLevelEntity level
@import(){  
    com.cloudsoaring.web.bus.entity.*;
    com.cloudsoaring.web.trainingplatform.entity.*;
}
@extends(teacher_level,title:title,pageType:pageType, pageLoading:false)
<div Style="margin-left:10px;font-size:20px;">
    @if(level.getLevelId() ==null){
        <span><strong style="color:red">|</strong>&nbsp;@MessageUtil.getMsgAndNote("老师等级新增","bh01002.txt.teacherLevel.add")</span>
    }else{
        <span><strong style="color:red">|</strong>&nbsp;@MessageUtil.getMsgAndNote("老师等级编辑","bh01002.txt.teacherLevel.edit")</span>
    }
</div>

<div style="width:60%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:30px;">
     @form("file-form"){
	      <div class="row" style="margin-top:15px;">
               @if(level.getLevelId() ==null){
	                  @input(label:MessageUtil.getMsgAndNote("编号：","bh01001.txt.teacherLevel.levelNo"), 
	                    name:"levelNo",
	                    groupcss:"col-10", 
	                    maxlength:"50",
	                    required:true, 
	                    value:level.getLevelNo()
	                 )
                 }else{
                    @input(label:MessageUtil.getMsgAndNote("编号：","bh01001.txt.teacherLevel.levelNo"), 
                           name:"levelNo",
                           groupcss:"col-10", 
                           maxlength:"50",
                           value:level.getLevelNo(),
                           disabled:true
                        )
                 }
                 @hidden(id:"levelId", name:"levelId", value:level.getLevelId())
	       </div>
	       <div class="row" style="margin-top:15px;">
                      @input(label:MessageUtil.getMsgAndNote("级别名称：","bh01001.txt.teacherLevel.levelName"), 
                        name:"levelName",
                        groupcss:"col-10", 
                        maxlength:"50",
                        required:true, 
                        value:level.getLevelName()
                     )
           </div>
           <div class="row" style="margin-top:15px;">
                      @input_number(
                        label:MessageUtil.getMsgAndNote("级别设定：","bh01001.txt.teacherLevel.levelSet"), 
                        name:"levelSet",
                        groupcss:"col-10", 
                        maxlength:"50",
                        required:true, 
                        value:level.getLevelSet(),
                        unitstring:"分"
                     )
           </div>
            <div class="row" style="margin-top:15px;">
                      @label(
                        label:"分成比例", 
                         groupcss:"col-1"
                       )
                       @input(label:MessageUtil.getMsgAndNote("老师分成","bh01001.txt.teacherLevel.platformSplitRadio"), 
                        name:"splitRadio",
                        groupcss:"col-5", 
                        maxlength:"50",
                        required:true, 
                        value:level.getSplitRadio(),
                        unitstring:"%"
                      )
                      @input(label:MessageUtil.getMsgAndNote("平台分成","bh01001.txt.teacherLevel.teacherSplitRadio"), 
                        name:"splitTeacher",
                        groupcss:"col-4", 
                        maxlength:"50",
                        value:"",
                        unitstring:"%",
                        disabled:true
                      )
           </div>
     }
     <div style="margin-top:30px;margin-right:150px;">
        @btnbox(){
            @button_save(width:100)&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            @button_close(width:100, onclick:"closeWindow")
        }
    </div>
</div>
<script>
   $(document).ready(function(){
        var splitRadio= $("#splitRadio").val();
        if(splitRadio==''){
             $("#splitTeacher").val(0)
        }else{
            $("#splitTeacher").val(100-splitRadio)
        }
        
   
   });  
    function closeWindow() {
       window.history.go(-1);
     }
     function save() {
       $('#file-form').bootstrapValidator('validate');
       var validate = $('#file-form').data('bootstrapValidator').isValid();
       if(validate){
         var params = new FormData($('#file-form')[0]);
         $.ajax({ 
                url: "@url("/manager/teacherLevel/saveLevel.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success('@MessageUtil.getMsgAndNote("保存成功","txt.saveSuccess")', function(){
                         window.history.go(-1);
                    });
                }
            });
          }
      }
     $("#splitRadio").blur(function(){
         var splitRadio= $("#splitRadio").val();
         $("#splitTeacher").val(100-splitRadio)
    });
</script>