/*登录页样式*/
.login-top,.login-bottom{
  background: -webkit-gradient(linear, 0% 0, 100% 0, from(#e84d12), to(#f29b7a)) !important;
  background: -ms-linear-gradient(left,#e84d12 0%,#f29b7a 100%) !important;
  background: -moz-linear-gradient(left, #e84d12, #f29b7a) !important;
  color:white;
}
.login-center{
  background: -webkit-gradient(linear, 0% 0, 100% 0, from(#f29b7a), to(#e84d12)) !important;
  background: -ms-linear-gradient(left,#f29b7a 0%,#e84d12 100%) !important;
  background: -moz-linear-gradient(left, #f29b7a, #e84d12) !important;
}
.dialog-loading,.error-code{
	color: #e84c11 !important;
}
.navbar-inverse ,.circl_word_icon{
	background-color: #e84c11;
	border-color: #e84c11;
}
.loading-circle, .loading-circle-small {
	border-top: 2px solid #e84c11 !important;
}
.spin-icon {
  background: #e84c11;
}
#pageTitle{
	border-left-color:#e84c11;
}
.pace .pace-progress {
  background: #e84c11;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-header a:hover, .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,
.tabs-rythm>li>a:hover,.tagsinput-add:hover,.tagsinput .tag,.tagsinput .rtag
{
	background-color:#F38900 !important;
}
.btn-normal, .btn-normal:focus,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover,
.tabs-rythm>li.active>a, 
.tabs-rythm>li.active>a:focus, 
.tabs-rythm>li.active>a:hover,
.panel-normal>.panel-heading,
.badge-normal,.tagsinput .tag:hover,
.label-normal {
	background-color:#ff681f !important;
}
.btn-normal, .btn-normal:focus,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover,
.panel-normal>.panel-heading,
.badge-normal,
.label-normal,
.tab-content {
	border-color:#ff681f !important;
}
.breadcrumb-arrow li a,.breadcrumb-arrow li a:hover, .breadcrumb-arrow li a:focus{
    background-color: #ff681f !important;
    border: 1px solid #ff681f !important;
}
.breadcrumb-arrow li a:before{
	border-left-color: #ff681f !important;
}
.breadcrumb-arrow li a:after{
	border-left-color: white !important;
}
.areahead{
	color: rgb(251, 189, 25);
}
.btn-normal:hover{
	background-color:rgb(243, 137, 0) !important;
	border-color:rgb(243, 137, 0) !important;
}
a.iconlink-rythm:hover{
	color:rgb(243, 137, 0) !important;
}
a.iconlink-rythm,a.iconlink-rythm:focus{
	color:#ff681f;
}
/*菜单主题*/
#left-side .list-group-item[data-toggle="collapse"]{
	color:#F38900;
	background-color: #555960;
}
#left-side>#sidebar>#accordion>.list-group-item{
	border-color: #555960;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"].collapsed {
   color: #616060; 
}
#left-side .list-group .list-group .list-group-item:hover
{
	color:#FB9804 !important;
}
/**Dialog*/
.type-primary.bootstrap-dialog .modal-header {
	background-color:#ff681f;
}
.close{
	text-shadow: 1px 2px 2px #475057;
}
.bootstrap-dialog-title{
	text-shadow: 2px 2px 2px #475057;
}
/*Table标题*/
.fixed-table-container{
	border-color:#DDD;
	border-top-color:#ff681f;
}
/*Switch*/
.has-switch span.switch-oon{color:#fff;background:#ff681f}
.has-switch span.switch-ooff{color:#fff;background:#434A54}
/*二级菜单 展开*/
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed){
	border-left-color:#FF4901;
	background-color:rgba(230, 230, 230, 1) !important;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed),
#left-side .list-group .list-group .list-group-item.active, #left-side .list-group .list-group .list-group-item.active:hover, #left-side .list-group .list-group .list-group-item.active:focus {
	color: #FF4901;
}
a.selector-item-rythm{
	color:#3bafda;
}
.selector-item-rythm:hover{
	color: #f6bb42;
}
a.selector-item-rythm.selector-active-rythm{
	color: #F38900;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot,
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
	background: #fbe8aa; 
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
	background: #fb8d19;
} 
/*非主色调 可以不换*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
	color: #fff;
}
.jstree-proton .jstree-hovered {
  background: rgb(229, 229, 229);
  color: rgb(0, 0, 0);
}
.dm-footer{
	background-color:#f5f5f5;
	border-color:#f5f5f5;
}

#left-side .list-group .list-group .list-group-item[data-toggle="collapse"] .fa:after,
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"].collapsed .fa:after{
	color: #616060; 
}
#left-side a.list-group-item.active{
	border-color: #e6e9ed;
}
.dm-empty-bar:hover{
	background-color:#e6e9ed;
}
.input-group-addon {
	color: #000;
	background-color: #e6e9ed;
}
#left-side .list-group-item.leftleaf {
    color: #FFFFFF;
    background-color: #555960;
}
#left-side .list-group-item.leftleaf.active {
    color: #F38900;
}