/*登录页样式*/
.login-top,.login-bottom{
  background: -webkit-gradient(linear, 0% 0, 100% 0, from(#3fbdd4), to(#b2e5ee)) !important;
  background: -ms-linear-gradient(left,#3fbdd4 0%,#b2e5ee 100%) !important;
  background: -moz-linear-gradient(left, #3fbdd4, #b2e5ee) !important;
  color:white;
}
.login-center{
  background: -webkit-gradient(linear, 0% 0, 100% 0, from(#b2e5ee), to(#3fbdd4)) !important;
  background: -ms-linear-gradient(left,#b2e5ee 0%,#3fbdd4 100%) !important;
  background: -moz-linear-gradient(left, #b2e5ee, #3fbdd4) !important;
}
.dialog-loading,.error-code{
	color: #3bafda !important;
}
.navbar-inverse ,.circl_word_icon{
	background-color: #3bafda;
	border-color: #3bafda;
}
.loading-circle, .loading-circle-small {
	border-top: 2px solid #3bafda !important;
}
.spin-icon {
  background: #3bafda;
}
#pageTitle{
	border-left-color:#3bafda;
}
.pace .pace-progress {
  background: #3bafda;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-header a:hover, .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,
.tabs-rythm>li>a:hover ,.tagsinput-add:hover,.tagsinput .tag,.tagsinput .rtag
{
	background-color:#4fc1e9 !important;
}
.btn-normal, .btn-normal:focus,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover,
.tabs-rythm>li.active>a, 
.tabs-rythm>li.active>a:focus, 
.tabs-rythm>li.active>a:hover,
.panel-normal>.panel-heading,
.badge-normal,.tagsinput .tag:hover, 
.label-normal {
	background-color:#3bafda !important;
}
.btn-normal, .btn-normal:focus,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover,
.panel-normal>.panel-heading,
.badge-normal,
.label-normal,
.tab-content {
	border-color:#3bafda !important;
}
.breadcrumb-arrow li a,.breadcrumb-arrow li a:hover, .breadcrumb-arrow li a:focus{
    background-color: #3bafda !important;
    border: 1px solid #3bafda !important;
}
.breadcrumb-arrow li a:before{
	border-left-color: #3bafda !important;
}
.breadcrumb-arrow li a:after{
	border-left-color: white !important;
}
.areahead{
	color: #66C2FA;
}
.btn-normal:hover{
	background-color:#4fc1e9 !important;
	border-color:#4fc1e9 !important;
}
a.iconlink-rythm:hover{
	color:#4fc1e9 !important;
}
a.iconlink-rythm,a.iconlink-rythm:focus{
	color:#3bafda;
}
/*菜单主题*/
#left-side .list-group-item[data-toggle="collapse"]{
	color:#4fc1e9;
	background-color: #555960;
}
#left-side>#sidebar>#accordion>.list-group-item{
	border-color: #555960;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"].collapsed {
   color: #616060; 
}
#left-side .list-group .list-group .list-group-item:hover
{
	color:#4fc1e9 !important;
}
/**Dialog*/
.type-primary.bootstrap-dialog .modal-header {
	background-color:#3bafda;
}
.close{
	text-shadow: 1px 2px 2px #475057;
}
.bootstrap-dialog-title{
	text-shadow: 2px 2px 2px #475057;
}
/*Table标题*/
.fixed-table-container{
	border-color:#DDD;
	border-top-color:#3bafda;
}
/*Switch*/
.has-switch span.switch-oon{color:#fff;background:#3bafda}
.has-switch span.switch-ooff{color:#fff;background:#434A54}
/*二级菜单 展开*/
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed){
	border-left-color:#3bafda;
	background-color:rgba(230, 230, 230, 1) !important;
}
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"]:not(.collapsed),
#left-side .list-group .list-group .list-group-item.active, #left-side .list-group .list-group .list-group-item.active:hover, #left-side .list-group .list-group .list-group-item.active:focus {
	color: #3bafda;
}
a.selector-item-rythm{
	color:#000000;
}
a.selector-item-rythm:hover{
	color: #4fc1e9;
}
a.selector-item-rythm.selector-active-rythm{
	color: #3bafda;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot,
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
	background: #C9E8F4; 
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
	background: #3bafda;
} 
/*非主色调 可以不换*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
	color: #fff;
}
.jstree-proton .jstree-hovered {
  background: rgb(229, 229, 229);
  color: rgb(0, 0, 0);
}
.dm-footer{
	background-color:#f5f5f5;
	border-color:#f5f5f5;
}

#left-side .list-group .list-group .list-group-item[data-toggle="collapse"] .fa:after,
#left-side .list-group .list-group .list-group-item[data-toggle="collapse"].collapsed .fa:after{
	color: #616060; 
}
#left-side a.list-group-item.active{
	border-color: #e6e9ed;
}
.dm-empty-bar:hover{
	background-color:#e6e9ed;
}
.input-group-addon {
	color: #000;
	background-color: #e6e9ed;
}
#left-side .list-group-item.leftleaf {
    color: #FFFFFF;
    background-color: #555960;
}
#left-side .list-group-item.leftleaf.active {
    color: #4fc1e9;
}