#body-content{
	margin-top:75.05px;
}
.navbar-inverse {
    height: 55px;
    border-bottom: solid 5px #40b38a !important;
}
.float-area{
	top:60px;
}
.top-nav-item{
	height:50px !important;
}
#left-side,#left-side.no_left_space {
    margin-top: -0px !important;
}
#left-side .list-group-item[data-toggle=collapse].collapsed {
    color: #434a54;
}
#left-side>#sidebar>#accordion>.list-group-item {
    border-color: #FFF;
}
#left-side .list-group-item[data-toggle="collapse"] {
    background-color: #FFF;
}
#left-side .list-group .list-group .list-group-item {
    background: #fff;
}
#left-side .list-group .list-group .list-group-item {
    background-color: #fff;
}
.list-group-item {
    border-color: #fff transparent transparent;
}
#left-side a.list-group-item.active {
    border-bottom-color: #fff;
    border-top-color: #fff;
}
.sys-title{
	font-size: 27px;
    line-height: 28px;
}
.navbar-brand.top-nav-item img{
	    margin-top: -10px !important;
}
.list-group .list-group .list-group-item:first-child {
border-top: 1px solid #fff;
}
.list-group-item.active dmh1, .list-group-item.active dmh2 {
    border-bottom: 2px solid #37bc9b;
}