@args String title = "", 
String categoryId="", 
String pageType="discount",
Boolean pageLoading=true,
List categorys,
String measureType
@import(){  
   
}
@extends(base, title:"积分管理", pageLoading:pageLoading)

<!-- 页面中间部分 -->
<style>
    .np-title{
        color:#a7a7a7;
        font-size:16px;       
        cursor:pointer;
    } 
    .np-title.active{
        cursor: not-allowed;
    }  
</style>
<div id="mainContent" style="margin-left:50px">
<!-- 页面内容 -->
    <!-- 页面内容上部分导航 -->
    @render("mainContent"){
        @content(css:"page-content"){
            <div style="padding:0px 20px 20px 20px;">
                @{
                    String listHref = "#";
                    String listCss = "";
                    String discountCss = "";
                    String discountHref = "#";
                    String rechargeCss="";
                    String rechargeHref = "#";
                    if("discount".equals(pageType)){
                        discountCss = "active";
                        listHref = WebContext.url("/manager/pointmanager/sourceInit.action");
                        rechargeHref=WebContext.url("/manager/pointmanager/rechargeListInit.action");
                    }else if("list".equals(pageType)){
                        listCss = "active";
                        discountHref = WebContext.url("/manager/pointmanager/pointDiscountInit.action");
                        rechargeHref=WebContext.url("/manager/pointmanager/rechargeListInit.action");
                    }else if("rechargeList".equals(pageType)){
                        rechargeCss = "active";
                        discountHref = WebContext.url("/manager/pointmanager/pointDiscountInit.action");
                        listHref = WebContext.url("/manager/pointmanager/sourceInit.action");
                    }else if("edit".equals(pageType)){
                        listCss = "active";
                        discountHref = WebContext.url("/manager/pointmanager/pointDiscountInit.action");
                        rechargeHref=WebContext.url("/manager/pointmanager/rechargeListInit.action");
                        listHref = WebContext.url("/manager/pointmanager/sourceInit.action");
                    }else if("add".equals(pageType)){
                        rechargeCss = "active";
                        discountHref = WebContext.url("/manager/pointmanager/pointDiscountInit.action");
                        rechargeHref=WebContext.url("/manager/pointmanager/rechargeListInit.action");
                        listHref = WebContext.url("/manager/pointmanager/sourceInit.action");
                    }else if("editRecharge".equals(pageType)){
                        rechargeCss = "active";
                        discountHref = WebContext.url("/manager/pointmanager/pointDiscountInit.action");
                        rechargeHref=WebContext.url("/manager/pointmanager/rechargeListInit.action");
                        listHref = WebContext.url("/manager/pointmanager/sourceInit.action");
                    }
                }  
                <ul class="selector-container-rythm">
                    <li style="margin-right: 20px">
                        <a class="np-title @discountCss" href="@discountHref">
                            @MessageUtil.getMsgAndNote("积分抵扣","bh02001.txt.pointmanager.discount")
                        </a>
                    </li>
                    <li style="margin-right: 20px">
                        <a class="np-title @listCss" href="@listHref">
                            @MessageUtil.getMsgAndNote("积分来源","bh02002.txt.pointmanager.source")
                        </a>
                    </li>
                    <li style="margin-right: 20px">
                        <a class="np-title @rechargeCss" href="@rechargeHref">
                            @MessageUtil.getMsgAndNote("积分调整","bh02004.txt.pointmanager.recharge")
                        </a>
                    </li>
                </ul>
            </div>
            
        }
        <div id="pageContent">
            @if(StringUtil.isNotEmpty(title)){
                <div id="pageTitle">
                    <h>@title</h>
                </div>
            }
            <div id="pageBody">
                @render()
            </div>
            <div class="clearfix"></div>
        </div>
     }
</div>

<script type="text/javascript">
    //生成GUID
    function _guid() {
        function S4() {
           return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
        }
        return (S4()+S4()+S4()+S4()+S4()+S4()+S4()+S4());
    }
</script>
