@args String title = MessageUtil.getMsgAndNote("积分抵扣","bh02001.txt.pointmanager.discount"), 
String pageType,
List systemConfigs
@import(){  
    com.cloudsoaring.web.bus.entity.*;
}
@extends(point,title:title,pageType:pageType, pageLoading:false)
<div style="width:80%;height:100%;padding-top:80px;padding-bottom:50px;">
	@form("conf-form"){
	    <div class="row" style="margin-left:40%;">
	        <span style="font-size:22px"><strong> @MessageUtil.getMsgAndNote("积分抵扣","bh02001.txt.pointmanager.discount")</strong> </span>
	    </div>
	     <div class="row" style="text-align:center;margin-left:40%;font-size:20px;margin-top:30px;">
                 @for(SystemConfigEntity sc : systemConfigs){
                    @{
                        final SystemConfigEntity systemConfig = sc;
                        final String id = "dmsc_" + systemConfig.getKey().replaceAll("[.]","-");
                        final String name = id;
                        final String placehoder = MessageUtil.getMessage(MsgNames.MSG_SELECT_PLEASE) + systemConfig.getName();
                    }
                    @if(systemConfig.getKey().equals("POINTS_FOR_SMALL_CHANGE")){
                        @input(
                            labelcss:"label-width150",
                            groupcss:"col-7",
                            maxlength:String.valueOf(systemConfig.getMaxLength()), 
                            name:name,
                            label:systemConfig.getName(),
                            value:systemConfig.getValue(), 
                            type:"text"
                        )
                    }
               }
         }
     </div>
     <div style="text-align:center;margin-left:30%;margin-top:30px;">
        @btnbox(border:true){
                @button_save(onclick:"saveConfig")
        } 
     </div>
     
</div>
<script>
    function saveConfig(){
        $('#conf-form').bootstrapValidator('validate');
        if($('#conf-form').data('bootstrapValidator').isValid()){
            var params = buildFormData('#conf-form');
            $.ajax({ 
                url: "@url("/system/save.action")",
                data:params,
                type:"post", 
                bodyMsg:true,
                mask:true
            });
        }
    }
    
</script>