@args String title = "积分充值", 
String pageType,
PointsRechargeEntity recharge
@import(){  
    com.cloudsoaring.web.bus.entity.*;
    com.cloudsoaring.web.pointmanager.entity.*;
    com.cloudsoaring.web.pointmanager.view.*;
    com.cloudsoaring.web.common.utils.*;
}
@extends(point,title:title,pageType:pageType, pageLoading:false)
<!-- 人员添加dialog -->
@assign("user"){
    <div style="width:800">
         @form(name:"search-condition",validation:false){
           <div class="row">
               @input(label:MessageUtil.getMessage(MsgNames.MSG_USER_NAME), name:"userName",groupcss:"fcol-6")
               @input(label:MessageUtil.getMsgAndNote("手机","txt.mobile"),name:"mobile",groupcss:"fcol-6")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
        @table(id:("search-user"), showColumns:false, url:"/manager/pointmanager/searchUserAll.action",height:400,singleSelect:true){
            @columns(){
                {field: 'state',title: "",align:'center',checkbox:true,width:30},
                {field: 'userName',title: '@MessageUtil.getMsgAndNote("用户名","txt.userName")',sortable: true},                                            
                {field: 'personName',title: '@MessageUtil.getMsgAndNote("名称","txt.personName")',sortable: true},
                {field: 'mobile',title: '@MessageUtil.getMsgAndNote("手机","txt.mobile")',sortable: true}
            }
        }
    </div>
}
<div style="width:60%;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:30px;">
	 @form("file-form"){
       <div class="row" style="margin-top:5px;">
            <div class="col-lg-2" style="font-size:20px;text-align:right;"><strong>积分充值</strong></div>
            <div class="col-lg-10" style="font-size:16px;padding-left:33px;">
                @label(label:"日期", name:"createDate", groupcss:"",  value:DateUtil.getDateString(recharge.getCreateDate(), DateUtil.DATE_PATTERN_01 ))
            </div>
       </div>
       <div class="row" style="margin-top:15px;">
            <div class="col-lg-2" style="font-size:20px;"></div>
            <div class="col-lg-10" style="font-size:16px;padding-left:33px;">
              @label(label:MessageUtil.getMsgAndNote("管理员","bh02004.txt.pointmanager.createUser"), name:"createDate", groupcss:"",  value:recharge.getCreateUser())
            </div>
       </div>
       <div class="row" style="margin-top:25px;">
            <div class="col-lg-2" style="font-size:20px;"></div>
            <div class="col-lg-10" style="font-size:16px;">
                 @input(label:MessageUtil.getMsgAndNote("兑换人用户名:","bh02004.txt.pointmanager.exchangerName"), 
                    name:"exchangerName", 
                    groupcss:"col-6", 
                    maxlength:"20",
                    required:true, 
                    value:recharge.getExchangerName(),
                    disabled:false
                 )
                @hidden(id:"rechargeId", name:"rechargeId", value:recharge.getRechargeId())
                @hidden(id:"exchangerId", name:"exchangerId", value:"")
                @button(
                    label:MessageUtil.getMsgAndNote("选择","select"),
                     iconcss:"fa fa-plus",
                     onclick:"addUser"
                )
            </div>
       </div>
       <div class="row" style="margin-top:15px;">
            <div class="col-lg-2" style="font-size:20px;"></div>
            <div class="col-lg-10" style="font-size:16px;">
                 @input(label:MessageUtil.getMsgAndNote("手机号:","bh02004.txt.pointmanager.mobile"), 
                    name:"mobile", 
                    groupcss:"col-6", 
                    maxlength:"20",
                    required:true, 
                    value:recharge.getMobile(),
                    disabled:true
                 )
            </div>
       </div>
       <div class="row" style="margin-top:15px;">
            <div class="col-lg-2" style="font-size:20px;"></div>
            <div class="col-lg-10" style="font-size:16px;">
                 @input(label:MessageUtil.getMsgAndNote("积分余额:","bh02004.txt.pointmanager.balance"), 
                    name:"balance", 
                    groupcss:"col-6", 
                    maxlength:"20",
                    required:true, 
                    value:"",
                    disabled:true
                 )
            </div>
       </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-lg-2" style="font-size:20px;"></div>
            <div class="col-lg-10" style="font-size:16px;">
                 @input(
                    label:MessageUtil.getMsgAndNote("充值积分:","bh02004.txt.pointmanager.exchangePonts"), 
                    name:"exchangePonts",
                    groupcss:"col-6", 
                    maxlength:"10",
                    precision: "2",
                    required:true, 
                    value:recharge.getExchangePonts()
                 )
                 @label(label:MessageUtil.getMsgAndNote("零钱兑换积分数量","bh02004.txt.pointmanager.discountRate"), name:"discount", groupcss:"col-5",  value:ConfigUtil.getProperty("POINTS_FOR_SMALL_CHANGE"))
            </div>
       </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-lg-2" style="font-size:20px;"></div>
            <div class="col-lg-10" style="font-size:16px;">
                 @textarea(
                       groupcss:"col-9", 
                       label:MessageUtil.getMsgAndNote("备注:","bh02004.txt.pointmanager.remark"), 
                       id:"remark", 
                       required:false,
                       maxlength:"200", 
                       height:"126px",
                       disabled:false,
                       value:recharge.getRemark()
                 )
            </div>
       </div>
	}
	<div style="margin-top:20px;">
		@btnbox(){
	        @button_save(width:100)&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
	        @button_close(width:100, onclick:"closeWindow")
	    }
	</div>
</div>
<script>
     function closeWindow() {
       window.history.go(-1);
     }
     function save() {
        $('#file-form').bootstrapValidator('validate');
        var validate = $('#file-form').data('bootstrapValidator').isValid();
        if(validate){
	         var params = new FormData($('#file-form')[0]);
	         var discount=$("#discount").html();
	         var exchangerId=$("#exchangerId").val();
	     //    var userName= $("#exchangerName").val();
	         params.append("discount",discount);
	         $.ajax({ 
	                url: "@url("/manager/pointmanager/submitPointRecharge.action")",
	                data:params,
	                method:"post",  
	                bodyMsg:true,
	                mask:true,
	                /** 
	                 *必须false才会自动加上正确的Content-Type 
	                 */
	                contentType:false,  
	                /** 
	                 * 必须false才会避开jQuery对 formdata 的默认处理 
	                 * XMLHttpRequest会对 formdata 进行正确的处理 
	                 */  
	                processData:false, 
	                success: function(result){
	                    success('@MessageUtil.getMsgAndNote("保存成功","bh02002.txt.pointmanager.saveSuccess")', function(){
	                         window.history.go(-1);
	                    });
	                }
	            });
	         }
      }
     
     
     function addUser(){
         BootstrapDialog.show({
            title:"选择兑换人",
            message: $('@es(user).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "确定",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
                    if(selectedRows && selectedRows.length > 0){
                      for(var i = 0; i < selectedRows.length; i++){
                          $("#exchangerName").val(selectedRows[i].userName);
                          $("#mobile").val(selectedRows[i].mobile);
                          $("#exchangerId").val(selectedRows[i].userId);
                          $.ajax({ 
                            url: "@url("/manager/pointmanager/searchPoint.action?userId=")"+selectedRows[i].userId,
                            bodyMsg:true,
                            type:"post", 
                            success: function(result){//balance
                                 $("#balance").val(result.points);
                            }
                        });
                       } 
                      
                       this.dialog.close();
                    }else{
                        warning("请选择要添加的用户");
                    }
               }
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
     }
</script>