@args String title = "积分来源变更", 
String pageType,
PointTypeView entity
@import(){  
    com.cloudsoaring.web.bus.entity.*;
    com.cloudsoaring.web.pointmanager.entity.*;
    com.cloudsoaring.web.pointmanager.constant.*;
     com.cloudsoaring.web.pointmanager.view.*;
}
@extends(point,title:title,pageType:pageType, pageLoading:false)
<div style="width:50%;height:100%;margin-left:280px;margin-right:80px;padding-top:80px;padding-bottom:50px;">
    @form("file-form"){
         @input(label:MessageUtil.getMsgAndNote("编号","bh02002.txt.pointmanager.pointNumber"), name:"typeCode", groupcss:"col-10",  maxlength:"20",required:true, value:entity.getTypeCode(),disabled:true)
         @input(label:MessageUtil.getMsgAndNote("系统编码","bh02002.txt.pointmanager.systemCode"), name:"systemCode", groupcss:"col-10",  maxlength:"50",required:true, value:entity.getSystemCode(),disabled:true)
         @input(label:MessageUtil.getMsgAndNote("积分类型","bh02002.txt.pointmanager.pointTypeName"), name:"typeName", groupcss:"col-10",  maxlength:"50",required:true, value:entity.getTypeName(),disabled:true)
         @combobox(
             label:MessageUtil.getMsgAndNote("奖励/消费","bh02002.txt.pointmanager.pointRewardOrConsumption"), 
             name:"sumKbn", 
             groupcss:"", 
             required: true, 
             maxlength:"50", 
             value:entity.getSumKbn(),
             groupcss:"col-10",
             options:CodeFactory.getCodeList(PointStateConstants.SUM_KBN),
             disabled:true
          )
       
         @input(label:MessageUtil.getMsgAndNote("积分值","bh02002.txt.pointmanager.pointvalidity"), name:"validity", groupcss:"col-10",  maxlength:"10",required:false, value:entity.getValidity())
    }
     @btnbox(){
        @button_save(width:100)
        @button_close(width:100, onclick:"closeWindow")
    }
</div>
<script>
      function save() {
        $('#file-form').bootstrapValidator('validate');
        var validate = $('#file-form').data('bootstrapValidator').isValid();
        if(validate){
	         var params = new FormData($('#file-form')[0]);
	         $.ajax({ 
	                url: "@url("/manager/pointmanager/editPoint.action")",
	                data:params,
	                method:"post",  
	                bodyMsg:true,
	                mask:true,
	                /** 
	                 *必须false才会自动加上正确的Content-Type 
	                 */
	                contentType:false,  
	                /** 
	                 * 必须false才会避开jQuery对 formdata 的默认处理 
	                 * XMLHttpRequest会对 formdata 进行正确的处理 
	                 */  
	                processData:false, 
	                success: function(result){
	                    success('@MessageUtil.getMsgAndNote("保存成功","bh02002.txt.pointmanager.saveSuccess")', function(){
	                         window.history.go(-1);
	                    });
	                }
	            });
	         }
      }
     function closeWindow() {
       window.history.go(-1);
    }
</script>