@args String tagTypelevel="twoLevel",String type="SUB",BaseEntity condition,String businessType=""
@import(){
	com.cloudsoaring.web.institution.entity.TagTypeInstitutionEntity,
	com.cloudsoaring.web.common.entity.BaseEntity
}
@{
	final String fileSizeLimit ="102400";
	final String Tagurl="/pub/course/searchTagTypeList2.action?businessType=%businessType";
}
@extends(client,title:"")
<style>
.table-rythm thead, .table-rythm thead tr {
    border: none;
    background: #b60006;
}
.btn-normal{
    border-color: #b60006 !important;
    background-color: #b60006 !important;
}
</style>
<style>
   	   		.btn-normal:hover {
			    background-color: #b60006 !important;
			    border-color: #b60006 !important;
			}
			.btn.active, .btn:active, .btn:focus, .btn:hover {
			    color: #fff;
			    background-color: #b60006;
			    border-color: #b60006;
			    outline: 0!important;
			}
			.btn-normal, .btn-normal:focus, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .panel-normal>.panel-heading, .badge-normal, .label-normal, .tab-content {
			    border-color: #b60006 !important;
			}
			.btn-normal, .btn-normal:focus, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .tabs-rythm>li.active>a, .tabs-rythm>li.active>a:focus, .tabs-rythm>li.active>a:hover, .panel-normal>.panel-heading, .badge-normal, .tagsinput .tag:hover, .label-normal {
			    background-color: #b60006 !important;
			}
			a.iconlink-rythm:hover{
				color:#b60006 !important;
			}
			.type-primary.bootstrap-dialog .modal-header {
			    background-color: #b60006;
			}
			.type-primary.bootstrap-dialog .modal-header {
			    background-color: rgb(182, 0, 6);
			}
			.bootstrap-select .dropdown-menu li a:focus {
			    color: #fff;
			    background-color: #b60006;
			    outline: 0;
			}
   	   </style>
@assign("alter"){

	@form("alter-form"){
		@input(id:"ftagName",label:MessageUtil.getMsgAndNote("父标签名称","bb01003.txt.ftagName",""),groupcss:"col-12",name:"ftagName",disabled:true)
		@input(id:"tagName01",label:MessageUtil.getMsgAndNote("标签名称","bb01003.txt.tagName",""),groupcss:"col-12",name:"tagName",maxlength:"50",required:true)
		<!-- @file(
			label:MessageUtil.getMsgAndNote("上传图标","bb01003.txt.upload.icon",""),
			required:true
			,name:"f1"
			, fileextion: "jpg ,png"
			, placeholder:MessageUtil.getMsgAndNote("请选择需要上传的图标jpg ,png","bb01003.txt.please.select.icon","")
			, maxFileSize: fileSizeLimit
		
			) -->
			
		}
}

@assign("alterFirst"){

	@form("alter-form"){
		@input(id:"tagName01",label:MessageUtil.getMsgAndNote("标签名称","bb01003.txt.tagName",""),groupcss:"col-12",name:"tagName",maxlength:"50",required:true)
		<!-- @file(
			label:MessageUtil.getMsgAndNote("上传图标","bb01003.txt.upload.icon",""),
			required:true
			,name:"f1"
			, fileextion: "jpg ,png"
			, placeholder:MessageUtil.getMsgAndNote("请选择需要上传的图标jpg ,png","bb01003.txt.please.select.icon","")
			, maxFileSize: fileSizeLimit
		
			) -->
			
		}
}

@assign("alterEndit"){

	@form("alter-form"){
		@input(id:"tagName01",label:MessageUtil.getMsgAndNote("标签名称","bb01003.txt.tagName",""),groupcss:"col-12",name:"tagName",maxlength:"50",required:true)
		<!-- @file(
			label:MessageUtil.getMsgAndNote("上传图标","bb01003.txt.upload.icon","")
			,name:"f1"
			, fileextion: "jpg ,png"
			, placeholder:MessageUtil.getMsgAndNote("请选择需要上传的图标jpg ,png","bb01003.txt.please.select.icon","")
			, maxFileSize: fileSizeLimit
			,filename:"%fileName"
			) -->
		<div class="clearfix"></div>
			
		}
}
<style>
a{
font-size:16px;
}
 a:link{
text-decoration:none;
color:black;
}
 a:visited{
color:black;
}
.active{
	color:black;
	font-weight:bold;
}
#tap a:hover{
	color:black;
	font-weight:bold;
}

</style>


	<!-- <div id="tap" style="padding-top:30px;padding-left:40px;padding-bottom:30px;">
			<a id="tabOne" class="active" href="javascript:void(0)" onclick="allView()" style="display:inline-block;">@MessageUtil.getMsgAndNote("课程标签","bb01003.txt.course.tag","")</a>
	</div> -->
	<!-- <div style="width:100%;background:#e6e6e6;height:15px;"></div> -->
	<div style="padding-top: 8px;margin-top: 0px;">
		@btnbox(align:"right"){
			@button(label:MessageUtil.getMsgAndNote("新增","bb01001.txt.add",""),iconcss:"fa fa-plus",onclick:"addDialog",innerType:"", id:"btnAdd")	
			@button(label:MessageUtil.getMsgAndNote("删除","bb01001.txt.del",""),iconcss:"fa fa-remove",onclick:"delTagList",id:"btnDel")
		}	
		@form("search-condition"){
	    		@hidden(name:"businessType",value:businessType)
	  		}
	  	@form("condition"){
	    		@hidden(name:"tagTypelevel",value:"twoLevel")
	  		}

		@table(id:"search-result", url:"/pub/course/searchTagSchoolList2.action",sortName:"createDate",sortOrder:"ASC",pagination:true,condition:condition){
			@columns(){
				{field: 'state',title:'@MessageUtil.getMsgAndNote("全选","bb01001.txt.all.select","")' ,align:'center',checkbox: true,width:30}, 		
						
				{field: 'tagName',title:'@MessageUtil.getMsgAndNote("标签名称","bb01003.txt.tagName","")' ,width:120,align:'center',sortable: true, formatter:"titleFormat"},
				{field: 'tagMaxValue',title:'@MessageUtil.getMsgAndNote("标签值","bb01001.txt.tag.labelValue","")' ,width:80,sortable: true},	
				@optcolumn(title:MessageUtil.getMsgAndNote("操作","bb01001.txt.operation",""),width:60){							
                    @iconlink(label:MessageUtil.getMsgAndNote("编辑","bb01001.txt.edit",""), iconcss:"glyphicon-pencil", onclick:"editDialog")					
					@iconlink(label:MessageUtil.getMsgAndNote("删除","bb01001.txt.del",""), iconcss:"glyphicon-remove", onclick:"delTagOne")
				},				
			}
	
		} 
		<!-- @btnbox(align:"left"){
			@button(label:MessageUtil.getMsgAndNote("新增","bb01001.txt.add",""),iconcss:"fa fa-plus",onclick:"addDialog",innerType:"", id:"btnAdd")	
			@button(label:MessageUtil.getMsgAndNote("删除","bb01001.txt.del",""),iconcss:"fa fa-remove",onclick:"delTagList",id:"btnDel")
		} -->	
		<div class="clearfix"></div>
	
	</div>


<script>

	function noFormat(value, row, index){ 
		return index+1;
	}
	
	

	//删除多个标签
	function delTagList(){
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"技艺实验课程分类管理，删除",operSite:"pblMgr/institutiontaxonomy/manager/taxonomy_course_list.html"},
			success:function(result){
			}
		});
		var selectedRows = $('#search-result').bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){
			var tagId = [];
			var ico=[];
			for(var i = 0; i < selectedRows.length; i++){
				tagId[i] = selectedRows[i].tagId;
				ico[i]=selectedRows[i].ico;
			}
		}else{
			warning('@MessageUtil.getMsgAndNote("请选择标签","bb01001.txt.please.select.tag","")');
			return;
		}
		confirm('@MessageUtil.getMsgAndNote("确认要删除此标签吗?","bb01001.txt.confirm.del.tag","")', function(){
			$.ajax({ 
				url: "@url("/pub/course/delTag.action")",
				data:{tagId:tagId.join(','),ico:ico.join(',')},
				type:"post", 
				success: function(result){
		        	//成功
		        	if(result.status){
						bodyMessage('success', '@MessageUtil.getMsgAndNote("删除成功","bb01001.txt.del.success","")');
						refreshTable();		        		
		        	}else{
		        		bodyMessage('danger', '@MessageUtil.getMsgAndNote("删除失败","bb01001.txt.del.failure","")');
		        	}
		      	}
		    });
			return true;
		});
		
	}
	
	//删除一个
	function delTagOne(row){
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"技艺实验课程分类管理，删除",operSite:"pblMgr/institutiontaxonomy/manager/taxonomy_course_list.html"},
			success:function(result){
			}
		});
		var tagId = row["tagId"];
		var ico=row["ico"];
		confirm('@MessageUtil.getMsgAndNote("确认要删除此标签吗?","bb01001.txt.confirm.del.tag","")', function(){
			$.ajax({ 
				url: "@url("/pub/course/delTag.action")",
				data:{tagId:tagId,ico:ico},
				type:"post", 
				success: function(result){
		        	//成功
		        	if(result.status){
						bodyMessage('success', '@MessageUtil.getMsgAndNote("删除成功","bb01001.txt.del.success","")');
						refreshTable();		        		
		        	}else{
		        		bodyMessage('danger', '@MessageUtil.getMsgAndNote("删除失败","bb01001.txt.del.failure","")');
		        	}
		      	}
		    });
			return true;
		});
	}

	
	//编辑
	function editDialog(data){
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"技艺实验课程分类管理，编辑",operSite:"pblMgr/institutiontaxonomy/manager/taxonomy_course_list.html"},
			success:function(result){
			}
		});
		$('#alter-form').bootstrapValidator('validate');
	  	BootstrapDialog.show({
		            title:'@MessageUtil.getMsgAndNote("编辑标签","bb01003.txt.endit.tag","")' ,
		            message: $('@es(alterEndit).raw()'.replace(/%fileName/g,replaceNull(data.fileName))),
		            data:{row:data},
		            cssClass:'change_pwd_dialog',
		            onshown: initeditDialog,
		            buttons: [
		            {
		               label: '@MessageUtil.getMsgAndNote("保存","bb01003.txt.save","")',
		               cssClass: 'btn-normal fa fa-floppy-o',
		               action: function(dialog) {
		                    //存数据
		                    var requestData=getData4Dialog();
		                    $('#alter-form').bootstrapValidator('validate');
		                   	if($('#alter-form').data('bootstrapValidator').isValid()){
							 	if(!check(requestData,data)){
		                     		 warning('@MessageUtil.getMsgAndNote("标签名称已存在","bb01003.txt.tagName.exists","")');
		                     		 return;
		                   		 }

					
		   					 	var params = new FormData($('#alter-form')[0]);
		   					 	$.ajax({ 
									url:"@url("/pub/course/updateTag.action?tagId=")"+data.tagId+"&tagName="+requestData.tagName+"&ico="+data.ico+"&flag=1",
									data:params,
									type:"post", 
									contentType:false,   
		        					processData:false,  
									success: function(req){
										$('#search-result').bootstrapTable('refresh');	
										closeSelfDialog();
										//parent.refreshTable();
		      						}
		    					});
							
		   					 	this.dialog.close();
		   					}
		               }
		           },
		           {
		               label: '@MessageUtil.getMsgAndNote("关闭","bb01003.txt.close","")',
		               cssClass: 'btn-normal fa fa-remove',
		               action: function(dialog) {
		                   this.dialog.close();
		               }
		           }]
				});
	}
	
	
	//新增标签
	function addDialog(data){
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"技艺实验课程分类管理，新增",operSite:"pblMgr/institutiontaxonomy/manager/taxonomy_course_list.html"},
			success:function(result){
			}
		});
		var parentId="";
		var tagTypeId="";
		var businessType=$("#businessType").val();
		if(data){
			parentId=data.tagId;
			tagTypeId=data.tagTypeId;
		
		}
	  	BootstrapDialog.show({
		            title:'@MessageUtil.getMsgAndNote("新增标签","bb01003.txt.add.tag","")' ,
		            message: $('@es(alterFirst).raw()'),
		            data:{row:data},
		            cssClass:'change_pwd_dialog',
		            onshown: initaddDialog,
		            buttons: [
		            {
		               label: '@MessageUtil.getMsgAndNote("保存","bb01003.txt.save","")',
		               cssClass: 'btn-normal fa fa-floppy-o',
		               action: function(dialog) {
		                    //存数据
		                    var requestData=getData4Dialog();							
		                   	$('#alter-form').bootstrapValidator('validate');
		                   	if($('#alter-form').data('bootstrapValidator').isValid()){
		                   		if(requestData.ftagName == undefined){
		                   			if(!check1(requestData)){
			                     		 warning('@MessageUtil.getMsgAndNote("标签名称已存在","bb01003.txt.tagName.exists","")');
			                     		 return;
			                   		 }
		                   		}
		                   		 var params = new FormData($('#alter-form')[0]);		          
		               
		   					 	$.ajax({ 
									url:"@url("/pub/course/saveTag2.action?parentId=")"+parentId+"&tagTypeId="+tagTypeId+"&tagName="+requestData.tagName+"&businessType="+businessType+"&flag=1",
									data:params,
									type:"post", 
									contentType:false,   
		        					processData:false,  
									success: function(req){
										$('#search-result').bootstrapTable('refresh');	
										closeSelfDialog();
										//parent.refreshTable();
		      						}
		    					});
							
		   					 	this.dialog.close();
		   					}
		               }
		           },
		           {
		               label:'@MessageUtil.getMsgAndNote("关闭","bb01003.txt.close","")' ,
		               cssClass: 'btn-normal fa fa-remove',
		               action: function(dialog) {
		                   this.dialog.close();
		               }
		           }]
				});
	}
	
		//新增标签
	function addDialogFirst(data){
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"技艺实验课程分类管理，新增",operSite:"pblMgr/institutiontaxonomy/manager/taxonomy_course_list.html"},
			success:function(result){
			}
		});
		var parentId=data.tagId;		
		var businessType=$("#businessType").val();
		var tagTypeId=data.tagTypeId;
	  	BootstrapDialog.show({
		            title:'@MessageUtil.getMsgAndNote("新增标签","bb01003.txt.add.tag","")' ,
		            message: $('@es(alter).raw()'.replace(/%businessType/g, businessType)),
		            data:{row:data},
		            cssClass:'change_pwd_dialog',
		            onshown: initaddDialog,
		            buttons: [
		            {
		               label:'@MessageUtil.getMsgAndNote("保存","bb01003.txt.save","")' ,
		               cssClass: 'btn-normal fa fa-floppy-o',
		               action: function(dialog) {
		                    //存数据
		                    var requestData=getData4Dialog();							
		                   	$('#alter-form').bootstrapValidator('validate');
		                   	if($('#alter-form').data('bootstrapValidator').isValid()){
		                   		if(requestData.ftagName == undefined){
		                   			if(!check1(requestData)){
			                     		 warning('@MessageUtil.getMsgAndNote("标签名称已存在","bb01003.txt.tagName.exists","")');
			                     		 return;
			                   		 }
		                   		}
		                   		 var params = new FormData($('#alter-form')[0]);		          
		               			
		   					 	$.ajax({ 
									url:"@url("/pub/course/saveTag2.action?parentId=")"+parentId+"&tagTypeId="+tagTypeId+"&tagName="+requestData.tagName+"&businessType="+businessType+"&flag=1",
									data:params,
									type:"post", 
									contentType:false,   
		        					processData:false,  
									success: function(req){
										$('#search-result').bootstrapTable('refresh');	
										closeSelfDialog();
										//parent.refreshTable();
		      						}
		    					});
							
		   					 	this.dialog.close();
		   					}
		               }
		           },
		           {
		               label:'@MessageUtil.getMsgAndNote("关闭","bb01003.txt.close","")' ,
		               cssClass: 'btn-normal fa fa-remove',
		               action: function(dialog) {
		                   this.dialog.close();
		               }
		           }]
				});
	}
	
		//弹出框初始化
	function initaddDialog(dialog) {
	  	var data=dialog.getData("row");
	  	if(data!=null){
	  		setValueAny("#ftagName", data.tagName);
	  	}
	  	//$('#alter-form').bootstrapValidator('validate');
	}
	//弹出框初始化
	function initeditDialog(dialog) {
	  	var data=dialog.getData("row");
	  	if(data!=null){
	  		setValueAny("#tagName01", data.tagName);
	  	}
	  	//$('#alter-form').bootstrapValidator('validate');
	}
	
	//从弹出框获取数据
	function getData4Dialog() {
	//构建表单参数
		var data  = buildFormData('#alter-form');
		return data;
	}  
	
		 //新增标签类检查
	function check1(requestData) {
	  var tabledata=$('#search-result').bootstrapTable('getData');
	  for(var i=0;i<tabledata.length;i++){
	    var tagName = tabledata[i].tagName;
	    var id = tabledata[i].id; 
	    if(requestData.id == id){
	    	if(requestData.tagName == tagName){
	         return false;
	       }
	    }
	  }
	   return true;
	}
		 //编辑标签类检查
	function check(requestData,data) {
	  var tabledata=$('#search-result').bootstrapTable('getData');
	  for(var i=0;i<tabledata.length;i++){
	    var tagName = tabledata[i].tagName;
	    var id = tabledata[i].id
	    if(requestData.id == id){
	    	if(requestData.tagName !=data.tagName && requestData.tagName == tagName){
	         return false;
	       }
	    }
	  }
	   return true;
	}
	
	function titleFormat(value, row, index) {
		var title = hideStringByMax(value, 20);
		if(row.type == '@type') {
			title = " <p  style='margin:0px 40px; '>   %s</p>".format(title);
		}
		
		var html = title; 
		return html;
	}
	function isAdd(value, row, index){
		var tagTypelevel=$("#tagTypelevel").val();
		if(row.type == '@type'||"twoLevel"!=tagTypelevel) {
			return  false;
		}
		return true;
	}
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	function allView(){
		$("#tabOne").attr("class","active");
		$("#businessType").prop("value","");
		$("#tagTypelevel").prop("value","twoLevel");
		refreshTable();
	}

</script>
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
	<script>
	 console.log(returnCitySN["cip"]+','+returnCitySN["cname"]) 
	var browserInfo = "";
	var sysInfo = "";
	var IpInfo = "";
	(function($){
				 var BrowserMatch = {  
					  init: function() {  
						  this.browser = this.getBrowser().browser || "未知浏览器";  //获取浏览器名
						  this.version = this.getBrowser().version || "未知浏览器版本号";  //获取浏览器版本
						  this.OS = this.getOS()+" "+this.getDigits() || "未知操作系统"; //系统版本号 
					  },  
					  getOS: function() {  //判断所处操作系统
							 var sUserAgent = navigator.userAgent.toLowerCase();   
							
							var isWin = (navigator.platform == "Win32") || (navigator.platform == "Win64")|| (navigator.platform == "wow64");   
							
							var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");   
							if (isMac) return "Mac";   
							var isUnix = (navigator.platform == "X11") && !isWin && !isMac;   
							if (isUnix) return "Unix";   
							var isLinux = (String(navigator.platform).indexOf("Linux") > -1);   
							var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";  
							if (isLinux) {  
							if(bIsAndroid) return "Android";  
							else return "Linux";   
							}  
							if (isWin) {   
							
								var isWin2K = sUserAgent.indexOf("Windows nt 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;   
								if (isWin2K) return "Win2000";   
								var isWinXP = sUserAgent.indexOf("Windows nt 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1  
								sUserAgent.indexOf("Windows XP") > -1;   
								if (isWinXP) return "WinXP";   
								var isWin2003 = sUserAgent.indexOf("Windows nt 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;   
								if (isWin2003) return "Win2003";   
								var isWinVista= sUserAgent.indexOf("Windows nt 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;   
								if (isWinVista) return "WinVista";   
								var isWin7 = sUserAgent.indexOf("Windows nt 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;   
								if (isWin7) return "Win7";   
								var isWin8 = sUserAgent.indexOf("windows nt 6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;  
								if (isWin8) return "Win8"; 
								var isWin10 = sUserAgent.indexOf("windows nt 10.0")>-1||sUserAgent.indexOf("Windows 10")>-1;	
								if(isWin10)return "Win10";				
							}  
							return "其他";
					  },  
					  getDigits:function(){ //判断当前操作系统的版本号 
						var sUserAgent = navigator.userAgent.toLowerCase();   
						var is64 = sUserAgent.indexOf("win64") > -1||sUserAgent.indexOf("wow64") > -1;  
						if (is64) {  
							return "64位";  
						}else{  
						   return "32位";    
						}  
					},
					  getBrowser: function() {  // 获取浏览器名
						  var rMsie = /(msie\s|trident\/7)([\w\.]+)/;  
						  var rTrident = /(trident)\/([\w.]+)/;  
						  var rEdge = /(chrome)\/([\w.]+)/;//IE
						  
						  var rFirefox = /(firefox)\/([\w.]+)/;  //火狐
						  var rOpera = /(opera).+version\/([\w.]+)/;  //旧Opera
						  var rNewOpera = /(opr)\/(.+)/;  //新Opera 基于谷歌
						  var rChrome = /(chrome)\/([\w.]+)/; //谷歌 
						  var rUC = /(chrome)\/([\w.]+)/;//UC
						  var rMaxthon = /(chrome)\/([\w.]+)/;//遨游
						  var r2345 =  /(chrome)\/([\w.]+)/;//2345
						  var rQQ =  /(chrome)\/([\w.]+)/;//QQ
						  //var rMetasr =  /(metasr)\/([\w.]+)/;//搜狗
						  var rSafari = /version\/([\w.]+).*(safari)/;
						  
						  var ua = navigator.userAgent.toLowerCase();  
	 
	 
						  var matchBS, matchBS2;  
						  
						  //IE 低版
						  matchBS = rMsie.exec(ua);  
						  if (matchBS != null) {  
							  matchBS2 = rTrident.exec(ua);  
							  if (matchBS2 != null) {  
								  switch (matchBS2[2]) {  
								  case "4.0":  
									  return {  
										  browser:  
										  "Microsoft IE",  
										  version: "IE: 8"  //内核版本号
									  };  
									  break;  
								  case "5.0":  
									  return {  
										  browser:  
										  "Microsoft IE",  
										  version: "IE: 9"  
									  };  
									  break;  
								  case "6.0":  
									  return {  
										  browser:  
										  "Microsoft IE",  
										  version: "IE: 10"  
									  };  
									  break;  
								  case "7.0":  
									  return {  
										  browser:  
										  "Microsoft IE",  
										  version: "IE: 11"  
									  };  
									  break;  
								  default:  
									  return {  
										  browser:  
										  "Microsoft IE",  
										  version: "Undefined"  
									  };  
								  }  
							  } else {  
								  return {  
									  browser: "Microsoft IE",  
									  version: "IE:"+matchBS[2] || "0"  
								  };  
							  }  
						  }  
						  //IE最新版
						   matchBS = rEdge.exec(ua);  	 				   
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  return {  
								  browser: "Microsoft Edge",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  }  
	                                          //UC浏览器					  
						  matchBS = rUC.exec(ua);                         		   
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  return {  
								  browser: "UC",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  }  
						  //火狐浏览器
						  matchBS = rFirefox.exec(ua);  
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  return {  
								  browser: "火狐",  
								  version: "Firefox/"+matchBS[2] || "0"  
							  };  
						  }  
	                                         //Oper浏览器					 
						 matchBS = rOpera.exec(ua);  
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  return {  
								  browser: "Opera",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  }  
						  //遨游
						   matchBS = rMaxthon.exec(ua);  	 				   
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  return {  
								  browser: "遨游",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  }  
	                                          //2345浏览器					  
	 					  matchBS = r2345.exec(ua);  	 				   
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  return {  
								  browser: "2345",  
								  version: "Chrome/ "+matchBS[2] || "0"  
							  };  
						  }  
	                                          //QQ浏览器					  
						  matchBS = rQQ.exec(ua);  	 				   
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  return {  
								  browser: "QQ",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  }  
						  //Safari（苹果）浏览器
						  matchBS = rSafari.exec(ua);  
						  if ((matchBS != null) && (!(window.attachEvent)) && (!(window.chrome)) && (!(window.opera))) {  
							  return {  
								  browser: "Safari",  
								  version: "Safari/"+matchBS[1] || "0"  
							  };  
						  }  
						  //谷歌浏览器
						   matchBS = rChrome.exec(ua);  
						  if ((matchBS != null) && (!(window.attachEvent))) {  
							  matchBS2 = rNewOpera.exec(ua);  
							  if (matchBS2 == null) {  
								  return {  
									  browser: "谷歌",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  } else {  
								  return {  
									  browser: "Opera",  
									  version: "opr/"+matchBS2[2] || "0"  
								  };  
							  }  
						  }  
					  }  
	      };  
	      BrowserMatch.init();  
	      //alert("当前浏览器为：" + BrowserMatch.browser +"\n版本为："+ BrowserMatch.version + "\n所处操作系统为："+BrowserMatch.OS); 
	      browserInfo = BrowserMatch.version;
		  sysInfo = BrowserMatch.OS;
		  IpInfo = returnCitySN["cip"];
			})(jQuery);
	 $(function(){
		 $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserInstitution.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"技艺实验课程分类管理",operSite:"pblMgr/institutiontaxonomy/manager/taxonomy_course_list.html"},
			success:function(result){
			}
		});	
	});
	</script>