@args String title = "活动",String categoryId
@extends(client, pageSpace:0,activeMenu:"text_active")

@import(){
      com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
      com.cloudsoaring.web.trainingplatform.constants.*
      com.cloudsoaring.web.trainingplatform.entity.*
      com.cloudsoaring.web.trainingplatform.entity.InfomationEntity
}
@{
    final String surl = url("/pub/active/");
}
@section("mainContent"){
<style>
#mainContent{
    margin-right:0px !important;
}
#body-content{
    margin-top: 50px !important;
}
.category_text_active {
    background-color: red;
    
}
.list_title:hover{
    color:#E84D3B;
}
.courseList:hover{
    border:#E84D3B 1px solid;
}
.infoTitle{
    font-size: 20px;
}
.infoTime{
    color:#999999;
}
.activeStatus{
    color:#E84D3B;
    font-size:14px;
}
.indexList:hover{
box-shadow:5px 5px 5px #999999;
}
.infoContent{
    line-height:30px;
    font-size: 15px;
    padding-top:5px;
    text-indent: 20pt;
}
#info_category a{
    height:35px;
    font-size:24px;
    font-family: "@MessageUtil.getMessage(TpMsgNames.COURSE_FONT_BLACK_COLOR)";
    color:#000000;
    padding:5px;
    margin-top:24px;
    line-height: 24px;
}
.pagination{
    padding:0;  
}
</style>
<div id="pageContent" style="text-align:center;background-color:#E6E6E6;">
   <div class=".container-fluid" style="background-color: #F3F5F7;width:1200px;display:inline-block">
      <div id="pageBody" style="text-align: left">
         <div class="tagLineDiv" style="background-color: white;padding: 10px 36px 3px 0px;" >
             <span style="float: right;">
                 @input_select(name:"codeSel", groupcss:"col-12",onclick:"seachInfo",datacontent:"搜索",placeholder:"请输入标题")
             </span>
             <p class="center-content-title-p " style="font-size: 18px; font-weight: 500; margin-left:20px;padding: 8px 0px 0px 0px;">
                  @MessageUtil.getMessage("全部活动")
             </p>
         </div>
         @assign("list_item"){
           <a style="color:#000000;" target="_blank" href="@url("/pub/active/toActiveDetail.action?activeId=%detial_url")">
	           <div class="indexList" style="margin-bottom:20px;">
	               <div class="" style="height:290px; width: 1200px; overflow: hidden; padding: 30px 35px; background-color: rgb(255, 255, 255);">
	                   <div class="" style="width:425px;height:230px;float: left;">
	                       <img style="width:425px;height:230px;" src="@url("/pub/imageThumb.action?fileId=%infoFileId")">
	                   </div>
	                   <div style="width:1160px;height:206px;padding:0px 0px 230px 455px;">
	                       <p class="infoTitle">%title&nbsp;&nbsp;&nbsp;&nbsp;</p>
	                       <p class="gh gh-time infoTime" style="padding-top:3px;">%timeStart-%timeEnd</p>
	                       <p class="activeStatus" style="padding-top:3px;">%status</p>
	                       <p class="infoContent">%content</p>
	                   </div>
	               </div>
	           </div>
           </a>
           <div class="clearfix"></div>
          @* @assign("not_data_msg"){
               <div style="margin-bottom:20px;">
                   <div class="" style="height:266px; width: 1200px; overflow: hidden; padding: 30px 35px; background-color: rgb(255, 255, 255);color:#999999;">
                       %no_data
                   </div>
               </div>
               <div class="clearfix"></div>
           }*@
        }
         <!-- 各个分类下的活动信息列表 -->
       <div id="info_list">
      
       </div>
       <div class="clearfix"></div>
       <div id="fenye"style="width:1200px;height:70px;background-color:#fff;">
           <nav style="text-align:center;">
               <ul class="pagination" id="pagination_li">
                   
               </ul>
           </nav>
        </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>



<script>
    function seachInfo(){
          searchActiveList();
    }
    $(function() {
        searchActiveList();
    });
    //替换null为空字符串
    function replaceNull(str){
          if(str == null || str == "undefind"){
              return "";
          }else{
              return str;
          }
      }
    function searchActiveList(page) {
        var name=$('#codeSel').val();
        var result = new Object;
        if(!page){
            page = 0;
        }
        var url =  "@surl"+"searchActiveList.action?pageNumber="+page+"&pageSize=10";
        if(name) {
           url += "&title=" + name;
        }
        $.ajax({  
            url : url,
            type:"post",
            success:function(result){
                if(result.status){
                    var str = '';
                    var objs = result.data;
                    if(objs.length==0){
                        //列表
                    }else{
                        $(objs).each(function(index){
                            var obj = objs[index];
                            var s = obj.content;
                            var st = obj.status;
                            s = safeText(s);
                            var title = obj.title;
                            if(title != null && title.length > 32){
                                title = title.substr(0,32)+"...";
                            }
                            if(s!=null && s.length > 240){
                                s = s.substr(0, 240);
                                s += "...";
                            }
                            if(st=="3"){
                                st="报名中";
                            }else if(st=="2"){
                                st="进行中";
                            }else if(st=="4"){
                                st="已结束";
                            }else if(st=="1"){
                                st="未发布";
                            }
                            str += ("@es(list_item).raw()".replace(/%title/g, replaceNull(title))
                            .replace(/%infoFileId/g,replaceNull(obj.pictureId)).replace(/%timeStart/g,replaceNull(dateFormat(obj.timeStart)))
                             .replace(/%timeEnd/g,replaceNull(dateFormat(obj.timeEnd)))
                             .replace(/%status/g,st).replace(/%content/g,s).replace(/%detial_url/g,replaceNull(obj.id))
                           
                            );
                        });
                    }
                    //列表
                    $("#info_list").html(str);
                    var totalPage = result.total;
                    $("#pagination_li").html("");
                    if(totalPage > 1){
                        var str = '';
                        if(result.page == 1){
                            str += '<li class="pagination_first"><a>@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
                            str += '<li class="pagination_pre"><a>@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
                        }else{
                            str += '<li class="pagination_first"><a href="javascript:searchActiveList(1)" >@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
                            str += '<li class="pagination_pre"><a href="javascript:searchActiveList('+(result.page-1)+')">@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
                        }
                        for(var i=1;i<=totalPage;i++){
                            if(totalPage > 10){
                                if(result.page < 10){
                                    if(i<=10){
                                        str = str +'<li class="pagination_'+i+'"><a href="javascript:searchActiveList('+i+')">'+i+'</a></li>';
                                    }
                                }else if(result.page >= 10 && result.page<(totalPage-5)){
                                    if(i>(result.page-5) && i<=(result.page+5)){
                                        str = str +'<li class="pagination_'+i+'"><a href="javascript:searchActiveList('+i+')">'+i+'</a></li>';
                                    }
                                }else if(result.page>=(totalPage-5)){
                                    if(i>(totalPage-10)){
                                        str = str +'<li class="pagination_'+i+'"><a href="javascript:searchActiveList('+i+')">'+i+'</a></li>';
                                    }
                                }
                                
                            }else{
                                str = str +'<li class="pagination_'+i+'"><a href="javascript:searchActiveList('+i+')">'+i+'</a></li>';
                            }
                        }
                        if(result.page == totalPage){
                            str += '<li class="pagination_next"><a>@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
                            str += '<li class="pagination_last"><a>@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
                        }else{
                            str += '<li class="pagination_next"><a href="javascript:searchActiveList('+(result.page+1)+')">@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
                            str += '<li class="pagination_last"><a href="javascript:searchActiveList('+totalPage+')">@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
                        }
                        $("#fenye").show();
                        $("#pagination_li").html(str);
                        if(result.page == 1){
                            $(".pagination_first").addClass("disabled");
                            $(".pagination_pre").addClass("disabled");
                        }
                        if(result.page == totalPage){
                            $(".pagination_next").addClass("disabled");
                            $(".pagination_last").addClass("disabled");
                        }
                        $(".pagination_"+result.page).addClass("active");
                    }else{
                        $("#fenye").hide();
                    }
                }
            }
        });
    }
    //对多余的字符进行隐藏
    function hideStringByMax(oldString, maxLength) {
        var result = oldString;
        if(oldString!=null && oldString.length > maxLength){
            result = oldString.substring(0,maxLength);
            result += "...";
        }
        return result;
    }
    
    $(function(){
        initTagData();
    });
</script>
}