@args String title = "活动详情",
String activeId ="",
ActiveView view
@extends(client,title:getPageTitle(title), "text_active")
@{
    final String uurl = url("/pub/active/searchActiveDetail.action?id="+activeId);
    final String entryUrl=url("/client/active/saveActiveEntry.action?activeId="+activeId+"&userId="+WebContext.getSessionUserId());
     String tempStatus="";
    if("1".equals(view.getStatus())){
        tempStatus="未发布";
    }else if("2".equals(view.getStatus())){
        tempStatus="进行中";
    }else if("3".equals(view.getStatus())){
        tempStatus="报名中";
    }else if("4".equals(view.getStatus())){
        tempStatus="已结束";
    }
    final String  status=tempStatus;
}
@import(){
    com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
    com.cloudsoaring.web.trainingplatform.constants.*
    com.cloudsoaring.web.trainingplatform.entity.*
    com.cloudsoaring.web.trainingplatform.view.*;
    com.cloudsoaring.web.course.common.utils.*;
}
<style>
.infoTitle{
    font-size: 22px;
}
#detail_content{
    font-size: 16px;
    line-height:29px;
    color:black;
}
#detail_content video,#detail_content img{
    width:100%;
    height:100%;
} 
#info_category span{
    height:35px;
    font-size:24px;
    font-family: "@MessageUtil.getMessage(TpMsgNames.COURSE_FONT_BLACK_COLOR)";
    color:#000000;
    padding:5px;
    margin-top:24px;
    line-height:24px;
}
</style>

<div class="clearfix"></div>
<div style="width:100%;background-color:#fff;padding:30px 35px;">
    <p>
        <span class="text-left infoTitle" style="line-height:50px;" id="detail_title"></span>
        <span style="margin-top:10px;margin-right:50px;display:block;float:right;color:#999999;" >
            @if(view.getFlagEntry()=="1"){
                
            }else if(view.getStatus().equals("4")){
              
            }
            else{
               @button(style:"width:80px;height:40px;",onclick="entry",label:"我要报名")
            }
             
        </span>
    </p>
	    <div>
	        <img id="detail_img" style="border:0;width:370px;height:210px;border:0;float:left;"></img>
	    </div>
	   <div style="width:1160px;height:80%;padding:0px 0px 130px 395px;">
	       <div style="font-size:15px">
	          <span >报名人数：@view.getNumEntry()</span>&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="">签到人数：@view.getNumSign()</span>
	       </div>
            <div style="font-size:15px;margin-top:10px;">
              <span >活动状态：@status</span>
            </div>
              <div style="margin-top:10px;">
              <span style="">
                                            活动时间：@DateUtil.getDateString(view.getTimeStart(), DateUtil.DATE_PATTERN_06)
                   -@DateUtil.getDateString(view.getTimeEnd(), DateUtil.DATE_PATTERN_06)
              </span>
           </div>	        
	   </div>
	   <div style="width:100%;">
            <div  id="detail_content" >
            </div>
       </div>
	   
</div>
<div class="clearfix"></div>
<script>
	function entry(){
		@if(WebContext.isGuest()) {
	        toLoginFun(window.location.href)
	     }else{
	       $.ajax({
	           url:"@entryUrl",
	            type:"post",
	            bodyMsg:true,
	            mask:true,
	           success:function(result){
	               success("报名成功！", function(){
	                         window.location.reload();
	                 });
	              //history.go(0);
	              }
	         });
	     }
	}
    $(function(){
        getDetailInfo();
    });
    
    function getDetailInfo(){
        //根据平台信息ID，检索平台信息详情
        var infoId = $("#infoId").val();
        $.ajax({
            url:"@uurl",
            type:"post",
            success:function(result){
                if(result.status){
                    var obj = result.data;
                    $("#detail_title").html(obj.title);
                    $("#detail_date").html(dateFormat(obj.createDate));
                    $("#detail_img").attr("src","@url("/pub/image.action?fileId=")" + obj.pictureId);
                    $("#detail_content").html(obj.content);
                    $("#category_"+obj.categoryId).css("border-bottom","2px red solid");
                }
            }
        });
    }
    
</script>