.plan-step-wrap {
	position: relative;
	padding: 14px 0 0 30px;
	overflow: hidden;
}

ul,menu,dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

ol,ul {
	list-style: none;
}

.clearfix:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.text-ellipsis{
	margin-top: 10px;
}
.plan-step-wrap .step-item {
	position: relative;
	padding: 9px 0;
	border-bottom: 1px solid #edf1f2;
}

.plan-step-wrap .step-item .step-anchor:hover {
	color: #1419le;
}

.plan-step-wrap .step-item .step-anchor:hover b {
	background-color: #edf1f2;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.plan-step-wrap .step-item.step-over .line,.plan-step-wrap .step-item.step-cur .line
	{
	background-color: #00b33b;
}


.plan-step-wrap .step-item.step-first .line {
	top: 22px;
}

.plan-step-wrap .step-item .line {
	position: absolute;
	width: 2px;
	left: 0;
	margin-left: -24px;
	top: 0;
	bottom: -1px;
	background-color: #d0d6d9;
}

i,cite,em,var,address,dfn {
	font-style: italic;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.plan-step-wrap .step-item.step-cur .dot {
	background-position: 0 -15px;
}
.plan-step-wrap .step-item.step-ok .dot {
	background-position: 0 -30px;
}
.plan-step-wrap .step-item.step-over .line, .plan-step-wrap .step-item.step-ok .line {
    background-color: #00b33b;
}
.plan-step-wrap .step-item .dot {
	position: absolute;
	left: 0;
	margin-left: -30px;
	margin-top: 9px;
	top: 8px;
	width: 14px;
	height: 14px;
	background:
		url('img/step_dots.png')
		no-repeat 0 0;
}

i,cite,em,var,address,dfn {
	font-style: italic;
}

item.step-cur .hd {
	color: #fff;
}

.plan-step-wrap .step-item .hd {
	font-size: 16px;
	font-weight: bold;
	margin-right: 20px;
	line-height: 30px;
	color: #00b33b;
}

.l {
	float: left;
}

.plan-step-wrap .step-item .v-line {
	margin: 5px 0 0;
	height: 20px;
	width: 1px;
	background-color: #edf1f2;
}

.plan-step-wrap .step-item .step-anchor {
	position: relative;
	float: left;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	padding: 0 14px 0 0;
	font-size: 12px;
	color: #787d82;
}

.plan-step-wrap .step-item .step-anchor b {
	display: block;
	padding: 0 12px;
	height: 100%;
	font-weight: normal;
}

.plan-step-wrap .step-item .step-arr {
	position: absolute;
	right: 0;
	top: 12px;
	float: left;
	width: 7px;
	height: 7px;
	background:
		url('img/step_arr.png')
		no-repeat 0 -8px;
}

.plan-step-wrap .step-item .step-anchor .rules {
	display: none;
}

.plan-step-wrap .step-medias.course-list li {
	margin-left: 10px;
	margin-bottom: 6px;
}

.course-list li {
	background: #fff;
	background: #f7faf9\0/;
	border-bottom: 2px solid #f7faf9\0/;
	border-radius: 0 0 1px 1px;
	float: left;
	margin: 10 0 8px 40px;
	height: 270px;
	width: 240px;
	padding: 20px 20px 0;
	position: relative;
	-moz-transition: box-shadow 0.3s;
	-webkit-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}
.course-active:hover{
	box-shadow: 2px 4px 6px #787d82;
}
.step-medias-wrap {
	display: none;
	clear: both;
}

a:link,a:visited {
	color: #14191e;
}

:link,:visited,ins {
	text-decoration: none;
}

a,input,button {
	outline: none;
}

.course-list li .course-list-img {
	width: 240px;
	height: 135px;
	overflow: hidden;
	position: relative;
}

.course-list li h5 {
	margin: 18px 0 0;
	height: 18px;
	line-height: 18px;
	color: #14191e;
	text-align: left;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.course-list li .tips {
	margin: 0;
	padding: 0;
}

.course-list li .tips {
	font-size: 12px;
	color: #b4bbbf;
}

.course-list .time-label {
	position: absolute;
	right: 25px;
	top: 25px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	padding: 0 3px;
	visibility: hidden;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
	-webkit-transition: .3s;
	transition: .3s;
}

.course-list .follow-label {
	display: none;
	position: absolute;
	left: 15px;
	top: 25px;
	width: 46px;
	height: 23px;
	line-height: 23px;
	padding-bottom: 5px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background:
		url(img/follow_label.png)
		no-repeat 0 0;
}
.course-list li:hover .time-label {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.course-one .tags {
    margin: 12px 0 14px;
    height: 20px;
    overflow: hidden;
}
.course-one .tags span {
    display: inline-block;
    margin-right: 4px;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #787d82;
    background-color: #edf1f2;
    vertical-align: middle;
}
.course-one .learned {
    display: inline-block;
    height: 18px;
    padding: 0 5px;
    text-align: center;
    line-height: 18px;
    background-color: #7e878c;
    background-color: #00b33b;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    margin-right: 5px;
    vertical-align: middle;
}
.anchor-pop {
    display: none;
    position: absolute;
    top: 0;
    width: 240px;
    z-index: 1000;
}
.course-active {
    display: block;
    position: absolute;
    top: 0;
    width: 240px;
    z-index: 1000;
}
 