@import(){
	com.cloudsoaring.web.trainingplatform.view.ResourceView,
	com.cloudsoaring.web.course.constant.CourseMsgNames,
	com.cloudsoaring.web.course.constant.CourseConfigNames,
	com.cloudsoaring.web.course.constant.CourseStateConstants,
	com.cloudsoaring.web.bus.entity.TagEntity,
	com.cloudsoaring.web.trainingplatform.utils.*,
	com.cloudsoaring.web.points.entity.*,
	java.math.BigDecimal,
	com.cloudsoaring.web.course.common.utils.*
}
@args String title = MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COURSE),
ResourceView courseView,
List<TagEntity> directTag,
List<TagEntity> categoryTag,
String serverUrl,
@extends(client,title:getPageTitle(title))


@section("mainContent"){
<link rel="stylesheet" href="@url("/css/mydirective.css")"/> 
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
 <script type="text/javascript" src="@WebContext.url("/js/StackBlur.js")"></script>
 <script type="text/javascript">
 function unityReset(){
	 var winHeight = $(window).height(); 
	 $("#unity").css("height",winHeight*0.76);  
 }
$(function(){
	 unityReset();
  }); 
 $(window).resize(function(){
	 var winHeight = $(window).height(); 
	 $("#unity").css("height",winHeight*0.76);  
	});
</script>
	<div style="overflow:hidden;margin-left:100px;margin-right:100px;margin-top: 30px;">
			<div onresize="unityReset()" id="unity" style="font-size:14px;color:#000000;">
				<iframe src="http://@serverUrl/LoadABAndShow/index.html" height="100%" width="100%" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" frameborder="0" style="display: block;"></iframe>
			</div>
	</div>
		<!-- <div id="id_course" style="padding:10px 30px 30px 0px;width:100%;overflow:hidden;margin-left:auto;margin-right:auto;">
			<div id="tab_content_info">
				<div class="course_summary" style="border-bottom:0px;">
					<span>@courseView.getBriefInTroduction()</span>
				</div>
			</div>
		</div> -->
