@args String recourceResult
@extends(client,title:"",activeMenu:"text_resourse")
@import(){
    com.cloudsoaring.web.course.entity.*,
    com.cloudsoaring.web.course.view.*,
    com.cloudsoaring.web.social.constant.*,
    com.cloudsoaring.web.trainingplatform.utils.*,
    com.cloudsoaring.web.course.constant.CourseStateConstants
}
<!-- css样式 -->
<link rel="stylesheet" href="@WebContext.url("/css/course_resource_list.css")"/>
<style>
    .pointer_bg{  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
    }  
    
</style>
<div style="width: 100%;background-color: #fff;margin-top: 20px;">
	<div class="resource_logo">
		<div class="course-top ">
			<a class="top-header" href="#">
				<img src="/pblMgr/images/logo/logo-resource.png" alt="资源" width="36" height="36" style="float: left;">
				<span style="font-family: 微软雅黑;font-size: 24px;color: #b60006;display: block;float: left;vertical-align: middle;line-height: 36px;padding-left: 5px;">虚拟仿真资源</span>
			</a>
			<div class="course-top-search">
				<div class="search-area" data-search="top-banner">
					<input class="search-input" data-suggest-trigger="suggest-trigger" placeholder="请输入资源名称" type="text" autocomplete="off" id="codeSel" name="codeSel">
					<input type="hidden" class="btn_search" data-search-btn="search-btn">
					<ul class="search-area-result js-search-wrap" data-suggest-result="suggest-result"></ul>
				</div>
				<div class="showhide-search" data-show="no">
					<span class="gh gh-search" style="" onClick="seachInfo()"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
    @tag_query(id:"tagQuery", itemSelectedFun:"courseListReflash")
</div>
@grid_list(url:"/pub/dropBox/searchResourceList.action", pageSize:30, id:"courseList", getParamsFunction:"getParams"){
    @list_filter(){
        [
            {label:"最新", filterKey:"sortType", filterValue:"new",on:true},
            {label:"最热", filterKey:"sortType", filterValue:"hot"}
        ]
    }
    
    @list_item(renderItemFunction:"renderItemContent") {
    	  <a id="%resourceId" style="color:#000000;" target="_blank" href="javascript:void(0)" onclick="openResourceDetail('%resourceId','%fileId');">
		  <!--  <div class="courseList" style=" width: 100%; overflow: hidden; padding: 20px; background-color: rgb(255, 255, 255);text-align:center;">
                <div  style="width:100%;position:relative;overflow:hidden; ">
					<img style="width:245px;height:132px;border-radius: 15px;" src="@url("/pub/image.action?fileId=%courseFileId")">
				</div>
                <div style="margin-top:10px">
                    <p style="font-size: 16px;color:#000000;">%fileName
                    </p>
                </div>
                <div style="color:#999999;font-size: 12px;margin-top:14px" class="center-font-content" >
                    %markShare
                </div>
                <div style="color:#666666;font-size: 12px;margin-top:14px" class="center-font-content">
                    <small>类型：%contentType</small>&nbsp;&nbsp;
                    <small>大小：%fileSize</small>
                </div>
          </div> -->
          
          
          <div class="course-card-container">
				<div class="course-card-top">
					<img class="course-banner lazy" style="display: inline;" src="@url("/pub/image.action?fileId=%courseFileId")">
				</div>
				<div class="course-card-content">
					<h3 class="course-card-name">%fileName</h3>
					<div class="clearfix course-card-bottom">
						<div class="course-card-price">
							<div class="price-box">
								<span class="price">类型：%contentType</span>
								<span class="price" style="float: right;">大小：%fileSize</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
	    </a> 
         <script>
           /*  $(".courseList").each(function(index){
                $(this).mouseenter(function(){
                    $(".pointer_bg:eq("+index+")").animate({'right':'0'},300);
                });
                $(this).mouseleave(function(){
                    $(".pointer_bg:eq("+index+")").animate({'right':'-100px'},300);
                });
            }); */
            
        </script>
    }
   
}
<!-- 我的JS脚本 -->
<script>
//下载文件
    function downloadFile(fileId){
      confirm("确定打开资源？", function(){
         window.open('@url("/pub/course/download.action")?fileId='+fileId+'&fileType=NETDIST','_blank'); 
      });
      return false;
    }
    
    function openResourceDetail(resourceId,fileId){
    	var operDetail = $("h3")[0].innerHTML;
    	operDetail = "资源详情,"+operDetail;
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/trainingplatform/client/resource_detail.html"},
			success:function(result){
			}
		});	
		
    	window.open('@url("/pub/resourse/resourceDetailInit.action")?resourceId='+resourceId+'&fileId='+fileId,'_blank'); 
    }
    function seachInfo(){
        courseListReflash();
    }
    $(function(){
        initTagData();
    });
    function initTagData() {
       //检索课程列表
        $.ajax({
            url:"@url("/pub/tag/searchCategory.action")",
            type:"post",
            success:function(result){
                if(result.status){
                    var objs = result.data;
                    //objs.push(getCourseStageTagData());
                    //添加阶段
                    $('#tagQuery').data("initTag")(objs);
                        
                }
            }
        });
    }
    //列表参数
    function getParams(){
        var name=$('#codeSel').val();
        var result = new Object;
        var selectedTags = $('#tagQuery').data("getTagSelect")();
        
        if(!selectedTags) {
            if(name) {
                result["fileName"] = name;
            }  
            return result;
        }
        if(selectedTags["1"]) {
            result["directionTagId"] = selectedTags["1"];
        }
        if(selectedTags["2"]) {
            result["categoryTagId"] = selectedTags["2"];
        }
        if(name) {
            result["fileName"] = name;
        }
        if(selectedTags["@CourseStateConstants.RESOURCE_STAGE"]) {
            result["searchType"] = selectedTags["@CourseStateConstants.RESOURCE_STAGE"];
        }
        return result;
    }
    
    
    /**function getCourseStageTagData(){
        var codes =  @JsonLib.toJson(CodeFactory .getCodeMap(CourseStateConstants.RESOURCE_STAGE)).raw();
        var tagItems = [];
        for(key in codes) {
            var item = {
                tagId : key,
                tagTypeId : "@CourseStateConstants.RESOURCE_STAGE",
                parentId : "",
                tagName: codes[key]
            }
            tagItems.push(item)
        }
        
        
        var result = {
            tagTypeId : "@CourseStateConstants.RESOURCE_STAGE",
            tagTypeName : "筛选",
            parentId : "",
            list : tagItems
        }
        return result;
    }*/
    
    function renderItemContent(itemContent, obj) {
        var fileName = hideStringByMax(obj.fileName,13);
        var markShare = hideStringByMax(obj.markShare,13);
        var fileSize = obj.fileSize ? obj.fileSize : 0;
        if(fileSize>1024){
            fileSize= Math.round(fileSize/1024)/1000+"M";
        }else{
          fileSize=fileSize  +"KB";
        }
        var numDowload = obj.numDowload ? obj.numDowload : 0;
        var contentType=obj.contentType;
        var fileId=obj.fileId;
        var fileIcon = getFileIcon(obj.fileNameTf);
        var flagShare=obj.flagShare;
        if(flagShare=="1"){
            flagShare="官";
        }else{
            flagShare="";
        }
        return itemContent
                    .replace(/%fileName/g, getOrElse(fileName))
                    .replace(/%markShare/g, getOrElse(markShare))
                    .replace(/%fileSize/g, fileSize)
                    .replace(/%fileIcon/g, fileIcon)
                    .replace(/%courseFileId/g,obj.pictureId)
                    .replace(/%flagShare/g, flagShare)
                    .replace(/%numDowload/g,numDowload)
                    .replace(/%fileId/g,fileId)
                    .replace(/%resourceId/g,obj.id)
                    .replace(/%contentType/g,getOrElse(contentType));
    }
    
    
</script>