@extends(main)

<!-- 按钮 -->
@row(){
	@btnbox(align:"left",css:"fcol-5"){
		@button(label:MessageUtil.getMessage(MsgNames.MSG_ADD),iconcss:"fa fa-plus",onclick:"addModule", disabled:true, id:"btnAdd")
		@button(label:MessageUtil.getMessage(MsgNames.MSG_DELETE),iconcss:"fa fa-remove",onclick:"deleteModule", disabled:true, id:"btnDelete")
	}
	@column(css:"fol-7"){
		<span id="formTitle" style="font-size:18px;padding-left: 35px;"></span>
	}
}
@row(){
	<!-- 树状列表区域 -->
	@column("fcol-5"){
		<!-- 权限树 -->
		<div id="module-tree" style="height:650px;overflow:auto;margin-left:35px;margin-top:10px"></div>
	}
	@column("fcol-7"){
		<!-- 编辑区域 -->
		@form("main-form"){
			
<!-- 			@@combobox(label:"系统名称", name:"systemName", groupcss:"fcol-6",options:"[{text:'交易',value:'JY'},{text:'物业',value:'WY'},{text:'仓储',value:'CC'},{text:'营销',value:'YX'},{text:'客服',value:'KF'},{text:'系统',value:'XT'},{text:'共通',value:'CM'},{text:'商户',value:'SH'}]"){ -->
<!-- 				<script> -->
<!-- 				$('#systemName').change(function(){ -->
<!-- 					genModuleId(); -->
<!-- 				}); -->
<!-- 				</script> -->
<!-- 			} -->
			@combobox(label:MessageUtil.getMessage(MsgNames.MSG_PERMISSION_TYPE), name:"moduleKbn", groupcss:"fcol-12",options:CodeFactory.getCodeList(StateConstants.CODE_TYPE_MODULE_KBN))
			@input(label:MessageUtil.getMessage(MsgNames.MSG_PARENT_MODULE_NUMBER), name:"parentId", groupcss:"fcol-6",disabled:true)
			@input(label:MessageUtil.getMessage(MsgNames.MSG_PARENT_MODULE_NAME), name:"parentName", groupcss:"fcol-6",disabled:true)
			@combobox(label:MessageUtil.getMessage(MsgNames.MSG_FUNCTION), name:"type", groupcss:"fcol-6",options:"[{text:'菜单',value:'MENU'},{text:'查看',value:'VIEW'},{text:'新增',value:'ADD'},{text:'编辑',value:'EDIT'},{text:'删除',value:'DEL'},{text:'配置',value:'CONF'},{text:'其他',value:'OT'}]"){
				<script>
				$('#type').change(function(){
					genModuleId();
					var tp = $('#type').selectpicker('val');
					tp = tp ? tp : ""; 
					$('#moduleId').prop('readonly', true);	
					if(tp == 'OT'){
						$('#otherType').prop('readonly', false);	
					}else{
						$('#otherType').prop('readonly', true);	
						if(tp == 'MENU'){
							$('#otherType').val('');
							if(IS_ADD_MODULE){
								$('#moduleId').prop('readonly', false);	
							}
						}else{
							$('#otherType').val(tp);
						}
					}
					genModuleName();
				});
				</script>
			}
			@input(name:"otherType", groupcss:"fcol-6", label:"InnerType"){
				<script>
				$('#otherType').change(function(){
					genModuleId();
				});
				</script>
			}
			@input(label:MessageUtil.getMessage(MsgNames.MSG_SERIAL_NUMBER), name:"moduleId", type:"charnum", maxlength:"10",groupcss:"fcol-12",disabled:true)
			@input(label:MessageUtil.getMessage(MsgNames.MSG_NAME), name:"moduleName", type:"text", maxlength:"10", groupcss:"fcol-6"){
				<script>
					$('#moduleName').change(function(){
						//如果是菜单
						genModuleDesc();
					});
				</script>
			}
			@input(label:MessageUtil.getMessage(MsgNames.MSG_NAME_EN), name:"moduleNameEn", type:"text", maxlength:"20", groupcss:"fcol-6")
			@input(label:MessageUtil.getMessage(MsgNames.MSG_DESCRIPTION), name:"moduleDesc", type:"text", maxlength:"50", groupcss:"col-12")
			@input(label:MessageUtil.getMessage(MsgNames.MSG_LEVEL), name:"moduleLevel", type:"number", maxlength:"3", groupcss:"fcol-6",disabled:true)
			@input(label:MessageUtil.getMessage(MsgNames.MSG_ORDER), name:"moduleOrder", type:"number", maxlength:"3", groupcss:"fcol-6",disabled:true)
			@icon_select(label:MessageUtil.getMessage(MsgNames.MSG_ICON_STYLE), name:"css", groupcss:"fcol-12")
			@row(){
				@switch(label:MessageUtil.getMessage(MsgNames.MSG_HOME_ICON), name:"asDashboard", groupcss:"fcol-6"){
					<script>
						$('#asDashboard').on('switch-change', function(){
							disableAny('dashboardColor', !getValueAny('asDashboard'));
						});
					</script>
				}
				@switch(label:MessageUtil.getMessage(MsgNames.MSG_AS_SHORTCUT), name:"asShortcut", groupcss:"fcol-6")
			}
			@row(){
				@switch(label:"权限控制", name:"asAccess", groupcss:"fcol-6")
				@color_select(name:"dashboardColor", groupcss:"fcol-6",label:MessageUtil.getMessage(MsgNames.MSG_BACKGROUND))
			}
			@input(label:MessageUtil.getMessage(MsgNames.MSG_URL), name:"action", type:"half", maxlength:"200", groupcss:"col-12")
			@textarea(label:MessageUtil.getMessage(MsgNames.MSG_OTHER_PERMISSIONS_URL),name:"preActions", groupcss:"col-12", maxlength:"2000")
			@btnbox(){
				@button_save(id:"btnSave", disabled:true)
			}
		}
	}
}

<!-- 页面脚本 -->
<script>
	$(function(){
		initModuleTree();
		initEditForm();
	});
	
	function initEditForm(){
		clearForm('#main-form');
		disabledForm('#main-form', true);
		$('#btnSave').prop('disabled', true);
		$('#formTitle').html("");
		$('#sampleIcon').attr('class', '');
	}
	
	var IS_ADD_MODULE = false;
	var SELECTED_NODE_ID = null;

	//树初始化
	function initModuleTree(){
		$('#module-tree').jstree({
			'plugins': ["wholerow"],
			'core' : {
				//'check_callback' : true,
				'strings' : {
					 'Loading ...' : '@MessageUtil.getMessage(MsgNames.MSG_LOADING)'
				 },
				 'themes': {
	                'name': 'proton',
	                'responsive': true,
	                'icons' : true
	            },
				'data' : {
			    	'url' : '@url("/module/searchAll.action")'
				}
	    	}
		}).bind('loaded.jstree refresh.jstree', function() {
			//$('#module-tree').jstree('open_all');
			$('#module-tree').jstree('deselect_all');
			if(SELECTED_NODE_ID){
				$('#module-tree').jstree("select_node", [SELECTED_NODE_ID], true);
			}else{
				initEditForm();
			}
		}).on('select_node.jstree', function(event, data){
			var node = data.node;
			if(domExsit("btnAdd")){
				if(!node.data || node.data.asMenu){
					$('#btnAdd').prop( "disabled", false);
				}else{
					$('#btnAdd').prop( "disabled", true);
				}
			}
			if(domExsit("btnDelete")){
				if((node.children && node.children.length > 0 ) || !node.parent || !node.data || node.data.lockFlag == '1'){
					$('#btnDelete').prop( "disabled", true );
				}else{
					$('#btnDelete').prop( "disabled", false );
				}
			}
			//初始化编辑区域
			IS_ADD_MODULE = false;
			$('#formTitle').html("@MessageUtil.getMessage(MsgNames.MSG_EDIT_PERMISSIONS)");
			var parent = $('#module-tree').jstree("get_node", node.parent);
			initEdit(parent.data,node.data);
		});
	}
	
	//新增权限
	function addModule(){
		var selected = $('#module-tree').jstree('get_selected', true);
		if(!selected || selected.length < 1){
			warning("@MessageUtil.getMessage(MsgNames.MSG_PLEASE_SELECT_PARENT_PERMISSION)");
			return;
		}
		var parentNode = selected[0];
		IS_ADD_MODULE = true;
		$('#formTitle').html("@MessageUtil.getMessage(MsgNames.MSG_NEW_PERMISSIONS)");
		clearForm('#main-form');
		disabledForm('#main-form', false);
		$('#btnSave').prop('disabled', false);
		var parent = parentNode.data;
		if(!parent || !parent.moduleId){
			$('#parentId').val('');
			$('#parentName').val('');
			$('#moduleKbn').selectpicker('val', parentNode.id);
			$('#moduleId').prop('readonly',false);
		}else{
			$('#parentId').val(parent.moduleId);
			$('#parentName').val(parent.moduleName);
			$('#moduleKbn').selectpicker('val',parent.moduleKbn);
			$('#moduleId').prop('readonly',true);
		}
		$('#moduleOrder').val(parentNode.children.length + 1);
		var ml = parent ? parent.moduleLevel + 1 : 1;
		disableAny('dashboardColor');
		if(ml == 1){
			$('#type').selectpicker('val','MENU');
			$('#type').selectpicker('disabled',true);
			$('#asDashboard').val(false);
			$('#asShortcut').val(false);
			$('#action').prop('readonly',true);
			disableAny('asDashboard');
			disableAny('asShortcut');
		}
		
		$('#moduleKbn').selectpicker('disabled',true);
		$('#moduleLevel').val(ml);
		$('#moduleLevel').prop('readonly',true);
		$('#moduleOrder').prop('readonly',false);
		$('#parentId').prop('readonly',true);
		$('#parentName').prop('readonly',true);
		genModuleId();
		if($('#type').selectpicker('val') == 'OT'){
			$('#otherType').prop('readonly', false);	
		}else{
			$('#otherType').prop('readonly', true);	
		}
		$('#sampleIcon').attr('class', '');
	}
	
	//自动生成描述
	function genModuleDesc(){
		var ty = $('#type').selectpicker('val');
		if(!ty){
			ty = '';
		}
		if(ty == 'MENU'){
			$('#moduleDesc').val($('#moduleName').val());
		}else{
			$('#moduleDesc').val($('#parentName').val() + '-' + $('#moduleName').val());
		}
	}
	
	//自动生成名称
	function genModuleName(){
		var ty = $('#type').selectpicker('val');
		if(!ty){
			ty = '';
		}
		if(ty != 'MENU' && ty != 'OT' &&  ty != ''){
			$('#moduleName').val($('#type').find('option:selected').text());
			$('#moduleName').change();
		}
	}
	
	//自动生成编号
	function genModuleId(){
		if(IS_ADD_MODULE){
			//有父节点
			if($('#parentId').val() != ''){
				//是否是菜单
				var ty = $('#type').selectpicker('val');
				if(!ty){
					ty = '';
				}
				if(ty == 'MENU'){
					ty = $('#moduleOrder').val();
					if(ty.length == '1'){
						ty = '0' + ty;
					}
				}else if(ty == 'OT'){
					ty = '-' + $('#otherType').val();
				}else{
					ty = '-' + ty;
				}
				$('#moduleId').val($('#parentId').val() + ty);
			}else{
// 				var ty = $('#moduleOrder').val();
// 				if(ty.length == '1'){
// 					ty = '0' + ty;
// 				}
// 				var sn = $('#systemName').selectpicker('val');
// 				if(!sn){
// 					sn = '';
// 				}
// 				$('#moduleId').val(sn + ty);
			}
		}
	}
	
	//初始化编辑
	function initEdit(parent, self){
// 		ajax({
// 			data:{moduleId:moduleId},
// 			url:'@url("/module/get.action")',
// 			success:function(data){
				
// 			}
// 		})
		clearForm('#main-form');
		if(!self || self.moduleId == '0'){
			//按钮禁用
			$('#btnSave').prop('disabled', true);
			disabledForm('#main-form', true);
			$('#sampleIcon').attr('class', '');
			return;
		}else{
			$('#btnSave').prop('disabled', false);
			disabledForm('#main-form', false)
		}

		if(!parent || parent.moduleId == '0'){
			$('#parentId').val('');
			$('#parentName').val('');
		}else{
			$('#parentId').val(parent.moduleId);
			$('#parentName').val(parent.moduleName);
		}
		$('#moduleKbn').selectpicker('disabled',true);
		$('#moduleKbn').selectpicker('val',self.moduleKbn);
		$('#moduleId').val(self.moduleId);
		$('#moduleName').val(self.moduleName);
		$('#moduleNameEn').val(self.moduleNameEn);
		$('#moduleDesc').val(self.moduleDesc);
		$('#moduleOrder').val(self.moduleOrder);
		$('#moduleLevel').val(self.moduleLevel);
		setValueAny('asAccess',self.asAccess);
		setValueAny('css', self.css);
		$('#action').val(self.action);
		$('#asDashboard').bootstrapSwitch('setState', self.asDashboard);
		$('#asShortcut').bootstrapSwitch('setState', self.asShortcut);
		var sys = self.moduleId.substring(0,2);
		if(sys == '01'){
			sys = 'XT';
		}
// 		$('#systemName').selectpicker('val', sys);
//      $('#systemName').selectpicker('disabled', true);
		if(self.asMenu){
			$('#type').selectpicker('val','MENU');
			if(self.moduleLevel > 1){
				disableAny('asDashboard', false);
				disableAny('asShortcut', false);
				disableAny('asAccess', false);
				disableAny('dashboardColor',!getValueAny('asDashboard'));
			}else{
				disableAny('asDashboard');
				disableAny('asShortcut');
				disableAny('asAccess');
				disableAny('dashboardColor');
			}
		}else{
			var typp = 'OT';
			if(self.moduleId.lastIndexOf('-ADD') > 0){
				typp = 'ADD';
				$('#otherType').val(typp);
			}else if(self.moduleId.lastIndexOf('-EDIT') > 0){
				typp = 'EDIT';
				$('#otherType').val(typp);
			}else if(self.moduleId.lastIndexOf('-DEL') > 0){
				typp = 'DEL';
				$('#otherType').val(typp);
			}else if(self.moduleId.lastIndexOf('-CONF') > 0){
				typp = 'CONF';
				$('#otherType').val(typp);
			}else if(self.moduleId.lastIndexOf('-') > 0){
				var tp = self.moduleId.substring(self.moduleId.lastIndexOf('-') + 1)
				$('#otherType').val(tp);
			}else{
				$('#otherType').val('');
				typp = 'VIEW';
			}
			$('#type').selectpicker('val',typp);
			disableAny('asDashboard');
			disableAny('asShortcut');
			disableAny('dashboardColor');
		}
		
      //  $('#type').selectpicker('disabled', true);
        $('#otherType').prop('readonly',true);
        $('#parentId').prop('readonly',true);
		$('#parentName').prop('readonly',true);
		$('#moduleId').prop('readonly',true);
		$('#moduleLevel').prop('readonly',true);
		$('#moduleOrder').prop('readonly',false);
		$('#asDashboard').val(self.asDashboard);
		$('#asShortcut').val(self.asShortcut);
		setValueAny('dashboardColor', self.dashboardColor);
		$('#preActions').val(self.preActions);
	}
	
	//删除权限
	function deleteModule(){
		var selected = $('#module-tree').jstree('get_selected', true);
		if(!selected || selected.length < 1){
			warning("@MessageUtil.getMessage(MsgNames.MSG_PLEASE_CHOOSE_TO_DELETE_PERMISSIONS)");
			return;
		}
		var moduleId = selected[0].data.moduleId;
		var moduleName = selected[0].data.moduleName;
		confirm("@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_DELETE_PERMISSIONS)  " + moduleName + " ?", function(){
			ajax({ 
				url: "@url("/module/delete.action")",
				data:{moduleId:moduleId},
				type:"post", 
				bodyMsg:false,
				mask:false,
				success: function(result){
		        	//成功
		        	refresh(null);
		      	}
		    });
			return true;
		});
	}
	//保存权限
	function save(){
// 		var vsys = $('#systemName').selectpicker('val');
// 		if(!vsys || vsys == ''){
// 			error("@MessageUtil.getMessage(MsgNames.MSG_SELECT_SYSTEM)");
// 			return;
// 		}

		if($('#moduleId').val() == ''){
			error("@MessageUtil.getMessage(MsgNames.MSG_PERMISSIONS_NUMBER_CAN_NOT_BE_EMPTY)");
			return;
		}
		
		if($('#moduleName').val() == ''){
			error("@MessageUtil.getMessage(MsgNames.MSG_PERMISSION_NAME_CAN_NOT_BE_EMPTY)");
			return;
		}
		
		var ty = $('#type').selectpicker('val');
		if(!ty){
			ty = '';
		}
		
		if(ty == 'MENU' && parseInt($('#moduleLevel').val()) > 3){
			error("@MessageUtil.getMessage(MsgNames.MSG_UP_TO_THREE_MENU)");
			return;
		}
	
		confirm("@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_SAVE_PERMISSIONS)  " + $('#moduleName').val() + " ?", function(){
			var url = IS_ADD_MODULE ? '@url("/module/add.action")' :'@url("/module/update.action")';
			var data = $('#main-form').serializeObject();
			data.asDashboard = $('#asDashboard').is(':checked');
			data.asShortcut = $('#asShortcut').is(':checked');
			data.asMenu = ty == 'MENU';
			data.moduleKbn = $('#moduleKbn').selectpicker('val');
			data.asAccess = getValueAny('asAccess');
			var moduleId = $('#moduleId').val();
			ajax({ 
				url: url,
				data:data,
				type:"post", 
				bodyMsg:true,
				mask:false,
				success: function(result){
		        	//成功
		        	refresh(moduleId);
		      	}
		    });
		    return true;
		});
	}
	//刷新树并选中指定节点
	function refresh(moduleId){
		SELECTED_NODE_ID = moduleId;
		$('#module-tree').jstree('refresh');
	}
</script>
    
