﻿@args Integer activeNo = 1

@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(client, title:getPageTitle(title), selectedPage: "teacherCourse")


<style>
<!--
.none-ul .divLi {
    display: inline;
    padding-left: 30px;
}

.labeTabs{
    background-color: rgb(244,244,244);
    line-height: 40px;
}


.labeTabs a {
    color: #999999;
}
.labeTabs .active a{
	color: #333333;
	font-weight: bold;
}

.labeTabs{
    line-height: 40px;
}

.bootstrap-table, .btnbox-rythm {
    padding-left: 0px;
    padding-right: 0px;
}
-->
</style>

<script>
 function clickFun(url){
 	window.location.href= url;
 }
 
$(function(){
	@if(activeNo != null){
		$(".labeTabs .none-ul .divLi").removeClass("active");
		$($(".labeTabs .none-ul .divLi")[@(activeNo - 1)]).addClass("active");
	}
});
</script>
<div style="width: 80%;margin: auto;margin-bottom:20px; background-color: white;padding: 10px 50px 10px 50px;" class="mainContent">
<div class="labeTabs" style="margin-bottom:20px;">
	<div class="none-ul">
		<!-- <div class="divLi" onclick="clickFun('@url("/manager/course/tlistInit.action")')"><a>@MessageUtil.getMessage("课程管理")</a></div> -->
		<!-- <div class="divLi" onclick="clickFun('@url("/client/center/questionList.action")')"><a>@MessageUtil.getMessage("问卷管理")</a></div> -->
		<div class="divLi" onclick="clickFun('@url("/client/center/userHomeWorkInit.action")')"><a>@MessageUtil.getMessage("作业管理")</a></div>
	</div>
</div>


@render(){

}

</div>