@import(){
	com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.TpStateConstants;
    com.cloudsoaring.web.course.entity.MeasurementEntity;
    }
@args MeasurementEntity condition,String title

@extends(teacher_course_base, activeNo:2)

@{
	final String surl = url("/client/center/questionListSearch.action");
	final int pageSize = 5;
}
@table(id:"search-result",url:"/client/center/questionListSearch.action",sortName:"createDate", sortOrder:"desc",condition:condition){
    @columns(){
        {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMessage(CourseMsgNames.MSG_QUESTIONNAIRE_SELECTALL)',width:50}, 
	    @*{field: 'measureNum',title:'@MessageUtil.getMessage(CourseMsgNames.MSG_QUESTIONNAIRE_NUM)',width:70,align:'center'},*@
	    {field: 'courseTitle',title:'@MessageUtil.getMessage("课程标题")',width:150,sortable: true,align:'left'},
	    {field: 'titile',title:'@MessageUtil.getMessage(CourseMsgNames.MSG_QUESTIONNAIRE_TITILE)',width:150,sortable: true,align:'left'},
        {field: 'createUser',title:'@MessageUtil.getMessage(CourseMsgNames.MSG_QUESTIONNAIRE_CREATEUSER)',width:90,sortable: true,align:'center'},
        {field: 'createDate',title:'@MessageUtil.getMessage(CourseMsgNames.MSG_QUESTIONNAIRE_CREATEDATE)',width:80,sortable: true,align:'center', formatter:dateFormat},
         @* {field: 'resultCnt',title:'@MessageUtil.getMessage(CourseMsgNames.MSG_QUESTIONNAIRE_RESULTCNT)',width:70,sortable: true,align:'center'}, *@
        {field: 'answerCnt',title:'@MessageUtil.getMessage("参与人数")',width:40,sortable: true,align:'center'}, 
        @optcolumn(){
           @iconlink(
            label:MessageUtil.getMessage(CourseMsgNames.CENTER_VIEW)
            , iconcss:"glyphicon-eye-open"
            , onclick:"viewNotice"
            , visibleFunction:"isEditNotice"
            )
           @iconlink(
            label:MessageUtil.getMessage("参与人员")
            , iconcss:"gh gh-user"
            , onclick:"viewUser"
            , visibleFunction:"isEditNotice"
           )
        }
    }
}
@btnbox(align:"left"){
	@button(label:MessageUtil.getMessage(CourseMsgNames.CENTER_DELETE),iconcss:"fa fa-remove",onclick:"delTagList",id:"btnDel")
}
<div class="clearfix">
	
</div>

<!-- 分页 -->
<div id="paginationDiv">
	
</div>


<script>
	$(function(){	
		//检索
// 		searchList(@pageSize,1);
	});
	
	function viewNotice(row){
        window.location.href = "@url("/client/center/viewMeasurementListInit.action?id=")" + row.id;
    }
	function viewUser(row){
         window.open("@url("/client/center/viewUserInit.action?id=")" + row.id);
    }
    function isEditNotice(value, row, index){
        return true;
    }
	
	function delTagList(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var id = [];
            for(var i = 0; i < selectedRows.length; i++){
                id[i] = selectedRows[i].id;
            }
            confirm("@MessageUtil.getMessage(TpMsgNames.CENTER_SURE_DELETE_QUESTION_LIST)", function(){
                $.ajax({ 
                    url: "@url("/client/center/deleteQuestionList.action")",
                    data:{id:id.join(',')},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        if(result.status){
	                        noticeInfo("@MessageUtil.getMessage(TpMsgNames.DELETE_SUCCESS)");
	                        $('#search-result').bootstrapTable('refresh');
                        }
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    
    }
    
</script>

