.MuiButtonGroup-root {
  display: inline-flex;
  border-radius: 4px;
}
.MuiButtonGroup-contained {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}
.MuiButtonGroup-fullWidth {
  width: 100%;
}
.MuiButtonGroup-grouped {
  min-width: 40px;
}
.MuiButtonGroup-grouped:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.MuiButtonGroup-grouped:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.MuiButtonGroup-groupedText:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.23);
}
.MuiButtonGroup-groupedTextPrimary:not(:last-child) {
  border-color: rgba(30, 136, 229, 0.5);
}
.MuiButtonGroup-groupedTextSecondary:not(:last-child) {
  border-color: rgba(156, 39, 176, 0.5);
}
.MuiButtonGroup-groupedOutlined:not(:first-child) {
  margin-left: -1px;
}
.MuiButtonGroup-groupedOutlined:not(:last-child) {
  border-right-color: transparent;
}
.MuiButtonGroup-groupedOutlinedPrimary:hover {
  border-color: #1e88e5;
}
.MuiButtonGroup-groupedOutlinedSecondary:hover {
  border-color: #9c27b0;
}
.MuiButtonGroup-groupedContained {
  box-shadow: none;
}
.MuiButtonGroup-groupedContained:not(:last-child) {
  border-right: 1px solid #bdbdbd;
}
.MuiButtonGroup-groupedContained:not(:last-child).Mui-disabled {
  border-right: 1px solid rgba(0, 0, 0, 0.26);
}
.MuiButtonGroup-groupedContainedPrimary:not(:last-child) {
  border-right: 1px solid #303F7F;
}
.MuiButtonGroup-groupedContainedSecondary:not(:last-child) {
  border-right: 1px solid #6d1b7b;
}