.course_h{
	position: relative;
    display: block;
    height: 200px;
    max-width: 1152px;
    margin: 0px auto;
}
.course_h, .course_b {
	text-align: left;
}
.course_h .content {
	height: 243px;
}
.course_h .path {
	position: relative;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
}
.course_h .title {
	line-height: 1;
	font-size: 32px;
	color: white;
}
.course_h .title_date {
	font-size: 22px;
	padding-left: 80px;
}
.course_h .title_date, .course_detial_item, .course_h .path {
	color: #b60005;
	opacity: 1;
}
.course_h .statics {
	position: absolute;
	left: 0;
	color: #fff;
	white-space: nowrap;
}
.course_h {
	position: relative;
	display: block;
}
.course_detial_item {
	float: left;
	padding-right: 125px;
	padding-bottom: 35px;
	opacity: 1;
}
.course_detial_item .value {
	display: block;
	height: 20px;
}
.course_detial_item .value {
	display: block;
	height: 18px;
	font-size: 18px;
	margin: 0px 0px 20px 0px;
}
.extra {
	position: absolute;
    right: 0;
    top: 24px;
    z-index: 1;
}
.extra .share {
	float: right;
}
.extra .collection {
	display: inline-block;
	padding-top: 2px;
}
.split_line {
	margin: 2px 16px 0;
	width: 1px;
	height: 16px;
	background-color: white;
	opacity: .4;
	filter: alpha(opacity = 40);
}
.course_b, .right .vote, .right .remark {
	margin-top: 30px;
}
.course_b .left {
	width: 80%;
	background-color: white;
}

.course_b .right {
	float: right;
	width: 18%;
}

.left .tabDiv {
	padding: 35px 30px;
}

.left .tabDiv  ul {
	magrin: 0px;
}

.left .tabDiv .item {
	list-style-type: none;
	float: left;
	font-size: 17px;
	padding: 10px 20px;
}

#tab_info {
	border-bottom: 1px solid rgb(238, 238, 238);
	color: rgb(112, 112, 112);
	height: 50px
}

.tabDiv .list .active {
	color: red;
	border-bottom: 1px solid;
	font-weight: bolder;
}

.tabContent {
	padding: 35px 0px 0px 0px;
}

.right .join {
	width: 100%;
	height: 60px;
	background-color: #40ceff;
	border-radius: 3px;
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}

.right .vote {
	height: 200px;
	background-color: white;
	padding: 30px;
	position: relative;
}

.right  .vote span {
	display: block;
}

.right .vote .num_vote {
	color: rgb(102, 102, 102);
}

#num_rate {
	display: inline;
	font-size: 30px;
	font-weight: bolder;
}

#label_rate {
	display: inline;
	color: #4f85ff;
	font-weight: bolder;
}

.right .vote .line {
	border-bottom: 1px solid #999999;
}

.div_num_rate {
	padding: 20px 0px;
}

#label_goto {
	padding: 20px 0px 0px 0px;
	font-size: 10px;
	color: rgb(255, 152, 0);
}

#num_vote {
	position: absolute;
	right: 25px;
	font-size: 15px;
}

.teacherInfo img {
	float: left;
	margin-left: -90px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

.right .remark {
	background-color: white;
	padding: 30px;
}

.right .remark h4 {
	padding-bottom: 18px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #d0d6d9;
}

.teacherInfo {
	padding: 20px 0 20px 90px;
	border-bottom: 1px solid #d0d6d9;
}

.teacherInfo .teacherName {
	display: block;
	margin: 20px 0 6px;
	font-size: 15px;
	font-weight: bold;
}

.teacherInf .teacherRemark {
	display: block;
}

.courseDest .tile {
	padding: 30px 0px 20px 0px;
	font-weight: bold;
	font-size: 15px;
}

.course_summary {
	/* border-bottom: 1px solid rgb(238, 238, 238); */
	padding: 0px 0px 50px 0px;
	line-height: 25px;
}

.teach_info .remark {
	padding-top: 30px;
	line-height: 25px;
}

.cover-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.cover-img-wrap {
	z-index: 0;
	overflow: hidden;
}

.gh-time:before {
	padding-right: 10px;
}

#coursePageHeader {
	position: absolute;
}
.statics{
	color: #fff;
    font-size: 0;
    position: relative;
    z-index: 3;
    margin-right: 320px;
}
.static-items {
    vertical-align: top;
    float: left;
    display: inline-block;
    position: relative;
    margin-right: 16px;
    font-size: 12px;
    top: 15px;
    color: #b60005;
}
.meta{
	padding-right: 5px;
    line-height: 12px;
    font-size: 12px;
}
.meta-value{
	display: inline-block;
    position: relative;
    margin-right: 16px;
    font-size: 12px;
}
.course-info-menu {
	height:68px;
    line-height: 68px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
}
.course-info-menu .w {
    position: relative;
}
.w {
    max-width: 1152px;
    margin: 0 auto;
}
.course-info-menu .w ul{
    list-style: none;
    padding: 0;
    font-family: 微软雅黑;
}
.course-info-menu .course-menu li {
    float: left;
}
.div_tab_li{
	margin-right: 40px;
    display: inline-block;
    padding: 0;
    font-size: 16px;
    color: #1c1f21;
    line-height: 37px;
    font-weight: bold;
    cursor: pointer;
}
.div_tab_li_active{
	 position: relative;
    margin-right: 40px;
    display: inline-block;
    padding: 0;
    font-size: 16px;
    color: #b60005 !important;
    cursor: default;
    line-height: 37px;
    font-weight: bold;
}
.div_tab_li:hover{
	 color: #b60005;
}
.course-info-main {
    margin-bottom: 40px;
}
.course-info-main .content-wrap {
    padding-right: 400px;
    margin-bottom: 29px;
    overflow: visible;
}
.course-info-main .content {
    float: left;
    padding-top: 5px;
    width: 100%;
}
.course-description {
    line-height: 28px;
}
.course-wrap {
    margin-bottom: 8px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
    border-radius: 12px;
}
.course-info-main .aside {
    margin-top: -148px;
    margin-right: -352px;
    width: 320px;
    position: relative;
    z-index: 2;
}
.r {
    float: right;
}
.course-aside-info {
    margin-bottom: 32px;
    min-height: 150px;
}
.learn-btn{
	margin: 0;
    padding: 0;
}
.course-info-main .aside .learn-info {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 10px;
}
.course-info-main .aside .learn-info span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.course-info-main .aside .progress {
    margin: 9px 0 24px;
    width: 100%;
    height: 16px;
    background: rgba(28,31,33,.1);
    border-radius: 8px;
}
.progress {
    background: #f0f0f0;
    height: 6px;
    width: 400px;
    display: inline-block;
}
.course-info-main .aside .buy a, .course-info-main .aside .learn-btn a {
    display: block;
}
.course-info-main .aside .course-info-tip {
    padding-top: 24px;
}
.course-info-main .aside .course-info-tip dl.first {
    margin-bottom: 24px;
}
.course-info-main .aside .course-info-tip dt {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    padding-top: 20px;
}
.course-info-main .aside .course-info-tip dd {
    font-size: 12px;
    line-height: 24px;
    color: #545c63;
    white-space: pre-line;
    font-weight: 500;
}
.autowrap {
    word-wrap: break-word;
    word-break: break-all;
}
.course-info-main .aside .progress ins {
    height: 16px;
    content: "";
    width: 0%;
    transition: 2s width;
    background: #b60005;
    border-radius: 8px;
}
.moco-btn{
	color: #fff;
    border-color: #b60005;
    background: #b60005;
    opacity: 1;
    padding: 11px 32px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
    text-align: center;
}
.moco-btn:hover{
	font-weight: 700;
	color: white;
}
.num_vote{
	font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #b60005;
}
.div_num_rate{
	padding-top: 20px;
}
.btn-normal{
	display: inline;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
#label_rate {
    display: inline;
    color: #434a54;
    font-weight: bolder;
    padding-left: 10px;
    color: #b60005;
}
#handle_goto {
    position: absolute;
    bottom: 45px;
    right: 25px;
    font-size: 12px;
    font-weight: 600;
    color: #b60005;
}