@args String linkId,String linkType,String type
@extends(center_course_base, activeNo: 6)
<style>
.comp-filter-bar {
  height: 40px;
  border-bottom: 1px solid #e3e5e5;
}
.comp-filter-bar .bar-item {
  float: left;
  font-size: 12px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding: 0 20px;
  color: #787d82;
}
.comp-filter-bar .bar-item.active {
  color: #14191e;
}
.comp-filter-bar .bar-item:hover {
  color: #f01400;
}

.mod-qa-list {
  padding: 20px 0;
  border-bottom: 1px solid #e3e5e5;
  overflow: hidden;
  width:1000px;
   position: relative;
}
.mod-qa-list .qa-medias {
  width: 96px;
  overflow: hidden;
  text-align: center;
  height: 100px;

}

.mod-qa-list .qa-medias .meida:hover {
  color: #be3948;
  text-decoration: underline;
}
.qa-medias .name {
display: block;
margin-top: 10px;
text-align: center;
line-height: 16px;
color: #99a1a6;
font-size: 18px;
padding: 0 10px;
white-space: nowrap;
overflow: hidden;
word-wrap: break-word;
word-break: break-all;


}
a{
	text-decoration:none;
}
.mod-qa-list .qa-content {
  padding-right: 110px;
  min-height: 85px;
  position: relative;
  overflow: hidden;
  position: absolute;
  top:10px;
  left:90px;
  width:900px;
}
.mod-qa-list .qa-content .static-count {
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 0px;
}
.mod-qa-list .qa-content .static-count .static-item {
  display: inline-block;
  vertical-align: top;
  color: #787d82;
}
.mod-qa-list .qa-content .static-count .static-item.answer {
  margin-right: 26px;
    
}
.mod-qa-list .qa-content .static-count .val {
  display: block;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.key{
  font-size: 18px;
  font-weight: normal;
}
.mod-qa-list .qa-content .static-count.hasanswer .answer {
  color: #00b33b;
}
.mod-qa-list .qa-content .wait-answer {
  color: #ff7802;
  font-size: 12px;
}
.mod-qa-list .qa-content .wait-answer strong {
  font-weight: bold;
}

.mod-qa-list .qa-header {
  font-size: 16px;
  color: #363d40;
  position: relative;
}
.mod-qa-list .qa-header .qa-header-cnt {
  padding-left: 26px;
  position: relative;
  top:-20px;
}

 .myanswer,.what-credit {
  color: #787d82;
}
.wait-answer {
  margin-right: 16px;
}
.myanswer {
  font-weight: bold;
}
.myanswer:hover,
.what-credit:hover {
  color: #14191e;
}
.qa-header-cnt a:hover i{
	color:red;
	text-decoration:underline;
}
.replydes {
	position:relative;
	top:-20px;
  margin-left: 26px;
  color: #99a1a6;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.split-l {
  display: inline-block;
  height: 12px;
  width: 1px;
  <!--vertical-align: -2px;-->
  background-color: #d0d6d9;
  margin: 0 7px 0 9px;
}
.qa-footer {
  padding-left: 27px;
  margin-top: 18px;
  color: #999;
  width: 605px;
  font-size: 12px;
}
.qa-footer .from {
  color: #999;
  font-size: 12px;
  margin-left: 30px;
}
.mod-qa-list .qa-medias img {

  border-radius: 100%;
}

 .qa-tit i {
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 22px;
    font-style: normal;
    color:#14193a;
    padding-left:10px;
}






a{
  text-decoration:none;
}
.qa-content {
  padding-right: 110px;
  min-height: 85px;
  position: relative;
  overflow: hidden;
  top:-110px;
  left:90px;
  width:900px;
}
.static-item {
  display: inline-block;
  vertical-align: top;
  color: #787d82;
  }
  .answer {
  margin-right: 26px;
      color: #00b33b;
}
 .val {
  display: block;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.key{
  font-size: 14px;
  font-weight: normal;}
 .name {
display: block;
margin-top: 10px;
line-height: 16px;
color: #99a1a6;
font-size: 18px;
white-space: nowrap;
overflow: hidden;
word-wrap: break-word;
word-break: break-all;
}
.animg{
	background:url('@url("/images/danew.png")') no-repeat 0px 0px;
}

.animgNo{
	background:url('@url("/images/danew.png")') no-repeat 0px -24px;
}
.animgYe{
	background:url('@url("/images/danew.png")') no-repeat 0px -54px;
}

#titleShow i:hover {
  color: red;
  text-decoration: underline;
}


.faq .filterLable ul{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    background-color: #F4F4F4;
    padding: 10px 50px 10px 30px;
}
</style>



<div style="background:white;width:100%;" class="faq">
@line_list(url:("/pub/faq/userFaqList.action"),pageSize:5){
		@list_filter(){
			[
				{label:"我的问", filterKey:"type", filterValue:"0",on:true},
				{label:"我的答", filterKey:"type", filterValue:"1"}
			]
		}
		@list_item(renderItemFunction:"renderItemContent"){
			<div style="position: relative;">
    			<div style="margin:30px 0px 30px 30px;float:left;text-align:center;">
      				 <img style="border-radius: 100%;" src="@url("/pub/image.action?fileId=%questionUserImage")" width="40" height="40">
     				 <span class="name">%questionUserName</span>
   				 </div>

    			<div style="padding:30px 5px 5px 100px;margin-left:30px;">		
						<div class="animgYe" style="display:%isanYe;">
							<span style="padding-left:20px;">
								%title
          						%sendPoint
							</span>
						
						</div>
						<div class="animgNo" style="display:%isanNo;">
							<span style="padding-left:20px;">
								%title
          						%sendPoint
							</span>
						
						</div>
						
      
          			<div style="padding-top: 10px;display:%coanYe;">
            			<span style="display:inline-block;color: #ff7802;font-size: 12px;">
            				@MessageUtil.getMsgAndNote("快来回答问题，最佳答案可 +", "", "txt.user.faq.userAnswer")
              				<strong>%points@MessageUtil.getMsgAndNote("积分", "", "txt.user.faq.point")</strong>
            			</span>
            			<a href="#" style="padding-left: 30px;">
              			<span style="font-size: 16px;font-weight: normal;color: #787d82;">
                			%myanw
              			</span>
            			</a>
          			</div>
         
         		 <div style="padding-top: 10px;display:%coanNo;position:relative;">
             		
             		
             		
             		<span style="display:%newAnH;float:left;">
             			<div class="animg">
             				<span style="padding-left:20px;">
             					@MessageUtil.getMsgAndNote("[最新回答]", "", "txt.user.faq.newAnswer")
             				</span>
             				
             			</div>           			
             		</span>
             		<span  style="color:#39b94e;display:%adoptedH;float:left;">             	            			
             			<div class="animg">
             				<span style="padding-left:20px;">
             				@MessageUtil.getMsgAndNote("[已采纳的回答]", "", "txt.user.faq.acceptAnswer")
             				</span>             				
             			</div> 
             		</span>
             		<img style="border-radius: 100%;" src="@url("/pub/image.action?fileId=%answerUserImage")" width="20" height="20">            		
             		<span style="display: inline-block;">%answerUserName</span>
             		<span style="position: absolute;padding-left:10px;">%answerContent</span>
             		
          		</div>
          		<div style="padding-top: 10px;padding-bottom: 10px;">
             		<span  style="color: #999;font-size: 12px;">@MessageUtil.getMsgAndNote("时间：", "", "txt.user.faq.time")%answerCreateDate
             		</span>
             		<span style="color: #999;font-size: 12px; margin-left: 30px;">
               		@MessageUtil.getMsgAndNote("源自：", "", "txt.user.faq.derive")%answerFromTitle
             		</span>
         		 </div>
        
    		</div>
   			 <div style="position: absolute;top:30px;right:0px;">
             	<span class="static-item answer">
             	 	<b class="val">%answerCount</b>
             		<span class="key">@MessageUtil.getMsgAndNote("回答", "", "txt.user.faq.answer")</span>
           		</span>
          		 <span class="static-item" style="margin-right: 30px;">
              		<b class="val">%viewNum</b>
             		<span class="key">@MessageUtil.getMsgAndNote("浏览", "", "txt.user.faq.view")</span>
          		 </span>
   			</div>
    		<div style="clear: both;"></div>
			<hr/>
  		</div>
			
		
		
		
		}
	}
	
<script>

function renderItemContent(itemContent, obj) {
		var title=hideStringByMax(obj.title,20)
		var linkId=hideStringByMax(obj.linkId)
		var linkType=hideStringByMax(obj.linkType)
		console.log(linkId);
		console.log(linkType);
		var sendPoint="";
		var myanw="";
		var newAnH="none";
		var adoptedH="none";
		var isanNo="none";
		var isanYe="none";
		var coanNo="none";
		var coanYe="none";
		if(obj.adoptAnswerId){
			sendPoint=sendPoint="&nbsp;&nbsp;&nbsp;<span style='color:red'>+"+replaceOr(obj.sendPoint)+"@MessageUtil.getMsgAndNote("积分", "", "txt.user.faq.point")</span>"
		}
		title=  "<a id='titleShow' href='@url("/pub/faq/faqCourseChapterList.action?linkId=")"+linkId+"&linkType="+linkType+"&qaQuestionId="+obj.id+"&sendPoint="+replaceOr(obj.sendPoint)+"' target='_blank' class='qa-tit' ><i style='font-size:18px;'>"+replaceNull(title)+"</i></a>";
		
		if(obj.answerCount){
			if(obj.adoptAnswerId){
			 	newAnH="none";
				adoptedH="block";
				isanYe="block";
				isanNo="none";
			}else{
				newAnH="block";
				adoptedH="none";
				isanNo="block";
				isanYe="none";
			}
			coanNo="block";
         
		}else{
			 myanw=
            "<a href='@url("/pub/faq/faqCourseChapterList.action?linkId=")"+obj.linkId+"&linkType="+obj.linkType+"&qaQuestionId="+obj.id+"&sendPoint="+obj.sendPoint+"' class='myanswer' target='_blank'>@MessageUtil.getMsgAndNote("我来回答", "", "txt.user.faq.answerByMyself")</a><span class='split-l'></span>"+
            "<a href='' target='_blank' class='what-credit' style='visibility:hidden;'>@MessageUtil.getMsgAndNote("什么是积分", "", "txt.user.faq.pointMean")</a>";
			coanYe="block";
			isanNo="block";
		}
		
		
		
		return itemContent.replace(/%title/g,title)
		.replace(/%questionUserName/g, hideStringByMax(obj.questionUserName,4))
		.replace(/%questionUserImage/g, replaceNull(obj.questionUserImage))
		.replace(/%myanw/g,myanw)
		.replace(/%points/g,replaceOr(obj.sendPoint))
		.replace(/%viewNum/g,replaceOr(obj.viewNum))
		.replace(/%answerFromTitle/g,replaceNull(obj.answerFromTitle))
		.replace(/%answerCreateDate/g,replaceDate(obj.createDate))
		.replace(/%answerCount/g,replaceOr(obj.answerCount))
		.replace(/%sendPoint/g,sendPoint)
		.replace(/%answerUserName/g,hideStringByMax(obj.answerUserName,4))
		.replace(/%answerContent/g,hideStringByMax(obj.answerContent,15))
		.replace(/%newAnH/g,newAnH)
		.replace(/%isanYe/g,isanYe)
		.replace(/%isanNo/g,isanNo)
		.replace(/%adoptedH/g,adoptedH)
		.replace(/%coanNo/g,coanNo)
		.replace(/%coanYe/g,coanYe)
		.replace(/%linkId/g,linkId)
		.replace(/%linkType/g,linkType)
		.replace(/%answerUserImage/g,replaceNull(obj.answerUserImage));
	}
	
	
	
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
    function replaceOr(str){
    	if(str){
    		return str;
    	}
    	return "0";   
    } 
    function replaceDate(str){
    	if(str == null || str == "undefind"){
				return "";
			}else{
				return dateFormat(str);;
			}
    }
    function release(){
    	 $('#file-form').bootstrapValidator('validate');
    	 if($('#file-form').data('bootstrapValidator').isValid()){
    	 	var title=$('#form').prop("value");
    	 	var sendPoint=$('#formNum').prop("value");
    	 	var content= ue.getContent();
    	 	var linkId=hideStringByMax(obj.linkId);
			var linkType=hideStringByMax(obj.linkType);
    	 
    	 	$.ajax({ 
                url: "@url("/pub/faq/publishQuestion.action")",
                data:{linkId:linkId,linkType:linkType,title:title,content:content,sendPoint:sendPoint},
                method:"post",  
                bodyMsg:true,
                mask:true,
                success: function(result){
                if(result.status){
                	bodyMessage('success', @MessageUtil.getMsgAndNote("添加成功", "", "msg.user.faq.addSuccess"))
                	$('#form').prop("value","");                   
                   listReflash();
                }
                   
                }
            });
    	 
    	 }
    }
    
</script>
</div>
