@import(){com.cloudsoaring.web.trainingplatform.constants.TpMsgNames}
@import(){com.cloudsoaring.web.trainingplatform.constants.TpConfigNames}
@args String title = "",Object menu, String selectedPage
@extends(client, title:getPageTitle(title))


@import(){
	com.cloudsoaring.web.points.service.*;
	com.cloudsoaring.web.points.entity.*;
	com.cloudsoaring.web.trainingplatform.service.*;
	java.math.*;
}

@{
	final UserEntity user = WebContext.getSessionUser();
	final BigDecimal point = (BigDecimal)WebContext.session("POINTS");
	final Boolean isTeacher = (Boolean)WebContext.session("IS_TEACHER");
}

<style>
.center-font-content{
    color: gray;
}

.center-border-line {
	border-bottom-style: solid;
    border-bottom-color: rgb(230,230,230);
    border-bottom-width: 2px;
}

.center-content-title-p {
	font-size: 110%; 
	font-weight: bold; 
	padding: 10px 0px;
	margin: 0px;

}

.courseList:hover{
	box-shadow:1px 1px 1px 1px #999999;
}

.list_title:hover{
	color:#E84D3B;
}
.list_title{
	color:#000000;
}
.center-font-content,.list_title{
	color: gray;
}
.userInfoDiv {
    text-align: center;
    padding: 0px 0px 50px 0px;
}
#left-side {
    padding: 30px 30px;
}
.title_1{
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.title_2 {
    font-size: 13px;
    color: #666666;
}

.title_3{
	color: #666666;
	font-size: 10pt;
}
.bottom-line{
 	border-bottom: 1px solid #EDE7E7;
}
.point_point{
	font-size: 20px;
}
.point_suf{
	font-size: 16px;
}
#userImagDiv{
	padding-bottom:25px;
}
#userPosition {
    padding: 10px 0px 15px 0px;
}
#userPoint {
    padding: 30px 0px 0px 0px;
}
div#centerMenu a {
    height: 66px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    font-size: 16px;
    color: #000000;
    padding-left: 63px;
}
</style>
@assign("pagination_nav"){
	<nav style="text-align:center;margin-top:10px;">
		<ul class="pagination" id="paginationDiv_li">
			%paginatioContent			
		</ul>
	</nav>
}

@{

	final boolean SHOW_INFO = ConfigUtil.getBoolean("CLIENT_INFO_ON_OFF");
	final boolean SHOW_COURSE = ConfigUtil.getBoolean("CLIENT_COURSE_ON_OFF");
	final boolean SHOW_PLAN = ConfigUtil.getBoolean("CLIENT_PLAN_ON_OFF");
	final boolean SHOW_DISCUSS = ConfigUtil.getBoolean("CLIENT_DISCUSS_ON_OFF");
	final boolean SHOW_SOCIAL = ConfigUtil.getBoolean("CLIENT_SOCIAL_ON_OFF");
	final boolean SHOW_TUTOR = ConfigUtil.getBoolean("CLIENT_TUTOR_ON_OFF");
	final boolean SHOW_CASE = ConfigUtil.getBoolean("CLIENT_CASE_ON_OFF");
	final boolean SHOW_MESSAGE = ConfigUtil.getBoolean("CLIENT_MESSAGE_ON_OFF");
	final boolean SHOW_DROPBOX = ConfigUtil.getBoolean("CLIENT_DROPBOX_ON_OFF");
}

<style>
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    position: absolute;
    width: 172px;
    left: -15px;
    top: 0;
}
ul {
    list-style: none;
}
.slider ul li:first-child {
    margin-top: 40px;
}
.slider ul li {
    height: 48px;
    width: 160px;
}
.slider ul  a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
     text-align: center;
 }
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px ;
}
.slider ul a:hover {
    color: #14191e;
}
</style>
<div style="height: 150px; background:url('@url("/images/temp1.png")') no-repeat 0px;">
	<div style="width: 1152px; margin: auto;">
		<div style="border: 4px solid #fff; box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1); width: 148px; height: 148px; position: relative; border-radius: 50%; background: #fff; top: 24px; float: left; z-index: 999;">
			<img class="userImg" src="/pblMgr/pub/image.action?fileId=@user.getImage()" style="text-align: center; width: 140px; height: 140px; border-radius: 50%;">
		</div>
		<div class="user-info-right" style="float: left;">
			<h3 class="user-name clearfix"
				style="font-weight: 600; text-align: left; font-size: 24px; color: #fff; line-height: 28px; margin-top: 50px; padding-left: 20px;">
				<span>@user.getPersonName()</span>
			</h3>
			<p class="about-info"
				style="font-size: 14px; color: #fff; line-height: 30px; text-align: left; padding-left: 20px;">
				@if(user.getSex()=="1"){
				  <span>性别：女</span> <span>,&nbsp;&nbsp;账号：@sessionUser.getUserName()</span>
				}else{
				 <span>性别：男</span><span>,&nbsp;&nbsp;账号：@sessionUser.getUserName()</span>
				}
				
			</p>
		</div>
	</div>
</div>
<div class="wrap" style="width: 1500px;">
	<div class="slider" style="border: 1px solid #f1f1f1 !important;">
		<ul id="test">
			<li>
				<a href="@url("/pub/course/userPersonInfo.action")" class="@if("text_upi".equals(selectedPage)){active}"> <i class="fa fa-user"></i><span>个人数据</span></b>
				</a>
			</li>
			<li>
				<a href="@url("/pub/course/userStudyInfo.action")" class="@if("text_us".equals(selectedPage)){active}"> <i class="fa fa-bookmark"></i><span>个人勋章</span></b>
				</a>
			</li>
			<!-- <li>
				<a href="@url("/pub/course/userStudyResult.action")" class="@if("text_usr".equals(selectedPage)){active}"> <i class="fa fa-bookmark"></i><span>任务成果</span></b>
				</a>
			</li> -->
			<li>
				<a href="@url("/pub/course/userFiles.action")" class="@if("text_uf".equals(selectedPage)){active}"> <i class="fa fa-bars"></i><span>个人档案袋</span></b>
				</a>
			</li>
			<li>
				<a href="@url("/pub/course/userPblInfo.action")" class="@if("text_pc".equals(selectedPage)){active}"> <i class="fa fa-check-square"></i><span>综合测评</span></b>
				</a>
			</li>
			<li>
				<a href="@url("/pub/course/userPblMyInfo.action")" class="@if("text_my".equals(selectedPage)){active}"> <i class="fa fa-envelope"></i><span>我的测评</span></b>
				</a>
			</li>
		</ul>
	</div>
	<div style="margin-left: 240px;">
	@render()
	</div>
</div>


<script>
	$(document).on('click', '.accordion-toggle', function(event) {
        event.stopPropagation();
        var $this = $(this);

        var parent = $this.data('parent');
        var actives = parent && $(parent).find('>.collapse.in');
        // From bootstrap itself
        if (actives && actives.length) {
            hasData = actives.data('collapse');
            //if (hasData && hasData.transitioning) return;
            actives.collapse('hide');
        }

        var target = $this.attr('data-target') || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, ''); //strip for ie7

        $(target).collapse('toggle');
	});
	
	function initPagination(paginationId, total, page, pageSize){
		var totalPage = total;
		$("#" + paginationId).html("");
		if(totalPage > 1){
			var str = '';
			if(page == 1){
				str += '<li><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
			}else{
				str += '<li><a href="javascript:searchList('+pageSize+','+(page-1)+');" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
			}
			for(var i=1;i<=totalPage;i++){
				str = str +'<li><a href="javascript:searchList('+pageSize+','+i+')">'+i+'</a></li>';
			}
			if(page == totalPage){
				str += '<li><a aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>';
			}else{
				str += '<li><a href="javascript:searchList('+pageSize+','+(page+1)+')" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>';
			}
			
			str = "@es(pagination_nav).raw()".replace(/%paginatioContent/g, str)
			
			$("#"+ paginationId).html(str);
			if(page == 1){
				$("#"+paginationId+"_li li:eq(0)").addClass("disabled");
			}
			if(page == totalPage){
				$("#"+paginationId+"_li li:eq("+(totalPage+1)+")").addClass("disabled");
			}
			$("#"+paginationId+"_li li:eq("+(page)+")").addClass("active");
		}
	}
	
	//替换null为空字符串
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	/* $(function(){
		$("#test li a").eq(4).addClass('active').css('color','#fff');
	    $("#test li a").click(function() {
	    	$(this).parent().siblings().children().removeClass('active').css('color','#000');  // 删除其他兄弟元素的样式
	        $(this).addClass('active').css('color','#fff');                           
	        // 添加当前元素的样式
	    });
	}); */
</script>
