﻿@args Integer activeNo
 
@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(client, title:getPageTitle(title), selectedPage: "course")


<style>
<!--
.none-ul .divLi {
    display: inline;
    padding-right: 50px;
}

.labeTabs{
    line-height: 40px;
}

.labeTabs a {
    color: #999999;
}
.labeTabs .active a{
	color: #333333;
	font-weight: bold;
}
-->
</style>

<script>
 function clickFun(url){
 	window.location.href= url;
 }

$(function(){
	@if(activeNo != null){
		$(".labeTabs .none-ul .divLi").removeClass("active");
		$($(".labeTabs .none-ul .divLi")[@(activeNo - 1)]).addClass("active");
	}
});
</script>
<div style="width: 80%;margin: auto;margin-top: 30px;margin-bottom:20px; background-color: white;padding: 10px 25px 10px 30px;" class="mainContent">
<div class="labeTabs">
	<div class="none-ul" style="height:60px; font-size:16px; color:#333333; padding-top:5px">
		<div class="divLi" onclick="clickFun('@url("/client/center/userCourseStudyList.action")')"><a>@MessageUtil.getMessage("课程")</a></div>
		<div class="divLi" onclick="clickFun('@url("/client/center/userNoteListInit.action")')"><a>@MessageUtil.getMessage("笔记")</a></div>
		<div class="divLi" onclick="clickFun('@url("/client/center/userDiscussListInit.action")')"><a>@MessageUtil.getMessage("评论")</a></div>
		<div class="divLi" onclick="clickFun('@url("/client/center/userExamInit.action")')"><a>@MessageUtil.getMessage("考试")</a></div>
		<div class="divLi" onclick="clickFun('@url("/client/center/userMeasurement.action")')"><a>@MessageUtil.getMessage("测试")</a></div>
		<div class="divLi" onclick="clickFun('@url("/client/center/userFaqListInit.action")')"><a>@MessageUtil.getMessage("问答")</a></div>
		<div class="divLi" onclick="clickFun('@url("/client/center/userVote.action")')"><a>@MessageUtil.getMessage("投票")</a></div>
		<div class="divLi" onclick="clickFun('@url("/client/center/userHomeworkListInit.action")')"><a>@MessageUtil.getMessage("作业")</a></div>
	</div>
</div>


@render(){

}

</div> 