﻿@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(center_course_base, activeNo: 2)
@args String title = "我的评论"
@args DiscussDataEntity condition
@args String type

<style>
.note .filterLable ul{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    background-color: #F4F4F4;
    padding: 10px 50px 40px 30px;
}
	
</style>
<div style="background:white;width:100%; cursor:hand" class="note">

@line_list(url:("/pub/note/userNoteList.action"),pageSize:5){
		@list_filter(){
			[
				{label:"我的笔记", filterKey:"type", filterValue:"0",on:true},
				{label:"收藏", filterKey:"type", filterValue:"1"}
			]
		}
		@list_item(renderItemFunction:"renderItemContent") {
		<div class="userNoteList" style="border-bottom: 1px solid #e3e5e5; width: 100%; overflow: hidden; padding: 15px;position:relative; background-color: rgb(255, 255, 255);">
			<div  style="float:left;height:100px; width:60px;" >
				<img style="border-radius:100%"; width=60px; height=60px; src="@url("/pub/headerThumb.action?fileId=%image")">
				<div style="height:30px;text-align:center;padding:10px 0 0 0; ">
					<span style=" ">%personName</span>
				</div>
			</div>
				<div style="height:20px; width:90%; margin-left:65px ;  color:#999999;" >
				%content
				</div>
			<div style="margin-top:40px;height:10px;  margin-left:60px ;  font-size:10px; color:#999999;" class="center-font-content" >
					%createDate&nbsp;
				<span class="center-content">@MessageUtil.getMsgAndNote("源自:", "", "txt.user.note.derive")%title</span>
			</div>
			<div style="width:200px; margin-top:5px;height:20px; margin-left:560px ; font-size:10px; color:#999999;">
				<span class="gh gh-thumbs-up">@MessageUtil.getMsgAndNote("点赞数", "", "txt.user.note.like")</span>
					%likeNum&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="gh gh-heart">@MessageUtil.getMsgAndNote("被收藏", "", "txt.user.note.collect")</span>
				%collectionNum	
			</div>
				
		</div>
	}

}
</div>
<script>

	function renderItemContent(itemContent, obj) {
		var title = hideStringByMax(obj.title,200);
		var content = hideStringByMax(obj.content,100);
		var personName = hideStringByMax(obj.personName,4);
		var createDate = hideStringByMax(obj.createDate,20);
		var likeNum = hideStringByMax(obj.likeNum,11);
		if(likeNum==null){
				likeNum="0";
	     }
		var collectionNum = hideStringByMax(obj.collectionNum,11);
		if(collectionNum==null){
				collectionNum="0";
	     }
		return itemContent
					.replace(/%likeNum/g, replaceNull(likeNum))
					.replace(/%collectionNum/g, replaceNull(collectionNum))
					.replace(/%title/g, replaceNull(title))
					.replace(/%personName/g, replaceNull(personName))
					.replace(/%content/g, replaceNull(content))
					.replace(/%createDate/g, replaceNull(dateTimeFormatMi(createDate)))
					.replace(/%image/g,obj.userImageId)
					.replace(/%screenshotId/g,obj.screenshotId);
	}
 //替换null为空字符串
   function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
</script>
