﻿@import(){com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;com.cloudsoaring.web.course.constant.CourseStateConstants;}
@args UserEntity user
@{
	final Boolean isEdit = user!= null && StringUtil.isNotEmpty(user.userId);
}

@extends(client, title:getPageTitle(title), "text_personpage")

<div style="width: 50%; margin: auto;margin-top: 30px;overflow: hidden; padding: 20px; border-radius: 5px;background-color: rgb(255, 255, 255);">
	@form("user-form"){
		@column(css:"col-10") 
		{
				@input({label:MessageUtil.getMessage(MsgNames.MSG_PERSON_NAME),name:"personName",value:user.personName,maxlength:"10",groupcss:"col-12",required:true})
				@imgcrop(id:"imageP",name:"imageP", label:MessageUtil.getMessage(TpMsgNames.CENTER_IMAGE), fileid: user.getImage())
				@combobox(
				    label:"性别项",
				    name:"sex", 
				    empty:false, 
				    options:CodeFactory.getCodeList(CourseStateConstants.PERSON_SEX), 
				    value:user.getSex(),
				    groupcss:"col-12"
		     	) 
				@input_email({label:MessageUtil.getMessage(MsgNames.MSG_EMAIL),name:"email",value:user.email,groupcss:"col-12",maxlength:"100"})
				@input({label:MessageUtil.getMessage(TpMsgNames.MSG_REGION),name:"region",value:user.getRegion(),groupcss:"col-12",maxlength:"100"})
				@input({label:MessageUtil.getMessage(TpMsgNames.MSG_POSITION),name:"position",value:user.getPosition(),groupcss:"col-12",maxlength:"100"})
				@input_mobile({label:MessageUtil.getMessage(MsgNames.MSG_PHONE), name:"phone",value:user.phone,groupcss:"col-12",required:true})
				@input({label:MessageUtil.getMessage(TpMsgNames.MSG_WEIXIN),name:"weixin",value:user.getWeixin(),maxlength:"100",groupcss:"col-12"})
				@input({label:MessageUtil.getMessage(TpMsgNames.MSG_WEIBO),name:"weibo",value:user.getWeibo(),maxlength:"100",groupcss:"col-12"})
				@textarea({label:MessageUtil.getMessage(TpMsgNames.MSG_DESCRIPTION),name:"remark",value:user.getRemark(),maxlength:"100",groupcss:"col-12"})
				@hidden({id:"userId",value:user.userId})
		}
		@column(css:"col-2")
		
		@btnbox(border:true){
			@button_save(width:100)
			@button_back(width:100)
		}
	}
</div> 
<script>
	$(function(){
		//Validator
		$('#user-form').bootstrapValidator({
            fields: {
            	email: {
            		//trigger: 'focus blur',
                    validators: {
                        remote: {
	                        data:function(){
	                        	return {
	                        		userId:$('#userId').val(),
	                        		userName:$('#userName').val()
	                        	};
	                        },
	                        url: '@url("/client/center/checkUserEmail.action")'
	                    }
                    }
                }
            }
        });
	});
	
	
	
	
	
	function save(){
		$('#user-form').bootstrapValidator('validate');
   	 	if($('#user-form').data('bootstrapValidator').isValid()){
			var params = new FormData($('#user-form')[0]);
		    $.ajax({ 
				url: "@url("/client/center/usersave.action")",
				data:params,
				method:"post",  
				bodyMsg:true,
				mask:true,
				showMsg: false,
				/** 
		         *必须false才会自动加上正确的Content-Type 
		         */
				contentType:false,  
		        /** 
		         * 必须false才会避开jQuery对 formdata 的默认处理 
		         * XMLHttpRequest会对 formdata 进行正确的处理 
		         */  
		        processData:false, 
				success: function(result){
					success("@MessageUtil.getMessage(TpMsgNames.CENTER_SAVE_SUCCESS)", function(){
						window.location.reload();
					});
		      	}
		    });
		}
	}
</script>

