@extends(client,title:"","text_case")
@grid_list(url:"/pub/case/userCaseList.action?planType=1", pageSize:20){	
	@list_item(renderItemFunction:"renderItemContent"){
		<a style="color:#000000;" href="@url("/pub/case/innerCaseDetail.action?planId=%planId")">
			<div class="planList" style=" width: 100%; overflow: hidden; padding: 15px">
				<div class="thumbnail" style="width:256px;height:144px">
					<img style="width:100%;height:100%;" src="@url("/pub/image.action?fileId=%pictureId")">
				</div>
				<div style="height:30px; ">
					<span>%cure</span><span style="font-weight: bold;font-size: 110%;">%title</span>
				</div>
					<div style="height:30px; ">
					%tagName
				</div>
				<div style="height:30px; color:#999999;" class="center-font-content">
					<span ><small>%numCourse&nbsp;@MessageUtil.getMessage("门课程")</small></span> &nbsp; &nbsp;
					<span ><small>%numStudy&nbsp;@MessageUtil.getMessage("人学习")</small></span>
				</div>
			</div>
		</a>
	}
}

<script>
	function renderItemContent(itemContent, obj) {
		var content = "";
		var summary ="";
		var title ="";
		var numCourse="0";
		var numStudy="0";
		var point="0";
		var tagName ="";
		var cure = "";
		var tagNames = obj.tagNames;
		if(tagNames){
		tagNames = tagNames.split(",");
			for (i=0;i<tagNames.length ;i++ ) { 
					tagName += '<span>'+tagNames[i]+'</span>'+'&nbsp;&nbsp;';
			} 
		}
		var id ="";
		if(hideStringByMax(obj.points,20)){
			points = hideStringByMax(obj.points,20);
		}
		if(hideStringByMax(obj.title,20)){
			title = hideStringByMax(obj.title,20);
		}
		if(hideStringByMax(obj.momo,50)){
			content = hideStringByMax(obj.momo,50);
		}
		if(hideStringByMax(obj.summary,20)){
			summary = hideStringByMax(obj.summary,20);
		}
		if(obj.numCourse){
			numCourse=obj.numCourse;
		}
		if(obj.id){
			id=obj.id;
		}
		if(obj.numStudy){
			numStudy=obj.numStudy;
		}
		if(obj.tagName){
			tagName = obj.tagName;
		}
		//debugger;
		return itemContent.replace(/%title/g, title)
					.replace(/%content/g, content)
					.replace(/%summary/g, summary)
					.replace(/%planId/g,obj.planId)
					.replace(/%pictureId/g,obj.pictureId)
					.replace(/%numCourse/g,numCourse)
					.replace(/%point/g,point)
					.replace(/%numStudy/g,numStudy)
					.replace(/%tagName/g,tagName)
					.replace(/%cure/g,cure);
	}
 //替换null为空字符串
   function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
</script>


