@import(){
com.cloudsoaring.web.course.entity.*,
com.cloudsoaring.web.course.view.*,
com.cloudsoaring.web.bus.entity.TagEntity,
com.cloudsoaring.web.common.utils.*,
}
@args List<TagEntity> tags ,TeacherApplyEntity teacherApply,boolean flag,String type
@extends(center_base,title:"",selectedPage: "applyTeacher")
<style>
.displayApplyTeacherView{
display:none;
}

.fontWeightCss{
	font-weight:bold
}
</style>

<div style="background-color:#ffffff;height:100%;margin-right:0px;padding-bottom:50px;float:left;">	
	<div style="margin-left:30px;width:770px;height:60px;font-size:120%;border-bottom-style: solid; border-bottom-width:thin;border-bottom-color:#DDDDDD; margin-bottom: 20px;">
			<div style="line-height:60px;">@MessageUtil.getMsgAndNote( "欢迎加入创客学院讲师团",  "teacherApply.message",  "txt.teacherApply.message")</div>
	</div>
	<div id="applyTeacher">
	@form(id:"applyTeacherform",name:"applyTeacherform"){
		@input(label:MessageUtil.getMsgAndNote( "姓名",  "teacherApply.personName",  "txt.teacherApply.personName"), labelcss:"fontWeightCss",name:"personName",required:true,popplace:"right",groupcss:"col-10",maxlength:"200")
		@row()
		{	
			<div style="padding-left:160px;color:#999999;margin-top:-10px;margin-bottom: 25px;">@MessageUtil.getMsgAndNote( "请填写真实姓名",  "teacherApply.personName.message",  "txt.teacherApply.personName.message")</div>
		}		
		
		@input(label:MessageUtil.getMsgAndNote( "职业", "teacherApply.position", "txt.teacherApply.position"), labelcss:"fontWeightCss",name:"position",required:true,popplace:"right",groupcss:"col-10",maxlength:"200")	
		@row()
		{	
			<div style="height:20px;"></div>
		}
		
		<div class="clearfix"></div>
		
		<div style="position:relative;">
	           <div class="clearTags"><span class="gh gh-remove" style="cursor:pointer;color:red;position:absolute;margin-top:7px;right:175px;z-index:999999999;"></span></div>
	           @input(label:MessageUtil.getMsgAndNote( "标签", "teacherApply.tagNames", "txt.teacherApply.tagNames"), labelcss:"fontWeightCss",id:"select_tags",popplace:"right",groupcss:"col-10",maxlength:"200",required:true,disabled:true)          
	       </div>
	       <div class="clearfix"></div>
		<div style="margin-left:160px;height:20px;color:#999999;">@MessageUtil.getMsgAndNote("您最多可以从以下选择三个标签呦！", "teacherApply.tagNames.message", "txt.teacherApply.tagNames.message")</div>      
	       <input type="hidden" name="tags" value="" id="input_checked_tag" />
	       @row(){
	       <div style="margin-left:136px;width:515px;margin-top:15px;margin-bottom: 10px;">
	           @if(tags!=null && tags.size()>0){
	               @for(int i=0;i<tags.size();i++){
	                   @{
	                       TagEntity tag = (TagEntity)tags.get(i);                         
	                   }
	                   <input class="span_tags_id" type="hidden" value="@(tag.getTagId())"/>
	                   <input class="span_tags_name" type="hidden" value="@(tag.getTagName())"/>
	                   <span class="span_tags" style="padding:5px 10px;font-size:12px;color:#666666;margin-right:10px;margin-bottom:10px;cursor:pointer;display:inline-block;background-color:#E9E9E9;">@(tag.getTagName())</span>
	               }
	           }
	       </div>
	       }
	   
		@if(ConfigUtil.getProperty("SHOW_TOPIC_ON")){
            @input(label:MessageUtil.getMsgAndNote( "话题1", "teacherApply.tagNames", "txt.teacherApply.topics1"),labelcss:"fontWeightCss", id:"topicContent1",popplace:"right",groupcss:"col-10",maxlength:"200",required:true)   
            @input(label:MessageUtil.getMsgAndNote( "话题2", "teacherApply.tagNames", "txt.teacherApply.topics2"), labelcss:"fontWeightCss",id:"topicContent2",popplace:"right",groupcss:"col-10",maxlength:"200",required:false)                 
            @input(label:MessageUtil.getMsgAndNote( "话题3", "teacherApply.tagNames", "txt.teacherApply.topics3"), labelcss:"fontWeightCss",id:"topicContent3",popplace:"right",groupcss:"col-10",maxlength:"200",required:false)          
          <div class="clearfix"></div>
        }
		    @row()
        {   
            <div style="height:20px;"></div>
        }
				
		@input(label:MessageUtil.getMsgAndNote( "联系方式", "teacherApply.connectWay", "txt.teacherApply.connectWay"), labelcss:"fontWeightCss",name:"connectWay",required:true,popplace:"right",groupcss:"col-10",type:"phone")
		@row()
		{	
			<div style="margin-left:160px;color:#999999;margin-top:-10px;margin-bottom: 25px;">@MessageUtil.getMsgAndNote( "教学平台将通过此方式联系你", "teacherApply.connectWay.message", "txt.teacherApply.connectWay.message")</div>
		}
	
		@textarea(label:MessageUtil.getMsgAndNote( "个人简介", "teacherApply.summary", "txt.teacherApply.summary"), labelcss:"fontWeightCss",name:"summary",required:true,popplace:"right",groupcss:"col-10",rows:5,maxlength:"500")		
		@row()
		{	
			<div style="margin-left:160px;color:#999999;margin-top:-10px;margin-bottom: 25px;">@MessageUtil.getMsgAndNote( "简介尽可能体现你的擅长领域的经验或创业心得。", "teacherApply.summary.message", "txt.teacherApply.summary.message")</div>
		}	
	
		@input(label:MessageUtil.getMsgAndNote( "试讲视频", "teacherApply.testVideo", "txt.teacherApply.testVideo"), labelcss:"fontWeightCss",name:"testVideo",popplace:"right",groupcss:"col-10",maxlength:"200")
		@row()
		{	
			<div style="margin-left:160px;color:#999999;margin-top:-10px;margin-bottom: 25px;">@MessageUtil.getMsgAndNote( "粘贴视频播放网址即可自动提取（支持MP4，AVI），可选填", "teacherApply.testVideo.message", "txt.teacherApply.testVideo.message")</div>
		}						
	}
	<div class="clearfix"></div>
	
	<div style="margin-top:30px;text-align:center;">
		<span style="margin-right:100px;">@button(label:"提交",style:"width:100px;",iconcss:"dm-save",onclick="save")</span>
		<span style="margin-left:100px;">@button_back(style:"width:100px;",onclick="goBack")</span>
	</div>
	</div>
	

	
	<div id="applyTeacherView" style="width:830px;">
		<div style="margin-left:30px;width:770px;font-size: 120%;height:40px;border-bottom-style: solid; border-bottom-width:thin;border-bottom-color:#DDDDDD; margin-bottom: 20px;">
			<div style="line-height:40px;">@MessageUtil.getMsgAndNote("我的审批表","teacherApply.myApply", "txt.teacherApply.myApply")</div>
		</div>
		<div  style="margin-left:40px;">
			<div style="width:400px;height:20px;float: left;">
				<div style="float: left; padding-left:10px;margin-left:30px;">@MessageUtil.getMsgAndNote( "姓名",  "teacherApply.personName",  "txt.teacherApply.personName")</div>
				<div style="float: left; padding-left:20px;">@teacherApply.getPersonName()</div>
			</div>
			<div style="height:20px;float: left;">
				<div style="float: left; padding-left:10px;margin-left:30px;">@MessageUtil.getMsgAndNote( "职业", "teacherApply.position", "txt.teacherApply.position")</div>
				<div style="float: left; padding-left:20px;">@teacherApply.getPosition()</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div style="margin-top:30px;margin-left:40px;">
			<div style="width:400px;height:20px;float: left;">
				<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "联系方式", "teacherApply.connectWay", "txt.teacherApply.connectWay")</div>
				<div style="float: left; padding-left:20px;">@teacherApply.getConnectWay()</div>
			</div>
			<div style="height:20px;float: left;">
				<div style="float: left; padding-left:10px;margin-left:30px;">@MessageUtil.getMsgAndNote("状态", "teacherApply.status", "txt.teacherApply.status")</div>
				<div style="float: left; padding-left:20px;">
				@if(teacherApply.getStatus() != null){
						@if((teacherApply.getStatus()).equals("0")){
							@MessageUtil.getMsgAndNote("审批中", "teacherApply.status.0", "txt.teacherApply.status.0")						
						}else if((teacherApply.getStatus()).equals("1")){
							@MessageUtil.getMsgAndNote("审批未通过", "teacherApply.status.1", "txt.teacherApply.status.1")	
						}else if((teacherApply.getStatus()).equals("2")){
							@MessageUtil.getMsgAndNote("审批已通过", "teacherApply.status.2", "txt.teacherApply.status.2")	
						}
					}
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div style="margin-top:30px;margin-left:40px;">
			<div style="width:600px;float: left;">
				<div style="float: left; padding-left:10px;margin-left:30px;">@MessageUtil.getMsgAndNote("标签", "teacherApply.tagNames", "txt.teacherApply.tagNames")</div>
				<div style="float: left; padding-left:20px;">@teacherApply.getTagNames()</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div style="margin-top:30px;margin-left:40px;width:600px;display:table;">
			<div style="display:table-cell;width:80px;">
				<div style="padding-left:11px;">@MessageUtil.getMsgAndNote( "个人简介", "teacherApply.summary", "txt.teacherApply.summary")</div>
			</div>
			<div style="display:table-cell;">
				<div style="padding-left:9px;">@teacherApply.getSummary()</div>
			</div>			
		</div>
		<div class="clearfix"></div>
		<div style="margin-top:30px;margin-left:40px;">
			<div style="width:600px;float: left;">
				<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "试讲视频", "teacherApply.testVideo", "txt.teacherApply.testVideo")</div>
				<div style="float: left; padding-left:20px;"><a href="http://@teacherApply.getTestVideo()">@teacherApply.getTestVideo()</a></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div style="margin-top:30px;margin-left:40px;">
			<div style="width:600px;float: left;">
				<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote( "提交时间", "teacherApply.submitTime", "txt.teacherApply.submitTime")</div>
				@{
					final String submitTime = DateUtil.format(teacherApply.getSubmitTime(),"yyyy-MM-dd");
				}					
				<div style="float: left; padding-left:20px;">@submitTime</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div style="margin-top:30px;margin-left:40px;">
			<div style="width:400px;height:20px;float: left;">
				<div style="float: left; padding-left:10px;margin-left:15px;">@MessageUtil.getMsgAndNote("审核人", "teacherApply.applyUser", "txt.teacherApply.applyUser")</div>
				<div style="float: left; padding-left:20px;">@teacherApply.getApplyUser()</div>
			</div>
			<div style="height:20px;float: left;">
				<div style="float: left; padding-left:10px;">@MessageUtil.getMsgAndNote("审核时间", "teacherApply.applyTime", "txt.teacherApply.applyTime")</div>
				@{
					final String applyTime = DateUtil.format(teacherApply.getApplyTime(),"yyyy-MM-dd");
				}
				<div style="float: left; padding-left:20px;">@applyTime</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div style="margin-top:30px;margin-left:40px;width:600px;display:table;">
			<div style="display:table-cell;width:80px;">
				<div style="padding-left:10px;">@MessageUtil.getMsgAndNote("审核意见", "teacherApply.applyOpinion", "txt.teacherApply.applyOpinion")</div>
			</div>
			<div style="display:table-cell;">
				<div style="padding-left:10px;">@teacherApply.getApplyOpinion()</div>
			</div>			
		</div>
	</div>	
</div>	


<script>        
	var checkedTag = []; 
	$(function(){
		debugger
		if(@flag == true){
			$("#applyTeacher").attr("class","displayApplyTeacherView");
		}
		if("@teacherApply.getStatus()" == "" && @flag == false){
			$("#applyTeacherView").attr("class","displayApplyTeacherView");
		}else if("@teacherApply.getStatus()" == "0"){
			//$("#applyTeacherView").attr("class","displayApplyTeacherView");
		}else if("@teacherApply.getStatus()" == "2"){
			$("#applyTeacher").attr("class","displayApplyTeacherView");
		}
		
		$(".span_tags").each(function(index){
			$(".span_tags:eq("+index+")").click(function(){
				var id = $(".span_tags_id:eq("+index+")").val();
				var name = $(".span_tags_name:eq("+index+")").val();
				if(checkedTag.length<3){
					for(var j=0;j<checkedTag.length;j++){
						if(checkedTag[j].id == id){
							return;
						}
					}
					checkedTag.push({id:id,name:name});
				}else{
					noticeError("最多选择三个标签");
					return;
				}
				var namesArr = [];
				var idArr = [];
				for(var i=0;i<checkedTag.length;i++){
					namesArr.push(checkedTag[i].name);
					idArr.push(checkedTag[i].id);
				}
				$("#input_checked_tag").val(idArr.join(","));
				$("#select_tags").val(namesArr.join("、"));
			});
		});
		
		$(".clearTags").click(function(){
			$("#input_checked_tag").val("");
			$("#select_tags").val("");
			checkedTag = [];
		});
	
	});
	
	
	
	
	//保存数据
	function save(){
		$('#applyTeacherform').bootstrapValidator('validate');
   	 	if($('#applyTeacherform').data('bootstrapValidator').isValid()){
   	 		$.ajax({
   	 			url: "@url("/client/teacherApply/searchTeacherStatus.action")",
				type:"post", 
				bodyMsg:true,
				success: function(result){
		        	var params = $('#applyTeacherform').serializeObject();
		        	// var params =new FormData($('#applyTeacherform')[0]);
					//console.log(params);
					//topicContent
					var topicContents="";
					var topicContent1=getValue($('#topicContent1'));
					var topicContent2=getValue($('#topicContent2'));
					var topicContent3=getValue($('#topicContent3'));
					if(topicContent1 != null){
					  topicContents +=topicContent1; 
					}
					if(topicContent2!=null){
					  topicContents+=","+topicContent2;
					}
					if(topicContent3!=null){
					    topicContents+=","+topicContent3;
					}
					 //params.append("topicContents", topicContents);
					 params.topicContents=topicContents;
					$.ajax({ 
						url: "@url("/client/teacherApply/saveApplyTeacher.action")",
						data:params,
						type:"post", 
						bodyMsg:true,
						success: function(result){
				        	window.location.href = "@url("/client/center/centerApplyTeacher.action")";
				      	}
				    });
		      	},
		      	fail:function(result){
		      		confirm("@MessageUtil.getMessage("您已为老师/您的申请在审批中！")");
		      	}
   	 		});
			
		}
	}
</script>
