@extends(center_base)
@args Integer pageSize = Integer.valueOf("10"),String payment="",String socialInstId=""

@import(){
	com.cloudsoaring.web.social.constant.*,
	com.cloudsoaring.web.trainingplatform.utils.*
}
@{

	final List<StepInfo> steps = new ArrayList<StepInfo>();
	steps.add(new StepInfo("0",MessageUtil.getMsgAndNote("创客预约","ac02013.txt.guest.ointment","")));
	steps.add(new StepInfo("1",MessageUtil.getMsgAndNote("创客付款","ac02013.txt.set.payment","")));
	steps.add(new StepInfo("2",MessageUtil.getMsgAndNote("老师确认","ac02013.txt.teacher.confirmation","")));
	steps.add(new StepInfo("3",MessageUtil.getMsgAndNote("老师确认见过","ac02013.txt.teacher.confirmed.that","")));
	steps.add(new StepInfo("4",MessageUtil.getMsgAndNote("创客点评","ac02013.txt.guest.comment","")));
	final Boolean isTeacher = (Boolean)WebContext.session("IS_TEACHER");
}
@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = TpConfigUtil.getPointsForSmallChange();
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
	}
}
<style>


a:link{
text-decoration:none;
color:black;
}
a:visited{
color:black;
}
.active{
	color:black;
	font-weight:bold;
}
a:hover{
	color:black;
	font-weight:bold;
}

.tabView{
display:block;
}
.tabHiden{
display:none;
}
</style>


<div ng-app="myApp" ng-controller="appointmentCtrl">
<div class="header" style="background:#fff" >
	<h4 style="margin:0px;padding:0px;font-size:18px;padding-top:30px;padding-left:30px;">@MessageUtil.getMsgAndNote("我的社交","ac02013.txt.my.social","")</h4>
	
	<div style="height:30px;background:#e6e6e6;padding-left:30px;margin:30px;line-height:30px;overflow:hidden;">
		<a id="tabOne" class="active" href="javascript:void(0)" onclick="finishView()" style="display:inline-block;">@MessageUtil.getMsgAndNote("已约见","ac02013.txt.have.appointment","")</a>
		<a id="tabTwo" href="javascript:void(0)" onclick="openTwo()" style="display:inline-block;margin-left:30px;">@MessageUtil.getMsgAndNote("进行中","ac02013.txt.in.ongoing","")</a>
		<a id="tabThr" href="javascript:void(0)" onclick="openThr()" style="display:inline-block;margin-left:30px;">@MessageUtil.getMsgAndNote("心愿单","ac02013.txt.wish.list","")</a>
	</div>
<div>
	
	<div id="socialFinish" class="tabView" style="margin-left:30px;margin-right:30px;">
	  	@grid_list(url:("/client/social/userSocialList.action?type="+"0"), pageSize:6,lineMaxItem:3){
			@list_item(renderItemFunction:"renderItemContent"){
				<div class="main" style="height:380px; margin-top:30px;margin-left:30px;">
					<img width="195" height="195" alt="" src="@url("/pub/headerThumb.action?fileId=%userImage")">					
					<div style="padding-left:20px;position:relative;padding-top:20px;min-height:71px;width:195px;">
						<span style="display:inline;min-height:30px;font-size:15px;color:#333;">%userName</span>
						<span style="position:absolute;right:20px;">%createDate</span>
						<span style="display:block;padding-top:10px;">%position</span>
					</div>
					<div style="width:195px;">
						<hr/>
					</div>
					<div style="padding:0px 0px 30px 20px;width:195px;">
						<p>%remark</p>						
					</div>		
				</div>
		
			}
	
		}	
	</div>
	<div id="twoView" class="tabHiden" style="margin-left:30px;min-height:100px;" >
		<div style="padding-left:30px;padding-top:10px;" ng-if="!ishave">@MessageUtil.getMsgAndNote("暂无数据","ac02013.txt.no.data","")</div>
		
		<div style="padding:10px 30px 30px 30px;"  ng-if="ishave">
			<div  ng-repeat="item in filterList" style="padding-top:10px;">
				<div style="display:inline-block;">
					<span >@MessageUtil.getMsgAndNote("编号：","ac02013.txt.data.number","")</span><span ng-bind="item.socialInstNo" style="display:inline-block;min-width:100px;"><span>
				</div>
				<div style="display:inline-block;color:#f53808;margin-left:50px;">
					<span>@MessageUtil.getMsgAndNote("阶段：","ac02013.txt.data.stage","")</span>
					<span ng-bind="statusList[$index]" ></span>
				</div>		
				<a id="tabfor_{{$index}}" class="tabView"href="javascript:void(0)" ng-click="openShow($index)" style="float:right;margin-right:60px;">@MessageUtil.getMsgAndNote("展开","ac02013.txt.data.open","")</a>
				<a id="tabfie_{{$index}}" class="tabHiden"href="javascript:void(0)" ng-click="openHidden($index)" style="float:right;margin-right:60px;">@MessageUtil.getMsgAndNote("收起","ac02013.txt.data.stop","")</a>
				<div style="color:black;font-weight:bold;font-size:13px;padding-top:30px;">
					<span>@MessageUtil.getMsgAndNote("预约的老师：","ac02013.txt.appointment.teacher","")</span>
					<span ng-bind="item.personName"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span ng-bind="item.position"></span>
				</div>
				<div id="isShow_{{$index}}" class="tabHiden" style="padding:30px 30px 30px 0px;">					
					<div style="padding:10px 0px;">
						@wizard(steps:steps,value:"")
						<div class="clearfix"></div>
					</div>
					<div ng-if="istearch[$index]" style="padding-top:30px;">
						<span style="color:black;font-weight:bold;font-size:13px;">@MessageUtil.getMsgAndNote("老师信息","ac02013.txt.teacher.information","")</span>
						<span style="padding-left:30px;">@MessageUtil.getMsgAndNote("名称：","ac02013.txt.teacher.name","")</span><span ng-bind="item.personName"></span>
						<span style="padding-left:30px;">@MessageUtil.getMsgAndNote("电话：","ac02013.txt.teacher.phone","")</span><span ng-bind="item.studentPhone"></span>
						<span style="padding-left:30px;">@MessageUtil.getMsgAndNote("邮箱：","ac02013.txt.teacher.email","")</span><span ng-bind="item.studentEmail"></span>
					</div>
					<div  ng-if="ishid[$index]" style="padding:30px 0px;">
						<span style="font-weight:bold;font-size:13px;">
							@MessageUtil.getMsgAndNote("我的问题：","ac02013.txt.my.question","")
						</span>
						<div style="margin:0px;padding:0px;margin-right:30px;">
							<span style="display:block;padding-left:20px;line-height:30px;background:#e6e6e6;font-weight:bold;font-size:13px;border:1px solid #a9a9a9;">
								@MessageUtil.getMsgAndNote("告诉老师你要请教的问题(30-300字)","ac02013.txt.tell.teacher.question","")
							</span>
							<textarea id="question_{{$index}}" style="width:100%;height:100%;"name="question" cols="10" rows="10" ng-bind="item.question" ng-module="item.question"></textarea>
						</div>
					</div>
					<div  ng-if="ishid[$index]" style="padding:30px 0px;">
						<span style="font-weight:bold;font-size:13px;">
							@MessageUtil.getMsgAndNote("自我介绍：","ac02013.txt.self.introduction","")
						</span>
						<div style="margin:0px;padding:0px;margin-right:30px;">
							<span style="display:block;padding-left:20px;line-height:30px;background:#e6e6e6;font-weight:bold;font-size:13px;border:1px solid #a9a9a9;">
								@MessageUtil.getMsgAndNote("介绍一下自己(可备注时间地点喜好)30-300字","ac02013.txt.introduce.yourself","")
							</span>
							<textarea id="introduce_{{$index}}" style="width:100%;height:100%;"name="introduction" cols="30" rows="10"  ng-bind="item.introduction" ng-module="item.introduction" ></textarea>
						</div>
					</div>
					<div ng-if="tearchPay[$index]" style="padding:30px 0px;">
						<span style="font-weight:bold;font-size:13px;">
							@MessageUtil.getMsgAndNote("我的问题：","ac02013.txt.my.question","")
						</span>
						<div style="margin:0px;padding:0px;margin-right:30px;">
							<span style="display:block;padding-left:20px;line-height:30px;background:#e6e6e6;font-weight:bold;font-size:13px;border:1px solid #a9a9a9;">
								@MessageUtil.getMsgAndNote("告诉老师你要请教的问题(30-300字)","ac02013.txt.tell.teacher.question","")
							</span>
							<textarea disabled id="question_{{$index}}" style="width:100%;height:100%;"name="question" cols="10" rows="10" ng-bind="item.question" ng-module="item.question"></textarea>
						</div>
					</div>
					<div ng-if="tearchPay[$index]"style="padding:30px 0px;">
						<span style="font-weight:bold;font-size:13px;">
								@MessageUtil.getMsgAndNote("自我介绍：","ac02013.txt.self.introduction","")
						</span>
						<div style="margin:0px;padding:0px;margin-right:30px;">
							<span style="display:block;padding-left:20px;line-height:30px;background:#e6e6e6;font-weight:bold;font-size:13px;border:1px solid #a9a9a9;">
								@MessageUtil.getMsgAndNote("介绍一下自己(可备注时间地点喜好)30-300字","ac02013.txt.introduce.yourself","")
							</span>
							<textarea disabled id="introduce_{{$index}}" style="width:100%;height:100%;"name="introduction" cols="30" rows="10"  ng-bind="item.introduction" ng-module="item.introduction" ></textarea>
						</div>
					</div>
					<div ng-if="isPay[$index]" style="padding:30px 0px;">
						<span style="font-weight:bold;font-size:13px;">
							@MessageUtil.getMsgAndNote("创客点评：","ac02013.txt.guest.comment","")
						</span>
						<div style="margin:0px;padding:0px;margin-right:30px;">										

							<input id="formNum_{{$index}}"type="text" style="display:inline-block;margin-bottom:10px;margin-top:10px;"onkeypress="keyPress('number')" onkeyup="changeText(this, 'number', '10', '0')" oninput="changeText(this, 'number', '10', '0')" onblur="autoPad(this, 0,'0',true)"  name="score" class="form-control  input-rythm" data-bv-placement="top" maxlength="2" max="10" min="0" fixlength="0" fixchar="0" fixleft="true" pattern="^([0-9]{1,2})?$" data-bv-regexp-message="评分格式不正确" required="" data-bv-excluded="false" value="" placeholder="请输入你对此次社交的评分" data-bv-trigger="change focus blur">   

							<span style="display:block;padding-left:20px;line-height:30px;background:#e6e6e6;font-weight:bold;font-size:13px;border:1px solid #a9a9a9;">
								@MessageUtil.getMsgAndNote("请发表一下你的评论(30-300字)","ac02013.txt.give.comments","")
							</span>
							<textarea  id="question_{{$index}}" style="width:100%;height:100%;"name="content" cols="10" rows="10" ></textarea>
						</div>
					</div>
					<div style="padding:0px 0px 0px 30px;;margin:0px;">
						<button type="button" class="btn btn-danger"  ng-if="isnowp[$index]" ng-click="payment($index)" style="float:right;margin-right:30px;">@MessageUtil.getMsgAndNote("立即支付","ac02013.txt.pay.immediately","")</button>
						<button type="button" class="btn btn-danger"  ng-if="ishid[$index]" ng-click="edit($index)" style="float:right;margin-right:30px;">@MessageUtil.getMsgAndNote("编辑预约","ac02013.txt.edit.appointment","")</button>
						<button type="button" class="btn btn-danger"  ng-if="ishid[$index]"	ng-click="cancel($index)" style="float:right;margin-right:30px;">@MessageUtil.getMsgAndNote("取消","ac02013.txt.date.cancel","")</button>
						<button type="button" class="btn btn-danger"  ng-if="isPay[$index]"	ng-click="comment($index)" style="float:right;margin-right:30px;">@MessageUtil.getMsgAndNote("点评","ac02013.txt.date.comment","")</button>
						<div class="clearfix"></div>
					</div>																															
				</div>
				<div class="clearfix"></div>
				<hr/>
			</div>
			<!-- 分页 -->
			<div style="text-align:center;">
				<ul class="pagination" ng-if="pageList.length>0">
 					<li ng-repeat="item in pageList" class="{{item.css}}">
 						<a ng-if="item.css == 'disabled'" href="javascript:void(0)"  ng-click="searchPage(item.clickNum)">{{item.text}}</a>
 						<a  ng-if="item.css != 'disabled'" href="javascript:void(0)"  ng-click="search4Page(item.clickNum)">{{item.text}}</a>
 					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="twoViewOne" class="tabHiden" style="margin-left:30px;min-height:100px;">
		<div style="padding-left:30px;">
			<span>我的社交\</span>&nbsp;<span>进行中\</span>&nbsp;<span style="font-weight:bold;font-size:14px;">创客付款</span>
		</div>
		<div style="padding:20px 30px 30px 30px;">
			<div style="display:inline-block;">
				<span >编号：</span><span ng-bind="user.socialInstNo" >{{user.socialInstNo}}<span>
			</div>
			<div style="display:inline-block;color:#f53808;margin-left:50px;">
				<span>阶段：</span>
				<span ng-bind="stud" ></span>
			</div>						
			<div style="color:black;font-weight:bold;font-size:13px;padding-top:30px;">
				<span>预约的老师：</span>
				<span ng-bind=user.teacherName></span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span ng-bind=user.position></span>
			</div>
			<div style="padding:30px 0px;margin-left:-35px;">
				@wizard(steps:steps,value:"")
				<div class="clearfix"></div>
			</div>
			<div>
				<h5>预约者信息</h5>
				<hr/>
			</div>
			<span style="padding-left:20px;">昵称：</span><span ng-bind="user.studentName"></span>
			<span style="padding-left:30px;">电话：</span><span ng-bind="user.studentPhone"></span>
			<span style="padding-left:30px;">邮箱：</span><span ng-bind="user.studentEmail"></span>
			<div style="padding-top:30px;">
				<h5>购物清单</h5>
				<hr/>
			</div>
			<div style="background:#e6e6e6;height:40px;font-weight:bold;font-size:14px;">
				<span style="display:inline-block;padding-left:30px;line-height:40px;">老师信息</span>
				<span ng-if="!@showPriceByPoints" style="display:inline-block;float:right;margin-right:30px;line-height:40px;">费用</span>
				<span ng-if="@showPriceByPoints"  style="display:inline-block;float:right;margin-right:30px;line-height:40px;">积分</span>
				<div class="clearfix"></div>
			</div>
			<div>
				<div style="padding-left:30px;padding-top:30px;float:left;">
					<img style="border-radius:100%;" width="60" height="60" alt="" src="@url("/pub/headerThumb.action?fileId={{user.backgroundImage}}")">									
				</div>
				<div style="padding-top:60px;">
					<span ng-bind="user.teacherName" style="padding-left:30px;"></span>
					<span ng-bind="user.position" style="padding-left:30px;"></span>
					<span ng-if="!@showPriceByPoints" ng-bind="user.totalPayPoints+'元'" style="float:right;padding-right:30px;"></span>
					<span ng-if="@showPriceByPoints" ng-bind="user.totalPayPoints+'积分'" style="float:right;padding-right:30px;"></span>
					<div class="clearfix"></div>
				</div>	
				<div class="clearfix"></div>		
			</div>
			<div style="padding-top:30px;">
				<h5 ng-if="@showPriceByPoints">积分支付</h5>
				<!-- <h5 ng-if="!@showPriceByPoints">费用支付</h5>-->
				<hr/>
			</div>
			<div>
				<span  style="padding-left:30px;display:inline-block;">您的积分总额：</span>
				
				<span style="color:red;display:inline-block;" ng-bind="user.totalPoints | formartNull"></span>
				<span  style="padding-left:100px;display:inline-block;">支付后积分余额：</span>

				<span style="color:red;display:inline-block;" ng-bind="user.leavePoints | formartNull"></span>
				<span style="display:block;padding-top:30px;padding-left:30px;color:#d6d6d6">注：若付款后，老师因有特殊原因不能辅导，积分将自动退回</span>
				
			</div>
			<div style="padding-top:30px;">
				<button type="button" class="btn btn-danger" ng-if="ispr"  ng-click="nowPayment(user)" style="float:right;margin-right:50%;">立即支付</button>
				
				<div class="clearfix"></div>
			</div>
			<div id="submitModal" class="modal fade bs-example-modal-lg" style="margin-top:100px;">
		
			</div>
		</div>
	</div>
	
	<div id="thrView" class="tabHiden" style="margin-left:30px;margin-right:30px;">
		@grid_list(url:("/client/social/searchHeartOrderList.action"), pageSize:6,lineMaxItem:3,id:"thrList"){
			@list_item(renderItemFunction:"renderItemContent1"){
				<div class="main" style="height:380px; margin-top:30px;margin-left:30px;">
					<img width="195" height="195" alt="" src="@url("/pub/headerThumb.action?fileId=%userImage")">					
					<div style="padding-left:20px;position:relative;padding-top:20px;min-height:71px;width:195px;">
						<span style="display:inline;min-height:30px;font-size:15px;color:#333;">%userName</span>
						<span style="position:absolute;right:20px;">%createDate</span>
						<span style="display:block;padding-top:10px;">%position</span>
					</div>
					<div style="width:195px;">
						<hr/>
					</div>
					<div style="padding:0px 0px 30px 20px;width:195px;">
						<p >%remark</p>						
					</div>	
				</div>
		
			}
	
		}
																																			
	</div>
	


</div>
</div>
</div>
@assign("preshow"){
	<!-- 遮罩层 -->
		
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content modal_border" style="width:800px;height:600px;background-color:#ffffff;margin-left:auto;margin-right:auto;">
		      <div class="clearfix"></div>
		     	<div style='height:200px;'>
		     		<div style="margin-top:100px;text-align:center;">
		      			<span class="gh gh-ok-sign" style="font-size:100px;color:#00cccc;"></span>
		     		 </div>
					<div style='text-align:center;margin-top:40px;font-weight: bold;font-size: 300%;height:40px;'>
						支付成功！
					</div>
					<div style='text-align:center;margin-top:100px'>
						<span style="">你的积分总额：%totalPoints 分</span>
						<span style="padding-left:30px;">社交价值积分：%totalPayPoints 分</span>
						<span style="padding-left:30px;">支付后积分余额：%leavePoints 分</span>					
					</div>
					<div style="margin-top:40px;text-align:center;">
		      			<button class="btn btn-normal" style="font-size:18px;width:100px;" ng-click="closeModal()">知道了</button>
		      		</div>
				</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
}
<!-- 引入相关文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<script>

	
	
	function finishView(){
		$("#tabTwo").removeClass("active");
		$("#tabThr").removeClass("active");
		$("#tabOne").attr("class","active");
		$("#socialFinish").attr("class","tabView");
		$("#twoView").attr("class","tabHiden");
		$("#thrView").attr("class","tabHiden");
		$("#twoViewOne").attr("class","tabHiden");
		listReflash();
	}
	function openTwo(){
		$("#tabOne").removeClass("active");
		$("#tabThr").removeClass("active");
		$("#tabTwo").attr("class","active");
		$("#socialFinish").attr("class","tabHiden");
		$("#twoView").attr("class","tabView");
		$("#thrView").attr("class","tabHiden");
		$("#twoViewOne").attr("class","tabHiden");
	}
	function openThr(){
		$("#tabOne").removeClass("active");
		$("#tabTwo").removeClass("active");
		$("#tabThr").attr("class","active");
		$("#socialFinish").attr("class","tabHiden");
		$("#twoView").attr("class","tabHiden");
		$("#thrView").attr("class","tabView");
		$("#twoViewOne").attr("class","tabHiden");
		thrListReflash();
		
	}
	function openShow(index){
		$("#tabfor_"+index).attr("class","tabHiden");
		$("#tabfie_"+index).attr("class","tabView");
		$("#isShow_"+index).attr("class","tabView");
	
	}
	function openHidden(index){
		$("#tabfor_"+index).attr("class","tabView");
		$("#tabfie_"+index).attr("class","tabHiden");
		$("#isShow_"+index).attr("class","tabHiden");
	}
	function payment(){
		$("#twoView").attr("class","tabHiden");
		$("#twoViewOne").attr("class","tabView");
		
		$("#tabOne").removeClass("active");
		$("#tabThr").removeClass("active");
		$("#tabfore").removeClass("active");
		$("#tabTwo").attr("class","active");	
		$("#socialFinish").attr("class","tabHiden");
	}

	function renderItemContent(itemContent, obj) {	
		var position="";
		if(obj.position){
			position="职位："+obj.position;
		}
		var personName="";
		if(obj.personName){
			personName=hideStringByMax(obj.personName,3);
		}
		var remark="";
		if(obj.remark){
			 remark=hideStringByMax(obj.remark,25);
		}
		return itemContent.replace(/%remark/g, remark)
				.replace(/%position/g,position)
				.replace(/%userImage/g,replaceNull(obj.backgroundImage))
				.replace(/%userName/g,personName)
				.replace(/%createDate/g,replaceDate(obj.createDate));

}

	
	function renderItemContent1(itemContent, obj) {	
		var position="";
		if(obj.position){
			position="职位："+obj.position;
		}
		var personName="";
		if(obj.personName){
			personName=hideStringByMax(obj.personName,4);
		}
		var remark="";
		if(obj.remark){
			 remark=hideStringByMax(obj.remark,25);
		}
		return itemContent.replace(/%remark/g, remark)
				.replace(/%position/g,position)
				.replace(/%userImage/g,replaceNull(obj.backgroundImage))
				.replace(/%userName/g,personName)
				.replace(/%createDate/g,replaceDate(obj.createDate));

	}
	

	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
    function replaceOr(str){
    	if(str){
    		return str;
    	}
    	return "0";   
    } 
    function replaceDate(str){
    	if(str == null || str == "undefind"){
				return "";
			}else{
				return dateFormat(str);;
			}
    }


	myApp.controller("appointmentCtrl",function($scope,$http,$compile){
		$scope.flagPay=true;
		//切换到支付页面
		$scope.payInit=function(){
			if($scope.flagPay){
				if("@payment"=="payment"){
					var index="";
					var flag=false;
					for(i=0;i<$scope.filterList.length;i++){
						if($scope.filterList[i].socialInstId=="@socialInstId"){						
							flag=true;
							index=i;
						}
					}
					if(flag){
						$scope.payment(index);
					}
					
				}
			}
		}
	
		$scope.page = 1;
		//初始化
		$scope.init=function(){
			var params ={type:"1",pageNumber:$scope.page,pageSize:@pageSize,sortName:"createDate",sortOrder:"desc"};
			$http.post("@url("/client/social/userSocialList.action")",params)
			.success(function(result){
				var data=result.data;
			
				$scope.ishave=false;
				$scope.filterList=[];
				$scope.isPay=[];
				$scope.tearchPay=[];
				if(data!=null&&data.length>0){
					$scope.ishave=true;
				}	
				$scope.isnowp = [];
				$scope.istearch= [];
				$scope.statusList= [];
				$scope.ishid= [];					
			for(i=0;i<data.length;i++ ){
				$scope.filterList.push(data[i]);			
				if("0"==data[i].status){
					$scope.isnowp.push(true);
					$scope.isPay.push(false);
					$scope.ishid.push(true);
					$scope.istearch.push(false);
					$scope.tearchPay.push(false);
					$scope.statusList.push("创客付款");
				}else if("1"==data[i].status){
					$scope.istearch.push(true);
					$scope.ishid.push(true);
					$scope.isPay.push(false);
					$scope.isnowp.push(false);
					$scope.tearchPay.push(false);
					$scope.statusList.push("老师确认");
					
				}else if("2"==data[i].status){
					$scope.istearch.push(true);
					$scope.ishid.push(false);
					$scope.isnowp.push(false);
					$scope.isPay.push(false);
					$scope.tearchPay.push(true);
					$scope.statusList.push("老师确认见过");					
					
				}else if("3"==data[i].status){
					$scope.istearch.push(true);
					$scope.ishid.push(false);
					$scope.isnowp.push(false);
					$scope.isPay.push(true);
					$scope.tearchPay.push(false);
					$scope.statusList.push("创客点评");
				}
				
			}
			
			//改变分页数据
			$scope.pageList = getPageList(result.page,result.total);
			$scope.payInit();
		});
		}
		$scope.init();
		
		//点击分页
		$scope.search4Page = function(num){
			$scope.page = num;
			//发送请求
			$scope.init();
		};
		$scope.searchPage=function(){
			return false;
		}
		$scope.cancel=function(index){
			var data=$scope.filterList[index];
			$http.post("@url("/client/social/cancelReserve.action")",{socialInstId:data.socialInstId})
			.success(function(req){
				if(req.status){
					bodyMessage('success', "取消成功");
					$scope.filterList=[];	
					$scope.init();	
				}else{
					bodyMessage('danger', req.messages);	
				}
			})
			
		}
		
		$scope.comment=function(index){
			var content=$("#question_"+index).val().trim();
			var score=$("#formNum_"+index).val();
			if(!score){
				return warning("请输入对此次社交的评分");
			}
			var data=$scope.filterList[index];
			if(content.length<30||content.length>300){
				return warning("请输入评论在30-300字!");
			}
			$http.post("@url("/client/social/userDiscuss.action")",{socialInstId:data.socialInstId,content:content,title:data.personName,score:score,masterId:data.masterId})
			.success(function(req){
				if(req.status){
					bodyMessage('success', "评论成功");
					$scope.filterList=[];
					$scope.init();	
				}else{
					bodyMessage('danger', req.messages);	
				}
			})
		}
		$scope.edit=function(index){			
			var question=$("#question_"+index).val().trim();
			var introduce=$("#introduce_"+index).val().trim();
			var data=$scope.filterList[index];
	
			if(question.length<30||question.length>300){
				return warning("请输入问题在30-300字!");
			}
			if(introduce.length<30||introduce.length>300){
				return warning("请输入介绍在30-300字!");
			}
			$http.post("@url("/client/social/editReserve.action")",{socialInstId:data.socialInstId,introduction:introduce,question:question})
			.success(function(req){
				if(req.status){
					bodyMessage('success', "编辑成功");
					$scope.filterList=[];
					$scope.init();	
				}else{
					bodyMessage('danger', req.messages);	
				}
			})
		
		}
		$scope.openShow = function(index){
			var value =parseInt($scope.filterList[index].status);
			$("#isShow_"+index+" .bs-wizard-step").each(function(ii){
				if(ii < value){
					$("#isShow_"+index+" .bs-wizard-step:eq("+ii+")").removeClass("disabled").removeClass("active").addClass("complete");
				}else if(ii == value){
					$("#isShow_"+index+" .bs-wizard-step:eq("+ii+")").removeClass("disabled").removeClass("complete").addClass("active");
				}else if(ii > value){
					$("#isShow_"+index+" .bs-wizard-step:eq("+ii+")").removeClass("active").removeClass("complete").addClass("disabled");
				}
			});
			openShow(index);
		};
		$scope.openHidden=function(index){
			openHidden(index);
		};
		
		$scope.nowPayment=function(user){
			var totle=0;
			@if(!showPriceByPoints){
					var unitPrice="@unitPrice";
					totle=user.totalPayPoints*unitPrice;			
			}else{
				totle=user.totalPayPoints;
			}
			//var totle=user.totalPayPoints;
			var totalPoints=user.totalPoints;
			if(totle>totalPoints){
				return warning("积分不足");
			}
			$http.post("@url("/client/social/immediatePay.action")",{socialInstId:user.socialInstId})
			.success(function(req){
				if(req.status){
					$scope.ispr=false;
					$scope.flagPay=false;
					var str = $('@es(preshow).raw()'.replace(/%totalPoints/g, replaceOr(totalPoints)).replace(/%totalPayPoints/g,replaceOr(totle)).replace(/%leavePoints/g,replaceOr(totalPoints)-replaceOr(totle)));
					$("#submitModal").html( $compile(
					    str
					  )($scope));
					$("#submitModal").modal({backdrop:"static"});
					$("#submitModal").modal("show");
				}else{
					bodyMessage('danger',req.messages);	
				}
			})
		};
			//关闭模态框
		$scope.closeModal = function(){
			$("#submitModal").modal('hide');
			$scope.filterList=[];	
			$scope.init();
			openTwo();
		};
		$scope.payment=function(index){	
			$http.post("@url("/client/social/immediatePayDetail.action")",{socialInstId:$scope.filterList[index].socialInstId})
			.success(function(req){
				$scope.user=req.data;
				$scope.stud="";
				$scope.ispr=true;
				var value=parseInt($scope.user.status)+1;
				$("#twoViewOne .bs-wizard-step").each(function(ii){
					if(ii < value){
						$("#twoViewOne .bs-wizard-step:eq("+ii+")").removeClass("disabled").removeClass("active").addClass("complete");
					}else if(ii == value){
						$("#twoViewOne .bs-wizard-step:eq("+ii+")").removeClass("disabled").removeClass("complete").addClass("active");
					}else if(ii > value){
						$("#twoViewOne .bs-wizard-step:eq("+ii+")").removeClass("active").removeClass("complete").addClass("disabled");
					}
				});
				if("0"==$scope.user.status){		
					$scope.stud="创客付款";
				}else if("1"==$scope.user.status){
					$scope.stud="老师确认";
					$scope.ispr=false;
				}else if("2"==$scope.user.status){
					$scope.stud="老师确认见过";
					$scope.ispr=false;
				}else if("3"==$scope.user.status){
					$scope.stud="创客点评";
					$scope.ispr=false;
				}
				var unitPrice="@unitPrice";
				@if(showPriceByPoints){					
					$scope.user.totalPayPoints=$scope.user.totalPayPoints*unitPrice;			
				}
			
			})			
			payment();
		}
	});
	myApp.filter("formartNull",function(){
		return function(re){
			if(re){
				return re;
			}else{
				return "0";
			}
		}
	
	
	});
	
	
		//获取分页显示ITEM
		function getPageList(page,total){
			var pageList = new Array();
			if(total <= 1){
				//不显示分页
				var pageList = [];
				return pageList;
			}
			//总数>pageSize
			//首页和上一页
			if(page<=1){
				pageList.push({text:"首页",css:"disabled",clickNum:1});
				pageList.push({text:"上一页",css:"disabled",clickNum:(page-1)});
			}else{
				pageList.push({text:"首页",clickNum:1});
				pageList.push({text:"上一页",clickNum:(page-1)});
			}
			//中间数字
			for(var i=1;i<=total;i++){
				if(total > 10){
					if(page < 10){
						if(i<=10){
							var css = "";
							if(page == i){
								css = "active";
							}
							pageList.push({text:""+i,css:css,clickNum:i});
						}
					}else if(page >= 10 && page<(total-5)){
						if(i>(page-5) && i<=(page+5)){
							var css = "";
							if(page == i){
								css = "active";
							}
							pageList.push({text:""+i,css:css,clickNum:i});
						}
					}else if(page>=(total-5)){
						if(i>(total-10)){
							var css = "";
							if(page == i){
								css = "active";
							}
							pageList.push({text:""+i,css:css,clickNum:i});
						}
					}
					
				}else{
					var css = "";
					if(page == i){
						css = "active";
					}
					pageList.push({text:""+i,css:css,clickNum:i});
				}
			}
			//尾页和下一页
			if(page>=total){
				pageList.push({text:"下一页",css:"disabled",clickNum:(page+1)});
				pageList.push({text:"尾页",css:"disabled",clickNum:page});
			}else{
				pageList.push({text:"下一页",clickNum:(page+1)});
				pageList.push({text:"尾页",clickNum:total});
			}
			return pageList;
		}
	
</script>