@args String title = "",Object menu, String selectedPage,Integer courseCount,
Integer courseEndCount,
Integer finishedHomeWorkCount,
Integer uncommitedHomeWork
@extends(center_pbl_base, title:getPageTitle(title), selectedPage: "text_uf")
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<link id="bootstrap-style" href="@WebContext.url("js/userInfo/css/bootstrap.min.css")" rel="stylesheet">
	<link id="base-style" href="@WebContext.url("js/userInfo/css/style.css")" rel="stylesheet">
	<link id="base-style-responsive" href="@WebContext.url("js/userInfo/css/style-responsive.css")" rel="stylesheet">
	<link rel="shortcut icon" href="@WebContext.url("js/userInfo/img/favicon.ico")">
	<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
	<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
	<style>
		.warning-rythm .bootstrap-dialog-body:before {
		    content: "\f059";
		    color: #3f67c0;
		    margin-top: 5px;
		}
	</style>
</head>

<body>
		<div class="container-fluid-full">
		<div class="row-fluid">
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
				
			<div class="row-fluid" ng-app="myApp" ng-controller="noteCtrl">
				<div class="span5 noMarginLeft">
					
					<div class="dark">
						<h1 style="font-weight: 600;font-size: 2em;">时间线</h1>
				<div class="row-fluid">
					<div class="span6">
						<div id="DataTables_Table_0_length" class="dataTables_length">
							<label>
							<select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" ng-model="selectedYears" ng-change="mySelectControllerChange()">
								<option ng-repeat="x in years">{{x}}</option>
								<!-- <option value="10" selected="selected">2020</option> -->
								<!-- <option value="25">2021</option>
								<option value="50">2022</option>
								<option value="100">2023</option> -->
							</select> 
							</label>
						</div>
					</div>
					<div class="span6">
						<div class="dataTables_filter">
							<label> <input id="DataTables_Table_0_filter" type="text" aria-controls="DataTables_Table_0"></label>
						</div>
							</div>
					<span style="float: right;">
						<button class="btn btn-small btn-danger" ng-click="searchUserInfo()">搜索</button>
						</span>
				  </div>
					  <div class="timeline"  ng-repeat="item in noteList">
						<div ng-class="{true:'timeslot',false:'timeslot alt'}[{{$index}}%2 == 0||false]" style="height: 59px;">
						
							<div class="task" id="{{item.id}}" ng-click="viewUserInfo(item.id)"><span> 
								<span class="details">{{item.title}}</span>
								<span class="remaining"> {{item.abstracts}}</span></span>
							  <div class="arrow"></div>
						  </div>							
							<div class="icon">
								<i class="icon-map-marker"></i>
							</div>
							<div class="time">
								{{item.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}
							</div>	
					    </div>
						<div class="clearfix"></div>
						<div class="clearfix"></div>
					</div>
				</div>
				</div>	
				<div class="span7">
				  <h1 style="font-weight: 600;font-size: 2em;padding-left: 20px;">个人成长档案袋</h1>
					<span style="float: right;">
						<button class="btn btn-small btn-danger" onclick="infoInsert();">创建记录</button>
						<button class="btn btn-small btn-danger" ng-click="infoDelete()">删除当前记录</button>
					    <button class="btn btn-small btn-danger" ng-click="infoEdit()">编辑当前记录</button></span>
				  <div class="priority high"><span style="margin-left: 20px;">成长记录</span></div>
					<div class="box-content">
						  <div class="page-header">
						  	  <div id="currentId" style="display:none;">{{currentId}}</div>
							  <span><h1>{{currentTitle}}</h1></span>
							  <small style="font-size: 12px;margin: 0'">{{currentTime | date: 'yyyy-MM-dd HH:mm:ss'}}</small>
						  </div> 
						<div  class="tooltip-demo well">摘要：{{currentAbstracts}}</div>
						<div class="row-fluid" ng-bind-html="currentContent">
						  <!-- <div class="row-fluid">
						  	{{currentContent}} -->
						 <!--  <div class="row-fluid" [innerHTML]="{{currentContent}}"> -->
						  </div><!--/row -->                            
					  </div>
					<div class="clearfix"></div>		
				</div>
			</div>
	</div><!--/.fluid-container-->
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
	<div class="clearfix"></div>

		<script src="@WebContext.url("js/userInfo/js/jquery-1.9.1.min.js")"></script>
	<script src="@WebContext.url("js/userInfo/js/jquery-migrate-1.0.0.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery-ui-1.10.0.custom.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.ui.touch-punch.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/modernizr.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/bootstrap.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.cookie.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/fullcalendar.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.dataTables.min.js")"></script>

		<script src="@WebContext.url("js/userInfo/js/excanvas.js")"></script>
	<script src="@WebContext.url("js/userInfo/js/jquery.flot.js")"></script>
	<script src="@WebContext.url("js/userInfo/js/jquery.flot.pie.js")"></script>
	<script src="@WebContext.url("js/userInfo/js/jquery.flot.stack.js")"></script>
	<script src="@WebContext.url("js/userInfo/js/jquery.flot.resize.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.chosen.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.uniform.min.js")"></script>
		
		<script src="@WebContext.url("js/userInfo/js/jquery.cleditor.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.noty.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.elfinder.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.raty.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.iphone.toggle.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.uploadify-3.1.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.gritter.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.imagesloaded.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.masonry.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.knob.modified.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/jquery.sparkline.min.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/counter.js")"></script>
	
		<script src="@WebContext.url("js/userInfo/js/retina.js")"></script>

		<script src="@WebContext.url("js/userInfo/js/custom.js")"></script>
		<!-- <script src="https://cdn.bootcdn.net/ajax/libs/angular-sanitize/1.7.3/angular-sanitize.min.js"></script> -->
	<!-- end: JavaScript-->
	<script>
		function infoInsert(){
			window.open('@url("/pub/course/userInfoInsert.action")','_self');	 
		}
		myApp.controller("noteCtrl",['$scope','$http','$sce',function($scope,$http,$sce){
			$scope.years = ["2020", "2021", "2022", "2023"];
			//列表数据
			$scope.noteList = [];
			/* $scope.content="My name is: <h1>John Doe</h1>";
	        $scope.currentContent = $sce.trustAsHtml( $scope.content ); */
			//请求数据
			$http.post("@url("/pub/course/userInfoList.action")")
			.success(function(result){
				if(result.status){
					//请求成功
					$scope.noteList = result.data;
					$scope.viewUserInfo($scope.noteList[0].id);
				}else{
					noticeError(result.messages);
				}
			})
			.error(function(){
				noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
			});
			$scope.searchUserInfo = function(){
				var title = $("#DataTables_Table_0_filter").val().trim();
				var year = $scope.selectedYears;
				$http.post("@url("/pub/course/userInfoList.action")",{title:title,year:year}).success(function(result){
					if(result.status){
						//请求成功
						$scope.noteList = result.data;
						$scope.viewUserInfo($scope.noteList[0].id);
					}else{
						noticeError(result.messages);
					}
				})
				.error(function(){
					noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
			};
			$scope.mySelectControllerChange = function(){
				var year = $scope.selectedYears;
				var title = $("#DataTables_Table_0_filter").val().trim();
				$http.post("@url("/pub/course/userInfoList.action")",{title:title,year:year}).success(function(result){
					if(result.status){
						//请求成功
						$scope.noteList = result.data;
						$scope.viewUserInfo($scope.noteList[0].id);
					}else{
						noticeError(result.messages);
					}
				})
				.error(function(){
					noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
			};
			$scope.inputChange = function(content){
				if(content.length >= 500){
					$scope.content = content.substr(0,500);
					
				}
			};
			$scope.viewUserInfo = function(id){
				$http.post("@url("/pub/course/getUserInfoById.action")",{id:id})
				.success(function(result){
					$scope.currentId = result.data.id;
					$scope.currentTitle = result.data.title;
					$scope.currentTime = result.data.createDate;
					$scope.currentAbstracts = result.data.abstracts;
					$scope.currentContent = $sce.trustAsHtml(result.data.content);
				})
				.error(function(){
					noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
				});
			};
			$scope.infoEdit = function(){
				var id=$("#currentId")[0].innerHTML;
				window.open('@url("/pub/course/userInfoEdit.action")?id='+id,'_self');	 
			};
			$scope.infoDelete = function(){
				var id=$("#currentId")[0].innerHTML;
				confirm("确定要删除当前记录吗？",function(){
					$http.post("@url("/pub/course/deleteUserInfoById.action")",{id:id})
					.success(function(result){
						noticeInfo("删除成功");
						window.location.reload();
					})
					.error(function(){
						noticeError('@MessageUtil.getMsgAndNote("系统繁忙，请稍后再试！", "ab01011.txt.sys.error.message")');
					});
				});
			};
			/* myApp.filter("parseHTML", function ($sce) {
		        return function (text) {
		            return $sce.trustAsHtml(text);
		        }
		    }) */
			/* $scope.htmlConvertText= function(content) {
			    return $sce.trustAsHtml(content);
			}; */
		}]); 
	</script>
</body>
</html>
