@args Object courseId,
List<String> weiduList,
List<UserCourseEntity> courseUserList,
CourseUserEvalutionEntity evalution,
Integer wdjihe
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.entity.*;
}
@extends(center_pbl_base, title:getPageTitle(title), selectedPage: "text_my")
<style>
     .btn-primary:hover {
		    background-color: #b60005;
		    border-color: #b60005;
		}
        * {
            margin: 0;
            padding: 0;
        }
		input {
		    padding-bottom: 0px;
		}
        table {
            border: 1px solid #fff;
            /*去掉表格之间的空隙*/
            border-collapse:collapse;
            margin: 100px auto;
            width: 1400px;
        }

        caption {
            font-size: 20px;
            font-weight: bold;
        }

        th,td{
            border: 1px solid #ccc;
            width: 80px;
            font-size: 14px;
           /*  line-height: 40px; */
            text-align: center;
            height: 38px;
        }


        b{
            font-style:normal;
            display:block;
            position:absolute;
            top:-40px;
            left:-40px;
            width:50px;
        }

        em{
            font-style:normal;
            display:block;
            position:absolute;
            top:-25px;
            left:-70px;
            width:55px;
            color: #fff;
        }
		#lineTd {
		 background: #b60005 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEwMCUiIHkyPSIxMDAlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=) no-repeat 100% center;   
		}
    </style>
 @if(null!=weiduList && weiduList.size()>0){   
<form id="singleFrom">
	<table id="evalution">
	    <thead style="background-color: #b60005;color: #fff;border-color: #b60005;">
	        <tr>
	            <!-- 模拟表头分割线的部分 -->
	            <th id="lineTd">
	                <!-- <div class="out" style="background-color: #b60005;color: #fff;border-color: #b60005;">
	                    <b>维度</b>
	                    <em>姓名</em>
	                </div> -->
	                <span style="float:left;margin-top:20px;margin-left:27px;">姓名</span>
                    <span style="float:right;margin-top:0px;">维度</span>
	            </th>
	            @for(String weidu : weiduList){
	             @if(weidu.equals("1")){
	                <th>科学精神</th>
	              }
	              @if(weidu.equals("2")){
	                <th>责任担当</th>
	              }
	              @if(weidu.equals("3")){
	                <th>学会学习</th>
	              }
	              @if(weidu.equals("4")){
	                <th>人文底蕴</th>
	              }
	              @if(weidu.equals("5")){
	                <th>实践创新</th>
	              }
	              @if(weidu.equals("6")){
	                <th>健康生活</th>
	              }
	            }
	            <th>评价等级</th>
	        </tr>
	    </thead>
	    <tbody>
	    @if(null!=courseUserList && courseUserList.size()>0){
		    @for(UserCourseEntity item : courseUserList){
		       <tr>
		            <td>@item.getPersonName()</td>
		            @if(null!=item.getGroupList() && item.getGroupList().size()>0){
		              @for(CourseUserEvalutionEntity entity : item.getGroupList()){
		               <td>@entity.getScore()</td>
		              }
		              <td>@item.getGroupList().get(0).getDegree()</td>
		             </td>
		            }
		            
		            
		        </tr>
		    }
	    }
	    </tbody>
	</table>
	<div style="text-align:center;margin:10px 12px 20px 12px; ">
        <div style="clear:both;height:10px;"></div>
        <span class="btn btn-primary btnConfirm" id="submitTable" style="width:200px;border-radius:0px;margin-top:10px;">返回上一级</span>
    </div>
</form>
}
<script>
$("#submitTable").click(function () {
	window.location.href="/pblMgr/pub/course/userPblMyInfo.action";
});

</script>