@args List<CourseUserEvalutionEntity> evlutionCourseList
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.entity.CourseUserEvalutionEntity;
    com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 	com.cloudsoaring.web.trainingplatform.constants.*
}
@extends(center_pbl_base, title:getPageTitle(title), selectedPage: "text_my")
@table(id:"search-result",url:"/pub/course/listMyInfoSearch.action",sortName:"createDate",
                    sortOrder:"desc",queryParamFunction:"createQueryParams01"){
    @columns(){
       {field: 'number',title:'@MessageUtil.getMessage(TpMsgNames.MSG_NO)',width:80,align:'center',formatter:"noFormat"},       
       {field: 'title',title:'课程标题',width:200,sortable: true,align:'center'}, 
       {field: 'teacherName',title:'老师名称',width:200,sortable: true,align:'center'},
       {field: 'createTime',title:'测评时间',width:200,sortable: true,align:'center',formatter:dateFormat}, 
       {field: 'degree',title:'评价等级',width:200,sortable: true,align:'center'}, 
       @optcolumn(){
         @iconlink(
                label:MessageUtil.getMessage(CourseMsgNames.CENTER_VIEW)
                , iconcss:"glyphicon-eye-open"
                , onclick:"viewNotice"
            )
        }
     }
   }
    
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        html, body {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        iframe {
            border: 0;
        }
        .bootstrap-table {
		    padding-left: 35px;
		    padding-right: 35px;
		    padding-top: 100px;
		}
    </style>
    <script type="text/javascript">
    function noFormat(value, row, index){ 
		return index+1;
	}
    function createQueryParams01(params){
        return buildQueryParam('#search-condition', params);
    }
    function viewNotice(row){
    	 window.location.href="/pblMgr/pub/course/evalutionPersonlistInit.action?courseId="+row.courseId;
    }
    </script>