@args String title
@extends(center_course_base, activeNo: 1)

<style>	
	/**圆形边框字母*/
	.circl_word{
		display:block;
		width:30px;
		height: 30px;
		line-height:30px;
		text-align:center;
		-moz-border-radius: 30px;
		border:1px red solid;
		color:red;
		border-radius:10px;
	}
	.plan_progress_bg{  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;    
      background-color:#000000;
	}
</style>

<link rel="stylesheet" media="screen" href="@WebContext.url("/css/mydirective.css")">

<div style="margin-bottom:20px; width:100%;height:40px; background-color:#F4F4F4;padding: 10px 50px 10px 30px;">
	<div style="float:left; width:150px;font-weight: bold;sfont-size:15px;">
		<span><a style="color:black;" href="" >已学</a></span>&nbsp;&nbsp;
		<span><a style="color:#666666;" href="javascript:collection()" >已收藏</a></span>
	</div>	
</div>

@line_list(url:("/pub/course/userCourseList.action?finishType="+2), pageSize:5){
	@list_item(renderItemFunction:"renderItemContent"){
	<div style="">
		<div class="courseList" style=" width: 100%;padding:30px 0; overflow: hidden;background-color: rgb(255, 255, 255);">
			<div class="thumbnail" style="width:234px;height:132px;float:left;">
				<img style="border:0;width:100%;height:100%;" src="@url("/pub/image.action?fileId=%courseFileId")">
			</div>
			<div style="width:500px;height:132px;float:left;margin-left:30px;">
				<div>
					<span style="font-size:16px;color:#000000;">%title</span>
					<span style="font-size:12px;color:#666666;margin-left:30px;">%courseStatus</span>
				</div>
				<div style="margin-top:20px;font-size:12px;color:#999999;">
					
					<span>%content</span>
					<span style="margin-left:20px;">@MessageUtil.getMessage("学习耗时")：&nbsp;%studyDuration</span>
					<span style="margin-left:20px;">@MessageUtil.getMessage("最后学习")：&nbsp;%lastStudyDate</span>
				</div>
				<div style="margin-top:20px;">
					<button class="btn btn-normal" onclick="startCourse('%id','%lastChapterId')">继续学习</button>								
					<div class="circl_word" style="width: 30px;margin-left:150px;cursor:pointer;margin-top:-30px;display:%isShow;" onclick="question('%id')">
						<span class="fa fa-file-o" style=" color:red;" ></span>										
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div style="width:226px;height:30px;margin-left:4px;margin-top:-50px;">
				<div style="width:100%;height:100%;position:relative;">
					<div class="plan_progress_bg" style="position:absolute;width:100%;height:100%;left:0;top:0;"></div>
					<!-- 设置width的值即为设置进度条的长度 -->
					<div style="width:%progress_width;position:absolute;bottom:0;left:0;">
						<div style="font-size:14px;color:#ffffff;text-align:right;padding-left:3px">%progress_percent</div>
						<div style="height:5px;background-color:#b60006;"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>					
		</div>				
	</div>
	<div id="question%id" style="width: 100%;" ></div>
	}		
}

@assign("iframeContent") {
	@question_item(id:"%id",linkId:"%id",linkType:"COURSE",userInvolvement:false)
}

<div id="list_main">

</div>	
<!-- 分页 -->
<div id="paginationDiv">
	
</div>

<script>	
	function renderItemContent(itemContent, obj) {		
		var a =  replaceNull(obj.content);
		var b = a.replace(/<[^>]+>/g,"");
		var content = hideStringByMax(b,14);
		var title = hideStringByMax(obj.title,15);
		
		if(obj.courseStatus == null || obj.courseStatus == "undefind"){
			var courseStatusName = "";
		}else{
			if(obj.courseStatus == "1"){
				var courseStatusName = "连载中";
			}else if(obj.courseStatus == "2"){
				var courseStatusName = "已完成";
			}else if(obj.courseStatus == "3"){
				var courseStatusName = "已结束";
			}
		}
				
		//existQuestionnaireFlag:课程是否存在问卷 0否 1是
		//finishQuestionnaireFlag:用户是否完成问卷 0未完成 1已完成
		if(obj.existQuestionnaireFlag == "0"){
			var isShow = "none";
		}else if(obj.existQuestionnaireFlag == "1" && obj.finishQuestionnaireFlag == "1"){
			var isShow = "none";
		}else if(obj.existQuestionnaireFlag == "1" && obj.finishQuestionnaireFlag == "0"){
			var isShow = " ";
		}
		
		var progress_width = "0";
		var progress_percent = "0%";
		var studyProgress = obj.studyProgress;
		if(studyProgress != null){
			if(studyProgress > 100){
				progress_width = 226 +"px";
				progress_percent = 100 +"%";
			}else{
				progress_width = studyProgress*(accDiv(226,100))+"px";
				progress_percent = studyProgress +"%";
			}
		}else{
			progress_width = 0+"px";
			progress_percent = 0 +"%";
		}
		
		
		/* var finishChapterNum = obj.finishChapterNum;
		if(finishChapterNum==null||finishChapterNum==''){
			finishChapterNum = 0;
		}
		var allChapterNum = obj.allChapterNum;
		if(allChapterNum==null||allChapterNum==''){
			allChapterNum = 0;
		}
		if(allChapterNum != 0){
			progress_width = finishChapterNum*(accDiv(232,allChapterNum))+"px";
			if(finishChapterNum==allChapterNum){
				progress_percent = "100%";
			}else{
				progress_percent = Math.floor((finishChapterNum*100)/allChapterNum) +"%";
			}
		} */
		
		//学习时长
		var studyDuration = formatStudyDuration(obj.studyDuration);
		//最后学习时间
		var lastStudyDate = formatLastStudyDate(obj.updateDate);	
		return itemContent
					.replace(/%id/g, obj.id)
					.replace(/%lastChapterId/g, obj.lastChapterId)
					.replace(/%title/g, replaceNull(title))
					.replace(/%content/g, content)	
					.replace(/%courseFileId/g,obj.pictureId)							
					.replace(/%studyDuration/g,studyDuration)
					.replace(/%courseStatus/g,courseStatusName)
					.replace(/%lastStudyDate/g,lastStudyDate)
					.replace(/%isShow/g, isShow)
					.replace(/%progress_width/g, progress_width)				
					.replace(/%progress_percent/g,progress_percent);
	}
	
	//问卷
	function question(id){		
		var oldDivID = $('.iframeContent')[0] ? $($('.iframeContent').parent()).attr("id") : "";
		//console.log(oldDivID);
		//console.log(id);
		/* $('.iframeContent').remove(); */
		if($("#question"+id).hasClass("active")){
			$("#question"+id).hide();
			$("#question"+id).removeClass("active");
		}else{
			$("#question"+id).show();
			$("#question"+id).addClass("active");
		}
		 
		if("question"+id != oldDivID){	
			$('#question'+id).html("@es(iframeContent).raw()".replace(/%id/g, id));			
		}
	}
	
	//替换null为空字符串
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	//笔记时间，评论时间等显示规则：几分钟前（分钟级别）、几小时前（小时级别）、几天前（7天内），正常时间格式（7天以上）
	//ss:时间秒数
	function formatStudyDuration(v){
		var ss = parseInt(toNumber(v));
		if(ss < 60*60){
			//time一个小时内
			return (Math.floor(ss/(60)))+"分钟";
		}else if(ss < 60*60*24){
			//time一天内
			return (Math.floor(ss/(60*60)))+"小时";
		}else {
			//time在7天内
			return (Math.floor(ss/(60*60*24)))+"天";
		}
	}
	
	//笔记时间，评论时间等显示规则：几分钟前（分钟级别）、几小时前（小时级别）、几天前（7天内），正常时间格式（7天以上）
	//ss:时间毫秒数
	function formatLastStudyDate(v){
		var ss = parseInt(toNumber(v));
		var time = parseInt(ss);
		time = new Date().getTime() - time;
		if(time < 1000*60*60){
			//time一个小时内
			return (Math.floor(time/(1000*60)))+"分钟前";
		}else if(time < 1000*60*60*24){
			//time一天内
			return (Math.floor(time/(1000*60*60)))+"小时前";
		}else if(time < 1000*60*60*24*7){
			//time在7天内
			return (Math.floor(time/(1000*60*60*24)))+"天前";
		}else{
			//time在7天以上
			return dateTimeFormatMi(ss);
		}
	}
	
	function dateTimeFormatMi(value){
		var result = "";
		if(value){
			if(typeof(value) == 'object'){
				result = $.format.date(value, JS_DATE_MINUTE_FORMAT);
			} else {
				result = $.format.date(new Date(Number(value)), JS_DATE_MINUTE_FORMAT);
			}
		}
		return result;
	}
	
	function collection(row){
		window.location.href = "@url("/client/center/userCourseFavoriteList.action")";
	}
	
	//继续学习
	function startCourse(id,lastChapterId){
		if(lastChapterId != "null"){
			window.location.href = "@url("/pub/chapter/toChapterDetail.action?courseId=")" + id + "&chapterId=" + lastChapterId;
		}else{
			window.location.href = "@url("/pub/course/courseDetailInit.action?courseId=")" + id;
		}
		
	}
</script>



