@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(center_course_base, activeNo: 8)
@args String title = "我的作业"
@args DiscussDataEntity condition

<div style="margin-left:6px; width:100%;height:40px; background-color: rgb(244, 244, 244);padding: 10px 50px 10px 30px;">
	<div style="float:left; width:150px;">
		<span style=" font-size: 14px;">@MessageUtil.getMsgAndNote("我的作业", "", "txt.user.homeWork")</span>
	</div>
</div>

@line_list(url:("/pub/course/userHomeworkList.action"), pageSize:10){	
	@list_item(renderItemFunction:"renderItemContent") {
<div class="clearfix"></div>
<div class="homeWorkList" style="border-bottom:1px #e1e1e1 solid; padding:30px;">
	<div style="font-size:10px; color:#999999;">
		<span>%createDate&nbsp;</span>
		<span style="margin-left:30px;">@MessageUtil.getMsgAndNote("源自:", "", "txt.user.homeWork.derive")</span>
		<span>%linkTitle</span>
		<span id="a_%homeworkId" style="float:right;cursor:pointer;" onclick="show_div('%homeworkId')">@MessageUtil.getMsgAndNote("展开", "", "txt.user.homeWork.open")</span>
	</div>
	<div style="margin-top:30px;font-size:15px; font-weight: bold; color:#999999;">
		<span>@MessageUtil.getMsgAndNote("作业题目:", "", "txt.user.homeWork.title")</span>
		<span style="margin-left:10px;">%title</span>
	</div>
	<div id="message_%homeworkId" style="display:none;margin-top:30px;">
		<div>
			<div style="width:30px;float:left;">
	 			<span class="gh gh-list-alt" style="color:#b60006;margin-top:5px;"></span>
	 		</div>
	 		<div style="width:680px;">
	 			<span style="line-height:25px;font-size:15px;font-weight:bold;">%content</span>
	 		</div>
		</div>
		<div class="clearfix"></div>
		<div style="height:30px;line-height:30px;">
			<span>
				<span class="fa fa-thumbs-o-up" style="color:#b60006;"></span>
				<span style="color:#3ac5ef;margin-left:10px;font-size:15px;font-weight:bold;">@MessageUtil.getMsgAndNote("得分:", "", "txt.user.homeWork.score")&nbsp;%score</span>
			</span>
			<button class="btn btn-normal" style="width:120px;float:right;visibility:%isShow;" onclick="downloadFile('%fileId')">
	 			<span class="fa fa-folder-o"></span>@MessageUtil.getMsgAndNote("下载文件", "", "txt.user.homeWork.downLoad")
	 		</button>
		</div>
		<div style="margin-top:30px;">
			<div style="width:30px;float:left;">
	 			<span class="fa fa-comments" style="color:#b60006;margin-top:5px;"></span>
	 		</div>
	 		<div style="width:680px;">
	 			<span style="line-height:25px;font-size:15px;font-weight:bold;">@MessageUtil.getMsgAndNote("老师评语:", "", "txt.user.homeWork.teacherComment")&nbsp;%teacherComment</span>
	 		</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
	}
}


	
	
<script>

	function renderItemContent(itemContent, obj) {
		var title = hideStringByMax(obj.title,50);
		var content = hideStringByMax(obj.content,100);
		var score = hideStringByMax(obj.score,50);
		var createDate = hideStringByMax(obj.createDate,20);
		var linkTitle = hideStringByMax(obj.linkTitle,20);
		var fileId = hideStringByMax(obj.answerFileId);
		var teacherComment = hideStringByMax(obj.teacherComment,500);
		console.log(obj);
		return itemContent
					.replace(/%teacherComment/g, replaceNull(teacherComment))
					.replace(/%title/g, replaceNull(title))
					.replace(/%score/g, replaceNull(score))
					.replace(/%content/g, replaceNull(content))
					.replace(/%linkTitle/g, replaceNull(linkTitle))
					.replace(/%fileId/g, replaceNull(fileId))
					.replace(/%createDate/g, replaceNull(dateTimeFormatMi(createDate))).replace(/%homeworkId/g,obj.homeworkId);
	}
	
	//下载文件
	function downloadFile(fileId){
		window.open('@url("/pub/course/download.action")?fileId='+fileId+'&fileType=homework','_blank');	 				
	}
	
 	//替换null为空字符串
   function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	
	
	
	function show_div(id){ 
		if($("#message_"+id).hasClass("active")){
			$("#message_"+id).hide();
			$("#message_"+id).removeClass("active");
			$("#a_"+id).text("@MessageUtil.getMsgAndNote("展开", "", "txt.user.homeWork.open")");
			
		}else{
			$("#message_"+id).show();
			$("#message_"+id).addClass("active");
			$("#a_"+id).text("@MessageUtil.getMsgAndNote("收起", "", "txt.user.homeWork.close")");
			
		}
		
	} 
	

</script>