@args String title = MessageUtil.getMessage("我的论坛"),
Integer pageSize = Integer.valueOf("10"),
Boolean guest,UserEntity loginUser,
UserPoint userPoint
@import(){com.cloudsoaring.web.forum.constant.*,com.cloudsoaring.web.trainingplatform.utils.*,com.cloudsoaring.web.points.entity.*}
@extends(center_base,title:getPageTitle(title), selectedPage:"user_forum")
@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}
<!-- css样式类 -->
<style>
	.search_item{
		font-size:14px;
		color:#666666;
		cursor:pointer;
	}
	.search_item:hover{
		color:#4f85ff;
	}
	.search_item_active{
		font-size:14px;
		color:#4f85ff;
		cursor:pointer;
	}
	.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px #b60006 solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}
</style>
<!-- angularjs开始位置 -->
	<div class="header" style="background:#fff;padding:30px 30px 0px 30px; " >
		<h4 style="margin:0px;padding:0px;font-size:18px;">@MessageUtil.getMsgAndNote("我的论坛", "", "txt.user.forum")</h4>
	</div>
<div ng-app="myApp">
	<div ng-controller="mainCtrl">
		<div style="width:1200px;margin-left:auto;margin-right:auto;">
			<!-- 左侧830px区域 -->
			<div style="width:830px;float:left;overflow:hidden;">
				<!-- 左侧列表区域 -->
				<div ng-controller="listCtrl">
					<div style="padding:30px;background-color:#ffffff;">
						<!-- 检索条件，最新、最热 -->
						<div style="background: rgb(244, 244, 244);height:40px;line-height:40px;padding:0 30px;">
							<span ng-if="searchIndex==0" class="search_item_active">@MessageUtil.getMsgAndNote("我的话题", "", "txt.user.forum.userTopic")</span>
							<span ng-if="searchIndex!=0" class="search_item" ng-click="changeSearch(0)">@MessageUtil.getMsgAndNote("我的话题", "", "txt.user.forum.userTopic")</span>
							<span ng-if="searchIndex==1" class="search_item_active" style="margin-left:30px;">@MessageUtil.getMsgAndNote("参与话题", "", "txt.user.forum.joinTopic")</span>
							<span ng-if="searchIndex!=1" class="search_item" ng-click="changeSearch(1)" style="margin-left:30px;">@MessageUtil.getMsgAndNote("参与话题", "", "txt.user.forum.joinTopic")</span>
						</div><!-- 检索条件，最新、最热end -->
						<!-- 列表 -->
						<div ng-repeat="item in list" style="padding:30px 0;border-top:1px #e1e1e1 solid;cursor:pointer;">
							<!-- 左侧图片区域 -->
							<div style="width:132px;height:132px;float:left;" ng-click="toDetail($index)">
								<img style="width:132px;height:132px;border:0;" ng-src="@url("/pub/imageThumb.action?fileId={{item.pictureId}}")">
							</div><!-- 左侧图片区域 end-->
							<!-- 右侧内容区域 -->
							<div style="width:605px;float:left;margin-left:30px;">
								<!-- 标题 -->
								<div style="font-size:18px;color:#000000;margin-top:10px;" ng-bind="item.title"  ng-click="toDetail($index)"></div><!-- 标题 end-->
								<div  style="width:60px;float:right;margin-right:30px;"  ng-click="del($index)">
                                         <a class="iconlink-rythm gh gh-remove glyphicon" iconcss="gh gh-remove" data-content="删除" label="删除" data-placement="top"> </a>
                                </div>
								<!-- 正文内容 -->
								<div style="padding:20px 0;font-size:16px;color:#666666;" ng-bind="item.content|subStringLength:65"  ng-click="toDetail($index)"></div><!-- 正文内容 end-->
								<!-- 底部头像点赞区域 -->
								<div style="font-size:12px;height:24px;line-height:24px;">
									<span  ng-click="toDetail($index)">
										<img class="img-circle" style="width:24px;height:24px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
										<span style="color:#333333;margin-left:10px;" ng-bind="item.userName"></span>
										<span ng-if="item.tagNames.length>0" style="margin-left:10px;" ng-repeat="tag in item.tagNames">
											<span ng-if="tag != ''" style="padding:3px 5px;background-color:#E9E9E9;color:#666666;" ng-bind="tag"></span>
										</span>
										<span style="margin-left:10px;color:#999999;" ng-bind="item.createDate|formatPublishTime"></span>
										<span style="margin-left:10px;color:#999999;">
											{{item.numView|replaceToNumber}}@MessageUtil.getMsgAndNote("浏览", "", "txt.user.forum.view")
										</span>
									</span>
									<span style="float:right;font-size:12px;">
										<span ng-if="item.likeFlag != '@ForumStateConstants.LIKE_FLAG'"  class="gh gh-thumbs-up" style="color:red;"></span>
										<span ng-if="item.likeFlag == '@ForumStateConstants.LIKE_FLAG'"  class="gh gh-thumbs-up" style="color:#999999;" ng-click="likeClick($index)"></span>
										<span style="color:#999999;margin-left:5px;">@MessageUtil.getMsgAndNote("点赞", "", "txt.user.forum.like"){{item.numLike|replaceToNumber}}</span>
										<span class="fa fa-comment-o" style="color:#999999;margin-left:10px;" ng-click="toDetail($index)"></span>
										<span style="color:#999999;margin-left:5px;">@MessageUtil.getMsgAndNote("评论", "", "txt.user.forum.discuss"){{item.numComment|replaceToNumber}}</span>
									</span>
								</div>
							</div><!-- 右侧内容区域 end-->
							<div class="clearfix"></div>
						</div><!-- 列表 end-->
						<div class="clearfix"></div>
						<!-- 分页 -->
						<div style="padding:30px 0px;text-align:center;">
							<span style="" ng-repeat="item in pageList">
								<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}" ng-bind="item.text"></span>
								<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="searchList(item.clickNum)" ng-bind="item.text"></span>
							</span>
						</div>
					</div>
				</div><!-- 左侧列表区域 end-->
			</div><!-- 左侧830px区域 end-->
			
			<div class="clearfix"></div>
			<div style="height:1px;margin-bottom:90px;"></div>
		</div>
	</div>
</div>
<!-- 引入JS文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<script>
	myApp.controller("mainCtrl",function($scope){
		
	})
	.controller("listCtrl",function($scope,$http){
		//列表controller
		//列表数据
		$scope.list = [];
		$scope.pageList = [];
		//检索条件，选中了哪个
		$scope.searchIndex = 0;
		//检索条件改变事件
		$scope.changeSearch = function(index){
			$scope.searchIndex = index;
			//重新检索列表数据
			$scope.searchList(1);
		};
		
		//检索列表数据
		$scope.searchList = function(num){
			var sortType = '';
			if($scope.searchIndex == 1){
				sortType = '@ForumStateConstants.MY_FORUM_TYPE';
			}
			var params = {type:sortType,pageSize:@pageSize,pageNumber:num};
			$http.post("@url("/client/forum/userForumList.action")",params)
			.success(function(result){
			console.log(result);
				if(result.status){
					$scope.list = result.data;
					$scope.pageList = getPageList(result.page,result.total);
					//标签处理
					for(var i=0;i<$scope.list.length;i++){
						$scope.list[i].tagNames = subToArr($scope.list[i].tagNames);
					}
				}else{
					noticeError(result.messages);
				}
			});
		};
		//第一次进入，检索数据
		$scope.searchList(1);
		//点赞
		$scope.likeClick = function(index){
			$http.post("@url("/client/forum/forumClickLike.action")",{sendcardId:$scope.list[index].sendcardId})
			.success(function(result){
				if(result.status){
					$scope.list[index].likeFlag = '@ForumStateConstants.FORUM_LIKE_ALREADY';
					//点赞数加一
					if(emptyStr($scope.list[index].numLike)){
						$scope.list[index].numLike = 1;
					}else{
						$scope.list[index].numLike = parseInt($scope.list[index].numLike)+1;
					}
					noticeInfo("@MessageUtil.getMsgAndNote("点赞成功！", "", "msg.user.forum.likeSuccess")");
				}else{
					noticeError(result.messages);
				}
			});
		};
		$scope.del= function(index){
          var url = "@url("/client/forum/forumDel.action?sendcardId=")"+$scope.list[index].sendcardId;
          $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                    location.reload();
                }
            });
        };
		//跳转到详情
		$scope.toDetail = function(index){
			window.open("@url("/pub/forum/toForumDetail.action?sendcardId=")" + $scope.list[index].sendcardId);
		};
	})
	.controller("rightCtrl",function($scope){
		//右侧controller
		//发布话题
		$scope.publishTopic = function(){
			window.location.href = "@url("/client/forum/toPublishTopic.action")";
		};
		

	});
</script>