@extends(center_course_base, activeNo: 4)
@import(){com.cloudsoaring.web.common.utils.*}
<head>
<link rel="stylesheet" href="../../css/mydirective.css">
</head> 
<div style="margin-left:6px; margin-bottom:20px; width:100%;height:35px; background-color:#F4F4F4;padding: 10px 50px 10px 30px;">
    <div style="float:left; width:150px;">
        <span style=" font-size: 14px;">@MessageUtil.getMessage("我的考试")</span>
    </div>
</div>
@line_list(url:("/client/center/userExam.action"), pageSize:10){ 
    @list_item(renderItemFunction:"renderItemContent") {
        <div class="measurementList" style="border-bottom: 1px solid #e3e5e5; width: 100%; overflow: hidden; padding: 10px;position:relative; background-color: rgb(255, 255, 255);">
                <div style="height:20px; width:90%; margin-left:30px ; font-size:10px; color:#999999;"  >
                        %createDate&nbsp;
                    <span class="center-content">@MessageUtil.getMessage("源自")&nbsp;:&nbsp;%title</span>
                </div>
                <div style="margin-top:10px;margin-bottom:10px;height:10px;  margin-left:30px ; " class="center-font-content" >
                    <p style="font-style:normal;font-size:14px;color:#000000">
                    @MessageUtil.getMessage("考试题目:")&nbsp;%content
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @MessageUtil.getMessage("分数:")&nbsp;%goal
                    
                    </p>
                </div>
        </div>
    }
}
<script>
    function renderItemContent(itemContent, obj) {
        var title = hideStringByMax(obj.source,50);
        var content = hideStringByMax(obj.titile,100);
        var score = hideStringByMax(obj.score,50);
        var createDate = hideStringByMax(obj.createDate,20);
        var teacherComment = hideStringByMax(obj.teacherComment,500);
        var goal = obj.goal;
        return itemContent
                    .replace(/%teacherComment/g, replaceNull(teacherComment))
                    .replace(/%title/g, replaceNull(title))
                    .replace(/%content/g, replaceNull(content))
                    .replace(/%createDate/g, replaceNull(dateTimeFormatMi(createDate)))
                    .replace(/%goal/g,goal);
    }
    //替换null为空字符串
   function replaceNull(str){
            if(str == null || str == "undefind"){
                return "";
            }else{
                return str;
            }
        }
    
    //对多余的字符进行隐藏
    function hideStringByMax(oldString, maxLength) {
        var result = oldString;
        if(oldString!=null && oldString.length > maxLength){
            result = oldString.substring(0,maxLength);
            result += "...";
        }
        return result;
    }
    
    //对多余的字符进行隐藏
    function hideStringByMax(oldString, maxLength) {
        var result = oldString;
        if(oldString!=null && oldString.length > maxLength){
            result = oldString.substring(0,maxLength);
            result += "...";
        }
        return result;
    }
    
    

</script>