@extends(center_course_base, activeNo: 5)
@import(){com.cloudsoaring.web.common.utils.*}
<head>
<link rel="stylesheet" href="../../css/mydirective.css">
</head>	
<div style="margin-left:6px; margin-bottom:20px; width:100%;height:35px; background-color:#F4F4F4;padding: 10px 50px 10px 30px;">
	<div style="float:left; width:150px;">
		<span style=" font-size: 14px;">@MessageUtil.getMessage("我的测试")</span>
	</div>
</div>
@line_list(url:("/client/center/userMeasurementList.action"), pageSize:10){	
	@list_item(renderItemFunction:"renderItemContent") {
		<div class="measurementList" style="border-bottom: 1px solid #e3e5e5; width: 100%; overflow: hidden; padding: 10px;position:relative; background-color: rgb(255, 255, 255);">
				<div style="height:20px; width:90%; margin-left:30px ; font-size:10px; color:#999999;"  >
						%createDate&nbsp;
					<span class="center-content">@MessageUtil.getMessage("源自")&nbsp;:&nbsp;%title</span>
				</div>
				<div style="margin-top:10px;height:10px;  margin-left:30px ; " class="center-font-content" >
					<p style="font-style:normal;font-size:14px;color:#000000">@MessageUtil.getMessage("测试题目:")&nbsp;%content</p>
				</div>
				<div style="margin-top:10px;height:10px;  margin-left:700px ; font-size:10px; color:#666666;" >
						<a id="a_%measurementId" href="javascript:show_div('%measurementId')"   style=" color:#666666;">@MessageUtil.getMsgAndNote("展开","","txt.usercourse.unfold")</a>
				</div>
				<div id="message_%measurementId"  style="padding:24px 30px 30px 10px;display:none;width:830px;overflow:hidden;background-color:#ffffff;">
				  	@list_test(linkId:"%linkId",linkType:"%linkType",randomId:"%randomId")
				</div>
		</div>
	}
}
<script>
	function renderItemContent(itemContent, obj) {
		var title = hideStringByMax(obj.source,50);
		var content = hideStringByMax(obj.titile,100);
		var score = hideStringByMax(obj.score,50);
		var createDate = hideStringByMax(obj.createDate,20);
		var teacherComment = hideStringByMax(obj.teacherComment,500);
		var linkId = obj.linkId;
		var linkType = obj.linkType;
		var id = obj.id
		var randomId = Math.floor((Math.random())*1000000000000000000);
		return itemContent
					.replace(/%teacherComment/g, replaceNull(teacherComment))
					.replace(/%title/g, replaceNull(title))
					.replace(/%content/g, replaceNull(content))
					.replace(/%createDate/g, replaceNull(dateTimeFormatMi(createDate)))
					.replace(/%measurementId/g,id)
					.replace(/%linkId/g,linkId).replace(/%linkType/g,linkType).replace(/%randomId/g,randomId);
	}
 	//替换null为空字符串
   function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	
	function show_div(id){ 
		if($("#message_"+id).hasClass("active")){
			$("#message_"+id).hide();
			$("#message_"+id).removeClass("active");
			$("#a_"+id).text("展开");
		}else{
			$("#message_"+id).show();
			$("#message_"+id).addClass("active");
			$("#a_"+id).text("收起");
		}
		
	} 
	

</script>