@import(){com.cloudsoaring.web.trainingplatform.entity.*}
@args String id
@extends(center_base,title:"",selectedPage: "teacherPlan")

<div style="background-color:#ffffff;height:100%;">
<div style="font-weight: bold;font-size: 120%;height:60px;border-bottom-style: solid; border-bottom-width:thin;border-bottom-color:#DDDDDD; margin-bottom: 20px;">
	<div style="padding-left:15px;line-height:60px;">计划管理人员列表</div>
</div>
@{final String str = "/client/plan/searchPlanUser.action?planId="+id}
@table(id:("search-user"), showColumns:false, url:str){
	@columns(){
		{field: 'userName',title: "人员名称",sortable: true},											
		{field: 'personName',title: "人员姓名",sortable: true},
		{field: 'sex',title: "性别",sortable: true,align:'center',formatter:formatterSex},
		{field: 'position',title: "职位",width:100,sortable: true},
		{field: 'recordTime',title: "加入时间",width:100,sortable: true,align:'center',formatter:dateFormat},																																		
	}
}
<div class="clearfix"></div>
<div style="margin-bottom:10px;text-align:center;">
	@button_back(style:"width:100px;height:50px;",onclick="goBack")
</div>
</div>

<script type="text/javascript">
	//显示性别
	function formatterSex(value, row, index){ 
   		if(value != null){
   			if(value == 0){
				return "男";
			}else if(value == 1){
				return "女";
			}
   		}  		
	}
</script>