@args String courseId = "",String linkType="1"
@extends(center_course_base, activeNo: 7)
@{
		final String getUserCourse = url("/pub/course/searchUserCourse.action?courseId="+courseId);
		final String submitVoteUrl = url("/pub/vote/submitVote.action?linkId="+courseId+"&linkType="+linkType);
}
@import(){
com.cloudsoaring.web.course.constant.*;
}

<style>
.color_red{
	color:#E84D3B;
}
.color_grave{
	color:#E6E6E6;
}
.i_vote_good,.i_vote_normal,.i_vote_notgood{
	color:#E84D3B;
}
</style>
<div style="margin-left:6px; margin-bottom:20px; width:100%;height:35px; background-color:#F4F4F4;padding: 10px 50px 10px 30px;">
	<div style="float:left; width:150px;">
		<span style=" font-size: 14px;">@MessageUtil.getMessage("我的投票")</span>
	</div>
</div>
@line_list(url:"/client/center/userVoteList.action", pageSize:5){
	@list_item(renderItemFunction:"renderItemContent"){
		<div class="tab-pane" id="vote" style="border-bottom: 1px solid #e3e5e5; width: 100%; overflow: hidden; padding: 15px;position:relative; background-color: rgb(255, 255, 255);">
			<div style="height:20px; width:90%; margin-left:30px ; font-size:10px; color:#999999;"> 
				%voteDate
			 &nbsp;&nbsp; <span>源自：%courseName</span></div>
			<div style="height:40px;width:90%; margin-left:30px ; margin-top:10px;">
				<div style="width:200px;float:left;color:#999999;">
					<input style="display:none;" class="radio_vote" type="radio" name="radio_vote" value="@CourseStateConstants.VOTE_OPTION_GOOD">
					<i class="glyphicon glyphicon-record i_vote %i_vote_good"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>对我非常有帮助</span>
				</div>
				<div style="width:350px;float:left;margin-left:10px;margin-top:6px;">
					<div style="background-color:#E84D3B;width:%width_goodpx;height:10px;"></div>
				</div>
				<div style="width:50px;float:left;margin-left:20px;color:#999999;"><span>%percentNum_good%</span></div>
			</div>
			<div class="clearfix"></div>
			<div style="height:40px;width:90%; margin-left:30px ; margin-top:10px;">
				<div style="width:200px;float:left;color:#999999;">
					<input style="display:none;" class="radio_vote" type="radio" name="radio_vote" value="@CourseStateConstants.VOTE_OPTION_NORMAL">
					<i class="glyphicon glyphicon-record i_vote %i_vote_normal"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>对我很有帮助</span>
				</div>
				<div style="width:350px;float:left;margin-left:10px;margin-top:6px;">
					<div style="background-color:#EECB27;width:%width_normalpx;height:10px;"></div>
				</div>
				<div style="width:50px;float:left;margin-left:20px;color:#999999;"><span>%percentNum_normal%</span></div>
			</div>
			<div class="clearfix"></div>
			<div style="height:40px;width:90%;margin-left:30px;margin-top:10px;">
				<div style="width:200px;float:left;color:#999999;">
					<input style="display:none;" class="radio_vote" type="radio" name="radio_vote" value="@CourseStateConstants.VOTE_OPTION_NOT_GOOD">
					<i class="glyphicon glyphicon-record i_vote %i_vote_notgood"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>对我有帮助</span>
				</div>
				<div style="width:350px;float:left;margin-left:10px;margin-top:6px;">
					<div style="background-color:#1B85B7;width:%width_notgoodpx;height:10px;"></div>
				</div>
				<div style="width:50px;float:left;margin-left:20px;color:#999999;"><span>%percentNum_notgood%</span></div>
			</div>
			<div class="clearfix"></div>
			<style>
				.btn {
				    color: #fff;
				    background-color: rgb(182, 0, 5);
				}
			</style>
			<button id="btn_submitVote" class="btn" style="width:120px;display:none;float:right;" onclick="submitVote()">投票</button>
			<p>&nbsp;</p>
			<div class="clearfix"></div>
		</div>	
	}
}	
	
	
	<script>
	function renderItemContent(itemContent, obj) {
					console.log(obj);
					var voteDate = obj.voteDate;
					var vote = obj.vote;
					var courseName = obj.courseName;
					var voteGood = 0;
					if(!courseName){
						courseName="";
					}
					if(obj.voteGood != null){
						voteGood = parseInt(obj.voteGood);
					}
					var voteNormal = 0;
					if(obj.voteNormal != null){
						voteNormal = parseInt(obj.voteNormal);
					}
					var voteNotgood = 0;
					if(obj.voteGood != null && obj.voteNormal != null){
						if(voteGood!=null&&voteNormal!=null){
							voteNotgood = 100-voteGood-voteNormal;
						}
					}
					var goodClass = '';
					var normalClass = '';
					var badClass = '';
					if(vote != null){
					if(parseInt(vote) == @CourseStateConstants.VOTE_OPTION_GOOD){
						goodClass = ' i_vote_good';
					}else if(parseInt(vote) == @CourseStateConstants.VOTE_OPTION_NORMAL){
						normalClass = ' i_vote_normal';
					}else if(parseInt(vote) == @CourseStateConstants.VOTE_OPTION_NOT_GOOD ){
						badClass = ' i_vote_notgood';
					}
				}else{
					$(".radio_vote").show();
					$(".i_vote").hide();
					$("#btn_submitVote").show();
				}
		return itemContent
					.replace(/%width_good/g,voteGood*3.5)
					.replace(/%width_normal/g,voteNormal*3.5)
					.replace(/%width_notgood/g,voteNotgood*3.5)							
					.replace(/%percentNum_good/g,voteGood)
					.replace(/%percentNum_normal/g,voteNormal)
					.replace(/%percentNum_notgood/g,voteNotgood)
					.replace(/%voteDate/g,dateTimeFormatMi(voteDate))
					.replace(/%courseName/g,courseName)
					.replace(/%i_vote_good/g,goodClass)
					.replace(/%i_vote_normal/g,normalClass)
					.replace(/%i_vote_notgood/g,badClass);
	}
	</script>