﻿@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames,
     com.cloudsoaring.web.course.view.PlanView
}
@extends(center_base, selectedPage: "user_plan")
@args String planType
@args List<PlanView> resultList
<style>
	.plan_progress_bg{  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;    
      background-color:#000000;
	}
</style>

<div class="header" style="background:#fff;padding:30px 30px 0px 30px;" >
	<h4 style="margin:0px;padding:0px;font-size:18px;">@MessageUtil.getMsgAndNote("我的计划", "", "txt.user.plan")</h4>
	
	<div style="height:40px;background-color: rgb(244, 244, 244);padding:0 30px;margin:30px 0 0 0;line-height:40px;overflow:hidden;">
		<span><a style="color:black" href="" >@MessageUtil.getMsgAndNote("已参与", "", "txt.user.plan.join")</a></span>&nbsp;&nbsp;
		<span><a style="color:#999999;" href="javascript:finish()" >@MessageUtil.getMsgAndNote("已完成", "", "txt.user.plan.finish")</a></span>
	</div>
</div>
<div>
<div id="time_str" style="background-color:#ffffff;"></div>
</div>
@assign("time_item"){
	<div style="background-color: white;">
	<div style=" width:200px; color:white; padding-top:30px;">
	<span class="fa fa-long-arrow-right" style="color:#999999;padding-left:30px;" >%recordTimeStr</span>
	</div>
	<div class="clearfix"></div>
	<div >
	%plan_item
	</div>
	
	</div>
	<div class="clearfix"></div>
}
@assign("plan_empty"){
<div style="width:100%;padding:10px 30px;background-color: white">
   <span >@MessageUtil.getMsgAndNote("暂无数据", "", "txt.user.plan.nullData")</span>
  </div>
  }
<div style="width:100%;height:220px;background-color: white;"></div>
@assign("plan_item"){
<a style="color:#000000;" href="@url("/pub/plan/innerPlanDetail.action?planId=%id")">
<div class="planList" style="position:relative;margin-left:30px;margin-top:20px;width: 240px;height:240px;float:left; overflow: hidden; background-color: rgb(244, 244, 244);">
	<div class="" style="width:240px;height:140px;">
			<img style="width:100%;height:100%;" src="@url("/pub/image.action?fileId=%pictureId")">
		</div>
		<div style="height:25px; margin-left:23px;margin-top:20px;">
			<span style="font-weight: bold;font-size: 110%;">%title</span>
		</div>
		<div style="margin-left:23px;">
			%tagName
		</div>
		<div style="height:23px; color:#999999;margin-left:25px; padding-top:6px;" class="center-font-content">
			<span ><small>%numCourse&nbsp;@MessageUtil.getMsgAndNote("门课程", "", "txt.user.plan.numCourse")</small></span> &nbsp; &nbsp;
			<span ><small>%numStudy&nbsp;@MessageUtil.getMsgAndNote("人学习", "", "txt.user.plan.numStudy")</small></span>
		</div>
		
		<div style="width:240px;height:30px;position:absolute;top:106px;">
			<div style="width:100%;height:100%;position:relative;">
				<div class="plan_progress_bg" style="position:absolute;width:100%;height:100%;left:0;top:4px;"></div>
				<!-- 设置width的值即为设置进度条的长度 -->
				<div style="width:%progress_width;position:absolute;bottom:0;left:0;top:9px;">
					<div style="font-size:14px;color:#ffffff;text-align:right;">%progress_percent</div>
					<div style="height:5px;background-color:#b60006;"></div>
				</div>
			</div>
		</div>
	</div>
</a>
}

	
	
<script>
$(function(){
	$.ajax({
		url:"@url("/pub/plan/userPlanList.action")",
		data:{planType:1},
		type:"post", 
		bodyMsg:true,
		mask:false,
		success:function(result){
			var list = result.data;
			if(list.length==0){
				$("#time_str").html('@es(plan_empty).raw()');
				return;
			}
			var totalStr = '';
			for(var i=0;i<list.length;i++){
			
				var time = list[i];
				var item ='@es(time_item).raw()'.replace(/%recordTimeStr/g,time.recordTimeStr);
				var subList = time.recordPlanList;
				var subStr =''
				for(var j =0;j<subList.length;j++){
					var subItem = subList[j];
					var tagName ="";
					var tagNames = subItem.tagNames;
					if(tagNames){
						tagNames = tagNames.split(" ");
						for (var k=0;k<tagNames.length ;k++ ) { 
						tagNames[k] = hideStringByMax(tagNames[k],4);
							if(k<2){
								tagName += '<span style="background-color:#E6E6E6;font-size: 12px;color:#666666;width:70px;height:22px;display: block;float: left;margin-right: 10px;text-align:center;line-height:22px;">'+tagNames[k]+'</span>'+'&nbsp;&nbsp;';
							}
						} 
					
					}
					
					if(subItem.tagName){
						tagName = subItem.tagName;
					}	
					var progress_width = "0";
					var progress_percent = "0%";
					var finishChapterNum = subItem.finishChapterNum;
					if(finishChapterNum==null||finishChapterNum==''){
						finishChapterNum = 0;
					}
					var allChapterNum = subItem.allChapterNum;
					if(allChapterNum==null||allChapterNum==''){
						allChapterNum = 0;
					}
					if(allChapterNum != 0){
						progress_width = finishChapterNum*(accDiv(240,allChapterNum))+"px";
						if(finishChapterNum==allChapterNum){
							progress_percent = "100%";
						}else{
							progress_percent = (Math.ceil((finishChapterNum*100)/allChapterNum)) >100 ? 100 : (Math.ceil((finishChapterNum*100)/allChapterNum)) +"%";
						}
					}
					var title=hideStringByMax(subItem.title,10)
					var subItemStr = '@es(plan_item).raw()'.replace(/%title/g, title)
					.replace(/%id/g,subItem.id)
					.replace(/%pictureId/g,subItem.pictureId)
					.replace(/%numCourse/g,subItem.numCourse)
					.replace(/%numStudy/g,subItem.numStudy)
					.replace(/%tagName/g,tagName)
					.replace(/%recordTime/g,subItem.recordTime)
					.replace(/%progress_width/g, progress_width)
					.replace(/%progress_percent/g,progress_percent);
					subStr += subItemStr;
				}
				
				item = item.replace(/%plan_item/g,subStr);
				totalStr += item;
			}
		
			$("#time_str").html(totalStr);
		}
	})
});

function finish(row){
		window.location.href = "@url("/client/center/userPlanFinishListInit.action")";
	}
	
</script>