﻿@import() {
     com.cloudsoaring.web.course.entity.*,
     com.cloudsoaring.web.discuss.constant.*,
     com.cloudsoaring.web.course.constant.CourseMsgNames
}
@extends(center_base, selectedPage: "user_plan")
@args DiscussDataEntity condition
@args String planType

<style>
	.plan_progress_bg{  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;    
      background-color:#000000;
	}
</style>

<div class="header" style="background:#fff;padding:30px 30px 0 30px;" >
	<h4 style="margin:0px;padding:0px;font-size:18px;">@MessageUtil.getMsgAndNote("我的计划", "", "txt.user.plan")</h4>
	
	<div style="height:40px;background-color: rgb(244, 244, 244);padding:0 30px;margin:30px 0 0 0;line-height:40px;overflow:hidden;">
		<span><a style="color:#999999;" href="javascript:join()" >@MessageUtil.getMsgAndNote("已参与", "", "txt.user.plan.join")</a></span>&nbsp;&nbsp;
		<span><a style="color:black;" href="" >@MessageUtil.getMsgAndNote("已完成", "", "txt.user.plan.finish")</a></span>
	</div>
</div>

<div id="listDiv" style="padding-left:10px;background-color: white;">
@line_list(url:("/pub/plan/userPlanList.action?planType="+planType), pageSize:5){
	@list_item(renderItemFunction:"renderItemContent") {
	<a style="color:#000000;" href="@url("/pub/plan/innerPlanDetail.action?planId=%id")">
	<div style="margin-bottom:5px;">
			<div  style=" width:100%;padding:30px 0; overflow: hidden;background-color: rgb(255, 255, 255);">
						<img style="width:245px;height:135px;float:left;margin-left:20px;" src="@url("/pub/image.action?fileId=%pictureId")">
						<div style="width:500px;height:132px;overflow:hidden;float:left;margin-left:30px;">
							<div>
								<span style="font-size:16px;color:#000000;">%title</span>
								<span style="font-size:12px;color:#666666;margin-left:30px;">%planStatus</span>
							</div>
							<div style="margin-top:20px;font-size:12px;color:#999999;">
								<span>%content</span>
								<span style="margin-left:20px;">@MessageUtil.getMsgAndNote("学习耗时:", "", "txt.user.plan.timeCostSum")%timeCostSum</span>
								<span style="margin-left:20px;">@MessageUtil.getMsgAndNote("最后学习:", "", "txt.user.plan.studyDateMax")%studyDateMax</span>
							</div>
					   </div>
					   <div class="clearfix"></div>
					 <div style="width:245px;height:30px;float:left;margin-left:20px;margin-top:-30px;">
						<div style="width:100%;height:100%;position:relative;">
							<div class="plan_progress_bg" style="position:absolute;width:100%;height:100%;left:0;top:0;"></div>
							<!-- 设置width的值即为设置进度条的长度 -->
							<div style="width:%progress_width;height:30px;position:absolute;left:0;top:5px;">
								<div style="font-size:14px;color:#ffffff;text-align:right;">%progress_percent</div>
								<div style="height:5px;background-color:#b60006;"></div>
							</div>
						</div>
					</div>	
					<div class="clearfix"></div>	
		 	 </div>
  </div>
  </a>
 	}
}
</div>
	




	
<script>	
	
	function renderItemContent(itemContent, obj) {
		var content = hideStringByMax(obj.content,12);
		var title = hideStringByMax(obj.title,20);
		var planStatus = hideStringByMax(obj.planStatus,20);
		var timeCostSum = hideStringByMax(obj.timeCostSum,20);
		var studyDateMax =  hideStringByMax(obj.studyDateMax,20);
		var id =  hideStringByMax(obj.id);
		
		var progress_width = "0";
		var progress_percent = "0%";
		var finishChapterNum = obj.finishChapterNum;
		if(finishChapterNum==null||finishChapterNum==''){
			finishChapterNum = 0;
			}
		var allChapterNum = obj.allChapterNum;
			if(allChapterNum==null||allChapterNum==''){
				allChapterNum = 0;
			}
				if(allChapterNum != 0){
					progress_width = finishChapterNum*(accDiv(245,allChapterNum))+"px";
						if(finishChapterNum==allChapterNum){
							progress_percent = "100%";
						}else{
							progress_percent = Math.floor((finishChapterNum*100)/allChapterNum) +"%";
						}
					}
					
		if(obj.planStatus == "1"){
			var planStatus = "@MessageUtil.getMsgAndNote("连载中", "", "txt.user.plan.Serial")";
		}else if(obj.planStatus == "2"){
			var planStatus = "@MessageUtil.getMsgAndNote("更新完成", "", "txt.user.plan.updateComplete")";
		}else if(obj.planStatus == "3"){
			var planStatus = "@MessageUtil.getMsgAndNote("已结束", "", "txt.user.plan.updateFinish")";
		}	
		return itemContent
					.replace(/%title/g, replaceNull(title))
					.replace(/%content/g, replaceNull(content))	
					.replace(/%pictureId/g,obj.pictureId)	
					.replace(/%timeCostSum/g,formatDurationToHour(timeCostSum))
					.replace(/%planStatus/g,planStatus)
					.replace(/%progress_width/g,progress_width)
					.replace(/%progress_percent/g,progress_percent)
					.replace(/%id/g,id)
					.replace(/%studyDateMax/g, formatPublishTime(studyDateMax));
	}
	//替换null为空字符串
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	function join(row){
		window.location.href = "@url("/client/center/userPlanJoinListInit.action")";
	}
	
	
</script>