@import(){com.cloudsoaring.web.course.view.PlanView}
@args PlanView plan
@extends(center_base,title:"",selectedPage: "teacherPlan")
<div style="background-color:#ffffff;height:100%;">
<div style="font-weight: bold;font-size: 120%;height:60px;border-bottom-style: solid; border-bottom-width:thin;border-bottom-color:#DDDDDD; margin-bottom: 20px;">
	<div style="padding-left:15px;line-height:60px;">我的管理计划</div>
</div>

@table(id:"search-result", url:"/client/center/userManagePlan.action",showColumns:false){
	@columns(){											
		{field: 'title',title: "计划名称",width:80,sortable: true},
		{field: 'content',title: "计划介绍",width:80,sortable: true},	
		{field: 'planStatus',title: "计划状态",width:80,sortable: true,align:'center',formatter:formatterPlanStatus},									
		@optcolumn(width:100){
			@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_VIEW), iconcss:"glyphicon-eye-open", onclick:"viewPlanUser")
		}															
	}
}
<div class="clearfix"></div>
</div>

<script type="text/javascript">
	//显示发布状态
	function formatterPlanStatus(value, row, index){ 
   		if(value != null){
   			if(value == 1){
				return "连载中";
			}else if(value == 2){
				return "更新完成";
			}else if(value == 3){
				return "已结束";
			}
   		}  		
	}
	//查看计划
	function viewPlanUser(row){
		window.location.href = "@url("/client/center/userManagePlanUserInit.action?id=")" + row.id;
	}
</script>