@import(){com.cloudsoaring.web.bus.entity.Message,com.cloudsoaring.web.trainingplatform.constants.*}
@args String title = "我的消息",Integer unReadCount,String messagesResult
@extends(center_base, title:title, selectedPage: "my_messages")

<!-- css样式类 -->
<style>
	.item_span:hover{
		color:#000000;
	}
	.item_active{
		color:#000000;
	}
	.item_span{
		margin-right:30px;
		cursor:pointer;
	}
.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px red solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}
</style>
<!-- angularjs开始位置 -->
<div ng-app="myApp">
	<div ng-controller="mainCtrl" style="width:830px;overflow:hidden;padding:30px;background-color:#ffffff;">
		<div style="font-size:16px;color:#333333;">我的消息</div>
		<div style="margin-top:30px;">
			<div style="height:40px;background-color:#E9E9E9;font-size:14px;padding:0 30px;color:#666666;line-height:40px;">
				<span ng-if="status == 0" class="item_span item_active">全部</span>
				<span ng-if="status != 0" class="item_span " ng-click="searchAll()">全部</span>
				<span ng-if="status == 1" class="item_span item_active">已读</span>
				<span ng-if="status != 1" class="item_span" ng-click="searchRead()">已读</span>
				<span ng-if="status == 2" class="item_span item_active">未读</span>
				<span ng-if="status != 2" class="item_span" ng-click="searchUnRead()">未读</span>
				<span class="item_span" ng-click="flagCheckedMessageRead()">标记为已读</span>
				<span class="item_span" ng-click="deleteChecked()">删除</span>
				<span style="float:right;">
					<span class="gh gh-envelope"></span>
					<span style="margin-left:5px;">共{{record}}条</span>
					<span class="fa fa-envelope" style="margin-left:10px;"></span>
					<span style="margin-left:5px;">{{unReadCount}}条未读</span>
				</span>
			</div>
			<!-- 消息列表 -->
			<div style="margin-top:30px;">
				<table class="table table-hover">
				  <thead>
				  	<tr>
				  		<th style="width:30px;">
							<input ng-model="checkAll" type="checkbox"style="margin-top:5px;">
				  		</th>
				  		<th style="width:50px;font-size:14px;color:#333333;">状态</th>
				  		<th style="font-size:14px;color:#333333;">消息内容</th>
				  		<th style="width:120px;font-size:14px;color:#333333;">发送日期</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr ng-repeat="item in list"  style="font-size:14px;color:#666666;">
				  		<td><input type="checkbox" style="margin-top:5px;" ng-model="checked[$index]"></td>
				  		<td>
				  			<span style="cursor:pointer;" ng-show="item.status=='@Message.STATUS_UNREAD'" class="fa fa-envelope" ng-click="flagMessage($index)"></span>
				  			<span ng-show="item.status=='@Message.STATUS_READED'" class="fa fa-envelope-o"></span>
				  		</td>
				  		<td ng-bind="item.message"></td>
				  		<td style="font-size:12px;color:#666666;" ng-bind="item.createDate|date:'yyyy/MM/dd HH:mm'"></td>
				  	</tr>
				  </tbody>
				</table>
				<!-- 分页 -->
				<div style="margin-top:30px;text-align:center;">
					<span style="" ng-repeat="item in pageList">
						<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}">{{item.text}}</span>
						<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="searchList4Page(item.clickNum)">{{item.text}}</span>
					</span>
				</div>
			</div><!-- 消息列表 end-->
		</div>
	</div>
</div>
<!-- 引入JS文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<script>
	myApp.controller("mainCtrl",function($scope,$http){
		//当前页数
		$scope.page = 1;
		//共多少条未读消息
		$scope.unReadCount = @unReadCount;
		//将分页消息ResultBean 字符串转成JSON对象
		var result = eval("("+'@messagesResult'+")");
		//总共多少条记录
		$scope.record = result.record;
		//全选初始化
		$scope.checkAll = false;
		//消息数组
		$scope.list = result.data;
		//分页数组
		$scope.pageList = getPageList(result.page,result.total);
		//每一项的checkbox
		$scope.checked = [];
		//初始化时默认未选中
		for(var i=0;i<$scope.list.length;i++){
			$scope.list[i].createDate = $scope.list[i].createDate.time;
			$scope.checked.push(false);
		}
		//全选变化
		$scope.selectAll = function(){
			$scope.checkAll = !$scope.checkAll;
		};
		//监听全选选中状态变化
		$scope.$watch("checkAll",function(newValue,oldValue){
			for(var i=0;i<$scope.list.length;i++){
				$scope.checked[i] = newValue;
			}
		});
		//检索条件，初始化为全部
		$scope.status = 0;
		//点击全部
		$scope.searchAll = function(){
			$scope.page = 1;
			$scope.status = 0;
			$scope.searchList();
		};
		//点击已读
		$scope.searchRead = function(){
			$scope.page = 1;
			$scope.status = 1;
			$scope.searchList();
		};
		//点击未读
		$scope.searchUnRead = function(){
			$scope.page = 1;
			$scope.status = 2;
			$scope.searchList();
		};
		//点击分页
		$scope.searchList4Page = function(num){
			$scope.page = num;
			$scope.searchList();
		};
		//检索数据
		$scope.searchList = function(){
			var params = '';
			if($scope.status == 0){
				params = {pageNumber:$scope.page,pageSize:@TpDefaultValues.DEFAULT_MY_MESSAGES_PAGE_SIZE};
			}else if($scope.status == 1){
				params = {pageNumber:$scope.page,pageSize:@TpDefaultValues.DEFAULT_MY_MESSAGES_PAGE_SIZE,status:"@Message.STATUS_READED"};
			}else if($scope.status == 2){
				params = {pageNumber:$scope.page,pageSize:@TpDefaultValues.DEFAULT_MY_MESSAGES_PAGE_SIZE,status:"@Message.STATUS_UNREAD"};
			}
			$http.post("@url("/client/center/searchMyMessages.action")",params)
			.success(function(result){
				if(result.status){
					$scope.page = result.page;
					$scope.record = result.record;
					$scope.list = result.data;
					$scope.pageList = getPageList(result.page,result.total);
					//全选初始化
					$scope.checkAll = false;
					$scope.checked = [];
					//初始化时默认未选中
					for(var i=0;i<$scope.list.length;i++){
						$scope.checked.push(false);
					}
				}else{
					noticeError(result.messages);
				}
			});
		};
		
		//标记某一个消息为已读
		$scope.flagMessage = function(index){
			var arr = [$scope.list[index].messageId];
			var indexArr = [index];
			$scope.flagMessageRead(arr,indexArr);
		};
		
		//标记选中的消息为已读
		$scope.flagCheckedMessageRead = function(){
			var arr = [];
			var indexArr = [];
			for(var i=0;i<$scope.checked.length;i++){
				if($scope.checked[i]){
					//被选中
					if($scope.list[i].status=='@Message.STATUS_UNREAD'){
						arr.push($scope.list[i].messageId);
						indexArr.push(i);
					}
				}
			}
			//判断选中的是否为空
			if(arr.length>0&&indexArr.length==arr.length){
				$scope.flagMessageRead(arr,indexArr);
			}else{
				noticeError("请选择要标记的消息！");
			}
		};
		
		//点击删除按钮
		$scope.deleteChecked = function(){
			var arr = [];
			var unreadCount = 0;
			for(var i=0;i<$scope.checked.length;i++){
				if($scope.checked[i]){
					//被选中
					arr.push($scope.list[i].messageId);
					if($scope.list[i].status=='@Message.STATUS_UNREAD'){
						unreadCount++;
					}
				}
			}
			//判断选中的是否为空
			if(arr.length>0){
				$scope.deleteMessages(arr,unreadCount);
			}else{
				noticeError("请选择要删除的消息！");
			}
		};
		
		//删除数据
		$scope.deleteMessages = function(arr,unreadCount){
			confirm("是否确定删除所选消息？",function(){
				$http.post("@url("/client/center/deleteMessages.action")",{messageIds:arr.join(",")})
				.success(function(result){
					if(result.status){
						noticeInfo("删除成功！");
						$scope.searchList();
						$scope.unReadCount = $scope.unReadCount-unreadCount;
					}else{
						noticeError(result.messages);
					}
				});
				return true;
			})
		}
		
		//将消息标记为已读
		$scope.flagMessageRead = function(idsArr,indexArr){
			$http.post("@url("/client/center/flagMessageRead.action")",{messageIds:idsArr.join(",")})
			.success(function(result){
				if(result.status){
					$scope.unReadCount = $scope.unReadCount-idsArr.length;
					for(var i=0;i<indexArr.length;i++){
						$scope.list[indexArr[i]].status = '@Message.STATUS_READED';
					}
				}else{
					noticeError(result.messages);
				}
			});
		}
	});
</script>

