@args String title
@extends(center_course_base, activeNo: 1)
<link rel="stylesheet" media="screen" href="@WebContext.url("/css/mydirective.css")">

<div style="margin-bottom:20px;width:100%;height:40px; background-color:#F4F4F4;padding: 10px 50px 10px 30px;">
	<div style="float:left; width:150px;font-weight: bold;font-size:15px;">
		<span><a style="color:#666666;" href="javascript:study()">已学</a></span>&nbsp;&nbsp;
		<span><a style="color:black;" href="" >已收藏</a></span>
	</div>	
</div>

@line_list(url:("/pub/course/userCourseList.action?finishType="+1), pageSize:5){
	@list_item(renderItemFunction:"renderItemContent"){
	<div style="margin-bottom:5px;">
		<div class="courseList" style=" width: 770px;padding:30px 0; overflow: hidden;background-color: rgb(255, 255, 255);">
			<div class="thumbnail" style="width:234px;height:132px;float:left;">
				<img style="border:0;width:100%;height:100%;" src="@url("/pub/image.action?fileId=%courseFileId")">
			</div>
			<div style="width:500px;height:132px;overflow:hidden;float:left;margin-left:30px;">
				<div>
					<span style="font-size:16px;color:#000000;">%title</span>
					<span style="font-size:12px;color:#666666;margin-left:30px;">%courseStatus</span>
				</div>
				<div style="margin-top:20px;font-size:12px;color:#999999;">
					<span>%content</span>
					<span style="margin-left:20px;">@MessageUtil.getMessage("学习耗时")：&nbsp;%studyDuration</span>
					<span style="margin-left:20px;">@MessageUtil.getMessage("最后学习")：&nbsp;%lastStudyDate</span>
				</div>
				<div style="margin-top:20px;">
					<button class="btn btn-normal" onclick="startCourse('%id','%lastChapterId')">开始学习</button>
				</div>
			</div>
			<div class="clearfix"></div>					
		</div>					
	</div>
	}		
}

<div id="list_main">

</div>	
<!-- 分页 -->
<div id="paginationDiv">
	
</div>

<script>	
	function renderItemContent(itemContent, obj) {
		var a =  replaceNull(obj.content);
		var b = a.replace(/<[^>]+>/g,"");
		var content = hideStringByMax(b,14);
		var title = hideStringByMax(obj.title,15);
		
		if(obj.courseStatus == null || obj.courseStatus == "undefind"){
			var courseStatusName = "";
		}else{
			if(obj.courseStatus == "1"){
				var courseStatusName = "连载中";
			}else if(obj.courseStatus == "2"){
				var courseStatusName = "已完成";
			}else if(obj.courseStatus == "3"){
				var courseStatusName = "已结束";
			}
		}
		
		//学习时长
		var studyDuration = formatStudyDuration(obj.studyDuration);
		//最后学习时间
		var lastStudyDate = formatLastStudyDate(obj.updateDate);
		
		return itemContent
					.replace(/%id/g, obj.id)
					.replace(/%lastChapterId/g, obj.lastChapterId)
					.replace(/%title/g, replaceNull(title))
					.replace(/%content/g, content)	
					.replace(/%courseFileId/g,obj.pictureId)							
					.replace(/%studyDuration/g,studyDuration)
					.replace(/%courseStatus/g,courseStatusName)
					.replace(/%lastStudyDate/g,lastStudyDate);
	}
	
	//替换null为空字符串
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	//笔记时间，评论时间等显示规则：几分钟前（分钟级别）、几小时前（小时级别）、几天前（7天内），正常时间格式（7天以上）
	//ss:时间秒数
	function formatStudyDuration(v){
		var ss = parseInt(toNumber(v));
		if(ss < 60*60){
			//time一个小时内
			return (Math.floor(ss/(60)))+"分钟";
		}else if(ss < 60*60*24){
			//time一天内
			return (Math.floor(ss/(60*60)))+"小时";
		}else {
			//time在7天内
			return (Math.floor(ss/(60*60*24)))+"天";
		}
	}
	
	//笔记时间，评论时间等显示规则：几分钟前（分钟级别）、几小时前（小时级别）、几天前（7天内），正常时间格式（7天以上）
	//ss:时间毫秒数
	function formatLastStudyDate(v){
		var ss = parseInt(toNumber(v));
		var time = parseInt(ss);
		time = new Date().getTime() - time;
		if(time < 1000*60*60){
			//time一个小时内
			return (Math.floor(time/(1000*60)))+"分钟前";
		}else if(time < 1000*60*60*24){
			//time一天内
			return (Math.floor(time/(1000*60*60)))+"小时前";
		}else if(time < 1000*60*60*24*7){
			//time在7天内
			return (Math.floor(time/(1000*60*60*24)))+"天前";
		}else{
			//time在7天以上
			return dateTimeFormatMi(ss);
		}
	}
	
	function dateTimeFormatMi(value){
		var result = "";
		if(value){
			if(typeof(value) == 'object'){
				result = $.format.date(value, JS_DATE_MINUTE_FORMAT);
			} else {
				result = $.format.date(new Date(Number(value)), JS_DATE_MINUTE_FORMAT);
			}
		}
		return result;
	}
	
	function study(row){
		window.location.href = "@url("/client/center/userCourseStudyList.action")";
	}
	
	//开始学习
	function startCourse(id,lastChapterId){
		if(lastChapterId != "null"){
			window.location.href = "@url("/pub/chapter/toChapterDetail.action?courseId=")" + id + "&chapterId=" + lastChapterId;
		}else{
			window.location.href = "@url("/pub/course/courseDetailInit.action?courseId=")" + id;
		}
	}
	
</script>



