@args DataSourceConfig dataSource, String title="编辑数据源"

@import() {
     com.cloudsoaring.web.ddb.db.*
     com.cloudsoaring.web.ddb.db.entity.*
     com.cloudsoaring.web.ddb.constants.*
}

@{
	Boolean isEdit = dataSource!= null && StringUtil.isNotEmpty(dataSource.dataSourceId);
}
@extends(main, title:@title)

<div class="panel panel-primary">
	@area("数据源"){
		@form("ds-form"){
			@input(label:"数据源名称", name:"dataSourceName", maxlength:"50"
				, placeholder:"请输入数据源名称",value:dataSource.dataSourceName) 
			{	
				@hidden(name:"dataSourceId", value:dataSource.dataSourceId)
			}
			@combobox({
				label:"数据源类型"
				, name:"type"
				, options:"Oracle,SqlServer,MySql"
				, placehoder:"请选择数据源类型"
				, value:StringUtil.getOrElse(dataSource.type)})
			{
			 	<script>
			 		$('#type').change(function(){
			 			var type = $('#type').selectpicker('val');
			 			if(type == 'Oracle'){
				 			//刷新模块
				 			$('#port').val('1521');
			 			}else if(type == 'SqlServer'){
			 				$('#port').val('1433');
			 			}else if(type == 'MySql'){
			 				$('#port').val('3306');
			 			}
			 		});
			 	</script>
			}
			@*input_ip(label:"主机IP", name:"ip", placeholder:"请输入主机IP",value:dataSource.ip)*@
			@input(label:"主机IP", name:"ip", placeholder:"请输入主机IP",value:dataSource.ip)
			@input(label:"用户名", name:"userName", maxlength:"20", placeholder:"请输入用户名",value:dataSource.userName)  
			@input_password(label:"密码", name:"password", maxlength:"50", placeholder:"请输入密码") 
			{
				@hidden(name:"encryptPassword", value:dataSource.encryptPassword)
			}  
			@input(label:"端口", name:"port", maxlength:"5", placeholder:"请输入端口",value:dataSource.port)  
			@input(label:"服务名", name:"service", maxlength:"20", placeholder:"请输入服务名",value:dataSource.service)  
			@input(label:"描述", name:"description", maxlength:"20", placeholder:"请输入描述",value:dataSource.description)  
			@btnbox(border:true){
				@button_save(onclick:"saveDataSource")
				@button(label:"测试连接", onclick:"testConnection", iconcss:"fa fa-link")
				@button_back()
			}
		}
	}
</div>
<script>
	$(function(){
		@if(!isEdit){
 			$('#port').val('1521');
 		}
		
		//Validator
		$('#ds-form').bootstrapValidator({
			//trigger: 'blur',
			submitButton:'#btnSave',
            fields: {
            	dataSourceName: {
            		//trigger: 'focus blur',
                    validators: {
                    	notEmpty: {
                            message: '数据源名称不能为空'
                        },
                        remote: {
	                        message: '数据源名称已存在',
	                        data:function(){
	                        	return {
	                        		dataSourceId:$('#dataSourceId').val(),
	                        		dataSourceName:$('#dataSourceName').val()
	                        	};
	                        },
	                        url: '@url("/ddb/datasource/checkName.action")'
	                    }
                    }
                },
                type: {
                    validators: {
                    	notEmpty: {
                            message: '数据源类型不能为空'
                        }
                   	}
                },
            	ip: {
                    validators: {
                    	notEmpty: {
                            message: '主机IP不能为空'
                        },
                    	ip:{
                    		message: 'IP地址格式不正确'
                    	}
                    }
                },
                userName: {
                    validators: {
                    	notEmpty: {
                            message: '用户名不能为空'
                        }
                    }
                },
                password: {
                    validators: {
                		@if(!isEdit){
	                		notEmpty: {
	                        	message: '密码不能为空'
	                    	}
            			}
                	}
                },
                port: {
                    validators: {
                    	notEmpty: {
                            message: '端口不能为空'
                        },
                        numeric: {
	                        message: '端口格式不正确'
	                    }
                    }
                },
                service: {
                    validators: {
                    	notEmpty: {
                            message: '服务名不能为空'
                        }
	                }
                }
            }
        });
	});
	
	function saveDataSource(){
		$('#ds-form').bootstrapValidator('validate');
   	 	if($('#ds-form').data('bootstrapValidator').isValid()){
			var params = $('#ds-form').serializeObject();
			longAjax({ 
				url: "@url("/ddb/datasource/save.action")",
				data:params,
				type:"post", 
				success: function(result){
		        	//成功
		        	if(result.status){
		        		bodyMessage('success', result.messages);
		        		window.location.href = "@url(WebContext.getActionWithHistQueryString("020201"))";
		        	}else{
		        		bodyMessage('danger', result.messages);
		        	}
		      	}
		    });
		}
	}
	
	function testConnection(){
		$('#ds-form').bootstrapValidator('validate');
   	 	if($('#ds-form').data('bootstrapValidator').isValid()){
			var params = $('#ds-form').serializeObject();
			longAjax({ 
				url: "@url("/ddb/datasource/test.action")",
				data:params,
				type:"post", 
				success: function(result){
		        	//成功
		        	if(result.status){
		        		bodyMessage('success', result.messages);
		        	}else{
		        		bodyMessage('danger', result.messages);
		        	}
		      	}
		    });
		}
	}
</script>