@extends(main,MessageUtil.getMessage(MsgNames.MSG_ICON_ICON_CODE_LIST))
<style>
	a.link-rythm {
		width:300px;
		display:inline-block;
		font-size:20px;
	}
</style>
@content(){
@MessageUtil.getMessage(MsgNames.MSG_USE_METHOD)：<br/>
@(MessageUtil.getMessage(MsgNames.MSG_CODE))：@@button({label:"@MessageUtil.getMessage(MsgNames.MSG_TEST_ICON)", iconcss:"gh gh-asterisk"})<br/>
@(MessageUtil.getMessage(MsgNames.MSG_EFFECT))：@@button({label:"@MessageUtil.getMessage(MsgNames.MSG_TEST_ICON)", iconcss:"gh gh-asterisk"})<br/>
<br/>
@MessageUtil.getMessage(MsgNames.MSG_ICON_REFERENCE_TABLE)：<br/>

	@for(String iconcss : WebHelper.getIconClasses()){
		@link(value:iconcss, iconcss:iconcss)
	}
}
