@extends(main, title:MessageUtil.getMessage(MsgNames.MSG_SAMPLE_FOR_ONLY_PRESERVE_THE_LAYOUT))

@section("sidebar") {
	@MessageUtil.getMessage(MsgNames.MSG_REPLACE_THE_CONTENTS_OF_THE_LEFT)
}

@section("mainContent") {
	SampleCode:<br>
	@@extends(dm.main, title:"@MessageUtil.getMessage(MsgNames.MSG_SAMPLE_FOR_ONLY_PRESERVE_THE_LAYOUT)")<br>
	<br>
	@@section("sidebar") {<br>
		@MessageUtil.getMessage(MsgNames.MSG_REPLACE_THE_CONTENTS_OF_THE_LEFT)<br>
	}<br>
	<br>
	@@section("mainContent") {<br>
		@MessageUtil.getMessage(MsgNames.MSG_REPLACE_THE_CONTENTS_ON_THE_RIGHT)<br>
	}<br>
}

