@extends(main, title:MessageUtil.getMessage(MsgNames.MSG_SAMPLE_FOR_REPLACE_LEFT))

@section("sidebar") {
	MessageUtil.getMessage(MsgNames.MSG_REPLACE_THE_CONTENTS_OF_THE_LEFT)
}

SampleCode:<br>
@@extends(dm.main, title:"@MessageUtil.getMessage(MsgNames.MSG_SAMPLE_FOR_REPLACE_LEFT)")<br>

@@section("sidebar") {<br>
	@MessageUtil.getMessage(MsgNames.MSG_REPLACE_THE_CONTENTS_OF_THE_LEFT)<br>
}<br>