@extends(main, title:MessageUtil.getMessage(MsgNames.MSG_SAMPLE_FOR_PICKER))

@{
	final List<StepInfo> steps1 = new ArrayList<StepInfo>();
	final List<StepInfo> steps2 = new ArrayList<StepInfo>();
	final List<StepInfo> steps3 = new ArrayList<StepInfo>();
	for(int i = 0; i < 8; i++){
		steps1.add(new StepInfo("0" + i,MessageUtil.getMessage(MsgNames.MSG_ORDER_STATUS) + i));
	}
	for(int i = 0; i < 18; i++){
		steps2.add(new StepInfo("0" + i,MessageUtil.getMessage(MsgNames.MSG_ORDER_STATUS) + i));
	}
	for(int i = 0; i < 28; i++){
		steps3.add(new StepInfo("0" + i,MessageUtil.getMessage(MsgNames.MSG_ORDER_STATUS) + i));
	}
}
<script>
	function removeCondition(){
		bodyInfo("@MessageUtil.getMessage(MsgNames.MSG_DELETE_OPERATION_CAN_REFRESH)");
	}
	function changeCondition(){
		bodyWarning("@MessageUtil.getMessage(MsgNames.MSG_CONDITIONS_CHANGED_REFRESH_THE)");
	}
</script>
@selector(options:steps1, labelfield:"name",label:MessageUtil.getMessage(MsgNames.MSG_ORDER_STATUS_1), id:"orderStatus1", onchange:"changeCondition")
@selector(options:steps2, labelfield:"name",label:MessageUtil.getMessage(MsgNames.MSG_ORDER_STATUS_2), id:"orderStatus2", onchange:"changeCondition")
@selector(options:steps3, labelfield:"name",label:MessageUtil.getMessage(MsgNames.MSG_ORDER_STATUS_3), id:"orderStatus3", onchange:"changeCondition")
@selector_tags(onremove:"removeCondition")

@div(style:"padding:0px 35px;"){
	@column(css:"col-6",style:"padding-right:20px;padding-left:0px"){
		@panel(MessageUtil.getMessage(MsgNames.MSG_POLICIES)){
			@MessageUtil.getMessage(MsgNames.MSG_JOE_SMITH)
		}
	}
	@column(css:"col-6",style:"padding-left:20px;padding-right:0px"){
		@panel(MessageUtil.getMessage(MsgNames.MSG_PARK_NEWS)){
			@MessageUtil.getMessage(MsgNames.MSG_JOE_SMITH)
		}
	}
}
	
	