
/*全局样式*/
body {
    padding-top: 70px;
}
html,body {
    background: #f1f1f1;
    color: #929292;
    font: 12px Arial,"微软雅黑";
}
input {
    background: none;
    border: none
}
ul,li {
    margin: 0;
    padding: 0
}
ul li {
    list-style-type: none
}
a{
	color: #1c1f21;
}
a:hover {
    text-decoration: none;
}
/*全局按钮*/
.btn {
    border-radius: 0;
    padding: 6px 15px;
    transition: color 0.3s ease-out 0s;
}
.btn-gray {
    background-color: #505050;
    border: none;
    color: #acacac;
}
.btn-gray1 {
    background-color: #aeaeae;
    border: none;
    color: #ffffff;
}
.btn-gray1:hover {
    background-color: #0da3e2;
    border: none;
    color: #ffffff;
}
.btn-gray:hover {
    color: #ffffff
}
.btn-blue {
    background-color: #0da3e2;
    border: none;
    color: #ffffff;
}
.btn-blue:hover {
    color: #ffffff;
}
.btn-login {
    font-size: 24px;
    padding:5px 40px;
    float: left
}
.btn-configInfo {
    width:100%;
    font-size: 24px;
    padding:5px 40px;
    float: left
}
/*全局小图标*/
.yy-icon {
    background-image: url("../images/yy-icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
}
.yy-soi {
    transition: transform 0.3s ease 0s;
    background-position: -185px -658px;
    height: 9px;
    width: 9px;
}
.yy-soicon {
    position: relative;
    top: 6px;
}
.yy-weixin {
    background-position: 0 -100px;
    height: 40px;
    width: 40px;
}
.yy-gt {
    background-position: -90px -100px;
    height: 40px;
    width: 40px;
}
.yy-tjhs {
    background-position: 0 -591px;
    height: 16px;
    width: 12px;
}
.yy-ssina {
    background-position: -110px 0;
    height: 50px;
    width: 60px;
}
.blog-footer .share-detail .yy-ssina:hover {
    background-color: #d63b22;
}
.yy-sqq {
    background-position: -220px 0;
    height: 50px;
    width: 60px;
}
.blog-footer .share-detail .yy-sqq:hover {
    background-color: #3eb0d8;
}
.yy-stt {
    background-position: 0 0;
    height: 50px;
    width: 60px;
}
.blog-footer .share-detail .yy-stt:hover {
    background-color: #31c1eb;
}
.yy-sfb {
    background-position: -330px 0;
    height: 50px;
    width: 60px;
}
.blog-footer .share-detail .yy-sfb:hover {
    background-color: #39599f;
}
.yy-soi2 {
    background-position: -459px -542px;
    height: 15px;
    width: 13px;
}
.yy-qql {
    background-position: -430px -232px;
    height: 26px;
    width: 25px;
}
.modal-content,.form-control {
    border-radius: 0;
}
/*顶部导航*/
.navbar-default {
    background-color: #323436;
}
.navbar-default .navbar-toggle {
    border: none;
    float: none;
    border-radius: 0;
    color: #ffffff;
    padding: 18px 20px;
    margin: 0 15px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #4b4d4f;
}
.navbar-brand {
    padding: 6px 40px 6px 15px;
}
#navbar ul li a {
    color: #8c8c8c;
    display: block;
    font-size: 14px;
    line-height: 50px;
    padding: 0 20px;
    transition: background-color 0.3s ease 0s;
}
#navbar ul li a:hover {
    background: #454648;
    color: #ffffff;
}
#navbar li a.active {
    background-color: #4b4d4f;
    color: #f1f1f1;
}
#nav-bread {
    background-color: #f7f8f8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 3;
}
#nav-bread ul {
    margin-left: 0;
    padding-left: 0;
}
.navCategory {
    cursor: pointer;
    float: left;
    margin-right: 1px;
}
.soitemcontent {
    display: none;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
#sofid .soitemlabel {
    background: #edeeee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11) inset;
}
.sotj, .sotj .soitemlabel {
    width: 126px;
}
.soitemlabel {
    color: #535353;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100px;
}
.soitemlabeltxt {
    margin: 0 10px;
}
.sotj .yy-soicon {
    position: relative;
    top: 6px;
}
.soitemlabel .icon-flag,.soitemlabel .icon-user,.soitemlabel .icon-calendar {
    padding-left: 18px;
    color: #707173
}
.soitem {
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 1px;
}
.soitem:hover {
    cursor: pointer
}
.soitem:hover .yy-soi {
    transform: rotate(180deg);
}
.sotj .soitemcontent {
    height: auto;
    padding: 10px 0;
    width: 126px;
    position: absolute;
}
.soitemcontent {
    background: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    display: none;
}
.sotj .soitemcontent li {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left;
    height: 34px;
    width: 126px;
    position: relative;
}
.sotj .soitemcontent li:last-child {
    border-bottom: none;
}
.sotj .soitemcontent li a.active {
    color: #0da3e2;
}
.sotj .soitemcontent li a {
    color: #747474;
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 126px;
}
.sotj .soitemcontent li a:hover {
    background: #0da3e2;
    color: #ffffff;
}
.sotj .soitemcontent li span {
    margin-right: 15px;
}
/*右侧登录按钮*/
#hrnav {
    position: relative;
    width: auto;
}
#soform {
    border-radius: 13px;
    float: left;
    height: 26px;
    margin-right: 10px;
    margin-top: 12px;
    overflow: hidden;
    transition: all 0.1s ease-out 0s;
    width: 30px;
}
#soform.open {
    background: #ffffff;
    width: 180px;
}
#soform form input[type="text"] {
    color: #8b8d90;
    float: left;
    line-height: 14px;
    outline: medium none;
    padding: 6px;
    width: 120px;
}
#soform .icon-search {
    cursor: pointer;
    font-size: 14px;
    height: 20px;
    margin-left: 6px;
    margin-top: 4px;
    width: 20px;
    float: left;
    display: inline-block;
}
#soform.open .glyphicon-search {
    color: #929292
}
#soform .glyphicon-search:hover {
    color: #ffffff
}
#mulogin {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 0;
}
/*博客列表*/
.blog-list {
    margin-top: 95px;
}
.blog-list .blog-list-item {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.blog-list .blog-list-item:nth-child(4n) {
    /*margin-right: 0;*/
}
.blog-list-item .item-Img {
    display: block;
    overflow: hidden;
    position: relative;
}
.blog-list-item .item-des {
    padding: 24px 20px 10px;
}
.blog-list-item .item-des .item-title {
    color: #3a3a3a;
    display: block;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.blog-list-item .item-des .item-time {
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
}
.blog-list-item .item-des .summary {
    color: #999999;
    font-size: 13px;
    height: 50px;
    line-height: 24px;
    margin-top: 10px;
    overflow: hidden;
}
.blog-list-item .item-more {
    padding: 0 20px;
    width: auto;
}
.blog-list-item .item-more span {
    display: inline-block;
    margin-right: 15px;
    height: 30px;
    line-height: 30px;
}
.blog-list-item .item-more span a {
    color: #929292;
    margin-left: 7px;
}
.blog-list-item .item-time a,.blog-detail .item-time a {
    color: #929292;
    margin-left: 3px;
}
.blog-list-item .item-more i {
    color: #d1d1d1;
    display: block;
    float: left;
    font-size: 15px;
    margin-top: 6px;
    width: 13px;
}
/*分页样式*/
#pages {
    height: 36px;
    margin-bottom: 40px;
}
#pages .opt-icon {
    font-size: 28px;
}
#pages a#pageactive {
    background: #0da3e2;
    color: #fff;
}
#pages a {
    background: #ffffff;
    color: #a9a9a9;
    display: block;
    float: left;
    font-family: Arial;
    height: 36px;
    line-height: 36px;
    margin-right: 5px;
    text-align: center;
    transition: background-color 0.2s ease-out 0s;
    width: 36px;
}
#pages a:hover {
    background: #969696;
    color: #ffffff;
}
#pages span {
    float: left;
    line-height: 28px;
    margin: 3px 20px 0 14px;
}
/*footer部分*/
#footer {
    background: #222324;
    color: #8e8e8e;
    height: 60px;
    padding: 20px 0;
    width: 100%;
}
#cbbfixed {
    bottom: -85px;
    position: fixed;
    right: 10px;
    transition: bottom 0.3s ease 0s;
    z-index: 3;
}
#cweixin {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}
.cbbtn {
    background: #515151;
    opacity: 0.6;
    display: block;
    height: 40px;
    width: 40px;
}
#gotop {
    background: #515151;
    opacity: 0.6;
    margin-top: 1px;
    transition: background-color 0.3s ease 0s;
}
#gotop:hover {
    background: #0da3e2;
}
#cweixin div {
    background: url("../images/weixin.png") no-repeat;
    height: 199px;
    left: -194px;
    opacity: 0;
    position: absolute;
    top: -115px;
    transform: scale(0);
    transform-origin: 100% 70% 0;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    width: 194px;
}
#cweixin:hover div.showQr {
    opacity: 1;
    display: block;
    transform : scale(1);
}
/*博客详情*/
.blog-detail {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 20px;
}
#puinfo {
    height: 50px;
    width: auto;
}
#puinfo #puinfobody {
    float: left;
}
#puinfobody h3 {
    color: #8c8c8c;
    font-size: 20px;
    font-weight: 500;
}
#puinfobody h3 span {
    margin-left: 10px;
    position: relative;
    top: 2px;
}
#puinfobody p {
    color: #989898;
    line-height: 20px;
}
#prenqi {
    color: #535353;
    font-size: 48px;
}
#prenqi span {
    font-size: 14px;
    margin-right: 10px;
}
.blog-detail .content {
    margin:10px auto 0;
    min-height: 500px;
}
.blog-footer {
    margin-top: 96px;
}
.blog-footer .qrCode {
    height: 90px;
}
.blog-footer .qrCode span {
    display: inline-block;
    padding:0 15px;
    color: #252525;
}
.blog-footer .qrCode span h2 {
    margin-top:14px;
}
.blog-footer .qrCode span small {
    font-size: 110%
}
.blog-footer .ilike a {
    background: #d9534f;
    color: #ffffff;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-footer .likePerson {
    padding: 10px 0 20px;
}
.blog-footer .likePerson .likeImg {
    float: left;
    margin-top: 5px;
}
.blog-footer .likePerson .list ul li {
    float: left;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.blog-footer .share-detail {
    height: 80px;
    position: relative
}
.blog-footer .share-detail .pvshare {
    background-color: #dddddd;
}
.blog-footer .share-detail .share-btn {
    position: absolute;
    right: 0px;
    top: 20px;
}
.share-detail #ptags {
    margin-top: 44px;
}
#ptags a {
    background: #ededed;
    color: #838383;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    transition: background-color 0.3s ease-out 0s;
    width: auto;
}
#ptags a:hover {
    background: #65686a;
    color: #ffffff;
}
#ptags .yy-soi2 {
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.maybeLike {
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.maybeLike h3 {
    color: #acacac;
    font-size: 14px;
}
.maybeLike ul li {
    float: left;
}
.maybeLike ul li.col-md-3 {
    padding-left: 4px;
    padding-right: 4px;
}
.detail-Comments {
    background: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.detail-Comments .notice {
    margin-top: 20px;
}
.detail-Comments .notice p {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.detail-Comments .comments-num {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
}
/*用户登录*/
.loginModal {
}
.userlogin {
}
.ulpanel {
    padding: 50px 50px 0;
}
.ulpanel #ul-s5 {
    height: 46px;
}
.ulpanel #ul-s6 {
    line-height: 40px;
    padding-left: 20px;
}
.login-title {
    height: 42px;
}
.login-title #ul-s2 {
    color: #292929;
    float: left;
    font-size: 30px;
}
.login-title #ul-s3 {
    color: #707070;
    float: right;
    font-size: 18px;
    position: relative;
    top: 14px;
}
.login-title #ul-s3 a {
    color: #ff4200;
}
.email-login {
    color: #292929;
    font-size: 14px;
    height: 20px;
    margin-top: 15px;
}
.email-login .submitwarning {
    background: #ff7200;
    color: #ffffff;
    display: none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 14px;
    padding: 0 4px;
    text-align: center;
}
#ulline {
    border-bottom: 1px solid #ecf2f5;
    float: left;
    height: 1px;
    margin-bottom: 8px;
    margin-top: 24px;
    width: 100%;
}
.qtpanel {
    padding: 0 50px 50px;
}
.qtpanel p {
    line-height: 56px;
}
.qtpanel a {
    background: #3eb0d8 ;
    color: #fff;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 160px;
}
.qtpanel a span {
    display: inline-block;
    position: relative;
    right: 12px;
    top: 8px;
}
/*关闭按钮*/
.btn-close {
    background: #fff;
    display: block;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
}
.btn-close a div {
    background: #7c7c7c;
}
.pwclose {
    display: block;
    float: right;
    height: 16px;
    position: relative;
    transform: rotate(45deg);
    transition: all 0.3s ease-out 0s;
    width: 16px;
}
.pwclose:hover {
    transform : rotate(225deg);
}
.pwclose_h {
    background: #ffffff;
    height: 2px;
    position: absolute;
    top: 7px;
    width: 16px;
}
.pwclose_s {
    background: #ffffff;
    height: 16px;
    left: 7px;
    position: absolute;
    width: 2px;
}
/*用户注册*/
.reg_setp {
    background: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.back_setp {
    cursor: pointer;
    font-size: 22px;
    left: 20px;
    position: absolute;
    top: 20px;
    transition: all 0.3s ease-in 0s;
    padding: 7px 26px;
}
.back_setp:hover {
    background-color: #0da3e2;
    color: #ffffff;
}
.blogo {
    height: 180px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    top: 50px;
    width: 150px;
}
#setp_quicklogin {
    display: none;
    height: 210px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    text-align: center;
    top: 230px;
    width: 400px;
}
#setp_quicklogin h3,.reg_setp h3 {
    font-size: 14px !important;
    font-weight: 500;
    /*height: 80px;*/
    line-height: 60px;
    overflow: hidden;
}
.quicklogin_socical {
    margin-bottom: 20px;
}
.quicklogin_socical li {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.quicklogin_socical li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    /*text-indent: 68px;*/
    /*width: 186px;*/
    padding: 0 30px;
}
.quicklogin_socical_qq a {
    background-color: #3eb0d8;
    border: 2px solid #3eb0d8;
    margin-bottom: 20px;
}
.quicklogin_socical_qq .yy-qql {
    float: left;
    margin-left: 4px;
    margin-top: 8px;
}
/*确认用户信息*/
#setp_pofile {
    height: 210px;
    left: 50%;
    margin-left: -275px;
    position: absolute;
    text-align: center;
    top: 230px;
    width: 550px;
}
.confirmInfo {
    display: block;
    /*width: 550px;*/
}
.confirm-error {
    margin-bottom: 20px;
}
.confirm-form .form-group input {
    height: 38px;
}
/*用户中心*/
.uCenter {
    margin-bottom: 20px;
    margin-top: 30px;
    min-height: 780px;
}
.uCenter ul.unav {
    height:63px;
}
.uCenter ul.unav li {
    float: left;
    line-height: 60px;
    background: #6e6f71;
    margin-right: 1px;
}
.uCenter ul.unav li.active {
    background: #ffffff;
}
.uCenter ul.unav li.active a {
    color: #000000
}
.uCenter ul.unav li a {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 0 35px;
}
.uInfos {
    background: #ffffff;
    padding: 40px 0;
}
.uInfos .form-group {
    padding-top: 5px;
    padding-bottom: 5px;
}
.uInfos .form-group input {
    height: 40px;
    border: 1px solid #dbe2e6;
}
.uInfos label {
    color:#757575;
    font-size: 14px;
    font-weight: normal;
}
.uInfos .modify-btn {
    padding: 10px 47px;
}
.uCenter .selectHeaderLog button {
    margin-top: 60px;
    background: #9f9f9f;
    padding: 10px 40px;
    color: #ffffff;
    border: none
}
.uCenter .selectHeaderLog p {
    font-size: 14px;
    margin-top: 5px;
}
.ulogo {
    float: left;
}
.ulogo .logoImg {
    padding: 10px;
    display: inline-block;
    background: #36393b
}
.ulogo .logoImg:hover {
    background: #2a2a2a
}
.rncontent::before {
    background: #ffffff;
    content: "";
    height: 8px;
    position: absolute;
    right: 20px;
    top: -4px;
    transform: rotate(45deg);
    width: 8px;
    z-index: -1;
}
.rnct {
    background: #ffffff;
    padding: 5px;
    right: 0;
    width: 136px;
}
.rncontent {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50px;
    z-index: 1;
}
.rnct ul {
    height: auto;
}
#navbar .rnct ul li a {
    background: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    color: #565656;
    display: block;
    line-height: 35px;
    text-align: center;
}
#navbar .rnct ul li a:hover {
    background: #0da3e2;
    color: #ffffff
}
.submitwarning {
    background: #ff7200;
    color: #ffffff;
    display: none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 14px;
    padding: 0 4px;
    text-align: center;
}
#postcm, .cmitembody {
    height: auto;
    margin-left: 70px;
    width: auto;
}
.submitbtn {
    float: right;
    font-size: 16px;
    transition: background-color 0.3s ease 0s;
    padding: 31px 28px;
}
#postcm a#postmbtn:hover {
    background:#0da3e2
}
.textbg {
    border: 1px solid #dae2e5;
    height: 85px;
    margin-right: 119px;
    padding: 5px;
    width: auto;
}
.msg-area textarea {
    border: none;
    color: #818181;
    height: 100%;
    resize: none;
    width: 100%;
}
.msg-area .m-logo img {
    float: left;
}
.cmitem {
    border-top: 1px solid #dae2e5;
    height: auto;
    padding: 20px 0;
}
#cm-s2 {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
}
.cm-s4 a {
    margin-right: 10px;
}
.cmitembody p.cm-s6 {
    line-height: 26px;
    margin: 10px 0;
}
.cmitembody p a.cm-s5 {
    color: #ff7800;
    margin: 0 5px;
    visibility: hidden;
}
.cmitembody:hover p a.cm-s5 {
    visibility: visible;
}
.cpraise {
    color: #0da3e2;
    cursor: pointer;
    margin-left: 10px;
}