@import(){ 
	com.cloudsoaring.web.course.view.CourseView,
	com.cloudsoaring.web.course.view.ChapterView,
	com.cloudsoaring.web.course.constant.CourseMsgNames,
	com.cloudsoaring.web.trainingplatform.constants.TpConfigNames 
} 
@args CourseView courseView,ChapterView chapterView, 
String title =MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COURSE)
@extends(hs_blank,title:getPageTitle(title))
<style>
table tr:first-child {
	background: #b60005;
	color: #fff;
	font-weight: bold;
	
}
table {
	border-top: 1pt solid #C1DAD7;
	border-left: 1pt solid #C1DAD7;
	margin: 0 auto;
}

td {
	padding: 5px 10px;
	text-align: center;
	/* border-right: 1pt solid #C1DAD7;
	border-bottom: 1pt solid #C1DAD7; */
	/* text-shadow: 0px 0px #40CEFF; */
}

tr:nth-of-type(odd) {
	background: #f0f9fc;
} /* odd 标识奇数行，even标识偶数行 */
tr:hover {
	background: #C5EAEF;
} /*鼠标悬停后表格背景颜色*/
#plans, ul, #plans ul li {
	padding: 0;
	list-style: none;
}

#Evaluate #plans .plan {
	float: center;
	text-align: center;
}

.planContainer .title h2 {
	font-size: 2.125em;
	font-weight: 300;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
}

.title h2.bestPlanTitle {
	background: #b60005;
	color: #fff;
}

.advice p {
	color: #3e4f6a;
	font-size: 1.5em;
	font-weight: 700;
	height: 2em;
	line-height: 2.6em;
	margin: 0;
}

.planContainer .options li {
	font-weight: 700;
	color: #364762;
	line-height: 2.5;
}
</style>
<div ng-app="myApp" style="width: 100%;">
	<nav class="navbar navbar-inverse" role="navigation" id="top-nav"
		style="margin-bottom: 0; border: 0;">
		<div style="width: 100%; heigth: 100%;">
			<ul class="nav navbar-nav"  ng-controller="ctrNav" style="width:100%;;margin-top:10px">
 				<li style="width:100%;">
 					<span class="my-nav-title" style="float:left;margin-top: 0px;" ng-bind="textTitle"></span>
 					<span class="my-nav-sub-title" style="float:left;margin-top:5px;">@(MessageUtil.getMessage(CourseMsgNames.TXT_SRC_FROM))<span ng-bind="textSubTitle"></span></span>
					<span class="my-nav-share" style="float:left;margin-top:3px;">
							<span>分享</span>
							@share_component(
							text:("我正在参加@教学平台  的一个课程【"+courseView.getTitle()+"】，很不错哦！快来一起学习吧！"),
							url: WebContext.getLastRequestUrl(),
							imgPicId: courseView.getPictureId())
					</span>
					<div style="float: right;margin-top: 2px;color: white;margin-right: 30px;font-size: 18px;cursor:pointer;" onclick="returnTable();">返回</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div style="width: 100%; margin-top: 30px;text-align: center;">
	<div id="container" style="height: 600px"></div>
	<div style="height: 40%;">
		<table width="100%;" border="0" cellspacing="0" cellpadding="0"
			align="center">
			<tr id="userTable">
				<td>大步骤</td>
				<td>小步骤</td>
				<td>实际操作</td>
				<td>学习时长（秒）</td>
				<td>小步骤得分</td>
				<td style='display: none'>大步骤得分</td>
				<td>正确操作</td>
			</tr>

		</table>
		<section id="Evaluate" style="width: 100%; margin: auto;">
			<ul id="plans">


				<li class="plan">
					<ul class="planContainer" id="planContainer">
					</ul>
				</li>
			</ul>
			</li>
			</ul>
		</section>
	</div>
</div>
<script>
myApp.controller("ctrNav",['$scope','$http',function($scope,$http){
	$scope.textTitle = '@courseView.getTitle()';
	$scope.textSubTitle = '@chapterView.getTitle()';
	$scope.textAttention = '@MessageUtil.getMessage(CourseMsgNames.TXT_ATTENTION)';
	$scope.textShare = '@MessageUtil.getMessage(CourseMsgNames.TXT_SHARE)';
	$scope.headerImg = '@url("/pub/headerThumb.action?fileId=")@chapterView.getImage()';
	$scope.textName = '@chapterView.getUserName()';
	$scope.attentionClass = 'my-nav-attention_active';
}]);

var userId ="";
var enterTime = "";
var score = "";
$(function(){
    getData1();
 });
 function getData1(){
     var url = location.search; 
		var theRequest = new Object();
		if ( url.indexOf( "?" ) != -1 ) {
			 var str = url.substr( 1 ); //substr()方法返回从参数值开始到结束的字符串；
			 var strs = str.split( "&" );
			for ( var i = 0; i < strs.length; i++ ) {
				theRequest[ strs[ i ].split( "=" )[ 0 ] ] = ( strs[ i ].split( "=" )[ 1 ] );
			 }
			console.log(theRequest); 
			userId = theRequest.userId;
			enterTime = theRequest.enterTime;
			score = theRequest.score;
			var li="";
			if(score < 60){
				li = "<li class='title'><h2 class='bestPlanTitle'>综合评价：差</h2></li><li class='advice'><p>评价</p></li><li><ul class='options'><li>整体知识掌握水平差；操作不流畅，需多加练习题，继续学习基础知识。</li>";
			}else if(score >= 60 && score <70){
				li = "<li class='title'><h2 class='bestPlanTitle'>综合评价：良</h2></li><li class='advice'><p>评价</p></li><li><ul class='options'><li>基础知识掌握不牢固；操作步骤需要加强练习；注意提高思考能力。</li>";
			}else if(score >= 70 && score <90){
				li = "<li class='title'><h2 class='bestPlanTitle'>综合评价：优秀</h2></li><li class='advice'><p>评价</p></li><li><ul class='options'><li>基础知识需要进一步巩固加强；操作总体顺畅，需要加强熟练程度。 优秀！</li>";
			}else if(score >= 90 && score <= 100){
				li = "<li class='title'><h2 class='bestPlanTitle'>综合评价：非常优秀</h2></li><li class='advice'><p>评价</p></li><li><ul class='options'><li>知识掌握明确，操作能力强。表现非常优秀！</li>";
			}
			$("#planContainer").html(li);
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/courseER/getUserFourDCartogram.action',
				dataType:"json",  
				data:{userId :userId,enterTime:enterTime},
				success:function(result){
					if(result.length>0){
						//将返回的category和series对象赋值给options对象内的category和series
						option.series[0].data[0].value = result[0].seriesData;
						option.series[0].data[0].name = result[0].name;
						if (option && typeof option === "object") {
								 myChart.setOption(option, true);
						}
					}
				}
			});	
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/courseER/getUserOperationDetail.action',
				dataType:"json",  
				data:{userId :userId,enterTime:enterTime},
				success:function(result){
					if(result.length>0){
						var source = result[0].resultList;;
						var tbBody = "";
						for(var i=0;i<source.length;i++){
							tbBody += "<tr><td>"+source[i].firstStepName+"</td><td>"+source[i].secondStepName+" </td><td>"+source[i].actualOperation+"</td><td>"+source[i].duration+"</td><td>"+source[i].score+"</td><td>"+source[i].standardOperation+"</td></tr>";
						}
						$("#userTable").after(tbBody); 
						}
					}
				});	
		}
 }
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
tooltip: {
 trigger: 'axis'
},
legend: {
 x: 'center'
},
radar: [
 {
     indicator: [
         {text: '取镜和安放', max: 100},
         {text: '对光 ', max: 100},
         {text: '观察', max: 100},
         {text: '练习', max: 100}
     ],
     center: ['50%','50%'],
 }
],
series: [
 {
     type: 'radar',
      tooltip: {
         trigger: 'item'
     },
     itemStyle: {
     	normal: {
     		areaStyle: {
     			type: 'default'
     			},
     			color:'#b60006'
    			}
     },
     data: [
         {
             value: [],
             name:''
         }
     ]
 }   
 ]
};

function returnTable(){
	var url = window.location.search;
	var theRequest = new Object();
	if ( url.indexOf( "?" ) != -1 ) {
		var str = url.substr( 1 ); //substr()方法返回从参数值开始到结束的字符串；
 				 var strs = str.split( "&" );
  				for ( var i = 0; i < strs.length; i++ ) {
    				theRequest[ strs[ i ].split( "=" )[ 0 ] ] = ( strs[ i ].split( "=" )[ 1 ] );
 				 }
 				 courseId = theRequest.courseId;
 				 chapterId = theRequest.chapterId;
	}
	var location = window.location.host;
	 window.location.href="http://"+location+"/pblMgr/pub/chapter/toChapterDetail.action?courseId="+courseId+"&chapterId="+chapterId;	
	
}
</script>