@args Object chapterList,
CourseManagerView course
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.CourseManagerView;
}

<div style="margin-left:50px;font-size:15px">
    <p> 
                        编号：<span>@course.getCourseNo()</span> &nbsp; &nbsp; &nbsp;@course.getTitle()
    </p>
</div>
@table(id:"search-result",url:("/manager/chapter/listSearch.action?courseId="+course.getId())){
    @columns(){
        {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMessage("全选")',width:50}, 
        {field: 'title',title:'@MessageUtil.getMessage("标题")',width:200,sortable: true,align:'left', formatter:"titleFormat"}, 
        {field: 'status',title:'@MessageUtil.getMessage("状态")',width:50,sortable: true,align:'center',formatter:"statusFormat"},
        @optcolumn(){
            @iconlink(
                label:MessageUtil.getMessage("添加节")
                , iconcss:"gh gh-plus"
                , onclick:"addChapter"
                , innertype:"ADD"
                , visibleFunction:"visibleAddChapter"
            )
           @iconlink(
                label:MessageUtil.getMessage("作业")
                , iconcss:"gh gh-list-alt"
                , onclick:"copyEditNotice"
                , innertype:"EDIT"
                , visibleFunction:"isCopyNotice"
            )
            @iconlink(
                label:MessageUtil.getMessage("编辑")
                , iconcss:"glyphicon-pencil"
                , onclick:"editNotice"
                , innertype:"EDIT"
                , visibleFunction:"isEditNotice"
            )
          
           @iconlink(
                label: (MessageUtil.getMessage(CourseMsgNames.CENTER_RELEASE) + "," + MessageUtil.getMessage(CourseMsgNames.CENTER_NOT_RELEASE))
                , iconcss:"fa fa-share,fa fa-mail-reply"
                , onclick:"publicChapter"
                , innertype:"PUBLIC"
                , visibleFunction:"isLook"
            )
            @iconlink(
                label:MessageUtil.getMessage("上移")
                , iconcss:"gh gh-arrow-up"
                , onclick:"upChapter"
                , innertype:"EDIT"
                , visibleFunction:"isLook"
            )
            @iconlink(
                label:MessageUtil.getMessage("下移")
                , iconcss:"gh gh-arrow-down"
                , onclick:"dowChapter"
                , innertype:"EDIT"
                , visibleFunction:"isLook"
            )
           @iconlink(
                label:MessageUtil.getMessage("左移")
                , iconcss:"gh gh-arrow-left"
                , onclick:"upChapter"
                , innertype:"EDIT"
                , visibleFunction:"isLook"
            )
            @iconlink(
                label:MessageUtil.getMessage("右移")
                , iconcss:"gh gh-arrow-right"
                , onclick:"dowChapter"
                , innertype:"EDIT"
                , visibleFunction:"isLook"
            )
        }
    }
    @toolbar(){
        @button(label:MessageUtil.getMessage("添加章"),iconcss:"fa fa-plus",url:("/manager/chapter/addInit.action?courseId="+course.getId()),innertype:"ADD")
        @button(label:MessageUtil.getMessage("删除"),iconcss:"gh gh-trash",onclick:"deleteChapter",innertype:"DEL")
    }
}
<script type="text/javascript">
    function deleteChapter(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var id = [];
            for(var i = 0; i < selectedRows.length; i++){
                id[i] = selectedRows[i].id;
            }
            confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_SURE_DELETE_CHAPTER)", function(){
                $.ajax({ 
                    url: "@url("/manager/chapter/deleteChapter.action")",
                    data:{id:id.join(',')},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    }
	function editNotice(row){
		if(row.chapterFlag=="1"){
		  window.location.href ="@url("/manager/chapter/editInit.action?")"+"id="+row.id;
		}else if(row.chapterFlag=="0"){
		  window.location.href ="@url("/manager/chapter/editSmallInit.action?")"+"id="+row.id;
		}else if(row.chapterFlag=="2"){
		  window.location.href ="@url("/manager/chapter/editThreeInit.action?")"+"id="+row.id;
		}
	   
    }
     function publicChapter(row){
        if(row.status=='@CourseStateConstants.COURSE_STATUS_PUBLIC') {
            _doCancelPublicChapter(row);
        } else {
            _doPublicCourse(row);
        }
    }
     function _doCancelPublicChapter(row) {
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_NOT_PUBLIC)",function(){
            var url  = "@url("/manager/chapter/publicChapter.action?id=")"+row.id+"&status="+row.status;
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
     function _doPublicCourse(row) {
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_PUBLIC)",function(){
            var url  = "@url("/manager/chapter/publicChapter.action?id=")"+row.id+"&status="+row.status;
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
    
    
    function addChapter(row){
       if(row.chapterFlag=="1"){
         window.location.href="@url("/manager/chapter/chapterSmallInit.action?parentId=")"+row.id+"&courseId="+row.courseId+"&chapterFlag="+row.chapterFlag;
       }else{
         window.location.href="@url("/manager/chapter/chapterThreeInit.action?parentId=")"+row.id+"&courseId="+row.courseId+"&chapterFlag="+row.chapterFlag;
       }
       
    }
    function titleFormat(value, row, index) {
        var title = hideStringByMax(value, 20);
          if(row.chapterFlag == '@CourseStateConstants.SMALL_CHAPTER') {
            //二级大节
             if(row.measureType=="2"){
                title = " <span  title='测试' class='fa fa-pencil' style='margin:0px 10px; ' > %s".format(title);
	          }
	          else if(row.measureType=="0"){
	            title = " <span title='考试' class='fa fa-pencil' style='margin:0px 10px;'>%s".format(title);
	          }
	          else if(row.measureType=="3"){
	            title = " <span  title='图文' class='gh gh-picture' style='margin:0px 10px;'>%s".format(title);
	          }
	          else if(row.measureType=="4"){
	             title = " <span  title='视频' class='gh gh-play-circle' style='margin:0px 10px;'>%s".format(title);
	          }else{
	             title = "<span class='' style='margin:0px 30px; '> %s".format(title);
	          }
          } 
           if(row.chapterFlag == '@CourseStateConstants.THREE_CHAPTER') {
                 //二级大节
             if(row.measureType=="2"){
                title = " <span  title='测试' class='fa fa-pencil' style='margin:0px 50px;'> %s".format(title);
              }
              else if(row.measureType=="0"){
                title = " <span  title='考试' class='fa fa-pencil' style='margin:0px 50px;'> %s".format(title);
              }
              else if(row.measureType=="3"){
                title = " <span  title='图文' class='gh gh-picture' style='margin:0px 50px;'>%s".format(title);
              }
              else if(row.measureType=="4"){
                 title = " <span  title='视频' class='fa fa-pencil' style='margin:0px 50px;'>%s".format(title);
              }else{
                 title = "<span class='' style='margin:0px 65px;'> %s".format(title);
              }
          }
         
          if(row.flagNote == "1") {
               title += " <a  title='笔记' class='fa fa-file-word-o''></a>";
           }
           if(row.flagDiscuss=="2") {
               title += " <a title='评论'  class='fa fa-ellipsis-h' '></a>";
           }
           if(row.flagTest!="0") {
               title += " <a title='测试' class='fa fa-edit' '></a>";
           }
           if(row.flagQa=="3") {
               title += " <a title='问答' class='fa fa-question' '></a>";
           }
           if(row.flagVote=="4") {
               title += " <a title='投票' class='gh gh-align-justify' '></a>";
           }
           if(row.flagTask!="0") {
               title += " <a title='作业' class='gh gh-list-alt' '></a>";
           }  
        var html = title; 
        return html;
    }
    function statusFormat(value, row, index){ 
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.COURSE_STATUS)).raw();
        return data[value];
    }
    function visibleAddChapter(value, row, index){
       if(row.chapterFlag=='@CourseStateConstants.THREE_CHAPTER'){
            return false;
         }
       return row.chapterFlag;
    }
    function isCopyNotice(value, row, index){
	     if(row.measureType=='@CourseStateConstants.CHAPTER_TYPE_NORMAL'){
	        return false;
	     }
        return true;
    }
    function isEditNotice(value, row, index){
        return true;
    }
    function isLook(value, row, index){ 
         return value;
    }
        //图标是否可见
    function examIconVisible(value, row, index){ 
       var map=new Map(); 
        //练习
        map.put("2","0");
        map.put("0","0");
        //视频
        map.put("4","1");
         //图文
        map.put("3","2"); 
	   if(map.containsKey(row.measureType)){
	       return map.get(row.measureType);
	    }
       return false;
    }
    function vidIconVisible(value, row, index){ 
       
        if(row.measureType=="2"){
           return row.measureType;
        }
        return false;
    }
    function imgIconVisible(value, row, index){ 
        if(row.measureType=="3"){
           return row.measureType;
        }
        return false;
    }
    function Map(){  
        this.elements = new Array();  
    
	    //获取Map元素个数  
	    this.size = function() {  
	        return this.elements.length;  
	    },  
    
	    //判断Map是否为空  
	    this.isEmpty = function() {  
	        return (this.elements.length < 1);  
	    },  
    
    //删除Map所有元素  
    this.clear = function() {  
        this.elements = new Array();  
    },  
    
    //向Map中增加元素（key, value)   
    this.put = function(_key, _value) {  
        if (this.containsKey(_key) == true) {  
            if(this.containsValue(_value)){  
                if(this.remove(_key) == true){  
                    this.elements.push( {  
                        key : _key,  
                        value : _value  
                    });  
                }  
            }else{  
                this.elements.push( {  
                    key : _key,  
                    value : _value  
                });  
            }  
        } else {  
            this.elements.push( {  
                key : _key,  
                value : _value  
            });  
        }  
    },  
    
    //删除指定key的元素，成功返回true，失败返回false  
    this.remove = function(_key) {  
        var bln = false;  
        try {    
            for (i = 0; i < this.elements.length; i++) {    
                if (this.elements[i].key == _key){  
                    this.elements.splice(i, 1);  
                    return true;  
                }  
            }  
        }catch(e){  
            bln = false;    
        }  
        return bln;  
    },  
    
    //获取指定key的元素值value，失败返回null  
    this.get = function(_key) {  
        try{    
            for (i = 0; i < this.elements.length; i++) {  
                if (this.elements[i].key == _key) {  
                    return this.elements[i].value;  
                }  
            }  
        }catch(e) {  
            return null;    
        }  
    },  
    
    //获取指定索引的元素（使用element.key，element.value获取key和value），失败返回null  
    this.element = function(_index) {  
        if (_index < 0 || _index >= this.elements.length){  
            return null;  
        }  
        return this.elements[_index];  
    },  
    
    //判断Map中是否含有指定key的元素  
    this.containsKey = function(_key) {  
        var bln = false;  
        try {  
            for (i = 0; i < this.elements.length; i++) {    
                if (this.elements[i].key == _key){  
                    bln = true;  
                }  
            }  
        }catch(e) {  
            bln = false;    
        }  
        return bln;  
    },  
      
    //判断Map中是否含有指定value的元素  
    this.containsValue = function(_value) {  
        var bln = false;  
        try {  
            for (i = 0; i < this.elements.length; i++) {    
                if (this.elements[i].value == _value){  
                    bln = true;  
                }  
            }  
        }catch(e) {  
            bln = false;    
        }  
        return bln;  
    },  
    
    //获取Map中所有key的数组（array）  
    this.keys = function() {  
        var arr = new Array();  
        for (i = 0; i < this.elements.length; i++) {    
            arr.push(this.elements[i].key);  
        }  
        return arr;  
    },  
   
    //获取Map中所有value的数组（array）  
    this.values = function() {  
        var arr = new Array();  
        for (i = 0; i < this.elements.length; i++) {    
            arr.push(this.elements[i].value);  
        }  
        return arr;  
    };  
} 
</script>
