@args String title = "", 
ChapterActiveEntity activeEntity,
CourseManagerView course,
Object catagoryTags,
String pageType,
String measureType,
List teachList,
Boolean isOnlyView = false,
Boolean isTeacher =  false,
String type,
Object tagsSecond,
Object chapterList,
Object activeFlag,
Object chapterId
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.CourseManagerView;
    com.cloudsoaring.web.course.view.TagView;
    com.cloudsoaring.web.course.entity.QuestionEntity;
    java.lang.*;
    com.cloudsoaring.web.course.entity.ChapterEntity;
    com.cloudsoaring.web.course.entity.ChapterActiveEntity;
}

<style>
	.question-title {
	    margin-top: 20px;
	}
	.question-div {
	    margin: 5px 0px;
	    display: table;
	    background-color: #fff;
	    padding-bottom: 15px;
	}
	.teacher-div {
        margin: 50px 0px;
        background-color: #fff;
        padding-bottom: 15px;
    }
</style>
<!-- 人员添加dialog -->
@{
     List questionTemp = null;
     String tempMeasurementId = "";

    final String measurementId = tempMeasurementId;
    final List question = questionTemp;
    String titleLabelTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_TITLE);
    final String titleLabel = titleLabelTemp;
    String contentLableTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_CONTENT);
    final String contentLable = contentLableTemp;
    String detailLableTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_DETAIL);
    final String detailLable = detailLableTemp;
    String width="";
    if(type=="manager"){
        width="80%";
    }else{
        width="100%";
    }
    
    String tempPrice="";
    String pp=ConfigUtil.getProperty("PRICE_DISPLAY_MODE");
    if(pp.equals("P")){
        tempPrice="积分";
    }else if(pp.equals("S")){
      tempPrice="元";
    }
     final String price=tempPrice;
     
     String isForeverTemp = "1";
     final String isForever = isForeverTemp;
}
<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;background: #fff;padding-left:100px;">
	@form("file-form"){
		<div  >
		          @combobox(
		            label:MessageUtil.getMessage("章节名称"),
		            name:"chapterId", 
                    popplace:"left", 
                    multiple:false,
                    groupcss:"col-10", 
                    value:course.getChapterId(),
                    labelfield:"title", 
                    valuefield:"id",
                    placeholder:"--请选择章节--",
                    options:catagoryTags,
                    required:true, 
                    onChange:"getSecondTag",
                    disabled:isOnlyView
		           )
		</div>
        <div>
		     @combobox(
		              label:MessageUtil.getMessage("课程阶段"),
		              name:"activeFlag", 
		              popplace:"left",  
		              value:course.getActiveFlag(), 
		              options:"[{value:'0',text:'课前'},{value:'1',text:'课中'},{value:'2',text:'课后'}]",
		              required:true, 
		              groupcss:"col-5"
	         )
		</div>
        <div>
           @ue_active_video(label:"活动内容", height:"720",width:"90%", value:course.getContent(), disabled:isOnlyView)
        </div>
          <div>
          </div>
	}
     @btnbox(){
	    @if(!isOnlyView) {
	        @button_save(width:100)
	    } 
	    @button_close(width:100, onclick:"closeWindow")
    }
    <div class="clearfix"></div>
</div>



<script type="text/javascript">
    $(function(){
        //Validator
        
        $('#file-form').bootstrapValidator({
        });
        
    });
    function closeWindow() {
       //window.close();
       window.history.go(-1);
    }
    function addQuestionByBtn() {
        questionForm.addQueset();
        $('html,body').animate({scrollTop:$('html,body')[0].scrollHeight},'slow');
    }
   function save() {
        $('#file-form').bootstrapValidator('validate');
        var validate =$('#file-form').data('bootstrapValidator').isValid();
        if(validate){
            var params = new FormData($('#file-form')[0]);
            var baseInfo = $('#base-form').serializeObject();
            baseInfo.chapterId = getValue($('#chapterId'));
            baseInfo.activeFlag= getValue($('#activeFlag'));
            baseInfo.content = ue.getContent();
            if(baseInfo.content.indexOf('preload="none"') > 0){
            	baseInfo.content= baseInfo.content.replace('preload="none"','');
            }
            baseInfo.content = baseInfo.content.replace('data-latex=','111');
            params.append("courseJson", JSON.stringify(baseInfo));
            $.ajax({ 
                url: "@url("/pub/course/saveActiveChapterInfo.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.history.go(-1);
                    });
                }
            });
        }
    }
    function getTeacher(value){
        var url  = "@url("/manager/course/searchTeacher.action?teacherId=")"+value;
        $.ajax({ 
            url:url,
            bodyMsg:true,
            type:"post", 
            success: function(result){
               $("#personName").val(result.data.personName);
               if(result.data.sex==0){
                  $("#sex").val("女");
               }else if(result.data.sex==1){
                  $("#sex").val("男");
               }else{
                $("#sex").val("");
               }
               $("#remark").val(result.data.remark);
               $("#teacherId").val(result.data.userId);
               $("#teacherUserName").val(result.data.userName);
             } 
        });
    }
    function getSecondTag(value){ 
       if(value ==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/pub/course/searchSecondTag2.action?id=")"+value;
            $("#secondTag").selectpicker('reload', url);
       }
       // parent.refreshTable();
    }
</script>


