@args String title = "", 
ChapterView chapter,
String pageType,
String measureType,
String courseId,
String chapterFlag,
String parentId,
Boolean isOnlyView = false,
String type,
String chapterFileId
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.ChapterView;
    com.cloudsoaring.web.course.entity.CourseEntity;
    com.cloudsoaring.web.trainingplatform.utils.TpConfigUtil;
    com.cloudsoaring.web.course.common.utils.*;
    java.lang.*;
}

@{
    List questionTemp = null;
    if(chapter != null) {
        questionTemp = chapter.getQuestionList();
    }
    final List question = questionTemp;
    final Boolean isChapterListEmpty = chapter.getQuestionList() == null || chapter.getQuestionList().size() == 0;
    
    String titleLabelTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_TITLE);
    final String titleLabel = titleLabelTemp;
    String contentLableTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_CHAPTERS);
    final String contentLable = contentLableTemp;
    String width="";
    if(type=="manager"){
        width="70%";
    }else{
        width="100%";
    }
    String title="";
    if(chapterFlag=="0"){
        title="章标题";
    }else if(chapterFlag=="1"){
        title="节标题";
    }else if(chapterFlag=="2"){
        title="小节标题";
    }
     Boolean tempDisabled=false;
     if(pageType.equals("edit")){
        tempDisabled=true;
     }
    final Boolean disabled=tempDisabled;
}
<style>
   .row{
        background-color:#FFFFFF;
   } 
</style>
<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
	@form("file-form"){
	    <!-- <div>
	        @if(chapterFlag=="1"){
	           <span style="font-size:20px;">章设置</span>
	        }else if(chapterFlag=="0"){
	           <span style="font-size:20px;">节设置</span>
	        }else if(chapterFlag=="2"){
	           <span style="font-size:20px;">小节设置</span>
	        }
	        
             
        </div> -->
	   <div class="row" style="margin-top:12px;" >
		   @input(label:"考试标题", name:"title", groupcss:"col-10",  maxlength:"200",required:true, value:chapter.getTitle())
	       @hidden(id:"id",  value: chapter.getId())
	       @hidden(id:"status",  value: chapter.getStatus())
	       @hidden(id:"courseId",  value: courseId)
	       @hidden(id:"parentId",  value: parentId)
	       @hidden(id:"chapterFlag",  value: chapterFlag)
	       @hidden(id:"hiddenFileId",  value: chapter.getSummary())
	  </div>
	   <div id="test" style="display:none" name="test">
           <div class="row"  name="point" id="point">
                @input_float(label:"总分设定", name:"totalPoints", groupcss:"col-5",  maxlength:"3",required:true, value:chapter.getTotalPoints())
                @input_float(label:"及格分数", name:"standardPoints", groupcss:"col-5",  maxlength:"3",required:true, value:chapter.getStandardPoints())
            </div>
    </div>
    <div id="examDateAndLength" style="display:none">
         <div class="row"  >
              @ftdate(
                     validation:true, 
                     label:MessageUtil.getMessage("考试时间"),
                     fromname:"effectiveStartDate", 
                     groupcss:"col-5", 
                     toname:"effectiveEndDate",
                     showbutton:false,
                     torequired: true, 
                     fromrequired: true,
                     fromvalue:chapter.getEffectiveStartDate(), 
                     tovalue:chapter.getEffectiveEndDate(), 
                     required:true,
                     onlydate:false
                 )
              @input_float(label:"考试时长", name:"timeDuration", groupcss:"col-5",  maxlength:"10",required:true, value:chapter.getTimeDuration())
        </div>
    </div>
    
	}

	<div id="outLine" style="display:none">
	</div>
	<div id="video" style="display:none">
	   <div class="row" >
<script type="text/javascript">
    function uploadVideoTOLocal() {
    	  if ($(this).hasClass('disabled')) {
    	    return false;
    	  }
    	  if (state === 'ready') {
    	    uploader.upload();
    	  } else if (state === 'paused') {
    	    uploader.upload();
    	  } else if (state === 'uploading') {
    	    uploader.stop();
    	  }
    	}
</script>
	      @hidden(id:"vid",  value:chapter.getVideoId())
	      @hidden(id:"oldVid",  value: "")   
	      @hidden(id:"videoLength",  value:"")  
	    </div>
	    <div class="row" >
	         @ueditor(id:"summary",label:"视频简介", height:400,width:"100%",groupcss:"col-10", value:chapter.getSummary(), disabled:false)
	        @*
	         @textarea(
	              groupcss:"col-10", 
	              label:MessageUtil.getMessage("视频简介"), 
	              id:"summary", 
	              required:false,
	              maxlength:"400", 
	              height:"210px",
	              value:chapter.getSummary(), 
	              disabled:false
	          )
	          *@
	      </div>
	</div>
    <link rel="stylesheet" type="text/css" href="@url("/css/uploadify.css")" />
    <script type="text/javascript" src="@url("/js/jquery.uploadify.min.js")"></script>
    <script type="text/javascript">
    	var lastVid = "@chapter.getVideoId()";
    	var orgVid = "@chapter.getVideoId()";
	    $(function() {
	        var title = Math.uuid();
            var tag = Math.uuid();
            var desc = Math.uuid();
            var vid = "@chapter.getVideoId()";
            var cataid = '@TpConfigUtil.getVideoServiceCategoryCourse()';
            var JSONRPC = '{"title":"'+title+'"}';
            var params = "cataid="+cataid+"&JSONRPC="+JSONRPC+"&writetoken=@TpConfigUtil.getVideoServiceWriteToken()";
            $.ajax({
                url: "@url("/common/video/sign.action")",
                data:{params:params},
                type:"post", 
                bodyMsg:true,
                mask:true,
                success:function(result){
                      $.fileupload1 = $('#fileupload1').uploadify({
                        'auto' : false,
                        'formData' : {
                            'cataid':cataid,
                            'JSONRPC':JSONRPC,
                            'writetoken' : '@TpConfigUtil.getVideoServiceWriteToken()',
                            'sign':result.data,
                            'fcharset':'UTF-8'
                        },
                        'buttonText': '选择视频',
                        'fileSizeLimit' : '3000MB',
                        'removeCompleted':true,
                        'fileTypeDesc' : '视频文件',
                        'fileTypeExts' : '*.mp4',//文件类型过滤
                        'swf'      : '@url("/js/uploadify.swf")',
                        'multi':false,
                        'successTimeout':1800,
                        'queueSizeLimit':1,
                        'uploader' : 'http://v.polyv.net/uc/services/rest?method=uploadfile',
                        'onUploadStart':function(){
                        	parent._Global_Ajax_Dialog.open();
                        },
                        'onSelect' : function(file) {
                        	$("#titleVideo").html(file.name);
                        },
                        'onUploadComplete':function(){
                        	parent._Global_Ajax_Dialog.close();
                        },
                        //onUploadSuccess为上传完视频之后回调的方法，视频json数据data返回，
                        //下面的例子演示如何获取到vid
                        'onUploadSuccess':function(file,data,response){
                            var jsonobj=eval('('+data+')');
	                        if(jsonobj.error=="4"){
	                          alert("提交文件格式不正确！");
	                        }
	                        if(jsonobj.error=="15"){
	                          alert("参数异常！");
	                        }
	                        if(jsonobj.error=="16"){
	                          alert("空间已满！");
	                        }
	                        if(jsonobj.error=="11"){
	                          alert("上传目录为空！");
	                        }
	                        if(jsonobj.error=="0"){
	                            /* if(@chapter.getVideoId()!=null){
	                              $("#oldVid").val(@chapter.getVideoId());
	                            } */
	                            if(lastVid != orgVid && lastVid != ""){
	                            	deleteVideo(lastVid);
	                            }
	                            lastVid = jsonobj.data[0].vid;
	                            $("#vid").val(lastVid);  
	                            $("#videoLength").val(jsonobj.data[0].duration); 
	                            
	                           // $("#titleVideo").html(jsonobj.data[0].title);
	                        }else{
	                          noticeError("视频上传失败!");
	                        }
                         }
                       });
		            },
	                fail:function(result){
	                    noticeError("初始化上传失败！");
	                }
            });
	    });
	       
	</script>
	<div id="imgText" style="display:none">
	   <div class="row" >
	     @ue_image_video(label:"上传图文", height:"400",width:"100%",groupcss:"col-10", value:chapter.getContent(), disabled:false,script:false)
	   </div>
	</div>
	<div  id="resource" style="display:none" class="row" style="width:1100px;">
    	@chapter_resource_list(chapterFileId:chapterFileId,groupcss:"col-10")
  	</div>
    <div  id="question" class="row">
         @question_list(questFormName:"questionForm", questionList:question,  disabled:isOnlyView,groupcss:"col-10")
    </div>
  <div id="activity" name=""  class="">
     <div class="row" >
              @input(label:"关键词设置", name:"keyWord", groupcss:"col-10",  maxlength:"50",required:false, value:chapter.getKeyWord())
     </div>
    </div>
	   @btnbox(){
           <!--  @button(
                width:100,
                id:"addQuestion",
                iconcss:"gh gh-plus", 
                onclick:"addQuestionByBtn", 
                label:MessageUtil.getMessage("添加测试")
             ) -->
             @button_save(width:100)
	         @button_close(width:100, onclick:"closeWindow")
	    }
	<div class="clearfix"></div>
</div>
 
<script type="text/javascript">
     $(function(){
        $('#file-form').bootstrapValidator({
        });
        changeType($("#measureType").val());
    });
    function addQuestionByBtn() {
         var question=document.getElementById("question");
         question.style.display="block";
         questionForm.addQueset();
         disabledFieldValidators($("[name=questionDiv]"),false);
    }
    function closeWindow() {
        window.history.go(-1);
        //window.close();
    }
     function save() {
        questionForm.bootstrapValidator();
        $('#file-form').bootstrapValidator('validate');
        var validate = questionForm.isValid()&& $('#file-form').data('bootstrapValidator').isValid();
        var qvali=questionForm.isValid();
        var params = new FormData($('#file-form')[0]);        
        var baseInfo = $('#base-form').serializeObject();
        baseInfo.measureType = "2";
        if(validate){
	        baseInfo.courseId = getValue($('#courseId'));
	        baseInfo.parentId = getValue($('#parentId'));
	        baseInfo.id = getValue($('#id'));
	        baseInfo.status=getValue($('#status'));
	        baseInfo.title = getValue($('#title'));
	        baseInfo.videoId=getValue($('#vid'));
	        baseInfo.videoName=$('#titleVideo').html();;
	        baseInfo.chapterFlag=getValue($('#chapterFlag'));
	        var videoLength=getValue($('#videoLength'));
	        var list=questionForm.getQuestionList(); 
	        baseInfo.questionList = list;
	        var chestr="2,";
	        baseInfo.activitys=chestr;
	        baseInfo.keyWord = getValue($('#keyWord'));
	        questionForm.bootstrapValidator();
	            var points= getValue($('#totalPoints'));
	            var point=0;
	            for(var i=0;i<list.length;i++){
	               point += parseInt(list[i].score);
	            }
	            if(point != points){
	              confirm("题目总分与总分设定分数不一致，是否继续？",function(){
	                    baseInfo.totalPoints =points;
		                baseInfo.standardPoints = getValue($('#standardPoints'));
		                baseInfo.effectiveStartDate = getValue($('#effectiveStartDate'));
		                baseInfo.effectiveEndDate = getValue($('#effectiveEndDate'));
		                baseInfo.timeDuration=getValue($('#timeDuration'));
		                 params.append("chapterJson", JSON.stringify(baseInfo)); 
			             params.append("videoLength", videoLength); 
			             $.ajax({ 
			                 url: "@url("/manager/chapter/saveInfo.action")",
			                 data:params,
			                 method:"post",  
			                 bodyMsg:true,
			                 mask:true,
			                 /** 
			                  *必须false才会自动加上正确的Content-Type 
			                  */
			                 contentType:false,  
			                 /** 
			                  * 必须false才会避开jQuery对 formdata 的默认处理 
			                  * XMLHttpRequest会对 formdata 进行正确的处理 
			                  */  
			                 processData:false, 
			                 success: function(result){
			                     //删除原始的视频文件
			                     if(getValueAny("vid") != orgVid){
			                         deleteVideo(orgVid);
			                     }
			                     success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
			                          window.history.go(-1);
			                     });
			                 }
			           });
	              });
	            }else{
	                    baseInfo.totalPoints =points;
                        baseInfo.standardPoints = getValue($('#standardPoints'));
                        baseInfo.effectiveStartDate = getValue($('#effectiveStartDate'));
                        baseInfo.effectiveEndDate = getValue($('#effectiveEndDate'));
                        baseInfo.timeDuration=getValue($('#timeDuration'));
                         params.append("chapterJson", JSON.stringify(baseInfo)); 
                         params.append("videoLength", videoLength); 
                         $.ajax({ 
                             url: "@url("/pub/course/saveExamInfo.action")",
                             data:params,
                             method:"post",  
                             bodyMsg:true,
                             mask:true,
                             /** 
                              *必须false才会自动加上正确的Content-Type 
                              */
                             contentType:false,  
                             /** 
                              * 必须false才会避开jQuery对 formdata 的默认处理 
                              * XMLHttpRequest会对 formdata 进行正确的处理 
                              */  
                             processData:false, 
                             success: function(result){
                                 //删除原始的视频文件
                                 if(getValueAny("vid") != orgVid){
                                     deleteVideo(orgVid);
                                 }
                                 success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                                      window.history.go(-1);
                                 });
                             }
                       });
	            }
        }
    }
     
     function deleteVideo(vid){
    	 if(vid){
        	 //签名
        	 $.ajax({
                 url: "@url("/common/video/sign.action")",
                 data:{params:"vid=" +vid + "&writetoken=@TpConfigUtil.getVideoServiceWriteToken()"},
                 type:"post", 
                 bodyMsg:true,
                 mask:true,
                 success:function(result){
                	 $.ajax({
         				url: "http://v.polyv.net/uc/services/rest?method=delVideoById",
         				data:{writetoken:"@TpConfigUtil.getVideoServiceWriteToken()",vid:vid,sign:result.data},
         				bodyMsg:true,
         				type:"post"
         			});
        	 	}
     		});
      	}
     }
    	 $(function(){
    		 changeType(2);
    		 
    	 });
    	 
    function changeType(value){
      var test=document.getElementById("test");
      var imgText=document.getElementById("imgText");
      var video=document.getElementById("video");
      var outLine=document.getElementById("outLine");
      var examDateAndLength=document.getElementById("examDateAndLength");
      var question=document.getElementById("question");
      var resource=document.getElementById("resource");
      if(value ==null || value==""){
          video.style.display="none";
          outLine.style.display="none";
          imgText.style.display="none";
          test.style.display="none";
          examDateAndLength.style.display="none";
          disableAny("addQuestion",true);
          question.style.display="none";
          questionForm.clearQuestion();
          resource.style.display="none";
       }else if(value=="3" ){
        //练习
          outLine.style.display="none";
          video.style.display="none";
          imgText.style.display="none";
          test.style.display="block";
          resource.style.display="none";
          examDateAndLength.style.display="none";
          @if(pageType!="edit"){
            questionForm.clearQuestion();
          }
          disableAny("addQuestion",true);
          @if(question==null||question.size()==0){
            question.style.display="block";
            questionForm.addQueset();
          }
          disabledFieldValidators($("[name=standardPoints]"),false);
          disabledFieldValidators($("[name=effectiveStartDate]"),true);
          disabledFieldValidators($("[name=effectiveEndDate]"),true);
          disabledFieldValidators($("[name=timeDuration]"),true);
          disabledFieldValidators($("[name=totalPoints]"),false);
          disabledFieldValidators($("[name=questionDiv]"),false);
       }else if(value=="0"){
       //大纲
          outLine.style.display="block";
          video.style.display="none";
          imgText.style.display="none";
          test.style.display="none";
          examDateAndLength.style.display="none";
          question.style.display="none";
          resource.style.display="none";
          disableAny("addQuestion",true);
           questionForm.clearQuestion();
          disabledFieldValidators($("[name=standardPoints]"),true);
          disabledFieldValidators($("[name=effectiveStartDate]"),true);
          disabledFieldValidators($("[name=effectiveEndDate]"),true);
          disabledFieldValidators($("[name=timeDuration]"),true);
          disabledFieldValidators($("[name=totalPoints]"),true);
          disabledFieldValidators($("[name=questionDiv]"),true);
       }else if(value=="4"){
       //视频
          video.style.display="block";
          outLine.style.display="none";
          imgText.style.display="none";
          examDateAndLength.style.display="none";
          question.style.display="none";
          disableAny("addQuestion",false);
          questionForm.clearQuestion();
          resource.style.display="none";
          disabledFieldValidators($("[name=standardPoints]"),true);
          disabledFieldValidators($("[name=effectiveStartDate]"),true);
          disabledFieldValidators($("[name=effectiveEndDate]"),true);
          disabledFieldValidators($("[name=timeDuration]"),true);
          disabledFieldValidators($("[name=totalPoints]"),true);
          disabledFieldValidators($("[name=questionDiv]"),true);
       }else if(value=="1"){
       
          outLine.style.display="none";
          video.style.display="none";
          imgText.style.display="block";
          disableAny("addQuestion",false)
          test.style.display="none";
          question.style.display="none";
          examDateAndLength.style.display="none";
          questionForm.clearQuestion();
          resource.style.display="none";
          disabledFieldValidators($("[name=standardPoints]"),true);
          disabledFieldValidators($("[name=effectiveStartDate]"),true);
          disabledFieldValidators($("[name=effectiveEndDate]"),true);
          disabledFieldValidators($("[name=timeDuration]"),true);
          disabledFieldValidators($("[name=totalPoints]"),true);
          disabledFieldValidators($("[name=questionDiv]"),true);
       }else if( value=="2"){
        //考试
          outLine.style.display="none";
          video.style.display="none";
          imgText.style.display="none";
          test.style.display="block";
          examDateAndLength.style.display="block";
          disableAny("addQuestion",true);
           @if(pageType!="edit"){
            questionForm.clearQuestion();
           }
          @if(question==null||question.size()==0){
            question.style.display="block";
            questionForm.addQueset();
          }
          resource.style.display="none";
          disabledFieldValidators($("[name=standardPoints]"),false);
          disabledFieldValidators($("[name=effectiveStartDate]"),false);
          disabledFieldValidators($("[name=effectiveEndDate]"),false);
          disabledFieldValidators($("[name=timeDuration]"),false);
          disabledFieldValidators($("[name=totalPoints]"),false);
           disabledFieldValidators($("[name=questionDiv]"),false);
       }else if( value=="5"){
           //VR
           outLine.style.display="none";
           video.style.display="none";
           imgText.style.display="none";
           test.style.display="none";
           resource.style.display="block";
           disabledFieldValidators($("[name=standardPoints]"),false);
           disabledFieldValidators($("[name=effectiveStartDate]"),false);
           disabledFieldValidators($("[name=effectiveEndDate]"),false);
           disabledFieldValidators($("[name=timeDuration]"),false);
           disabledFieldValidators($("[name=totalPoints]"),false);
            disabledFieldValidators($("[name=questionDiv]"),false);
        }
         
    }
    </script>
 


