@args UserView condition,
String id,
Object condition,
Boolean isTeacher =  false,
List<StudentClassInfoEntity> gradeList,
Object gradeId,
Boolean isOnlyView = false
@import(){
    com.cloudsoaring.web.course.entity.*;
    com.cloudsoaring.web.course.view.*;
    com.cloudsoaring.web.course.constant.*;
    com.cloudsoaring.web.course.common.utils.*;
    java.math.BigDecimal;
    com.cloudsoaring.web.myinfo.entity.*;
    com.cloudsoaring.web.myinfo.entity.StudentClassInfoEntity;
}
@{
    String groupCssTemp = "col-4";
    if(isTeacher){
        groupCssTemp = "col-6";
    }
    final String groupcss = groupCssTemp;
}
<style>
#search-message-condition{
  margin-left: -30px;
}

</style>
<!-- 人员添加dialog -->
@assign("user"){
         @form(name:"search-user-condition",validation:false){
           <div class="row" style="background-color:#FFFFFF;">
               @input(label:MessageUtil.getMessage(MsgNames.MSG_USER_NAME), name:"userName1",groupcss:"fcol-6")
               @input(label:MessageUtil.getMessage("名称"),name:"personName1",groupcss:"fcol-6")
               @hidden(id:"id",name:"courseId",value:(id))
		       @combobox(
                    label:MessageUtil.getMessage("年级名"),
                    name:"gradeId", 
                    popplace:"left", 
                    multiple:false,
                    groupcss:"fcol-6", 
                    value:"",
                    url:("/pub/course/searchGrade.action?id="+id),
                    labelfield:"gradeName", 
                    valuefield:"gradeId",
                    onChange:"getGradeTag",
                    disabled:isOnlyView
                 )
                 @if(gradeId==null) {    
                    @combobox(
	                    label:MessageUtil.getMessage("班级名"),
	                    name:"classId", 
	                    groupcss:"fcol-6",  
	                    popplace:"left", 
	                    showempty:false,
	                    multiple:false, 
	                    value:"--请先选择年级--",
	                    labelfield:"className", 
	                    valuefield:"classId"
	                 ) 
                  
                 }else{
                     @combobox(
	                    label:MessageUtil.getMessage("班级名"),
	                    name:"classId", 
	                    groupcss:"fcol-6",  
	                    popplace:"left", 
	                    showempty:false,
	                    multiple:false, 
	                    value:"--请先选择年级--",
	                    url:("/pub/course/searchClass.action?courseId="+id+"&gradeId="+""),
	                    labelfield:"className", 
	                    valuefield:"classId"
	                 ) 
                 }
  
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
	    @table(id:("search-user"), showColumns:false, url:"/pub/course/searchStudentUserAll.action",height:400,queryParamFunction:"createQueryParamsUser"){
	        @columns(){
	            {field: 'state',title: "",align:'center',checkbox: true,width:30},
	            {field: 'userName',title: "用户名",sortable: true},                                            
	            {field: 'personName',title: "人员名称",sortable: true},
	            {field: 'sex',title: "性别",sortable: true,formatter:formatterSex}
	        }
	    }
}
<!-- 站内信添加dialog -->
@assign("message"){
         @form(name:"search-message-condition",validation:false){
           <div style="background-color:#FFFFFF;">
               @textarea(
               		groupcss:"col-12",
                    label:MessageUtil.getMessage("内容"), 
                    id:"content", 
                    required:false,
                    maxlength:"400", 
                    height:"120px",
                    width:"490px",
                    value:"", 
                    disabled:false
               )
           </div>
        } 
	    @table(id:("search-message"), showColumns:false,url:"/manager/course/searchMessageAll.action",height:400){
	        @columns(){
	            {field: 'content',title: "内容",sortable: true},                                            
	            {field: 'studentId',title: "学生姓名",sortable: true},
	            {field: 'stuStatus',title: "查看状态",sortable: true,formatter:formatterMsgStat},
	            {field: 'createTime',title: "发送时间",sortable: true, formatter:dateFormat},
	            {field: 'createUser',title: "发送人员",sortable: true}
	        }
	    }
}
<div style="display:none">
     @hidden(id:"courseId", name:"id", value:id)
</div>
<!-- 检索条件表单 -->
@form(name:"search-condition",validation:false){
    @input(label:MessageUtil.getMessage(MsgNames.MSG_USER_NAME), name:"userName",groupcss:groupcss)
    @input(label:MessageUtil.getMessage(MsgNames.MSG_PERSON_NAME),name:"personName",groupcss:groupcss)
    @input(label:MessageUtil.getMessage("职位"),name:"position",groupcss:groupcss)
    @input(label:MessageUtil.getMessage("部门"),name:"departmentName",groupcss:groupcss)
    @hidden(id:"courseId", name:"courseId", value:id)
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
        @button(
                label:MessageUtil.getMessage("添加学员"),
                iconcss:"fa fa-plus",
                onclick:"addStudent"
                
             )
         @button(
                label:MessageUtil.getMessage("站内信"),
                iconcss:"fa fa-plus",
                onclick:"addMessage"
                
             )
        @if(!isTeacher){
         @button(
            label:MessageUtil.getMessage("删除学员"),
            iconcss:"fa fa-trash-o",
            onclick:"deleteStudent"
         )
        }
    }
}
@table(id:"search-result", showColumns:false, url:("/manager/course/searchUser.action?id="+id),condition:condition){
        @columns(){
            {field: 'state',title: "全选",align:'center',checkbox: true,width:30},
            {field: 'userName',title: "用户名",sortable: true},                                            
            {field: 'personName',title: "人员名称",sortable: true},
            {field: 'sex',title: "性别",sortable: true,formatter:formatterSex},
            {field: 'progress',title: "学习进度",width:100,sortable: true,formatter:formatterProgress},
            @optcolumn(width:100){
                @iconlink(label:"导出学习情况", iconcss:"gh gh-export", onclick:"exportReward")
            }                                                                                                                                         
        }
 }
<script type="text/javascript">
 function exportReward(row){
      // var url = "@url("/manager/course/exportReward.action")" + "?" + $("form[name='search-result']").serialize();
       window.location.href = "@url("/manager/course/exportReward.action?userId=")" + row.userId;
  }
 function createQueryParamsUser(params){
    return buildQueryParam('#search-user-condition', params);
 }
 function deleteStudent(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var userId = [];
            for(var i = 0; i < selectedRows.length; i++){
                userId[i] = selectedRows[i].userId;
            }
            var courseId=$("#courseId").val();
            confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_DELETE_STUDENT)", function(){
                $.ajax({ 
                    url: "@url("/manager/course/deleteStudent.action")",
                    data:{userId:userId.join(','),courseId:courseId},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    
    }
    function seachStudent(){
          var userName=getValue($('#userName1'));
          var position=getValue($('#position1'));
         $.ajax({ 
              url: "@url("/manager/course/searchUserAll.action")",
              data:{userName:userName,position:position},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                $('#search-user').each(function(){
			        $(this).bootstrapTable('research');
			    });
               
              }
          });
    }
    function addStudent(){
        var courseId=getValue($('#courseId'));
       
        $('#planCourseUser-form').bootstrapValidator('validate');
        BootstrapDialog.show({
            title:"添加学员",
            message: $('@es(user).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "添加",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
                    if(selectedRows && selectedRows.length > 0){
	                    var userIds = [];
                         for(var i = 0; i < selectedRows.length; i++){
                            userIds[i]=selectedRows[i].userId;
                         }
	                    //后台保存
	                    $.ajax({ 
	                        url: "@url("/manager/course/saveUser.action")",
	                        data:{courseId:courseId, userIds:userIds.join(',')},
	                        type:"post", 
	                        bodyMsg:true,
	                        mask:true,
	                        success: function(result){
	                            //成功
	                            dialog.close();
	                             $('#search-result').bootstrapTable('refresh');
	                        }
	                       
	                    });
	                  
                    }else{
                        warning("请选择要添加的用户");
                    }
               }
                
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
    
    }
    function addMessage(){
        var courseId=getValue($('#courseId'));
       
        $('#planCourseUser-form').bootstrapValidator('validate');
        BootstrapDialog.show({
            title:"添加站内信",
            message: $('@es(message).raw()'),
            cssClass:'message_dialog',
            buttons: [
            {
               label: "添加",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    var content =  $('#content').val();
                    if(content == "" || content == undefined){
                    	 warning("请填写站内信内容");
                    }else{
                    	$.ajax({ 
	                        url: "@url("/manager/course/saveMessage.action")",
	                        data:{courseId:courseId, content:content},
	                        type:"post", 
	                        bodyMsg:true,
	                        mask:true,
	                        success: function(result){
	                            //成功
	                            dialog.close();
	                             //$('#search-result').bootstrapTable('refresh');
	                        }
	                       
	                    });
                    }
               }
                
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
    
    }
    //显示性别
    function formatterSex(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "男";
            }else if(value == 1){
                return "女";
            }
        }       
    }
    function formatterMsgStat(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "未查看";
            }else if(value == 1){
                return "已查看";
            }
        }       
    }
  function formatterProgress(value, row, index){
    if((row.finishChapterNum==null || row.finishChapterNum == 0) && row.allChapterNum !=null ){
        return 0 + "/"+ row.allChapterNum;
    }else if(row.allChapterNum ==null || row.allChapterNum ==0){
       return 0;
    }else{
        return row.finishChapterNum + "/"+ row.allChapterNum;
    }      
  }
  function formatterTimeCost(value, row, index){
      if(value != null)  {
        var  year =  parseInt(value / (60 * 60 * 24 * 365));
        var month = parseInt((value % (60 * 60 * 24 * 365)) / (60 * 60 * 24 * 30));
        var day = parseInt((value % (60 * 60 * 24 * 30)) / (60 * 60 * 24));
        var hh = parseInt((value % (60 * 60 * 24)) / (60 * 60));
        var mm = parseInt((value % (60 * 60)) / (60));
        var ss = parseInt((value % (60)));
         var str="";
        if(year> 0){
            str += year+"年";
            
        }
        if(month>0){
            str += month+"月";
        }
        if(day>0){
            str += day+"天";
        } 
        if(hh>0){
            str += hh+"时";
        } 
        if(mm>0){
            str += mm+"分";
        } 
        if(ss>0){
            str += ss+"秒";
        } 
        return str;
      }else{
        return "0分";
      }
  }
  function getGradeTag(value){ 
	  if(value ==null || value==""){
          $("#classId").html("");
          $("#classId").selectpicker('refresh');
       }else{
    	   var courseId="@id";
    	   var url  = "@url("/pub/course/searchClass.action?gradeId=")"+value+"&courseId="+courseId;
    	   $("#classId").selectpicker('reload', url);
       }
  }
</script>
