@args CourseTeamEntity condition,
String id,
Object condition,
Boolean isTeacher =  false,
UserView userCondition
@import(){
    com.cloudsoaring.web.course.entity.*;
    com.cloudsoaring.web.course.view.*;
    com.cloudsoaring.web.course.constant.*;
    com.cloudsoaring.web.course.common.utils.*;
    java.math.BigDecimal;
}
@{
    String groupCssTemp = "col-4";
    if(isTeacher){
        groupCssTemp = "col-6";
    }
    final String groupcss = groupCssTemp;
}
<!-- 人员添加dialog -->
<div style="margin-top:100px;">
	@assign("user"){
		    @table(id:("search-user"), showColumns:false, url:("/manager/course/searchUser.action?id="+id),condition:userCondition,height:400){
		        @columns(){
		            {field: 'state',title: "",align:'center',checkbox: true,width:30},
		            {field: 'userName',title: "用户名",sortable: true},                                            
		            {field: 'personName',title: "人员名称",sortable: true},
		            {field: 'sex',title: "性别",sortable: true,formatter:formatterSex},
		            {field: 'position',title: "职位",width:100,sortable: true},
		            {field: 'departmentName',title: "职位",width:100,sortable: true}
		        }
		    }
	}
</div>
<div style="display:none">
     @hidden(id:"courseId", name:"id", value:id)
</div>
<!-- 检索条件表单 -->
@form(name:"search-condition",validation:false){
    @input(label:MessageUtil.getMessage("小组名称"),name:"teamName",groupcss:groupcss)
    @hidden(id:"courseId", name:"courseId", value:id)
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
        @button(
        	label:MessageUtil.getMessage("添加小组"), 
        	iconcss:"fa fa-plus-circle", 
        	url:("/manager/course/addTeam.action?id="+id),
        	innerType:"ADD")
       <!--  @if(!isTeacher){
         @button(
            label:MessageUtil.getMessage("删除小组"),
            iconcss:"fa fa-trash-o",
            onclick:"deleteStudent"
         )
        } -->
    }
}
@table(id:"search-result", showColumns:false, url:("/manager/course/searchTeam.action"),condition:condition){
        @columns(){
            {field: 'teamNo',title: "小组编号",sortable: true},                                            
            {field: 'teamName',title: "小组名称",sortable: true},
            {field: 'teamLeaderName',title: "小组组长",sortable: true},
            {field: 'teamDesc',title: "小组备注",sortable: true},
            @optcolumn(width:100){
            	@iconlink(label:MessageUtil.getMessage("组员管理"), iconcss:"fa fa-user", onclick:"teamUsers",innertype:"EDIT")
                @iconlink(label:MessageUtil.getMessage("编辑"), iconcss:"glyphicon-pencil", onclick:"editTeam",innertype:"EDIT")
                @iconlink(label:MessageUtil.getMessage("删除"), iconcss:"glyphicon-trash", onclick:"deleteTeam",innertype:"DEL",popplace:"right")
            }                                                                                                                                         
        }
 }
<script type="text/javascript">
function editTeam(row){
	window.location.href = "@url("/manager/course/teamEdit.action?id=")" + row.id;
}
function teamUsers(row){
	window.location.href = "@url("/manager/course/teamUserMgr.action?id=")" + row.id;
}
//删除用户
function deleteTeam(row){
	confirm("@MessageUtil.getMessage("确定要删除")  " + row.teamName + " ?", function(){
		ajax({ 
			url: "@url("/manager/course/deleteTeam.action")",
			data:{id:row.id},
			type:"post", 
			bodyMsg:true,
			mask:true,
			success: function(result){
	        	$('#search-result').bootstrapTable('refresh');
	      	}
	    });
	});
}

    function seachStudent(){
          var userName=getValue($('#userName1'));
          var position=getValue($('#position1'));
         ajax({ 
              url: "@url("/manager/course/searchUserAll.action")",
              data:{userName:userName,position:position},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                $('#search-user').each(function(){
			        $(this).bootstrapTable('research');
			    });
               
              }
          });
    }
    function addStudent(){
        var courseId=getValue($('#courseId'));
       
        $('#planCourseUser-form').bootstrapValidator('validate');
        BootstrapDialog.show({
            title:"添加组员",
            message: $('@es(user).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "添加",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
                    if(selectedRows && selectedRows.length > 0){
	                    var userIds = [];
                         for(var i = 0; i < selectedRows.length; i++){
                            userIds[i]=selectedRows[i].userId;
                         }
	                    //后台保存
	                    ajax({ 
	                        url: "@url("/manager/course/saveUser.action")",
	                        data:{courseId:courseId, userIds:userIds.join(',')},
	                        type:"post", 
	                        bodyMsg:true,
	                        mask:true,
	                        success: function(result){
	                            //成功
	                            dialog.close();
	                             $('#search-result').bootstrapTable('refresh');
	                        }
	                       
	                    });
	                  
                    }else{
                        warning("请选择要添加的用户");
                    }
               }
                
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
    
    }
    //显示性别
    function formatterSex(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "女";
            }else if(value == 1){
                return "男";
            }
        }       
    }
  function formatterProgress(value, row, index){
    if((row.finishChapterNum==null || row.finishChapterNum == 0) && row.allChapterNum !=null ){
        return 0 + "/"+ row.allChapterNum;
    }else if(row.allChapterNum ==null || row.allChapterNum ==0){
       return 0;
    }else{
        return row.finishChapterNum + "/"+ row.allChapterNum;
    }      
  }
  function formatterTimeCost(value, row, index){
      if(value != null)  {
        var  year =  parseInt(value / (60 * 60 * 24 * 365));
        var month = parseInt((value % (60 * 60 * 24 * 365)) / (60 * 60 * 24 * 30));
        var day = parseInt((value % (60 * 60 * 24 * 30)) / (60 * 60 * 24));
        var hh = parseInt((value % (60 * 60 * 24)) / (60 * 60));
        var mm = parseInt((value % (60 * 60)) / (60));
        var ss = parseInt((value % (60)));
         var str="";
        if(year> 0){
            str += year+"年";
            
        }
        if(month>0){
            str += month+"月";
        }
        if(day>0){
            str += day+"天";
        } 
        if(hh>0){
            str += hh+"时";
        } 
        if(mm>0){
            str += mm+"分";
        } 
        if(ss>0){
            str += ss+"秒";
        } 
        return str;
      }else{
        return "0分";
      }
  }
</script>
