@args String title = "课程详情", 
CourseManagerView course,
Object catagoryTags,
String pageType,
String measureType,
List teachList,
Boolean isOnlyView = false,
String type
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.CourseManagerView;
    com.cloudsoaring.web.course.view.TagView;
    java.lang.*;
    java.math.BigDecimal;
}

@{
    String catagorysTemp  = "";
    if(course.getCatagorys() != null) {
        catagorysTemp = Arrays.toString(course.getCatagorys());
    }
    final String catagorys = catagorysTemp;
    String width="";
    if(type=="manager"){
        width="50%";
    }else{
       width="100%";
    }
    
 }
 <style>
    .row{
        background-color:#FFFFFF;
    }
    
     .row img{
        width:200px;
    }
    .row video{
        width:200px;
    }
</style>

<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:30px;">
    <div class="row" >
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B">基础信息</div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>课程标题：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@course.getTitle()</div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" >
                <div class="col-lg-12"><span>课程分类：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
                @course.getCrowdType()  
        </div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"><span>封面图片：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
            @picture(
                label:"",
                id:"picture",
                height:"180px", 
                groupcss:"col-8",
                url:"pub/image.action", 
                fileid: course.getPictureId(), 
                filename: course.getPictureName(),
                viewmode:true
             )
        
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color:#FFFFFF;">
                <div class="col-lg-12"><span>封面介绍：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" formatter="typeFormat">
                @course.getSummary()
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>课程时间：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">
             @course.getStartDate()/@course.getEndDate()
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>课程状态：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" formatter="typeFormat">
               @course.getCourseStatus()
        </div>
    </div>
    
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>课程分类：</span></div>
             </div>
        </div>
       
	        <div class="col-lg-8" style="font-size:16px" >
                  @course.getFirstTagName()
                    @if(course.getFirstTagName()!=null && course.getSecondTagName()!=null){-}
                  @course.getSecondTagName() &nbsp;&nbsp;&nbsp;
	        </div>
         
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>课程时长：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
               @course.getStudyDuration()
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>授课教师：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
	        @if(course.getTeacher()!=null&&course.getTeacher().getPersonName() != null){
	            @course.getTeacher().getPersonName()
	        }
               
        </div>
    </div>
     <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>课程描述：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
              <span id="content">
                @course.getContent().raw()
              </span>
        </div>
    </div>
</div>
<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;border-top:1px solid #DDDDDD">
   <div class="row">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B">导师信息</div>
    </div>
   <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>导师姓名：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px"> 
              @if(course.getTeacher()!=null&&course.getTeacher().getPersonName() != null){
                @course.getTeacher().getPersonName()
            }
          </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>导师简介：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" formatter="typeFormat">
          @if(course.getTeacher()!=null&&course.getTeacher().getRemark()!=null){
                 @course.getTeacher().getRemark()
            }
               
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row">
                <div class="col-lg-12"><span>导师提示：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px" >
         @if(course!=null&&course.getTarget()!=null){
                @course.getTarget()
          }
        </div>
    </div>
</div>
<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;border-top:1px solid #DDDDDD">
     <div class="row" style="margin-top:5px">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B">章节信息</div>
     </div>
    @if(course.getChapterBigList() !=null ){    
	  @for(int i=0;i < course.getChapterBigList().size();i++){
		    <div class="row" style="margin-top:45px">
		         <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
	             <div class="col-lg-2" style="font-size:16px">
	                     <div class="row">
	                         <div class="col-lg-12"><span>章节-标题：</span></div>
	                     </div>
	              </div>
	              <div class="col-lg-8" style="font-size:16px">
	                       @course.getChapterBigList().get(i).getTitle()
	              </div>
		    </div>
	        <div class="row" style="margin-top:5px">
	                <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
	                <div class="col-lg-2" style="font-size:16px">
	                        <div class="row">
	                            <div class="col-lg-12"><span>章节-描述：</span></div>
	                        </div>
	                 </div>
	                 <div class="col-lg-8" style="font-size:16px">
	                          @course.getChapterBigList().get(i).getSummary().raw()
	                 </div>
	          </div> 
	          <div class="row" style="margin-top:5px">
	                <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
	                <div class="col-lg-2" style="font-size:16px">
	                        <div class="row">
	                            <div class="col-lg-12"><span>章节-内容：</span></div>
	                        </div>
	                 </div>
	                 <div class="col-lg-8" style="font-size:16px">
	                          @course.getChapterBigList().get(i).getContent().raw()
	                 </div>
	          </div>
	          @if(course.getChapterBigList().get(i).getMeasureType() != null){
				    @if(course.getChapterBigList().get(i).getMeasureType().equals("3")){
				        <div class="row" style="margin-top:5px">
			                 <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
			                 <div class="col-lg-2" style="font-size:16px">
			                         <div class="row">
			                             <div class="col-lg-12"><span>章节-图片：</span></div>
			                         </div>
			                  </div>
			                  <div class="col-lg-8" style="font-size:16px">
			                          @picture(
						                label:"",
						                id:"picture",
						                height:"180px", 
						                groupcss:"col-8",
						                url:"pub/image.action", 
						                fileid: course.getChapterBigList().get(i).getPictureId(), 
						                filename: course.getChapterBigList().get(i).getPictureName(), 
						                viewmode:true
						            )
			                  </div>
			            </div>         
			        }
			     }
			   @if(course.getChapterSmallList() != null ){
				    @for(int j=0;j < course.getChapterSmallList().size();j++){
					       @if(course.getChapterSmallList().get(j).getParentId().equals(course.getChapterBigList().get(i).getId())){
						    <div class="row" style="margin-top:20px">
					             <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
					             <div class="col-lg-2" style="font-size:16px">
					                     <div class="row">
					                         <div class="col-lg-12"><span>子章节-标题：</span></div>
					                     </div>
					              </div>
					              <div class="col-lg-8" style="font-size:16px">
					                       @course.getChapterSmallList().get(j).getTitle()
					              </div>
					        </div>
					        <div class="row" style="margin-top:5px">
				                 <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
				                 <div class="col-lg-2" style="font-size:16px">
				                         <div class="row">
				                             <div class="col-lg-12"><span>子章节-描述：</span></div>
				                         </div>
				                  </div>
				                  <div class="col-lg-8" style="font-size:16px">
				                           @course.getChapterSmallList().get(j).getContent().raw()
				                  </div>
				            </div>
					       }
			        }
	           }
	        }
	 }
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-10" style="text-align:center;margin-top:50px;">
            <span>@button_back(style:"width:200px;height:50px;",onclick="goBack")</span>
        </div>
    </div>
</div>
<script>
   function typeFormat(value, row, index){ 
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.COURSE_CROWD_TYPE)).raw();
        return data[value];
    }
</script>