@args Object courseId,
List<String> weiduList,
List<UserCourseEntity> courseUserList,
List<CourseUserEvalutionEntity> groupList,
CourseUserEvalutionEntity evalution,
Integer wdjihe
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;
    com.cloudsoaring.web.course.entity.*;
}
<style>
        * {
            margin: 0;
            padding: 0;
        }
		input {
		    padding-bottom: 0px;
		}
        table {
            border: 1px solid #fff;
            /*去掉表格之间的空隙*/
            border-collapse:collapse;
            margin: 100px auto;
            width: 1400px;
        }

        caption {
            font-size: 20px;
            font-weight: bold;
        }

        th,td{
            border: 1px solid #ccc;
            width: 80px;
            font-size: 14px;
           /*  line-height: 40px; */
            text-align: center;
        }


        b{
            font-style:normal;
            display:block;
            position:absolute;
            top:-40px;
            left:-40px;
            width:50px;
        }

        em{
            font-style:normal;
            display:block;
            position:absolute;
            top:-25px;
            left:-70px;
            width:55px;
            color: #fff;
        }
		#lineTd {
		 background: #b60005 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEwMCUiIHkyPSIxMDAlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=) no-repeat 100% center;   
		}
    </style>
 @if(null!=weiduList && weiduList.size()>0){   
<form id="singleFrom">
	<table id="evalution">
	    <thead style="background-color: #b60005;color: #fff;border-color: #b60005;">
	        <tr>
	            <!-- 模拟表头分割线的部分 -->
	            <th id="lineTd">
	                <!-- <div class="out" style="background-color: #b60005;color: #fff;border-color: #b60005;">
	                    <b>维度</b>
	                    <em>姓名</em>
	                </div> -->
	                <span style="float:left;margin-top:20px;margin-left:27px;">姓名</span>
                    <span style="float:right;margin-top:0px;">维度</span>
	            </th>
	            @for(String weidu : weiduList){
	             @if(weidu.equals("1")){
	                <th>科学精神</th>
	              }
	              @if(weidu.equals("2")){
	                <th>责任担当</th>
	              }
	              @if(weidu.equals("3")){
	                <th>学会学习</th>
	              }
	              @if(weidu.equals("4")){
	                <th>人文底蕴</th>
	              }
	              @if(weidu.equals("5")){
	                <th>实践创新</th>
	              }
	              @if(weidu.equals("6")){
	                <th>健康生活</th>
	              }
	            }
	            <th>评价等级</th>
	        </tr>
	    </thead>
	    <tbody>
	    @if(null!=courseUserList && courseUserList.size()>0){
		    @for(UserCourseEntity item : courseUserList){
		       <tr>
		            <td><input type="hidden" name="userId" value="@item.getUserId()" ><input type="hidden" name="id" value="@item.getId()" >@item.getPersonName()</td>
		            @if(null!=item.getGroupList() && item.getGroupList().size()>0){
		              @for(CourseUserEvalutionEntity entity : item.getGroupList()){
		               <td><input type="Number" name="weidu@entity.getWeidu()" value="@entity.getScore()" min="0.0" max="100.0" required="required" style="width: 180px;height: 30px;"></td>
		              }
		              <td>
		              <div align="center">
		                <select name="degree" style="width: 165px;height: 35px;">
			                 <option value=""  >--请选择等级--</option>
				             <option value="A" @if(null != item.getGroupList().get(0).getDegree() && item.getGroupList().get(0).getDegree().equals("A")){selected} >A</option>
				             <option value="B" @if(null != item.getGroupList().get(0).getDegree() && item.getGroupList().get(0).getDegree().equals("B")){selected}>B</option>
				             <option value="C" @if(null != item.getGroupList().get(0).getDegree() && item.getGroupList().get(0).getDegree().equals("C")){selected}>C</option>
				             <option value="D" @if(null != item.getGroupList().get(0).getDegree() && item.getGroupList().get(0).getDegree().equals("D")){selected}>D</option>
				             <option value="E" @if(null != item.getGroupList().get(0).getDegree() && item.getGroupList().get(0).getDegree().equals("E")){selected}>E</option>
			           </select>
		             </div>
		             </td>
		            }
		            
		            
		        </tr>
		    }
	    }
	    </tbody>
	</table>
    <div style="text-align:center;margin:10px 12px 20px 12px; ">
        <div style="clear:both;height:10px;"></div>
        <span class="btn btn-primary btnConfirm" id="submitTable" style="width:200px;border-radius:0px;margin-top:10px;">提交</span>
    </div>
</form>
}
<script>
$("#submitTable").click(function () {
	              var arrTR = $("#evalution").children();
	              var trList = $("#evalution").find("tr");
	              var tdlength=@wdjihe;
	            //表头不用，所以i从1开始
                  for (var i = 1; i < trList.length; i++) {
                      var trArr=trList.eq(i);
                      var courseId = "@courseId";
                      var tdContext="{"+"'courseId'"+":"+"'"+courseId +"'"+ ",";
                      var id = trArr.children("td").eq(0).find("[name='id']").val();//属性
                      tdContext+="'id'"+":"+ "'"+ id +"'"+ ",";
                      var userId = trArr.children("td").eq(0).find("[name='userId']").val();//属性
                      tdContext+="'userId'"+":"+ "'"+ userId +"'"+ ",";
                      var tdlength=@wdjihe+1;
                      for(var k = 1; k < tdlength; k++){
                    	  var wdname = trArr.children("td").eq(k).find("[type='Number']").attr("name");//属性
                    	  var wdvalue = trArr.children("td").eq(k).find("[type='Number']").val();//属性值
                    	  if(""==wdvalue){
                    		  alert("请输入第"+(i+1)+"行第"+(k+1)+"列的数值！");
                    		  return;
                    	  }else if(wdvalue>100){
                    		  alert("请输入第"+(i+1)+"行第"+(k+1)+"列的数值小于100的 值！");
                    		  return;
                    	  }else if(wdvalue < 0){
                    		  alert("请输入第"+(i+1)+"行第"+(k+1)+"列的数值大于0的 值！");
                    		  return; 
                    	  }
                    	  tdContext+="'"+wdname+"'"+":" +"'"+ wdvalue+ "'"+ ",";
                      }
                      var degree = trArr.children("td").eq(tdlength).find("option:selected").val();//获取选中下拉框的值
                      if(""==degree){
                		  alert("请选择第"+(i+1)+"行第"+(tdlength+1)+"列的评价等级！");
                		  return;
                	  }
                      tdContext+="'degree'"+":" +"'"+ degree+"'"+"}";
                      var params = tdContext;
                      $.ajax({ 
                          url: "@url("/manager/course/saveEvalutionInfo.action")",
                          type: 'post',
                          data: {
                        	  params: params
                          },
                          dataType: 'text',
                          success: function (data) {
                        	  noticeInfo("添加学生维度评价完成!");
                          }
                      });
                  }
                  noticeInfo("添加学生维度评价完成!");
            	  window.location.href="/pblMgr/manager/course/listInit.action";
});

</script>