@args String title = "", 
CourseManagerView course,
Object catagoryTags,
Object tagsSecond,
String pageType,
String measureType,
Boolean isOnlyView = false,
Boolean isTeacher =  false,
String type
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.CourseManagerView;
    com.cloudsoaring.web.course.view.TagView;
    java.lang.*;
}
<style>
	.question-title {
	    margin-top: 30px;
	}
	.question-div {
	    margin: 30px 0px;
	    display: table;
	    background-color: #fff;
	    padding-bottom: 15px;
	}
	.teacher-div {
        margin: 50px 0px;
        background-color: #fff;
        padding-bottom: 15px;
    }
   .form-rythm{text-align:center;margin:0px auto;}
</style>
<!-- 人员添加dialog -->
@assign("teacher"){
  <div style="width:600">
      @form(name:"search-condition",validation:false){
           <div class="row">
               @input(label:MessageUtil.getMessage("教师名称"), name:"userName",groupcss:"fcol-12")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
	    @table(id:("search-user"), showColumns:false, url:"/manager/course/searchTeacherAll.action",height:400,singleSelect:true){
	        @columns(){
	            {field: 'state',title: "",align:'center',checkbox:true,width:30},
	            {field: 'userName',title: "用户名",sortable: true},                                            
	            {field: 'personName',title: "教师名称",sortable: true},
	            {field: 'sex',title: "性别",sortable: true,formatter:formatterSex},
	        }
	     }
    </div>
}
@{
    List questionTemp = null;
    if(course != null) {
        questionTemp = course.getQuestionList();
    }
    final List question = questionTemp;
    final Boolean isCourseListEmpty = course.getQuestionList() == null || course.getQuestionList().size() == 0;
    String titleLabelTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_TITLE);
    final String titleLabel = titleLabelTemp;
    String contentLableTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_CONTENT);
    final String contentLable = contentLableTemp;
    String width="";
    if(type=="manager"){
        width="80%";
    }else{
        width="100%";
    }
}
<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
	@form("file-form"){
		   <div class="row" style="background-color:#FFFFFF;">
		      @input(label:"课程标题", name:"title", groupcss:"col-10",  maxlength:"200",required:true, value:course.getTitle())
              @hidden(id:"courseId", name:"id", value: course.getId())
              @hidden(id:"teacherId", name:"teacherId",value: course.getTeacherId())
		   </div>
	       <div class="row" style="background-color:#FFFFFF;margin-left:3px;margin-right:7px;">
			     @column(css:"col-5") {
			          @combobox(
			              label:MessageUtil.getMessage("课程类别"),
			              name:"crowdType", 
			              popplace:"left",  
			              value:course.getCrowdType(), 
			              options:CodeFactory.getCodeList(CourseStateConstants.COURSE_CROWD_TYPE),
			              required:false, 
			              groupcss:"", 
			              disabled:false
			           )
			     }
			     @column(css:"col-5") { 
	                @input(
	                    label:MessageUtil.getMessage(CourseMsgNames.CENTER_LEARNING_TIME), 
	                    name:"studyDuration", 
	                    groupcss:"", 
	                    required: true, 
	                    maxlength:"50", 
	                    value:course.getStudyDuration(), 
	                 )
	             }
		 </div>
		 @if(type=="manager"){
		  <div class="row" style="background-color:#FFFFFF;">
                @picture(
                    label:MessageUtil.getMessage("封面"),
                    id:"picture",
                    required:true,
                    height:"210px", 
                    groupcss:"col-5",
                    url:"pub/image.action", 
                    fileid: course.getPictureId(), 
                    filename: course.getPictureName(), 
                    viewmode:false
                 )
                 
                   @textarea(
                   groupcss:"", 
                   label:MessageUtil.getMessage("封面简介"), 
                   id:"summary", 
                   required:false,
                   maxlength:"400", 
                   height:"326px",
                   groupcss:"col-5",
                   value:course.getSummary(), 
                   disabled:false
                )
          </div>
		 }else{
			  <div class="row" style="background-color:#FFFFFF;">
	                @picture(
	                    label:MessageUtil.getMessage("封面"),
	                    id:"picture",
	                    required:true,
	                    height:"210px", 
	                    groupcss:"col-10",
	                    url:"pub/image.action", 
	                    fileid: course.getPictureId(), 
	                    filename: course.getPictureName(), 
	                    viewmode:false
	                 )
	          </div>
	          <div class="row" style="background-color:#FFFFFF;">
	                 @textarea(
	                   groupcss:"", 
	                   label:MessageUtil.getMessage("封面简介"), 
	                   id:"summary", 
	                   required:false,
	                   maxlength:"400", 
	                   height:"256px",
	                   groupcss:"col-10",
	                   value:course.getSummary(), 
	                   disabled:false
	                )
	         </div>
		 
		 }
		 
		 <div class="row" style="background-color:#FFFFFF;">
	
		   @ftdate(
                validation:true, 
                label:MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_PERIOD),
                fromname:"startDate", 
                groupcss:"col-10", 
                toname:"endDate",
                showbutton:false,
                torequired: true, 
                fromrequired: true,
                fromvalue:course.getStartDate(), 
                tovalue:course.getEndDate(), 
                onlydate:true, 
             )
		</div>
		 <div class="row" style="background-color:#FFFFFF;margin-left:3px;margin-right:7px;">
		    @column(css:"fcol-5") {
		      @combobox(
		        label:MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_STATE),
		        name:"courseStatus", 
		        groupcss:"", 
		        popplace:"left",  
		        value:course.getCourseStatus(),  
		        options:CodeFactory.getCodeList(CourseStateConstants.COURSE_STATUS_PROGRESS),
		        required:true, 
		      ) 
		    }
		    @column(css:"fcol-5") {
		        @input(
		          label:MessageUtil.getMessage("价格"), 
		          name:"price", 
		          groupcss:"", 
		          required: true, 
		          maxlength:"50", 
		          value:course.getPrice(), 
		       )   
		    }
		 </div>
		 <div class="row" style="background-color:#FFFFFF;margin-left:3px;margin-right:7px;">
			   @column(css:"fcol-5") {
			      @combobox(
			        label:MessageUtil.getMessage("标签分类"),
			        name:"firstTag", 
			        groupcss:"", 
			        popplace:"left", 
			        multiple:false, 
			        value:course.getFirstTag(),
			        labelfield:"tagName", 
			        valuefield:"tagId",
			        options:catagoryTags,
			        required:true, 
			        onChange:"getSecondTag",
			        disabled:isOnlyView
			     )
			    }
			   @column(css:"fcol-5") {
			      @combobox(
                    name:"secondTag", 
                    groupcss:"", 
                    popplace:"left", 
                    multiple:false,  
                    value:course.getSecondTag(), 
                    options:tagsSecond,
                    labelfield:"tagName", 
                    valuefield:"tagId", 
                    required:true
                 )   
			    }
		 </div>
		 <div class="row" style="background-color:#FFFFFF;margin-left:3px;margin-right:7px;">
		   @column(css:"fcol-5") {
		      @combobox(
		        label:MessageUtil.getMessage("难度设置"),
		        name:"courseStage", 
		        groupcss:"", 
		        popplace:"left",  
		        value:course.getCourseStage(),  
		        options:CodeFactory.getCodeList(CourseStateConstants.COURSE_STAGE),
		        required:false
		      )  
		    }
		   @column(css:"fcol-5") {
		      @combobox(
		        label:MessageUtil.getMessage("是否按步骤"),
		        name:"flagOrderStudy", 
		        groupcss:"", 
		        popplace:"left",  
		        value:course.getFlagOrderStudy(),
		        options:CodeFactory.getCodeList(CourseStateConstants.COURSE_IS_STEP),
		        required:false
		      )  
		    }
		  </div>
		  
		 <div class="row" style="background-color:#FFFFFF;margin-left:3px;margin-right:7px;">
             @column(css:"fcol-5") { 
                @combobox(
                    label:MessageUtil.getMessage("是否精品课程"), 
                    name:"flagBoutique", 
                    groupcss:"", 
                    required: true, 
                    maxlength:"50", 
                    value:course.getFlagBoutique(), 
                    options:CodeFactory.getCodeList(CourseStateConstants.COURSE_IS_STEP),
                 )
               }
              @column(css:"fcol-5") { 
                 @combobox(
                    label:MessageUtil.getMessage("是否首页轮播"), 
                    name:"flagHomeCarousel", 
                    groupcss:"", 
                    required: true, 
                    maxlength:"50", 
                    value:course.getFlagHomeCarousel(), 
                    options:CodeFactory.getCodeList(CourseStateConstants.COURSE_IS_STEP),
                 )
               }
         </div>
          <div class="row" style="background-color:#FFFFFF;">
             @ue_image_video(label:contentLable, height:"260",width:"90%", value:course.getContent(), disabled:isOnlyView)
          </div>
	}
	@if(!isTeacher){   
		 <div style="border-top:1px solid #DDDDDD;margin-top:20px">
		    <div class="row" style="margin:20px auto 20px 120px;background-color:#FFFFFF;">
		        @button(
	                label:MessageUtil.getMessage(CourseMsgNames.COURSE_BY_TEACHER),
	                 iconcss:"fa fa-plus",
	                 onclick:"addTeacher"
	            )
		    </div>
		    
	        @row(){
	           @column(css:"fcol-5") { 
	               @input(
	                   label:MessageUtil.getMessage("导师帐号"), 
	                   name:"teacherUserName", 
	                   groupcss:"", 
	                   required: true, 
	                   maxlength:"50", 
	                   value:course.getTeacher().getUserName(),
	                   disabled:true 
	                )
	           }
	           @column(css:"fcol-5") { 
	               @input(
	                   label:MessageUtil.getMessage("导师姓名"), 
	                   name:"personName", 
	                   groupcss:"", 
	                   required: true, 
	                   maxlength:"50", 
	                   value:course.getTeacher().getPersonName(),
	                   disabled:true 
	                )
	           }
	            @column(css:"fcol-5") { 
	               @input(
	                   label:MessageUtil.getMessage("导师性别"), 
	                   name:"sex", 
	                   groupcss:"",            
	                   maxlength:"50", 
	                   value:course.getTeacher().getSex(),
	                   disabled:true 
	                )
	           }
	          }  
	          @row(){
	             @column(css:"fcol-10") {   
	                 @textarea(
	                   groupcss:"", 
	                   label:MessageUtil.getMessage("导师简介"), 
	                   id:"remark", 
	                   maxlength:"400", 
	                   height:"235px",
	                   value:course.getTeacher().getRemark(), 
	                   disabled:true
	                )
	             }
	           }
	          @row(){
	             @column(css:"fcol-10") {   
	                @input(
	                   label:MessageUtil.getMessage("导师提示"), 
	                   name:"target", 
	                   groupcss:"", 
	                   maxlength:"50", 
	                   value:course.getTarget()
	                )
	             }
	        }
	    
	    </div>
    }
	<div style="border-top:1px solid #DDDDDD;display: table;width: 100%;">
	   @question_list(questFormName:"questionForm", questionList:question,  disabled:isOnlyView)
	</div>
<div style="background-color: #E6E6E6;width: 100%;">
           <div id="activity" name="activity"  class="">
                @row(){
                    @check({
                        name:"activity",
                        id:"activity",
                        label:"选择活动", 
                        popplace:"left", 
                        multiple:true, 
                        value:course.getActivitys(), 
                        valuefield:"value", 
                        labelfield:"label",
                        optionWidth:"100px",
                        options:"[{value:\"1\",label:\"笔记\"},{value:\"2\",label:\"评论\"},{value:\"3\",label:\"问答\"},{value:\"4\",label:\"投票\"}]"
                    })
                   
                }
            </div>
     </div>
     @btnbox(){
        @if(!isOnlyView) {
            @button(
                width:100,
                iconcss:"gh gh-plus", 
                onclick:"addQuestionByBtn", 
                label:MessageUtil.getMessage(CourseMsgNames.CENT_ADD_QUESTION))
            @button_save(width:100)
        } 
        @button_close(width:100, onclick:"closeWindow")
    }
</div>
   
<script type="text/javascript">
    window.onload=function(){
    }
 //显示性别
    function formatterSex(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "女";
            }else if(value == 1){
                return "男";
            }
        }       
    }
    function addTeacher(){
        BootstrapDialog.show({
            title:"选择教师",
            message: $('@es(teacher).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "确定",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
                    if(selectedRows && selectedRows.length > 0){
                       for(var i = 0; i < selectedRows.length; i++){
                          getTeacher(selectedRows[i].userId);
                       } 
                       this.dialog.close();
                    }else{
                        warning("请选择要添加的用户");
                    }
               }
                
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
    }
    $(function(){
        //Validator
        $('#file-form').bootstrapValidator({
        });
    });
    function closeWindow() {
         // window.close();
      window.history.go(-1);
    }
    function addQuestionByBtn() {
        questionForm.addQueset();
        $('html,body').animate({scrollTop:$('html,body')[0].scrollHeight},'slow');
    }
   function save() {
        questionForm.bootstrapValidator();
        $('#file-form').bootstrapValidator('validate');
        var validate = questionForm.isValid()
            && $('#file-form').data('bootstrapValidator').isValid();
        if(validate){
            var params = new FormData($('#file-form')[0]);
            var baseInfo = $('#base-form').serializeObject();
            baseInfo.id = getValue($('#courseId'));
            baseInfo.measurementId = getValue($('#measurementId'));
            baseInfo.title = getValue($('#title'));
            baseInfo.firstTag = getValue($('#firstTag'));
            baseInfo.secondTag = getValue($('#secondTag'));
            baseInfo.teacherId = getValue($('#teacherId'));
            baseInfo.summary = getValue($('#summary'));
            baseInfo.flagOrderStudy= getValue($('#flagOrderStudy'));
            baseInfo.courseStage= getValue($('#courseStage'));
            baseInfo.content = ue.getContent();
            baseInfo.questionList = questionForm.getQuestionList();
            baseInfo.measureType = getValue($('#measureType'));
            baseInfo.crowdType = getValue($('#crowdType'));
            baseInfo.price = getValue($('#price'));
            baseInfo.target=getValue($('#target'));
            var str= document.getElementsByName("activity");
            var objarray=str.length;
            var chestr="";
            for (i=0;i<objarray;i++){
                if(str[i].checked == true)
                {
                   chestr+=str[i].value+",";
                }
            }
            baseInfo.activitys=chestr;
            baseInfo.flagBoutique=getValue($('#flagBoutique'));
            baseInfo.flagHomeCarousel=getValue($('#flagHomeCarousel'));
            @if(CourseStateConstants.MEASUERMENT_TYPE_EXAM.equals(measureType)) {
                baseInfo.measureStartDate = getValue($('#measureStartDate'));
                baseInfo.measureEndDate = getValue($('#measureEndDate'));
                baseInfo.measureDuration = getValue($('#measureDuration'));
                //默认值
                baseInfo.startDate = baseInfo.measureStartDate ;
                baseInfo.endDate = baseInfo.measureEndDate;
                baseInfo.studyDuration= baseInfo.measureDuration + "分钟";
                baseInfo.courseStatus = '@CourseStateConstants.COURSE_STATUS_FINISH';
            } else {
                baseInfo.startDate = getValue($('#startDate'));
                baseInfo.endDate = getValue($('#endDate'));
                baseInfo.studyDuration = getValue($('#studyDuration'));
                baseInfo.courseStatus = getValue($('#courseStatus'));
            }
            params.append("courseJson", JSON.stringify(baseInfo));
            $.ajax({ 
                url: "@url("/manager/course/saveInfo.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.history.go(-1);
                    });
                }
            });
        }
    }
    
    function getTeacher(value){
        var url  = "@url("/manager/course/searchTeacher.action?teacherId=")"+value;
        $.ajax({ 
            url:url,
            bodyMsg:true,
            type:"post", 
            success: function(result){
               $("#personName").val(result.data.personName);
               $("#sex").val(result.data.sex);
               $("#remark").val(result.data.remark);
               $("#teacherId").val(result.data.userId);
               $("#teacherUserName").val(result.data.userName);
             } 
        });
    }
    function getSecondTag(value){ 
       if(value ==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/manager/course/searchSecondTag.action?id=")"+value;
	        var str = "";
	        var secondTags=null
	        $.ajax({ 
	            url:url,
	            bodyMsg:true,
	            type:"post", 
	            success: function(result){
	                 $.each(result, function (i, item) {
	                     if(item!=null && item!= undefined){
	                        str += '<option value="'+item.tagId+'" >'+item.tagName+'</option>';
	                     }
	                });
	                $("#secondTag").html(str);
	                $("#secondTag").selectpicker('refresh');
	             }  
	       });
       }
       // parent.refreshTable();
    }
</script>


