@args String title = "", 
CourseManagerView course,
Object catagoryTags,
String pageType,
String measureType,
List teachList,
Boolean isOnlyView = false,
Boolean isTeacher =  false,
String type,
Object tagsSecond
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.CourseManagerView;
    com.cloudsoaring.web.course.view.TagView;
    com.cloudsoaring.web.course.entity.QuestionEntity
    java.lang.*;
}

<style>
	.question-title {
	    margin-top: 20px;
	}
	.question-div {
	    margin: 5px 0px;
	    display: table;
	    background-color: #fff;
	    padding-bottom: 15px;
	}
	.teacher-div {
        margin: 50px 0px;
        background-color: #fff;
        padding-bottom: 15px;
    }
</style>
<!-- 人员添加dialog -->
@assign("teacher"){
  <div style="width:600">
      @form(name:"search-condition",validation:false){
           <div >
               @input(label:MessageUtil.getMessage("用户名"), name:"userName",groupcss:"fcol-6")
               @input(label:MessageUtil.getMessage("名称"), name:"personName",groupcss:"fcol-6")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
	    @table(id:("search-user"), showColumns:false, url:"/manager/course/searchTeacherAll.action",height:400<!-- ,singleSelect:true -->){
	        @columns(){
	            {field: 'state',title: "",align:'center',checkbox:true,width:30},
	            {field: 'userName',title: "用户名",sortable: true},                                            
	            {field: 'personName',title: "教师名称",sortable: true},
	            {field: 'sex',title: "性别",sortable: true,formatter:formatterSex},
	        }
	     }
    </div>
}
@{
     List questionTemp = null;
     String tempMeasurementId = "";
    if(course != null) {
        questionTemp = course.getQuestionList();
        if(questionTemp!= null && questionTemp.size() != 0) {
        	tempMeasurementId = ((QuestionEntity)(questionTemp.get(0))).getMeasureId();
        }
    }
    final String measurementId = tempMeasurementId;
    final List question = questionTemp;
    final Boolean isCourseListEmpty = course.getQuestionList() == null || course.getQuestionList().size() == 0;
    String titleLabelTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_TITLE);
    final String titleLabel = titleLabelTemp;
    String contentLableTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_CONTENT);
    final String contentLable = contentLableTemp;
    String detailLableTemp = MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_DETAIL);
    final String detailLable = detailLableTemp;
    String width="";
    if(type=="manager"){
        width="80%";
    }else{
        width="100%";
    }
    
    String tempPrice="";
    String pp=ConfigUtil.getProperty("PRICE_DISPLAY_MODE");
    if(pp.equals("P")){
        tempPrice="积分";
    }else if(pp.equals("S")){
      tempPrice="元";
    }
     final String price=tempPrice;
     
     String isForeverTemp = "1";
     if(StringUtil.isNotEmpty(course.getEndDate()) && course.getEndDate().substring(0,3) == "2099"){
     	isForeverTemp = "1";
     }
     final String isForever = isForeverTemp;
     
     String courseLocationTemp = "0";
     if(StringUtil.isNotEmpty(course.getCourseLocation())){
     	courseLocationTemp = course.getCourseLocation();
     }
     final String courseLocation = courseLocationTemp;
}
<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;background: #fff;padding-left:100px;">
	@form("file-form"){
	    <div  >
	      @input(label:"课程标题", name:"title", groupcss:"col-10",  maxlength:"50",required:true, value:course.getTitle())
             @hidden(id:"courseId", name:"id", value: course.getId())
             @hidden(id:"teacherId", name:"teacherId",value:course.getTeacherId())
             @hidden(id:"type", name:"type",value:type)
	    </div>
	     <div  >
	      @input(label:"年级名称", name:"gradeName", groupcss:"col-5",  maxlength:"10",required:false, value:course.getGradeName())
	       @input(label:"班级名称", name:"className", groupcss:"col-5",  maxlength:"10",required:false, value:course.getClassName())
	    </div>
		<div>
	          @combobox(
	              label:MessageUtil.getMessage("课程放置在"),
	              name:"courseLocation", 
	              popplace:"left",  
	              value:courseLocation, 
	              options:CodeFactory.getCodeList(CourseStateConstants.COURSE_LOCATION),
	              required:true, 
	              groupcss:"col-10",
	              disabled:false
	           )
		</div>
		@if(type=="manager"){
			<div style="height: 295px;">
			        @picture(
			            label:MessageUtil.getMessage("封面照片"),
			            id:"picture",
			            required:true,
			            height:"250px", 
			            groupcss:"col-5",
			            url:"pub/image.action", 
			            fileid: course.getPictureId(), 
			            filename:course.getPictureName(), 
			            viewmode:false
			         )
			</div>
		}else{
		   <div style="height: 295px;">
                   @picture(
                        label:MessageUtil.getMessage("封面照片"),
                        id:"picture",
                        required:true,
                        height:"210px",  
                        groupcss:"col-10", 
                        url:"pub/image.action", 
                        fileid: course.getPictureId(), 
                        filename:course.getPictureName(), 
                        viewmode:false
                     )
              </div>
              <div  >
                   @textarea(
                       label:MessageUtil.getMessage("封面简介"), 
                       id:"summary", 
                       required:false,
                       maxlength:"400", 
                       height:"256px",
                       groupcss:"col-10",
                       disabled:false,
                       value:course.getSummary(), 
                    )
              </div>
		}
		<div>
                     @textarea(
                     	groupcss:"col-10",
                       label:MessageUtil.getMessage("课程须知"), 
                       id:"notice", 
                       required:false,
                       maxlength:"400", 
                       height:"120px",
                       value:course.getNotice(), 
                       disabled:false
                    )
            </div>
		<div  >
                 @combobox(
			        label:MessageUtil.getMessage("标签分类"),
			        name:"schoolNatrul", 
			        groupcss:"col-5",
			        popplace:"left",  
			        required:true,
			        value:course.getSchoolNatrul(),  
			        options:CodeFactory.getCodeList(CourseStateConstants.SCHOOL_COURSE_STAGE),
			        required:true
			      )
			      @combobox(
	                     label:MessageUtil.getMessage("二级标签"),
			            name:"tagsId", 
	                    popplace:"left", 
	                    multiple:false,
	                    groupcss:"col-5", 
	                    value:course.getTagsId(),
	                    labelfield:"tagName", 
	                    valuefield:"tagId",
	                    options:catagoryTags,
	                    required:true
	              )
		  </div>
          <div>
             @ue_image_video(label:contentLable, height:"720",width:"90%", value:course.getContent(), disabled:isOnlyView)
          </div>
          <div style="background-color: #E6E6E6;width: 100%;">
           <div id="activity" name="activity"  class="">
                @row(){
                    @check({
                        name:"weidu",
                        id:"weidu",
                        label:"选择评价维度", 
                        popplace:"left", 
                        multiple:true, 
                        value:course.getWeidu(), 
                        valuefield:"value", 
                        labelfield:"label",
                        optionWidth:"100px",
                        options:"[{value:\"1\",label:\"科学精神\"},{value:\"2\",label:\"责任担当\"},{value:\"3\",label:\"学会学习\"},{value:\"4\",label:\"人文底蕴\"},{value:\"5\",label:\"实践创新\"},{value:\"6\",label:\"健康生活\"}]"
                    })
                   
                }
            </div>
     </div>
          <div>
          </div>
	}
	@if(!isTeacher){
		<div>
			<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 60px;margin-top: 20px;margin-bottom: 30px;">
		        @button(
	                label:MessageUtil.getMessage(CourseMsgNames.COURSE_BY_TEACHER),
	                 iconcss:"fa fa-plus",
	                 onclick:"addTeacher"
	            )
		    </div>
		   	<div id="teachersDiv" style="margin-left: 60px;margin-top: 20px;">
		   	<style>
		   		.teacherGrid {
				    border-top: 1pt solid #C1DAD7;
				    border-left: 1pt solid #C1DAD7;
				    margin-left: 15px;
				}
				.teacherGrid tr:first-child {
				    background: #b60006;
				    color: #fff;
				    font-weight: bold;
				    height: 40px;
				}
				.teacherGrid td {
				    padding: 5px 10px;
				    text-align: center;
				    border-right: 1pt solid #f5f7fa;
				    border-bottom: 1pt solid #f5f7fa;
				    text-shadow: 0px 0px #40CEFF;
				}
				
				.teacherGrid tr:nth-of-type(odd){ background:#e2636845;} /* odd 标识奇数行，even标识偶数行 */
				
				.teacherGrid tr:hover{ background: #C5EAEF;} /*鼠标悬停后表格背景颜色*/
		   	</style>
		   		<table class="teacherGrid" width="1010" border="0" cellspacing="0" cellpadding="0" align="center"> 
				  <tbody>
					<tr id="userTable" style="background: #b60006;">
					    <td>帐号</td>
					    <td>姓名</td>
					    <td>性别</td>
					    <td>简介</td>
					    <td>操作</td>
				  	</tr>
				</tbody></table>
		   	</div>
		    
		</div>
	}
	<div style="display: table;width: 100%;">
	    @question_list(questFormName:"questionForm", questionList:question,  disabled:isOnlyView)
	</div>
     @btnbox(){
	    @if(!isOnlyView) {
	        @button_save(width:100)
	    } 
	    @button_close(width:100, onclick:"closeWindow")
    }
    <div class="clearfix"></div>
</div>



<script type="text/javascript">
//永久课程改变的时控制课程期限
function foreverFlagChange(value, id){
	if(value == '1'){
		setValueAny("endDate", "2099-12-31");
		disableAny("endDate",true)
	} else {
		if(getValueAny("endDate") == "2099-12-31") {
			setValueAny("endDate", (new Date()).addDay(1));
		}
		disableAny("endDate",false)
	}
}


 //显示性别
    function formatterSex(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "女";
            }else if(value == 1){
                return "男";
            }
        }       
    }
    function addTeacher(){
        BootstrapDialog.show({
            title:"选择教师",
            message: $('@es(teacher).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "确定",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
                    if(selectedRows && selectedRows.length > 0){
                       for(var i = 0; i < selectedRows.length; i++){
                    	   var flag = true;
                    	   var length = $("#userTable").siblings().length;
                           if(length > 0){
                           	for(var j=0;j<length;j++){
                           		var id =  $("#userTable").siblings().eq(j).attr("id");
                           		if(selectedRows[i].userId ==  id){
                           			noticeInfo(selectedRows[i].personName+"已在辅助教师列表，请重新选择！");
                           			flag = false;
                           			return false;
                           		}
                           	}
                           }
                           if(flag){
                        	   getTeacher(selectedRows[i].userId); 
                           }
                       } 
                       this.dialog.close();
                    }else{
                        warning("请选择要添加的用户");
                    }
               }
                
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
    
    
    }
    $(function(){
        //Validator
        
        $('#file-form').bootstrapValidator({
        });
        
       	foreverFlagChange('@isForever');
       	
       	var arr = "@course.getUserIdList()";
       	if(arr.length > 0){
       		var arr1 = arr.substring(1,arr.length-1).split(",");
       		for(var i=0;i<arr1.length;i++){
       			getTeacher(arr1[i].trim());
       		}
       	}
    });
    function closeWindow() {
       //window.close();
       window.history.go(-1);
    }
    function addQuestionByBtn() {
        questionForm.addQueset();
        $('html,body').animate({scrollTop:$('html,body')[0].scrollHeight},'slow');
    }
   function save() {
        questionForm.bootstrapValidator();
        $('#file-form').bootstrapValidator('validate');
        var validate = questionForm.isValid()
            && $('#file-form').data('bootstrapValidator').isValid();
        var teacherUserName = $("#teacherUserName").val();
        if(teacherUserName == ""){
        	warning("请选择授课教师");
        	return false;
        }
        if(validate){
            var params = new FormData($('#file-form')[0]);
            var baseInfo = $('#base-form').serializeObject();
            baseInfo.id = getValue($('#courseId'));
            baseInfo.measureId = '@measurementId';
            baseInfo.title = getValue($('#title'));
            baseInfo.gradeName = getValue($('#gradeName'));
            baseInfo.className = getValue($('#className'));
            baseInfo.firstTag = getValue($('#firstTag'));
            baseInfo.secondTag = getValue($('#secondTag'));
            //baseInfo.teacherId = getValue($('#teacherId'));
            baseInfo.summary = getValue($('#summary'));
            baseInfo.flagOrderStudy= getValue($('#flagOrderStudy'));
            baseInfo.courseStage= getValue($('#courseStage'));
            baseInfo.content = ue.getContent();
            //baseInfo.courseDetail = uedetail.getContent();
            baseInfo.questionList = questionForm.getQuestionList();
            baseInfo.measureType = getValue($('#measureType'));
            baseInfo.crowdType = getValue($('#crowdType'));
            baseInfo.courseLocation = getValue($('#courseLocation'));
            //baseInfo.price = getValue($('#price'));
            baseInfo.price = 0;
            baseInfo.target=getValue($('#target'));
            baseInfo.notice=getValue($('#notice'));
            //baseInfo.flagRequired=getValue($('#flagRequired'));
            baseInfo.flagRequired="1";
            baseInfo.flagSkipVideo=getValue($('#flagSkipVideo'));
            baseInfo.courseRource=getValue($('#courseRource'));
            baseInfo.supplier=getValue($('#supplier'));
            //baseInfo.numRecommend=getValue($('#numRecommend'));
            baseInfo.schoolNatrul =getValue($('#schoolNatrul'));//学校属性
            baseInfo.tagsId =getValue($('#tagsId'));//标签分类
            baseInfo.numRecommend="";
            var str= document.getElementsByName("weidu");
            var objarray=str.length;
            var chestr="";
            for (i=0;i<objarray;i++){
                if(str[i].checked == true)
                {
                   chestr+=str[i].value+",";
                }
            }
            baseInfo.weidu=chestr;
            var length = $("#userTable").siblings().length;
            if(length > 0){
            	var arr = [];
            	for(var i=0;i<length;i++){
            		var userId = $("#userTable").siblings().eq(i).attr("id");
            		arr.push(userId);
            	}
            	 baseInfo.userIdList=arr;
            }else{
            	baseInfo.userIdList=[];
            }
            baseInfo.activitys=chestr;
            baseInfo.flagBoutique=getValue($('#flagBoutique'));
            baseInfo.flagHomeCarousel=getValue($('#flagHomeCarousel'));
            @if(CourseStateConstants.MEASUERMENT_TYPE_EXAM.equals(measureType)) {
                baseInfo.measureStartDate = getValue($('#measureStartDate'));
                baseInfo.measureEndDate = getValue($('#measureEndDate'));
                baseInfo.measureDuration = getValue($('#measureDuration'));
                //默认值
                baseInfo.startDate = baseInfo.measureStartDate ;
                baseInfo.endDate = baseInfo.measureEndDate;
                baseInfo.studyDuration= baseInfo.measureDuration + "分钟";
                baseInfo.courseStatus = '@CourseStateConstants.COURSE_STATUS_FINISH';
            } else {
                baseInfo.startDate = getValue($('#startDate'));
                baseInfo.endDate = getValue($('#endDate'));
                baseInfo.studyDuration = getValue($('#studyDuration'));
                baseInfo.courseStatus = getValue($('#courseStatus'));
            }
            baseInfo.courseType = getValue($('#courseType'));
            baseInfo.content = baseInfo.content.replace('data-latex=','111');
            params.append("courseJson", JSON.stringify(baseInfo));
            $.ajax({ 
                url: "@url("/manager/course/saveInfo.action")",
                data:params,
                method:"post",  
                bodyMsg:true,
                mask:true,
                /** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
                success: function(result){
                    success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
                         window.history.go(-1);
                    });
                }
            });
        }
    }
    function getTeacher(value){
        var url  = "@url("/manager/course/searchTeacher.action?teacherId=")"+value;
        $.ajax({ 
            url:url,
            bodyMsg:true,
            type:"post", 
            success: function(result){
            	var sex="无";
            	if(result.data.sex==0){
            		sex="女";
                 }else if(result.data.sex==1){
                	 sex="男";
                 }
            	var remark = result.data.remark==""?result.data.remark:"无";
            	var tbBody = "";
            	tbBody += "<tr id='"+result.data.userId+"'>"+
            	"<td>"+result.data.userName+"</td>"+
            	"<td>"+result.data.personName+"</td>"+
            	"<td>"+sex+"</td>"+
            	"<td>"+remark+"</td>"+
            	"<td><a class='iconlink-rythm fa fa-times' iconcss='glyphicon-list' onclick='delUser(\""+result.data.userId+"\")' style='valign:middle;' title='删除'></a></td></tr>";
				$("#userTable").after(tbBody); 
				
               /* $("#personName").val(result.data.personName);
               if(result.data.sex==0){
                  $("#sex").val("女");
               }else if(result.data.sex==1){
                  $("#sex").val("男");
               }else{
                $("#sex").val("");
               }
               $("#remark").val(result.data.remark);
               $("#teacherId").val(result.data.userId);
               $("#teacherUserName").val(); */
             } 
        });
    }
    
    function delUser(userId){
    	$("#"+userId).remove();
    }
    function getSecondTag(value){ 
       if(value ==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/pub/course/searchSecondTag2.action?id=")"+value;
            $("#secondTag").selectpicker('reload', url);
       }
       // parent.refreshTable();
    }
</script>


