@args  HomeworkView homework,
String type
@import(){
	com.cloudsoaring.web.course.view.HomeworkView
}
@form("file-form"){
<div style="width:100%; ">
	<div style="padding-top:10px;width:@if(type=="manager"){60%} else{100%};margin-left :@if(type=="manager"){20%} else{2%};">
		@input(id:"form",label:"题目", name:"title", groupcss:"", required: true, maxlength:"50", value:homework.getTitle())
	</div>
	<div style="margin-left :@if(type=="manager"){19%} else{0%};">
 			@ue_image_video(label:"题目描述", height:200,width:(type=="manager" ? "90%": "100%"), value:homework.getContent())
 	</div>
 	
			@btnbox(align:"center"){
				<span style="diaplay:inline-block; margin-right:60px;">
					@button(label:"保存",width:200,iconcss:"",onclick:"release",innerType:"", id:"btnAdd")	
				</span>
				<span style="diaplay:inline-block;margin-left:60px;">
				
					@button_close(label:"返回",width:200,iconcss:"",onclick:"closeWindow")
				</span>
				
			
			}	
	
		<div class="clearfix"></div>
</div>
}
<script>

 function closeWindow() {
	 window.location.href=document.referrer;
    }
  function release(){
    	 $('#file-form').bootstrapValidator('validate');
    	 if($('#file-form').data('bootstrapValidator').isValid()){
    	 	var title=$('#form').prop("value");
    	 	var content= ue.getContent();
    	 	var linkId="@homework.getLinkId()";
    	 	var linkType="@homework.getLinkType()";
    	 	$.ajax({ 
                url: "@url("/manager/course/saveTask.action")",
                data:{linkId:linkId,linkType:linkType,title:title,content:content},
                method:"post",  
                bodyMsg:true,
                mask:true,
                success: function(result){
   					success("作业设置成功", function(){
   						window.history.go(-1);
                 	});
                }
            });
    	 
    	 }
    }

</script>