@args Object condition,
String selectCategory,
String parentPage = "course",
String editCourseUrl = "/manager/course/editInit.action",
String shareCourseUrl = "/manager/course/share.action",
String factoryCourseUrl = "/manager/course/factory.action",
String viewCourseUrl = "/manager/course/viewCourse.action",
String addMeasureUrl = "/manager/course/measureInit.action",
String editMeasureUrl = "/manager/course/measureEditInit.action",
String searchUserInitUrl = "/manager/course/searchUserInit.action",
String taskInitUrl= "/manager/course/taskInit.action",
Boolean isTeacher =  false,
Object catagoryTags,
String pageType,
Boolean isOnlyView = false,
Object tagsSecond,
HomeworkView homeworkView,
Object id,
Object courseId
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;
    com.cloudsoaring.web.course.view.HomeworkView;
}

@{
    String groupCssTemp = "col-4";
    if(isTeacher){
        groupCssTemp = "col-6";
    }
    final String groupcss = groupCssTemp;
}
<style>
#search-condition{
padding: 59px;
margin-top: -6px
}
</style>
<div style="width:100%;margin-top: 30px;">
<div class="course_logo">
		<div class="course-top ">
 <a class="top-header" href="javascript:history.back(-1)">
	    <span style="font-family: 微软雅黑;font-size: 24px;color: #b60005;display: block;float: left;vertical-align: middle;line-height: 73px;padding-left: 5px;">作业点评 &nbsp;&nbsp;>&nbsp;&nbsp;</span>
</a>
<a class="top-header" href="">
	    <span style="font-family: 微软雅黑;font-size: 24px;color: #b60005;display: block;float: left;vertical-align: middle;line-height: 73px;padding-left: 5px;">@homeworkView.getTitle()</span>
</a>
</div>
</div>
<br/>
@form("search-condition"){
     @input({label:MessageUtil.getMessage("学生名称"), name:"personName", groupcss:groupcss})
     @combobox(
	     label:MessageUtil.getMsgAndNote("状态","bb02001.txt.courseManger.status"),
	     name:"status", 
	     empty:true, 
	     options:"[{value:'0',text:'未提交'},{value:'1',text:'待查看'},{value:'2',text:'已查看未评价'},{value:'3',text:'已评价'}]", 
	     groupcss:groupcss
     )
     @ftdate(label:MessageUtil.getMessage(CourseMsgNames.CENTER_DATE), fromname:"createStartDate", toname:"createEndDate", groupcss:groupcss)
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
        @button(label:MessageUtil.getMessage("批量点评"),iconcss:"fa fa-plus",onclick:"allEvalutionUrl")
        @button(label:MessageUtil.getMessage("一键催交"),iconcss:"fa fa-bullhorn",onclick:"allCjUrl")
    }
}
@table(id:"search-result",url:("/pub/course/zuoyelistByIdSearch.action?id="+homeworkView.getId()+"&courseId="+courseId),sortName:"createDate",  condition:condition
                    sortOrder:"desc",queryParamFunction:"createQueryParams01"){
    @columns(){
        {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMsgAndNote("全选","selectAll")',width:50,background:'#b60005'}, 
        {field: 'personName',title:'@MessageUtil.getMsgAndNote("姓名","bb02001.txt.courseManger.title")',width:200,background:'#b60005',sortable: true,align:'left'}, 
        {field: 'createDate',title:'@MessageUtil.getMsgAndNote("提交日期","bb02001.txt.courseManger.createDate")',width:50,background:'#b60005',sortable: true,align:'left', formatter:dateFormat},
        {field: 'status',title:'@MessageUtil.getMsgAndNote("状态","bb02001.txt.courseManger.status")',width:50,background:'#b60005',sortable: true,align:'left',formatter:"statusFormat"},
        @optcolumn(){
            @iconlink(
                label:MessageUtil.getMessage("点评")
                , iconcss:"gh gh-list"
                , onclick:"teacherReview"
            )
        }
    }
    
}

</div>
<script>
    function titleFormat(value, row, index) {
        var title = hideStringByMax(value, 20);
        if(row.flagNote == "1") {
               title += " <a  title='笔记' class='fa fa-file-word-o' '></a>";
           }
           if(row.flagDiscuss=="1") {
               title += " <a title='评论'  class='fa fa-ellipsis-h' '></a>";
           }
           if(row.flagTest!="0") {
               title += " <a title='测试' class='fa fa-edit'  '></a>";
           }
           if(row.flagQa=="1") {
               title += " <a title='问答' class='fa fa-question' '></a>";
           }
           if(row.flagVote=="1") {
               title += " <a title='投票' class='gh gh-align-justify''></a>";
           }
           if(row.flagTask!="0") {
               title += " <a title='作业' class='gh gh-list-alt' '></a>";
           }  
          var html = title; 
          return html;
    }
    function teacherReview(row){
    	if(row.status == null){
    		noticeError(row.personName+"作业还未提交！");
    		return;
    	}
    	$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"作业，教师点评",operSite:"pblMgr/course/manager/chapter_list.html"},
			success:function(result){
			}
		});
    	if(row.status == 3){
    		window.location.href="@url("/pub/course/viewHomeWorkById.action?id=")"+row.answerId;
    	}else{
    		window.location.href="@url("/pub/course/homeWorkById.action?id=")"+row.answerId;
    	}
    }
    function statusFormat(value, row, index){ 
    	if(value == null){
    		value=0;
    	}
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.HOME_WORK_STATUS)).raw();
        return data[value];
    }

	 $(function(){
		 $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程管理",operSite:"pblMgr/course/manager/course_list.html"},
			success:function(result){
			}
		});	
	  });
	 //批量点评
	   function allEvalutionUrl(row){
		 var homeworkId='@id';
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var userIds = [];
            var personNames = [];
            var answerIds=[];
            for(var i = 0; i < selectedRows.length; i++){
            	userIds [i] = selectedRows[i].userId;
            	personNames[i] = selectedRows[i].personName;
            	answerIds[i] = selectedRows[i].answerId;
            	if(null==selectedRows[i].answerId){
            		warning('请勿选择未提交作业的学生！');
            	return;
            	}
            	
            }
            confirm('@MessageUtil.getMsgAndNote("确定要批量点评吗？","txt.resource.deleteConfirm")', function(){
                window.location.href="/pblMgr/pub/course/allEvalutionMsg.action?userIds="+userIds+"&id="+answerIds+"&personNames="+personNames
            });
        }else{
            warning('@MessageUtil.getMsgAndNote("请选择要点评的人员！","txt.resource.deleteWarning")');
        }
    }
		 //一键催交
	   function allCjUrl(row){
		 var homeworkId='@id';
		 var courseId='@courseId';
         var userIds = [];
         var personNames = [];
         var answerIds=[];
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            for(var i = 0; i < selectedRows.length; i++){
            	userIds[i] = selectedRows[i].userId;
            	personNames[i] = selectedRows[i].personName;
            	answerIds[i] = selectedRows[i].answerId;
            	if(null!=selectedRows[i].studentComment){
            		warning('请勿选择已提交作业的学生！');
            	return;
            	}
            	
            }
            confirm('@MessageUtil.getMsgAndNote("确定要催交吗？","txt.resource.deleteConfirm")', function(){
            	$.ajax({
        			type:'post',
        			url:'/pblMgr/pub/course/saveCjById.action',
        			dataType:"json",
        			data:{userIds:userIds.join(','),courseId:courseId,homeworkId:homeworkId},
        			success:function(result){
        				$('#search-result').bootstrapTable('refresh');
                    	noticeInfo('@MessageUtil.getMsgAndNote("一键催交成功！", "ab01011.txt.oprate.send.ok")');
        			}
        		});
            });
        }else{
            warning('@MessageUtil.getMsgAndNote("请选择要催交的人员！","txt.resource.deleteWarning")');
        }
    }
</script>