@args  HomeworkView homework,
String type
@import(){
	com.cloudsoaring.web.course.view.HomeworkView
}
@{
	final Boolean isMakerFlag = (homework.getIsMakerFlag())!= null && ("1").equals(homework.getIsMakerFlag()) ? true : false;
}
<style>
	.home_work{
		width: 60%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		margin-top: 40px;
		background: #fff;
	}
	.home_work img{
		width:250px;	
	}
	.home_work video{
		width:250px;	
	}
</style>
@form("file-form"){
<div style="width:100%; " class="home_work">
	<div class="row" style="height: 50px;padding-top: 30px;margin-right: 0px;margin-left: 0px;padding-bottom: 30px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业题目：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homework.getTitle()</div>
    </div>
 	<div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>作业内容：</span></div>
            </div>
        </div>
        @if(isMakerFlag){
         <div class="col-lg-8" style="margin-top: -5px;">
			<button id="" class="btn btn-normal " style="width:100px;" data-content="打开" type="button" onclick="openMaker();"><b class="fa fa-check">打开作业</b></button>
			<input type="hidden" id="userId" value="@sessionUser.getUserId()">
			<input type="hidden" id="answerUserId" value="@homework.getAnswerUser()">
			<input type="hidden" id="courseId" value="@homework.getCourseId()">
			<input type="hidden" id="id" value="@homework.getHomeanwserId()">
			<input type="hidden" id="audioType" value="@homework.getAudioType()">
			<input type="hidden" id="answerUser" value="@homework.getAnswerUser()">
			
		</div>	
        }else{
        	 <div class="col-lg-8" style="font-size:16px">@homework.getContent().raw()</div>
        }
    </div>
 	 @if(!isMakerFlag){
 	<div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>提交内容：</span></div>
            </div>
        </div>
         	<div class="col-lg-8" style="font-size:16px">@homework.getStudentComment().raw()</div>
    </div>
     }
    <div class="row" style="padding-top: 30px;margin-right: 0px;margin-left: 0px;background-color: #ffffff;">
        <div class="col-lg-2" style="font-size:20px;color:#E84D3B"></div>
        <div class="col-lg-2" style="font-size:16px">
            <div class="row" style="background-color: #ffffff;">
                <div class="col-lg-12"><span>评论内容：</span></div>
            </div>
        </div>
        <div class="col-lg-8" style="font-size:16px">@homework.getTeacherEvalution().raw()</div>
    </div>
		<div class="clearfix"></div>
</div>
}
<script>
function openMaker(){
	var homeUserId ="";
	var userId = $("#userId").val();
	var courseId = $("#courseId").val();
	var id = $("#id").val();
	var audioType = $("#audioType").val();
	var answerUser = $("#answerUser").val();
	if(audioType == "2"){
		homeUserId = answerUser;
	}
	if(userId != answerUser){
		homeUserId = answerUser;
	}else{
		homeUserId = userId;
	}
	$.ajax({ 
        url: "@url("/pub/course/getCourseNameByAnswerId.action")",
        data:{"id":id},
        method:"post",  
        bodyMsg:true,
        success: function(result){
        	var chapterId = result[0].chapterId;
        	var chapterName = result[0].chapterName;
        	var courseName = result[0].courseName;
        	var jsonObj = {"chapterId":chapterId, "userId":userId,"homeworkUserId":homeUserId,"chapterName":chapterName, "courseName":courseName, "courseId":courseId,"isOpenHomeWork":true};
        	if(IsPC()){
        		UNI_StartHomeWork(JSON.stringify(jsonObj));
        	}else{
        		window.location.href ="uniwebview://UNI_StartHomeWork?parm1="+JSON.stringify(jsonObj);
        	}
        }
    });
}
function IsPC(){
	 var userAgentInfo = navigator.userAgent;
	 var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
	 var flag = true;
	 for (var v = 0; v < Agents.length; v++){
		 if(userAgentInfo.indexOf(Agents[v]) > 0){
			 flag = false;
			 break;
		}
	 }
	 return flag;
}
 function closeWindow() {
        window.history.go(-1);
         //window.close();
    }
  function release(){
    	 $('#file-form').bootstrapValidator('validate');
    	 if($('#file-form').data('bootstrapValidator').isValid()){
    	 	var title=$('#form').prop("value");
    	 	var studentComment= ue1.getContent();
    	 	var id="@homework.getId()";
    	 	var homeanwserId="@homework.getHomeanwserId()";
    	 	$.ajax({ 
                url: "@url("/pub/course/saveMystudy.action")",
                data:{id:id,studentComment:studentComment,homeanwserId:homeanwserId,status:"1"},
                method:"post",  
                bodyMsg:true,
                mask:true,
                success: function(result){
   					success("作业提交成功", function(){
   						window.history.go(-1);
                 	});
                }
            });
    	 
    	 }
    }

</script>