@args Object condition,
String selectCategory,
String parentPage = "course",
String addCourseUrl = "/manager/course/addInit.action",
String editCourseUrl = "/manager/course/editInit.action",
String shareCourseUrl = "/manager/course/share.action",
String factoryCourseUrl = "/manager/course/factory.action",
String viewCourseUrl = "/manager/course/viewCourse.action",
String addMeasureUrl = "/manager/course/measureInit.action",
String editMeasureUrl = "/manager/course/measureEditInit.action",
String searchUserInitUrl = "/manager/course/searchUserInit.action",
String taskInitUrl= "/manager/course/taskInit.action",
Boolean isTeacher =  false,
Object catagoryTags,
String pageType,
Boolean isOnlyView = false,
Object tagsSecond,
HomeworkView homeworkView
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;
    com.cloudsoaring.web.course.view.HomeworkView;
}

@{
    String groupCssTemp = "col-4";
    if(isTeacher){
        groupCssTemp = "col-6";
    }
    final String groupcss = groupCssTemp;
}
<div style="width:100%;margin-top:30px;">
@form("search-condition"){
     @input({label:MessageUtil.getMessage(CourseMsgNames.CENTER_COURSE_TITLE), name:"courseName", groupcss:groupcss}) 
     @input({label:MessageUtil.getMessage("作业标题"), name:"title", groupcss:groupcss}) 
     @ftdate(label:MessageUtil.getMessage(CourseMsgNames.CENTER_DATE), fromname:"createStartDate", toname:"createEndDate", groupcss:groupcss)
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
    }
}
@table(id:"search-result",url:"/pub/course/zuoyelistSearch.action",sortName:"createDate",  condition:condition
                    sortOrder:"desc",queryParamFunction:"createQueryParams01"){
    @columns(){
        {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMsgAndNote("全选","selectAll")',width:50,background:'#b60005'}, 
        {field: 'title',title:'@MessageUtil.getMsgAndNote("作业标题","bb02001.txt.courseManger.title")',width:200,background:'#b60005',sortable: true,align:'left'}, 
        {field: 'createDate',title:'@MessageUtil.getMsgAndNote("创建日期","bb02001.txt.courseManger.createDate")',width:50,background:'#b60005',sortable: true,align:'left', formatter:dateFormat},
        {field: 'gradeName',title:'@MessageUtil.getMsgAndNote("班级","bb02001.txt.courseManger.status")',width:50,background:'#b60005',sortable: true,align:'left'},
        {field: 'courseName',title:'@MessageUtil.getMsgAndNote("课程标题","bb02001.txt.courseManger.status")',width:50,background:'#b60005',sortable: true,align:'left'},
        {field: 'chapterName',title:'@MessageUtil.getMsgAndNote("章节标题","bb02001.txt.courseManger.status")',width:50,background:'#b60005',sortable: true,align:'left'},
        @optcolumn(){
            @iconlink(
                label:MessageUtil.getMessage("查看详情")
                , iconcss:"gh gh-list"
                , onclick:"addChapter"
            )
            @iconlink(
                label:MessageUtil.getMessage("编辑")
                , iconcss:"glyphicon-pencil"
                , onclick:"editNotice"
                , visibleFunction:"isEditNotice"
            )
        }
    }
    
}

</div>
<script>

  /*   function deleteCourse(row){
    	$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程，删除课程",operSite:"pblMgr/course/manager/course_list.html"},
			success:function(result){
			}
		});	
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var id = [];
            for(var i = 0; i < selectedRows.length; i++){
                id[i] = selectedRows[i].id;
            }
            confirm("同时删除课程相关的计划、学员、投票、评论、笔记、问卷、作业等信息，且删除后不可恢复，是否确认删除？", function(){
            	$.ajax({ 
                    url: "@url("/manager/course/deleteCourse.action")",
                    data:{id:id.join(',')},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    
    } */
    function titleFormat(value, row, index) {
        var title = hideStringByMax(value, 20);
        if(row.flagNote == "1") {
               title += " <a  title='笔记' class='fa fa-file-word-o' '></a>";
           }
           if(row.flagDiscuss=="1") {
               title += " <a title='评论'  class='fa fa-ellipsis-h' '></a>";
           }
           if(row.flagTest!="0") {
               title += " <a title='测试' class='fa fa-edit'  '></a>";
           }
           if(row.flagQa=="1") {
               title += " <a title='问答' class='fa fa-question' '></a>";
           }
           if(row.flagVote=="1") {
               title += " <a title='投票' class='gh gh-align-justify''></a>";
           }
           if(row.flagTask!="0") {
               title += " <a title='作业' class='gh gh-list-alt' '></a>";
           }  
          var html = title; 
          return html;
    }
    function addChapter(row){
    	$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"查看作业",operSite:"pblMgr/pub/manager/homework_user_list.html"},
			success:function(result){
			}
		});	
        	window.location.href="@url("/pub/course/zuoyelistById.action?id=")"+row.id+"&title="+row.title+"&courseId="+row.courseId;
       
    }

    function isEditNotice(value, row, index){
    	if(row.examStatus=="0"){
    		 return true;	
    	}else{
    		 return false;
    	}
       
    }
	 $(function(){
		 $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程管理",operSite:"pblMgr/pub/manager/homework_user_list.html"},
			success:function(result){
			}
		});	
	  });
	 function editNotice(row){
		 window.open('@url("/manager/course/taskInit.action")?linkId='+row.chapterId+"&linkType=CHAPTER",'_self');
		 }
</script>