@args String ueVarName="uedetail", 
String value="", 
String label = "", 
String labelcss = "", 
String height="600", 
String width = "100%", 
Boolean visible=true,
String groupcss = "fcol-12",
String model,
Boolean disabled = false,
Boolean script = true,
Boolean flagUploadAttachment = true

@if(visible){
	@{
		final String id = IDGenerator.genDomID();
		final String sdisabled = disabled ? ",readonly:true" : "";
		
	}
	@if(script){
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditorDetail/ueditor.config.js")"></script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditorDetail/ueditor.all.js")"></script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/addKityFormulaDialog.js")"> </script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/getKfContent.js")"> </script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/defaultFilterFix.js")"> </script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/lang/zh-cn/zh-cn.js")"></script>
	}

	@group(label:label, css:groupcss,labelcss:labelcss){
		<script id='@id' type="text/plain" style="width:@width;height: @height"></script>
	}
	
	<script>
		@if("simple".equals(model))
			var @ueVarName = UEDETAIL.getEditor('@id',{
				initialContent: "@value"
				,autoHeightEnabled:false
				,elementPathEnabled:false
				,UEDITOR_HOME_URL:"@url("/js/ueditorDetail/")"
				@sdisabled
				,initialFrameHeight:"@height"
				, toolbars: [[
					'source','undo', 'redo', '|',
		            'bold',  'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', '|',
		            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
		            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
		            'directionalityltr', 'directionalityrtl', 'indent', '|',
		            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
		            'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
		            'simpleupload', 'insertimage','insertcode', @if(flagUploadAttachment){'attachment', }'|',
		            'horizontal', 'date', 'time', 'spechars','preview','kityformula'
		        ]]
			});
		} else {
			var @ueVarName = UEDETAIL.getEditor('@id',{
				initialContent: "@value"
				,autoHeightEnabled:false
				,elementPathEnabled:false
				,UEDITOR_HOME_URL:"@url("/js/ueditorDetail/")"
				@sdisabled
				,initialFrameHeight:"@height"
				, toolbars: [[
		            'source','undo', 'redo', '|',
		            'bold', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', '|',
		            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
		            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
		            'directionalityltr', 'directionalityrtl', 'indent', '|',
		            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
		            'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
		            'simpleupload', 'insertimage', 'insertvideo','insertcode',@if(flagUploadAttachment){'attachment', }'|',
		            'horizontal', 'date', 'time', 'spechars','preview','kityformula'
		        ]]
			});
		}
	</script>
}