@args String title = "",Boolean pageLoading=true

@extends(common_teacherevalution, title:"")
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
 		    com.cloudsoaring.web.teacherevalution.entity.*
 		    
}
<script type="text/javascript" src="@url("/js/baidu.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>
	function createQueryParams01(params){
		return buildQueryParam('#search-condition', params);
	}
	function noFormat(value, row, index){ 
		return index+1;
	}
	function lookType(row){
		window.location.href = "@url("/pub/teacherevalution/edit.action?")"+"userId="+row.userId;
	}

	function isEditNotice(value, row, index){
        return true;
    }
    function exportExcel(){
        // var url = "@url("/manager/teacherevalution/exportReward.action")" + "?" + $("form[name='search-result']").serialize();
         window.location.href = "@url("/pub/teacherevalution/exportInstitution.action")" + "?" + $("form[name='search-condition']").serialize(); 
    }
</script>
<div>
@form(name:"search-condition",validation:false,showempty:true){
	 
		@hidden(id:"conditionId",name:"id")
		@input(label:"教师名称",name:"personName",maxlength:"20")
		@input(label:"所属单位",name:"companyId",maxlength:"20")
		@btnbox(align:"right"){
			@button_search()
			@button_clear()
			@button(label:MessageUtil.getMessage("导出Excel"),iconcss:"gh gh-export",onclick:"exportExcel",innertype:"")
			<!-- @button(label:MessageUtil.getMessage("导出Excel"), iconcss:"fa fa-plus-circle", url:"/manager/institution/exportInstitution.action", innerType:"") -->
		}
	<script>
		function doClear(){
			clearForm($('#import-form'));
			$("#result").html("");
		}
	</script>
}
	
</div>  
@table(id:"search-result",url:"/pub/teacherevalution/searchTeacherEvalution.action",pageSize:10, sortName:"createTime",sortable:true,
 		sortOrder:"desc",queryParamFunction:"createQueryParams01"){ 		
	@columns(){
		{field: 'number',title:'@MessageUtil.getMessage(TpMsgNames.MSG_NO)',width:80,align:'center',formatter:"noFormat"},
		{field: 'personName',title:'教师名称',width:120,sortable: true,align:'center'}, 
		{field: 'companyId',title:'所属单位',width:200,sortable: true,align:'center'},
		{field: 'sex',title:'性别',width:60,sortable: true,align:'center'},
		{field: 'idCard',title:'身份证号',width:200,sortable: true,align:'center'},
		{field: 'telephone',title:'手机号',width:200,sortable: true,align:'center'},
		{field: 'email',title:'电子邮箱',width:200,sortable: true,align:'center'},
		@optcolumn(width:120){
			@iconlink(
				label:MessageUtil.getMessage("查看详情")
				, iconcss:"glyphicon-eye-open"
				, onclick:"lookType"
			)
		}
	}
}

