@import(){
    com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.TpStateConstants;
    com.cloudsoaring.web.teacherevalution.entity.MeasurementTeacherEntity;
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.course.view.*;
    com.cloudsoaring.web.course.entity.*;
    }
@args String measurementId,String userId,UserMeasurementResultEntity condition

@extends(common_teacherevalution, activeNo:2)

@*@table(id:"search-result",url:("/pub/teacherevalution/viewUserAnswerSearch.action?measurementId="+measurementId+"&userId="+userId)){
    @columns(){
        {field: 'questionContent',title:'@MessageUtil.getMessage("题目")',width:150,align:'left'},
        {field: 'optionOrder',title:'@MessageUtil.getMessage("选择答案")',width:80,align:'left',formatter:"statusFormat"},
        {field: 'optionContent',title:'@MessageUtil.getMessage("答案内容")',width:80,align:'left'},
    }
}*@
@{
     final String measurementInitUrl = url("/pub/teacherevalution/searchMeasuerment.action?measurementId="+condition.getMeasurementId() + "&userId=" + condition.getUserId());
    final String startDateString = DateUtil.getDateString(condition.getStartDate(),DateUtil.DATE_PATTERN_14);
    final String submitDateString = DateUtil.getDateString(condition.getSubmitDate(),DateUtil.DATE_PATTERN_14);
    final String submitTypeString = CodeFactory.get(CourseStateConstants.MEASUERMENT_SUBMIT_TYPE, condition.getSubmitType());
}

<style>
.input-group-label {
padding: 4px 29px 0px 50px;
    width: 50px;
    text-align: right;
    padding-right: 8px;
    font-weight: 400;
}
</style>
@area(title:MessageUtil.getMessage("基本信息")){
    
    @label(label:MessageUtil.getMessage("用户名"),value:condition.getUserName(),groupcss:"col-6")
    @label(label:MessageUtil.getMessage("姓名"),value:condition.getPersonName())
    @label(label:MessageUtil.getMessage("总题数"),value:condition.getTotalGoal())
}
@area(title:MessageUtil.getMessage("答题详情")){
    @div(style:"padding-left:50px"){
        @homemeasurement(queUrl:measurementInitUrl)
    }
}
<script>
     function statusFormat(value, row, index){ 
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.OPTION_ORDER)).raw();
        return data[value];
    }
</script>