@args String title = "",Boolean pageLoading=true,

@extends(common_institution, title:"")
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
 		    com.cloudsoaring.web.institution.entity.*
 		    
}
<script type="text/javascript" src="@url("/js/baidu.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>
	function createQueryParams01(params){
		return buildQueryParam('#search-condition', params);
	}
	function noFormat(value, row, index){ 
		return index+1;
	}
	function editGrade(row){
		window.location.href = "@url("/pub/course/institutionEdit.action?")"+"id="+row.id;
	}
	function lookGrade(row){
		window.location.href = "@url("/pub/course/institutionLook.action?")"+"id="+row.id;
	}
	function deleteGrade(row){
		var msg = "@MessageUtil.getMessage(TpMsgNames.SURE_TO_DELETE)"+"["+row.institutionName+"]"+"?";
		confirm(msg,function(){
			$.ajax({ 
			    url:"@url("/pub/course/deleteInstitutionById.action?")"+"id="+row.id,
				bodyMsg:true,
				type:"post", 
				success: function(result){
					parent.research();
			    }
			});
		});
	}
	function jionType(row){
		if(row.institutionType=="学校"){
			noticeInfo("请勿操作，学校不能添加学校!");
		}else{
			window.location.href="@url("/pub/course/addInstitution.action?")"+"institutionParentId="+row.id;
		}
		
		
		
	}
	function isEditNotice(value, row, index){
        return true;
    }
    function exportExcel(){
        // var url = "@url("/manager/course/exportReward.action")" + "?" + $("form[name='search-result']").serialize();
         window.location.href = "@url("/pub/course/exportInstitution.action")" + "?" + $("form[name='search-condition']").serialize(); 
    }
</script>
<div>
@form(name:"search-condition",validation:false,showempty:true){
	 
		@hidden(id:"conditionId",name:"id")
		@input(label:"机构名称",name:"institutionName",maxlength:"20")
		@input(label:"机构类型",name:"institutionType",maxlength:"20")
		@btnbox(align:"right"){
			@button_search()
			@button_clear()
		}
	<script>
		function doClear(){
			clearForm($('#import-form'));
			$("#result").html("");
		}
	</script>
}
	
</div>  
@table(id:"search-result",url:"/pub/course/searchInstitution.action",pageSize:10, sortName:"createTime",sortable:true,
 		sortOrder:"desc",queryParamFunction:"createQueryParams01"){ 		
	@columns(){
		{field: 'number',title:'@MessageUtil.getMessage(TpMsgNames.MSG_NO)',width:80,align:'center',formatter:"noFormat"},
		{field: 'institutionName',title:'机构名称',width:120,sortable: true,align:'center'}, 
		{field: 'institutionType',title:'机构类型',width:120,sortable: true,align:'center'},
		{field: 'institutionAbbreviation',title:'机构简称',width:200,sortable: true,align:'center'},
		{field: 'institutionAddress',title:'机构地址',width:200,sortable: true,align:'center'},
		{field: 'nature',title:'性质',width:200,sortable: true,align:'center'},
		{field: 'telphone',title:'联系电话',width:200,sortable: true,align:'center'},
		{field: 'email',title:'电子邮箱',width:200,sortable: true,align:'center'},
		@optcolumn(width:120){
			@iconlink(
				label:MessageUtil.getMessage("查看详情")
				, iconcss:"glyphicon-eye-open"
				, onclick:"lookGrade"
				, innerType:"EDIT"
			)
		}
	}
}

