﻿@args com.cloudsoaring.web.teacher.entity.TeacherEntity teacher, 
String selectedPage,
String graduateTimeOfFirstDegree,
String graduateTimeOfHighestDegree,
String workTime,
String educationWorkTime,
String birthDay
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
@{
	final Boolean isExit = teacher!= null && StringUtil.isNotEmpty(teacher.getId()) && teacher.getId()!= null;
	String teacherId = "";
	if(isExit){
		teacherId = teacher.getId();
	}
}
@extends(common_teacher, title:"", selectedPage: "teacherInfo")
<style>
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    /* position: absolute;
    width: 172px;
    left: -15px; */
    width: 100%;
    top: 0;
    padding-top: 10px;
}
.slider ul {
    list-style: none;
    height: 48px;
    text-align: center;
}
.slider ul li:first-child {
    /* margin-top: 40px; */
}
.slider ul li {
    height: 48px;
    width: 160px;
    display: inline-block;
}
.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px ;
}
.slider ul a:hover {
    color: #14191e;
}
</style>
<div style="width: 80%;margin: auto;height: 1500px;background: #fff;">
<div class="slider">
	</div>
@form("teacher-form"){
	<div style="height: 295px;">
	    @picture(
	        label:MessageUtil.getMessage("个人照片"),
	        id:"picture",
	        required:true,
	        height:"250px", 
	        groupcss:"col-5",
	        url:"pub/image.action", 
	        fileid: teacher.getPictureId(), 
	        filename: teacher.getPictureName(), 
	        viewmode:false
	     )
	</div>
	<div>
     	@input(label:"所属单位", name:"companyId", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getCompanyId())
     	@input(label:"用户名", name:"userName", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getUserName(),disabled:true)
        @hidden(id:"id", name:"id", value: teacher.getId())
	</div>
	<div>
     	@input(label:"姓名", name:"personName", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getPersonName(),disabled:true)
     	@combobox(
			   label:"性别项",
			   name:"sex", 
			   empty:false, 
			   options:CodeFactory.getCodeList(TeacherStateConstants.PERSON_SEX), 
			   value:teacher.getSex(),
			   groupcss:"col-5"
			) 
	</div>
	<div>
     	@input(label:"身份证号", name:"idCard", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getIdCard())
     	@input(label:"出生年月",type:"date", name:"birthday", groupcss:"col-5",  maxlength:"50",required:true, value:birthDay)
	</div>
	<div>
     	@input(label:"手机号", name:"telephone", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getTelephone())
     	@input(label:"邮件", name:"email", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getEmail())
	</div>
	<div>
     	@combobox(
		   label:"政治面貌",
		   name:"politicsStaus", 
		   empty:false, 
		   options:CodeFactory.getCodeList(TeacherStateConstants.POLITICS_STATUS), 
		   value:teacher.getPoliticsStaus(),
		   groupcss:"col-5"
		) 
		@combobox(
			label:"婚姻状况",
		   	name:"maritalStatus", 
		   	empty:false, 
		   	options:CodeFactory.getCodeList(TeacherStateConstants.MARITAL_STATUS), 
		   	value:teacher.getMaritalStatus(),
		  	groupcss:"col-5"
		) 
	</div>
	<div>
     	@combobox(
		   label:"学历",
		   name:"education", 
		   empty:false, 
		   options:CodeFactory.getCodeList(TeacherStateConstants.EDUCATION), 
		   value:teacher.getEducation(),
		   groupcss:"col-5"
		) 
		@combobox(
			label:"学位(第一学历)",
		   	name:"degreeOfFirstDegree", 
		   	empty:false, 
		   	options:CodeFactory.getCodeList(TeacherStateConstants.DEGREE), 
		   	value:teacher.getDegreeOfFirstDegree(),
		  	groupcss:"col-5"
		) 
	</div>
	<div>
     	@input(label:"毕业院校(第一学历)", name:"schoolOfFirstDegree", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getSchoolOfFirstDegree())
     	@input(label:"所学专业(第一学历)", name:"majorOfFirstDegree", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getMajorOfFirstDegree())
	</div>
	<div>
     	@input(label:"学习方式(第一学历)", name:"styleOfFirstDegree", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getStyleOfFirstDegree())
     	@input(label:"毕业时间(第一学历)",type:"date", name:"graduateTimeOfFirstDegree", groupcss:"col-5",  maxlength:"50",required:true, value:graduateTimeOfFirstDegree)
	</div>
	<div>
		@combobox(
			label:"学位(最高学历)",
		   	name:"degreeOfHighestDegree", 
		   	empty:false, 
		   	options:CodeFactory.getCodeList(TeacherStateConstants.DEGREE), 
		   	value:teacher.getDegreeOfHighestDegree(),
		  	groupcss:"col-5"
		)
		@input(label:"毕业院校(最高学历)", name:"schoolOfHighestDegree", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getSchoolOfHighestDegree()) 
	</div>
	<div>
     	@input(label:"所学专业(最高学历)", name:"majorOfHighestDegree", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getMajorOfHighestDegree())
     	@input(label:"学习方式(最高学历)", name:"styleOfHighestDegree", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getStyleOfHighestDegree())
	</div>
	<div>
		@input(label:"毕业时间(第一学历)",type:"date", name:"graduateTimeOfHighestDegree", groupcss:"col-5",  maxlength:"50",required:true, value:graduateTimeOfHighestDegree)
		@input(label:"职务", name:"duty", groupcss:"col-5",  maxlength:"50",required:true, value:teacher.getDuty())
	</div>
	<div>
		@combobox(
			label:"职称",
		   	name:"jobTitle", 
		   	empty:false, 
		   	options:CodeFactory.getCodeList(TeacherStateConstants.JOB_TITLE), 
		   	value:teacher.getJobTitle(),
		  	groupcss:"col-5"
		)
		@input(label:"参加工作时间",type:"date", name:"workTime", groupcss:"col-5",  maxlength:"50",required:true, value:workTime)
	</div>
	<div>
		@input(label:"教育工作时间",type:"date", name:"educationWorkTime", groupcss:"col-5",  maxlength:"50",required:true, value:educationWorkTime)
	</div>
	@btnbox(border:true){
		@button_back(width:100)
	}
}
</div>
<script>
	function save(){
		$('#teacher-form').bootstrapValidator('validate');
   	 	if($('#teacher-form').data('bootstrapValidator').isValid()){
			//var params = $('#teacher-form').serializeObject();
			var params = new FormData($('#teacher-form')[0]);
			$.ajax({ 
				url: "@url("/pub/teacher/save.action")",
				data:params,
				type:"post", 
				bodyMsg:true,
				processData: false,
				contentType: false, 
				success: function(result){
					window.location.href="@url("/pub/teacher/familyMembers.action?teacherId=")"+result.data.id;
					
				}
		    });
		}
	}
</script>

