@extends(client,title:"")
@args Integer pageSize = Integer.valueOf("10")
@{
	final String fileSizeLimit ="1024000";
}
<style>
a{
font-size:16px;
}
 a:link{
text-decoration:none;
color:black;
}
 a:visited{
color:black;
}
.active{
	color:black;
	font-weight:bold;
}
#tap a:hover{
	color:black;
	font-weight:bold;
}
.jstree-proton .jstree-disabled, .jstree-proton .jstree-disabled.jstree-hovered {
    background: 0 0;
    cursor: not-allowed;
}
nav{
	display:none;
	
}
#main{
	margin-top:-60px;
}
</style>

<!-- 移动到窗口 -->
@assign("configFolder"){
	<div id="folder-tree" style="height:500px;overflow: auto;"></div>
	<script>
		initFolderTree('%fileId');
	</script>
}
@assign("uploadFile"){

		
				@form("file-form"){
					@file(
						label:"上传文件",
						required:true
						,name:"f1"
						, fileextion: "txt, csv, doc, docx, xls, xlsx, ppt, pptx, pdf, rtf, zip, jpg ,png,mp4"
						, placeholder:"请选择需要上传的文件"
						, maxFileSize: fileSizeLimit
						)
					@input(label:"文件名",name:"fileName",value:"",required:true,groupcss:"fcol-12",maxLength:10)		
				}
				
			
				



}



<div id="main" ng-app="myApp" ng-controller="myController" style="background:#fff;">
	<div id="header" style="padding-top:30px;padding-left:30px;padding-right:30px;">
		<div id="tap" >
			<a id="tabOne" class="active" href="javascript:void(0)" ng-click="allView()" style="display:inline-block;">全部</a>
			<a id="tabfore" href="javascript:void(0)" ng-click="openFore()" style="display:inline-block;margin-left:30px;">视频</a>
			<a id="tabTwo" href="javascript:void(0)" ng-click="openTwo()" style="display:inline-block;margin-left:30px;">文档</a>
			<a id="tabThr" href="javascript:void(0)" ng-click="openThr()" style="display:inline-block;margin-left:30px;">图片</a>
		</div>
		<div style="margin-top:30px;">
			<button type="button" class="btn btn-danger" style="width:100px;" ng-click="upload()">上传文件</button>
			<a style="font-size:15px;color:#35b5eb;padding-left:30px;font-weight:bold;"ng-click="addFolder()">
				<span class="fa fa-archive"></span>
				<span style="padding-left:5px;">新建文件夹
				</span>
			</a>

		</div>
		<div class="clearfix"></div>
		<div style="margin:0px;padding:0px;">
				<ul class="pagination" ng-if="selectFolderList.length>1"  style="margin:0px;padding-top:10px;padding-bottom:0px;">
 					<li ng-repeat="item in selectFolderList" ">
 						<a  href="javascript:void(0)"  ng-click="searchFolder($index)" ng-bind="item.fileName"></a>
 					</li>
				</ul>
		</div>
		<div style="padding-top:10px;">
			<table class="table-rythm table table-hover table-striped">
   				<thead style="background:#e6e6e6;">
      				<tr ng-show="checked.length <=0">
      				 	<th style="padding-left:20px;width:150px;">
        					<span style="position:relative;top:-3px;"><input type="checkbox" ng-model="master" ng-click="addAll(master)"></span><span style="padding-left:5px;">全选</span>
      					</th>
         				<th>文件名称</th>
         				<th>大小</th>
         				<th>修改日期</th>
      				</tr>
      				<tr ng-show="checked.length > 0">
      					<th style="padding-left:20px;width:150px;padding-bottom:12px;">
      						<span style="position:relative;top:-3px;"><input type="checkbox" ng-model="master" ng-click="addAll(master)"></span><span ng-bind="'已选中'+checked.length+'个文件'" style="padding-left:5px;"></span>
      					</th>
      					<th>  

      						  <button type="button" class="btn btn-default" style="border-radius:5px !important;" ng-click="delectList()">
      						  		<span class="iconlink-rythm glyphicon-trash glyphicon" style="color:black;padding-left:5px;">
      						  		</span><span style="padding-left:5px;color:black;padding-right:5px;">删除</span>
      						  </button>

      					</th>
      					<th >
      						  <button ng-show="!selectFolder"  type="button" class="btn btn-default" style="border-radius:5px !important;" ng-click="copyListTo()">复制到</button>	
      					</th>
      					<th>
      						 <button type="button" class="btn btn-default" style="border-radius:5px !important;" ng-click="moveListTo()">移动到</button>
      					</th>
      				</tr>
   				</thead>
   				<tbody>
   					 <tr ng-repeat="item in list" >
      					<td style="padding-left:20px;width:150px;">
        					<input  type="checkbox" id="$index" ng-click="chk($index)" ng-model="check[$index]"/>
      					</td>
      					<td  ng-if="!flag[$index]" >
      						<span ng-if="item.fileOrFolderType=='1'" class="fa fa-folder-o" ng-click="openFolder($index)"></span>
      						<span ng-if="item.fileOrFolderType=='0'" class="fa fa-file-o"></span>
      						<a  ng-if="item.fileOrFolderType=='0'" ng-bind="item.fileName" style="color:black;"></a>
      						<a ng-if="item.fileOrFolderType=='1'" ng-bind="item.fileName" ng-click="openFolder($index)" style="color:black;"></a>
        					<div style="float:right;margin-right:10px;">
        						<a ng-click="downFile($index)"><span ng-if="item.fileOrFolderType=='0'" class="gh gh-save" title="下载" style="color:#35b5eb;"></span></a>
        						  <div class="btn-group">
    									<span  style="color:#35b5eb;font-size:17px;"data-toggle="dropdown" class="fa fa-chevron-circle-down" title="">
   										 </span>
    									<ul class="dropdown-menu" >
      										<li><a    ng-click="moveTo($index)" >移动到</a></li>
      										<li class="divider" ng-if="item.fileOrFolderType=='0'"></li>
      										<li ng-if="item.fileOrFolderType=='0'"><a  ng-click="copyTo($index)">复制到</a></li>
      										<li class="divider"></li>
      										<li><a  ng-click="update($index)">重命名</a></li>
      										<li class="divider" ></li>
      										<li ><a  ng-click="delectOne($index)">删除</a></li>
   										 </ul>
  									</div>
        					</div>
        					
        					
      					</td>
     					<td  ng-if="flag[$index]">
     						<span ng-if="item.fileOrFolderType=='1'" class="fa fa-folder-o"></span>
      						<span ng-if="item.fileOrFolderType=='0'" class="fa fa-file-o"></span>
        					
        					<input   type="text" ng-model="item.fileName" style="width:200px;height:25px;margin:0px;padding:0px;"maxLength="10" >
        					<button ng-click="res($index)"><span class="gh gh-ok" style="color:#00cc33;" title="确认"></span></button>
        					<button ng-click="rset($index)"><span class="gh gh-remove" style="color:#35b5eb;" title="清除"></span></button>
      					</td>
      					<td ng-bind="item.fileSize | fileSizeFormatter"></td>
      					<td ng-bind="item.updateDate | formatDate"></td>
    				</tr>
   				</tbody>
   				
   			</table>
				<!-- 分页 -->
			<div style="text-align:center;">
				<ul class="pagination" ng-if="pageList.length>0">
 					<li ng-repeat="item in pageList" class="{{item.css}}">
 						<a ng-if="item.css == 'disabled'" href="javascript:void(0)"  ng-click="searchPage(item.clickNum)" ng-bind="item.text"></a>
 						<a  ng-if="item.css != 'disabled'" href="javascript:void(0)"  ng-click="search4Page(item.clickNum)" ng-bind="item.text"></a>
 					</li>
				</ul>
			</div>
			<div style="padding-bottom:30px;"></div>
		</div>	
	</div>
	

	



















</div>
<!-- 引入相关文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngular.js")"></script>

<script>
  
  
 myApp.filter("formatName",function(){
  	return function(str){
  		if("0"==str.fileOrFolderType){
  			return str.fileName;
  		}else if("1"==str.fileOrFolderType){
  			return str.directoryName;
  		}
  	}
  })
  .filter("fileSizeFormatter",function(){
  	return function(str){
  		if(!str){
  			return "_";
  		}else{
  			return formatFileSize(str);
  		}
  	}  
  })
  .filter("formatDate",function(){
  	return function(str){
  		if(str == null || str == "undefind"){
				return "";
			}else{
				return dateFormat(str);;
			}
  	}
  })
  .controller("myController",function($scope,$http){
   
    //数据初始化
    $scope.page = 1;
    $scope.fileId=""; 
     $scope.searchType="0";   
     $scope.selectFolderList=[{fileName:"根",fileId:"",updateDate: "",fileOrFolderType:"1"}];  
    $scope.init=function(){
    	$scope.selectFolder=false;
    	$scope.watch=0;
    	$scope.check=[];
    	$scope.names=[];
    	$scope.newFolder=[];
    	//选中的数组
    	$scope.checked = [];
    	$scope.flag=[];
    	$scope.list=[];
    	var type="";
    	var obj=$scope.selectFolderList[$scope.selectFolderList.length-1];
    	$scope.fileId=obj.fileId;
    	if(obj.fileId){
    		type="1";
    	}else{
    		type="0";
    	}
      	var params ={pageNumber:$scope.page,pageSize:@pageSize,fileId:$scope.fileId,searchType:$scope.searchType,type:type,sortName:"createDate",sortOrder:"desc"};
      	$http.post("@url("/client/dropBox/userFileList.action")",params)
      	.success(function(req){
      		if(req&&req.data){
      			$scope.list=req.data;
      		 	for(var i=0;i<$scope.list.length;i++){
    				$scope.check.push(false);
    				$scope.flag.push(false);
    				$scope.names.push($scope.list[i].fileName);
    			}
      			//改变分页数据
				$scope.pageList = getPageList(req.page,req.total);
			}
      	})
      
      }
      	//点击分页
		$scope.search4Page = function(num){
			$scope.page = num;
			//发送请求
			$scope.init();
		};
		$scope.searchPage=function(){
			return false;
		}
		
		 $scope.init();
      //
      $scope.allView=function(){
      	$scope.searchType="0";
      	$("#tabTwo").removeClass("active");
		$("#tabThr").removeClass("active");
		$("#tabfore").removeClass("active");
		$("#tabOne").attr("class","active");
		$scope.init();
      
      }
      //下载
      $scope.downFile=function(index){ 	
      		
		window.open('@url("/client/dropBox/fileDownload.action")?fileId='+$scope.list[index].fileId,'_blank');	 				
      }
      //点击导航
      $scope.searchFolder=function(index){
      	var obj=$scope.selectFolderList[index];
      	var arr=[];
      	for(i=0;i<=index;i++){
      		 arr.push($scope.selectFolderList[i]);
      	}
      	$scope.selectFolderList=arr;
      	$scope.page=1;
      	$scope.init();
      }
      //
       $scope.upload=function(){
      		showDiaLog();      
      }
      //上传文件
      $scope.save=function(dialog){
      	var obj=$scope.selectFolderList[$scope.selectFolderList.length-1];
      	var fileValid = $("#f1").fileinput('validate');	
      	$('#file-form').bootstrapValidator('validate');
		if(fileValid&&$('#file-form').data('bootstrapValidator').isValid()){  	
			var params = new FormData($('#file-form')[0]);
			var fileName=$("#fileName").val();
			$.ajax({ 
				url: "@url("/client/dropBox/fileUpload.action?directoryId=")"+obj.fileId+"&htmlInputName=f1&fileName="+fileName,
				data:params,
				type:"post", 
				contentType:false,   
		        processData:false,  
				success: function(req){
	
		        	if(req.status){
						bodySuccess("上传成功");
						dialog.close();
						$scope.init();						
		        	}else{
		        		bodyMessage('danger', req.messages);
		        	}		        	  
		      	}
		    });
		   
		}
      	
      }
      //移动到
     $scope.moveTo=function(index){
     	var fileIds="";
     	var directoryIds="";
     	if($scope.list[index].fileOrFolderType=="1"){
     		directoryIds=$scope.list[index].fileId;
     	}else{
     		fileIds=$scope.list[index].id;
     	}
     	configFolder(fileIds,directoryIds);    	
      }
      //批量移动到
      $scope.moveListTo=function(){
      	var fileId=[];
     	var directoryId=[];
     	for(i=0;i<$scope.checked.length;i++){
     		if($scope.checked[i].fileOrFolderType=="1"){
     			if($scope.checked[i].fileId){
     				directoryId.push($scope.checked[i].fileId);
     			}    				    			
     		}else{
     			fileId.push($scope.checked[i].id);
     		}
     	}
     	if(fileId.length==0&&directoryId.length==0){
      			return warning("请选择需要移动的文件 ！");
      		}
     	var fileIds=fileId.join(',');
     	var directoryIds=directoryId.join(',');
      	configFolder(fileIds,directoryIds);
      }
      //复制到
      $scope.copyTo=function(index){
      	 var fileId=$scope.list[index].id,
	     fileOrFolderType=$scope.list[index].fileOrFolderType;
      	 recopyTo(fileId);
      }
      //批量复制到
      $scope.copyListTo=function(){
      	 var fileOrFolderType="0";
      	 var fileIds=[];
      	 for(i=0;i<$scope.checked.length;i++){
      	 	fileIds.push($scope.checked[i].id);
      	 }
      	 var fileId=fileIds.join(',');
      	 recopyTo(fileId);
      }
      $scope.openFore=function(){
      	$scope.searchType="2";
      	$("#tabOne").removeClass("active");
		$("#tabTwo").removeClass("active");
		$("#tabThr").removeClass("active");
		$("#tabfore").attr("class","active");
		$scope.page=1;
      	$scope.init();
      }
      
      $scope.openTwo=function(){
      	$scope.searchType="3";
      	$scope.page=1;
      	$("#tabOne").removeClass("active");
		$("#tabThr").removeClass("active");
		$("#tabfore").removeClass("active");
		$("#tabTwo").attr("class","active");
      	$scope.init();
      }
      $scope.openThr=function(){
      	$scope.searchType="1";
      	$scope.page=1;
      	$("#tabOne").removeClass("active");
		$("#tabTwo").removeClass("active");
		$("#tabfore").removeClass("active");
		$("#tabThr").attr("class","active");
		$scope.init();
      }
      //删除一个
      $scope.delectOne=function(index){
      		var obj=$scope.selectFolderList[$scope.selectFolderList.length-1];
      		var fileIds="";
      		var directoryIds="";
      		if($scope.list[index].fileOrFolderType=="1"){
      		
      			directoryIds=$scope.list[index].fileId;
      		}else{
      			fileIds=$scope.list[index].id;
      		}
      		confirm("确认删除此文件吗？", function(){
      	  		$http.post("@url("/client/dropBox/fileDelete.action")",{fileIds:fileIds,directoryIds:directoryIds,parentId:obj.fileId})
      	  		.success(function(req){
      	  			if(req.status){
						bodyMessage('success', "文件删除成功");
						$scope.page = 1;
						$scope.init();	
					}else{
						bodyMessage('danger', req.messages);	
					}
      			})   
      				return true;
      			} )     		
      		 
      }
      
      //删除多个文件/文件夹
      $scope.delectList=function(){
      		var obj=$scope.selectFolderList[$scope.selectFolderList.length-1];
      		var parentId=obj.fileId;
      		var fileId=[];
      		var directoryId=[];     	
      		for(i=0;i<$scope.checked.length;i++){
      			if($scope.checked[i].fileOrFolderType=="1"){
      				if($scope.checked[i].fileId){
      					directoryId.push($scope.checked[i].fileId);
      				}
      			}else{
      				fileId.push($scope.checked[i].id);
      			}
      		};
      		if(fileId.length==0&&directoryId.length==0){
      			return warning("请选择需要删除的文件 ！");
      		}
      		var fileIds=fileId.join(',');
      		var directoryIds=directoryId.join(",")
      		confirm("确认删选中的文件吗？", function(){
      	  		$http.post("@url("/client/dropBox/fileDelete.action")",{fileIds:fileIds,directoryIds:directoryIds,parentId:parentId})
      	  		.success(function(req){
      	  			if(req.status){
						bodyMessage('success', "文件删除成功");
						$scope.page = 1;
						$scope.init();	
					}else{
						bodyMessage('danger', req.messages);	
					}
      			})   
      				return true;
      			} )
      }
      //选择
     $scope.chk=function(index){
     	$scope.watch=$scope.watch+1;
     	if($scope.check[index]){
     		$scope.checked.push($scope.list[index]);
     	}else{
     		var arr = [];
     		for(var i=0;i<$scope.check.length;i++){
     			if($scope.check[i]){
     				arr.push($scope.list[i]);
     			}
     		}
     		$scope.checked = arr;
     	}

     } 
     $scope.$watch("watch",function(newValue){
     	$scope.selectFolder=false;
     	for(i=0;i<$scope.checked.length;i++){
     		if($scope.checked[i].fileOrFolderType=="1"){
     			$scope.selectFolder=true;
     		}
     	}    	
     
     })
     //新建文件夹
    $scope.addFolder=function(){
      var obj={fileName:"新建文件夹",fileSize:"",updateDate: new Date().getTime(),fileOrFolderType:"1"};
      $scope.newFolder.push(obj);
      if($scope.newFolder.length<=1){
     	  $scope.list.splice(0,0,obj);
     	  $scope.flag.splice(0,0,true);
     	  $scope.names.splice(0,0,obj.fileName);
     	  $scope.check.splice(0,0,false);
      }     
     }
  //全选
   $scope.addAll=function(master){
   		$scope.watch=$scope.watch+1;
      	var arr = [];
		for(var i=0;i<$scope.check.length;i++){
			$scope.check[i] = master;
			if(master){
				arr.push($scope.list[i]);
			}
		}
		$scope.checked = arr;
    }
    //重命名
    $scope.update=function(index){
      $scope.flag[index]=true;
    }
    //确认
    $scope.res=function(index){
     
      var fileOrFolderType=$scope.list[index].fileOrFolderType;	
      var  name=$scope.list[index].fileName;
      if(!name){
      	return warning("文件名不能为空！");
      }
      /* for(i=0;i<$scope.list.length;i++){
      	if(i!=index &&name==$scope.list[i].fileName ){
      		return warning("文件名称已存在！");
      	}
      }  */     	
    	
      var  id="";
      if(fileOrFolderType=="1"){
      	id=$scope.list[index].fileId;
      }else{
      	id=$scope.list[index].id;
      }
     
      if(id){
      	  $http.post("@url("/client/dropBox/fileRename.action")",{id:id,fileOrFolderType:fileOrFolderType,name:name})
      	  .success(function(req){
			if(req.status){
					 $scope.flag[index]=false;
					bodyMessage('success', "数据保存成功");
					$scope.init();	
				}else{
					bodyMessage('danger', req.messages);	
				}
      		})
      
      
      }else{
      	  var obj=$scope.selectFolderList[$scope.selectFolderList.length-1];
      	  $scope.ispage=false;
      	  if(obj.fileId){
      	  	$scope.ispage=true;
      	  }
          $http.post("@url("/client/dropBox/newFolder.action")",{fileOrFolderType:fileOrFolderType,directoryName:name,parentId:obj.fileId})
      	  .success(function(req){
			if(req.status){
					bodyMessage('success', "文件夹新增成功");
					if($scope.ispage){
						$scope.page=1;
					}
					
					$scope.init();	
				}else{
					bodyMessage('danger', req.messages);	
				}
      		})
      
      
      }
     
    
    }
    //清除
    $scope.rset=function(index){
    	var list=[];   
    	var flag=[];
    	var fileName=[];
    	var check=[];
    	var arr = [];
    	if($scope.newFolder.length>0 && index==0){
    		for(i=0;i<$scope.list.length;i++){
    			if(i!=index){
    				list.push($scope.list[i]);
    				flag.push($scope.flag[i]);
    				fileName.push($scope.names[i]);
    				check.push($scope.check[i]);
    				if($scope.check[i]){
    					arr.push($scope.list[i]);
    				}
    			}
    		}
    		$scope.checked = arr;
    	    $scope.list=list;
    	    $scope.names=fileName;
    		$scope.flag=flag;
    		$scope.check=check;
    		$scope.newFolder=[];
    	}else{
    		$scope.list[index].fileName=$scope.names[index];
    		$scope.flag[index]=false;   	
    	}

    }
    
     //确认
    $scope.resFolder=function(index){
      $scope.folderView[index]=false;
      var params ={};
      $http.post("@url("/client/tutor/userTutorGoingOnList.action")",params)
      .success(function(req){
			if(req.status){
					bodyMessage('success', "数据保存成功");
					//$scope.init();	
				}else{
					bodyMessage('danger', req.messages);	
				}
      	})
    }
    //清除
    $scope.rsetFolder=function(index){
      $scope.folderList[index].userName="";

    }
    
	//双击文件夹
    $scope.openFolder=function(index){
      	$scope.selectFolderList.push($scope.list[index]);
      	$scope.isupload=true;
      	$scope.page=1;
      	$scope.init();
      	
    }
   
    //移动新增文件夹
    $scope.addNewFolder=function(){
    	 var obj={directoryName:"新建文件夹",fileSize:"",updateDate: new Date().getTime(),fileOrFolderType:"1"};
    	 $scope.folderList.splice(0,0,obj);
    	 $scope.folderView.splice(0,0,true);
    }
    
  
    function recopyTo(fileId){
    		
		BootstrapDialog.show({
            title:"复制到",
            message: $('@es(configFolder).raw()'.replace(/%fileId/g,fileId)),
            buttons: [{
               label: "确定",
               cssClass: 'btn-normal gh gh-ok',
               id:'btnSaveRoleModule',
               action: function(dialog) {
               		if(!$('#folder-tree').jstree('get_selected')[0]){
						return warning("请选择需要复制到的文件夹！");
					}
            	   $.ajax({
	              		url: '@url("/client/dropBox/fileCopy.action")',
	              		type: "POST",
	              		data: {
	              			ids:fileId,
	              			directoryId:$('#folder-tree').jstree('get_selected')[0]
	              		},
	              		bodyMsg:true,
						mask:false,
			            success: function(data) {
			            	if(data.status){
			            		bodyMessage('success', "文件复制成功");
			            		dialog.close();
			            		$scope.$apply(function(){$scope.init();});
			            	}
				               						               						               		
				         } 
	              	});
               		
               }
           }, {
               label: '取消',
               cssClass: 'btn-normal fa fa-reply',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
    
    }
    
    function showDiaLog(){
    		BootstrapDialog.show({
            title:"上传文件",
            message: $('@es(uploadFile).raw()'),
            onshown: initaddDialog,
            buttons: [{
               label: "确定",
               cssClass: 'btn-normal gh gh-ok',
               id:'btnSaveRoleModule',
               action: function(dialog) {
            	  $scope.save(dialog);             		
               }
           }, {
               label: '取消',
               cssClass: 'btn-normal fa fa-reply',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
    
    }
    function initaddDialog(){
    	document.getElementById("f1").addEventListener("change",function(){
    		var file=document.getElementById("f1").files[0];
    		if(file){
    			setValue("#fileName",file.name);
    			$("#fileName").change();   
    			$('#file-form').bootstrapValidator('validate');
    		}		
    	})
    }
    function configFolder(fileIds,directoryIds){
		
		BootstrapDialog.show({
            title:"移动到",
            message: $('@es(configFolder).raw()'.replace(/%fileId/g, directoryIds)),
            buttons: [{
               label: "确定",
               cssClass: 'btn-normal gh gh-ok',
               id:'btnSaveRoleModule',
               action: function(dialog) {
               		if(!$('#folder-tree').jstree('get_selected')[0]){
						return warning("请选择需要移动到的文件夹！");
					}
            	   $.ajax({
	              		url: '@url("/client/dropBox/fileMove.action")',
	              		type: "POST",
	              		data: {
	              			ids:fileIds,
	       					directoryIds:directoryIds,
	              			fatherId:$('#folder-tree').jstree('get_selected')[0]
	              		},
	              		bodyMsg:true,
						mask:false,
			            success: function(data) {
			            	if(data.status){
			            		bodyMessage('success', "文件移动成功");
			            		dialog.close();
			            		$scope.$apply(function(){
			            			$scope.page=1;
			            			$scope.init();
			            		});
			            	}
				               						               						               		
				         } 
	              	});
               		
               }
           }, {
               label: '取消',
               cssClass: 'btn-normal fa fa-reply',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
    
    
  })
  
  
	//获取分页显示ITEM
		function getPageList(page,total){
			var pageList = new Array();
			if(total <= 1){
				//不显示分页
				var pageList = [];
				return pageList;
			}
			//总数>pageSize
			//首页和上一页
			if(page<=1){
				pageList.push({text:"首页",css:"disabled",clickNum:1});
				pageList.push({text:"上一页",css:"disabled",clickNum:(page-1)});
			}else{
				pageList.push({text:"首页",clickNum:1});
				pageList.push({text:"上一页",clickNum:(page-1)});
			}
			//中间数字
			for(var i=1;i<=total;i++){
				if(total > 10){
					if(page < 10){
						if(i<=10){
							var css = "";
							if(page == i){
								css = "active";
							}
							pageList.push({text:""+i,css:css,clickNum:i});
						}
					}else if(page >= 10 && page<(total-5)){
						if(i>(page-5) && i<=(page+5)){
							var css = "";
							if(page == i){
								css = "active";
							}
							pageList.push({text:""+i,css:css,clickNum:i});
						}
					}else if(page>=(total-5)){
						if(i>(total-10)){
							var css = "";
							if(page == i){
								css = "active";
							}
							pageList.push({text:""+i,css:css,clickNum:i});
						}
					}
					
				}else{
					var css = "";
					if(page == i){
						css = "active";
					}
					pageList.push({text:""+i,css:css,clickNum:i});
				}
			}
			//尾页和下一页
			if(page>=total){
				pageList.push({text:"下一页",css:"disabled",clickNum:(page+1)});
				pageList.push({text:"尾页",css:"disabled",clickNum:page});
			}else{
				pageList.push({text:"下一页",clickNum:(page+1)});
				pageList.push({text:"尾页",clickNum:total});
			}
			return pageList;
		}


	function initFolderTree(fileId){
		$('#folder-tree').jstree({
			'plugins': ["radio"],
			'core' : {
				//'check_callback' : true,
				'strings' : {
					 'Loading ...' : '加载中...'
				 },
				 'themes': {
	                'name': 'proton',
	                'responsive': true,
	                'icons' : true
	            },
				'data' : {
			    	'url' : '@url("/client/dropBox/getDirectoryTree.action?fileId=")' + fileId
				}
	    	}
		}).on('loaded.jstree refresh.jstree', function() {
			$('#folder-tree').jstree('open_all');
		  
		  }).on('select_node.jstree', function(event, data){

		  
		  });		  
		  
	}
	
	
	
	
</script>