@args String title = "",InstitutionEntity institution
@extends(common_institution, title:"")

@import(){
 		    com.cloudsoaring.web.institution.entity.InstitutionEntity
 		    com.cloudsoaring.web.trainingplatform.constants.*
}
<div style="width:100%;height:100%;margin-left:auto;margin-right:auto;background: #fff;padding-left:100px;">
@form("grade_edit"){
				<div>
				   @hidden(institutionParentId:"institutionParentId",name:"institutionParentId",value:(institution.getInstitutionParentId()))
				   @hidden(id:"id",name:"id",value:(institution.getId()))
		           @input(label:MessageUtil.getMessage("机构名称"),name:"institutionName",groupcss:"col-10",required:true,value:(institution.getInstitutionName()))
		        </div>
				<div>
				   @input(label:MessageUtil.getMessage("机构类型"),name:"institutionType",groupcss:"col-5",required:true,value:("教育局"))
		           @input(label:MessageUtil.getMessage("机构简称"),name:"institutionAbbreviation",groupcss:"col-5",required:true,value:(institution.getInstitutionAbbreviation()))
				</div>
				<div>
				   @textarea(
		              groupcss:"col-10", 
		              label:MessageUtil.getMessage("机构地址"), 
		              id:"institutionAddress", 
		              required:false,
		              maxlength:"400",
		              name: "institutionAddress",
		              height:"210px",
		              value:institution.getInstitutionAddress(), 
		              disabled:false
		          )
				</div>
				<div>
				    @textarea(
			              groupcss:"col-10", 
			              label:MessageUtil.getMessage("具体地址"), 
			              id:"institutionSpecificAddress", 
			              required:false,
			              maxlength:"400",
			              name: "institutionSpecificAddress",
			              height:"210px",
			              value:institution.getInstitutionSpecificAddress(), 
			              disabled:false
			          )
				</div>
				<div>
				   @textarea(
			              groupcss:"col-10", 
			              label:MessageUtil.getMessage("门户地址"), 
			              id:"portalAddress", 
			              required:false,
			              maxlength:"400",
			              name: "portalAddress",
			              height:"210px",
			              value:institution.getPortalAddress(), 
			              disabled:false
			          )
				
				</div>
				<div>
			        @input(label:MessageUtil.getMessage("机构性质"),name:"telphone",groupcss:"col-5",required:false,value:(institution.getNature()))
	         		@input(label:MessageUtil.getMessage("联系电话"),name:"telphone",groupcss:"col-5",required:false,value:(institution.getTelphone()))
				</div>
				<div>
				     @input(label:MessageUtil.getMessage("机构邮箱"),name:"email",groupcss:"col-5",required:false,value:(institution.getEmail()))
				      @input(label:MessageUtil.getMessage("门户类型"),name:"email",groupcss:"col-5",required:false,value:(institution.getPortalType()))
				</div>
				<div>
					@input(label:MessageUtil.getMessage("是否合作"),name:"telphone",groupcss:"col-5",required:false,value:(institution.getIfCooperation()))
					@input(label:MessageUtil.getMessage("隶属关系"),name:"telphone",groupcss:"col-5",required:false,value:(institution.getAffiliation()))
				</div>
	            <div>
	         		@btnbox(){
						@button_back(width:100)
					}
	           </div>

}
</div>
<script>
		function save(){
			$('#grade_edit').bootstrapValidator('validate');
			if($('#grade_edit').data('bootstrapValidator').isValid()){ 
				var params = new FormData($('#grade_edit')[0]);
				$.ajax({ 
					url: "@url("/pub/course/updateInstitution.action")",
					data:params,
					method:"post",  
					bodyMsg:true,
					mask:true,
					/** 
			         *必须false才会自动加上正确的Content-Type 
			         */
					contentType:false,  
			        /** 
			         * 必须false才会避开jQuery对 formdata 的默认处理 
			         * XMLHttpRequest会对 formdata 进行正确的处理 
			         */  
			        processData:false, 
					success: function(result){
						window.location.href="@url("/pub/course/institutionlist.action")";
	 		//        	 window.history.go(-1);
			      	}
			    });
			}
			}
		

</script>