@args String id,
Object condition,
Boolean isTeacher =  false
@extends(common_institution, title:"")
@import(){
    com.cloudsoaring.web.course.entity.*;
    com.cloudsoaring.web.course.view.*;
    com.cloudsoaring.web.course.constant.*;
    com.cloudsoaring.web.course.common.utils.*;
    java.math.BigDecimal;
}
@{
    String groupCssTemp = "col-6";
    final String groupcss = groupCssTemp;
}
<!-- 人员添加dialog -->
@assign("user"){
         @form(name:"search-user-condition",validation:false){
           <div class="row" style="background-color:#FFFFFF;">
               @input(label:MessageUtil.getMessage(MsgNames.MSG_USER_NAME), name:"userName1",groupcss:"fcol-6")
               @input(label:MessageUtil.getMessage("人员名称"),name:"personName1",groupcss:"fcol-6")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
	    @table(id:("search-user"), showColumns:false, url:"/manager/course/searchUserAll.action",height:400,queryParamFunction:"createQueryParamsUser"){
	        @columns(){
	            {field: 'state',title: "",align:'center',checkbox: true,width:30},
	            {field: 'userName',title: "用户名",align:'center',sortable: true},                                            
	            {field: 'personName',title: "人员名称",align:'center',sortable: true},
	            {field: 'sex',title: "性别",align:'center',sortable: true,formatter:formatterSex},
	            {field: 'position',title: "职位",align:'center',width:100,sortable: true}
	        }
	    }
}
<div style="display:none">
     @hidden(id:"courseId", name:"id", value:id)
</div>
<!-- 检索条件表单 -->
<div style="margin-top: 80px;">
@form(name:"search-condition",validation:false){
    @input(label:MessageUtil.getMessage(MsgNames.MSG_USER_NAME), name:"userName",groupcss:groupcss)
    @input(label:MessageUtil.getMessage(MsgNames.MSG_PERSON_NAME),name:"personName",groupcss:groupcss)
    @hidden(id:"courseId", name:"courseId", value:id)
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
        @button(
                label:MessageUtil.getMessage("添加学生"),
                iconcss:"fa fa-plus",
                onclick:"addStudent"
                
             )
        @if(!isTeacher){
         @button(
            label:MessageUtil.getMessage("删除学生"),
            iconcss:"fa fa-trash-o",
            onclick:"deleteStudent"
         )
        }
    }
}
</div>
@table(id:"search-result", showColumns:false, url:("/manager/grade/searchUser.action?id="+id),condition:condition){
        @columns(){
            {field: 'state',title: "全选",align:'center',checkbox: true,width:30},
            {field: 'userName',title: "用户名",align:'center',sortable: true},                                            
            {field: 'personName',title: "人员名称",align:'center',sortable: true},
            {field: 'sex',title: "性别",align:'center',sortable: true,formatter:formatterSex},
            {field: 'position',title: "职位",align:'center',sortable: true}
        }
 }
<script type="text/javascript">
 function createQueryParamsUser(params){
    return buildQueryParam('#search-user-condition', params);
 }
 function deleteStudent(row){
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var userId = [];
            for(var i = 0; i < selectedRows.length; i++){
                userId[i] = selectedRows[i].userId;
            }
            var courseId=$("#courseId").val();
            confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_DELETE_STUDENTS)", function(){
                $.ajax({ 
                    url: "@url("/manager/grade/deleteStudent.action")",
                    data:{userId:userId.join(','),courseId:courseId},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    
    }
    function seachStudent(){
          var userName=getValue($('#userName1'));
          var position=getValue($('#position1'));
         $.ajax({ 
              url: "@url("/manager/course/searchUserAll.action")",
              data:{userName:userName,position:position},
              type:"post", 
              bodyMsg:true,
              mask:true,
              success: function(result){
                  //成功
                $('#search-user').each(function(){
			        $(this).bootstrapTable('research');
			    });
               
              }
          });
    }
    function addStudent(){
        var courseId=getValue($('#courseId'));
        $('#planCourseUser-form').bootstrapValidator('validate');
        BootstrapDialog.show({
            title:"添加学生",
            message: $('@es(user).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "添加",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
                    if(selectedRows && selectedRows.length > 0){
	                    var userIds = [];
                         for(var i = 0; i < selectedRows.length; i++){
                            userIds[i]=selectedRows[i].userId;
                         }
                         //检查有没有重复提交的学生
                         $.ajax({ 
	                        url: "@url("/manager/grade/searchUserUnique.action")",
	                        data:{courseId:courseId, userIds:userIds.join(',')},
	                        type:"post", 
	                        success: function(result){
	                        	if(result.messages == null){
	                        		$.ajax({ 
				                        url: "@url("/manager/grade/saveUser.action")",
				                        data:{courseId:courseId, userIds:userIds.join(',')},
				                        type:"post", 
				                        bodyMsg:true,
				                        mask:true,
				                        success: function(result){
				                            //成功
				                            dialog.close();
				                             $('#search-result').bootstrapTable('refresh');
				                        }
				                    });
	                        	}else if(result.messages.length >0){
	                        		
	                        	}
	                        }
	                    });
                    }else{
                        warning("请选择要添加的用户");
                    }
               }
                
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });
    
    }
    //显示性别
    function formatterSex(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "男";
            }else if(value == 1){
                return "女";
            }
        }       
    }
  function formatterProgress(value, row, index){
    if((row.finishChapterNum==null || row.finishChapterNum == 0) && row.allChapterNum !=null ){
        return 0 + "/"+ row.allChapterNum;
    }else if(row.allChapterNum ==null || row.allChapterNum ==0){
       return 0;
    }else{
        return row.finishChapterNum + "/"+ row.allChapterNum;
    }      
  }
  function formatterTimeCost(value, row, index){
      if(value != null)  {
        var  year =  parseInt(value / (60 * 60 * 24 * 365));
        var month = parseInt((value % (60 * 60 * 24 * 365)) / (60 * 60 * 24 * 30));
        var day = parseInt((value % (60 * 60 * 24 * 30)) / (60 * 60 * 24));
        var hh = parseInt((value % (60 * 60 * 24)) / (60 * 60));
        var mm = parseInt((value % (60 * 60)) / (60));
        var ss = parseInt((value % (60)));
         var str="";
        if(year> 0){
            str += year+"年";
            
        }
        if(month>0){
            str += month+"月";
        }
        if(day>0){
            str += day+"天";
        } 
        if(hh>0){
            str += hh+"时";
        } 
        if(mm>0){
            str += mm+"分";
        } 
        if(ss>0){
            str += ss+"秒";
        } 
        return str;
      }else{
        return "0分";
      }
  }
</script>
