.CmptCard{
    width: 100%;
    padding: 15px;
    background: #fff;
    display: flex;
    position: relative;
    margin-top: 24px;
    transition: all .3s;
}
.CmptCard .CmptCard-left{
    width: 200px;
    height: 150px;
    min-width: 200px;
    margin-right: 20px;
}
.flexbox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.CmptCard .CmptCard-statuslabel{
    position: absolute;
    right: -4px;
    width: 69px;
    height: 69px;
    top: -4px;
}
.CmptCard .CmptCard-textbox{
    padding: 8px 0 10px;
    height: 100%;
    width: 600px;
}
.CmptCard .CmptCard-number {
    text-align: center;
    margin-left: 50px;
}
.CmptCard .CmptCard-number {
    text-align: center;
    margin-left: 50px;
}
.CmptCard .CmptCard-left img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.CmptCard .CmptCard-title {
    font-size: 18px;
    font-weight: 500;
    color: #303133;
    line-height: 18px;
    margin-bottom: 14px;
}
.CmptCard .CmptCard-title .CmptCard-cytips {
    background: #e6f7ff;
    border: 1px solid #91d5ff;
    color: #1890ff;
    font-size: 12px;
}
.textbtn, .textbtn path {
    transition: all .3s;
}
.CmptCard .CmptCard-label {
    font-size: 14px;
    font-weight: 400;
    color: #909399;
    line-height: 14px;
    margin-bottom: 12px;
}
.overText{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CmptCard .CmptCard-introduction{
    font-size: 14px;
    font-weight: 400;
    color: #303133;
    height: 44px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
}
.CmptCard .CmptCard-bottomtext {
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 400;
    color: #909399;
    margin-top: 14px;
}
.CmptCard .CmptCard-number p:first-child {
    font-size: 14px;
    font-weight: 400;
    color: #909399;
    line-height: 14px;
    margin-bottom: 10px;
}
.CmptCard .CmptCard-number p {
    font-size: 20px;
    font-weight: 400;
    color: #303133;
    line-height: 18px;
}
.CmptCard .CmptCard-statuslabel {
    position: absolute;
    right: -4px;
    width: 69px;
    height: 69px;
    top: -4px;
}