@args String title = "",GradeEntity grade
@extends(common, title:"")

@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
 		    com.cloudsoaring.web.grade.entity.GradeEntity
}
<div style="margin-top: 20px;">
@form("grade_edit"){
	@column("col-2")
	@column("col-8"){
		@hidden(id:"id",name:"id",value:(grade.getId()))
		@input(label:MessageUtil.getMessage("班级编号"),name:"classNo",groupcss:"col-6",required:true,value:(grade.getClassNo()))
		@input(label:MessageUtil.getMessage("班级名称"),name:"className",groupcss:"col-6",required:true,value:(grade.getClassName()))
		@input(label:MessageUtil.getMessage("所属学院"),name:"affiliatedCollege",groupcss:"col-6",value:(grade.getClassDesc()))
		@textarea(
              groupcss:"col-12", 
              label:MessageUtil.getMessage("班级备注"), 
              id:"classDesc", 
              required:false,
              maxlength:"400", 
              height:"210px",
              value:grade.getClassDesc(), 
              disabled:false
          )
		@btnbox(){
			@button_save(width:100)
			@button_back(width:100)
		}
	}
	@column("col-2")
}
</div>
<script>
		function save(){
			$('#grade_edit').bootstrapValidator('validate');
			if($('#grade_edit').data('bootstrapValidator').isValid()){ 
				var params = new FormData($('#grade_edit')[0]);
				$.ajax({ 
					url: "@url("/manager/grade/updateGrade.action")",
					data:params,
					method:"post",  
					bodyMsg:true,
					mask:true,
					/** 
			         *必须false才会自动加上正确的Content-Type 
			         */
					contentType:false,  
			        /** 
			         * 必须false才会避开jQuery对 formdata 的默认处理 
			         * XMLHttpRequest会对 formdata 进行正确的处理 
			         */  
			        processData:false, 
					success: function(result){
						window.location.href="@url("/manager/grade/gradelist.action")";
	 		//        	 window.history.go(-1);
			      	}
			    });
			}
			}
		

</script>