@args String title = ""
@extends(common, title:"")
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
}
<div style="width: 80%;margin: auto;background: #fff;height: 500px;margin-top: 20px;">
@form("grade_add"){
	@column("col-2")
	@column("col-8"){
		@input(label:MessageUtil.getMessage("班级编号"),name:"classNo",groupcss:"col-6",required:true,maxlength:"50")
		@input(label:MessageUtil.getMessage("班级名称"),name:"className",groupcss:"col-6",required:true,maxlength:"50")
		@input(label:MessageUtil.getMessage("所属学院"),name:"affiliatedCollege",groupcss:"col-6",maxlength:"50")
		 @textarea(
              groupcss:"col-12", 
              label:MessageUtil.getMessage("班级备注"), 
              id:"classDesc", 
              required:false,
              maxlength:"400", 
              height:"210px",
              value:"", 
              disabled:false
          )
	}
	@column("col-2")
}
@btnbox(){
			@button_save(width:100)
			@button_back(width:100)
		}
</div>
<script>
		function save(){
			$('#grade_add').bootstrapValidator('validate');
			if($('#grade_add').data('bootstrapValidator').isValid()){ 
				var params = new FormData($('#grade_add')[0]);
				$.ajax({ 
					url: "@url("/manager/grade/insertGrade.action")",
					data:params,
					method:"post",  
					bodyMsg:true,
					mask:true,
					/** 
			         *必须false才会自动加上正确的Content-Type 
			         */
					contentType:false,  
			        /** 
			         * 必须false才会避开jQuery对 formdata 的默认处理 
			         * XMLHttpRequest会对 formdata 进行正确的处理 
			         */  
			        processData:false, 
					success: function(result){
						window.location.href="@url("/manager/grade/gradelist.action")";
					//	success(@MessageUtil.getMessage(MsgNames.MSG_S_SAVE));
	// 		        	 window.history.go(-1);
			      	}
			    });
			}
			}
		

</script>