@args String title = "", String categoryId="",String searchUserInitUrl = "/manager/grade/searchUserInit.action"
@extends(common, title:"")
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
}
<script>
	function createQueryParams01(params){
		return buildQueryParam('#search-condition', params);
	}
	function noFormat(value, row, index){ 
		return index+1;
	}
	function editGrade(row){
		window.location.href = "@url("/manager/grade/gradeEdit.action?")"+"id="+row.id;
	}
	function deleteGrade(row){
		var msg = "@MessageUtil.getMessage(TpMsgNames.SURE_TO_DELETE)"+"["+row.className+"]"+"?";
		confirm(msg,function(){
			$.ajax({ 
			    url:"@url("/manager/grade/deleteGradeById.action?")"+"id="+row.id,
				bodyMsg:true,
				type:"post", 
				success: function(result){
					parent.research();
			    }
			});
		});
	}
	function jionType(row){
		window.location.href="@url(searchUserInitUrl)?id=" + row.id;
	}
	function isEditNotice(value, row, index){
        return true;
    }
</script>
<div>
@form(name:"search-condition",validation:false,showempty:true){
	 
		@hidden(id:"conditionId",name:"id")
		@input(label:"班级名称",name:"className",maxlength:"20")
		@input(label:"所属学院",name:"affiliatedCollege",maxlength:"20")
		@btnbox(align:"right"){
			@button_search()
			@button_clear()
			@button(label:MessageUtil.getMessage(MsgNames.MSG_ADD), iconcss:"fa fa-plus-circle", url:"/manager/grade/gradeadd.action", innerType:"ADD")
		}
	}
</div>
@table(id:"search-result",url:"/manager/grade/searchGrade.action", sortName:"classNo",sortable:true,
 		sortOrder:"desc",queryParamFunction:"createQueryParams01"){
	@columns(){
		{field: 'number',title:'@MessageUtil.getMessage(TpMsgNames.MSG_NO)',width:80,align:'center',formatter:"noFormat"},
		{field: 'classNo',title:'班级编号',width:120,sortable: true,align:'center'},
		{field: 'className',title:'班级名称',width:120,sortable: true,align:'center'}, 
		{field: 'affiliatedCollege',title:'所属学院',width:120,sortable: true,align:'center'},
		{field: 'classDesc',title:'班级备注',width:200,sortable: true,align:'center'},
		@optcolumn(width:120){
			@iconlink(
                label:MessageUtil.getMessage("学生管理")
                , iconcss:"fa fa-users"
                , onclick:"jionType"
                , innertype:"EDIT"
                , visibleFunction:"isEditNotice"
            )
			@iconlink(
				label:MessageUtil.getMessage(MsgNames.MSG_EDIT)
				, iconcss:"glyphicon-pencil"
				, onclick:"editGrade"
				, innerType:"EDIT"
			)
			@iconlink(
				label:MessageUtil.getMessage(MsgNames.MSG_DELETE)
				, iconcss:"glyphicon-trash"
				, onclick:"deleteGrade"
				, innerType:"DEL"
			)
		}
	}
}
