@extends(common, title:"404")
<link href="@WebContext.url("/css/error.css")" rel="stylesheet"/>
<div id="page-container">
	<div class="error">
		<div class="error-code m-b-10" style="top:20px;"><i class="fa fa-ban"></i> 404</div>
		<div class="error-content" style="top:150px;">
			<div class="error-message fa fa-reddit">@message("msg.404.title")</div>
			<div class="error-desc m-b-20"  style="font-size: 15px;">
				@message("msg.404.content")
			</div>
			<div>
				<a href="@WebContext.url(ConfigUtil.getIndexAction())" style="font-size: 15px;" class="btn btn-normal btn-lg fa fa-home">@message("label.back.home")</a>
			</div>
		</div>
	</div>
</div>
