<!-- <div id="contactus"
	style="width: 100%; height: 1000px; position: fixed; left: 0; top: 0; background-color: rgba(100, 100, 100, 0.8); z-index: 4; display: none;">
	<div
		style="width: 20%; height: 50%; position: fixed; right: 40%; top: 20%; border-radius: 10px; background-color: #ffffffe8;">
		<div
			style="background: #1b47e8d4; margin: 0px; padding: 0px; width: 100%; height: 50px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
			<h2
				style="font-size: 23px; margin: 0px; padding: 12px; padding-left: 20px; color: #fff; float: left;">联系我们</h2>
			<button class="close"
				style="margin: 10px; margin-right: 20px;
	/* width: 23px; */
	/* height: 23px; */ font-size: 30px;"
				onclick="showContactusDialog();">×</button>
		</div>
		<ul>

			<li>
				<h4 style="font-size: 15px;">企业合作&amp;讲师招募</h4>
				<h5 style="font-size: 14px; font-weight: 500;">成同学</h5>
				<p style="font-size: 13px">
					QQ：543141584<br>
					邮箱：bqilearning@bhqditi.com
				</p>
			</li>
			<li>
				<h4 style="font-size: 15px;">市场合作</h4>
				<h5 style="font-size: 14px; font-weight: 500;">网络推广合作邮箱</h5>
				<p style="font-size: 13px"></p>
			</li>


			<li>
				<h4 style="font-size: 15px;">客户服务</h4>
				<h5 style="font-size: 14px; font-weight: 500;">客服邮箱</h5>
				<p style="font-size: 13px">bqilearning@bhqditi.com</p>
			</li>
		</ul>
	</div>
</div> -->

<!-- <div id="suggest"
	style="width: 100%; height: 1000px; position: fixed; left: 0; top: 0; background-color: rgba(100, 100, 100, 0.8); z-index: 4; display: none;">
	<div
		style="width: 20%; height: 50%; position: fixed; right: 40%; top: 20%; border-radius: 10px; background-color: #ffffffe8;">
		<div
			style="background: #1b47e8d4; margin: 0px; padding: 0px; width: 100%; height: 50px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
			<h2
				style="font-size: 23px; margin: 0px; padding: 12px; padding-left: 20px; color: #fff; float: left;">意见反馈</h2>
			<button class="close"
				style="margin: 10px; margin-right: 20px;
	/* width: 23px; */
	/* height: 23px; */ font-size: 30px;"
				onclick="showSuggestDialog();">×</button>
		</div>
		<form style="padding: 20px">
			<b>姓名</b><input type="text" class="form-control  input-rythm"
				style="margin-top: 5px;"> <br> <b>联系邮箱</b><input
				type="text" class="form-control  input-rythm"
				style="margin-top: 5px;"> <br> <b>反馈意见</b>
			<textarea id="notice" name="notice" rows="3"
				style="width:; height: 150px; margin-top: 5px;"
				class="form-control  input-rythm textarea-rythm"
				data-bv-placement="top" maxlength="400"
				data-bv-trigger="change focus blur" data-bv-excluded="false"
				placeholder="请输入您的建议" data-bv-field="notice"></textarea>
			<button id="" class="btn btn-normal "
				style="width: 20%; margin-top: 20px; margin-left: 35%;"
				data-content="提交" type="button" onclick="showSuggestDialog();">
				<b>提交</b>
			</button>
		</form>
	</div>
</div> -->
<!-- <script type="text/javascript">
  function showContactusDialog(){
    if(document.getElementById('contactus').style.display == "none"){
     document.getElementById('contactus').style.display="block";
    }else{
     document.getElementById('contactus').style.display="none";
    }
   }

   function showSuggestDialog(){
     if(document.getElementById('suggest').style.display == "none"){
     document.getElementById('suggest').style.display="block";
    }else{
     document.getElementById('suggest').style.display="none";
    }
   }
 </script> -->