@args String title = "", Boolean showTitle = true
@extends(base, title:getPageTitle(title))
<!-- 页面中间部分 -->
<div id="mainContent" style="margin-left:@(ConfigUtil.getPageSpace())px">
<!-- 页面内容 -->
	<!-- 页面内容上部分导航 -->
	@render("mainContent"){
    	<div id="pageContent">
    		@if(StringUtil.isNotEmpty(title) && showTitle){
	    		<div id="pageTitle">
	    			<h>@title</h>
	    		</div>
    		}
    		<div id="pageBody">
    			@render()
    		</div>
    		<div class="clearfix"></div>
    	</div>
     }
</div>
