@import(){
com.cloudsoaring.web.course.constant.*,
com.cloudsoaring.web.common.utils.ConfigUtil}
@args String title = "",
String activeMenu,
Integer num1,
String role="",
String manager ="",
Object isFlag,
int pageSpace =  ConfigUtil.getPageSpace()
@import(){  
    com.cloudsoaring.web.course.constant.HtmlAppConfig;
}
@extends(base,title:title, pageLoading:false, isClient:true)
@{
	String activeStyle = "active";
	HtmlAppConfig htmlAppConfig = new HtmlAppConfig();
    String ipConfig = htmlAppConfig.getIpConfig();
    final String activityUrl = url("/pub/activityCenter/");
}

<div id="updateborswer" style="width:100%;display:none;line-height:20px;">
<div id="ie6-warning">@MessageUtil.getMessage(CourseMsgNames.LOW_BROWSER_VERSION) <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">@MessageUtil.getMessage(CourseMsgNames.IE_9)</a>@MessageUtil.getMessage(CourseMsgNames.FLOOR_BROWSER_VERSION)&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:closewarning()" style="color:red;">@MessageUtil.getMessage(CourseMsgNames.BROWSER_TIP_CLOSE)</a>

</div>
</div>
<link rel="stylesheet" href="@WebContext.url("/css/hs_style.css")"/>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/font_826145_1kvrj73qfjc.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/font_680193_mlx1ll180gc1h5mi.css")">
<script type="text/javascript" src="@WebContext.url("/js/homepage/js/index.js")"></script>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/swiper.css")">
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/editor.css")">
<script src="@WebContext.url("/js/homepage/js/swiper.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/wySilder.min.js")"></script>
<script type="text/javascript" src="@WebContext.url("/js/jquery.base64.js")"></script>
<style>
html{overflow-y:scroll;}
.point {
	position: absolute;
    top: 16px;
    right: 30px;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    z-index: 1000;
}
</style>
<style>
#ie6-warning{
/* background:rgb(255,255,225) url("/jscss/demoimg/201006/warning.gif") no-repeat scroll 3px center; */
position:absolute;
top:0;
width:100%;
left:0;
font-size:12px;
color:#333;
width:100%;
padding: 0 30px 0 30px;
text-align:left;
}
#ie6-warning a {
text-decoration:none;
}
	#updateborswer{
	    position: fixed;
	    top:0;
	    right: 0;
	    left: 0;
	    z-index: 99999;
	    -webkit-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
	.row{
		background-color:#E6E6E6;
	}
	.flex-control-paging{
		margin-top: -21px;
		position: relative;
		bottom: 0px;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.flex-control-paging li{
		margin: 0 6px;
		display: inline-block;
		zoom: 1;
	}
	.flex-control-paging li a{
		background: #fff;
		width: 11px;
		height: 11px;
		display: block;
		cursor: pointer;
		text-indent: -9999px;
		border-radius: 20px;
	}
	.float-area{position:fixed;right:0}.float-area-box{position:relative;z-index:2000;transition-duration:.8s}.spin-icon{position:absolute;padding:7px 10px 7px 13px;border-radius:20px 0 0 20px;font-size:16px;top:0;left:0;width:50px;color:#fff;cursor:pointer;height:36px;margin-bottom:20px}.spin-icon i{width:14px;line-height:16px!important;height:16px}.float-area-content{overflow:hidden;margin-left:50px;background:#f3f3f4;box-shadow:0 0 40px rgba(29,25,25,.65);margin-bottom:40px}.float-area-content .title{background:rgba(211,200,189,.71);text-align:center;text-transform:uppercase;font-weight:600;display:block;padding:10px 15px;font-size:12px;height:36px}
	body{
		background-color:#f3f5f7;
	}
	#top-link-block{
		position: fixed;
		display: block;z-index: 9;
		bottom: 55px;right: 2%;
		transition: all .1s;
	} 
	.flexslider ul.slides li .slide_content_top{
		padding: 9px 20px;
		background: #000;
		top: 0px;
		left: 0px;width: 100%;
		margin-top: -40px;
		filter: alpha(opacity=60);
	}
 	.sys-title,#head_ul a {
		color:#fff;
	} 
	
</style>
<style>
 .header{width:1400px;height:100px;margin:0 auto;padding:0 15px;box-sizing:border-box;position:relative;line-height:100px}
 .header .img{height:100px;line-height:100px;float:left;position:relative}
 .header .logo img{vertical-align:middle;display:inline-block;height:80px;}
 .header>ul{height:100px;line-height:100px;list-style: none;float:left;margin: 0;padding: 0;}
 .header ul li{float:left;text-align:center;line-height:100px;position:relative}
 .header ul li.actvie>a{color:#e51c60}
 .header ul li a{font-size:14px;display:block;position:relative;}
 .header ul li a i{font-size:10px;/* padding-left:2px; */color:#aaa;transition:all .4s ease}
 .header ul li a:hover , header .header ul li.active a{color:#e51c60}
 .header ul li a:hover i , header .header ul li.active a i{color:#e51c60;transform:rotate(180deg);transition:all .4s ease}
 .header .childUl{display:none;position:absolute;top:100px;left:0;background:#fff;box-shadow:0 0 1px #ccc;padding:8px 0;min-width:120px;z-index:999}
 .header ul.childUl li{width:100%;height:auto}
 .header ul.childUl li a{display:block;height:38px;line-height:38px;overflow:hidden;padding:0 10px}
 .header ul.childUl li a:hover{color:#fff;background:#e51c60;transition:none}
 .header .nav{position:relative;width:50px;height:50px;top:25px;box-sizing:border-box;padding:9px 0;cursor:pointer;float:right;display:none}
 .header .nav:hover span{background:#e51c60}
 .header .nav span{display:block;width:100%;height:4px;background:#333;border-radius:2px;position:absolute;top:9px;transition:all .5s}
 .header .nav span.active:nth-child(1){transform:translateY(7px) rotate(45deg);transition:all .5s}
 .header .nav span.active:nth-child(3){transform:translateY(-9px) rotate(-45deg);transition:all .5s}
 .header .nav span:nth-child(2){top:23px}
 .header .nav span:nth-child(3){top:36px}
</style>
<style>
.point {
	position: absolute;
    top: 16px;
    right:35px;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    z-index: 1000;
}
</style>
@{

	final boolean SHOW_INFO = ConfigUtil.getBoolean("CLIENT_INFO_ON_OFF");
	final boolean SHOW_COURSE = ConfigUtil.getBoolean("CLIENT_COURSE_ON_OFF");
	final boolean SHOW_PLAN = ConfigUtil.getBoolean("CLIENT_PLAN_ON_OFF");
	final boolean SHOW_DISCUSS = ConfigUtil.getBoolean("CLIENT_DISCUSS_ON_OFF");
	final boolean SHOW_SOCIAL = ConfigUtil.getBoolean("CLIENT_SOCIAL_ON_OFF");
	final boolean SHOW_TUTOR = ConfigUtil.getBoolean("CLIENT_TUTOR_ON_OFF");
	final boolean SHOW_CASE = ConfigUtil.getBoolean("CLIENT_CASE_ON_OFF");
}
@section("logo"){
	@{
    	String homeCss = getCurrentModule() != null && getCurrentModule().isHit("home") ? "active":"";
    }
}
@section("header_container"){
	<ul id="nav">
	   @if(!WebContext.isGuest()){
	    @if(role !="q"){
		   <li id="text_home" name="index" style="width: 78px;"><a href="javascript:void(0)" onclick="homepage();">首页</a></li>
		   <li id="text_school" style="width: 105px;"><a href="javascript:void(0)" onclick="school();">学校</a></li>
		   <li id="text_school" style="width: 134px;"><a href="javascript:void(0)" onclick="schoolBBS();">校园BBS</a></li>
	    }
	    
	    @if(role!= "s"){
			<li id="text_course" style="width: 105px;"><a href="javascript:void(0)" onclick="course();">课工场</a></li>
			<li id="text_course_quality" style="width: 105px;"><a href="javascript:void(0)" onclick="quality();">精品课</a></li>
		}
	   }
		
		@if(!WebContext.isGuest()){
		 @if(role == "s"){
		   <li id="student_list" style="width: 105px;"><a href="javascript:void(0)" onclick="myStudy();">我的作业</a></li>
		 }
		}
		<li id="text_course_public" style="width: 105px;"><a href="javascript:void(0)" onclick="detail1();">公开课</a></li>
		<!-- <li id="text_course_activityCenter" style="width: 105px;"><a href="javascript:void(0)" onclick="activityCenter();">活动中心</a></li> -->
		<li name="jobs">
			<a href="javascript:;">
				活动中心
				<i class="iconfont icon-down"></i>
				<ul id="text_course_activityCenter" class="childUl" style="list-style: none;">
				</ul>
			</a>
		</li>
		<li id="text_course_newsCenter" style="width: 105px;"><a href="javascript:void(0)" onclick="newsCenter();">新闻中心</a></li>
		<!-- <li id="" style="width: 105px;"><a href="javascript:void(0)" onclick="();">商城</a></li> -->
		 @if(WebContext.isGuest()){
		 	<li  id="" name="case" style="width: 105px;"><a href="javascript:void(0)" onclick="logoutFun();">游客</a></li>
		}else if(sessionUser != null){
			@if(role == "t" || role == "m"){
				<li name="jobs" style="width:105px;"><a href="javascript:;">
					系统管理<i class="iconfont icon-down"></i></a>
					<ul class="childUl" style="list-style: none;">
	                	<!-- <li><a href="">系统管理</a></li> -->
	                	<li ng-show="@sessionUser.getUserId() == '2542668' || @isFlag== '1' "><a href="@url("/pub/course/schoolbaseinstitutionlist.action")">学校管理</a></li>
	                	<li><a href="@url("/manager/course/listInit.action")">课程管理</a></li>
	                	<li><a href="@url("/pub/course/homeExamPage.action")">题库管理</a></li>
	                	<li><a href="@url("/pub/activityCenter/noticelist.action")">活动管理</a></li>
	                	<li><a href="@url("/pub/newsCenter/noticelist.action")">新闻中心管理</a></li>
	                	<li><a href="@url("/manager/resource/resourcelistInit.action")">资源管理</a></li>
	                	<li ><a href="@url("/manager/taxonomy/init.action")">分类管理</a></li>
	                	@if("2542668".equals(sessionUser.getUserId())){
	                	 	<li><a href="@url("/pub/course/managerUserList.action")">超管管理</a></li>
	                	}
	                	@if(manager == "1"){
	                		<li><a href="@url("/pub/course/mgrApprove.action")">课程审批</a></li>
	                	}
	                	@if("2542668".equals(sessionUser.getUserId()) || isFlag== "1"){
	                		<li><a href="@url("/pub/course/userOperInit.action")">日志管理</a></li>
	                	}
	                	<li ><a href="@url("/pub/course/zuoyeManager.action")">作业管理</a></li>
	                	@if(num > 0){
							<li><a href="@url("/pub/courseMsg/userMsg.action")">站内信</a><div class="point"></div></li>
						}else{
							<li><a href="@url("/pub/courseMsg/userMsg.action")">站内信</a></li>
						}
	               </ul>
	            </li>
			}
			@if(role == "s"){
			  <li id="text_course_newsCenter" style="width: 105px;"><a href="@url("/pub/courseMsg/userMsg.action")" >站内信</a></li>
			}
            <li name="jobs" style="width:105px;">
				<a href="javascript:;">@sessionUser.getDisplayName()<i class="iconfont icon-down"></i></a>
                <ul class="childUl" style="list-style: none;">
                @if(role == "s"){
                   <!--  <li><a href="/pblMgr/pub/course/userPblInfo.action" >个人中心</a></li> -->
                   <li><a href="@url("/pub/course/userPersonInfo.action")">个人信息</a></li>
                }
                @if(role == "t" || role == "m"){
                   <!--  <li><a href="/pblMgr/pub/course/userPblInfo.action" >个人中心</a></li> -->
                   <li><a href="@url("/pub/course/teacherSelfPersonInfo.action")">个人信息</a></li>
                }
                	<li><a href="javascript:;" onclick="logoutFun();">退出</a></li>
                </ul>
            </li>
        }
	</ul>
}
<script type="text/javascript">
$(function(){
	$.ajax({
		url:"@url("/pub/tag/searchCategory.action")",
		data:{businessType:7},
		type:"post",
		success:function(result){
			if(result.status){
				var objs = result.data;
				if(objs[0].list.length > 0){
					var liHtml = "";
					for(var i=0;i<objs[0].list.length;i++){
						var item = objs[0].list[i];
						liHtml += "<li><a id="+item.tagId+" onclick='activityTagItemClick(\""+item.tagId+"\");' href='javascript:;'>"+item.tagName+"</a></li>";
					}
					$("#text_course_activityCenter").append(liHtml); 
				}
			}
		}
	});
});
function activityTagItemClick(tagId){
	window.open('/pblMgr/pub/activityCenter/toIndex.action?categoryId='+tagId,'_self');
}
function toLoginFun(redirect){
	 if(redirect == "" || redirect == undefined){
		 var url = "";
		 if(IsPC()){
			 url = "http://"+window.location.host+"/pblMgr/pub/course/homePage.action";
		 }else{
			 url = "http://"+window.location.host+"/pblMgr/pub/course/homePagePhone.action";
		 }
		 window.location.href = "/pblMgr/client/login.action?redirect=" + $.base64.encode(url);
		 }else if(redirect.indexOf("/mobile/index.html") > 0){
		 var url = "http://"+window.location.host+"/pblMgr/mobile/index.html";
		 window.location.href = "/pblMgr/client/login.action?redirect=" + $.base64.encode(url);
		 }else{
		 window.location.href = "/pblMgr/client/login.action?redirect=" + $.base64.encode(redirect);
		 }

}
      
function loginLocation(){
	toLoginFun("");
}
function logoutFun(){
 	/* if(confirm("确定要退出系统吗？")){ */
 		$.ajax({
	type:'post',
	url:'/pblMgr/pub/course/insertUserLog.action',
	dataType:"json",
	data:{IpInfo:"",logType:"登出"},
	success:function(result){
	}
});	
//window.location.href = '/pblMgr/client/login.action';
window.location.href = 'https://passport.yceduyun.com/passport/rest/get/logout?clientId=1EF8798194B36D72&redirectUrl=@ipConfig/pub/course/homePage.action';
 	/* } */
}

function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}
</script>
<script>
		function course(){
			var operDetail = $("#text_course")[0].children[0].innerHTML;
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/course/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"谷歌浏览器",sysInfo:"Win10 64位)",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/course_list.html"},
				success:function(result){
				}
			});	
			window.open('/pblMgr/pub/course/courseFactoryListInit.action','_self');
		}
		
		function homepage(){
			var operDetail = $("#text_home")[0].children[0].innerHTML;
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/course/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"谷歌浏览器",sysInfo:"Win10 64位)",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/homePage.html"},
				success:function(result){
				}
			});	
			window.open('/pblMgr/pub/course/homePage.action','_self');
		}
		
		function resource(){
			var operDetail = $("#text_resourse")[0].children[0].innerHTML;
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/course/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"谷歌浏览器",sysInfo:"Win10 64位)",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/trainingplatform/client/resource_list.html"},
				success:function(result){
				}
			});	
			window.open('/pblMgr/pub/resourse/toResourse.action','_self');
		}
		function detail1(){
			window.open('/pblMgr/pub/course/pubCourseListInit.action','_self');
		}
		function quality(){
			window.open('/pblMgr/pub/course/qualityCourseListInit.action','_self');
		}
		function detail2(){
			window.open('http://10.62.88.153:8026/ekp/login_four.html','_blank');
		}
		function activityCenter(){
			window.open('/pblMgr/pub/activityCenter/toIndex.action','_self');
		}
		function newsCenter(){
			window.open('/pblMgr/pub/newsCenter/toIndex.action','_self');
		}
		function myStudy(){
			window.open('/pblMgr/pub/course/studentZuoyePage.action','_self');
		}
		</script>
<script type="text/javascript">
function school(){
	console.log();
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/insertUserOper.action',
		dataType:"json",
		data:{browserInfo:"谷歌浏览器",sysInfo:"Win10 64位)",IpInfo:"219.239.227.251",operDetail:"学校",operSite:"pblMgr/baseinstitution/manage/school_list"},
		success:function(result){
		}
	});	
	window.open('/pblMgr/pub/course/schoolListInit.action','_self');
}
function schoolBBS(){
	console.log();
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/insertUserOper.action',
		dataType:"json",
		data:{browserInfo:"谷歌浏览器",sysInfo:"Win10 64位)",IpInfo:"219.239.227.251",operDetail:"校园BBS",operSite:"pblMgr/baseinstitution/manage/bbs_list"},
		success:function(result){
		}
	});	
	window.open('/pblMgr/pub/course/schoolBBSListInit.action','_self');
}
</script>
<div id="mainContent" style="margin-top: 31px;">
	@render("mainContent"){
	<div id="pageContent" style="text-align: center;">
		<div class=".container-fluid"
			style="background-color: #f1f1f1; display: inline-block; width: 100%;">
			<div id="pageBody" style="text-align: left">@render()</div>
			<div class="clearfix"></div>
		</div>
	</div>
	}
</div>
@render("bodyEnd"){ }
