﻿@import(){
com.cloudsoaring.web.course.constant.*,
com.cloudsoaring.web.common.utils.ConfigUtil}
@args String title = "",
String activeMenu,
Integer num1,
String role,
int pageSpace =  ConfigUtil.getPageSpace()
@import(){  
    com.cloudsoaring.web.course.constant.HtmlAppConfig;
}
@extends(base,title:title, pageLoading:false, isClient:true)
@{
	String activeStyle = "active";
    HtmlAppConfig htmlAppConfig = new HtmlAppConfig();
    String ipConfig = htmlAppConfig.getIpConfig();
}
<div id="updateborswer" style="width:100%;display:none;line-height:20px;">
<div id="ie6-warning">@MessageUtil.getMessage(CourseMsgNames.LOW_BROWSER_VERSION) <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">@MessageUtil.getMessage(CourseMsgNames.IE_9)</a>@MessageUtil.getMessage(CourseMsgNames.FLOOR_BROWSER_VERSION)&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:closewarning()" style="color:red;">@MessageUtil.getMessage(CourseMsgNames.BROWSER_TIP_CLOSE)</a>
</div>
</div>
@{
	final boolean SHOW_INFO = ConfigUtil.getBoolean("CLIENT_INFO_ON_OFF");
	final boolean SHOW_COURSE = ConfigUtil.getBoolean("CLIENT_COURSE_ON_OFF");
	final boolean SHOW_PLAN = ConfigUtil.getBoolean("CLIENT_PLAN_ON_OFF");
	final boolean SHOW_DISCUSS = ConfigUtil.getBoolean("CLIENT_DISCUSS_ON_OFF");
	final boolean SHOW_SOCIAL = ConfigUtil.getBoolean("CLIENT_SOCIAL_ON_OFF");
	final boolean SHOW_TUTOR = ConfigUtil.getBoolean("CLIENT_TUTOR_ON_OFF");
	final boolean SHOW_CASE = ConfigUtil.getBoolean("CLIENT_CASE_ON_OFF");
}
@section("logo"){
	@{
    	String homeCss = getCurrentModule() != null && getCurrentModule().isHit("home") ? "active":"";
    }
}
@section("header_container"){
	<ul id="nav">
		<li id="text_home" name="index" style="width: 78px;"><a href="javascript:void(0)" onclick="homepage();">首页</a></li>
		<li id="text_school" style="width: 134px;"><a href="javascript:void(0)" onclick="school();">学校</a></li>
		<li id="text_course" style="width: 134px;"><a href="javascript:void(0)" onclick="course();">课工场</a></li>
		<li id="text_course_public" style="width: 134px;"><a href="javascript:void(0)" onclick="detail1();">公开课</a></li>
		<li id="text_course_activityCenter" style="width: 134px;"><a href="javascript:void(0)" onclick="activityCenter();">活动中心</a></li>
		<li id="text_course_newsCenter" style="width: 134px;"><a href="javascript:void(0)" onclick="newsCenter();">新闻中心</a></li>
		<li id="" style="width: 134px;"><a href="javascript:void(0)" onclick="();">商城</a></li>
		 @if(WebContext.isGuest()){
		 	<li  id="" name="case" style="width: 134px;"><a href="javascript:void(0)" onclick="loginLocation();">游客</a></li>
			
		}else if(sessionUser != null){
			<li name="jobs" style="width:134px;"><a href="javascript:;">
				系统管理<i class="iconfont icon-down"></i></a>
				<ul class="childUl" style="list-style: none;">
                	<!-- <li><a href="">系统管理</a></li> -->
                	<li><a href="@url("/pub/course/schoolbaseinstitutionlist.action")">学校管理</a></li>
                	<li><a href="@url("/manager/course/listInit.action")">课程管理</a></li>
                	<li><a href="@url("/pub/activityCenter/noticelist.action")">活动管理</a></li>
                	<li><a href="@url("/pub/newsCenter/noticelist.action")">新闻中心管理</a></li>
                	<li><a href="@url("/manager/resource/resourcelistInit.action")">资源管理</a></li>
                	<li><a href="@url("/manager/taxonomy/init.action")">分类管理</a></li>
                	<li ng-show="@sessionUser.getUserId() == '2542668'"><a href="@url("/pub/course/managerUserList.action")">超管管理</a></li>
                	<li><a href="@url("/pub/course/userOperInit.action")">日志管理</a></li>
               </ul>
            </li>
            <li name="jobs" style="width:134px;">
				<a href="javascript:;">@sessionUser.getDisplayName()<i class="iconfont icon-down"></i></a>
                <ul class="childUl" style="list-style: none;">
                	<li><a href="javascript:;" onclick="logoutFun();">退出</a></li>
                </ul>
            </li>
        }
	</ul>
}
<script type="text/javascript">
			function toLoginFun(redirect){
				 if(redirect == "" || redirect == undefined){
					 var url = "";
					 if(IsPC()){
						 url = "http://"+window.location.host+"/pblMgr/pub/course/homePage.action";
					 }else{
						 url = "http://"+window.location.host+"/pblMgr/pub/course/homePagePhone.action";
					 }
					 window.location.href = "/pblMgr/client/login.action?redirect=" + $.base64.encode(url);
					 }else if(redirect.indexOf("/mobile/index.html") > 0){
					 var url = "http://"+window.location.host+"/pblMgr/mobile/index.html";
					 window.location.href = "/pblMgr/client/login.action?redirect=" + $.base64.encode(url);
					 }else{
					 window.location.href = "/pblMgr/client/login.action?redirect=" + $.base64.encode(redirect);
					 }

			}
	        
	        function loginLocation(){
	        	toLoginFun("");
	        }
	        function logoutFun(){
	        	/* if(confirm("确定要退出系统吗？")){ */
	        		$.ajax({
		    			type:'post',
		    			url:'/pblMgr/pub/course/insertUserLog.action',
		    			dataType:"json",
		    			data:{IpInfo:"",logType:"登出"},
		    			success:function(result){
		    			}
		    		});	
		    		//window.location.href = '/pblMgr/client/login.action';
		    		window.location.href = 'https://passport.yceduyun.com/passport/rest/get/logout?clientId=1EF8798194B36D72&redirectUrl=@ipConfig/pub/course/homePage.action';
	        	/* } */
	    	}

	        function IsPC() {
	            var userAgentInfo = navigator.userAgent;
	            var Agents = ["Android", "iPhone",
	                        "SymbianOS", "Windows Phone",
	                        "iPad", "iPod"];
	            var flag = true;
	            for (var v = 0; v < Agents.length; v++) {
	                if (userAgentInfo.indexOf(Agents[v]) > 0) {
	                    flag = false;
	                    break;
	                }
	            }
	            return flag;
	        }
	</script>
		<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
		<script>
		 console.log(returnCitySN["cip"]+','+returnCitySN["cname"]) 
		var browserInfo = "";
		var sysInfo = "";
		var IpInfo = "";
		(function($){
					 var BrowserMatch = {  
						  init: function() {  
							  this.browser = this.getBrowser().browser || "未知浏览器";  //获取浏览器名
							  this.version = this.getBrowser().version || "未知浏览器版本号";  //获取浏览器版本
							  this.OS = this.getOS()+" "+this.getDigits() || "未知操作系统"; //系统版本号 
						  },  
						  getOS: function() {  //判断所处操作系统
								 var sUserAgent = navigator.userAgent.toLowerCase();   
								
								var isWin = (navigator.platform == "Win32") || (navigator.platform == "Win64")|| (navigator.platform == "wow64");   
								
								var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");   
								if (isMac) return "Mac";   
								var isUnix = (navigator.platform == "X11") && !isWin && !isMac;   
								if (isUnix) return "Unix";   
								var isLinux = (String(navigator.platform).indexOf("Linux") > -1);   
								var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";  
								if (isLinux) {  
								if(bIsAndroid) return "Android";  
								else return "Linux";   
								}  
								if (isWin) {   
								
									var isWin2K = sUserAgent.indexOf("Windows nt 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;   
									if (isWin2K) return "Win2000";   
									var isWinXP = sUserAgent.indexOf("Windows nt 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1  
									sUserAgent.indexOf("Windows XP") > -1;   
									if (isWinXP) return "WinXP";   
									var isWin2003 = sUserAgent.indexOf("Windows nt 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;   
									if (isWin2003) return "Win2003";   
									var isWinVista= sUserAgent.indexOf("Windows nt 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;   
									if (isWinVista) return "WinVista";   
									var isWin7 = sUserAgent.indexOf("Windows nt 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;   
									if (isWin7) return "Win7";   
									var isWin8 = sUserAgent.indexOf("windows nt 6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;  
									if (isWin8) return "Win8"; 
									var isWin10 = sUserAgent.indexOf("windows nt 10.0")>-1||sUserAgent.indexOf("Windows 10")>-1;	
									if(isWin10)return "Win10";				
								}  
								return "其他";
						  },  
						  getDigits:function(){ //判断当前操作系统的版本号 
							var sUserAgent = navigator.userAgent.toLowerCase();   
							var is64 = sUserAgent.indexOf("win64") > -1||sUserAgent.indexOf("wow64") > -1;  
							if (is64) {  
								return "64位";  
							}else{  
							   return "32位";    
							}  
						},
						  getBrowser: function() {  // 获取浏览器名
							  var rMsie = /(msie\s|trident\/7)([\w\.]+)/;  
							  var rTrident = /(trident)\/([\w.]+)/;  
							  var rEdge = /(chrome)\/([\w.]+)/;//IE
							  
							  var rFirefox = /(firefox)\/([\w.]+)/;  //火狐
							  var rOpera = /(opera).+version\/([\w.]+)/;  //旧Opera
							  var rNewOpera = /(opr)\/(.+)/;  //新Opera 基于谷歌
							  var rChrome = /(chrome)\/([\w.]+)/; //谷歌 
							  var rUC = /(chrome)\/([\w.]+)/;//UC
							  var rMaxthon = /(chrome)\/([\w.]+)/;//遨游
							  var r2345 =  /(chrome)\/([\w.]+)/;//2345
							  var rQQ =  /(chrome)\/([\w.]+)/;//QQ
							  //var rMetasr =  /(metasr)\/([\w.]+)/;//搜狗
							  var rSafari = /version\/([\w.]+).*(safari)/;
							  
							  var ua = navigator.userAgent.toLowerCase();  
		 
		 
							  var matchBS, matchBS2;  
							  
							  //IE 低版
							  matchBS = rMsie.exec(ua);  
							  if (matchBS != null) {  
								  matchBS2 = rTrident.exec(ua);  
								  if (matchBS2 != null) {  
									  switch (matchBS2[2]) {  
									  case "4.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 8"  //内核版本号
										  };  
										  break;  
									  case "5.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 9"  
										  };  
										  break;  
									  case "6.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 10"  
										  };  
										  break;  
									  case "7.0":  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "IE: 11"  
										  };  
										  break;  
									  default:  
										  return {  
											  browser:  
											  "Microsoft IE",  
											  version: "Undefined"  
										  };  
									  }  
								  } else {  
									  return {  
										  browser: "Microsoft IE",  
										  version: "IE:"+matchBS[2] || "0"  
									  };  
								  }  
							  }  
							  //IE最新版
							   matchBS = rEdge.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "Microsoft Edge",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
		                                          //UC浏览器					  
							  matchBS = rUC.exec(ua);                         		   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "UC",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //火狐浏览器
							  matchBS = rFirefox.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "火狐",  
									  version: "Firefox/"+matchBS[2] || "0"  
								  };  
							  }  
		                                         //Oper浏览器					 
							 matchBS = rOpera.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "Opera",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //遨游
							   matchBS = rMaxthon.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "遨游",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
		                                          //2345浏览器					  
		 					  matchBS = r2345.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "2345",  
									  version: "Chrome/ "+matchBS[2] || "0"  
								  };  
							  }  
		                                          //QQ浏览器					  
							  matchBS = rQQ.exec(ua);  	 				   
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  return {  
									  browser: "QQ",  
									  version: "Chrome/"+matchBS[2] || "0"  
								  };  
							  }  
							  //Safari（苹果）浏览器
							  matchBS = rSafari.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent)) && (!(window.chrome)) && (!(window.opera))) {  
								  return {  
									  browser: "Safari",  
									  version: "Safari/"+matchBS[1] || "0"  
								  };  
							  }  
							  //谷歌浏览器
							   matchBS = rChrome.exec(ua);  
							  if ((matchBS != null) && (!(window.attachEvent))) {  
								  matchBS2 = rNewOpera.exec(ua);  
								  if (matchBS2 == null) {  
									  return {  
										  browser: "谷歌",  
										  version: "Chrome/"+matchBS[2] || "0"  
									  };  
								  } else {  
									  return {  
										  browser: "Opera",  
										  version: "opr/"+matchBS2[2] || "0"  
									  };  
								  }  
							  }  
						  }  
		      };  
		      BrowserMatch.init();  
		      //alert("当前浏览器为：" + BrowserMatch.browser +"\n版本为："+ BrowserMatch.version + "\n所处操作系统为："+BrowserMatch.OS); 
		      browserInfo = BrowserMatch.version;
			  sysInfo = BrowserMatch.OS;
			  IpInfo = returnCitySN["cip"];
				})(jQuery);
		function course(){
			var operDetail = $("#text_course")[0].children[0].innerHTML;
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/course/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/course_list.html"},
				success:function(result){
				}
			});	
			window.open('/pblMgr/pub/course/courseFactoryListInit.action','_self');
		}
		
		function homepage(){
			var operDetail = $("#text_home")[0].children[0].innerHTML;
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/course/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/homePage.html"},
				success:function(result){
				}
			});	
			window.open('/pblMgr/pub/course/homePage.action','_self');
		}
		
		function resource(){
			var operDetail = $("#text_resourse")[0].children[0].innerHTML;
			$.ajax({
				type:'post',
				url:'/pblMgr/pub/course/insertUserOper.action',
				dataType:"json",
				data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/trainingplatform/client/resource_list.html"},
				success:function(result){
				}
			});	
			window.open('/pblMgr/pub/resourse/toResourse.action','_self');
		}
		function detail1(){
			window.open('/pblMgr/pub/course/pubCourseListInit.action','_self');
		}
		function detail2(){
			window.open('http://10.62.88.153:8026/ekp/login_four.html','_blank');
		}
		function activityCenter(){
			window.open('/pblMgr/pub/activityCenter/toIndex.action','_self');
		}
		function newsCenter(){
			window.open('/pblMgr/pub/newsCenter/toIndex.action','_self');
		}
		</script>
         <!-- <li style="text-align: center;" class="@if("text_editor".equals(activeMenu)){@activeStyle}" id="text_editor">
                <a href="@url("/pub/course/webEditor.action")" class="dm-fa-md">@MessageUtil.getMessage("创客编程")</a>
        </li> -->
         <!-- <li style="text-align: center;" class="@if("text_info".equals(activeMenu)){@activeStyle}" id="text_course">
			<a href="@url("/pub/indexInfo/toIndex.action")" class="dm-fa-md" >@MessageUtil.getMessage("公告")</a>
		</li> -->
	 	<!-- <li style="text-align: center;" class="@if("text_personpage".equals(activeMenu)){@activeStyle}" id="text_personpage">
	 		<a href="@url("/client/center/userInfo.action")" class="dm-fa-md">@MessageUtil.getMessage(CourseMsgNames.TXT_NAV_PERSONPAGE)</a>
	 	</li> -->
<script type="text/javascript">
function school(){
	console.log(@sessionUser);
	var operDetail = $("#text_course")[0].children[0].innerHTML;
	$.ajax({
		type:'post',
		url:'/pblMgr/pub/course/insertUserOper.action',
		dataType:"json",
		data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/baseinstitution/manage/school_list"},
		success:function(result){
		}
	});	
	window.open('/pblMgr/pub/course/schoolListInit.action','_self');
}
</script>
<div id="mainContent" style="margin-top: 31px;">
	@render("mainContent"){
    	<div id="pageContent" style="text-align:center;">
			<div class=".container-fluid" style="background-color: #f1f1f1;display:inline-block;width:100%;">
	    		<div id="pageBody" style="text-align: left">
	    			@render()
	    		</div>
	    		<div class="clearfix"></div>
	    	</div>
    	</div>
     }
</div>
@render("bodyEnd"){
}