@import(){com.cloudsoaring.web.course.constant.*}
@args String title = "",
String activeMenu
@extends(base,title:title, pageLoading:false, isClient:true)

@{
	String activeStyle = "active";

}

<div id="updateborswer" style="width:100%;display:none;line-height:20px;">
<div id="ie6-warning">@MessageUtil.getMessage(CourseMsgNames.LOW_BROWSER_VERSION) <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">@MessageUtil.getMessage(CourseMsgNames.IE_9)</a>@MessageUtil.getMessage(CourseMsgNames.FLOOR_BROWSER_VERSION)&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:closewarning()" style="color:red;">@MessageUtil.getMessage(CourseMsgNames.BROWSER_TIP_CLOSE)</a>

</div>
</div>
<!--[if lt IE 9]>
    <script type="text/javascript">
        $("#updateborswer").show();
        function closewarning(){
        	$("#updateborswer").hide();
        }
    </script>
<![endif]-->
<link rel="stylesheet" href="@WebContext.url("/css/hs_style.css")"/>
<style>
#ie6-warning{
background:rgb(255,255,225) url("@url("/images/warning.png")") no-repeat scroll 8px center;
position:absolute;
top:0;
width:100%;
left:0;
font-size:12px;
color:#333;
width:100%;
padding: 0 30px 0 30px;
text-align:left;
}
#ie6-warning a {
text-decoration:none;
}
	#updateborswer{
	    position: fixed;
	    top:0;
	    right: 0;
	    left: 0;
	    z-index: 99999;
	    -webkit-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
	.row{
		background-color:#E6E6E6;
	}
	.flex-control-paging{
		margin-top: -21px;
		position: relative;
		bottom: 0px;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.flex-control-paging li{
		margin: 0 6px;
		display: inline-block;
		zoom: 1;
	}
	.flex-control-paging li a{
		background: #fff;
		width: 11px;
		height: 11px;
		display: block;
		cursor: pointer;
		text-indent: -9999px;
		border-radius: 20px;
	}
	.float-area{position:fixed;right:0}.float-area-box{position:relative;z-index:2000;transition-duration:.8s}.spin-icon{position:absolute;padding:7px 10px 7px 13px;border-radius:20px 0 0 20px;font-size:16px;top:0;left:0;width:50px;color:#fff;cursor:pointer;height:36px;margin-bottom:20px}.spin-icon i{width:14px;line-height:16px!important;height:16px}.float-area-content{overflow:hidden;margin-left:50px;background:#f3f3f4;box-shadow:0 0 40px rgba(29,25,25,.65);margin-bottom:40px}.float-area-content .title{background:rgba(211,200,189,.71);text-align:center;text-transform:uppercase;font-weight:600;display:block;padding:10px 15px;font-size:12px;height:36px}
	body{
		background-color:#f3f5f7;
	}
	#top-link-block{
		position: fixed;
		display: block;z-index: 9;
		bottom: 55px;right: 2%;
		transition: all .1s;
	} 
	.flexslider ul.slides li .slide_content_top{
		padding: 9px 20px;
		background: #000;
		top: 0px;
		left: 0px;width: 100%;
		margin-top: -40px;
		filter: alpha(opacity=60);
	}
 	.sys-title,#head_ul a {
		color:#fff;
	} 
body,#body-content {
	margin:0;
	padding:0;
}	
#head_ul li{
		width:120px;
	}
	#body-content {
	    margin-top: 68.05px;
	}
	.navbar-inverse{
		height:50px;
	}
</style>
@{
	final boolean SHOW_COURSE = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COURSE_ON_OFF)).equals("true");
	final boolean SHOW_PLAN = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_PLAN_ON_OFF)).equals("true");
	final boolean SHOW_CIRCLE = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_CIRCLE_ON_OFF)).equals("true");
	final boolean SHOW_DISCUSS = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_DISCUSS_ON_OFF)).equals("true");
	final boolean SHOW_FRIEND = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_FRIEND_ON_OFF)).equals("true");
	final boolean SHOW_CASE_SHARE = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_CASE_SHARE_ON_OFF)).equals("true");
	final boolean SHOW_COACH = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COACH_ON_OFF)).equals("true");
	final boolean SHOW_PERSONPAGE = (MessageUtil.getMessage(CourseMsgNames.TXT_NAV_PERSONPAGE_ON_OFF)).equals("true");
	
}
@section("logo"){
	@{
    	String homeCss = getCurrentModule() != null && getCurrentModule().isHit("home") ? "active":"";
    }
	<!--<a class="navbar-brand @homeCss dm-fa-md" href="@WebContext.url(ConfigUtil.getIndexAction())" style="white-space:nowrap;padding:0px;">
   		<img src="@url("/images/client-logo.png")"  style="width:200px;height:60px;">
   		<p style="color:#ffffff; padding-top:18px; font-size:25px; font-weight:bold;background-color:#b60006;height:60px;">@message("company.name.full")</p>
   		<!--<img src="@url("/images/v_line.png")"  style="margin-top: -7px;margin-left:7px; margin-right:7px;">
   	</a>-->
}
@section("header_container"){
	 <ul class="nav navbar-nav" style="/*margin-left: 100px;*/" id="head_ul">
	 	@if(SHOW_COURSE){
		 	<li style="text-align: center;" class="@if("text_course".equals(activeMenu)){@activeStyle}" id="text_course">
		 		<a href="@url("")" class="dm-fa-md" >@MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COURSE)</a>
		 	</li>
		}
		@if(SHOW_PLAN){
		 	<li style="text-align: center;" class="@if("text_plan".equals(activeMenu)){@activeStyle}" id="text_plan">
		 		<a href="@url("/pub/plan/innerPlanList.action")" class="dm-fa-md" >@MessageUtil.getMessage(CourseMsgNames.TXT_NAV_PLAN)</a>
		 	</li>
	 	}
	 	@if(SHOW_DISCUSS){
		 	<li style="text-align: center;"  id="text_discuss">
		 		<a href="@url("/pub/forum/toForumList.action")" class="dm-fa-md">@MessageUtil.getMessage(CourseMsgNames.TXT_NAV_DISCUSS)</a>
		 	</li>
	 	}
		
	 	@if(SHOW_FRIEND){
		 	<li style="text-align: center;" class="@if("text_friend".equals(activeMenu)){@activeStyle}" id="text_friend">
		 		<a href="@url("/pub/social/toSocialList.action")" class="dm-fa-md">@MessageUtil.getMessage(CourseMsgNames.TXT_NAV_FRIEND)</a>
		 	</li>
	 	}

	 	@if(SHOW_COACH){
		 	<li style="text-align: center;" class="@if("text_coach".equals(activeMenu)){@activeStyle}" id="text_coach">
		 		<a href="@url("/pub/tutor/toCoachList.action")" class="dm-fa-md">@MessageUtil.getMessage(CourseMsgNames.TXT_NAV_COACH)</a>
		 	</li>
	 	}
	 	<li style="text-align: center;" class="@if("text_case".equals(activeMenu)){@activeStyle}" id="text_case">
	 		<a href="@url("/pub/case/innerCaseList.action")" class="dm-fa-md">@MessageUtil.getMessage("案例")</a>
	 	</li>
	 	<!-- @if(SHOW_PERSONPAGE){
		 	<li style="text-align: center;" class="@if("text_personpage".equals(activeMenu)){@activeStyle}" id="text_personpage">
		 		<a href="@url("/client/center/userInfo.action")" class="dm-fa-md">@MessageUtil.getMessage(CourseMsgNames.TXT_NAV_PERSONPAGE)</a>
		 	</li>
	 	} -->
	 	
	</ul>
}
<div style="    margin-top: -20px;">
<!-- 页面内容 -->
@render()
</div>