@args Exception exception
@extends(common, title:MessageUtil.getMessage(MsgNames.MSG_ERROR_PAGES))

<style>
	.btn{
		background-color:#EF694E;
		border:1px solid rgba(255,255,255,.3);
		color:#fff;
	}
	.btn:hover {
	    background: #fff;
	    color: #EF694E;
	    text-decoration: none;
	}
</style>
<link href="@url("/css/error.css")" rel="stylesheet">
<div id="page-container">
	<div class="error">
		<div class="error-code m-b-10" style="top:20px;color:#EF694E !important;"><i class="fa fa-warning"></i>@if(exception != null){500}else{@MessageUtil.getMessage("wrong")}</div>
			<div class="error-content" style="top:150px;background:#EF694E; position:relative !important;">
			<div class="error-message fa fa-drupal"><b><h>&nbsp;@MessageUtil.getMessage(MsgNames.MSG_CAN_NOT_ACCESS_THE_CONTENT)</h></b></div>
			<div style="color:#e5e5e5;text-align: left;margin: 20px 150px; overflow: auto;">
				<h4 style="color:#e5e5e5;text-align:center;">
				@if(flash.containsKey("error")){
			  		@flash.get("error")<br>
			  	}
			  	@if(exception != null){
			  		@if(exception instanceof com.cloudsoaring.exception.BusinessException){
			  			@exception.getMessage()<br>
			  		}else{
				  		@MessageUtil.getMessage("error.system.exception")<br>
				  	}
				}
			  	</h4>
			  	<br>
			  	<!-- Debug模式 -->
			  	@if(exception != null ){
			  		@if(WebContext.isDebug()){
						<h4 style="color:#e5e5e5;">
							@exception.getMessage()<br>
							@for(int i = 0; i < exception.getStackTrace().length; i++){
								@(exception.getStackTrace()[i].toString())<br>
							}
						</h4>
					}
			  	}
			</div>
			<div style="margin-top: 35px;height: 90px;">
			  	  <a href="@WebContext.url(ConfigUtil.getIndexAction())" style="font-size: 15px;" class="btn btn-lg fa fa-home">@message("home.page")</a>
			      &nbsp;&nbsp;&nbsp;&nbsp;
			      <a class="btn btn-lg fa fa-reply" style="font-size:15px;" role="button" onclick="javascript:goBack();">@MessageUtil.getMessage(MsgNames.MSG_BACK)</a>
			</div>
		</div>
	</div>
</div>

		