@args String title = "", Boolean showUserInfo = true, Boolean pageLoading = true, Boolean isClient = false
@extends(common, title:getPageTitle(title))
@{
	final int pageSpace= ConfigUtil.getPageSpace();
	final String logoutUrl = WebContext.url(isClient ? "client/logout.action" : "logout.action");
	final String lsideToggleCss = nval(WebContext.hideLeftSide(), "fa-th-list" , "fa-bars");
	final String localeDesc = LOCALE_US.equals(getLocale()) ? "English" :"中文";
	final String loadingcss = pageLoading ? "" : "hide";
}
<style>
	#left-side.left_space{
		margin-top: 0px !important;
	    padding-left: @(pageSpace)px !important;
	}
	#left-side.no_left_space{
		margin-top: -20px !important;
	}
	#mainContent{
		/* margin-right: @(pageSpace)px !important; */
	}
</style>
@section("head"){
	<link rel="stylesheet" href="@url("/css/mydirective.css")"/> 
	<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
	<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
	<script type="text/javascript" src="@url("/js/echarts.js")"></script>
	<link rel="stylesheet" href="@WebContext.url("/js/videojs/video-js.css")" type="text/css"/>
	<link rel="stylesheet" href="@url("/js/jquery-ui2.css")" type="text/css"/>
	<link rel="stylesheet" href="@url("/js/robert.css")" type="text/css"/>
	<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
	<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
}


<style>
	/* html{
		background-color:rgba(230, 230, 230, 1)
	} */
	body{
		min-width:800px;
	}
</style>
<body style="height:100%; margin-bottom:55px">
	
	<div id="page-loader" class="fade in @loadingcss"><span class="loading-circle"></span></div>
	<span id="top-link-block" class="hidden">
		<!--  <a style="opacity: 0.5; cursor: pointer;" href="#body-content" style="border:none" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
			<img src="@url("/images/backtop.png")" style="width: 42px; display: inline;">
		</a>-->
	</span>
<script>
	$(function(){
		$(window).load(function(){  
		    $("#page-loader").addClass('hide'); 
		    //顶部和底部
		    //有link-about时
		    //var minHeight =  $(window).height() - 248;
		     //无link-about时
		     var minHeight =  Math.max($(window).height() - 113, $('#left-side').height());
			$("#body-content").css("min-height", minHeight);
		})
		$(window).resize(function(){
			//有link-about时
		    //var minHeight =  $(window).height() - 248;
		     //无link-about时
		     var minHeight = Math.max($(window).height() - 113, $('#left-side').height());
			$("#body-content").css("min-height", minHeight);
		});
	})
	
	function toggleLeftSide(){
		if(domExsit("left-side") && domExsit("mainContent")){
			if($('#left-side').css("margin-left") == "-275px"){
				/* $('#mainContent').css('margin-left', '275px'); */
				$('#left-side').css('margin-left', '0px');
				_isHideLeft = false;
				//$('#sidebarLeftToggleIcon').removeClass("fa-indent").addClass("fa-outdent");
				$('#sidebarLeftToggleIcon').removeClass("fa-th-list").addClass("fa-bars");
				//$.cookie("_isHideLeft", "0", { path: "/"});
			}else{
				/* $('#mainContent').css('margin-left', '@(pageSpace)px'); */
				$('#left-side').css('margin-left', '-275px');
				_isHideLeft = true;
				//$('#sidebarLeftToggleIcon').removeClass("fa-outdent").addClass("fa-indent");
				$('#sidebarLeftToggleIcon').removeClass("fa-bars").addClass("fa-th-list");
				//$.cookie("_isHideLeft", "1", { path: "/"});
			}
			$.ajax({
				url:"@url("/hide-left-side.action")",
				data:{hideLeftSide:_isHideLeft}
			});
			setTimeout("resetLabelsWidth()",600);
		}
	}
	
	function checkTopLink(){
		if ( $(window).height() + 10 < $(document).height() ) {
		   /*  $('#top-link-block').removeClass('hidden').affix({
		        // how far to scroll down before link "slides" into view
		        offset: {top:30}
		    }); */
		}else{
			$('#top-link-block').addClass('hidden');
		}
	}
	$(function(){
		checkTopLink();
		$(window).scroll(checkTopLink);
		$("#sidebarLeftToggle").click(toggleLeftSide);
		
		var _isHideLeft;
		function initialLayout(){
			_isHideLeft = $.cookie("_isHideLeft") === '1';
			if(_isHideLeft){
				$('#left-side').css('margin-left', '-275px');
				/* $('#mainContent').css('margin-left', '50px'); */
			}else{
				$('#left-side').css('margin-left', '0px');
			}
			setTimeout("resetLabelsWidth()",1000);
		}
		
		//initialLayout();
		
		function exitFullscreen() {
			var rfs = document.exitFullscreen || document.webkitExitFullscreen || document.mozCancelFullScreen || document.msExitFullscreen; 
		     if (typeof rfs != "undefined" && rfs) { 
		            rfs.call(document); 
		     } else if(typeof window.ActiveXObject != "undefined"){
		         var wscript = new ActiveXObject("WScript.Shell");
		         if (wscript!=null) { 
		             wscript.SendKeys("{F11}"); 
		         }
		     }  
		}
		
		function launchFullscreen(element){
			var rfs = element.requestFullscreen || element.webkitRequestFullscreen || element.mozRequestFullScreen || element.msRequestFullscreen; 
		     if (typeof rfs != "undefined" && rfs) { 
		              rfs.call(element); 
		     } else if(typeof window.ActiveXObject != "undefined"){
	             var wscript = new ActiveXObject("WScript.Shell");
		         if (wscript!=null) { 
		                wscript.SendKeys("{F11}"); 
		         }
		     }  
		}

		function isFullScreen(){
			var isFs = (document.fullScreenElement && document.fullScreenElement !== null)
	         || document.mozFullScreen
	         || document.webkitIsFullScreen 
	         || window.fullScreen 
	         ||(window.innerWidth == screen.width&& window.innerHeight == screen.height);
			return isFs;
		}
		
		function checkFullScreen(){
			if(isFullScreen()){
			     $('#fullScreenToggle span').attr("class","gh gh-resize-small");
			}else{
		     $('#fullScreenToggle span').attr("class","gh gh-fullscreen");
				
			}
			
		}
		
		$('#fullScreenToggle').click(function(){
			if(isFullScreen()){
				exitFullscreen();
			}else{
				launchFullscreen(document.body);
			}
			checkFullScreen();
			resetLabelsWidth();
		});
		
		$(window).resize(checkFullScreen);
	});
	
	function refreshWebResource(){
		$.ajax({
			bodyMsg:true,
			showMsg:false,
			mask:true,
			url:"@url("/refreshWebResource.action")",
			success:function(result){
				success(result.messages,function(){window.location.reload();});
			}
		});
	}
	</script>
@if(ConfigUtil.isRythmDev()){
		<style type="text/css">
			.label90{
				min-width:90px;
			}
		</style>
		
		<script type="text/javascript">
			$('#leftSideSwitch').on('switch-change', toggleLeftSide);
	        $('#debugSwitch').on('switch-change', function(){
	        	var isDebug = getValueAny('debugSwitch');
	        	var action = isDebug ? "@message("label.action.enter")" : "@message("label.action.quit")";
	        	$.ajax({
	           		data:{isDebug : isDebug},
	           		url:'@url("/toggleDebug.action")',
	           		success:function(result){
	           			success("@message("msg.confirm.debug")".format(action),function(){window.location.reload();});	
	           		}		
	            });
	        });	
		</script>
	}
	
	@doLayout()
	<!-- 页面底部 -->
<!-- 	<nav class="navbar navbar-fixed-bottom " role="navigation">
		@*@link_about()*@
	    <footer class="text-center dm-footer" style="padding-top:7px;min-height: 35px;">
	      	<p>@message("product.copyright")</p>
    	</footer>
  	</nav> -->
</body>
