@args String title = ""
@extends(base, title:getPageTitle(title))

<div id="mainContent">
<!-- 页面内容 -->
	<!-- 页面内容上部分导航 -->
	<div id="buttons" style="padding-bottom:15px; text-align: right;padding-right:0px;" class="btnbox-rythm">
		@render("buttons"){
		}
	</div>
	@render("mainContent"){
    	<div id="pageContent">
    		@if(StringUtil.isNotEmpty(title)){
	    		<div id="pageTitle">
	    			<h>@title</h>
	    		</div>
    		}
    		<div id="pageBody">
    			@render()
    		</div>
    		<div class="clearfix"></div>
    	</div>
     }
</div>
