@args String title = "", Boolean showUserInfo = true, Boolean showTitle = true, Boolean showBreadcrumb=false, int leftSideWidth=ConfigUtil.getLeftSideWidth();
@extends(base, title:getPageTitle(title), showUserInfo:showUserInfo)

@{
	Boolean hideLeftSide = WebContext.hideLeftSide();
	final int pageSpace= ConfigUtil.getPageSpace();
	final Boolean hasLeftSpace = ConfigUtil.hasLeftSpace();
	final int rleftSideWidth = hasLeftSpace ? (pageSpace + leftSideWidth) :leftSideWidth;
	final int pageLeftMargin = rleftSideWidth + 15;
	final String contentMargin = "margin-left:" + nval(hideLeftSide, pageSpace + "px", pageLeftMargin + "px");
	final String lsideMargin = "margin-left:" + nval(hideLeftSide, "-"+pageLeftMargin+"px", "0px");
	String leftSideCss = hasLeftSpace ? "left_space":"no_left_space";
}

<!-- 页面中间部分 -->
<!-- 左边导航 -->
<div id="left-side" style="@lsideMargin" class="@leftSideCss">
	<div id="sidebar">
		@render("sidebar"){
			@if(getLeftModules() != null){
			<div id="accordion" class="list-group top-group dm-box">
				 @for(ModuleEntity module : getLeftModules()){
				 	@if(module != null && module.getAsMenu()){
		    			@rendLeftNav(module)
		    		}
		    	}
	        </div>
			}
		}
	</div>
</div>
<style>
#left-side.left_space{
	margin-top: 0px !important;
    padding-left: @(pageSpace)px !important;
}
#left-side{
	min-width:@(rleftSideWidth)px !important;
}
#left-side.no_left_space{
	margin-top: -20px !important;
}
#mainContent{
	margin-right: @(pageSpace)px !important;
	margin-left:@(pageLeftMargin)px !important;
}
</style>
<div id="mainContent" style="@contentMargin">
<!-- 页面内容 -->
	<!-- 页面内容上部分导航 -->
	@render("mainContent"){
		@if(showBreadcrumb){
			<!-- 面包屑导航条 -->
			<ul class="breadcrumb breadcrumb-arrow" style="font-size:15px;">
				<li><a class="fa-home" href="#" onclick="javascript:void(0);" style="border: none !important;cursor: default;">@message("txt.page.position")</a></li>
				@if(getCurrentModule() != null){
					@for(ModuleEntity module:getCurrentModule().getAncestors()){
						@if(module.getAsMenu()){
						@*	@if(StringUtil.isNotEmpty(module.getAction())){
								<li><a href="@url(historyUrl(module))" style="border: none !important;cursor: default;">@module.getModuleName()</a></li>
							}else{
								<li><a href="#" onclick="javascript:void(0);" style="border: none !important;cursor: default;">@module.getModuleName()</a></li>
							}
						*@
						<li><a href="#" onclick="javascript:void(0);" style="border: none !important;cursor: default;">@module.getModuleName()</a></li>
						}
					}
					<li><a href="#" onclick="javascript:void(0);" style="border: none !important;cursor: default;">@getCurrentModule().getModuleName()</a></li>
				}	
			</ul>
	    }
		<!-- 页面标题部分 首页和错误页面不显示 -->
		
<!-- 		<div class="navbar content-navbar navbar-xs dm-page-title dm-box" data-toggle="breakpoint" data-class-sm="navbar content-navbar navbar-default navbar-xs navbar-fixed-top" data-class-xs="navbar content-navbar navbar-inverse navbar-xs"> -->
<!-- 			<div class="navbar-header"> -->
<!-- 	          <a class="navbar-brand" > -->
<!-- 	          	@title -->
<!-- 	          </a> -->
<!-- 			</div> -->
<!-- 		</div> -->
    	<div id="pageContent">
    		@if(StringUtil.isNotEmpty(title) && showTitle){
	    		<div id="pageTitle">
	    			<h>@title</h>
	    		</div>
    		}
    		<div id="pageBody">
    			@render()
    		</div>
    		<div class="clearfix"></div>
    	</div>
     }
</div>
<script>
	$(document).on('click', '.accordion-toggle', function(event) {
        event.stopPropagation();
        var $this = $(this);

        var parent = $this.data('parent');
        var actives = parent && $(parent).find('>.collapse.in');
        // From bootstrap itself
        if (actives && actives.length) {
            hasData = actives.data('collapse');
            //if (hasData && hasData.transitioning) return;
            actives.collapse('hide');
        }

        var target = $this.attr('data-target') || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, ''); //strip for ie7

        $(target).collapse('toggle');
	});
</script>
