@extends(main, title:MessageUtil.getMessage(MsgNames.MSG_SAMPLE_MANY_EXAMPLES))

@content(){
	<ul>
		<li><a href="@url("/sample/blank.action")">空页面</a></li>
		<li><a href="@url("/sample/notice.action")">公告页面</a></li>
		<li><a href="@url("/sample/list.action")">列表带按钮</a></li>
		<li><a href="@url("/sample/normal.action")">@MessageUtil.getMessage(MsgNames.MSG_NORMAL)</a></li>
		<li><a href="@url("/sample/email.action")">@MessageUtil.getMessage(MsgNames.MSG_MAIL_SEND)</a></li>
		<li><a href="@url("/sample/image.action")">@MessageUtil.getMessage(MsgNames.MSG_IMAGE_UPLOAD)</a></li>
		<li><a href="@url("/sample/flexslider.action")">@MessageUtil.getMessage(MsgNames.MSG_IMAGE_PLAY_CAROUSEL)</a></li>
		<li><a href="@url("/sample/left.action")">@MessageUtil.getMessage(MsgNames.MSG_REPLACE_LEFT)</a></li>
		<li><a href="@url("/sample/right.action")">@MessageUtil.getMessage(MsgNames.MSG_REPLACE_RIGHT)</a></li>
		<li><a href="@url("/sample/layout.action")">@MessageUtil.getMessage(MsgNames.MSG_KEEP_LAYOUT)</a></li>
		<li><a href="@url("/sample/all.action")">@MessageUtil.getMessage(MsgNames.MSG_REPLACE_ALL)</a></li>
		<li><a href="@url("/sample/icon.action")">@MessageUtil.getMessage(MsgNames.MSG_ICON)</a></li>
		<li><a href="@url("/sample/button.action")">@MessageUtil.getMessage(MsgNames.MSG_BUTTON_STYLE)</a></li>
		<li><a href="@url("/sample/multiselector.action")">@MessageUtil.getMessage(MsgNames.MSG_SELECT_COMPONENT)</a></li>
		<li><a href="@url("/sample/calenderSample.action")">@MessageUtil.getMessage("工作日历")</a></li>
	</ul>
}