@args String id="", 
Boolean disabled=false, 
String moduleid="", 
String innertype="", 
String label=MessageUtil.getMessage(MsgNames.MSG_CLEAR),
Integer width = 0, 
Boolean enter = false,
String btncss="btn-normal", 
String iconcss="fa fa-eraser", 
String onclick="clearSearch(this)", 
String type="button", 
String display="",
String url="",
String style="",
Boolean visible=true
@if(visible){
	@{
		final String sdisabled = StringUtil.nval(disabled, "disabled");
		final String senter = StringUtil.nval(enter, " enter-button ");
		if(StringUtil.isEmpty(onclick) && StringUtil.isNotEmpty(url)){
			onclick = "javascript:window.location.href='" + url(url) + "'";
		}else if(StringUtil.isNotEmpty(onclick) && onclick.indexOf("(") == -1){
			onclick += "()";
		}
		final String sdisplay = nval(display, StringUtil.build("display:", display));
		final String swidth = nval(width != null && width > 0,StringUtil.build("width:",width.toString(),"px"));
	}
	@if((StringUtil.isEmpty(moduleid) && StringUtil.isEmpty(innertype)) || (StringUtil.isNotEmpty(moduleid) && hasAccess(moduleid)) || (StringUtil.isNotEmpty(innertype) && hasInnerAccess(innertype))){
		<button id="@id" class="btn @btncss @senter" style="@swidth;@sdisplay;@style" @sdisabled data-content="@message({code:label, default:label})" type="@type" onclick="@onclick"><b class="@iconcss">@message({code:label, default:label})</b></button>
		@renderBody()
	}
}