@args String id="calender",
Object data,
String url="",
String getParamFunction,
String getDataOnViewChange,
String eventDataTransform,
boolean visible=true,
String height = "auto",
String blockAspectRatio = "1.35",
String eventClick,
String initViewType = "agendaWeek",
boolean displayHeader = true,
boolean onlyWeekNotDate = false,
boolean allDaySlot = true



@**设置数据的方法**@
@**方法1**@
@**data：给日历添加所有事件 **@
@**方法2**@
@**url + getParamFunction:  **@ 
@**		每次时间切换时通过url来获取数据, 默认参数传递参数为：start，end两个来获取时间区间。注意end的时间是结尾时间的第二天 **@
@**		当getParamFunction被赋值时，url传递的参数由getParamFunction来获取  **@
@**方法3**@
@**getDataOnViewChange：每次时间切换时调用，用来获取事件，参数：startD , endD, callback(通过在函数中调用callback给日历设值，参数为events) **@

@**点击事件 **@
@**eventClick = function(calEvent, jsEvent, view)  **@

@**获取当前视图中的页面数据  **@
@**$("#calender").fullCalendar( 'clientEvents' [, idOrFilter ] ) -> Array  **@
@**idOrFilter参数为event，单个参数，返回true则获取  **@

@**日历的初始化视图  **@
@**initViewType：month， basicWeek， basicDay ， agendaWeek ， agendaDay   **@





@{
	String sdata = "";
	if(data != null){
		if(data instanceof String){
			sdata = data.toString();
		}else{
			sdata = JsonLib.toJson(data);
		}
	}
}
@if(visible) {

	<div id="@id" ></div>
	
	<script>
		$(function() {
		    $('#@id').fullCalendar({
				 elementVisibleAlways: true
				, defaultView : '@initViewType'
				, axisFormat: 'HH:mm'
				, slotDuration: '01:00:00'
				, aspectRatio: @blockAspectRatio
				, views: {
			        basic: {
			            // options apply to basicWeek and basicDay views
			        },
			        agenda: {
			            // options apply to agendaWeek and agendaDay views
			            @if(onlyWeekNotDate) {
							columnFormat: 'dddd'
						} else {
							columnFormat: 'dddd MM-DD'
						}
			        },
			        week: {
			            // options apply to basicWeek and agendaWeek views
			        },
			        day: {
			            // options apply to basicDay and agendaDay views
			        }
			    }
			    , timeFormat: 'H(:mm)' //事件日期显示的格式
			    , allDaySlot: @allDaySlot
				, height: '@height'
			    , eventDataTransform: function(event) {
					if(event && event.start && $.isNumeric(event.start) ) {
						event.start = new Date(parseInt(event.start))
					}
					if(event && event.end && $.isNumeric(event.end)) {
						event.end = new Date(parseInt(event.end))
					}
					@if(StringUtil.isNotEmpty(eventDataTransform)) {
						@(eventDataTransform)(event)
					}
					return event;
				}
				@if(!displayHeader) {
				    , header: {
				        left: null
				       ,center: null
				       ,right: null
					 }
				}
				@if(StringUtil.isNotEmpty(eventClick)){
					, eventClick: @eventClick
				}
			    @if(StringUtil.isEmpty(url)){
			        ,events:  @sdata.raw()
		        }else if(StringUtil.isNotEmpty(url)){
	            	,events: function(start, end, timezone, callback) {
	            		@if(StringUtil.isEmpty(getDataOnViewChange)) {
		            		var startD = start.toDate();
		            		var endD = end.toDate();
		            		var params  = {start: dateTimeFormat(startD), end: dateTimeFormat(endD)};
		            		@if(StringUtil.isNotEmpty(getParamFunction)){
		            			params =  @(getParamFunction)(startD, endD);
		    				}
		    				
		            		ajax({
		            			type:"post",
		            			url: '@url(url)',
					            data: params,
					            success:function(result) {
					            	var events = result.data;
					            	callback(events);
					            } 
		            		})
	            		} else {
	            			var startD = start.toDate();
		            		var endD = end.toDate();
	            			@(getDataOnViewChange)(startD , endD, callback);
	            		}
				    }
	            }
			})
		});
	</script>
}