@import java.util.*;
@import com.cloudsoaring.web.common.utils.*;
@import com.fasterxml.jackson.databind.*;
@import com.fasterxml.jackson.databind.node.*;
@import org.apache.commons.beanutils.BeanUtils;

@args String label, 
String id = "", 
String popplace="top", 
String name, 
Boolean multiple=false, 
String labelfield="text", 
String valuefield="value",
Boolean showrequired=true,
Object value, 
String durl, 
Object options, 
Boolean required=false, 
String groupcss = "col-12", 
String labelcss="", 
String optionWidth="150px",
Boolean disabled = false,
Boolean visible = true
@if(visible){
	@group(label:label,required:required,css:groupcss,showrequired:showrequired,labelcss:labelcss){
	
		@{		
			id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
			name = StringUtil.getOrElse(name, id);
			String checkType = multiple ? "checkbox" : "radio";
			String disabledStr = disabled ? "disabled=\"disabled\"" : "";
			String requiredStr = required ? "required=\"required\"" : "";
			Object[] vals = null;
			Map mapVal = new HashMap();
			if(value != null){
				if(value instanceof String){
					vals = ((String)value).split(",");
				} else if(value instanceof List){
					vals = ((List)value).toArray();
				} else {
					vals = (Object[]) value;
				}
				if(vals != null){
					for(Object o : vals){
						mapVal.put(o.toString(), o.toString());
						if(!multiple){
							break;
						}
					}
				}
			}
		}
	
		<div id="div_@id" class="@checkType check-body check-rythm">
		@if(options != null){
	    	 @if(options instanceof String && options.toString() != ""){
	    		@{
		    		JsonNode node = JSONUtil.toJsonNodeAnyway((String)options);
		    		List values = new ArrayList();
		    		List texts = new ArrayList();
		    		if(node.isTextual()){
		    			String tvalues = ((TextNode)node).textValue();
		    			String[] avalues = StringUtil.split(tvalues, ",");
		    			for(String av:avalues){
		    				values.add(av.trim());
		    				texts.add(av.trim());
		    			}
		    		}else if(node.isArray()){
		    			ArrayNode anode = (ArrayNode)node;
		    			for(int i = 0; i < anode.size(); i++){
		    				JsonNode snode = anode.get(i);
		    				values.add(JSONUtil.getFieldValue(snode, valuefield));
		    				texts.add(JSONUtil.getFieldValue(snode, labelfield));
		    			}
		    		}
	    		}
	    		@for(int i = 0;i < values.size(); i++){
	    			@{
		    			String ovalue = StringUtil.getOrElse(values.get(i));
		    			String olabel = StringUtil.getOrElse(texts.get(i));
		    		}
		    		@if(mapVal.containsKey(ovalue)){
						<label style="width:@optionWidth"><input type="@checkType" class="icheck" name="@name" data-bv-placement="@popplace" value="@ovalue" checked="checked" @disabledStr @requiredStr/>@olabel</label>
		    		}else{
						<label style="width:@optionWidth"><input type="@checkType" class="icheck" name="@name" data-bv-placement="@popplace" value="@ovalue" @disabledStr @requiredStr/>@olabel</label>
		    		}
	    		}
	    	}else if(options instanceof List){
		    	@for(Object opt:(List)options){
		    		@{
		    			String ovalue = ""; 
		    			String olabel = "";
		    			try{
			    			ovalue = StringUtil.getOrElse(BeanUtils.getProperty(opt, valuefield));
			    			olabel = StringUtil.getOrElse(BeanUtils.getProperty(opt, labelfield));
		    			}catch(Exception ex){
		    			}
		    		}
		    		@if(mapVal.containsKey(ovalue)){
						<label style="width:@optionWidth"><input type="@checkType" class="icheck" name="@name" data-bv-placement="@popplace" value="@ovalue" checked="checked" @disabledStr @requiredStr/>@olabel</label>
		    		}else{
						<label style="width:@optionWidth"><input type="@checkType" class="icheck" name="@name" data-bv-placement="@popplace" value="@ovalue" @disabledStr @requiredStr/>@olabel</label>
		    		}
		    	}
	    	}
	    	<script>
	    		$(function(){
	    			$("input[name='@name']").icheck({
		    				checkboxClass: 'icheckbox_square-' + CHECK_THEME,
    						radioClass: 'iradio_square-' + CHECK_THEME
		    			});
	    		});
	    	</script>
	    } else if(durl != null && durl != ""){
	    	@{
	    		StringBuffer sb = new StringBuffer();
	    		if(vals != null){
		    		for(Object o : vals){
		    			sb.append(",").append(o);
		    		}
		    		sb.append(",");
	    		}else{
	    			sb.append(",,");
	    		}
	    		String strVal = sb.toString();
	    	}
	    	<script>
	    	$(function(){
		    	$.ajax("@url(durl)",{
		    		success:function(data, textStatus){
		    			var aryHtml = [];
		    			var val = "@strVal";
		    			for(var item =0; item <data.length; item++){
		    				var checked = "";
		    				if(val.indexOf("," + data[item].@valuefield+ ",") > -1){
		    					checked = "checked=\"checked\"";
		    				}
		    				aryHtml.push('<label style="width:@optionWidth"><input type="@checkType" class="icheck" name="@name" data-bv-placement="@popplace" value="' + data[item].@valuefield + '" ' + checked + ' @disabledStr @requiredStr/>' + data[item].@labelfield + '</label>\n');
		    			}
		    			$("#div_@id").append(aryHtml.join(""));
		    			@if(required){
			    			$($("input[name='@name']")[0].form).bootstrapValidator('addField',"@name",{notEmpty:{}});
		    			}
		    			$("input[name='@name']").icheck({
		    				checkboxClass: 'icheckbox_square-' + CHECK_THEME,
    						radioClass: 'iradio_square-'+CHECK_THEME
		    			});
		    		}
		    	});
			});
	    	</script>
	    }
	    </div>
		@renderBody()
	}
}