@args String id = "", 
Boolean showlabel=true, 
String name="", 
String popplace="top", 
Object value, 
Boolean readonly = false,
Boolean disabled = false, 
String label = "", 
Boolean showrequired=true,
String pattern="", 
String patternmsg="", 
String placeholder = "", 
Boolean showplaceholder = true,
String htmlargs="", 
String type="hex", 
Boolean required=false, 
String css="", 
Boolean visible=true,
String groupcss = "col-4", 
String labelcss="",
String databvtrigger="data-bv-trigger=\"change focus blur\""
@if(visible){
	@{
		name = StringUtil.getOrElse(name, id);
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		if(!disabled && showplaceholder){
			placeholder = StringUtil.getOrElse(placeholder, MessageUtil.getMessage(MsgNames.MSG_PLEASE_INPUT) +  MessageUtil.getMessage(label));
		}
		
		final String sreadonly = StringUtil.nval(disabled || readonly, "readonly");
		final String spopplace = "data-bv-placement=" + popplace;
		final String spattern = StringUtil.nval(pattern,"pattern=" + pattern);
		final String spatternmsg = StringUtil.nval(patternmsg, "data-bv-regexp-message=" + patternmsg);
		final String srequired = StringUtil.nval(required,"required");
	}
	
	@group(label:label,required:required,css:groupcss,labelcss:labelcss,disabled:disabled,showrequired:showrequired,showlabel:showlabel){
		<div class="input-group colorpicker-component" id="@id-color" style="width:100%;">
		  <input type='text' id='@id' name='@name' class='form-control @css color-rythm' @spopplace maxlength="20" @sreadonly @spattern @spatternmsg @srequired data-bv-excluded="@disabled" value='@value' placeholder='@placeholder' @htmlargs.raw() @databvtrigger.raw()>
		  <span class="input-group-addon" style="background:none;border-top-right-radius:4px;border-bottom-right-radius:4px;width:36px;"><i style="background-color: @value"></i></span>
		  <script>
		  	$('#@id-color').colorpicker({
		  		format: '@type'
		  	});
		  </script>
		  @renderBody()
		</div>
	}
}