@import java.util.*;
@import com.cloudsoaring.web.common.utils.*;
@import com.fasterxml.jackson.databind.*;
@import com.fasterxml.jackson.databind.node.*;
@import org.apache.commons.beanutils.BeanUtils;

@args Boolean showlabel=true, 
Boolean disabled=false, 
String popplace="top", 
String labelfield="text", 
Boolean showempty=false, 
Boolean multiple=false, 
Boolean showrequired=true,
String url="", 
String id = "", 
String name="", 
String value="", 
String label = "", 
String placeholder = "",
Boolean showplaceholder = true, 
String htmlargs="", 
Boolean required=false, 
String css="", 
String groupcss = "col-4", 
String labelcss="",
Boolean visible=true
@if(visible){
@{
	id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
	name = StringUtil.getOrElse(name, id);
	final String durl = StringUtil.nval(url, "data-url=" + url(url));
	if(!disabled&&showplaceholder){
		placeholder = placeholder == null ? (MessageUtil.getMessage(MsgNames.MSG_SELECT_PLEASE) +  MessageUtil.getMessage(label)) : placeholder;
	}
	final String srequired = StringUtil.nval(required,"required");
	final String sdisabled = StringUtil.nval(disabled,"disabled");
}

@group(label:label,required:required,css:groupcss,showrequired:showrequired,labelcss:labelcss,disabled:disabled,showlabel:showlabel){
	<div data-toggle="combotree" class="combotree-rythm @css" id='@id' data-disabled="@disabled" data-empty=@showempty data-required="@srequired" data-multiple=@multiple data-name='@name' data-textname="@labelfield" data-popplace="@popplace" data-value="@value" @srequired data-placeholder="@placeholder" @durl @htmlargs>
	</div>
    <input type="text" style="cursor: pointer;" readonly @sdisabled data-bv-excluded="@disabled" class="form-control" @srequired data-bv-trigger="change" name="@labelfield" placeholder="@placeholder" data-bv-placement="@popplace" />
	<input type="hidden" name="@name" />
    <a @sdisabled style="width:39px;display: table-cell;border-top-left-radius: 0;padding-left:-1px;border-bottom-left-radius: 0;border-left:0px" id="drop_@id" class="btn btn-default fa fa-caret-down combotree-rythm-down" > </a>
	@renderBody()
	<script>
		$(function(){
			$('#@id').bootstrapCombotree();
		})
	</script>
}
}