@import java.util.*;
@import com.cloudsoaring.web.common.utils.*;
@import com.fasterxml.jackson.databind.*;
@import com.fasterxml.jackson.databind.node.*;
@import org.apache.commons.beanutils.BeanUtils;

@args Object options, 
Boolean showlabel=true, 
Boolean disabled=false, 
String popplace="top", 
String labelfield="text", 
String valuefield="value", 
String emptytext="",
Boolean showrequired=true,
Boolean showempty=true, 
Boolean multiple=false, 
String url="", 
String id = "", 
String name="", 
String value="",
String lazyValue="", 
String label = "", 
String placeholder = "",
Boolean showplaceholder = true, 
String htmlargs="", 
Boolean required=false, 
String css="", 
String groupcss = "col-4", 
String labelcss="",
Boolean visible=true,
String width="100%",
String onChange
@if(visible){
	@{
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		name = StringUtil.getOrElse(name, id);
		final String durl = StringUtil.nval(url, "data-url=" + url(url));
		final String dvalue = StringUtil.nval(url,"data-value=" + getOrElse(value));
		if(!disabled&&showplaceholder){
			placeholder = placeholder == null ? (MessageUtil.getMessage(MsgNames.MSG_SELECT_PLEASE) +  MessageUtil.getMessage(label)) : placeholder;
		}
		final String srequired = StringUtil.nval(required,"data-bv-notempty=true");
		final String smultiple = StringUtil.nval(multiple,"multiple");
		final String cmpValue = "," + value + ",";
		final String sdisabled = StringUtil.nval(disabled,"disabled");
	}
	
	@group(label:label,required:required,css:groupcss,showrequired:showrequired,labelcss:labelcss,disabled:disabled,showlabel:showlabel){
		<select class="selectpicker combobox-rythm" @sdisabled data-bv-excluded="@disabled" data-bv-placement="@popplace" id="@id" data-bv-trigger="change" name="@name" class="@css" @smultiple title="@placeholder" data-width=@width data-showempty="@showempty" data-emptytext="@emptytext" data-labelfield="@labelfield" @srequired data-valuefield="@valuefield" @durl  @dvalue  @htmlargs>
		    @if(options != null){
		    	@if(options instanceof String && options.toString() != ""){
		    		@{
			    		JsonNode node = JSONUtil.toJsonNodeAnyway((String)options);
			    		List values = new ArrayList();
			    		List texts = new ArrayList();
			    		if(node.isTextual()){
			    			String tvalues = ((TextNode)node).textValue();
			    			String[] avalues = StringUtil.split(tvalues, ",");
			    			if(!multiple &&(tvalues.startsWith(",") || showempty)){
			    				values.add("");
			    				texts.add(emptytext);
			    			}
			    			for(String av:avalues){
			    				values.add(av.trim());
			    				texts.add(av.trim());
			    			}
			    		}else if(node.isArray()){
			    			ArrayNode anode = (ArrayNode)node;
			    			if(!multiple && showempty){
			    				values.add("");
			    				texts.add(emptytext);
			    			}
			    			for(int i = 0; i < anode.size(); i++){
			    				JsonNode snode = anode.get(i);
			    				values.add(JSONUtil.getFieldValue(snode, valuefield));
			    				texts.add(JSONUtil.getFieldValue(snode, labelfield));
			    			}
			    		}
		    		}
		    		@for(int i = 0;i < values.size(); i++){
		    			@{
			    			String ovalue = StringUtil.getOrElse(values.get(i));
			    			String olabel = StringUtil.getOrElse(texts.get(i));
			    		}
			    		@if(cmpValue.indexOf(ovalue) > 0){
			    			<option value="@ovalue" selected>@olabel</option>
			    		}else{
			    			<option value="@ovalue">@olabel</option>
			    		}
		    		}
		    	}else if(options instanceof List){
		    		@if(!multiple && showempty){
		    			<option value="">@emptytext</option>
		    		}
			    	@for(Object opt:(List)options){
			    		@{
			    			String ovalue = ""; 
			    			String olabel = "";
			    			try{
				    			ovalue = StringUtil.getOrElse(BeanUtils.getProperty(opt, valuefield));
				    			olabel = StringUtil.getOrElse(BeanUtils.getProperty(opt, labelfield));
			    			}catch(Exception ex){
			    			}
			    		}
			    		@if(cmpValue.indexOf(ovalue) > 0){
			    			<option value="@ovalue" selected>@olabel</option>
			    		}else{
			    			<option value="@ovalue">@olabel</option>
			    		}
			    	}
		    	}
		    }
		 </select>
		<script>
		$(function(){
			$('#@id').selectpicker();
			@if(StringUtil.isNotEmpty(lazyValue)){
				setValue($('#@id'), '@lazyValue');
			}
			@if(StringUtil.isNotEmpty(onChange)){
			    $('#@(id)').selectpicker().on('change',function(){
			    	var value = $('#@(id)').selectpicker('val');
			      	@(onChange)(value, '@(id)');
			    });
			}
		});
		</script>
		@renderBody()
	}
}