@args String id = "", 
Boolean showlabel=true, 
Boolean disabled=false, 
String name="", 
String popplace="top", 
Boolean showrequired=true,
String format=getDateFormatDefualt(), 
Boolean onlydate=true, 
Boolean readonly=false,
Object value, 
String label = "", 
String placeholder = "",
Boolean showplaceholder = true, 
String htmlargs="", 
Boolean required=false, 
String css="", 
String groupcss = "col-4", 
String labelcss="",
Integer todayBtn = 1,
Integer startView = 2,
String fullMonthFromId = "",
Boolean showbutton=true,
String pickerPosition = "bottom-left",
Boolean visible = true,
Object startdate = null,
Object enddate = null,
String minView = "0"

@if(visible){
	@{
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		name = StringUtil.getOrElse(name, id);
		if(!disabled&&showplaceholder){
			placeholder = placeholder == null ? (MessageUtil.getMessage(MsgNames.MSG_SELECT_PLEASE) +  MessageUtil.getMessage(label)) : placeholder;
		}
		final String srequired = StringUtil.nval(required,"required=true");
		final String sreadonly = StringUtil.nval(disabled || readonly,"readonly");
		final String sdiabled = StringUtil.nval(disabled,"disabled");
		final String sdisclass = StringUtil.nval(disabled,"date-disabled");
		String svalue = "";
		if(getDateFormatDefualt().equals(format) && !onlydate){
			format = getDateMinuteFormatDefualt();
		}
		if(value != null && value instanceof Date){
			svalue = DateUtil.formatAny((Date)value, format);
		}else{
			svalue = StringUtil.getOrElse(value);
		}
		final String maxlength = getOrElse(format.length(),"19");
		final String ssvalue = svalue;
 		final String showbtn = nval(!showbutton, "style=display:none;");
 		final String sstartdate = (startdate != null && startdate instanceof Date) ? DateUtil.formatAny((Date)startdate, format) : getOrElse(startdate);
 		final String senddate = (enddate != null && enddate instanceof Date) ? DateUtil.formatAny((Date)enddate, format) : getOrElse(enddate);
 		final String sformat = DateUtil.changeFormatForScript(format);
	}
	@group(label:label,required:required,css:groupcss,labelcss:labelcss,showrequired:showrequired,disabled:disabled,showlabel:showlabel){
		@if(showbutton){
			<div class="input-group date form_datetime date-rythm datetime-rythm" id="@id" style="width:100%" data-readonly="@readonly" data-date-enddate="@senddate" data-date-startdate="@sstartdate" data-fullmonth-fromid="@fullMonthFromId" data-disabled="@disabled" data-date-force-parse="1" data-only-date="@onlydate" data-start-view="@startView" data-date-today-highlight="1" data-date-autoclose="1" data-date-today-btn="@todayBtn" data-date-weekstart="1" data-show-meridian="false" data-date-language="zh" data-date-format="@sformat" data-picker-position="@pickerPosition" data-min-view="@minView">
		    	<input type='text' maxlength='@maxlength' @sreadonly data-bv-excluded="@disabled" data-bv-trigger="change focus blur" data-bv-placement="@popplace" name='@name' class='form-control date-rythm @css @sdisclass' @srequired value="@ssvalue" placeholder='@placeholder' @htmlargs.raw()>
	<!-- 		<span class="input-group-addon" sreadonly><span class="glyphicon glyphicon-remove"></span></span> -->
				<span class="input-group-addon" @sdiabled>
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>  
		}else{
			<input type='text' id="@id" maxlength='@maxlength' @sreadonly data-bv-excluded="@disabled" data-readonly="@readonly" data-date-enddate="@senddate" data-date-startdate="@sstartdate" data-fullmonth-fromid="@fullMonthFromId" data-disabled="@disabled" data-date-force-parse="1" data-only-date="@onlydate" data-start-view="@startView" data-date-today-highlight="1"  data-date-autoclose="1" data-date-today-btn="@todayBtn" data-date-weekstart="1" data-show-meridian="false" data-date-language="zh" data-date-format="@sformat" data-picker-position="@pickerPosition" data-bv-trigger="change focus blur" data-bv-placement="@popplace" name='@name' class='form-control datetime-input-rythm @css @sdisclass' @srequired value="@ssvalue" placeholder='@placeholder' @htmlargs.raw() data-min-view="@minView">
		}
		<script>
		$(function() {
		    $('#@id').datetimepicker();
		});
		</script>
		@renderBody()
	}
}