@args String id = "", 
String popplace="top", 
String maxFileSize="", 
Boolean disabled = false, 
String name="", 
String placeholder = "",
String key="", 
Boolean showrequired=true,
Boolean required = false, 
Boolean downloaddisabled=false, 
String fileid="", 
String filename="", 
String fileextion="txt,doc,docx,xls,xlsx",
String label = MessageUtil.getMessage(MsgNames.MSG_FILE_ATTACH), 
String css="",
Boolean viewmode = false, 
String groupcss="col-12", 
Boolean visible=true,
Boolean showlabel=true,
String labelcss=""
@if(visible){
	@{
		name = StringUtil.getOrElse(name, id);
		//key = StringUtil.getOrElse(key, name);
		maxFileSize = ConfigUtil.getProperty("file.upload.limit", "100*1024");
		if(!disabled){
			placeholder = StringUtil.getOrElse(placeholder, MessageUtil.getMessage(MsgNames.MSG_SELECT_PLEASE) + MessageUtil.getMessage(label));
		}
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		final String sdisabled = StringUtil.nval(disabled,"disabled");
		final String sdownloaddisabled = StringUtil.nval(downloaddisabled,"download-disabled=true");
		final String fileIdName2 = name + "_fileId";
		final String deleteName2 = name + "_delete";
		final String labelName = name + "_label";
		final String maxfileSizeName = name + "_maxFileSize";
		final String fileExtion = name + "_fileExtion";
		final String fileIdName = StringUtil.nval(key,key + ".fileId","fileId");
		final String deleteName = StringUtil.nval(key,key + ".delete","delete");
		String[] exts = StringUtil.split(StringUtil.remove(fileextion,' '), ",");
		StringBuffer sbext = new StringBuffer();
		for(String ext:exts){
			if(StringUtil.isNotEmpty(ext)){
				sbext.append(",'").append(ext).append("'");
			}
		}
		String ssext = sbext.toString();
		if(StringUtil.isNotEmpty(ssext)){
			ssext = sbext.substring(1);
		}
		final String sext = ssext;
	}
	
	@group(label:label,required:required,css:groupcss,labelcss:labelcss,showrequired:showrequired,disabled:false,showlabel:showlabel){
		@if(viewmode){
			@link(popplace:popplace, value:filename, href:(downloaddisabled ? "":("/file/download.action?fileId=" + fileid)),target:"blank")
		}else{
			<input type="hidden" name="@fileIdName" value="@fileid"/>
			<input type="hidden" name="@deleteName" value="false"/>
			<input type="hidden" name="@fileIdName2" value="@fileid"/>
			<input type="hidden" name="@deleteName2" value="false"/>
			<input type="hidden" name="@labelName" value="@label"/>
			<input type="hidden" name="@maxfileSizeName" value="@maxFileSize"/>
			<input type="hidden" name="@fileExtion" value="@fileextion"/>
			<input id="@id" name="@name" type="file" @sdisabled @sdownloaddisabled class="file-rythm">
			<script>
			$(function(){
				//文件初始化
				  $("#@id").fileinput({
					required:@required,
					msgRequired:'@MessageUtil.getMessage(MsgNames.MSG_WARNING_SELECT_MUST)',
					maxFileSize:@maxFileSize,
					key:'@key',
					name:'@name',
					placeholder:'@placeholder',
					popplace:'@popplace',
					initialCaption: '@filename' !=  '' ? '@filename' :'@placeholder',
					showDownloadReset:true,
					downloadUrlBase:'@url("/file/download.action?fileId=")',
					fileId:'@fileid',
			        allowedFileExtensions: [@sext.raw()]
				});
			});
			</script>
		}
		@renderBody()
	}
}