@args String id = "", 
String popplace="top", 
String maxFileSize="", 
Boolean disabled = false, 
String name="", 
String placeholder = "",
String type=Constants.FILE_TYPE_ATTACHMENT, 
Boolean showrequired=true,
Boolean required = false, 
Boolean downloaddisabled=false, 
String[] fileids,
String[] filenames, 
String fileextion="txt,doc,docx,xls,xlsx",
String label = MessageUtil.getMessage(MsgNames.MSG_FILE_ATTACH), 
String css="",
Boolean viewmode = false, 
String groupcss="col-12", 
Boolean visible=true,
Boolean showlabel=true,
String labelcss="",
int maxfiles=1,
int displayHeight = 600,
int displayWidth = 900,
@{
	final String fileFormId = IDGenerator.genDomID();
}

@if(visible){
	@{
		name = StringUtil.getOrElse(name, id);
		//key = StringUtil.getOrElse(key, name);
		maxFileSize = ConfigUtil.getProperty("file.upload.limit", "100*1024");
		if(!disabled){
			placeholder = StringUtil.getOrElse(placeholder, MessageUtil.getMessage(MsgNames.MSG_SELECT_PLEASE) + MessageUtil.getMessage(label));
		}
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		final String sdisabled = StringUtil.nval(disabled,"disabled");
		final String sdownloaddisabled = StringUtil.nval(downloaddisabled,"download-disabled=true");
		final String labelName = name + "_label";
		final String maxfileSizeName = name + "_maxFileSize";
		final String fileExtion = name + "_fileExtion";
		final String value = fileids != null? StringUtil.join(fileids,","):"";
		final String names = filenames != null? StringUtil.join(filenames,","):"";
		String[] exts = StringUtil.split(StringUtil.remove(fileextion,' '), ",");
		StringBuffer sbext = new StringBuffer();
		for(String ext:exts){
			if(StringUtil.isNotEmpty(ext)){
				sbext.append(",'").append(ext).append("'");
			}
		}
		final String sext = StringUtil.nval(sbext.toString(), sbext.substring(1));
	}
	
	@def fileThumb(String fileId, String fileName, String fileFormId){
		@{
			final String sfileId = StringUtil.isEmpty(fileId) ? "%fileId" : fileId;
			final String sfileName = StringUtil.isEmpty(fileName) ? "%fileName" : fileName;
			final String sfileIcon = StringUtil.isEmpty(fileName) ? "%fileIcon" :WebHelper.getFileIconByFileName(fileName);
		}
		<div id="@sfileId" class="file-preview-frame" data-fileindex="0" title="@sfileName" style="width:100px;height:100px;cursor: auto; margin-right: 5px !important;margin-top: 3px !important;">
			@if(!viewmode){
				<div class="close fileinput-remove" onclick="deleteFile@(fileFormId)('@sfileId', '@type');return false;"></div>
			}
		    <div class="file-preview-other-frame" @if(!downloaddisabled){onclick="playFile('@sfileId', '@sfileName', '@type', getImageFileIds('@name').split(','))"} style="cursor: pointer;">
			    <div class="file-preview-other" style="padding-top: 28px;">
			   		<span class="file-icon-4x"><i id="icon" class="@sfileIcon"></i></span>
			    </div>   
		    </div>
		    <div class="file-preview-other-footer" @if(!downloaddisabled){onclick="downloadFile@(fileFormId)('@sfileId', '@type')"} style="cursor: pointer;">
		   		<div class="file-thumbnail-footer">
		        	<div class="file-footer-caption" title="@sfileName" style="width:100px;color: #4fc1e9;"><a href='@url("/file/download.action")?fileId=@(sfileId)&fileType=@type' target='_blank'>@sfileName</a></div>
		    	</div>
	    	</div>
	    </div>
	}
	
	@group(label:label,required:required,css:groupcss,labelcss:labelcss,showrequired:showrequired,disabled:false,showlabel:showlabel){
		@if(!viewmode){
			<sform id="@fileFormId">
<!-- 				<input type="hidden" name="@labelName" value="@label"/> -->
<!-- 				<input type="hidden" name="@maxfileSizeName" value="@maxFileSize"/> -->
<!-- 				<input type="hidden" name="@fileExtion" value="@fileextion"/> -->
<!-- 				<input type="hidden" name="fileType" value="@type"/> -->
<!-- 				<input type="hidden" name="fileInputName" value="@(name)_files"/> -->
				<div tabindex="500" class="btn btn-normal btn-file">
					<i class="glyphicon glyphicon-folder-open"></i>&nbsp; <span class="hidden-xs" id="@(name)_browser">Browse …</span>
					<input id="@(id)_files" name="@(name)_files" type="file" @sdisabled @sdownloaddisabled/>
					<input id="@id" name="@(name)" type="hidden" value="@value" class="files-rythm"/>
					<input id="@(id)_fileNames" name="@(name)_fileNames" type="hidden" value="@names"/>
				</div>
			</sform>
		}
			<div class="file-preview" style="margin-top: 5px;min-height: 142px;">
				<div id="@(name)_file_preview" class="file-preview-thumbnails">
				@if(fileids != null && fileids.length > 0){
					@for(int i = 0; i < fileids.length; i++){
						@fileThumb(fileids[i], filenames[i], fileFormId)
					}
				}
				</div>
				<div class="clearfix"></div>
			</div>
			<script>
				function changeFile@(fileFormId)(){
					if($('#@(id)_files').val()){
						//自动提交文件
						var params = new FormData();
						params.append("@(name)_files", $("#@(name)_files")[0].files[0]);
						params.append("@labelName", "@label");
						params.append("@maxfileSizeName", "@maxFileSize");
						params.append("@fileExtion", "@fileextion");
						params.append("fileType", "@type");
						params.append("fileInputName", "@(name)_files");
				        ajax({ 
					        url: "@url("/file/upload.action")",
					        data:params,
					        type:"post", 
					        bodyMsg:true,
					        mask:true,
					        /** 
				             *必须false才会自动加上正确的Content-Type 
				             */
					        contentType:false,  
				            /** 
				             * 必须false才会避开jQuery对 formdata 的默认处理 
				             * XMLHttpRequest会对 formdata 进行正确的处理 
				             */  
				            processData:false,  
					        success: function(result){
				              //刷新文件上传控件
				              if(result.data){
				              	//添加文件
				              	var fileIcon = getFileIcon(result.data.fileName);
				              	$('#@(name)_file_preview').append(
				              		'@es(fileThumb(null, null, fileFormId)).raw()'.replace(/%fileId/g, result.data.fileId).replace(/%fileName/g, result.data.fileName).replace(/%fileIcon/g, fileIcon)
				              	);
				              	var file = $("#@(id)_files");
				              	file.off("change");
				              	file.after(file.clone().val("").on("change", changeFile@(fileFormId))); 
				              	file.remove(); 
				              	$("#@id").val(getFileIds("@name"));
				              	$("#@(id)_fileNames").val(getFileNames("@name"));
				              }
				            }
				        });
					}
				}
			    $(function(){$('#@(name)_browser').html(i18n_Common_viewing);});
				$('#@(id)_files').on("change", changeFile@(fileFormId));
				
				function deleteFile@(fileFormId)(fileId, fileType){
					confirm("@message("confirm.delete.file")", function(){
						ajax({ 
					        url: "@url("/file/delete.action")",
					        data:{fileId:fileId, fileType:fileType},
					        type:"post", 
					        bodyMsg:true,
					        mask:true,
					        success: function(result){
				              //刷新文件上传控件
				              $('#'+fileId).remove();
				              $("#@id").val(getFileIds("@name"));
				              $("#@(id)_fileNames").val(getFileNames("@name"));
				            }
				        });
					});
				}
			</script>
		}
		@renderBody()
}