@args String id = "", 
String name="", 
String fromid="",
String fromname="",
String toid="",
String toname="",
String precision = "9", 
String scale = "0", 
String maxlength="", 
String minlength="",
String min="", 
String max="",
String type="number",
Boolean showlabel=true, 
Boolean disabled=false, 
Boolean fromdisabled=false,
Boolean todisabled=false,
String popplace="top", 
String format=getDateFormatDefualt(), 
Boolean onlydate=true, 
Boolean readonly=false,
Object fromvalue, 
Object tovalue, 
String label = "", 
String tolabel="",
String placeholder = "",
Boolean showplaceholder = true, 
String htmlargs="", 
Boolean required=false,
Boolean fromrequired=false,
Boolean torequired=false,
String css="", 
String groupcss = "col-4", 
String labelcss="",
Boolean showrequired=true,
Boolean validation = false,
Boolean visible = true

@if(visible){
	@{
		boolean hasfromid = isNotEmpty(fromid);
		fromid = getOrElse(getOrElse(fromid, fromname), getOrElse(id,name) + "From");
		fromname = getOrElse(getOrElse(fromname, nval(hasfromid, fromid)), getOrElse(name,id) + "Start");
		
		boolean hastoid = isNotEmpty(toid);
		toid = getOrElse(getOrElse(toid, toname), getOrElse(id,name) + "To");
		toname = getOrElse(getOrElse(toname, nval(hastoid, toid)), getOrElse(name,id) + "End");
		
		final boolean obin = StringUtil.isEmpty(tolabel);
		
		final String fromlabel = nval(obin, MessageUtil.getMessage(MsgNames.MSG_MAX)+label, label);
		tolabel = nval(obin, MessageUtil.getMessage(MsgNames.MSG_MIN)+label, tolabel);
		
		final String fplacehoder = nval(!disabled &&  obin,fromlabel);
		final String tplacehoder = nval(!disabled &&  obin,tolabel);
		
		fromrequired = required||fromrequired;
		torequired = required||torequired;
		fromdisabled = disabled || fromdisabled;
		todisabled = disabled || todisabled;
		
		final String fgpcss = obin ? "fcol-6 no-mp-group p-right-10 f-obin" : groupcss;
		
		final String tgpcss = obin ? "fcol-6 no-mp-group p-left-10 t-obin" : groupcss;
		
		final String vfunname = "v" + System.currentTimeMillis();
		
		final String fhtml = nval(!disabled && validation, " data-bv-callback=\"true\" data-bv-callback-callback=\"from" + vfunname + "\" " + htmlargs);
		final String thtml = nval(!disabled && validation, " data-bv-callback=\"true\" data-bv-callback-callback=\"to" + vfunname + "\" " + htmlargs);
	}
	
	@assign("ftBody"){
		@input(
			showlabel:(!obin), 
			id:fromid,
			type:type,
			name:fromname, 
			disabled:disabled, 
			popplace:popplace, 
			min:min,
			max:max,
			precision:precision,
			scale:scale,
			minlength:minlength,
			maxlength:maxlength,
			value:fromvalue, 
			label:fromlabel, 
			placeholder:fplacehoder,
			showplaceholder:showplaceholder, 
			htmlargs:fhtml, 
			required:fromrequired, 
			css:css, 
			groupcss:fgpcss, 
			labelcss:labelcss,
			showrequired:(!obin)
		){
			@if(obin){
				<span class="ft-splitor">-</span>
			}
		}
		@input(
			showlabel:(!obin),
			id:toid, 
			type:type,
			name:toname, 
			disabled:disabled, 
			popplace:popplace, 
			min:min,
			max:max,
			precision:precision,
			scale:scale,
			minlength:minlength,
			maxlength:maxlength,
			value:tovalue,
			label:tolabel, 
			placeholder:tplacehoder, 
			showplaceholder:showplaceholder,
			htmlargs:thtml, 
			required:torequired, 
			css:css, 
			groupcss:tgpcss, 
			labelcss:"",
			showrequired:(!obin)
		)
	}
	
	@{final String ftInputBody = ftBody.toString();}
	
	@if(obin){	
		@group(label:label,showlabel:showlabel,labelcss:labelcss,css:groupcss,showrequired:showrequired){
			@ftInputBody.raw()
		}
	}else{
		@ftInputBody.raw()
	}
	
	<script>
		function to@(vfunname)(value, validator, $field){
			var from = getValueAny('@fromid'),to = getValueAny('@toid');
			if(from == '' || to == ''){
				return {valid:true};
			}
			var fromNum = Number(from), toNum = Number(to);
			if(isNaN(fromNum) || isNaN(toNum)){
				return {valid:true};
			}
			if(fromNum > toNum){
				return {
					valid: false,
					message:'@(tolabel + MessageUtil.getMessage(MsgNames.MSG_WARNING_DATE_GREATER) + fromlabel)'
				};
			}else {
				return { valid: true };
			}
		}
		
		function from@(vfunname)(value, validator, $field){
			var from = getValueAny('@fromid'),to = getValueAny('@toid');
			if(from == '' || to == ''){
				return {valid:true};
			}
			var fromNum = Number(from), toNum = Number(to);
			if(isNaN(fromNum) || isNaN(toNum)){
				return {valid:true};
			}
			if(fromNum > toNum){
				return {
					valid: false,
					message:'@(fromlabel + MessageUtil.getMessage(MsgNames.MSG_WARNING_DATE_LESS) + tolabel)'
				};
			}else {
				return { valid: true };
			}
		}
		
		$(function(){
			if(@validation){
				$('input[name=@fromname]').change(function(){
					$(this.form).bootstrapValidator('revalidateField', '@toname');
				});
				$('input[name=@toname]').change(function(){
					$($(this)[0].form).bootstrapValidator('revalidateField', '@fromname');
				});
			}
		});
	</script>
}