@args String id="", String name = "",
Boolean disabled=false,
Boolean required=false,
Boolean showrequired = true,
Boolean showlabel = true,
String labelcss="",
String key = "",
String rate = "1:1", 
String label="", 
String previewCss="",
String fileid = "",
String url = "",
String maxFileSize="", 
Boolean visible=true
@if(visible){
	@{
		maxFileSize = ConfigUtil.getProperty("file.upload.limit", "100*1024");
		Map<String, int[]> sizes = new HashMap<String, int[]>();
		sizes.put("16:9", new int[]{208,117,104,50,50,63,240});
		sizes.put("4:3", new int[]{200,150,100,75,60,86,225});
		sizes.put("1:1", new int[]{200,200,100,100,80,117,220});
		int[] s = sizes.get(rate);
		final int width = s[0];
		final int height = s[1];
		final int previewWidth = s[2];
		final int previewHeight = s[3];
		final int round = s[4];
		final int roundTop = s[5];
		final int roundLeft = s[6];
		final String surl = WebContext.url(StringUtil.getOrElse(url,"/pub/headerThumb.action") + "?r=" + IDGenerator.genDomID() + "&fileId=" + fileid);
		final String sdisabled = StringUtil.nval(disabled, "disabled");
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name),IDGenerator.genDomID());
		name = StringUtil.getOrElse(name, id);
		final String fileIdName2 = name + "_fileId";
		final String fileIdName = StringUtil.nval(key,key + ".fileId","fileId");
		final String deleteName = StringUtil.nval(key,key + ".delete","delete");
		final String deleteName2 = name + "_delete";
		final String labelName = name + "_label";
		final String maxfileSizeName = StringUtil.nval(key,key + "_maxFileSize","_maxFileSize");
	}
	@groupinstitution(label:label,required:required,css:"fcol-12",labelcss:labelcss,disabled:disabled,showrequired:showrequired,showlabel:showlabel){
		<div class="imgcrop-container" style="height:@(height + 50)px">
			<div class="btn btn-default file-rythm-browser btn-file" style="margin-bottom: 10px;"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;@message("txt.browser") … <input accept="image/png,image/gif,image/jpeg,image/bmp" name="@name" id="@id" type="file" class="imgcrop-file"></div>
			<div id="imgcrop_@id" class="imgcrop-rythm" style="width:@(width+14)px;height:@(height+14)px;">
				 <input type="hidden" name="@(name)_x" id="@(id)_x"/>
				 <input type="hidden" name="@(name)_y" id="@(id)_y"/>
				 <input type="hidden" name="@(name)_width" id="@(id)_w"/>
				 <input type="hidden" name="@(name)_height" id="@(id)_h"/>
				 <input type="hidden" name="@deleteName" value="false"/>
				 <input type="hidden" name="@deleteName2" value="false"/>
				 <input type="hidden" name="@fileIdName" value="@fileid"/>
				 <input type="hidden" name="@fileIdName2" value="@fileid"/>
				 <input type="hidden" name="@labelName" value="@label"/>
				 <input type="hidden" name="@maxfileSizeName" value="@maxFileSize"/>
				 <img src="@surl" id="img_@id" style="max-width:@(width)px;max-height:@(height)px;"/>
			</div>
	     </div>
     }
     <script>
     	var jc_@id;
     	$(function($){
     		var bx_@id,by_@id;
     		var $pv_@id = $('#pp_@id'), $r_@id = $('#r_@id'), $pcnt_@id = $('#pp_@id .preview-container'), $pimg_@id = $('#prv_@id'),$rimg_@(id)=$('#pr_@id');
     		var xs_@id = @(previewWidth), ys_@id = @(previewHeight);
     		var src_w@id,src_h@id;
     		function chgjc_@(id)(c){
     			 if (toNumber(c.w) > 0) {
     			      var rx = xs_@id / c.w;
     			      var ry = ys_@id / c.h;

     			 }	
     		}
     		
     		function setImageSize_@(id)(imgSrc, init){
     		   $('#img_@id').attr('src',  imgSrc);
     		   if(!init){
     			   $pimg_@(id).css('display',  '');
		           $rimg_@(id).css('display',  '');
		           $pimg_@(id).attr('src',  imgSrc);
		           $rimg_@(id).attr('src', imgSrc);
	   			  /*  $('#imgcrop_@id .jcrop-holder img').attr('src',  imgSrc); */
	     		   var img = new Image();
	     		   img.onload = function(){
	     		   	   src_w@id = img.width;
		               src_h@id = img.height;
		               var rate = @width /@height;
		               var rr = img.width / img.height;
		               //按宽度来算高度
		               var width = @width;
		               var height = @height;
		               var hh = Math.round(@(width)*img.height/img.width);
		               if(hh > @height){
		            	   width = Math.round(@(height)*rr);
		               }else{
		            	   height = hh;
		               }
		               $('#img_@id').width(width);
		               $('#img_@id').height(height);
		         /*       var i = $('#img_@id,#imgcrop_@id .jcrop-holder img');
		               i.css({width:width,height:height}); */
		               var twidth = width;
		               var theight = height;
		               var tr = @(height)/@(width);
		               var ttr = @(width)/@(height);
		               var thh = Math.round(tr*width);
		               if(thh > theight){
		            	   twidth = Math.round(theight*ttr);
		               }else{
		            	   theight = thh;
		               }
					   //var t = $('#imgcrop_@id .jcrop-holder>.jcrop-tracker');
		               //t.css({width:twidth,height:theight});
		               if(jc_@(id)){
		               	 jc_@(id).destroy();
		               }
		               bx_@id = width;
		 			   by_@id = height;
		 			   //initjc_@(id)([twidth,theight],width, height, init);
	     		   };
	               img.src = imgSrc;
     		   }else{
     			  $('#img_@id').width('100%');
	              $('#img_@id').height('100%');
	              $pimg_@(id).css('display',  'none');
		          $rimg_@(id).css('display',  'none');
     		   }
     		}
     		
			function clsjc_@(id)(){
				//$('#@(id)_x').val("");
    			//$('#@(id)_y').val("");
    			//$('#@(id)_w').val("");
    			//$('#@(id)_h').val("");
     		}
			function initjc_@(id)(maxSize, width, height, init){
	     		$('#img_@id').Jcrop({
	  			    onChange: chgjc_@id,
	  			    onSelect: chgjc_@id,
	  			    onRelease: clsjc_@id,
	  			  	bgColor:'#FFFFFF',
	  			  	boxWidth:width,
	  			  	boxHeight:height,
	  			  	maxSize:maxSize,
	  			  	aspectRatio: @width /@height
	  			 }, function(){
	  				jc_@id = this;
	  				var bounds = this.getBounds();
	  				if(!init){
	  					this.animateTo([0,0,maxSize[0],maxSize[1]]);
	  				}
	  				bx_@id = bounds[0];
	  				by_@id = bounds[1];
	  			    $pv_@(id).appendTo(jc_@(id).ui.holder);
	  			    $r_@(id).appendTo(jc_@(id).ui.holder);
	  			 });
			}
     		$('#@id').on("change", function(evt){
     			 if (!window.FileReader) return;
     			 var files = evt.target.files;
     		     for (var i = 0, f; f = files[i]; i++) {
     		        if (!f.type.match('image.*')) {
     		            continue;
     		        }
     		        var reader = new FileReader();
     		        reader.onload = (function(theFile) {
     		            return function(e) {
     		                // img 元素
     		               setImageSize_@(id)(e.target.result, false);
     		            };
     		        })(f);
     		        reader.readAsDataURL(f);
     		    }
     		});
     		setImageSize_@(id)('@surl', true);
     	});
     </script>
	@renderBody()
}