@args String id = "",
Boolean showlabel=true, 
String name="", 
String popplace="top",
Boolean disabled = false,
Boolean readonly = false,
String value="",
String label = MessageUtil.getMessage(MsgNames.MSG_MERCHANT_NO),
String minlength="",
String maxlength="",
String pattern="",
String placeholder = "",
Boolean required=false,
String css="",
String groupcss = "col-4",
String labelcss="",
String paramFun="",
String resultFun="",
Boolean visible = true
@if(visible){
	@{
		name = StringUtil.getOrElse(name, id);
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
	}
	@input_select({
		id:id,
		name:name,
		value:value,
		popplace:popplace,
		label:label,
		minlength:minlength,
		maxlength:maxlength,
		pattern:pattern,
		placeholder:placeholder,
		disabled:disabled,
		readonly:readonly,
		type:"text",
		showlabel:showlabel,
		required:required,
		css:css,
		groupcss:groupcss,
		labelcss:labelcss,
		onclick:"selectMerchantCodeDialog"
	})
	
	@assign("selectMerchantwin"){
		<style>
			.merchant-dialog .modal-dialog{
				width : 800px;
			}
		</style>
		<script>
			// 查询参数
			function buildMerchantParam(params){
				return $.extend(params,{
					merchantCode:$('#merchantCode_@id').val(),
					merchantName:$('#merchantName_@id').val()
				});
			}
			// 查询
			function queryMerchantList(){
				$('#merchantResult_@id').bootstrapTable('refresh');
			}
			// 选择商户的同时关闭对话框
			function selectMerchant(row){
				if(typeof(merchantDialog) == 'object'){
					merchantDialog.close();
				}else if(typeof(frames['frame-' + '@(request.getParameter("POP_ID"))'].merchantDialog) == 'object'){
					frames['frame-' + '@(request.getParameter("POP_ID"))'].merchantDialog.close();
				}
				if(domExsit('@id')){
					changeMerchantCodeValue(row.merchantCode);
				}else{
					frames['frame-' + '@(request.getParameter("POP_ID"))'].changeMerchantCodeValue(row.merchantCode);
				}
				
				@if(isNotEmpty(resultFun)){
					if(typeof(@resultFun) == 'function'){
						@(resultFun)(row);
					}else if(typeof(frames['frame-' + '@(request.getParameter("POP_ID"))'].@(resultFun)) == 'function'){ 
						frames['frame-' + '@(request.getParameter("POP_ID"))'].@(resultFun)(row);
					}
				}
			}
			// 初始化查询参数
			function initMerchantwin(){
				@if(isNotEmpty(paramFun)){
					var param = null;
					if(typeof(@paramFun) == 'function'){
						param = @(paramFun)();
					}else if(typeof(frames['frame-' + '@(request.getParameter("POP_ID"))'].@(paramFun)) == 'function'){
						param = frames['frame-' + '@(request.getParameter("POP_ID"))'].@(paramFun)();
					}
					if(param){
						//根据参数设值
					}
				}
			}
			
			initMerchantwin();
		</script>
			@form(name:StringUtil.build("merchantCondition",id)){
				@input(label:MessageUtil.getMessage(MsgNames.MSG_MERCHANT_NO),name:StringUtil.build("merchantCode_",id), groupcss:"fcol-5")
				@input(label:MessageUtil.getMessage(MsgNames.MSG_MERCHANT_NAME),name:StringUtil.build("merchantName_",id), groupcss:"fcol-5")
				@column(css:"fcol-2",align:"right",style:"padding-right:35px;"){
					@button_search(onclick:"queryMerchantList",enter:false)
				}
			}
			@table(
				id:StringUtil.build("merchantResult_",id)
				,height:400,onCheck:"selectMerchant"
				,queryParamFunction:"buildMerchantParam"
				,url:"/common/getMerchantList4Page.action"
				,showColumns:false,singleSelect:true
				,clickToSelect:true){
					@columns(){
						{field: 'state',align:'center',radio:true},
						{field:'merchantCode',title:'@MessageUtil.getMessage(MsgNames.MSG_MERCHANT_MEMBER_NO)'},
						{field:'merchantName',title:'@MessageUtil.getMessage(MsgNames.MSG_MERCHANT_NAME)'}
					}
			}
	}
	
	<script type="text/javascript">
		var merchantDialog;
		// 选择所属商户
		function selectMerchantCodeDialog(){
			merchantDialog = parent.BootstrapDialog.show({
		        title: '@MessageUtil.getMessage(MsgNames.MSG_SELECT_MERCHANT)',
		        message: $('@es(selectMerchantwin).raw()'),
		        cssClass:'merchant-dialog',
		        buttons: [{
		           label: '@MessageUtil.getMessage(MsgNames.MSG_CLOSE)',
		           cssClass: 'btn-normal fa fa-remove',
		           action: function(dialog) {
		               this.dialog.close();
		           }
		       }]
			});
		}
		
		//触发change事件
		function changeMerchantCodeValue(value){
			$('#@id').val(value).change();
		}
	</script>
	<!-- 选择商户窗口 -->
	@renderBody()
}