@args String id = "", 
String name="", 
String align="left",
String popplace="top", 
Boolean showpop=false,
Object value,
String defaultvalue = "",
String label = "",
Boolean showlabel=true,
String htmlargs="", 
String css="", 
Boolean visible = true,
String groupcss = "col-4", 
Boolean showrequired=true,
String unitstring="",
Boolean needColon=true,
String labelcss=""

@if(visible){
	@{
		name = StringUtil.getOrElse(name, id);
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), "lbl_" + IDGenerator.genDomID().replace("-",""));
		final String slabel = StringUtil.nval(label,label + (needColon==true?" : ":""));
		value = getOrElse(value,defaultvalue);
		final String notshowpop = nval(!showpop, "not-show-pop");
	}
	
	@group(label:slabel,required:false,css:groupcss,labelcss:labelcss,disabled:false,showrequired:showrequired,showlabel:showlabel){
		<span class="label-rythm @notshowpop @css" data-content="@value" data-placement="@popplace" name="@name" id="@id" style="text-align:@align;" @htmlargs.raw()>
	     @value
	    </span>
	    @if(isNotEmpty(unitstring)){
	    	<style type="text/css"> 
			#@(id):after{ content: "@unitstring.raw()";}  
			</style> 
	    }
		@renderBody()
	}
}