@args String id = "", 
String popplace="top", 
String maxFileSize="", 
Boolean disabled = false, 
String name="", 
String placeholder = "",
String key="", 
Boolean showrequired=true,
String fileextion="png,jpg,jpeg,icon,gif,bmp",
Boolean required = false, 
Boolean downloaddisabled=false, 
String url="",
String height = "auto",
String fileid="", 
String filename="", 
String label = MessageUtil.getMessage(MsgNames.MSG_IMAGE), 
String css="", 
Boolean viewmode = false,
String groupcss="col-12", 
Boolean visible=true,
Boolean showlabel=true,
Boolean showInput=false,
String labelcss=""
@if(visible){
	@{
		maxFileSize = ConfigUtil.getProperty("file.upload.limit", "100*1024");
		if(!disabled){
			placeholder = StringUtil.getOrElse(placeholder, MessageUtil.getMessage(MsgNames.MSG_SELECT_IMAGE));
		}
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		name = StringUtil.getOrElse(name, id);
		final String sdisabled = StringUtil.nval(disabled,"disabled");
		final String sdownloaddisabled = StringUtil.nval(downloaddisabled,"download-disabled=true");
		final String fileIdName2 = name + "_fileId";
		final String deleteName2 = name + "_delete";
		final String labelName = name + "_label";
		final String maxfileSizeName = name + "_maxFileSize";
		final String fileExtion = name + "_fileExtion";
		final String fileIdName = StringUtil.nval(key,key + ".fileId","fileId");
		final String deleteName = StringUtil.nval(key,key + ".delete","delete");
		final String surl = WebContext.url(StringUtil.getOrElse(url,"/file/picture.action") + "?fileId=");
		final long uid = System.currentTimeMillis();
		String[] exts = StringUtil.split(StringUtil.remove(fileextion,' '), ",");
		StringBuffer sbext = new StringBuffer();
		for(String ext:exts){
			if(StringUtil.isNotEmpty(ext)){
				sbext.append(",'").append(ext).append("'");
			}
		}
		final String sext = StringUtil.nval(sbext.toString(), sbext.substring(1));
	}
	
	@group(label:label,required:(required && !viewmode),css:groupcss,labelcss:labelcss,showrequired:showrequired,disabled:false,showlabel:showlabel){
		@if(viewmode){
			<div class="file-preview-frame file-preview-initial" id="@id" style="margin:0px !important;width:100%;padding-top:26px;">
			   <img src="@(surl)@(fileid)&uid=@uid" style="width:100%;height:@height" class="file-preview-image" alt="@filename" title="@filename"><div class="file-thumbnail-footer"> <div class="file-caption-name">@filename</div><div class="clearfix"></div></div>
			</div>
		}else{
			<input type="hidden" name="@fileIdName" value="@fileid"/>
			<input type="hidden" name="@deleteName" value="false"/>
			<input type="hidden" name="@fileIdName2" value="@fileid"/>
			<input type="hidden" name="@deleteName2" value="false"/>
			<input type="hidden" name="@labelName" value="@label"/>
			<input type="hidden" name="@maxfileSizeName" value="@maxFileSize"/>
			<input type="hidden" name="@fileExtion" value="@fileextion"/>
			<input id="@id" name="@name" type="file" @sdisabled @sdownloaddisabled class="file-rythm">
			<script>
			$(function(){
				//文件初始化
				  $("#@id").fileinput({
					required:@required,
					msgRequired:'@MessageUtil.getMessage(MsgNames.MSG_WARNING_SELECT_IMAGE)', 
					maxFileSize:@maxFileSize,
					key:'@key',
					name:'@name',
					placeholder:'@placeholder',
					popplace:'@popplace',
					initialCaption: '@filename' !=  '' ? '@filename' :'@placeholder',
					showDownloadReset:true,
					downloadUrlBase:'@surl',
					fileId:'@fileid',
				    previewSettings:{
				    	image:{width:'100%',height:'@height'},
				  		other:{width:'100%',height:'@height'}
				    },
				    overwriteInitial: true,
					showPreview:true,
					showInput:@showInput,
					previewCss:'picture-rythm',
					showPreviewInitial:true,
					dropZoneEnabled:true,
					maxFileCount:1,
			       allowedFileExtensions: [@sext.raw()]
				});
			});
			</script>
		}
		@renderBody()
	}
}