@args String id="",
String name = "",
String value="",
Object options,
String url="",
String labelfield="text",
String valuefield="value",
Integer optionwidth = 100,
String onchange="",
String label = "", 
String htmlargs="", 
String css="", 
String groupcss = "fcol-12",
Boolean showlabel = true, 
String labelcss="",
Boolean visible = true

@if(visible){
	@{
		name = getOrElse(name, id);
		id = getOrElse(getOrElse(name,id), IDGenerator.genDomID());
		url = nval(url,url(url));
		value = getOrElse(value);
		String sdata = "";
		if(options != null){
			if(options instanceof String){
				sdata = options.toString();
			}else{
				sdata = JsonLib.toJson(options);
			}
		}
	}
	@group(label:(label + ":"),required:false,css:groupcss,showrequired:true,labelcss:"top-label",disabled:false,showlabel:showlabel){
		<div id="@id" name='@name'></div>
	}
	@renderBody()
	<script>
		$('#@id').bootstrapSelector({
			url:'@url',
			@if(isNotEmpty(sdata)){
				data:@sdata.raw(),
			}
			value:'@value',
			labelfield:'@labelfield',
			optionWidth:@optionwidth,
			valuefield:'@valuefield',
			@if(isNotEmpty(onchange)){
				onChange:@onchange
			}
		});
	</script>	
}