@args List<FileEntity> files,
String id="",
Boolean showControl = true,
Boolean slideshow = true,
Boolean animationLoop = true,
String startAt = "0",
String width = "0",
String animation="slide",
String htmlargs="",
Integer slideshowSpeed = 3000,
String height = "0",
String css="col-12",
String detailUrl = "",
Integer animationSpeed = 600
@{
	id = StringUtil.getOrElse(id, IDGenerator.genDomID());
	css = groupcss(css);
	final String itemheight = StringUtil.nval(height, "style=\"height:" + height  + "px;\"");
}

<div id="@id" class="flexslider @css slider-rythm" @htmlargs>
	<ul class="slides">
	@if(files != null){
		@for(FileEntity file:files) {
	   		@{
	   			String description = file.getDescription();
	   			String durl = isNotEmpty(detailUrl) ? WebContext.url(detailUrl + StringUtil.getOrElse(file.getBusinessId())) : "";
	   			String imgurl = WebContext.url("/file/picture.action?fileId=" + file.getFileId());
	   		}
		   	<li>
		   		@if(isNotEmpty(durl)){
		   			<a href="@durl"> 
						<img src="@imgurl" @itemheight.raw()/>
	 				</a> 
				}else{
					<img src="@imgurl" @itemheight.raw()/>
				}
				@if(isNotEmpty(description)){
					<p class="slide_content_top">@description</p>
				}
			</li>
		}
	}
 	</ul>
</div>
<script type="text/javascript">
	$(function() {
		if(!$.fn.addFlexsliderItem){
			$.fn.addFlexsliderItem = function(fileId,durl,description){
				var _this = this;
				if(_this.hasClass("flexslider")){
					var parent = $("<li></li>"); 
					var img = durl ? '<a href="%s"><img src="@url("/file/picture.action?fileId=")%s" @itemheight.raw()/></a>'.format(durl,fileId):'<img src="@url("/file/picture.action?fileId=")%s" @itemheight.raw()/>'.format(fileId);
					parent.append(img);
					if(description){
						parent.append("<p class='slide_content_top'>%s</p>".format(description));
					}
					_this.find("ul.slides").append(parent);
				}
			}
		}	
	});
</script>
@renderBody()
<script type="text/javascript">
	$(function() {
	    $("#@id").flexslider({
	    	slideshow: @slideshow,                
			slideshowSpeed: @slideshowSpeed,           
			animationSpeed: @animationSpeed,
			animationLoop:@animationLoop,
	    	animation: "@animation",
	    	mousewheel: false, 
	    	prevText:"",
	    	nextText:"",
	    	itemWidth: @width,
	    	itemHeight:@height,
	    	controlNav: @showControl,
	    	directionNav:@showControl,
	    	start: function(slider) {
	            if(@startAt >= 1){
	                slider.flexAnimate(Math.floor(@startAt), true);
	            }
	        }
	    });
	});	
</script>