@args String id = "", 
Boolean showlabel=true, 
String name="", 
String popplace="top", 
Object value=0, 
Boolean disabled = false, 
Boolean readonly = false,
String label = "", 
String min="", 
String max="", 
String minlength="", 
String maxlength="", 
Boolean showrequired=true, 
String placeholder = "", 
Boolean showplaceholder = true,
String htmlargs="", 
Boolean required=false, 
String css="", 
Boolean visible=true,
String groupcss = "col-4", 
String labelcss="",
int fixlength=0,
String fixchar="0",
Boolean fixleft=true,
int step = 1,
String databvtrigger="data-bv-trigger=\"change focus blur\""
@if(visible){
	@{
		name = StringUtil.getOrElse(name, id);
		id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		if(!disabled && showplaceholder){
			placeholder = StringUtil.getOrElse(placeholder, MessageUtil.getMessage(MsgNames.MSG_PLEASE_INPUT) +  MessageUtil.getMessage(label));
		}
		if(StringUtil.isEmpty(maxlength) && StringUtil.isNotEmpty(max)){
			maxlength = String.valueOf(max.length());
		}
		if(StringUtil.isEmpty(maxlength) && StringUtil.isNotEmpty(min)){
			minlength = String.valueOf(min.length());
		}
		final String smaxlength = StringUtil.nval(maxlength,"maxlength=" + maxlength);
		final String sminlength = StringUtil.nval(minlength,"minlength=" + minlength);
		final String smax = StringUtil.nval(max,"max=" + max);
		final String smin = StringUtil.nval(min,"min=" + min);
		final String sfixlength = "fixlength=" + fixlength;
		final String sfixchar = "fixchar=" + fixchar;
		final String sfixleft = "fixleft=" + fixleft;
		final String sreadonly = StringUtil.nval(disabled || readonly, "readonly");
		final String sdisabled = StringUtil.nval(disabled, "disabled");
		final String spopplace = "data-bv-placement=" + popplace;
		final String stype = "text";
		final String srequired = StringUtil.nval(required,"required");
		value = pad(getOrElse(value), fixlength, fixchar, fixleft);
	}
	
	@group(label:label,required:required,css:(groupcss + " spinner2"),labelcss:labelcss,disabled:disabled,showrequired:showrequired,showlabel:showlabel){
		 <div class="input-group spinner spinner2" id="@(id)-spinner">
		 	<div class="input-group-btn-vertical">
		      <button class="btn btn-default spinner-minus" @sdisabled type="button"><b class="fa fa-minus"></b></button>
		    </div>
			<input type='text' onkeypress="keyPress('number')" onkeyup="changeText(this, 'number', '@max', '@min')" oninput="changeText(this, 'number', '@max', '@min')"  onblur="autoPad(this, @fixlength,'@fixchar',@fixleft)" id='@id' name='@name' class='form-control @css spinner-rythm' @spopplace @smaxlength @sminlength @smax @smin @sfixlength @sfixchar @sfixleft @srequired @sreadonly data-bv-excluded="@disabled"
			 value='@value' placeholder='@placeholder' @htmlargs.raw() @databvtrigger.raw()>
		    <div class="input-group-btn-vertical">
		      <button class="btn btn-default spinner-plus" @sdisabled type="button"><b class="fa fa-plus"></b></button>
		    </div>
		  </div>
		 <script>
		 	(function ($) {
			  $('#@(id)-spinner .btn:first-of-type').last().on('click', function() {
			  	var v = getNumberValue('@id');
			  	var max = toNumber('@max');
			  	if('@max'){
			  		v = Math.min(max, v + @step);
			  	}else{
			  		v = v + @step;
			  	}
			   	$('#@id').val(pad(v, @fixlength,'@fixchar',@fixleft));
			   	$('#@id').change();
			  });
			  $('#@(id)-spinner .btn:last-of-type').first().on('click', function() {
				  var v = getNumberValue('@id');
				  	var min = toNumber('@min');
				  	if('@min'){
				  		v = Math.max(min, v - @step);
				  	}else{
				  		v = v - @step;
				  	}
				    $('#@id').val(pad(v, @fixlength,'@fixchar',@fixleft));
				    $('#@id').change();
			  });
			})(jQuery);
		 </script>
		@renderBody()
	}
}