@args String id = "",
String name="",
String value="", 
String label = "", 
String labelcss = "", 
int height=600, 
int maxlength=10000, 
String width = "100%", 
Boolean visible=true,
String groupcss = "fcol-12",
String model,
Boolean disabled = false,
Boolean script = true,
Boolean flagUploadAttachment = false

@if(visible){
	@{
		name = StringUtil.getOrElse(name, id);
		final String sid = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
		final String swidth = String.valueOf(width);
		final String sheight = String.valueOf(height);
		final String sdisabled = disabled ? ",readonly:true" : "";
	}
	@if(script){
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/ueditor.config.js")"></script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/ueditor.all.js")"> </script>
		
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/addKityFormulaDialog.js")"> </script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/getKfContent.js")"> </script>
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/kityformula-plugin/defaultFilterFix.js")"> </script>
		
		<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
		<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文123-->
		<script type="text/javascript" charset="utf-8" src="@url("/js/ueditor/lang/zh-cn/zh-cn.js")"></script>
	}

	@group(label:label, css:groupcss,labelcss:labelcss){
		<script id="@(sid)" type="text/plain" style="width:@swidth;height: @sheight" class="ueditor-rythm"></script>
	}
	
	<script>
		@if("simple".equals(model)){
			UE.getEditor('@sid',{
				initialContent: "@value"
				,autoHeightEnabled:false
				,maximumWords:@maxlength
				,elementPathEnabled:false
				,UEDITOR_HOME_URL:"@url("/js/ueditor/")"
				@sdisabled
				,initialFrameHeight:"@sheight"
				, toolbars: [[
					'source','undo', 'redo', '|',
		            'bold',  'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', '|',
		            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
		            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
		            'directionalityltr', 'directionalityrtl', 'indent', '|',
		            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
		            'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
		            'simpleupload', 'insertimage', @if(flagUploadAttachment){'attachment', } '|',
		            'horizontal', 'date', 'time', 'spechars','preview','kityformula','template'
		        ]]
			});
		} else {
			UE.getEditor('@sid',{
				initialContent: "@value"
				,autoHeightEnabled:false
				,elementPathEnabled:false
				,maximumWords:@maxlength
				,UEDITOR_HOME_URL:"@url("/js/ueditor/")"
				@sdisabled
				,initialFrameHeight:"@sheight"
				, toolbars: [[
		            'source','undo', 'redo', '|',
		            'bold', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', '|',
		            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
		            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
		            'directionalityltr', 'directionalityrtl', 'indent', '|',
		            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
		            'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
		            'simpleupload', 'insertimage', 'insertvideo',  @if(flagUploadAttachment){'attachment', } '|',
		            'horizontal', 'date', 'time', 'spechars','preview','kityformula','template'
		        ]]
			});
		}
	</script>
}