@args String width="480px", String height="270px", String fileId="", String style = "float:left", String poster = "/file/picture.action",Boolean videojs = true, String autoplay = "";
@{
	String id = IDGenerator.genDomID();
	String css = videojs ? "videojs":"";
	if(StringUtil.isNotEmpty(poster)){
		poster = WebContext.url(poster) + "?fileId=" + StringUtil.getOrElse(fileId);
	}
}
<div style="width:@width;height:@height;@style">
	<video class="video-js" id="@id" controls preload="auto" width="@width" height="@height" style="width:100%;height:100%;background:#000;" poster="@poster" data-setup="{}" autoplay="@autoplay">
		<source src="@url("/file/video.action?fileId=")@fileId" type="video/mp4"/>
	</video>
</div>
@if(videojs){
	<script>
		$(function(){
			videojs("@id");
		});
	</script>
}
