@import java.math.*;

@args List<StepInfo> steps, 
String value="",
Integer index=Integer.valueOf("-1"),
Boolean visible=true

@if(visible && steps != null && steps.size() > 0){
	@{
		String bswith =  BigDecimal.valueOf(100).divide(BigDecimal.valueOf(steps.size()),8,BigDecimal.ROUND_HALF_UP).toString();
		String pbswith =  BigDecimal.valueOf(100).divide(BigDecimal.valueOf(steps.size()*2),8,BigDecimal.ROUND_HALF_UP).toString()
	}

	<div class="bs-wizard" style="border-bottom:0;padding:0px 35px 10px 35px;">
		<span></span>
		@for(int i = 0; i < steps.size(); i++){
			@{
				String css = "complete";
				StepInfo step = steps.get(i);
				if(index == -1 && value.equals(step.value)){
					index = i;
					css = "active";
				}else if(index > -1){
					css = i == index ? "active" : (i > index ? "disabled" :"complete");
				}
			}
			<div class="col-rythm bs-wizard-step @css" style="width:@(bswith)%">
		      <div class="text-center bs-wizard-stepnum">@step.name</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center">@step.description</div>
		    </div>
		}
		<span></span>
	</div>
}

        
        
        
        
        
