@args MeasurementTeacherEntity condition,
String selectCategory,
String parentPage = "course",
String addCourseUrl = "/pub/course/addInit.action",
String editCourseUrl = "/pub/course/editInit.action",
String shareCourseUrl = "/manager/course/share.action",
String viewCourseUrl = "/manager/course/viewCourse.action",
String addMeasureUrl = "/pub/teacherevalution/question.action",
String editMeasureUrl = "/pub/course/measureInsitutionEditInit.action",
String searchUserInitUrl = "/manager/course/searchUserInit.action",
String taskInitUrl= "/pub/course/editInit.action",
Boolean isTeacher =  false,
Object catagoryTags,
String pageType,
Boolean isOnlyView = false,
Object tagsSecond,
String title
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.TpMsgNames;
    com.cloudsoaring.web.trainingplatform.constants.*;
    com.cloudsoaring.web.teacherevalution.entity.MeasurementTeacherEntity;
}

@{
    String groupCssTemp = "col-4";
    if(isTeacher){
        groupCssTemp = "col-6";
    }
    final String groupcss = groupCssTemp;
}
@extends(common_teacherevalution, activeNo:2)
<div style="width:100%">
@form("search-condition"){
     @input({label:MessageUtil.getMessage("问卷主题"), name:"courseTitle", groupcss:groupcss})
     @ftdate(label:MessageUtil.getMessage(CourseMsgNames.CENTER_DATE), fromname:"createStartDate", toname:"createEndDate", groupcss:groupcss)      
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
       <!--  @button(label:MessageUtil.getMessage("删除"),iconcss:"gh gh-trash",onclick:"deleteCourse",innertype:"DEL") -->
       <!--  @button(label:MessageUtil.getMessage("导入课程"),iconcss:"gh gh-import",  url:"/manager/course/importInit.action",innertype:"IMPORT") -->
    }
}
@table(id:"search-result",url:"/pub/teacherevalution/listYpQestionSearch.action",sortName:"createDate",condition:condition
                    sortOrder:"desc",queryParamFunction:"createQueryParams01"){
    @columns(){
        {field: 'state',align:'center',checkbox: true,title:'@MessageUtil.getMsgAndNote("全选","selectAll")',width:50,background:'#b60005'},
        {field: 'insTitle',title:'@MessageUtil.getMsgAndNote("评价任务标题","bb02001.txt.courseManger.teacher")',width:50,background:'#b60005',sortable: true,align:'center'}, 
        {field: 'titile',title:'@MessageUtil.getMsgAndNote("问卷标题","bb02001.txt.courseManger.title")',width:200,background:'#b60005',sortable: true,align:'center'}, 
        {field: 'createUser',title:'@MessageUtil.getMsgAndNote("创建人账号","bb02001.txt.courseManger.status")',width:50,background:'#b60005',sortable: true,align:'center'},
        {field: 'createDate',title:'@MessageUtil.getMsgAndNote("创建日期","bb02001.txt.courseManger.createDate")',width:50,background:'#b60005',sortable: true,align:'center', formatter:dateFormat},
        {field: 'flagName',title:'@MessageUtil.getMsgAndNote("评价结果","bb02001.txt.courseManger.teacher")',width:50,background:'#b60005',sortable: true,align:'center'},
        @optcolumn(width:120){
           @iconlink(
            label:MessageUtil.getMessage("投票")
            , iconcss:"gh gh-question-sign"
            , onclick:"addMeasure"
            , visibleFunction:"isEditNotice"
           )
        }
    }
    @toolbar(){
       <!--  @button(label:MessageUtil.getMessage("添加课程"),iconcss:"fa fa-plus",url:addCourseUrl,innertype:"ADD")
        @button(label:MessageUtil.getMessage("删除"),iconcss:"gh gh-trash",onclick:"deleteCourse",innertype:"DEL")
        @button(label:MessageUtil.getMessage("导入课程"),iconcss:"gh gh-import",  url:"/manager/course/importInit.action",innertype:"IMPORT") -->
        
        @*
	        @button(label:MessageUtil.getMessage("模板下载"),iconcss:"gh gh-download-alt",onclick:"",innertype:"DEL")
        *@
    }
    
}

@assign("importDetail"){
	<div id="importDialogDiv" class="clearfix">
		@column("col-12"){
			@form("import-form"){
				@file(required:true,label:(TpMsgNames.TXT_PLEASE_UPLOAD),fileextion:"xls,xlsx,zip", name:"users",placeholder:(MessageUtil.getMessage(TpMsgNames.TXT_SELECT_FILE))){
				}
				@*column(align:"right",css:"fcol-12", style:"padding-bottom: 20px;"){	<a class="down-temp" target="_blank" href="@url("/resources/template/UserTemplate.xlsx")">@message(TpMsgNames.TXT_DOWNLOAD_TEMP)</a>}*@
				
				@div(id:"result", css:"result-ta")
			}
		}
	</div>
	<script>
		$(function (){
			$('#import-form').bootstrapValidator();
		});
		function importUser(){
			$('#import-form').bootstrapValidator('validate');
			var formValid = $('#import-form').data('bootstrapValidator').isValid();
	   	 	if(formValid){
	   	 		var params = new FormData($('#import-form')[0]);
	   	 	$.ajax({ 
					url: "@url("/manager/course/importCourse.action")",
					data:params,
					type:"post", 
					bodyMsg:true,
					mask:true,
					/** 
			         *必须false才会自动加上正确的Content-Type 
			         */
					contentType:false,  
			        /** 
			         * 必须false才会避开jQuery对 formdata 的默认处理 
			         * XMLHttpRequest会对 formdata 进行正确的处理 
			         */  
			        processData:false,  
					success: function(resp){
						/* if(resp.status) {
							error(resp.message);
						} */
// 		        		刷新文件上传控件
// 		        		var result = resp.data;
// 		        		var total = result.totalCount;
// 		        		var failed = result.noneValidatedRows.length;
// 		        		var success = total -  failed;
// 		        		var tb = "&nbsp;<span class='total_cnt'><b>"+total+"</b></span>&nbsp;";
// 		        		var fb = "&nbsp;<span class='failed_cnt'><b>"+failed+"</b></span>&nbsp;";
// 		        		var sb = "&nbsp;<span class='success_cnt'><b>"+success+"</b></span>&nbsp;";
// 		        		var tmsg = "<br/><span class='import_result'>" + "@message(TpMsgNames.MSG_USER_IMPORT)".format(tb, sb,fb) + "</span>";
// 		        		$("#result").html("");
// 		        		$("#result").append(tmsg);
// 						if(failed > 0){
// 			        		var list = $("<ul class='failed_list'></ul>");
// 			        		$("#result").append(list);
// 			        		for(var i=0; i<failed; i++){
// 			        			list.append("<br/>"+ "<li class='failed_item failed_item fa fa-remove'>" + result.noneValidatedRows[i].message + "</li>");
// 			        		}
// 						}
			      	}
			    });	
	   	 	}
		}
		
		function doClear(){
			clearForm($('#import-form'));
			$("#result").html("");
		}
	</script>
}



</div>
<script>
  function getSecondTag(value){ 
       if(value ==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/pub/course/searchSecondTag2.action?id=")"+value;
            $("#secondTag").selectpicker('reload', url);
       }
    }
    function editNoticeWork(row){
    	window.location.href='@url(taskInitUrl)?linkId='+row.id+"&linkType=COURSE";         
    }
    function isCopyNotice(value, row, index){
        return true;
    }
    function courseCopy(row){
      if(row.id != null){
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_SURE_COPY_COURSE)", function(){
        	$.ajax({ 
                    url: "@url("/manager/course/copyInfo.action")",
                    data:{id:row.id},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    }
    function jionType(row){
    	window.location.href="@url(searchUserInitUrl)?id=" + row.id;
    }
    function viewNotice(row){
        window.location.href = "@url(viewCourseUrl)?id=" + row.id;
    }
    function deleteCourse(row){
    	$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程，删除课程",operSite:"pblMgr/course/manager/course_list.html"},
			success:function(result){
			}
		});	
        var selectedRows = $('#search-result').bootstrapTable('getSelections');
        if(selectedRows && selectedRows.length > 0){
            var id = [];
            for(var i = 0; i < selectedRows.length; i++){
                id[i] = selectedRows[i].id;
            }
            confirm("同时删除课程相关的计划、学员、投票、评论、笔记、问卷、作业等信息，且删除后不可恢复，是否确认删除？", function(){
            	$.ajax({ 
                    url: "@url("/manager/course/deleteCourse.action")",
                    data:{id:id.join(',')},
                    type:"post", 
                    bodyMsg:true,
                    mask:true,
                    success: function(result){
                        //成功
                        $('#search-result').bootstrapTable('refresh');
                    }
                });
                return true;
            });
        }else{
            warning("@MessageUtil.getMessage(CourseMsgNames.MSG_SELECT_DELETE_DATA)");
        }
    
    }
    function titleFormat(value, row, index) {
        var title = hideStringByMax(value, 20);
        if(row.flagNote == "1") {
               title += " <a  title='笔记' class='fa fa-file-word-o' '></a>";
           }
           if(row.flagDiscuss=="1") {
               title += " <a title='评论'  class='fa fa-ellipsis-h' '></a>";
           }
           if(row.flagTest!="0") {
               title += " <a title='测试' class='fa fa-edit'  '></a>";
           }
           if(row.flagQa=="1") {
               title += " <a title='问答' class='fa fa-question' '></a>";
           }
           if(row.flagVote=="1") {
               title += " <a title='投票' class='gh gh-align-justify''></a>";
           }
           if(row.flagTask!="0") {
               title += " <a title='作业' class='gh gh-list-alt' '></a>";
           }  
          var html = title; 
          return html;
    }
    function visibleAddChapter(value, row, index){ 
        return true;
    }
    function isDeleteNotice(){
        return true;
    }
    function isLookPushHomeBanner(value, row, index){ 
          return row.flagHomeCarousel;
    }
    function isLookPushHome(value, row, index){ 
        return row.flagBoutique;
    }
    function isLook(value, row, index){ 
        return row.status;
    }
    function statusFormat(value, row, index){ 
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.COURSE_STATUS)).raw();
        return data[value];
    }
     function flagRequiredFormat(value, row, index){ 
        var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.FLAG_REQUIRED)).raw();
        return data[value];
    }
    function flagBoutiqueFormat(value, row, index) {
       if(value=="0") {
         return '@MessageUtil.getMessage(CourseMsgNames.RECOMMEND)';
        }
         return '@MessageUtil.getMessage(CourseMsgNames.NOT_RECOMMEND)';
    }
    function addChapter(row){
    	$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程，添加章节",operSite:"pblMgr/course/manager/chapter_list.html"},
			success:function(result){
			}
		});	
        if(!@isTeacher){
        	window.location.href="@url("/manager/chapter/chapterListInit.action?courseId=")"+row.id+"&courseNo="+row.courseNo+"&title="+row.title;
        }else{
        	window.location.href="@url("/manager/chapter/tchapterListInit.action?courseId=")"+row.id+"&courseNo="+row.courseNo+"&title="+row.title;
        }
       
    }
    function pushHome(row){
        if(row.flagBoutique=="0") {
          _doCancelPushHome(row);
        } else {
            _doPushHome(row);
        }
    }
    function _doCancelPushHome(row) {
        var url  = "@url("/manager/course/pushHome.action?id=")"+row.id+"&flagBoutique="+row.flagBoutique;
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_CANCEL_PUSH_HOME)",function(){
        	$.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
    function _doPushHome(row) {
        var url  = "@url("/manager/course/pushHome.action?id=")"+row.id+"&flagBoutique="+row.flagBoutique;
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_PUSH_HOME)",function(){
        	$.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
    function pushHomeBanner(row){
        if(row.flagHomeCarousel=="0") {
            _doCancelPushHomeBanner(row);
        } else {
            _doPushHomeBanner(row);
        }
    }
    function _doPushHomeBanner(row) {
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_PUSH_HOME_BANNER)",function(){
            var url = "@url("/manager/course/pushHomeBanner.action?id=")"+row.id+"&flagHomeCarousel="+row.flagHomeCarousel;
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
    function _doCancelPushHomeBanner(row) {
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_CANCEL_PUSH_HOME_BANNER)",function(){
            var url  = "@url("/manager/course/pushHomeBanner.action?id=")"+row.id+"&flagHomeCarousel="+row.flagHomeCarousel;
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
    function deleteNotice(row){
        var url = "@url("/pub/course/deleteEvalution.action?id=")"+row.id;
        confirm("同时删除评价相关信息，且删除后不可恢复，是否确认删除？",function(){
        	$.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        
        })
    }
     function publicCourse(row){
        if(row.status=='@CourseStateConstants.COURSE_STATUS_PUBLIC') {
            _doCancelpublicCourse(row);
        } else {
            _dopublicCourse(row);
        }
    }
     function _doCancelpublicCourse(row) {
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_NOT_PUBLIC)",function(){
            var url  = "@url("/manager/course/publicCourse.action?id=")"+row.id+"&status="+row.status;
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
     function _dopublicCourse(row) {
        confirm("@MessageUtil.getMessage(CourseMsgNames.CENTER_CONFIRM_PUBLIC)",function(){
            var url  = "@url("/manager/course/publicCourse.action?id=")"+row.id+"&status="+row.status;
            $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                	$('#search-result').bootstrapTable('refresh');
                }
            });
        })
    }
    function editNotice(row){
    	$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程，编辑课程",operSite:"pblMgr/course/manager/course_add.html"},
			success:function(result){
			}
		});	
      window.location.href="@url(editCourseUrl)?id="+row.id;
    }
     function addMeasure(row){
    	 if(row.flag=="1"){
    		noticeInfo("问卷已填写，请勿重复填写！"); 
    	 }else{
    		 window.location.href="@url(addMeasureUrl)?"+"linkId="+row.linkId+"&linkType="+"EVALUTION"; 
    	 }
    	 
    	 
           
     }
     function addShare(row){
    	 window.location.href="@url(shareCourseUrl)?id="+row.id;
     }
     function createQueryParams01(params){
        return buildQueryParam('#search-condition', params);
    }
    
	function initCourseImportDialog(){
		BootstrapDialog.show({
            title: '@MessageUtil.getMessage("课程导入")',
            message: $('@es(importDetail).raw()'),
            buttons: [
            {
               label: '@MessageUtil.getMessage("导入")',
               cssClass: 'gh gh-ok btn-normal',
               id:'btnChangePwdSave',
               action: function(dialog) {
            	   	importUser();
               }
           },
             {
               label: '@MessageUtil.getMessage(MsgNames.MSG_CANCEL)',
               cssClass: 'btn-normal fa fa-reply',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	 $(function(){
		 $.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:"课程管理",operSite:"pblMgr/course/manager/course_list.html"},
			success:function(result){
			}
		});	
	  });
</script>
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
var browserInfo = "";
var sysInfo = "";
var IpInfo = "";
(function($){
			 var BrowserMatch = {  
				  init: function() {  
					  this.browser = this.getBrowser().browser || "未知浏览器";  //获取浏览器名
					  this.version = this.getBrowser().version || "未知浏览器版本号";  //获取浏览器版本
					  this.OS = this.getOS()+" "+this.getDigits() || "未知操作系统"; //系统版本号 
				  },  
				  getOS: function() {  //判断所处操作系统
						 var sUserAgent = navigator.userAgent.toLowerCase();   
						
						var isWin = (navigator.platform == "Win32") || (navigator.platform == "Win64")|| (navigator.platform == "wow64");   
						
						var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");   
						if (isMac) return "Mac";   
						var isUnix = (navigator.platform == "X11") && !isWin && !isMac;   
						if (isUnix) return "Unix";   
						var isLinux = (String(navigator.platform).indexOf("Linux") > -1);   
						var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";  
						if (isLinux) {  
						if(bIsAndroid) return "Android";  
						else return "Linux";   
						}  
						if (isWin) {   
						
							var isWin2K = sUserAgent.indexOf("Windows nt 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;   
							if (isWin2K) return "Win2000";   
							var isWinXP = sUserAgent.indexOf("Windows nt 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1  
							sUserAgent.indexOf("Windows XP") > -1;   
							if (isWinXP) return "WinXP";   
							var isWin2003 = sUserAgent.indexOf("Windows nt 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;   
							if (isWin2003) return "Win2003";   
							var isWinVista= sUserAgent.indexOf("Windows nt 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;   
							if (isWinVista) return "WinVista";   
							var isWin7 = sUserAgent.indexOf("Windows nt 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;   
							if (isWin7) return "Win7";   
							var isWin8 = sUserAgent.indexOf("windows nt 6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;  
							if (isWin8) return "Win8"; 
							var isWin10 = sUserAgent.indexOf("windows nt 10.0")>-1||sUserAgent.indexOf("Windows 10")>-1;	
							if(isWin10)return "Win10";				
						}  
						return "其他";
				  },  
				  getDigits:function(){ //判断当前操作系统的版本号 
					var sUserAgent = navigator.userAgent.toLowerCase();   
					var is64 = sUserAgent.indexOf("win64") > -1||sUserAgent.indexOf("wow64") > -1;  
					if (is64) {  
						return "64位";  
					}else{  
					   return "32位";    
					}  
				},
				  getBrowser: function() {  // 获取浏览器名
					  var rMsie = /(msie\s|trident\/7)([\w\.]+)/;  
					  var rTrident = /(trident)\/([\w.]+)/;  
					  var rEdge = /(chrome)\/([\w.]+)/;//IE
					  
					  var rFirefox = /(firefox)\/([\w.]+)/;  //火狐
					  var rOpera = /(opera).+version\/([\w.]+)/;  //旧Opera
					  var rNewOpera = /(opr)\/(.+)/;  //新Opera 基于谷歌
					  var rChrome = /(chrome)\/([\w.]+)/; //谷歌 
					  var rUC = /(chrome)\/([\w.]+)/;//UC
					  var rMaxthon = /(chrome)\/([\w.]+)/;//遨游
					  var r2345 =  /(chrome)\/([\w.]+)/;//2345
					  var rQQ =  /(chrome)\/([\w.]+)/;//QQ
					  //var rMetasr =  /(metasr)\/([\w.]+)/;//搜狗
					  var rSafari = /version\/([\w.]+).*(safari)/;
					  
					  var ua = navigator.userAgent.toLowerCase();  
 
 
					  var matchBS, matchBS2;  
					  
					  //IE 低版
					  matchBS = rMsie.exec(ua);  
					  if (matchBS != null) {  
						  matchBS2 = rTrident.exec(ua);  
						  if (matchBS2 != null) {  
							  switch (matchBS2[2]) {  
							  case "4.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 8"  //内核版本号
								  };  
								  break;  
							  case "5.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 9"  
								  };  
								  break;  
							  case "6.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 10"  
								  };  
								  break;  
							  case "7.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 11"  
								  };  
								  break;  
							  default:  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "Undefined"  
								  };  
							  }  
						  } else {  
							  return {  
								  browser: "Microsoft IE",  
								  version: "IE:"+matchBS[2] || "0"  
							  };  
						  }  
					  }  
					  //IE最新版
					   matchBS = rEdge.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "Microsoft Edge",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
                                          //UC浏览器					  
					  matchBS = rUC.exec(ua);                         		   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "UC",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //火狐浏览器
					  matchBS = rFirefox.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "火狐",  
							  version: "Firefox/"+matchBS[2] || "0"  
						  };  
					  }  
                                         //Oper浏览器					 
					 matchBS = rOpera.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "Opera",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //遨游
					   matchBS = rMaxthon.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "遨游",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
                                          //2345浏览器					  
 					  matchBS = r2345.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "2345",  
							  version: "Chrome/ "+matchBS[2] || "0"  
						  };  
					  }  
                                          //QQ浏览器					  
					  matchBS = rQQ.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "QQ",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //Safari（苹果）浏览器
					  matchBS = rSafari.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent)) && (!(window.chrome)) && (!(window.opera))) {  
						  return {  
							  browser: "Safari",  
							  version: "Safari/"+matchBS[1] || "0"  
						  };  
					  }  
					  //谷歌浏览器
					   matchBS = rChrome.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  matchBS2 = rNewOpera.exec(ua);  
						  if (matchBS2 == null) {  
							  return {  
								  browser: "谷歌",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  } else {  
							  return {  
								  browser: "Opera",  
								  version: "opr/"+matchBS2[2] || "0"  
							  };  
						  }  
					  }  
				  }  
      };  
      BrowserMatch.init();  
      //alert("当前浏览器为：" + BrowserMatch.browser +"\n版本为："+ BrowserMatch.version + "\n所处操作系统为："+BrowserMatch.OS); 
      browserInfo = BrowserMatch.version;
	  sysInfo = BrowserMatch.OS;
	  IpInfo = returnCitySN["cip"];
		})(jQuery);
</script>
<script>
function isEditNotice(value, row, index){
    return true;
}

</script>