@args String courseId,
TbTeacherEvalutionEntity course,
MeasurementTeacherEntity measure,
String pageType,
Boolean isOnlyView = false,
String type
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
    com.cloudsoaring.web.teacherevalution.entity.TbTeacherEvalutionEntity;
    com.cloudsoaring.web.teacherevalution.entity.*;
    java.lang.*;
}
@{
    List questionTemp = null;
    if(measure != null) {
        questionTemp = measure.getQuestionList();
    }
    final List question = questionTemp;
    String width="";
    if(type=="manager"){
        width="60%";
    }else{
        width="100%";
    }
   String margin="";
    if(type=="manager"){
        margin="50px";
    }else{
        margin="0px";
    }
    final String marginLeft=margin;
}

<div style="width:@width;height:100%;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:50px;">
	@form("file-form"){
	     <div class="row">
	       @input(label:"问卷调查名称", name:"title", groupcss:"col-10",  maxlength:"200",required:true, value:measure.getTitile())
	       @hidden(id:"courseId",  value: courseId)
	       @hidden(id:"id",  value: measure.getId())
	     </div>
	}

	  <div  style="display:table;width: 100%;">
         @question_teacher_list(questFormName:"questionForm", questionList:question,  disabled:false, type:"2")    
       </div>
	@btnbox(css:"col-10"){
	    @button_save(width:100)
	    @button_close(width:100, onclick:"closeWindow")
	}
	<div class="clearfix"></div>
</div>
<script type="text/javascript">
     $(function(){
        //Validator
        $('#file-form').bootstrapValidator({
        });
         @if(question==null||question.size()==0){
            questionForm.addQueset();
         }
         
    });
    function closeWindow() {
      //  window.close();
       window.history.go(-1);
    }
     function save() {
        questionForm.bootstrapValidator();
        $('#file-form').bootstrapValidator('validate');
        var validate = questionForm.isValid()
            && $('#file-form').data('bootstrapValidator').isValid();
        var params = new FormData($('#file-form')[0]);   
       
        if(validate){     
	        var baseInfo = $('#base-form').serializeObject();
	        baseInfo.linkId = getValue($('#courseId'));
	        baseInfo.titile = getValue($('#title'));
	        baseInfo.id = getValue($('#id'));
	        baseInfo.questionList = questionForm.getQuestionList();            
	        params.append("measureJson", JSON.stringify(baseInfo));
	         $.ajax({ 
	             url: "@url("/pub/teacherevalution/saveMeasure.action")",
	             data:params,
	             method:"post",  
	             bodyMsg:true,
	             mask:true,
	             /** 
	              *必须false才会自动加上正确的Content-Type 
	              */
	             contentType:false,  
	             /** 
	              * 必须false才会避开jQuery对 formdata 的默认处理 
	              * XMLHttpRequest会对 formdata 进行正确的处理 
	              */  
	             processData:false, 
	             success: function(result){
	                 success("@MessageUtil.getMessage(CourseMsgNames.CENTER_SAVE_SUCCESS)", function(){
	                	 parent.location.reload();
	                 });
	             }
	         });
	    }
    }
   
   
</script>


