@extends(common, title:MessageUtil.getMessage(MsgNames.MSG_SESSION_TIMEOUT))


<body style="height:100%; padding:10px">
	<div class="container">
		<div class="clearfix" id="body-content" style="height:100%">
		<div id="content-block">
			<div class="panel panel-danger">
			       <div class="panel-body alert-warning">
					  <b><h class="dm-fa-lg fa-frown-o">&nbsp;@MessageUtil.getMessage(MsgNames.MSG_SORRE_AGIN_LOGIN)：</h></b>
					  <br/>
					  <br/>
					  <p>
				          <a class="btn btn-warning" role="button" href="#" onclick="javascript:parent.window.location.href='@url("/login.action")'">@MessageUtil.getMessage(MsgNames.MSG_LOGIN_TO)</a>
					  </p>
			       </div>
			</div>
		</div>
	</div>
	</div>
</body>
		