@args String queUrl = "",String submitUrl = "",String clickId = ""

<div id="meacontent" style="margin-top:20px;padding-left:5px;width:100%;min-height:100px;background-color:#fff;overflow:hidden;">
	
</div>

@assign("meaqustion"){
	<div class="testquestion" style="width:100%;color:#999999;line-height:30px;">
		<input class="quesid" type="hidden" value="%quesid"/>
		<span style="float:left;">%num.</span>
		<p style="margin-left:35px;text-align:left;">%question&nbsp;（%type）&nbsp;%useranswer&nbsp;%showright</p>
		%select
	</div>
}

@assign("useranswer"){
	（<span class="userchecked" style="color:#E84D3B;font-weight:bold;">%abc</span>）
}

@assign("showright"){
	<i style="color:green;" class="gh gh-ok"></i>
}

@assign("selectoption"){
	%input
	<p style="text-align:left;line-height:30px;margin-left:35px;">
		<span>%abc：&nbsp;&nbsp;%optioncontent</span>
	</p>
}

@assign("signleselect"){
	<input style="float:left;margin-top:8px;" type="radio" name="selectoption_%num" value="%value" onclick="changeValue(%index)">
}
@assign("moreselect"){
	<input style="float:left;margin-top:8px;" type="checkbox" name="selectoption_%num" value="%value" onclick="changeValue(%index)">
}
@assign("selecticon"){
	<i style="float:left;margin-top:6px;color:%color;" class="glyphicon glyphicon-record"></i>
}

@assign("meabtn"){
<p style="text-align:center;margin-top:20px;">
	<button id="btn_show_answer" onclick="showMeasurementAnswer()" class="btn btn-danger %showanswerclass" style="background-color:#E84D3B;width:150px;margin-right:20px;%displayshowanswer">@MessageUtil.getMessage(TpMsgNames.COURSE_SHOW_ANSWER)</button>
	<button id="btn_remeasurement" onclick="remeasurement()" class="btn btn-danger" style="background-color:#E84D3B;width:150px;margin-left:20px;%displayresurement">@MessageUtil.getMessage(TpMsgNames.COURSE_RE_MEASUREMENT)</button>
	<button id="btn_submit_measurement" onclick="submitMeasurement()" class="btn btn-danger" style="background-color:#E84D3B;width:150px;margin-left:20px;%displaysubmit">@MessageUtil.getMessage(TpMsgNames.COURSE_SUBMIT_MEASUREMENT)</button>
<p>
}

<script>
	var abc = new Array();
	abc.push("A");
	abc.push("B");
	abc.push("C");
	abc.push("D");
	var activeColor = "#E84D3B";
	var normalColor = "#999";
	var greenColor = "green";
	var measureId = '';
	var data = null;
	$(function(){
		$("#@clickId").on('click',function(){
			//console.log("点击了测试");
			//测试区域初始化
			$.ajax({
				url:"@queUrl",
				type:"post",
				showMsg:false,
				success:function(result){
					if(result.data==null || result.data.length==0){
						//没有测试
						$("#meacontent").html('<p style="line-height:50px;color:#999;">@MessageUtil.getMessage(TpMsgNames.NO_MEASUREMENT)</p>');
					}else{
						data = result.data;
						//判断用户是否答过题
						var userMeasurement = false;//未答过题
						var objs = result.data;
						$(objs).each(function(index){
							if(this.userAnswerId != null && this.userAnswerId != ''){
								userMeasurement = true;//用户答过题
							}
						});
						if(userMeasurement){
							//用户答过题，显示用户答题情况
							showUserMeasurement(objs);
						}else{
							//用户未答过题，让用户答题
							var str = getRemeasurement(objs);
							$("#meacontent").html(str);
						}
					}
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		});
	});
	
	
	//显示用户答题情况
	function showUserMeasurement(data){
		//如果data为空，则重新发起请求获得题目和选项
		if(data==null){
			$.ajax({
				url:"@queUrl",
				type:"post",
				showMsg:false,
				success:function(result){
					if(result.status){
						var objs = result.data;
						//调用方法获得HTML字符串
						var str = getUserMeasurementStr(objs);
						$("#meacontent").html(str);
					}
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		}else{
			//调用方法获得HTML字符串
			var str = getUserMeasurementStr(data);
			$("#meacontent").html(str);
		}
	}
	
	//返回显示用户答题情况的字符串
	function getUserMeasurementStr(data){
		var str = '';
		$(data).each(function(index){
			var obj = data[index];
			var opts = obj.options;
			measureId = obj.measureId;
			var type = '';
			if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_RADIO'){
				type="@MessageUtil.getMessage(TpMsgNames.SIGLE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_MULT'){
				type="@MessageUtil.getMessage(TpMsgNames.MORE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_JUDGMENT'){
				type="@MessageUtil.getMessage(TpMsgNames.JUDGMENT)";
			}
			//题目字符串
			var questionStr = '@es(meaqustion).raw()';
			//选项字符串
			var optionsStr = '';
			//用户选择的A、B、C、D
			var userAnswerStr = '';
			$(opts).each(function(ii){
				var opt = opts[ii];
				if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id) != -1){
					userAnswerStr += abc[ii]+"、";
				}
				var selectIconStr = '';
				if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_MULT'){
					//多选题
					if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id) != -1){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,activeColor);
					}else{
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,normalColor);
					}
					optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
					if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_JUDGMENT'){
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}else{
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}
				}else{
					//单选或判断
					if(opt.id == obj.userAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,activeColor);
					}else{
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,normalColor);
					}
					optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
					if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_JUDGMENT'){
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}else{
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}
				}
			});
			if(userAnswerStr!=''){
				userAnswerStr = userAnswerStr.substring(0, userAnswerStr.length-1);
			}
			str += questionStr.replace(/%num/g,(index+1)).replace(/%quesid/g,'').replace(/%question/g,obj.content).replace(/%type/g,type).replace(/%useranswer/g,'@es(useranswer).raw()'.replace(/%abc/g,userAnswerStr)).replace(/%showright/g,'').replace(/%select/g,optionsStr);
		});
		var btnStr = '@es(meabtn).raw()'.replace(/%displayshowanswer/g,'').replace(/%showanswerclass/g,'').replace(/%displayresurement/g,'').replace(/%displaysubmit/g,'display:none');
		str += btnStr;
		return str;
	}
	
	//获取显示答案的HTML字符串
	function getShowAnswerStr(data){
		var str = '';
		$(data).each(function(index){
			var obj = data[index];
			var opts = obj.options;
			measureId = obj.measureId;
			var type = '';
			if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_RADIO'){
				type="@MessageUtil.getMessage(TpMsgNames.SIGLE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_MULT'){
				type="@MessageUtil.getMessage(TpMsgNames.MORE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_JUDGMENT'){
				type="@MessageUtil.getMessage(TpMsgNames.JUDGMENT)";
			}
			//题目字符串
			var questionStr = '@es(meaqustion).raw()';
			//选项字符串
			var optionsStr = '';
			//用户选择的A、B、C、D
			var userAnswerStr = '';
			$(opts).each(function(ii){
				var opt = opts[ii];
				if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id) != -1){
					userAnswerStr += abc[ii]+"、";
				}
				var selectIconStr = '';
				if(obj.questionType == '@MessageUtil.getMessage(TpStateConstants.QUESTION_TYPE_MULT)'){
					//多选题
					if(obj.referenceAnswerId.indexOf(opt.id) == -1){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,normalColor);
					}
					if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id) != -1){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,activeColor);
					}
					if(obj.referenceAnswerId.indexOf(opt.id) != -1){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id)!=-1 && obj.userAnswerId == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
					if(obj.questionType == '@MessageUtil.getMessage(TpStateConstants.QUESTION_TYPE_JUDGMENT)'){
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}else{
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}
				}else{
					if(opt.id != obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,normalColor);
					}
					if(opt.id == obj.userAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,activeColor);
					}
					if(opt.id == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					if(opt.id == obj.userAnswerId && obj.userAnswerId == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
					if(obj.questionType == '@MessageUtil.getMessage(TpStateConstants.QUESTION_TYPE_JUDGMENT)'){
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}else{
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}
				}
			});
			if(userAnswerStr!=''){
				userAnswerStr = userAnswerStr.substring(0,userAnswerStr.length-1);
			}
			var showRight = '';
			if(obj.userAnswerId == obj.referenceAnswerId){
				showRight = '@es(showright).raw()';
			}
			str += questionStr.replace(/%num/g,(index+1)).replace(/%quesid/g,'').replace(/%question/g,obj.content).replace(/%type/g,type).replace(/%useranswer/g,'@es(useranswer).raw()'.replace(/%abc/g,userAnswerStr)).replace(/%showright/g,showRight).replace(/%select/g,optionsStr);
		});
		var btnStr = '@es(meabtn).raw()'.replace(/%displayshowanswer/g,'').replace(/%showanswerclass/g,'disabled').replace(/%displayresurement/g,'').replace(/%displaysubmit/g,'display:none');
		str += btnStr;
		return str;
	}
	
	//显示答案
	function showMeasurementAnswer(){
		if(data==null){
			$.ajax({
				url:"@queUrl",
				type:"post",
				showMsg:false,
				success:function(result){
					if(result.status){
						var str = getShowAnswerStr(result.data);
						$("#meacontent").html(str);
					}
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		}else{
			var str = getShowAnswerStr(data);
			$("#meacontent").html(str);
		}
		
	}
	
	//重新测试
	function remeasurement(){
		if(data==null){
			$.ajax({
				url:"@queUrl",
				type:"post",
				showMsg:false,
				success:function(result){
					if(result.status){
						var str = getRemeasurement(result.data);
						$("#meacontent").html(str);
					}
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		}else{
			var str = getRemeasurement(data);
			$("#meacontent").html(str);
		}
	}
	
	//获取重新测试HTML字符串
	function getRemeasurement(data){
		var str = '';
		$(data).each(function(index){
			var obj = data[index];
			var opts = obj.options;
			measureId = obj.measureId;
			var type = '';
			if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_RADIO'){
				type="@MessageUtil.getMessage(TpMsgNames.SIGLE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_MULT'){
				type="@MessageUtil.getMessage(TpMsgNames.MORE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_JUDGMENT'){
				type="@MessageUtil.getMessage(TpMsgNames.JUDGMENT)";
			}
			//题目字符串
			var questionStr = '@es(meaqustion).raw()';
			//选项字符串
			var optionsStr = '';
			$(opts).each(function(ii){
				var opt = opts[ii];
				var selectIconStr = '';
				if(obj.questionType == '@MessageUtil.getMessage(TpStateConstants.QUESTION_TYPE_MULT)'){
					//多选题
					selectIconStr = '@es(moreselect).raw()'.replace(/%num/g,index).replace(/%value/g,opt.id).replace(/%index/g,index);
				}else{
					//单选题
					selectIconStr = '@es(signleselect).raw()'.replace(/%num/g,index).replace(/%value/g,opt.id).replace(/%index/g,index);
				}
				optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
				if(obj.questionType == '@MessageUtil.getMessage(TpStateConstants.QUESTION_TYPE_JUDGMENT)'){
					optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
				}else{
					optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
				}
			});
			str += questionStr.replace(/%num/g,(index+1)).replace(/%quesid/g,obj.id).replace(/%question/g,obj.content).replace(/%type/g,type).replace(/%useranswer/g,'@es(useranswer).raw()'.replace(/%abc/g,'')).replace(/%showright/g,'').replace(/%select/g,optionsStr);
		});
		var btnStr = '@es(meabtn).raw()'.replace(/%displayshowanswer/g,'').replace(/%showanswerclass/g,'disabled').replace(/%displayresurement/g,'display:none').replace(/%displaysubmit/g,'');
		str += btnStr;
		return str;
	}
	
	//用户改变选择答案
	function changeValue(index){
		var userAnswer = '';
		//"input[name='selectoption_"+index+"']:checked"
		$("input[name='selectoption_"+index+"']").each(function(ii){
			if($(this).is(':checked')){
				userAnswer += abc[ii]+"、";
			}
		});
		if(userAnswer!=''){
			userAnswer = userAnswer.substring(0,userAnswer.length-1);
		}
		$(".userchecked:eq("+index+")").text(userAnswer);
	}
	
	//提交测试
	function submitMeasurement(){
		var questionIds = '';
		var userAnswerIds = '';
		$(".testquestion").each(function(index){
			var id = '';
			$("input[name='selectoption_"+index+"']:checked").each(function(ii){
				id += $(this).val()+",";
			});
			if(id!=''){
				id = id.substring(0,id.length-1);
				//题目id
				var queid = $(".quesid:eq("+index+")").val();
				questionIds += queid+",";
				userAnswerIds += id+";";
			}
		});
		if(questionIds!=''){
			questionIds = questionIds.substring(0,questionIds.length-1);
		}
		if(userAnswerIds!=''){
			userAnswerIds = userAnswerIds.substring(0,userAnswerIds.length-1);
		}
		//提交答案
		$.ajax({
			url:'@submitUrl',
			type:"post",
			showMsg:false,
			data:{measureId:measureId,ids:questionIds,userAnswerIds:userAnswerIds},
			success:function(result){
				if(result.status){
					noticeInfo("@MessageUtil.getMessage(TpMsgNames.SUBMIT_OK)");
					$("#@clickId").click();
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
	}
</script>