@args String startUrl = "",String submitUrl = "",String examListUrl = "",String goal="",String totalGoal="",String examTime = ""

<div class="float-area" style="top: 90px; z-index:90100;margin-right:-280px;display:none;" id="rightcountdown" >
	<div class="float-area-box" style="">
		<div class="spin-icon" onclick="toggleClassShow()" id="rightexamicon" style="width:110px;">
			<span style="color:#fff;font-size:11px;" class="righttimedown"></span>
		</div>
		<div id="rightbody" class="float-area-content" style="background-color:#F3F3F4;margin-left:110px;">
			<div class="body" style="padding:5px 30px;line-height:30px;color:#999999;width:280px;height:160px;"> 
				<div>@MessageUtil.getMessage(TpMsgNames.EXAM_TOTAL_TIME)：<span id="totalcount"></span></div>
				<div>@MessageUtil.getMessage(TpMsgNames.EXAM_HAS_TIME)：<span class="righttimedown"></span></div>
				<div>@MessageUtil.getMessage(TpMsgNames.EXAM_SELECT_NUM)：<span id="alreadyselect">0</span>/<span id="totallength">0</span></div>
				<!-- <div style="text-align:center;"><small style="color:#E84D3B;">未提交按全错计算</small></div> -->
				<div id="rightexamresult"><div id="submitresult" style="text-align:center;margin-top:10px;"><button id="rightsubmit" onclick="submitTest('@MessageUtil.getMessage(TpStateConstants.MEASUERMENT_SUBMIT_TYPE_PC_MANUAL)')" class="btn btn-danger" style="width:150px;background-color:#E84D3B;">@MessageUtil.getMessage(TpMsgNames.SUBMIT)</button></div></div>
			</div>
		</div>
	</div>
</div>

<div style="margin-top:20px;width:100%;background-color:#fff;padding:10px 35px;position:relative;">
	<span class="red_color" style="font-size:16px;font-weight:bold;">@MessageUtil.getMessage(TpMsgNames.EXAM)</span>
	<div style="position:absolute;right:35px;top:10px;font-size:16px;"><span id="countdown"></span></div>
</div>
<div id="measurementcontent" style="margin-top:20px;width:100%;min-height:100px;background-color:#fff;padding:30px 35px;overflow:hidden;">
	<div id="examresult" style="text-align:center;">
			@if(!goal.equals("") && !totalGoal.equals("") && !examTime.equals("")){
				<p style="color:#999999;text-align:left;"><span class="fa fa-edit"></span>@MessageUtil.getMessage(TpMsgNames.TOTAL_QUESTION)&nbsp;@totalGoal&nbsp;@MessageUtil.getMessage(TpMsgNames.TI)，@MessageUtil.getMessage(TpMsgNames.ANSWER_RIGHT)&nbsp;<span style="color:red;">@goal</span>&nbsp;@MessageUtil.getMessage(TpMsgNames.TI)&nbsp;&nbsp;&nbsp;&nbsp;<span style="float:right;"><span class="fa fa-clock-o"></span>@examTime</span></p>
			}else{
				<button id="startTest" onclick="startTest()" class="btn btn-danger" style="background-color:#E84D3B;width:150px;">@MessageUtil.getMessage(TpMsgNames.START_EXAM)</button>
				<div id="test_question" style="color:#999;"></div>
				<button id="submitTest" onclick="submitTest('@MessageUtil.getMessage(TpStateConstants.MEASUERMENT_SUBMIT_TYPE_PC_MANUAL)')" class="btn btn-danger" style="display:none;background-color:#E84D3B;width:150px;margin-top:20px;">@MessageUtil.getMessage(TpMsgNames.SUBMIT)</button>
			}
		
	</div>
</div>
	
@assign("meaqustion"){
	<div class="testquestion" style="width:100%;color:#999999;line-height:30px;">
		<input class="quesid" type="hidden" value="%quesid"/>
		<span style="float:left;">%num.</span>
		<p style="margin-left:35px;text-align:left;">%question&nbsp;（%type）&nbsp;%useranswer&nbsp;</p>
		%select
	</div>
}

@assign("useranswer"){
	（<span class="userchecked useranswers" style="color:#E84D3B;font-weight:bold;">%abc</span>）
}

@assign("selectoption"){
	%input
	<p style="text-align:left;line-height:30px;margin-left:35px;">
		<span>%abc：&nbsp;&nbsp;%optioncontent</span>
	</p>
}

@assign("signleselect"){
	<input style="float:left;margin-top:8px;" type="radio" name="selectoption_%num" value="%value" onclick="changeValue(%index)">
}
@assign("moreselect"){
	<input style="float:left;margin-top:8px;" type="checkbox" name="selectoption_%num" value="%value" onclick="changeValue(%index)">
}
	
<script>
	//倒计时时间(秒)
	var counttime = 0;
	var abc = new Array();
	abc.push("A");
	abc.push("B");
	abc.push("C");
	abc.push("D");
	var measureId = '';
	var oldDate = 0;
	var totalms = 0;
	//开始考试
	function startTest(){
		//请求考试
		$.ajax({
			url:'@startUrl',
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.status){
					//请求考试题目
					counttime = result.data;
					totalms = result.data;
					//计时开始的一刻
					oldDate = new Date().getTime();
					getQuestion();
					countdown();
					//设置总时长
					var totalText = getTotalTime(measureDuration);
					$("#totalcount").html(totalText);
					$("#rightcountdown").show();
				}
			},
			fail:function(result){
				$("#examresult").html('<p style="color:#999999;text-align:left;">'+result.messages+'</p>');
				noticeInfo(result.messages);
			}
		});
	}
	
	//根据分钟数计算时分秒
	function getTotalTime(count){
		var totalTime = count*60;
		if(totalTime >= 0){
			var ms = totalTime%60;//余数 89%60==29秒
			var mis = Math.floor(totalTime/60);//分钟
			if(mis >= 60){
				var hour=Math.floor(mis/60);
				mis=Math.floor((totalTime-hour*60*60)/60);
				//时分秒
				return hour + '&nbsp;@MessageUtil.getMessage(TpMsgNames.HOUR)&nbsp;' + mis + '&nbsp;@MessageUtil.getMessage(TpMsgNames.MINS)&nbsp;' + ms + '&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)';
			}else if(mis >= 1){
				//分秒
				return mis + '&nbsp;@MessageUtil.getMessage(TpMsgNames.MINS)&nbsp;' + ms + '&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)';
			}else{
				return ms + '&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)';
			}
		}else{
			return "";
		}
	}
	//第一次执行时
	var firstFlag = true;
	//倒计时
	function countdown(){
		if(counttime >= 0){
        	var ms = counttime%60;//余数 89%60==29秒
        	var mis = Math.floor(counttime/60);//分钟
        	if(firstFlag){
        		var hour = 0;
        		if(mis >= 60){
        			hour=Math.floor(mis/60);
        			mis=Math.floor((counttime-hour*60*60)/60);
        		}
        		var str = ms+"秒";
        		if(mis>0){
        			str = mis+"分"+str;
        		}
        		if(hour>0){
        			str = hour+"时"+str;
        		}
        		noticeInfo("剩余考试时间"+str);
        		firstFlag = false;
        	}
        	if(mis>=60){
        		var hour=Math.floor(mis/60);
				mis=Math.floor((counttime-hour*60*60)/60);
				document.getElementById("countdown").innerHTML = '@MessageUtil.getMessage(TpMsgNames.COUNT_DOWN)：<font style="color:#E84D3B">' + hour + '</font>&nbsp;@MessageUtil.getMessage(TpMsgNames.HOUR)<font style="color:#E84D3B">' + mis + '</font>&nbsp;@MessageUtil.getMessage(TpMsgNames.MINS)<font style="color:#E84D3B">' + ms + '</font>&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)';
        		//右侧倒计时
        		//$(".righttimedown:eq(0)").text(hour+":"+mis+":"+ms);
        		$(".righttimedown").html(hour + '&nbsp;@MessageUtil.getMessage(TpMsgNames.HOUR)&nbsp;' + mis + '&nbsp;@MessageUtil.getMessage(TpMsgNames.MINS)&nbsp;' + ms + '&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)');
        	}else if(mis>=1){
        		document.getElementById("countdown").innerHTML = '@MessageUtil.getMessage(TpMsgNames.COUNT_DOWN)：<font style="color:#E84D3B">' + mis + '</font>&nbsp;@MessageUtil.getMessage(TpMsgNames.MINS)<font style="color:#E84D3B">' + ms + '</font>&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)';
	        	//右侧倒计时
	        	//$(".righttimedown:eq(0)").text(mis+":"+ms);
        		$(".righttimedown").html(mis + '&nbsp;@MessageUtil.getMessage(TpMsgNames.MINS)&nbsp;' + ms + '&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)');
	        }else{
	        	document.getElementById("countdown").innerHTML = '@MessageUtil.getMessage(TpMsgNames.COUNT_DOWN)：<font style="color:#E84D3B">' + ms + '</font>&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)';
	        	//右侧倒计时
	        	//$(".righttimedown:eq(0)").text(ms);
        		$(".righttimedown").html(ms + '&nbsp;@MessageUtil.getMessage(TpMsgNames.SECONDS)');
	        }
	        if(counttime==300){
	        	noticeInfo("@MessageUtil.getMessage(TpMsgNames.LAST_TEN_MINS)");
	        }else if(counttime==30){
	        	noticeInfo("@MessageUtil.getMessage(TpMsgNames.LAST_ONE_MINS)");
	        }
 			//当前时间戳
 			var newDate = new Date().getTime();
 			//计算剩余秒数
 			counttime = totalms - Math.floor((newDate-oldDate)/1000);
			tt =  window.setTimeout("countdown()",1000);
		}else{
			//倒计时结束
			noticeInfo("@MessageUtil.getMessage(TpMsgNames.EXAM_OVER)");
			$("#submitTest").addClass("disabled");
			$("#rightsubmit").addClass("disabled");
			$("#rightexamicon").html('<span class="gh gh-time"></span>');
			//倒计时结束，自动提交
			submitTest("@MessageUtil.getMessage(TpStateConstants.MEASUERMENT_SUBMIT_TYPE_PC_AUTO)");
		}
	}
	

	//请求考试题目
	function getQuestion(){
		$.ajax({
			url:'@examListUrl',
			type:'post',
			showMsg:false,
			success:function(result){
				if(result.status){
					$("#startTest").hide();
					if(result.data==null||(result.data).length==0){
						//无考试题目
						$("#test_question").html('<p style="line-height:50px;color:#999;text-align:left;">@MessageUtil.getMessage(TpMsgNames.NO_EXAM)</p>');
					}else{
						var str = getRemeasurement(result.data);
						$("#test_question").html(str);
						$("#submitTest").show();
						$("#totallength").text(result.data.length);
					}
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
	}
	
	//获取重新测试HTML字符串
	function getRemeasurement(data){
		var str = '';
		$(data).each(function(index){
			var obj = data[index];
			var opts = obj.options;
			measureId = obj.measureId;
			var type = '';
			if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_RADIO'){
				type="@MessageUtil.getMessage(TpMsgNames.SIGLE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_MULT'){
				type="@MessageUtil.getMessage(TpMsgNames.MORE_SELECT)";
			}else if(obj.questionType == '@TpStateConstants.QUESTION_TYPE_JUDGMENT'){
				type="@MessageUtil.getMessage(TpMsgNames.JUDGMENT)";
			}
			//题目字符串
			var questionStr = '@es(meaqustion).raw()';
			//选项字符串
			var optionsStr = '';
			$(opts).each(function(ii){
				var opt = opts[ii];
				var selectIconStr = '';
				if(obj.questionType == '@MessageUtil.getMessage(TpStateConstants.QUESTION_TYPE_MULT)'){
					//多选题
					selectIconStr = '@es(moreselect).raw()'.replace(/%num/g,index).replace(/%value/g,opt.id).replace(/%index/g,index);
				}else{
					//单选题
					selectIconStr = '@es(signleselect).raw()'.replace(/%num/g,index).replace(/%value/g,opt.id).replace(/%index/g,index);
				}
				optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
				if(obj.questionType == '@MessageUtil.getMessage(TpStateConstants.QUESTION_TYPE_JUDGMENT)'){
					optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
				}else{
					optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
				}
			});
			str += questionStr.replace(/%num/g,(index+1)).replace(/%quesid/g,obj.id).replace(/%question/g,obj.content).replace(/%type/g,type).replace(/%useranswer/g,'@es(useranswer).raw()'.replace(/%abc/g,'')).replace(/%select/g,optionsStr);
		});
		return str;
	}
	
	//用户答题数
	function getUserSelectCount(){
		$("#alreadyselect").text(getUserSelectCountValue());
	}
	
	//得到用户答题数
	function getUserSelectCountValue(){
		var userSelectCount = 0;
		$(".useranswers").each(function(index){
			var txt = $(".useranswers:eq("+index+")").text();
			if(txt !=''){
				userSelectCount += 1;
			}
		});
		return userSelectCount;
	}
	
	//用户改变选择答案
	function changeValue(index){
		var userAnswer = '';
		var questionId = $(".quesid:eq("+index+")").val();
		var uAnswer = "";
		//"input[name='selectoption_"+index+"']:checked"
		$("input[name='selectoption_"+index+"']").each(function(ii){
			if($(this).is(':checked')){
				userAnswer += abc[ii]+"、";
				uAnswer += $(this).val()+",";
			}
		});
		if(userAnswer!=''){
			userAnswer = userAnswer.substring(0,userAnswer.length-1);
		}
		if(uAnswer!=''){
			uAnswer = uAnswer.substring(0,uAnswer.length-1);
		}
		$(".userchecked:eq("+index+")").text(userAnswer);
		getUserSelectCount();
		submitAutoSingle(questionId,uAnswer);
	}
	
	//用户改变选项时自动提交一次答案
	function submitAutoSingle(questionId,uAnswer){
		//提交答案
		$.ajax({
			url:'@submitUrl',
			type:"post",
			showMsg:false,
			data:{measureId:measureId,ids:questionId,userAnswerIds:uAnswer,submitType:"@MessageUtil.getMessage(TpStateConstants.MEASUERMENT_SUBMIT_TYPE_PC_PROCESS_SUBMIT)"},
			success:function(result){
				
			},
			fail:function(result){
				
			}
		});
	}
	
	//提交考试
	function submitTest(autoSubmit){
		
		var questionIds = '';
		var userAnswerIds = '';
		$(".testquestion").each(function(index){
			var id = '';
			$("input[name='selectoption_"+index+"']:checked").each(function(ii){
				id += $(this).val()+",";
			});
			if(id!=''){
				id = id.substring(0,id.length-1);
			}
			//题目id
			var queid = $(".quesid:eq("+index+")").val();
			questionIds += queid+",";
			userAnswerIds += id+";";
		});
		if(questionIds!=''){
			questionIds = questionIds.substring(0,questionIds.length-1);
		}
		if(userAnswerIds!=''){
			userAnswerIds = userAnswerIds.substring(0,userAnswerIds.length-1);
		}
		var submitType = autoSubmit;
		//手工提交不允许有题未答
		if(submitType == "1") {
			var totallength = toNumber($("#totallength").text());
			var userSelectCountValue = getUserSelectCountValue();
			if(userSelectCountValue < totallength) {
				bodyError("@MessageUtil.getMessage("还剩%s道题未答")".format((totallength - userSelectCountValue).toString()));
				return;
			}
		}
		//停止计时
		if(autoSubmit=='@MessageUtil.getMessage(TpStateConstants.MEASUERMENT_SUBMIT_TYPE_PC_AUTO)'){
			clearTimeout(tt);
		}
		//提交答案
		$.ajax({
			url:'@submitUrl',
			type:"post",
			showMsg:false,
			data:{measureId:measureId,ids:questionIds,userAnswerIds:userAnswerIds,submitType:submitType},
			success:function(result){
				if(result.status){
					noticeSuccess("@MessageUtil.getMessage(TpMsgNames.SUBMIT_OK)");
					$("#submitTest").hide();
					$("#countdown").hide();
					$("#measurementcontent").html('<p style="color:#999;">@MessageUtil.getMessage(TpMsgNames.SUBMIT_OK)，@MessageUtil.getMessage(TpMsgNames.TOTAL_QUESTION)&nbsp;'+result.data.questionCount+'&nbsp;@MessageUtil.getMessage(TpMsgNames.TI)，@MessageUtil.getMessage(TpMsgNames.ANSWER_RIGHT)&nbsp;'+result.data.goal+'&nbsp;@MessageUtil.getMessage(TpMsgNames.TI)</p>');
					$("#rightexamresult").html('@MessageUtil.getMessage(TpMsgNames.SUBMIT_OK)，@MessageUtil.getMessage(TpMsgNames.TOTAL_QUESTION)&nbsp;'+result.data.questionCount+'&nbsp;@MessageUtil.getMessage(TpMsgNames.TI)，@MessageUtil.getMessage(TpMsgNames.ANSWER_RIGHT)&nbsp;'+result.data.goal+'&nbsp;@MessageUtil.getMessage(TpMsgNames.TI)');
					$("#rightexamicon").html('<span class="gh gh-time"></span>');
					
					//停止计时
					if(autoSubmit!='@MessageUtil.getMessage(TpStateConstants.MEASUERMENT_SUBMIT_TYPE_PC_AUTO)'){
						clearTimeout(tt);
					}
				}
			},
			fail:function(result){
				$("#measurementcontent").html('<p style="color:#999;">'+result.messages+'</p>');
				$("#rightexamresult").html(""+result.messages);
				$("#rightexamicon").html('<span class="gh gh-time"></span>');
				noticeError(result.messages);
			}
		});
	}
	
	//右侧倒计时
	function toggleClassShow(){
		if($("#rightcountdown").hasClass("show")){
			//$("#rightbody").css("margin-right","-250px");
			$("#rightcountdown").removeClass("show");
			　$("#rightcountdown").animate({marginRight:"-280px"},500);
		}else{
			//$("#rightbody").css("margin-right","0px");
			$("#rightcountdown").addClass("show");
			$("#rightcountdown").animate({marginRight:"0px"},500);
		}
	}
</script>