@args String queUrl = ""
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
}
<div id="meacontent" style="margin-top:20px;padding-left:5px;width:100%;min-height:100px;background-color:#fff;overflow:hidden;">
	
</div>

@assign("meaqustion"){
	<div class="testquestion" style="width:100%;color:#999999;line-height:30px;">
		<input class="quesid" type="hidden" value="%quesid"/>
		<span style="float:left;">%num.</span>
		<p style="margin-left:35px;text-align:left;">%question&nbsp;（%type）&nbsp;%useranswer&nbsp;%showright</p>
		%select
	</div>
}

@assign("useranswer"){
	（<span class="userchecked" style="color:#E84D3B;font-weight:bold;">%abc</span>）
}

@assign("showright"){
	<i style="color:green;" class="gh gh-ok"></i>
}

@assign("selectoption"){
	%input
	<p style="text-align:left;line-height:30px;margin-left:35px;">
		<span>%abc：&nbsp;&nbsp;%optioncontent</span>
	</p>
}

@assign("tkoption"){
	%input
	<p style="text-align:left;line-height:30px;margin-left:35px;">
		<span>&nbsp;&nbsp;%optioncontent</span>
	</p>
}

@assign("signleselect"){
	<input style="float:left;margin-top:8px;" type="radio" name="selectoption_%num" value="%value" onclick="changeValue(%index)">
}
@assign("moreselect"){
	<input style="float:left;margin-top:8px;" type="checkbox" name="selectoption_%num" value="%value" onclick="changeValue(%index)">
}
@assign("selecticon"){
	<i style="float:left;margin-top:6px;color:%color;" class="glyphicon glyphicon-record"></i>
}



<script>
	var abc = new Array();
	abc.push("A");
	abc.push("B");
	abc.push("C");
	abc.push("D");
	abc.push("E");
	abc.push("F");
	var activeColor = "#E84D3B";
	var normalColor = "#999";
	var greenColor = "green";
	var measureId = '';
	var data = null;
	$(function(){
		//测试区域初始化
		$.ajax({
			url:"@queUrl",
			type:"post",
			showMsg:false,
			success:function(result){
				if(result.data==null || result.data.length==0){
					//没有测试
					$("#meacontent").html('<p style="line-height:50px;color:#999;">@MessageUtil.getMessage("没有测试")</p>');
				}else{
					data = result.data;
					//判断用户是否答过题
					var userMeasurement = false;//未答过题
					var objs = result.data;
					if(objs && objs.length != 0){
						userMeasurement = (objs[0].userMeasurementFlag == '1');
					}
					if(userMeasurement){
						//用户答过题，显示用户答题情况
						//showUserMeasurement(objs);
						showMeasurementAnswer();
					}else{
						//用户未答过题，让用户答题
						$("#meacontent").html('<p style="line-height:50px;color:#999;">用户尚未参加测试！</p>');
					}
				}
			},
			fail:function(result){
				noticeError(result.messages);
			}
		});
	});
	
	

	
	//获取显示答案的HTML字符串
	function getShowAnswerStr(data){
		var str = '';
		$(data).each(function(index){
			var obj = data[index];
			var opts = obj.options;
			measureId = obj.measureId;
			var type = '';
			if(obj.questionType == '@CourseStateConstants.QUESTION_TYPE_RADIO'){
				type="@MessageUtil.getMessage(CourseMsgNames.SIGLE_SELECT)";
			}else if(obj.questionType == '@CourseStateConstants.QUESTION_TYPE_MULT'){
				type="@MessageUtil.getMessage(CourseMsgNames.MORE_SELECT)";
			}else if(obj.questionType == '@CourseStateConstants.QUESTION_TYPE_JUDGMENT'){
				type="@MessageUtil.getMessage(CourseMsgNames.JUDGMENT)";
			}
			//题目字符串
			var questionStr = '@es(meaqustion).raw()';
			//选项字符串
			var optionsStr = '';
			//用户选择的A、B、C、D
			var userAnswerStr = '';
			$(opts).each(function(ii){
				var opt = opts[ii];
				if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id) != -1){
					userAnswerStr += abc[ii]+"、";
				}
				var selectIconStr = '';
				if(obj.questionType == '@MessageUtil.getMessage(CourseStateConstants.QUESTION_TYPE_MULT)'){
					//多选题
					if(obj.referenceAnswerId.indexOf(opt.id) == -1){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,normalColor);
					}
					if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id) != -1){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,activeColor);
					}
					if(obj.referenceAnswerId.indexOf(opt.id) != -1){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					if(obj.userAnswerId && obj.userAnswerId.indexOf(opt.id)!=-1 && obj.userAnswerId == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
					if(obj.questionType == '@MessageUtil.getMessage(CourseStateConstants.QUESTION_TYPE_JUDGMENT)'){
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}else{
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}
				}else if(obj.questionType == '@MessageUtil.getMessage(CourseStateConstants.QUESTION_TYPE_RADIO)'){
					if(opt.id != obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,normalColor);
					}
					if(opt.id == obj.userAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,activeColor);
					}
					if(opt.id == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					if(opt.id == obj.userAnswerId && obj.userAnswerId == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					optionsStr += '@es(selectoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
					if(obj.questionType == '@MessageUtil.getMessage(CourseStateConstants.QUESTION_TYPE_JUDGMENT)'){
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}else{
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}
				}else{
					if(opt.id != obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,normalColor);
					}
					if(opt.id == obj.userAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,activeColor);
					}
					if(opt.id == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					if(opt.id == obj.userAnswerId && obj.userAnswerId == obj.referenceAnswerId){
						selectIconStr = '@es(selecticon).raw()'.replace(/%color/g,greenColor);
					}
					optionsStr += '@es(tkoption).raw()'.replace(/%input/g, selectIconStr).replace(/%optioncontent/g,opt.content);
					if(obj.questionType == '@MessageUtil.getMessage(CourseStateConstants.QUESTION_TYPE_RADIO)' || obj.questionType == '@MessageUtil.getMessage(CourseStateConstants.QUESTION_TYPE_MULT)'){
						optionsStr = optionsStr.replace(/%abc/g,abc[ii]);
					}
				}
			});
			if(userAnswerStr!=''){
				userAnswerStr = userAnswerStr.substring(0,userAnswerStr.length-1);
			}
			var showRight = '';
			if(obj.userAnswerId == obj.referenceAnswerId){
				showRight = '@es(showright).raw()';
			}
			str += questionStr.replace(/%num/g,(index+1)).replace(/%quesid/g,'').replace(/%question/g,obj.content).replace(/%type/g,type).replace(/%useranswer/g,'@es(useranswer).raw()'.replace(/%abc/g,userAnswerStr)).replace(/%showright/g,showRight).replace(/%select/g,optionsStr);
		});
		
		return str;
	}
	
	//显示答案
	function showMeasurementAnswer(){
		if(data==null){
			$.ajax({
				url:"@queUrl",
				type:"post",
				showMsg:false,
				success:function(result){
					if(result.status){
						var str = getShowAnswerStr(result.data);
						$("#meacontent").html(str);
					}
				},
				fail:function(result){
					noticeError(result.messages);
				}
			});
		}else{
			var str = getShowAnswerStr(data);
			$("#meacontent").html(str);
		}
		
	}
	
	
</script>