@args String questFormName="questionForm", 
List questionList,
Boolean isDelQuestionAll = false,
Boolean disabled = false
@import(){  
    com.cloudsoaring.web.course.constant.CourseStateConstants;
    com.cloudsoaring.web.course.constant.CourseMsgNames;
}
	@{
		final String id = StringUtil.uuid();
	}

	@assign("questionTemplate"){
		<div id="%id" name="questionDiv"  class="question-div">
			@row(css:"question-title")
			{
				@group(label:" "){
					<span name="questionContent">@MessageUtil.getMessage(CourseMsgNames.CENTER_TOPIC)%num</span>&nbsp;&nbsp;
					@if(!disabled) {
						<a onClick="@(questFormName)addQueset('%preOptionId')" >@MessageUtil.getMessage("添加题目")</a>&nbsp;
						<a onClick="@(questFormName)delQueset('%preOptionId')"id="delbtn%preOptionId" >@MessageUtil.getMessage(CourseMsgNames.CENTER_DELETE)</a>&nbsp;
					}
				}
			}
			@row()
			{
				@textarea(label:MessageUtil.getMessage(CourseMsgNames.CENTER_THE_PROBLEM), name:"content%id", rows:4, placeholder:MessageUtil.getMessage(CourseMsgNames.CENTER_PLEASE_ENTER_A_QUESTION),groupcss:"col-10",required:true, maxlength:"200", disabled:disabled)
			}
			@combobox(label:MessageUtil.getMessage("问题类型"),name:"questionType%id",lazyValue:"%questionType",groupcss:"col-10"
				,options:"[{value:1, text:'单选'},{value:2, text:'多选'}]"
				,required:true, popplace:"right", onChange:(questFormName + "typeChange"), disabled:disabled)
			@*div + combobox的ID*@
			@div("divquestionType%id") {
				<div id="answerDiv%id">
					%answer
				</div>
				<div id="optionDiv%id">
					%optionDiv
				</div>
			}
		</div>
		%runFun
	}
	@assign("runFunction"){
		<script>
			$(function(){
				(@(questFormName)runFunctions['%funNo'].funName)(@(questFormName)runFunctions['%funNo'].Args);
			});
		</script>
	}
	@assign("oneOption"){
		@row(css:"row%OIDoption%id"){
			@input(label:"%optionLabel", id:"%OIDoption%id", name:"option%id",groupcss:"col-10", maxlength:"200",required:true, disabled:disabled)
			<div><a name="removeOptionBtn%id" onclick="removeOption@(questFormName)('%id', '%OIDoption%id')">删除</a> </div>
		}
	}
	@assign("answerSelect"){
		@row(){
			@combobox(label:MessageUtil.getMessage(CourseMsgNames.CENTER_CORRECT_OPTION),name:"answerNo%id",groupcss:"col-10"
				,options:"[{value:0, text:'A'}]"
				,required:true, popplace:"right", disabled:disabled)
			<div><a name="addOptionBtn%id" onclick="addOption@(questFormName)('%id', '%preId')">添加</a> </div>
		}
	}
	@assign("answerSelectMutle"){
		@row(){
			@combobox(label:MessageUtil.getMessage(CourseMsgNames.CENTER_CORRECT_OPTION),name:"answerNo%id",groupcss:"col-10"
				,options:"[{value:0, text:'A'}]"
				,required:true, popplace:"right",multiple:true, disabled:disabled)
			<div><a name="addOptionBtn%id" onclick="addOption@(questFormName)('%id', '%preId')">添加</a> </div>
		}
	}
	@form(questFormName){
		<script>
			$('#questionForm').bootstrapValidator();
		</script>
	}

<script>
	

	var @(questFormName) = {
		"getQuestionList" : @(questFormName)_getQuestionList,
		"bootstrapValidator": function(){
			return $('#@(questFormName)').bootstrapValidator('validate');
		},
		"isValid":function(){
			 return $('#@(questFormName)').data('bootstrapValidator').isValid();
		},
		"addQueset":@(questFormName)addQueset
	}
	$(function(){
		 @if(questionList != null && questionList.size() != 0) {
        	var questionListJs = @JsonLib.toJson(questionList).raw();
        	for(var i = 0; i < questionListJs.length; i++) {
        		@(questFormName)addQueset("", questionListJs[i]);
        	}
        }
	})
	
	//类型切换
	function @(questFormName)typeChange(questionType, questionTypeId) {
		var questionId = questionTypeId.replace(/questionType/g, '');
		
		@(questFormName)_validator("removeField", questionId);
		var answerSelectHtml =@(questFormName)_getAnswerSelectHtml(questionId, '');
		var optionHtml = @(questFormName)getOneOptionHtml(questionId, 0);
		$("#answerDiv"+ questionId).html(answerSelectHtml);
		$("#optionDiv"+ questionId).html(optionHtml);
		//添加校验
		@(questFormName)_validator("addField", questionId);
	}
	
	//获取单个选项的内容
	function @(questFormName)getOneOptionHtml(questionId, optionNo){
		return oneHtml = "@es(oneOption).raw()"
				.replace(/%OID/g, optionNo)
				.replace(/%id/g, questionId)
				.replace(/%optionLabel/g, "选项"+(optionNo+1));
	}
	//删除选项
	function @(questFormName)delQueset(optionId) {
		@if(!isDelQuestionAll) {
			if($('[name=questionDiv]').length == 1) {
				warning("@MessageUtil.getMessage(CourseMsgNames.CENTER_LAST_QUESTION_NOT_DELETED)")
				return;
			} 
		}
		@(questFormName)_validator("removeField", optionId);
		$('#'+ optionId).detach();
		@(questFormName)_reFlashQuetionNo();
	}
	
	
	
	//必须在页面加载完成后运行
	function @(questFormName)_validator(methodName, optionId){
		var names = ["content%id".replace(/%id/g, optionId),
					 "questionType%id".replace(/%id/g, optionId),
					 "answerNo%id".replace(/%id/g, optionId)];
		$(names).each(function(index){
			var input = $("[name={0}]".format(names[index]));
			if(input.length){
				$("#@questFormName").bootstrapValidator(methodName, names[index]);
			}
		});
		
		$("#@questFormName").bootstrapValidator(methodName, "option%id".replace(/%id/g, optionId));
		
	}
	
	//建立问题
	function  @(questFormName)_getAnswerSelectHtml(questionId, data) {
	
		var answerSelectHtml = "";
		var questionType = '@CourseStateConstants.QUESTION_TYPE_RADIO';
		if(data && data.questionType) {
			questionType = data.questionType;
		}
		if(questionType == '@CourseStateConstants.QUESTION_TYPE_MULT') { 
			answerSelectHtml = '@es(answerSelectMutle).raw()';
		} else {
			answerSelectHtml = '@es(answerSelect).raw()';
		}
		answerSelectHtml = answerSelectHtml
									.replace(/%id/g, questionId)
									.replace(/%preId/g,  '')
									.replace(/%optionId/g, '');
		return answerSelectHtml;
	}
	
	function @(questFormName)_reFlashQuetionNo(){
		$('[name=questionDiv]').each(function(index){
			$(this).find($('[name=questionContent]')).html('题目' + (index+1) );
		});
	}
	
	//得到
	//添加新的选项
	function @(questFormName)addQueset( preOptionId, data){
		//问题ID
		var questionId = @(questFormName)_guid();
		if(data) {
			questionId = data.id;
		}
		
		//当前序号
		var num = 1;
		if($('[name=questionDiv]')[0] != null) {
			num = $('[name=questionDiv]').length + 1;
		}
		//问题内容
		var questionHtml = 
			'@es(questionTemplate).raw()';
		
		var questionType = '@CourseStateConstants.QUESTION_TYPE_RADIO';
		if(data && data.questionType) {
			questionType = data.questionType;
		}
		
		//问题答案处理	
		var answerSelectHtml =@(questFormName)_getAnswerSelectHtml(questionId, data);
		
		//处理选项：初始化或已选中
		var optionHtml = "";
		//实际选项
		var answerSelectData = [];
		//正确答案
		var answer = [];
		
		if(data) {
			//获取正确选项的位置
			var oneHtml = "";
			for(var i = 0; i < data.options.length; i++) {
				var option = data.options[i];
				
				//单个选项内容生成
				oneHtml = @(questFormName)getOneOptionHtml(questionId, i);
				//正确选项
				if(data.referenceAnswerId.indexOf(option.id) != -1) {
					answer.push(i)
				}
				//为正确下拉框设置选项
				var answerSelectOne = new Object;
				answerSelectOne.text = "选项"+ (i + 1);
				answerSelectOne.value= i;
				answerSelectData.push(answerSelectOne);
				optionHtml += oneHtml;
			}
		} else {
			optionHtml = @(questFormName)getOneOptionHtml(questionId, 0);
		}
			
		questionHtml = questionHtml
			.replace(/%answer/g, answerSelectHtml)
			.replace(/%optionDiv/g, optionHtml);
		
		
		questionHtml = questionHtml.replace(/%id/g, questionId)
				.replace(/%num/g, num)
				.replace(/%questionType/g, questionType)
				.replace(/%preOptionId/g, questionId); 
				 
	
		//在html加载后再运行
		var runFuntionId = @(questFormName)_guid();
		@(questFormName)runFunctions[runFuntionId] = {
			Args : [answerSelectData, questionId, answer],
			funName : function(args){
				var answerSelectData = args[0];
				var questionId = args[1];
				var answer = args[2];
				
				//设置下拉框
				if(answerSelectData.length != 0) {
					$("#answerNo"+questionId).selectpicker("reload", answerSelectData, answer.toString());
				}  else {
					var defualtSelectData = [];
					var answerSelectOne = new Object;
					answerSelectOne.text = "选项"+ (0 + 1);
					answerSelectOne.value= 0;
					defualtSelectData.push(answerSelectOne);
					$("#answerNo"+questionId).selectpicker("reload", defualtSelectData, "0");
				}
			}
		
		};
		//设置运行
		questionHtml = questionHtml.replace(/%runFun/g, '@es(runFunction).raw()'.replace(/%funNo/g, runFuntionId));
		
		
		if(preOptionId) {
			$('#'+preOptionId).after(questionHtml);
			@(questFormName)_reFlashQuetionNo();
		} else {
			$('#questionForm').append(questionHtml);
		}
		
		//设置问题选项中要显示的值
		if(data){
			//设置选项值
			for(var i = 0; i < data.options.length; i++) {
				var option = data.options[i];
				setValueAny("#" + i + "option"+ questionId, option.content);
			}
		}
		//添加校验
		@(questFormName)_validator("addField", questionId);
		return questionId;
	}
	
	//存储要运行的函数
	var @(questFormName)runFunctions = [];
	function @(questFormName)_getOptionHtml(questionType) {
		var result = "";
		
		return result;
	}
	//生成GUID
	function @(questFormName)_guid() {
	    function S4() {
	       return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
	    }
	    return (S4()+S4()+S4()+S4()+S4()+S4()+S4()+S4());
	}
	
	//得到页面参数
	function @(questFormName)_getQuestionList(){
		var result = new Array();
		 $('[name=questionDiv]').each(function(index){
		 	var id = $(this).attr('id');
		 	var question = new Object;
		 	
			var elContent = $(this).find($('[name=content%s]'.format(id)))[0];
			question.content = getValue($(elContent));
			question.id = id;
			question.sortOrder = index;
			question.questionType = getValueAny('#questionType' + id)
			var optionList = new Array();
			var elOption = $(this).find($('[name$=option%s]'.format(id)));
			$(elOption).each(function(optionIndex){
				var option = new Object();
				option.sortOrder = optionIndex;
				option.content = getValue($(this));
				optionList.push(option);
			});
			
			question.options = optionList;
			
			var elAnswerNo = $(this).find($('[name=answerNo%s]'.format(id)))[0];
			question.referenceAnswerId = getValue($(elAnswerNo));
			if(question.referenceAnswerId) {
				question.referenceAnswerId = question.referenceAnswerId.toString();
			}
			var elScore = $(this).find($('[name=score%s]'.format(id)))[0];
			question.score = getValue($(elScore));
			
			result.push(question);
		});
		return result;
	}
    	//添加选项
	function addOption@(questFormName)(questionId, preOptionId, questionData){
		var optionDivId = "optionDiv" + questionId;
		var optionLength  = $("[name=option" + questionId + "]").length;
		var oneHtml = "@es(oneOption).raw()"
				.replace(/%OID/g, optionLength)
				.replace(/%id/g, questionId)
				.replace(/%optionLabel/g, "选项"+(optionLength+1));
				
		$("#"+ optionDivId).append(oneHtml);
		
		var answer = getValueAny("#answerNo"+questionId);
		initAnswer@(questFormName)(questionId, answer);
		
		reflashOptionLabel@(questFormName)(questionId);
		//设值
		if(questionData) {
			$(function(){
				//设置选项值
				for(var i = 0; i < questionData.options.length; i++) {
					var option = questionData.options[i];
					setValueAny("#" + i + "option"+ questionId, option.content);
				}
			})
		}
		//刷新校验
		@(questFormName)_validator("removeField", questionId);
		@(questFormName)_validator("addField", questionId);
	}
	
	//删除选项
	function removeOption@(questFormName)(questionId, currentOptionId){
		@(questFormName)_validator("removeField", questionId);
		$(".row"+currentOptionId).remove();
		reflashOptionLabel@(questFormName)(questionId);
		//刷新校验
	
		@(questFormName)_validator("addField", questionId);
	}
	
	//刷新
	function reflashOptionLabel@(questFormName)(questionId){
		var optionName = "option%id".replace(/%id/g, questionId);
		var optionDivId = "optionDiv" + questionId;
		$("#"+optionDivId+" .input-group-label").each(function(index){
			$(this).html("选项"+ (index + 1));
		})
	}
	
	//重新生成正确选项
	function initAnswer@(questFormName)(questionId, answerString){
		var optionName = "option%id".replace(/%id/g, questionId);
		var answerSelectData = [];
		$("[name=" + optionName + "]").each(function(index){
			var answerSelectOne = new Object;
				answerSelectOne.text = "选项"+ (index + 1);
				answerSelectOne.value= index;
				answerSelectData.push(answerSelectOne);
		})
		$("#answerNo"+questionId).selectpicker("reload", answerSelectData, answerString);
	}	
	
	
	
	
</script>
