@args String id = "", 
String popplace="top", 
String maxFileSize="", 
Boolean disabled = false, 
String name="", 
String placeholder = "",
String key="", 
Boolean showrequired=true,
Boolean required = false, 
Boolean downloaddisabled=false, 
String url="",
String height = "auto",
String fileid="", 
String filename="", 
String label = MessageUtil.getMessage(MsgNames.MSG_IMAGE), 
String css="", 
Boolean viewmode = false,
String groupcss="col-12", 
Boolean visible=true,
Boolean showlabel=true,
String labelcss=""
@if(visible){
    @{
        maxFileSize = ConfigUtil.getProperty("file.upload.limit", "100*1024");
        if(!disabled){
            placeholder = StringUtil.getOrElse(placeholder, MessageUtil.getMessage("请选择视频"));
        }
        id = StringUtil.getOrElse(StringUtil.getOrElse(id, name), IDGenerator.genDomID());
        name = StringUtil.getOrElse(name, id);
        final String sdisabled = StringUtil.nval(disabled,"disabled");
        final String sdownloaddisabled = StringUtil.nval(downloaddisabled,"download-disabled=true");
        final String fileIdName2 = name + "_fileId";
        final String deleteName2 = name + "_delete";
        final String labelName = name + "_label";
        final String maxfileSizeName = StringUtil.nval(key,key + "_maxFileSize","_maxFileSize");
        final String fileIdName = StringUtil.nval(key,key + ".fileId","fileId");
        final String deleteName = StringUtil.nval(key,key + ".delete","delete");
        final String surl = WebContext.url(StringUtil.getOrElse(url,"/pub/chapter/uploadVideo.action") + "?fileId=");
        final long uid = System.currentTimeMillis();
    }
    
    @group(label:label,required:required,css:groupcss,labelcss:labelcss,showrequired:showrequired,disabled:false,showlabel:showlabel){
        @if(viewmode){
            <div class="file-preview-frame file-preview-initial" id="@id" style="margin:0px !important;width:100%;">
               <video src="@url("/pub/image.action?fileId=")@(fileid)&uid=@uid" style="width:100%;height:@height" class="file-preview-image" alt="@filename" title="@filename">
                <div class="file-thumbnail-footer"> 
                    <div class="file-caption-name">@filename</div>
                    <div class="clearfix"></div>
                 </div>
                </video>
            </div>
        }else{
            <input type="hidden" name="@fileIdName" value="@fileid"/>
            <input type="hidden" name="@deleteName" value="false"/>
            <input type="hidden" name="@fileIdName2" value="@fileid"/>
            <input type="hidden" name="@deleteName2" value="false"/>
            <input type="hidden" name="@labelName" value="@label"/>
            <input type="hidden" name="@maxfileSizeName" value="@maxFileSize"/>
            <input id="@id" name="@name" type="file" @sdisabled @sdownloaddisabled class="file-rythm">
            <script>
            $(function(){
                //文件初始化
                  $("#@id").fileinput({
                    required:@required,
                    msgRequired:'@MessageUtil.getMessage("请选择视频")', 
                    maxFileSize:@maxFileSize,
                    key:'@key',
                    name:'@name',
                    placeholder:'@placeholder',
                    popplace:'@popplace',
                    initialCaption: '@filename' !=  '' ? '@filename' :'@placeholder',
                    showDownloadReset:true,
                    downloadUrlBase:'@surl',
                    fileId:'@fileid',
                    previewSettings:{
                        image:{width:'100%',height:'@height'},
                        other:{width:'100%',height:'@height'}
                    },
                    overwriteInitial: true,
                    showPreview:true,
                    previewCss:'picture-rythm',
                    showPreviewInitial:true,
                    dropZoneEnabled:true,
                    maxFileCount:1,
                    allowedFileExtensions: ['WMV','MP4','AVI']
                });
            });
            </script>
        }
        @renderBody()
    }
}