@args UserEntity user
@extends(main)

@assign("deptForm"){
   	@form(name:"deptForm", htmlargs:"style=height:100px"){
		@input(label:MessageUtil.getMessage(MsgNames.MSG_DEPARTMENT_NAME), name:"departmentName",maxlength:"50", required:true, groupcss:"col-12")
		@input(label:MessageUtil.getMessage(MsgNames.MSG_DEPARTMENT_DESCRIPTION), name:"departmentDesc",maxlength:"100", groupcss:"col-12")
	}
   	<script>initDeptForm('%departmentId');</script>
}
@content(){
	<div id="dept-tree" ></div>
}
@if(hasAnyInnerAccess("EDIT","DEL","ADD")){
	@btnbox(border:true){
		@button(label:MessageUtil.getMessage(MsgNames.MSG_ADD),iconcss:"fa fa-plus",onclick:"addDept",innertype:"ADD")
		@button(label:MessageUtil.getMessage(MsgNames.MSG_EDIT),iconcss:"fa fa-pencil",onclick:"editDept",innertype:"EDIT")
		@button(label:MessageUtil.getMessage(MsgNames.MSG_DELETE),iconcss:"fa fa-remove",onclick:"deleteDept",innertype:"DEL")
	}
}

<script>
$(function(){
	$('#dept-tree').jstree({
		'plugins': ["grid","wholerow" ],
		'grid': {
            'columns': [{
                'width': '50%',
                'header': '@MessageUtil.getMessage(MsgNames.MSG_DEPARTMENT_NAME)'
            }, {
                'width': '50%',
                    'header': '@MessageUtil.getMessage(MsgNames.MSG_DEPARTMENT_DESCRIPTION)',
                    'cellClass':'dm-tree-cell',
                    'value': function (data) {
                    return data ? data.departmentDesc :'';
                }
            }],
            resizable: true
        },
		'core' : {
			//'check_callback' : true,
			'strings' : {
				 'Loading ...' : '@MessageUtil.getMessage(MsgNames.MSG_LOADING)'
			 },
			 'themes': {
                'name': 'proton',
                'responsive': true
            },
			'data' : {
		    	'url' : '@url("/dept/getAllDept.action")'
			}
    	}
	}).bind('loaded.jstree refresh.jstree', function() {
		$('#dept-tree').jstree('open_all');
	}).on('select_node.jstree', function(event, data){
			var node = data.node;
			if(domExsit("btnAdd")){
				$('#btnAdd').prop( "disabled", false );
			}
			if(domExsit("btnDelete")){
				if((node.children && node.children.length > 0 ) || node.id == "0"){
					$('#btnDelete').prop( "disabled", true );
				}else{
					$('#btnDelete').prop( "disabled", false );
				}
			}
			if(domExsit("btnEdit")){
				if(node.id == "0"){
					$('#btnEdit').prop( "disabled", true );
				}else{
					$('#btnEdit').prop( "disabled", false );
				}
			}
	}).on('ready.jstree', function (e, data) {
        data.instance.redraw(true);
        $("#content").attr("style","overflow:auto");
    });
});

function initDeptForm(deptId){
	//初始化
	if(deptId != ''){
		//查询数据并赋值
		ajax({
      		url: '@url("/dept/get.action")',
      		type: "get",
      		data: {
      			departmentId:deptId
      		},
      		bodyMsg:false,
			mask:false,
            success: function(data) {
	               if(data && data != 'null'){
	                	$('#departmentName').val(data.departmentName); 
	                	$('#departmentDesc').val(data.departmentDesc); 
	               }else{
	               	   error('@MessageUtil.getMessage(MsgNames.MSG_ERROR_DEPARTMENT_NOT_HAVE)');
	               }
	            } 
      		});
	}
	//Validator
	$('#deptForm').bootstrapValidator({
		//trigger: 'blur',
		submitButtons:'#btnDeptSave',
        fields: {
        	departmentName: {
        		//trigger: 'focus blur',
                validators: {
                	notEmpty: {
                        message: '@MessageUtil.getMessage(MsgNames.MSG_ERROR_DEPARTMENT_NAME_NULL)'
                    },
                    remote: {
                        message: '@MessageUtil.getMessage(MsgNames.MSG_ERROR_DEPARTMENT_NAME_HAVE)',
                        data:function(){
                        	return {
                        		departmentId:deptId,
                        		departmentName:$('#departmentName').val()
                        	};
                        },
                        url: '@url("/dept/checkDeptName.action")'
                    }
                }
        	}
        }
    });
}

function addOrEditDept(parentId, parentName, dId){
	var deptId = dId? dId : '';
	var title = dId? '@MessageUtil.getMessage(MsgNames.MSG_DEPARTMENT_EDIT)':'@MessageUtil.getMessage(MsgNames.MSG_INFO_DEPARTMENT_ADD)'.format(parentName);
	BootstrapDialog.show({
        title: title,
        message: $('@es(deptForm).raw()'.replace(/%departmentId/g, deptId)),
        cssClass:'change_pwd_dialog',
        buttons: [{
           label: '@MessageUtil.getMessage("确定")',
           cssClass: 'btn-normal gh gh-ok',
           id:'btnDeptSave',
           action: function(dialog) {
           	 $('#deptForm').data('bootstrapValidator').validate();
           	 if($('#deptForm').data('bootstrapValidator').isValid()){
                ajax({
              		url: '@url("/dept/save.action")',
              		type: "POST",
              		bodyMsg:false,
					mask:false,
              		data: {
              			departmentName:$('#departmentName').val(),
              			departmentDesc:$('#departmentDesc').val(),
              			parentId:parentId,
              			departmentId:deptId
              		},
		            success: function(data) {
		               		dialog.close();
		               		$('#dept-tree').jstree('refresh');
			            } 
              		});
           	 }
         	}
       }, {
           label: '@MessageUtil.getMessage(MsgNames.MSG_CANCEL)',
           cssClass: 'btn-normal fa fa-reply',
           action: function(dialog) {
               this.dialog.close();
           }
       }]
	});
}

function editDept(){
	var selected = $('#dept-tree').jstree('get_selected', true);
	if(!selected || selected.length < 1){
		warning('@MessageUtil.getMessage(MsgNames.MSG_SELECT_DEPARTMENT)');
		return;
	}
	var deptId = selected[0].id;
	addOrEditDept('','', deptId);
}

function addDept(){
	var selected = $('#dept-tree').jstree('get_selected', true);
	if(!selected || selected.length < 1){
		warning('@MessageUtil.getMessage(MsgNames.MSG_SELECT_DEPARTMENT_PARENT)');
		return;
	}
	var deptId = selected[0].id;
	var deptName = selected[0].text;
	addOrEditDept(deptId,deptName,null);
}

function deleteDept(){
	var selected = $('#dept-tree').jstree('get_selected', true);
	if(!selected || selected.length < 1){
		warning("@MessageUtil.getMessage(MsgNames.MSG_SELECT_DEPARTMEN_DELETE)");
		return;
	}
	var deptId = selected[0].id;
	var deptName = selected[0].text;
	confirm("@MessageUtil.getMessage(MsgNames.MSG_CONFIRM_DEPARTMENT_DELETE)" + deptName + " ?", function(){
		ajax({ 
			url: "@url("/dept/delete.action")",
			data:{departmentId:deptId},
			type:"post", 
			bodyMsg:false,
			mask:false,
			success: function(result){
	        	//成功
	        	$('#dept-tree').jstree('refresh');
	      	}
	    });
		return true;
	});
}
</script>