@import(){com.cloudsoaring.web.forum.constant.*}
@extends(client,title:getPageTitle(title), "text_discuss")
@args String title = MessageUtil.getMessage("论坛-帖子详情"),String topic,UserEntity topicUser,String otherTopicResult,String discussResult,Boolean admin
@{
	final String loginUserId = WebContext.getSessionUserId();
}
<!-- css样式类 -->
<style>
.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px red solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}	
</style>
<!-- 引入JS文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<!-- angularjs开始位置 -->
<div ng-app="myApp">
	<div ng-controller="mainCtrl">
		<div style="font-size:14px;color:#666666;width:1200px;margin-left:auto;margin-right:auto;margin-bottom:10px;">全部文章<span ng-if="forumInfo.tagNames.length>0 && forumInfo.tagNames[0]!=''">\{{forumInfo.tagNames[0]}}</span>\详情</div>
		<div style="width:1200px;margin-left:auto;margin-right:auto;">
			<!-- 左侧830px区域 -->
			<div style="width:830px;float:left;overflow:hidden;">
				<!-- 详情区域 -->
				<div style="background-color:#ffffff;padding:30px;">
					<div style="font-size:18px;color:#333333;" ng-bind="forumInfo.title"></div>
					<div style="margin-top:30px;font-size:12px;color:#333333;">
						<span ng-if="forumInfo.tagNames.length>0" ng-repeat="item in forumInfo.tagNames"><span ng-if="item!=''" ng-bind="item" style="margin-right:5px;padding:5px 10px;background-color:#E9E9E9;"></span></span>
						<span style="margin-right:10px;"ng-bind="forumInfo.createDate.time|formatPublishTime"></span>
						<span style="margin-right:20px;">
							{{forumInfo.numView|replaceToNumber}}浏览
						</span>
						<span style="float:right;">
							<span>分享</span>
							<span style="margin-left:10px;font-size:14px;cursor:pointer;" class="fa fa-weixin"></span>
							<span style="margin-left:10px;font-size:14px;cursor:pointer;" class="fa fa-qq"></span>
							<span style="margin-left:10px;font-size:14px;cursor:pointer;" class="fa fa-weibo"></span>
							<span style="margin-left:10px;margin-right:10px;">|</span>
							<!-- <span ng-if="forumInfo.likeFlag != '@ForumStateConstants.LIKE_FLAG'"  class="gh gh-thumbs-up" style="color:red;font-size:14px;"></span>
							<span ng-if="forumInfo.likeFlag == '@ForumStateConstants.LIKE_FLAG'"  class="gh gh-thumbs-up" style="color:#999999;font-size:14px;cursor:pointer;" ng-click="likeClick($index)"></span> -->
							<span class="gh gh-thumbs-up" style="color:#999999;font-size:14px;"></span>
							<span style="margin-left:5px;">点赞{{forumInfo.numLike|replaceToNumber}}</span>
							<span style="margin-left:10px;margin-right:10px;">|</span>
							<span style="font-size:14px;" class="fa fa-comment-o"></span>
							<span style="margin-left:5px;">评论{{forumInfo.numComment|replaceToNumber}}</span>
						</span>
					</div>
					<div style="margin-top:30px;font-size:14px;color:#666666;" ng-bind-html="forumInfo.content|to_trusted"></div>
					<div style="height:100px;text-align:center;margin-top:30px;margin-bottom:30px;">
						<div style="height:100px;width:200px;float:left;text-align:center;margin-left:85px;">
							<span style="font-size:60px;color:#666666;cursor:pointer;" class="fa fa-weixin"></span>
							<br/>
							<div style="font-size:14px;color:#666666;text-align:center;">分享到微信朋友圈</div>
						</div>
						<div style="height:200px;width:200px;float:left;">
							<span style="font-size:60px;color:#666666;cursor:pointer;" class="fa fa-qq"></span>
							<br/>
							<div style="font-size:14px;color:#666666;text-align:center;">分享到微信朋友圈</div>
						</div>
						<div style="height:200px;width:200px;float:left;">
							<span style="font-size:60px;color:#666666;cursor:pointer;" class="fa fa-weibo"></span>
							<br/>
							<div style="font-size:14px;color:#666666;text-align:center;">分享到微信朋友圈</div>
						</div>
					</div>
				</div><!-- 详情区域 end-->
				<!-- 评论区域 -->
				<div style="margin-top:30px;padding:30px;background-color:#ffffff;">
					<div style="font-size:18px;color:#333333;">评论</div>
					<!-- 输入框-->
					<div ng-show="!showReply" style="margin-top:30px;">
						<input type="text" ng-model="discussInput" placeholder="请输入评论内容" style="width:770px;background-color:#E9E9E9;padding:5px;font-size:14px;border:1px #999999 solid;outline:medium;height:40px;" ng-change="inputChange(discussInput)">
						<button ng-show="!canSend" style="margin-top:20px;float:right;" class="btn btn-normal disabled">发送</button>
						<button ng-show="canSend" style="margin-top:20px;float:right;" class="btn btn-normal" ng-click="submitInput(discussInput)">发送</button>
						<div class="clearfix"></div>
					</div>
					<!--输入框-->
					<div ng-show="showReply" style="margin-top:30px;">
						<div style="font-size:14px;color:red;margin-bottom:10px;">
							<span>@</span><span ng-bind="replyData.nickName"></span>
						</div>
						<input type="text" ng-model="replyInput" placeholder="请输入回复内容" style="width:770px;background-color:#E9E9E9;padding:5px;font-size:14px;border:1px #999999 solid;outline:medium;height:40px;" ng-change="replyInputChange(replyInput)">
						<button ng-show="!canReply" style="margin-top:20px;float:right;" class="btn btn-normal disabled">提交</button>
						<button ng-show="canReply" style="margin-top:20px;float:right;" class="btn btn-normal" ng-click="submitReplyInput(replyInput)">提交</button>
						<div class="clearfix"></div>
					</div>
					<!-- 评论列表区域 -->
					<div style="">
						<div ng-if="discussList.length==0" style="font-size:14px;color:#666666;">暂无数据</div>
						<div ng-if="discussList.length>0">
							<div ng-repeat="item in discussList" style="padding:30px 0;border-bottom:1px #e1e1e1 solid;">
							    <!-- 删除按钮 -->
                                @if(admin){
                                    <div  style="width:60px;float:right;margin-right:30px;"  ng-click="del($index)">
                                         <a class="iconlink-rythm gh gh-remove glyphicon" iconcss="gh gh-remove" data-content="删除" label="删除" data-placement="top"> </a>
                                    </div>
                                }
								<div style="width:50px;float:left;">
									<img style="width:50px;height:50px;border:0;" class="img-circle" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")"/>
									<div style="margin-top:10px;text-align:center;font-size:14px;color:#333333;" ng-bind="item.nickName"></div>
								</div>
								<div style="width:710px;float:left;margin-left:10px;">
									<div style="font-size:14px;">
										<span ng-if="item.targetDiscussId!=null&&item.targetDiscussId!=''" style="color:red;">
											<span>@</span><span ng-bind="item.targetNickname"></span><span>：</span>
										</span>
										<span style="color:#666666;" ng-bind="item.content"></span>
									</div>
									<div ng-if="item.userId != '@loginUserId'"  style="margin-top:20px;font-size:12px;color:#999999;">
										<span ng-bind="item.createDate|date:'yyyy年MM月dd日 HH:mm'"></span>
										<span style="float:right;cursor:pointer;" ng-click="showReplyInput($index)">回复</span>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- 分页 -->
						<div style="padding:30px 0px;text-align:center;">
							<span style="" ng-repeat="item in pageList">
								<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}" ng-bind="item.text"></span>
								<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="search(item.clickNum)" ng-bind="item.text"></span>
							</span>
						</div>
					</div>
				</div><!-- 评论区域 end-->
			</div><!-- 左侧830px区域 end-->
			<!-- 右侧340px区域 -->
			<div style="width:340px;float:left;margin-left:30px;overflow:hidden;">
				<div style="padding:30px;background-color:#ffffff;">
					<div style="height:100px;">
						<div style="width:100px;height:100px;float:left;">
							@{
								final String surl = url("/pub/headerThumb.action?fileId=") + topicUser.getImage();
							}
							<img style="border:0;width:100px;height:100px;" class="img-circle" ng-src="@surl">
						</div>
						<span style="float:left;margin-left:30px;text-align:center;margin-top:30px;">
							<span style="font-size:16px;color:#333333;margin-top:30px;">@topicUser.getPersonName()</span>
							<br/>
							<span style="font-size:14px;color:#666666;">@topicUser.getPosition()</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div style="padding:30px 0;font-size:12px;color:#000000;border-bottom:1px #e1e1e1 solid;">
						<!-- @raw() {
							@topicUser.getRemark()
						} -->
						@topicUser.getRemark().raw()
					</div>
					<div style="padding:30px 0;font-size:18px;color:#333333;border-bottom:1px #e1e1e1 solid;">作者的其他话题</div>
					<div ng-if="otherList.length==0" style="margin-top:15px;font-size:14px;color:#666666;">
						暂无数据
					</div>
					<div ng-if="otherList.length>0" style="margin-top:15px;">
						<div style="padding:15px 0;font-size:14px;color:#666666;cursor:pointer;" ng-repeat="item in otherList" ng-bind="item.title" ng-click="toDetail($index)"></div>
					</div>
				</div>
			</div><!-- 右侧340px区域 end-->
			<div class="clearfix"></div>
			<div style="height:1px;margin-bottom:90px;"></div>
		</div>
	</div>
</div>
<script>
	myApp.controller("mainCtrl",function($scope,$http){
		//帖子详情信息
		$scope.forumInfo = eval("("+'@topic'+")");
		console.log($scope.forumInfo);
		$scope.forumInfo.tagNames = subToArr($scope.forumInfo.tagNames);
		//显示评论输入框还是回复输入框,false:评论输入框
		$scope.showReply = false;
		//要回复谁
		$scope.replyData = "";
		//评论按钮是否可点击
		$scope.canSend = false;
		//点击回复按钮
		$scope.showReplyInput = function(index){
			$scope.replyData = $scope.discussList[index];
			$scope.showReply = true;
		};
		//输入框值改变事件
		$scope.inputChange = function(discussInput){
			if(discussInput.length > 0){
				$scope.canSend = true;
			}else{
				$scope.canSend = false;
			}
			if(discussInput.length > 500){
				$scope.discussInput = discussInput.substr(0,500);
				
			}
		};
		$scope.canReply = false;
		//输入框值改变事件
		$scope.replyInputChange = function(replyInput){
			if(replyInput.length > 0){
				$scope.canReply = true;
			}else{
				$scope.canReply = false;
			}
			if(replyInput.length > 500){
				$scope.replyInput = replyInput.substr(0,500);
				
			}
		};
		//发送按钮点击事件
		$scope.submitInput = function(discussInput){
			$http.post("@url("/client/forum/sendDiscuss.action")",{sendcardId:$scope.forumInfo.sendcardId,content:discussInput})
			.success(function(result){
				if(result.status){
					//输入框回复初始状态
					$scope.discussInput = "";
					$scope.canSend = false;
					noticeInfo("评论成功！");
					//重新检索
					$scope.searchList();
				}else{
					noticeError(result.messages);
				}
			});
		};
		//提交按钮点击事件
		$scope.submitReplyInput = function(replyInput){
			$http.post("@url("/client/forum/replyDiscuss.action")",{sendcardId:$scope.forumInfo.sendcardId,content:replyInput,targetDiscussId:$scope.replyData.discussId,targetUserId:$scope.replyData.userId})
			.success(function(result){
				if(result.status){
					//输入框回复初始状态
					$scope.replyInput = "";
					$scope.canReply = false;
					$scope.showReply = false;
					noticeInfo("回复成功！");
					//重新检索
					$scope.searchList();
				}else{
					noticeError(result.messages);
				}
			});
		};
		//点赞
		$scope.likeClick = function(index){
			$http.post("@url("/client/forum/forumClickLike.action")",{sendcardId:$scope.forumInfo.sendcardId})
			.success(function(result){
				if(result.status){
					$scope.forumInfo.likeFlag = '@ForumStateConstants.FORUM_LIKE_ALREADY';
					//点赞数加一
					if(emptyStr($scope.forumInfo.numLike)){
						$scope.forumInfo.numLike = 1;
					}else{
						$scope.forumInfo.numLike = parseInt($scope.forumInfo.numLike)+1;
					}
					noticeInfo("点赞成功！");
				}else{
					noticeError(result.messages);
				}
			});
		};
		
		//作者的其他话题
		var otherTopicResult = eval("("+'@otherTopicResult'+")");
		$scope.otherList = otherTopicResult.data;
		//点击作者的其他话题
		$scope.toDetail = function(index){
			window.loaction.href = "@url("/pub/forum/toForumDetail.action?sendcardId=")" + $scope.otherList[index].sendcardId;
		};
		//评论初始化
		$scope.discussList = [];
		$scope.pageList = [];
		$scope.page = 1;
		$scope.pageSize = 5;
		var discussResult =  eval("("+'@discussResult'+")");
		$scope.discussList = discussResult.data;
		$scope.pageList = getPageList(discussResult.page,discussResult.total);
		for(var i=0;i<$scope.discussList.length;i++){
		  if($scope.discussList[i].createDate!=null){
		      $scope.discussList[i].createDate = $scope.discussList[i].createDate.time;
		  }
			
		}
		//点击分页
		$scope.search = function(num){
			$scope.page = num;
			$scope.searchList();
		};
		//删除评论
		$scope.del= function(index){
          var url = "@url("/pub/discuss/deleteDiscuss.action?id=")"+$scope.discussList[index].id;
          $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                    location.reload();
                }
            });
        };
		//检索列表
		$scope.searchList = function(){
			$http.post("@url("/pub/forum/forumDiscussList.action")",{sendcardId:$scope.forumInfo.sendcardId,pageSize:$scope.pageSize,pageNumber:$scope.page})
			.success(function(result){
				if(result.status){
					$scope.discussList = result.data;
					$scope.pageList = getPageList(result.page,result.total);
				}else{
					noticeError(result.messages);
				}
			});
		};
	});
	
</script>