@args String title = MessageUtil.getMessage("论坛列表"),
Integer pageSize = Integer.valueOf("10"),
Boolean guest,UserEntity loginUser,
Boolean admin,
UserPoint userPoint,
String recommendTopticList,
List<UserSendcardEntity> recommends,
String weekTopicList
@import(){
    com.cloudsoaring.web.forum.constant.*,
    com.cloudsoaring.web.trainingplatform.utils.*,
    com.cloudsoaring.web.points.entity.*,
    java.math.BigDecimal,
    com.cloudsoaring.web.forum.entity.*
 }
@extends(client,title:getPageTitle(title), "text_discuss")
@{
	BigDecimal unitPrice = new BigDecimal(TpConfigUtil.getPointsForSmallChange());
}
<!-- css样式类 -->
<style>
	.search_item{
		font-size:14px;
		color:#666666;
		cursor:pointer;
	}
	.search_item:hover{
		color:#4f85ff;
	}
	.search_item_active{
		font-size:14px;
		color:#4f85ff;
		cursor:pointer;
	}
	.page_li{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal:hover{
		border-bottom:1px red solid;
	}
	.page_li_disabled{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
	}
	.page_li_normal{
		padding:5px 10px;
		font-size:14px;
		color:#999999;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
	}
	.page_li_active{
		padding:5px 10px;
		font-size:14px;
		margin-left:5px;
		display:inline-block;
		cursor:pointer;
		background-color:red;
		color:#ffffff;
	}
</style>
<!-- angularjs开始位置 -->
<div ng-app="myApp">
	<div ng-controller="mainCtrl">
		<div style="width:1200px;margin-left:auto;margin-right:auto;">
			<!-- 左侧830px区域 -->
			<div style="width:830px;float:left;overflow:hidden;">
				<!-- 左侧列表区域 -->
				<div ng-controller="listCtrl">
					<div style="padding:30px;background-color:#ffffff;">
						<!-- 检索条件，最新、最热 -->
						<div style="margin-bottom:10px;">
							<span ng-if="searchIndex==0" class="search_item_active">最新</span>
							<span ng-if="searchIndex!=0" class="search_item" ng-click="changeSearch(0)">最新</span>
							<span ng-if="searchIndex==1" class="search_item_active" style="margin-left:30px;">最热</span>
							<span ng-if="searchIndex!=1" class="search_item" ng-click="changeSearch(1)" style="margin-left:30px;">最热</span>
						</div><!-- 检索条件，最新、最热end -->
						<!-- 列表 -->
						<div ng-repeat="item in list" style="padding:30px 0;border-top:1px #e1e1e1 solid;cursor:pointer;">
							<!-- 左侧图片区域 -->
							<div style="width:132px;height:132px;float:left;" ng-click="toDetail($index)">
								<img style="width:132px;height:132px;border:0;" ng-src="@url("/pub/imageThumb.action?fileId={{item.pictureId}}")">
							</div><!-- 左侧图片区域 end-->
							<!-- 右侧内容区域 -->
							<div style="width:605px;float:left;margin-left:30px;">
								<!-- 标题 -->
								<div style="font-size:18px;color:#000000;margin-top:10px;" ng-bind="item.title|subStringLength:30"  ng-click="toDetail($index)"></div><!-- 标题 end-->
								<!-- 删除按钮 -->
								@if(admin){
									<div  style="width:60px;float:right;margin-right:30px;"  ng-click="del($index)">
	                                     <a class="iconlink-rythm gh gh-remove glyphicon" iconcss="gh gh-remove" data-content="删除" label="删除" data-placement="top"> </a>
	                                </div>
								}
								@*
								@for(int i=0;i< recommends.size();i++){
								    @if(recommends.get(i).getCreateUser().equals(WebContext.getSessionUserId())){
								    
								    }else{
								     
								    }
								}
								*@
								<!-- 正文内容 -->
								<div style="padding:20px 0;font-size:16px;color:#666666;" ng-bind="safeText(item.content)|subStringLength:65"  ng-click="toDetail($index)"></div><!-- 正文内容 end-->
								<!-- 底部头像点赞区域 -->
								<div style="font-size:12px;height:24px;line-height:24px;">
									<span  ng-click="toDetail($index)">
										<img class="img-circle" style="width:24px;height:24px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
										<span style="color:#333333;margin-left:10px;" ng-bind="item.personName"></span>
										<span ng-if="item.tagNames.length>0" style="margin-left:10px;" ng-repeat="tag in item.tagNames">
											<span ng-if="trim(tag) != ''" style="padding:3px 5px;background-color:#E9E9E9;color:#666666;" ng-bind="tag"></span>
										</span>
										<span style="margin-left:10px;color:#999999;" ng-bind="item.createDate|formatPublishTime"></span>
										<span style="margin-left:10px;color:#999999;">
											{{item.numView|replaceToNumber}}浏览
										</span>
									</span>
									<span style="float:right;font-size:12px;">
										<span ng-if="item.likeFlag != '@ForumStateConstants.LIKE_FLAG'"  class="gh gh-thumbs-up" style="color:red;"></span>
										<span ng-if="item.likeFlag == '@ForumStateConstants.LIKE_FLAG'"  class="gh gh-thumbs-up" style="color:#999999;" ng-click="likeClick($index)"></span>
										<span style="color:#999999;margin-left:5px;">点赞{{item.numLike|replaceToNumber}}</span>
										<span class="fa fa-comment-o" style="color:#999999;margin-left:10px;" ng-click="toDetail($index)"></span>
										<span style="color:#999999;margin-left:5px;">评论{{item.numComment|replaceToNumber}}</span>
									</span>
								</div>
							</div><!-- 右侧内容区域 end-->
							<div class="clearfix"></div>
						</div><!-- 列表 end-->
						<div class="clearfix"></div>
						<!-- 分页 -->
						<div style="padding:30px 0px;text-align:center;">
							<span style="" ng-repeat="item in pageList">
								<span ng-if="item.css == 'page_li_disabled'" class="{{item.css}}" ng-bind="item.text"></span>
								<span ng-if="item.css != 'page_li_disabled'" class="{{item.css}}" ng-click="searchList(item.clickNum)" ng-bind="item.text"></span>
							</span>
						</div>
					</div>
				</div><!-- 左侧列表区域 end-->
			</div><!-- 左侧830px区域 end-->
			<!-- 右侧340px区域 -->
			<div style="width:340px;float:left;margin-left:30px;overflow:hidden;" ng-controller="rightCtrl">
				<div style="background-color:#ffffff;padding:30px;">
					<div style="text-align:center;">
						<button style="width:280px;height:40px;font-size:18px;" class="btn btn-normal" ng-click="publishTopic()">发布话题</button>
					</div>
					<div style="padding:30px 0;border-bottom:1px #e1e1e1 solid;height:120px;">
						<div style="width:60px;height:60px;float:left;">
							<img class="img-circle" style="width:60px;height:60px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId=adsfdasf")">
						</div>
						<div style="width:200px;float:left;margin-left:20px;overflow:hidden;">
							<div style="font-size:16px;color:#333333;margin-top:10px;">
							@if(guest){
								游客
							}else{
								@loginUser.getPersonName()
							}
							</div>
							<div style="margin-top:10px;font-size:12px;">
								<span style="color:#999999;">
								我的积分：
								<span>
									@if(guest){
										0
									}else{
										@{
											BigDecimal  num = userPoint.getPoints().multiply(unitPrice);
										}
										@num
									}
								</span></span>
								<!-- <span style="float:right;">
									<span style="color:#999999;">|</span>
									<span style="margin-left:5px;color:#333333;">原创</span>
									<span style="margin-left:5px;color:#999999;">|</span>
									<span style="margin-left:5px;color:#333333;">收藏</span>
								</span> -->
							</div>
						</div>
					</div>
					<div style="font-size:18px;color:#333333;padding:30px 0;border-bottom:1px #e1e1e1 solid;">推荐话题</div>
					<div ng-repeat="item in aboutTopicList" style="padding:30px 0;border-bottom:1px #e1e1e1 solid;cursor:pointer;" ng-click="toDetail($index)">
						<div style="font-size:16px;color:#333333;" ng-bind="item.title|subStringLength:22"></div>
						<div style="padding:20px 0;font-size:14px;color:#666666;" ng-bind="item.content|subStringLength:50"></div>
						<div style="font-size:12px;height:24px;line-height:24px;">
							<span>
								<img class="img-circle" style="width:24px;height:24px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
								<span style="color:#333333;margin-left:10px;" ng-bind="item.userName"></span>
								<span ng-if="item.tagNames.length>0" style="margin-left:10px;" >
									<span ng-if="item.tagNames[0]!=''" style="padding:3px 5px;background-color:#E9E9E9;color:#666666;" ng-bind="item.tagNames[0]"></span>
								</span>
								<span style="margin-left:10px;color:#999999;">
									{{item.numView}}浏览
								</span>
							</span>
						</div>
					</div>
				</div>
				<!-- 一周达人 -->
				<div style="margin-top:30px;padding:30px;background-color:#ffffff;overflow:hidden;">
					<div style="font-size:18px;color:#333333;padding-bottom:30px;border-bottom:1px #e1e1e1 solid;margin-bottom:15px;">一周达人</div>
					<div ng-repeat="item in weekPerson" style="padding:15px 0;height:90px;">
						<div style="width:60px;height:60px;float:left;">
							<img class="img-circle" style="width:60px;height:60px;border:0;" ng-src="@url("/pub/headerThumb.action?fileId={{item.image}}")">
						</div>
						<div style="width:170px;height:60px;line-height:60px;float:left;margin-left:20px;font-size:16px;color:#333333;" ng-bind="item.personName"></div>
						<div ng-if="$index==0" style="width:30px;height:60px;line-height:60px;float:left;text-align:right;color:#D7000F;font-weight:bold;" ng-bind="$index+1"></div>
						<div ng-if="$index==1" style="width:30px;height:60px;line-height:60px;float:left;text-align:right;color:#ff9900;font-weight:bold;" ng-bind="$index+1"></div>
						<div ng-if="$index!=0 && $index!=1" style="width:30px;height:60px;line-height:60px;float:left;text-align:right;color:#999999;font-weight:bold;" ng-bind="$index+1"></div>
					</div>
				</div><!-- 一周达人 end-->
			</div><!-- 右侧340px区域 end-->
			<div class="clearfix"></div>
			<div style="height:1px;margin-bottom:90px;"></div>
		</div>
	</div>
</div>
<!-- 引入JS文件 -->
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<script>
	myApp.controller("mainCtrl",function($scope){
		
	})
	.controller("listCtrl",function($scope,$http){
		//列表controller
		//列表数据
		$scope.list = [];
		$scope.pageList = [];
		//检索条件，选中了哪个
		$scope.searchIndex = 0;
		//检索条件改变事件
		$scope.changeSearch = function(index){
			$scope.searchIndex = index;
			//重新检索列表数据
			$scope.searchList(1);
		};
		
		//检索列表数据
		$scope.searchList = function(num){
			var sortType = '';
			if($scope.searchIndex == 1){
				sortType = '@ForumStateConstants.MOST_HOT';
			}
			var params = {sortType:sortType,pageSize:@pageSize,pageNumber:num};
			$http.post("@url("/pub/forum/forumList.action")",params)
			.success(function(result){
				if(result.status){
					$scope.list = result.data;
					$scope.pageList = getPageList(result.page,result.total);
					for(var i=0;i<$scope.list.length;i++){
					//标签处理
						$scope.list[i].tagNames = subToArr($scope.list[i].tagNames);
						$scope.list[i].content = safeText($scope.list[i].content);
					}
				}else{
					noticeError(result.messages);
				}
			});
		};
		//第一次进入，检索数据
		$scope.searchList(1);
		//点赞
		$scope.likeClick = function(index){
			$http.post("@url("/client/forum/forumClickLike.action")",{sendcardId:$scope.list[index].sendcardId})
			.success(function(result){
				if(result.status){
					$scope.list[index].likeFlag = '@ForumStateConstants.FORUM_LIKE_ALREADY';
					//点赞数加一
					if(emptyStr($scope.list[index].numLike)){
						$scope.list[index].numLike = 1;
					}else{
						$scope.list[index].numLike = parseInt($scope.list[index].numLike)+1;
					}
					noticeInfo("点赞成功！");
				}else{
					noticeError(result.messages);
				}
			});
		};
		//跳转到详情
		$scope.toDetail = function(index){
			window.open("@url("/pub/forum/toForumDetail.action?sendcardId=")" + $scope.list[index].sendcardId);
		};
		$scope.del= function(index){
		  var url = "@url("/client/forum/forumDel.action?sendcardId=")"+$scope.list[index].sendcardId;
		  $.ajax({ 
                url:url,
                bodyMsg:true,
                type:"post", 
                success: function(result){
                    //parent.refreshTable();
                    location.reload();
                }
            });
        };
		$scope.safeText=function(v){
			return safeText(v);
		}
	})
	.controller("rightCtrl",function($scope){
		//右侧controller
		//发布话题
		$scope.publishTopic = function(){
			@if(WebContext.isGuest()) {
				toLoginFun(window.location.href)
			} else {
				window.location.href = "@url("/client/forum/toPublishTopic.action")";
			}
		};
		
		//推荐话题
		$scope.aboutTopicList = eval("("+'@recommendTopticList'+")");
		
		//标签处理
		for(var i=0;i<$scope.aboutTopicList.length;i++){
			$scope.aboutTopicList[i].tagNames = subToArr($scope.aboutTopicList[i].tagNames);
		}


		//点击推荐话题，跳转到详情页
		$scope.toDetail = function(index){
			window.open("@url("/pub/forum/toForumDetail.action?sendcardId=")" + $scope.aboutTopicList[index].sendcardId);
		};

		//一周达人
		$scope.weekPerson = eval("("+'@weekTopicList'+")");

	});
	
</script>