@args String title = MessageUtil.getMessage("论坛-发布话题"),String tagList
@import(){com.cloudsoaring.web.forum.constant.*}
@extends(client,title:getPageTitle(title), "text_discuss")
<!-- css样式类 -->
<style>
	
</style>
<!-- angularjs开始位置 -->
<div ng-app="myApp">
	<div ng-controller="mainCtrl">
		<div style="width:1200px;margin-left:auto;margin-right:auto;">
			<!-- 左侧830px区域 -->
			<div style="width:830px;float:left;overflow:hidden;padding:30px;background-color:#ffffff;">
				<div style="font-size:18px;color:#333333;">发布话题</div>
				<div style="height:1px;border-bottom:1px #e1e1e1 solid;margin-top:30px;margin-bottom:30px;"></div>
				<div style="height:46px;line-height:46px;">
					<span style="color:red;">*</span>
					<span style="font-size:16px;color:#333333;">标题</span>
					<input type="text" style="width:700px;height:46px;background-color:#E9E9E9;padding:5px;font-size:14px;border:none;outline:medium;margin-left:20px;" ng-model="title">
				</div>
				<div style="margin-top:30px;height:40px;line-height:40px;">
					<span>&nbsp;</span>
					<span style="font-size:16px;color:#333333;">封面</span>
					<span style="width:700px;height:40px;margin-left:20px;">
						<button style="font-size:18px;width:280px;height:40px;" class="btn btn-normal" ng-click="btnClick()">上传图片</button>
						<span style="margin-left:20px;font-size:12px;color:#999999;">
							<span ng-bind="fileName"></span>
							<span ng-show="fileName==''">封面为500*500像素的 PNG/JPG/GIF 格式图片</span>
						</span>
						<form name="file-form" id="file-form">
							<input id="picture" style="display:none;" type="file" name="@ForumDefaultValues.DEFAULT_SUBMIT_TOPIC_FILE_INPUT_NAME" value=""/>
						</form>
					</span>
				</div>
				<div id="showPicture" style="margin-top:30px;margin-left:65px;min-height:500px;display:none;"></div>
				<div style="margin-top:30px;">
					<span style="color:red;">*</span>
					<span style="font-size:16px;color:#333333;">内容</span>
					<div style="width:700px;margin-left:20px;float:right;">
						<div style="margin-left:-20px;">
							@ue_image_video(label:"",height:"150",width:"700px", value:"")
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div style="margin-top:30px;">
					<span style="color:red;line-height:46px;">&nbsp;</span>
					<span style="font-size:16px;color:#333333;line-height:46px;">标签</span>
					<div style="width:700px;margin-left:20px;float:right;">
						<div style="position:relative;">
							<div style="width:700px;height:46px;line-height:46px;background-color:#E9E9E9;padding:5px;font-size:14px;margin-left:-5px;" ng-bind="tags"></div>
							<span ng-if="tags.length>0" style="font-size:14px;color:red;position:absolute;top:15px;right:5px;cursor:pointer;" class="fa fa-times-circle" ng-click="clearTags()"></span>
						</div>
						<div class="clearfix"></div>
						<div style="padding:10px 0;font-size:12px;color:#999999;">您最多可以从以下选择3个标签哟！</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div style="margin-top:20px;">
					<div style="width:700px;float:right;margin-right:5px;">
						<span ng-repeat="item in tagList" style="padding:5px 10px;font-size:12px;color:#666666;margin-right:10px;margin-bottom:10px;cursor:pointer;display:inline-block;background-color:#E9E9E9;">
							<span ng-bind="item.tagName" ng-click="checkedTag($index)"></span>
						</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div style="margin-top:60px;margin-bottom:30px;text-align:center;">
					<button style="width:280px;height:40px;font-size:18px;" class="btn btn-normal" ng-click="submitTopic()">提交话题</button>
				</div>
			</div><!-- 左侧830px区域 end-->
			<!-- 右侧340px区域 -->
			<div style="width:340px;float:left;margin-left:30px;overflow:hidden;">
				<!-- 投稿须知 -->
				<div style="padding:30px;background-color:#ffffff;">
					<div style="font-size:18px;color:#333333;">投稿须知</div>
					<div style="height:1px;margin-top:30px;margin-bottom:10px;border-bottom:1px #e1e1e1 solid;"></div>
					<div style="font-size:14px;color:#666666;line-height:150%;">
						<div ng-repeat="item in articleTip" style="margin-bottom:10px;">
							<div ng-bind="item.text"></div>
						</div>
					</div>
				</div>
			</div><!-- 右侧340px区域 end-->
			<div class="clearfix"></div>
			<div style="height:1px;margin-bottom:90px;"></div>
		</div>
	</div>
</div>
<!-- 引入JS文件 -->
<script type="text/javascript" src="@url("/js/$.ajaxfileupload.js")"></script>
<script type="text/javascript" src="@url("/js/angular.min.js")"></script>
<script type="text/javascript" src="@url("/js/myAngularConfig.js")"></script>
<script>
	myApp.controller("mainCtrl",function($scope,$http){
		//选中的标签
		$scope.checkedTagArr = [];
		$scope.tags = "";
		//标签列表 
		$scope.tagList = eval("("+'@tagList'+")");
		//选择的文件名
		$scope.fileName = '';

		//选择标签
		$scope.checkedTag = function(index){
			var canAdd = true;
			for(var i=0;i<$scope.checkedTagArr.length;i++){
				if($scope.checkedTagArr[i] == $scope.tagList[index]){
					//该标签已经选中了
					canAdd = false;
				}
			}
			if(!canAdd){
				noticeError("不能重复选择标签！");
				return;
			}
			
			if($scope.checkedTagArr.length >= 3){
				//去除第一个标签后添加标签
				$scope.checkedTagArr[0] = $scope.checkedTagArr[1];
				$scope.checkedTagArr[1] = $scope.checkedTagArr[2];
				$scope.checkedTagArr[2] = $scope.tagList[index];
			}else{
				//直接添加标签
				$scope.checkedTagArr.push($scope.tagList[index]);
			}
			//字符串标签名
			var aa = [];
			for(var j=0;j<$scope.checkedTagArr.length;j++){
				aa.push($scope.checkedTagArr[j].tagName);
			}
			$scope.tags = aa.join("、");
		};
		//点击上传图片按钮
		$scope.btnClick = function(){
			//触发文件input点击事件
			$("#picture").click();
		};
		//文件改变事件
		var ImageFileExtend = ".gif,.png,.jpg";
		$("#picture").change(function(){
		
			$scope.$apply(function(){
				var fName = $("#picture").val();
				$scope.fileName = fName;
				//判断文件名后缀
				if($scope.fileName.length>0){
					var fileExtend=$scope.fileName.substring($scope.fileName.lastIndexOf('.')).toLowerCase();
					if(ImageFileExtend.indexOf(fileExtend) == -1){
						noticeError("选择的文件类型不符合要求！");
						$("#picture").val('');
						$scope.fileName = '';
						$("#showPicture").css("display","none");
						return;
					}
				}
				 var file=document.getElementById("picture").files[0];
				 if(file){
				 	 var reader = new FileReader();
				 	 reader.onload=function(){
				 	 	document.getElementById("showPicture").innerHTML = '<img style="height:500px;width:500px;" src="'+this.result+'" alt=""/>'
                	 	$("#showPicture").css("display","block");
                	 }
                	 reader.readAsDataURL(file);
				 	 
				 }
				
			});
		});
		$scope.title = '';
		//监听标题
		$scope.$watch('title',function(newValue,oldValue){
			if(newValue.length>100){
				noticeError("标题不能超过100个字符！");
				$scope.title = oldValue;
			}
		});
		
		//提交话题
		$scope.submitTopic = function(){
			//判断标题是否为空
			if(emptyStr($scope.title)){
				noticeError("标题不能为空！");
				return;
			}
			//判断内容是否为空
			var content = ue.getContent();
			if(ue.length>500){
				noticeError("最多输入500个字符！");
				return ;
			}
			if(emptyStr(content)){
				noticeError("内容不能为空！");
				return;
			}
			//标签
			var ids = [];
			var tagNames = [];
			for(var j=0;j<$scope.checkedTagArr.length;j++){
				ids.push($scope.checkedTagArr[j].tagId);
				tagNames.push($scope.checkedTagArr[j].tagName);
			}
			if(emptyStr($scope.fileName)){
				//没有文件上传
				$http.post("@url("/client/forum/submitForum.action")",{title:$scope.title,content:content,flag:false,tagIds:ids.join(" "),tagNames:tagNames.join(" ")})
				.success(function(result){
					if(result.status){
						window.location.href = "@url("/pub/forum/toForumList.action")";
					}else{
						noticeError(result.messages);
					}
				});
			}else{
				 var params = new FormData($('#file-form')[0]);
			     params.append("fileHtmlName", "@ForumDefaultValues.DEFAULT_SUBMIT_TOPIC_FILE_INPUT_NAME");
			     params.append("title", $scope.title);
			     params.append("content", content);
			     params.append("flag", true);
			     params.append("tagIds", ids.join(" "));
			     params.append("tagNames", tagNames.join(" "));
				//有文件
			   $.ajax({
					url:"@url("/client/forum/submitForum.action")",
					/** 
                 *必须false才会自动加上正确的Content-Type 
                 */
                contentType:false,  
                /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */  
                processData:false, 
					data:params,
                method:"post",
					success:function(result){
// 						result = result.responseText;
// 						result = result.substring(result.indexOf("{"),result.indexOf("}")+1);
// 						console.log(result);
// 						result = eval("("+result+")");
						if(result.status){
							window.location.href = "@url("/pub/forum/toForumList.action")";
						}else{
							noticeError(result.messages);
						}
					}
				});
			}
		};
		//投稿须知
		$scope.articleTip = [
			{text:"1、话题类型：技术、设计/交互、产品、与IT相关的任何学习心得、技术分享、职场经验、项目案例、甚至自学的励志故事等类型均可。"},
			{text:"2、拒绝广告：话题必须健康，符合国家相关法律法规规定，谢绝任何形式软文、公关稿、新闻稿。"},
			{text:"3、话题类型：技术、设计/交互、产品、与IT相关的任何学习心得、技术分享、职场经验、项目案例、甚至自学的励志故事等类型均可。"},
			{text:"4、拒绝广告：话题必须健康，符合国家相关法律法规规定，谢绝任何形式软文、公关稿、新闻稿。"}
		];
		
		//标签显示右侧图标点击事件
		$scope.clearTags = function(){
			$scope.checkedTagArr = [];
			$scope.tags = "";
		};
	});
</script>