
/* popup */

.popup{
  width: 100%;
  height: 100vh;
  display: none;

  position: fixed;
  top: 0;
  right: 30%;
}

#popup-article:target{
  display: block;
  z-index: 9999999999999;
}

.popup__block{
  height: calc(100vh - 40px);
  box-sizing: border-box;
  overflow: auto;
  -webkit-animation: fade 0s ease-out 0s both;
          animation: fade 0s ease-out 0s both;
}

.popup:before{
  content: "";
  box-sizing: border-box;
  width: 100%;
  
  /*box-shadow: inset 0 0 0 20px #f0f0f0;
  background: #fff;*/

  position: fixed;
  top: 50%;
  will-change: height, top;
  -webkit-animation: open-animation 0s cubic-bezier(0.83, 0.04, 0, 1.16) 0s both;
          animation: open-animation 0s cubic-bezier(0.83, 0.04, 0, 1.16) 0s both;
}

.popup:after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #f0f0f0;
  
  will-change: width, opacity;
  -webkit-animation: line-animation 0s cubic-bezier(0.83, 0.04, 0, 1.16) both;
          animation: line-animation 0s cubic-bezier(0.83, 0.04, 0, 1.16) both;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

@-webkit-keyframes line-animation{

  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }  
}

@keyframes line-animation{

  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }  
}

@-webkit-keyframes open-animation{

  0%{
    height: 0;
    top: 50%;
  }

  100%{
    height: 100vh;
    top: 0;
  }
}

@keyframes open-animation{

  0%{
    height: 0;
    top: 50%;
  }

  100%{
    height: 100vh;
    top: 0;
  }
}

@-webkit-keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.popup__title{
  margin: 0 0 1em;
}

.popup__close{
  width: 1.7rem;
  height: 1.7rem;
  text-indent: -9999px;
  position: absolute;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(/pblMgr/images/guanbi.png);
}

.popup__media{
  margin-bottom: 2rem;
}

@media screen and (min-width: 641px){

  .popup__title{
    font-size: 3.8rem;
  }

  .popup__close{
	margin: 10px;
	      width: 22px;
	  
  }
  
  .popup__media{
    max-width: 35%;
  }

  .popup__media_left{
    float: left;
    margin-right: 3rem;
  }

  .popup__media_right{
    float: right;
    margin-left: 3rem;
  }  
}

@media screen and (max-width: 640px){

  .popup__title{
    font-size: 2.2rem;
  }

  .popup__close{
    top: 20px;
    right: 20px;
  }
}

