﻿@args com.cloudsoaring.web.teacher.entity.TeacherHonorCertificateEntity certificate
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
     com.cloudsoaring.web.teacher.constant.TeacherMsgNames;
}
@{
    final String fileSizeLimit ="1024000";
}
@extends(common_teacher)
<div style="width: 80%;margin: auto;background: #fff;margin-top: 30px;">
@form("certificate-form"){
	<div>
	    @file(
              label:"上传案例/论文",
              required:true,
              name:"file1",
              fileextion: "txt, csv, doc, docx, xls, xlsx, ppt, pptx, pdf, rtf, zip, jpg ,png,mp4,10,obj,main,cn,rar,zip,apk",
              placeholder:"请选择需要上传的案例/论文",
              maxFileSize: fileSizeLimit,
              fileid: certificate.getFileId(),
              filename:certificate.getFileRealName()
        )
	</div>
	<div>
     	@input(label:"案例/论文名称", name:"name", groupcss:"col-6",  maxlength:"50",required:true, value:"")
     	 @hidden(id:"type", name:"type", value: "2")
     	 @hidden(id:"teacherId", name:"teacherId", value: certificate.getTeacherId())
	</div>
	<div>
     	@input(label:"获得时间",type:"date", name:"getTime", groupcss:"col-6",  maxlength:"50",required:true, value:"")
	</div>
	@btnbox(border:true){
		@button_save(width:100)
		@button_back(width:100)
	}
}
@table(id:"search-result",url:("/pub/teacherHonor/certificateList.action?type=2&teacherId="+certificate.getTeacherId())){
    @columns(){
        {field: 'name',title:'@MessageUtil.getMessage("案例/论文名称")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'getTime',title:'@MessageUtil.getMessage("获得时间")',background:'#b60005',sortable: true,align:'center', formatter:dateFormat},
		@optcolumn(width:50){
			@iconlink(
				label:MessageUtil.getMessage("编辑"),
				iconcss:"glyphicon-pencil",
				onclick:"editCertificate",
				innerType:"EDIT"
			)
			@iconlink(
				label:MessageUtil.getMessage("删除"),
				iconcss:"glyphicon-trash",
				onclick:"deleteCertificate",
				innerType:"DEL"
			)
			@iconlink(
				label:MessageUtil.getMessage("下载"),
				iconcss:"fa fa-download",
				onclick:"downloadCertificate",
				innerType:"DEL"
			)
		}
    }
}
</div>
<script>
function editCertificate(row){
	window.location.href = "@url("/pub/teacherHonor/certificateEdit.action?id=")" + row.id;
}
function downloadCertificate(row){
	window.open('@url("/pub/course/download.action")?fileId='+row.fileId+'&fileType=NETDIST','_blank');
}
function deleteCertificate(row){
	confirm("@MessageUtil.getMessage("确定要删除")  " + row.name + " ?", function(){
		$.ajax({ 
			url: "@url("/pub/teacherHonor/deleteCertificate.action")",
			data:{id:row.id},
			type:"post", 
			bodyMsg:true,
			mask:true,
			success: function(result){
	        	$('#search-result').bootstrapTable('refresh');
	      	}
	    });
		return true;
	});
}
function save(){
	$('#certificate-form').bootstrapValidator('validate');
  	 	if($('#certificate-form').data('bootstrapValidator').isValid()){
		//var params = $('#certificate-form').serializeObject();
		var params = new FormData($('#certificate-form')[0]);
		$.ajax({ 
			url: "@url("/pub/teacherHonor/saveCertificate.action")",
			data:params,
			type:"post", 
			processData: false,
			contentType: false,
			bodyMsg:true,
			success: function(result){
				window.location.href="@url("/pub/teacherHonor/trainingList.action")";
			}
	    });
	}
}
function isEditNotice(value, row, index){
      return true;
 }
 function isDeleteNotice(){
     return true;
 }
</script>