﻿@args com.cloudsoaring.web.teacher.entity.TeacherHonorCertificateEntity certificate
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
     com.cloudsoaring.web.teacher.constant.TeacherMsgNames;
}
@{
    final String fileSizeLimit ="1024000";
}
@extends(common_teacher)
<div style="width: 80%;margin: auto;background: #fff;margin-top: 30px;">
@table(id:"search-result",url:("/pub/teacherHonor/certificateList.action?type=3&teacherId="+certificate.getTeacherId())){
    @columns(){
        {field: 'name',title:'@MessageUtil.getMessage("考评名称")',background:'#b60005',sortable: true,align:'center'}, 
       	{field: 'getTime',title:'@MessageUtil.getMessage("获得时间")',background:'#b60005',sortable: true,align:'center', formatter:dateFormat},
		@optcolumn(width:50){
			@iconlink(
				label:MessageUtil.getMessage("下载"),
				iconcss:"fa fa-download",
				onclick:"downloadCertificate",
				innerType:"DEL"
			)
		}
    }
}
@btnbox(border:true){
		@button_back(width:100)
	}
</div>
<script>
function downloadCertificate(row){
	window.open('@url("/pub/course/download.action")?fileId='+row.fileId+'&fileType=NETDIST','_blank');
}
function isEditNotice(value, row, index){
      return true;
 }
 function isDeleteNotice(){
     return true;
 }
</script>