﻿@args com.cloudsoaring.web.teacher.entity.TeacherHonorCertificateEntity certificate,
String timeString
@import() {
     com.cloudsoaring.web.trainingplatform.entity.*
     com.cloudsoaring.web.trainingplatform.constants.*
     com.cloudsoaring.web.teacher.constant.TeacherStateConstants;
}
@{
    final String fileSizeLimit ="1024000";
}
@extends(common_teacher)
<div style="width: 80%;margin: auto;background: #fff;">
@form("certificate-form"){
	<div>
	    @file(
              label:"奖项/荣誉证书",
              required:true,
              name:"file1",
              fileextion: "txt, csv, doc, docx, xls, xlsx, ppt, pptx, pdf, rtf, zip, jpg ,png,mp4,10,obj,main,cn,rar,zip,apk",
              placeholder:"请选择需要上传的奖项/荣誉证书",
              maxFileSize: fileSizeLimit,
              fileid: certificate.getFileId(),
              filename:certificate.getFileRealName()
        )
	</div>
	<div>
     	@input(label:"奖项/荣誉名称", name:"name", groupcss:"col-5",  maxlength:"50",required:true, value:certificate.getName())
        @hidden(id:"teacherId", name:"teacherId", value: certificate.getTeacherId())
        @hidden(id:"id", name:"id", value: certificate.getId())
	</div>
	<div>
     	@input(label:"获得时间",type:"date", name:"getTime", groupcss:"col-5",  maxlength:"50",required:true, value:timeString)
	</div>
	@btnbox(border:true){
		@button_save(width:100)
		@button_back(width:100)
	}
}
</div>
<script>
function save(){
	$('#certificate-form').bootstrapValidator('validate');
  	 	if($('#certificate-form').data('bootstrapValidator').isValid()){
		var params = new FormData($('#certificate-form')[0]);
		$.ajax({ 
			url: "@url("/pub/teacherHonor/saveCertificate.action")",
			data:params,
			type:"post", 
			processData: false,
			contentType: false,
			bodyMsg:true,
			success: function(result){
				window.location.href="@url("/pub/teacherHonor/honorList.action")";
			}
	    });
	}
}
</script>