@args String title = "",
InstitutionEntity institution,
Object tagList,
TagInstitutionEntity tagInstitutionEntity,
ChapterActiveEntity activeEntity,
CourseManagerView course,
Object catagoryTags,
String pageType,
List teachList,
Boolean isOnlyView = false,
Boolean isTeacher =  false,
String type,
Object tagsSecond,
Object chapterList,
Object activeFlag,
Object chapterId,
String categoryId="", 
String pageType="list",
Boolean pageLoading=true,
List categorys,
String measureType
@extends(common_institution, pageType:pageType, pageLoading:false)
@import(){
 		    com.cloudsoaring.web.institution.entity.InstitutionEntity;
 		    com.cloudsoaring.web.trainingplatform.constants.*;
 		    com.cloudsoaring.web.institution.entity.TagInstitutionEntity;
 		     com.cloudsoaring.web.course.constant.CourseStateConstants;
		    com.cloudsoaring.web.course.constant.CourseMsgNames;
		    com.cloudsoaring.web.course.view.CourseManagerView;
		    com.cloudsoaring.web.course.view.TagView;
		    com.cloudsoaring.web.course.entity.QuestionEntity;
		    java.lang.*;
		    com.cloudsoaring.web.course.entity.ChapterEntity;
		    com.cloudsoaring.web.course.entity.ChapterActiveEntity;
}
<style>
	.question-title {
	    margin-top: 20px;
	}
	.question-div {
	    margin: 5px 0px;
	    display: table;
	    background-color: #fff;
	    padding-bottom: 15px;
	}
	.teacher-div {
        margin: 50px 0px;
        background-color: #fff;
        padding-bottom: 15px;
    }
    .btn-normal{
    background-color: #da4453 !important;
        border-color: #da4453 !important;
    }
</style>
<style>
   	   		.btn-normal:hover {
			    background-color: #da4453 !important;
			    border-color: #da4453 !important;
			}
			.btn.active, .btn:active, .btn:focus, .btn:hover {
			    color: #fff;
			    background-color: #da4453;
			    border-color: #da4453;
			    outline: 0!important;
			}
			.btn-normal, .btn-normal:focus, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .panel-normal>.panel-heading, .badge-normal, .label-normal, .tab-content {
			    border-color: #da4453 !important;
			}
			.btn-normal, .btn-normal:focus, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .tabs-rythm>li.active>a, .tabs-rythm>li.active>a:focus, .tabs-rythm>li.active>a:hover, .panel-normal>.panel-heading, .badge-normal, .tagsinput .tag:hover, .label-normal {
			    background-color: #da4453 !important;
			}
			a.iconlink-rythm:hover{
				color:#da4453 !important;
			}
			.type-primary.bootstrap-dialog .modal-header {
			    background-color: #da4453;
			}
			.type-primary.bootstrap-dialog .modal-header {
			    background-color: rgb(182, 0, 6);
			}
			.bootstrap-select .dropdown-menu li a:focus {
			    color: #fff;
			    background-color: #da4453;
			    outline: 0;
			}
   	   </style>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>  videojs.options.flash.swf = "@WebContext.url("/js/videojs/video-js.swf")"</script>
<div style="width:100%;height:100%;margin-left:auto;margin-right:auto;background: #fff;padding-left:100px;">
@form("grade_edit"){
				<div>
				   @hidden(institutionParentId:"institutionParentId",name:"institutionParentId",value:(institution.getInstitutionParentId()))
				   @hidden(id:"id",name:"id",value:(institution.getId()))
		           @input(label:MessageUtil.getMessage("机构名称"),name:"institutionName",groupcss:"col-10",required:true,value:(institution.getInstitutionName()))
		        </div>
				<div>
				    @combobox(
			        label:MessageUtil.getMessage("学校类型"),
			        name:"schoolNatrue", 
			        groupcss:"col-5",
			        popplace:"left",  
			        required:true,
			        value:institution.getSchoolNatrue(),  
			        options:CodeFactory.getCodeList(CourseStateConstants.SCHOOL_STAGE),
			        required:true
			      )
				
                    @combobox(
	                     label:MessageUtil.getMessage("标签分类"),
			            name:"firstTag", 
	                    popplace:"left", 
	                    multiple:false,
	                    groupcss:"col-5", 
	                    value:institution.getFirstTag(),
	                    labelfield:"tagName", 
	                    valuefield:"tagId",
	                    options:tagList,
	                    required:true
	                 )
				</div>
				<div>
					 @input(label:MessageUtil.getMessage("机构简称"),name:"institutionAbbreviation",groupcss:"col-10",required:true,value:(institution.getInstitutionAbbreviation()))
				</div>
				<div>
				    @picture(
				        label:MessageUtil.getMessage("学校封面"),
				        id:"imageP",
				        required:true,
				        height:"250px", 
				        groupcss:"col-10",
				        url:"pub/image.action", 
				        fileid: institution.getImage(),  
				        filename: institution.getPictureName(),
				        viewmode:false
				     )
				</div>
				<div>
				   @textarea(
		              groupcss:"col-10", 
		              label:MessageUtil.getMessage("机构地址"), 
		              id:"institutionAddress", 
		              required:false,
		              maxlength:"400",
		              name: "institutionAddress",
		              height:"210px",
		              value:institution.getInstitutionAddress(), 
		              disabled:false
		          )
				</div>
				<div>
				    @textarea(
			              groupcss:"col-10", 
			              label:MessageUtil.getMessage("具体地址"), 
			              id:"institutionSpecificAddress", 
			              required:false,
			              maxlength:"400",
			              name: "institutionSpecificAddress",
			              height:"210px",
			              value:institution.getInstitutionSpecificAddress(), 
			              disabled:false
			          )
				</div>
				<div>
				   @textarea(
			              groupcss:"col-10", 
			              label:MessageUtil.getMessage("门户地址"), 
			              id:"portalAddress", 
			              required:false,
			              maxlength:"400",
			              name: "portalAddress",
			              height:"210px",
			              value:institution.getPortalAddress(), 
			              disabled:false
			          )
				
				</div>
				<div>
					@combobox(
				              label:MessageUtil.getMessage("机构性质"),
				              name:"nature", 
				              popplace:"left",  
				              value:institution.getNature(), 
				              options:"[{value:'公办',text:'公办'},{value:'民办',text:'民办'}]",
				              required:false, 
				              groupcss:"col-5",
				              disabled:false
			         )
	         		@input(label:MessageUtil.getMessage("联系电话"),name:"telphone",groupcss:"col-5",required:false,value:(institution.getTelphone()))
				</div>
				<div>
				     @input(label:MessageUtil.getMessage("机构邮箱"),name:"email",groupcss:"col-5",required:false,value:(institution.getEmail()))
				     @combobox(
					              label:MessageUtil.getMessage("门户类型"),
					              name:"portalType", 
					              popplace:"left",  
					              value:institution.getPortalType(), 
					              options:"[{value:'自主配置',text:'自主配置'},{value:'自主配置',text:'自主配置'}]",
					              required:false, 
					              groupcss:"col-5",
					              disabled:false
				         )
				</div>
				<div>
				      @combobox(
				              label:MessageUtil.getMessage("是否合作"),
				              name:"ifCooperation", 
				              popplace:"left",  
				              value:institution.getIfCooperation(), 
				              options:"[{value:'是',text:'是'},{value:'否',text:'否'}]",
				              required:false, 
				              groupcss:"col-5",
				              disabled:false
			         )
			         @combobox(
				              label:MessageUtil.getMessage("隶属关系"),
				              name:"affiliation", 
				              popplace:"left",  
				              value:institution.getAffiliation(), 
				              options:"[{value:'一般',text:'一般'},{value:'省直',text:'省直'},{value:'市直',text:'市直'}]",
				              required:false, 
				              groupcss:"col-5",
				              disabled:false
			         )
				</div>

		@btnbox(){
			@button_save(width:100)
			@button_back(width:100)
		}
}
</div>
<script>
		function save(){
			$('#grade_edit').bootstrapValidator('validate');
			if($('#grade_edit').data('bootstrapValidator').isValid()){ 
				var params = new FormData($('#grade_edit')[0]);
				$.ajax({ 
					url: "@url("/pub/course/updateInstitution.action")",
					data:params,
					method:"post",  
					bodyMsg:true,
					mask:true,
					/** 
			         *必须false才会自动加上正确的Content-Type 
			         */
					contentType:false,  
			        /** 
			         * 必须false才会避开jQuery对 formdata 的默认处理 
			         * XMLHttpRequest会对 formdata 进行正确的处理 
			         */  
			        processData:false, 
					success: function(result){
						 if ( result.status ) { 
								window.location.href=document.referrer;
						       } else { 
						        noticeInfo("学校名称已存在，请勿重复创建！");
						       }
						
			      	}
			    });
			}
			}
		
		 function getSecondTag(value){ 
		       if(value ==null || value==""){
		          $("#firstTag").html("");
		          $("#firstTag").selectpicker('refresh');
		       }else{
		            var url  = "@url("/pub/course/searchInsitutionSecondTag2.action?id=")"+value;
		            $("#firstTag").selectpicker('reload', url);
		       }
		       // parent.refreshTable();
		    }
</script>
<script>
var browserInfo = "";
var sysInfo = "";
var IpInfo = "";
(function($){
			 var BrowserMatch = {  
				  init: function() {  
					  this.browser = this.getBrowser().browser || "未知浏览器";  //获取浏览器名
					  this.version = this.getBrowser().version || "未知浏览器版本号";  //获取浏览器版本
					  this.OS = this.getOS()+" "+this.getDigits() || "未知操作系统"; //系统版本号 
				  },  
				  getOS: function() {  //判断所处操作系统
						 var sUserAgent = navigator.userAgent.toLowerCase();   
						
						var isWin = (navigator.platform == "Win32") || (navigator.platform == "Win64")|| (navigator.platform == "wow64");   
						
						var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");   
						if (isMac) return "Mac";   
						var isUnix = (navigator.platform == "X11") && !isWin && !isMac;   
						if (isUnix) return "Unix";   
						var isLinux = (String(navigator.platform).indexOf("Linux") > -1);   
						var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";  
						if (isLinux) {  
						if(bIsAndroid) return "Android";  
						else return "Linux";   
						}  
						if (isWin) {   
						
							var isWin2K = sUserAgent.indexOf("Windows nt 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;   
							if (isWin2K) return "Win2000";   
							var isWinXP = sUserAgent.indexOf("Windows nt 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1  
							sUserAgent.indexOf("Windows XP") > -1;   
							if (isWinXP) return "WinXP";   
							var isWin2003 = sUserAgent.indexOf("Windows nt 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;   
							if (isWin2003) return "Win2003";   
							var isWinVista= sUserAgent.indexOf("Windows nt 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;   
							if (isWinVista) return "WinVista";   
							var isWin7 = sUserAgent.indexOf("Windows nt 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;   
							if (isWin7) return "Win7";   
							var isWin8 = sUserAgent.indexOf("windows nt 6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;  
							if (isWin8) return "Win8"; 
							var isWin10 = sUserAgent.indexOf("windows nt 10.0")>-1||sUserAgent.indexOf("Windows 10")>-1;	
							if(isWin10)return "Win10";				
						}  
						return "其他";
				  },  
				  getDigits:function(){ //判断当前操作系统的版本号 
					var sUserAgent = navigator.userAgent.toLowerCase();   
					var is64 = sUserAgent.indexOf("win64") > -1||sUserAgent.indexOf("wow64") > -1;  
					if (is64) {  
						return "64位";  
					}else{  
					   return "32位";    
					}  
				},
				  getBrowser: function() {  // 获取浏览器名
					  var rMsie = /(msie\s|trident\/7)([\w\.]+)/;  
					  var rTrident = /(trident)\/([\w.]+)/;  
					  var rEdge = /(chrome)\/([\w.]+)/;//IE
					  
					  var rFirefox = /(firefox)\/([\w.]+)/;  //火狐
					  var rOpera = /(opera).+version\/([\w.]+)/;  //旧Opera
					  var rNewOpera = /(opr)\/(.+)/;  //新Opera 基于谷歌
					  var rChrome = /(chrome)\/([\w.]+)/; //谷歌 
					  var rUC = /(chrome)\/([\w.]+)/;//UC
					  var rMaxthon = /(chrome)\/([\w.]+)/;//遨游
					  var r2345 =  /(chrome)\/([\w.]+)/;//2345
					  var rQQ =  /(chrome)\/([\w.]+)/;//QQ
					  //var rMetasr =  /(metasr)\/([\w.]+)/;//搜狗
					  var rSafari = /version\/([\w.]+).*(safari)/;
					  
					  var ua = navigator.userAgent.toLowerCase();  
 
 
					  var matchBS, matchBS2;  
					  
					  //IE 低版
					  matchBS = rMsie.exec(ua);  
					  if (matchBS != null) {  
						  matchBS2 = rTrident.exec(ua);  
						  if (matchBS2 != null) {  
							  switch (matchBS2[2]) {  
							  case "4.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 8"  //内核版本号
								  };  
								  break;  
							  case "5.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 9"  
								  };  
								  break;  
							  case "6.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 10"  
								  };  
								  break;  
							  case "7.0":  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "IE: 11"  
								  };  
								  break;  
							  default:  
								  return {  
									  browser:  
									  "Microsoft IE",  
									  version: "Undefined"  
								  };  
							  }  
						  } else {  
							  return {  
								  browser: "Microsoft IE",  
								  version: "IE:"+matchBS[2] || "0"  
							  };  
						  }  
					  }  
					  //IE最新版
					   matchBS = rEdge.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "Microsoft Edge",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
                                          //UC浏览器					  
					  matchBS = rUC.exec(ua);                         		   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "UC",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //火狐浏览器
					  matchBS = rFirefox.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "火狐",  
							  version: "Firefox/"+matchBS[2] || "0"  
						  };  
					  }  
                                         //Oper浏览器					 
					 matchBS = rOpera.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "Opera",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //遨游
					   matchBS = rMaxthon.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "遨游",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
                                          //2345浏览器					  
 					  matchBS = r2345.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "2345",  
							  version: "Chrome/ "+matchBS[2] || "0"  
						  };  
					  }  
                                          //QQ浏览器					  
					  matchBS = rQQ.exec(ua);  	 				   
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  return {  
							  browser: "QQ",  
							  version: "Chrome/"+matchBS[2] || "0"  
						  };  
					  }  
					  //Safari（苹果）浏览器
					  matchBS = rSafari.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent)) && (!(window.chrome)) && (!(window.opera))) {  
						  return {  
							  browser: "Safari",  
							  version: "Safari/"+matchBS[1] || "0"  
						  };  
					  }  
					  //谷歌浏览器
					   matchBS = rChrome.exec(ua);  
					  if ((matchBS != null) && (!(window.attachEvent))) {  
						  matchBS2 = rNewOpera.exec(ua);  
						  if (matchBS2 == null) {  
							  return {  
								  browser: "谷歌",  
								  version: "Chrome/"+matchBS[2] || "0"  
							  };  
						  } else {  
							  return {  
								  browser: "Opera",  
								  version: "opr/"+matchBS2[2] || "0"  
							  };  
						  }  
					  }  
				  }  
      };  
      BrowserMatch.init();  
      //alert("当前浏览器为：" + BrowserMatch.browser +"\n版本为："+ BrowserMatch.version + "\n所处操作系统为："+BrowserMatch.OS); 
      browserInfo = BrowserMatch.version;
	  sysInfo = BrowserMatch.OS;
		})(jQuery);
</script>		
