@args String title = "",Boolean pageLoading=true,Object condition,Boolean isTeacher =  false

@extends(client, title:"")
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
 		    com.cloudsoaring.web.institution.entity.*
 		    com.cloudsoaring.web.course.entity.*
 		    
}
<script type="text/javascript" src="@url("/js/baidu.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
@{
    String groupCssTemp = "col-4";
    if(isTeacher){
        groupCssTemp = "col-6";
    }
    final String groupcss = groupCssTemp;
}
<script>
	function createQueryParams01(params){
		return buildQueryParam('#search-condition', params);
	}
	function noFormat(value, row, index){ 
		return index+1;
	}
	function editGrade(row){
		window.location.href = "@url("/pub/course/baseinstitutionEdit.action?")"+"id="+row.id;
	}
	function deleteGrade(row){
		var msg = "@MessageUtil.getMessage(TpMsgNames.SURE_TO_DELETE)"+"["+row.personName+"]"+"?";
		confirm(msg,function(){
			$.ajax({ 
			    url:"@url("/pub/course/deleteManagerById.action?")"+"id="+row.userId,
				bodyMsg:true,
				type:"post", 
				success: function(result){
					parent.research();
			    }
			});
		});
	}
	function isEditNotice(value, row, index){
        return true;
    }
</script>
<!-- 人员添加dialog -->
@assign("userInfo"){
  <div style="width:600">
      @form(name:"search-user-condition",validation:false){
           <div >
               @input(label:MessageUtil.getMessage("人员名称"), name:"usrName",groupcss:"fcol-12")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
	    @table(id:("search-user"), showColumns:false, url:"/pub/course/searchUserAll.action",height:400,singleSelect:true,queryParamFunction:"createQueryParamsUser"){
	        @columns(){
	            {field: 'state',title: "",align:'center',checkbox:true,width:30},
	            {field: 'userName',title: "人员账号",sortable: true},                                            
	            {field: 'personName',title: "人员名称",sortable: true}
	        }
	     }
    </div>
}
<div style="width:100%">
@form(name:"search-condition",validation:false,showempty:true){
	 
		@hidden(id:"conditionId",name:"id")
		@input(label:"人员名称",name:"personName", groupcss:groupcss})
		@btnbox(align:"right"){
			@button_search()
			@button_clear()
			@button(label:MessageUtil.getMessage("增加人员"), iconcss:"fa fa-plus-circle",  onclick:"addUser", innerType:"ADD")
			<!-- @button(label:MessageUtil.getMessage("导出Excel"), iconcss:"fa fa-plus-circle", url:"/manager/institution/exportInstitution.action", innerType:"") -->
		}
	<script>
		function doClear(){
			clearForm($('#import-form'));
			$("#result").html("");
		}
	</script>
}
	
</div>  
@table(id:"search-result",url:"/pub/course/searchManagerUserList.action",condition:condition,sortName:"createTime",sortable:true,
 		sortOrder:"desc",queryParamFunction:"createQueryParams01"){ 		
	@columns(){
		{field: 'number',title:'@MessageUtil.getMessage(TpMsgNames.MSG_NO)',width:80,align:'center',formatter:"noFormat"},
		{field: 'userName',title:'人员账号',width:120,sortable: true,align:'center'}, 
		{field: 'personName',title:'人员名称',width:200,sortable: true,align:'center'},
        {field: 'createDate',title:'@MessageUtil.getMsgAndNote("创建时间","bb02001.txt.courseManger.status")',width:50,background:'#b60005',sortable: true,align:'center',formatter:dateFormat},
		@optcolumn(width:120){
			@iconlink(
				label:MessageUtil.getMessage(MsgNames.MSG_DELETE)
				, iconcss:"glyphicon-trash"
				, onclick:"deleteGrade"
				, innerType:"DEL"
			)
		}
	}
}


<script type="text/javascript">
function createQueryParamsUser(params){
    return buildQueryParam('#search-user-condition', params);
 }
function addUser(){
    BootstrapDialog.show({
        title:"选择人员",
        cssClass:'user_dialog',
        message: $('@es(userInfo).raw()'),
        buttons: [
        {
           label: "确定",
           cssClass: 'btn-normal fa fa-floppy-o',
           action: function(dialog) {
                //找到选中的用户
                var selectedRows = $('#search-user').bootstrapTable('getSelections');
                if(selectedRows && selectedRows.length > 0){
                   for(var i = 0; i < selectedRows.length; i++){
                      var url  = "@url("/pub/course/saveManagerUser.action?userId=")"+selectedRows[i].userId+"&userName="+selectedRows[i].userName+"&personName="+selectedRows[i].personName+"&role=1";
                      $.ajax({ 
                          url:url,
                          bodyMsg:true,
                          type:"post", 
                          success: function(result){
                            window.location.reload();
                           }
                      });
                   } 
                   this.dialog.close();
                }else{
                    warning("请选择要添加的人员");
                }
           }
            
       },
       {
           label: "关闭",
           cssClass: 'btn-normal fa fa-remove',
           action: function(dialog) {
               this.dialog.close();
           }
       }]
    });


}
</script>
