@args String title = "",InstitutionEntity institution,Object catagoryTags,Object tagsSecond,Boolean isOnlyView = false,Object tagList,
TagInstitutionEntity tagInstitutionEntity
@extends(client, title:"")

@import(){
 		    com.cloudsoaring.web.institution.entity.InstitutionEntity;
 		    com.cloudsoaring.web.trainingplatform.constants.*;
 		     com.cloudsoaring.web.course.constant.CourseStateConstants;
		    com.cloudsoaring.web.course.constant.CourseMsgNames;
		    com.cloudsoaring.web.taxonomy.entity.TbInstitutionEvalutionManagerView;
		    com.cloudsoaring.web.taxonomy.entity.TagInstitutionView;
		    com.cloudsoaring.web.course.entity.QuestionEntity;
		    com.cloudsoaring.web.institution.entity.TagInstitutionEntity;
		    java.lang.*;
}
<div style="width:100%;height:100%;margin-left:auto;margin-right:auto;background: #fff;padding-left:100px;">
@form("grade_edit"){
				<div>
				   @hidden(institutionParentId:"institutionParentId",name:"institutionParentId",value:(institution.getInstitutionParentId()))
		           @input(label:MessageUtil.getMessage("学校名称"),name:"institutionName",groupcss:"col-10",required:true,value:(institution.getInstitutionName()))
		        </div>
				<div>
				   @combobox(
			        label:MessageUtil.getMessage("学校类型"),
			        name:"schoolNatrue", 
			        groupcss:"col-5",
			        popplace:"left",  
			        required:true,
			        value:institution.getSchoolNatrue(),  
			        options:CodeFactory.getCodeList(CourseStateConstants.SCHOOL_STAGE),
			        required:true
			      )
				
                    @combobox(
	                     label:MessageUtil.getMessage("标签分类"),
			            name:"firstTag", 
	                    popplace:"left", 
	                    multiple:false,
	                    groupcss:"col-5", 
	                    value:institution.getFirstTag(),
	                    labelfield:"tagName", 
	                    valuefield:"tagId",
	                    options:tagList,
	                    required:true
	                 )   
				</div>
				<div>
					@input(label:MessageUtil.getMessage("学校简称"),name:"institutionAbbreviation",groupcss:"col-10",required:true,value:(institution.getInstitutionAbbreviation()))
				</div>
				<div>
				  @imginstitution(id:"imageP",name:"imageP", label:MessageUtil.getMessage("学校封面"), groupcss:"col-10",required:true)
				</div>
				<div>
				   @textarea(
		              groupcss:"col-10", 
		              label:MessageUtil.getMessage("学校地址"), 
		              id:"institutionAddress", 
		              required:false,
		              maxlength:"400",
		              name: "institutionAddress",
		              height:"210px",
		              value:institution.getInstitutionAddress(), 
		              disabled:false
		          )
				</div>
				<div>
				    @textarea(
			              groupcss:"col-10", 
			              label:MessageUtil.getMessage("具体地址"), 
			              id:"institutionSpecificAddress", 
			              required:false,
			              maxlength:"400",
			              name: "institutionSpecificAddress",
			              height:"210px",
			              value:institution.getInstitutionSpecificAddress(), 
			              disabled:false
			          )
				</div>
				<div>
				   @textarea(
			              groupcss:"col-10", 
			              label:MessageUtil.getMessage("门户地址"), 
			              id:"portalAddress", 
			              required:false,
			              maxlength:"400",
			              name: "portalAddress",
			              height:"210px",
			              value:institution.getPortalAddress(), 
			              disabled:false
			          )
				
				</div>
				<div>
					@combobox(
				              label:MessageUtil.getMessage("机构性质"),
				              name:"nature", 
				              popplace:"left",  
				              value:institution.getNature(), 
				              options:"[{value:'公办',text:'公办'},{value:'民办',text:'民办'}]",
				              required:false, 
				              groupcss:"col-5",
				              disabled:false
			         )
	         		@input(label:MessageUtil.getMessage("联系电话"),name:"telphone",groupcss:"col-5",required:false,value:(institution.getTelphone()))
				</div>
				<div>
				     @input(label:MessageUtil.getMessage("机构邮箱"),name:"email",groupcss:"col-5",required:false,value:(institution.getEmail()))
				     @combobox(
					              label:MessageUtil.getMessage("门户类型"),
					              name:"portalType", 
					              popplace:"left",  
					              value:institution.getPortalType(), 
					              options:"[{value:'顶级门户',text:'顶级门户'},{value:'自主配置',text:'自主配置'}]",
					              required:false, 
					              groupcss:"col-5",
					              disabled:false
				         )
				</div>
				<div>
				      @combobox(
				              label:MessageUtil.getMessage("是否合作"),
				              name:"ifCooperation", 
				              popplace:"left",  
				              value:institution.getIfCooperation(), 
				              options:"[{value:'是',text:'是'},{value:'否',text:'否'}]",
				              required:false, 
				              groupcss:"col-5",
				              disabled:false
			         )
			         @combobox(
				              label:MessageUtil.getMessage("隶属关系"),
				              name:"affiliation", 
				              popplace:"left",  
				              value:institution.getAffiliation(), 
				              options:"[{value:'一般',text:'一般'},{value:'省直',text:'省直'},{value:'市直',text:'市直'}]",
				              required:false, 
				              groupcss:"col-5",
				              disabled:false
			         )
				</div>

		@btnbox(){
			@button_save(width:100)
			@button_back(width:100)
		}
}
</div>
<script>
		function save(){
			$('#grade_edit').bootstrapValidator('validate');
			if($('#grade_edit').data('bootstrapValidator').isValid()){ 
				var params = new FormData($('#grade_edit')[0]);
				$.ajax({ 
					url: "@url("/pub/course/insertInstitution.action")",
					data:params,
					method:"post",  
					bodyMsg:true,
					mask:true,
					contentType:false,  
			        processData:false, 
					success: function(result){
					    if ( result.status ) { 
					    	window.location.href=document.referrer;
					       } else { 
					        $("#tipMsg").text("删除数据失败"); 
					        noticeInfo("学校名称已存在，请勿重复创建！");
					       }
						
			      	}
			    });
			}
			}
		
		 function getSecondTag(value){ 
		       if(value ==null || value==""){
		          $("#firstTag").html("");
		          $("#firstTag").selectpicker('refresh');
		       }else{
		            var url  = "@url("/pub/course/searchInsitutionSecondTag2.action?id=")"+value;
		            $("#firstTag").selectpicker('reload', url);
		       }
		       // parent.refreshTable();
		    }
</script>