@args String title = "",Boolean pageLoading=true,

@extends(client, title:"")
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
 		    com.cloudsoaring.web.institution.entity.*
 		    com.cloudsoaring.web.course.entity.ChapterEntity
 		    
}
<script type="text/javascript" src="@url("/js/baidu.js")"></script>
<script type="text/javascript" src="@url("/js/jquery-ui.min.js")"></script>
<script>
	function createQueryParams01(params){
		return buildQueryParam('#search-condition', params);
	}
	function noFormat(value, row, index){ 
		return index+1;
	}
</script>
<div>
@form(name:"search-condition",validation:false,showempty:true){
	 
		@hidden(id:"conditionId",name:"id")
		@input(label:"课程名称",name:"courseName",maxlength:"20")
		@input(label:"考试名称",name:"examName",maxlength:"20")
		@btnbox(align:"right"){
			@button_search()
			@button_clear()
			<!-- @button(label:MessageUtil.getMessage("导出Excel"), iconcss:"fa fa-plus-circle", url:"/manager/institution/exportInstitution.action", innerType:"") -->
		}
	<script>
		function doClear(){
			clearForm($('#import-form'));
			$("#result").html("");
		}
	</script>
}
	
</div>  
@table(id:"search-result",url:"/pub/course/myAllExamList.action",pageSize:10, sortName:"createTime",sortable:true,
 		sortOrder:"desc",queryParamFunction:"createQueryParams01"){ 		
	@columns(){
		{field: 'number',title:'@MessageUtil.getMessage(TpMsgNames.MSG_NO)',width:80,align:'center',formatter:"noFormat"},
		{field: 'courseName',title:'课程名称',width:120,align:'center',formatter:courseFormat}, 
		{field: 'examName',title:'考试名称',width:200,align:'center',formatter:examFormat},
		{field: 'goal',title:'得分',width:200,sortable: true,align:'center'},
		{field: 'effectiveStartDate',title:'考试开始时间',width:200,sortable: true,align:'center', formatter:dateFormat},
		{field: 'effectiveEndDate',title:'考试结束时间',width:200,sortable: true,align:'center', formatter:dateFormat},
	}
}
 @assign("seacherCourse"){
 	<a href="javascript:void(0)" onclick="seacherCourse('%courseId')" style="border-bottom: 1px solid #2400ff;color: blue;">%courseName</a>
 }
  @assign("seacherExam"){
 	<a href="javascript:void(0)" onclick="seacherExam('%measurementId')" style="border-bottom: 1px solid #2400ff;color: blue;">%examName</a>
 }
<script type="text/javascript">
function courseFormat(value ,row ,index){
	 var result = [];
	 	 result.push("@es(seacherCourse).raw()".replace(/%courseId/g,row.courseId).replace(/%courseName/g,value));
	
	return result ;
}
function examFormat(value ,row ,index){
	 var result = [];
	 	 result.push("@es(seacherExam).raw()".replace(/%measurementId/g,row.measurementId).replace(/%examName/g,value));
	
	return result ;
}
function seacherCourse(courseId){
	window.open('@url("/pub/course/courseDetailInit.action")?courseId='+courseId,'_self');	 				
}
function seacherExam(measurementId){
	window.open('@url("/pub/course/userExamDetail.action")?measurementId='+measurementId,'_self');	 				
}
</script>

