
@args String title = MessageUtil.getMessage(""),Object schoolName,Object mangerRole,Object manager
@extends(client,title:getPageTitle(title), "text_course")

@import(){
 com.cloudsoaring.web.course.constant.CourseStateConstants
 com.cloudsoaring.web.trainingplatform.utils.*
}




@{
	Boolean showPriceByPoints = false;
	Integer unitPrice = 1;
	if(TpConfigUtil.displayPriceByPoints()){
		showPriceByPoints = true;
		unitPrice = TpConfigUtil.getPointsForSmallChange();
	}
}

<link rel="stylesheet" href="@WebContext.url("/css/course_resource_list.css")"/>
<style>
	.top {
	    max-width: 1386px;
	    margin: auto;
	    padding-bottom: 10px;
	}
	.pointer_bg{  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
	}  
.courseList {
    width: 1386px;
    margin: auto;
    margin-top: 30px;
}
</style>
<div id="kechengNav" style="background-color: #fff; margin-top: 20px;">
	<div class="course_logo">
		<div class="course-top ">
			<a class="top-header" href="#">
				<img src="/pblMgr/images/logo/xx.png" alt="课程" width="36" height="36" style="float: left;">
				<span style="font-family: 微软雅黑;font-size: 24px;color: #b60005;display: block;float: left;vertical-align: middle;line-height: 36px;padding-left: 5px;">学校</span>
			</a>
			<div class="course-top-search">
				<div class="search-area" data-search="top-banner">
					<input class="search-input" data-suggest-trigger="suggest-trigger" placeholder="请输入学校名称" type="text" autocomplete="off" id="codeSel" name="institutionName">
					<input class="search-input" data-suggest-trigger="suggest-trigger" type="hidden" autocomplete="off" id="courseId" value="@schoolName">
					<input type="hidden" class="btn_search" data-search-btn="search-btn">
					<ul class="search-area-result js-search-wrap" data-suggest-result="suggest-result"></ul>
				</div>
				<div class="showhide-search" data-show="no">
					<span class="gh gh-search" style="" onClick="seachInfo()"></span>
				</div>
			</div>
		</div>
	</div>
</div>
@if(role == "m"){
  <div>
	@school_tag_query(id:"tagQuery", itemSelectedFun:"courseListReflash")
  </div>
}
@grid_list_school(url:"/pub/course/schoolList.action", pageSize:30, id:"courseList", getParamsFunction:"getParams"){
	@list_item(renderItemFunction:"renderItemContent") {	
		<!-- <a style="color:#000000;" href="@url("/pub/course/courseDetailInit.action?courseId=%courseId")"> -->
		<a style="color:#000000;" href="javascript:void(0)" onclick="courseDetail('%institutionName');">
			<div id="courseId" style="display: none;">%id</div>
			<div class="course-card-container">
				<div class="course-card-top">
					<img class="course-banner lazy" style="display: inline;" src="@url("/pub/image.action?fileId=%image")">
				</div>
				<div class="course-card-content">
					<h3 class="course-card-name" style="text-align: center;">%institutionName</h3>
				</div>
			</div>
		</a>
	}
}
<script>
	function courseDetail(institutionName){
		var operDetail = $("h3")[0].innerHTML;
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/insertUserOper.action',
			dataType:"json",
			data:{browserInfo:"Chrome/80.0.3987.132",sysInfo:"Win10 64位",IpInfo:"219.239.227.251",operDetail:operDetail,operSite:"pblMgr/course/client/course_detail.html"},
			success:function(result){
			}
		});	
		$.ajax({
			type:'post',
			url:'/pblMgr/pub/course/selectSchoolNameInfo.action',
			dataType:"json",
			data:{},
			success:function(result){
				if(institutionName==result.data.schoolName || @mangerRole=='1'){
					window.open('/pblMgr/pub/course/courseListInit.action?schoolName='+institutionName,'_self');
				}else{
					noticeError("该操作人员不属于本校人员，无权限访问！");
				}
			},
			error:function(){
				noticeError("系统繁忙，请稍后再试！");
			}
		});
		//var courseId = $("#courseId")[0].innerHTML;
		
	}
	function seachInfo(){
        courseListReflash();
    }
	$(function(){
		initTagData();
	})
	
	function initTagData() {
		//检索课程列表
		$.ajax({
			url:"@url("/pub/tag/searchSchhoolCategory3.action")",
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					 objs.unshift(getCourseStageTagData()); 
					//添加阶段
					if(@manager == "1"){
						$('#tagQuery').data("initTag")(objs);
					}
					
						
				}
			}
		});
	}
	
 	function getCourseStageTagData(){
		var codes =  @JsonLib.toJson(CodeFactory .getCodeMap(CourseStateConstants.SCHOOL_STAGE)).raw();
		var tagItems = [];
		for(key in codes) {
			var item = {
				tagId : key,
				tagTypeId : "@CourseStateConstants.SCHOOL_STAGE",
				parentId : "",
				tagName: codes[key]
			}
			tagItems.push(item)
		}
		
		
		var result = {
			tagTypeId : "@CourseStateConstants.SCHOOL_STAGE",
			tagTypeName : "阶段",
			parentId : "",
			list : tagItems
		}
		return result;
	} 
	
	//列表参数
	function getParams(){
	    var name=$('#codeSel').val();
	    var schoolName=$('#courseId').val();
		var result = new Object;
		if(@manager == "1"){
			var selectedTags = $('#tagQuery').data("getTagSelect")();
			if(!selectedTags) {
			    if(name && schoolName=="") {
	                result["institutionName"] = name;
	            }else if(name=="" && schoolName!=""){
	            	result["institutionName"] = schoolName;
	            }
				return result;
			}
			if(selectedTags["3"]) {
				result["directionTagId"] = selectedTags["3"];
			}
			if(selectedTags["4"]) {
				result["categoryTagId"] = selectedTags["4"];
			}
			if(selectedTags["@CourseStateConstants.SCHOOL_STAGE"]) {
				result["schoolStage"] = selectedTags["@CourseStateConstants.SCHOOL_STAGE"];
			}
		}
		result["schoolName"] = schoolName;
		
		
		if(name) {
                result["institutionName"] = name;
            }
		
		return result;
	}
	
	function renderItemContent(itemContent, obj) {
		var institutionName = hideStringByMax(obj.institutionName,26);
		return itemContent
					.replace(/%institutionName/g, getOrElse(institutionName))
					.replace(/%id/g,obj.id)
					.replace(/%image/g,obj.image);
	}
	function typeFormat(value){ 
		if(value == null){
			return "无类型";
		}else{
			 var data = @JsonLib.toJson(CodeFactory.getCodeMap(CourseStateConstants.COURSE_TYPE)).raw();
		     return data[value];
		}
    }
	$(function(){
		$('#codeSel').on('keypress',function(event){
			if(event.keyCode=='13'){
				courseListReflash();
			}
		})
	});
</script>