@import(){
com.cloudsoaring.web.course.view.PlanView;
com.cloudsoaring.web.course.constant.*;
}
@args PlanView plan
@extends(blank,title:"")

@form("search-condition"){
	@row(){
        @input({label:MessageUtil.getMessage("案例名称"), name:"title"})
        @combobox(label:MessageUtil.getMessage("案例状态"),name:"planStatus", empty:true, options:CodeFactory.getCodeList(CourseStateConstants.PLAN_STATUS))
    }
    @btnbox(align:"right"){
        @button_search()
        @button_clear()
    }
}
@table(id:"search-result", url:"/client/case/search.action",showColumns:false,sortName:"createDate",sortOrder:"desc"){	
	@toolbar(){
		@button(label:MessageUtil.getMessage(MsgNames.MSG_ADD),iconcss:"fa fa-plus",url:"/client/case/add.action",innertype:"ADD")
		@button(label:MessageUtil.getMessage(MsgNames.MSG_DELETE),iconcss:"fa fa-remove",onclick:"deletePlan",innertype:"DEL")
	}
	@columns(){
		{field: 'state',title: "全选",align:'center',checkbox: true,width:30},											
		{field: 'title',title: "案例名称",width:80,sortable: true,formatter:formatterTitle},
		{field: 'content',title: "案例介绍",width:80,sortable: true,formatter:formatterContent},	
		{field: 'planStatus',title: "案例状态",width:80,sortable: true,align:'center',formatter:formatterPlanStatus},				
		{field: 'planNodeNumber',title: "步骤",width:80,sortable: true,align:'center'},									
		@optcolumn(width:100){
			@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_VIEW), iconcss:"glyphicon-eye-open", onclick:"viewPlan")
			@iconlink(label:MessageUtil.getMessage(MsgNames.MSG_EDIT), iconcss:"glyphicon-pencil", onclick:"editPlan")
			@iconlink(label:MessageUtil.getMessage("添加人员"), iconcss:"gh gh-user", onclick:"addPlanUser",visibleFunction:"displayPlanUser")
		}
															
	}
}

<script type="text/javascript">
	//对content多余的字符进行隐藏
	function formatterContent(value, row, index){
		var content=hideStringByMax(value,50);
		return content;
		
	}
	
	//对title多余的字符进行隐藏
	function formatterTitle(value, row, index){
		var content=hideStringByMax(value,20);
		return content;
		
	}
	
	function fileNameFormatter(value, row, index){
		var str=""
		if(row.content==""||row.comtent==null){
			str='<a href="#" onclick="viewDetail(\'' + row.fileId + '\',\''+ row.fileName + '\',\''+ row.contentType + '\');">' + row.fileName + '</a>';
			return str; 
		}else{
		str='<h1>'+value+'</h1>';
		}
		if(row.rown==""||row.rown==null){
		
		}		
		return '<a href="#" onclick="viewDetail(\'' + row.fileId + '\',\''+ row.fileName + '\',\''+ row.contentType + '\');">' + row.fileName + '</a>';
	}
	//显示发布状态
	function formatterPlanStatus(value, row, index){ 
   		if(value != null){
   			if(value == 1){
				return "连载中";
			}else if(value == 2){
				return "更新完成";
			}else if(value == 3){
				return "已结束";
			}
   		}  		
	}
	//查看案例
	function viewPlan(row){
		//保留上次查询条件跳转
		var condition = $('#search-result').bootstrapTable('getLastQueryParams');
		window.location.href = "@url("/client/case/view.action?id=")" + row.id;
	}
	//编辑案例
	function editPlan(row){
		window.location.href = "@url("/client/case/edit.action?id=")" + row.id;
	}
	//添加案例人员
	function addPlanUser(row){
		window.location.href = "@url("/client/case/addCaseUser.action?id=")" + row.id;
	}
	//批量删除案例
	function deletePlan(){
		var selectedRows = $('#search-result').bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){
			var id = [];
			for(var i = 0; i < selectedRows.length; i++){
				id[i] = selectedRows[i].id;
			}
			confirm("@MessageUtil.getMessage("确认删除选中的案例")", function(){
				$.ajax({ 
					url: "@url("/client/case/delete.action")",
					data:{id:id.join(',')},
					type:"post", 
					bodyMsg:true,
					mask:true,
					success: function(result){
			        	//成功
			        	$('#search-result').bootstrapTable('refresh');
			      	}
			    });
				return true;
			});
		}else{
			warning("@MessageUtil.getMessage(MsgNames.MSG_PLEASE_SELECT_THE_USER_TO_DELETE)");
		}
	}
	
	function displayPlanUser(value, row, index){
		if(row.type == 0){
			return true;
		}else{
			return false;
		}
		
	}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
</script>