@import(){
com.cloudsoaring.web.course.constant.*;
com.cloudsoaring.web.course.entity.*;
com.cloudsoaring.web.course.view.*;
com.cloudsoaring.web.common.utils.*;
java.math.BigDecimal;
}
@args PlanEntity plan ,Object catagoryTags,Object tagsSecond, String title=MessageUtil.getMessage(""),boolean isEdit = false
@extends(blank,title:MessageUtil.getMessage("新增案例"))
@*@{
	String secondTemp  = "";
    if(plan.getSecondTag() != null) {
        secondTemp = Arrays.toString(plan.getSecondTag());
    }
    final String secondTag = secondTemp;
}*@

<div style="width:800px;height:100%;margin-left:auto;margin-right:auto;padding-top:50px;padding-bottom:50px;">
	@form("planForm"){	
		@row()
		{
			@input(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_TITLE),name:"title",value:plan.getTitle(),required:true,popplace:"right",groupcss:"col-12",maxlength:"250")
		}
		@row()
		{
			@input(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_CONTENT),name:"content",value:plan.getContent(),required:true,popplace:"right",groupcss:"col-12",maxlength:"1000")
		}
		@row()
		{
			@combobox(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_TYPE),name:"type",value:plan.getType(),groupcss:"col-12",
					options:"[{value:0, text:'内训'},{value:1, text:'创业'}]",required:true, popplace:"right")
		}
		@row()
		{
			@combobox(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_FLAGREQUIRED),name:"flagRequired",value:plan.getFlagRequired(),groupcss:"col-12",
					options:"[{value:0, text:'否'},{value:1, text:'是'}]",required:true, popplace:"right")
		}
		@row(){
			@picture(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_PICTURE),name:"picture",required:true,height:"250px", url:"pub/image.action", fileid: plan.getPictureId(), viewmode:false)
		}
		@row()
		{
			@ftdate(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_PLANTIME),required:true,fromname:"planStart",fromvalue:plan.getPlanStart(), toname:"planEnd",tovalue:plan.getPlanEnd(), groupcss:"col-12", showbutton:false,validation:true)
		}
		@row()
		{
			@combobox(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_STUDYMODEL),name:"studyModel",value:plan.getStudyModel(),groupcss:"col-12",
					options:"[{value:0, text:'否'},{value:1, text:'是'}]",required:true, popplace:"right")
		}
		@row()
		{			
			@combobox(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_PLANSTATUS),name:"planStatus",value:plan.getPlanStatus(),groupcss:"col-6",
					options:"[{value:1, text:'连载中'},{value:2, text:'更新完成'},{value:3, text:'已结束'}]",required:true, popplace:"right")
			@input_float(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_PRICE),name:"price",value:plan.getPrice(),required:true,popplace:"right",groupcss:"col-6",type="number",maxlength:"10")		
		}
		@row()
		{	
			<div style="padding-left:540px;color:#999999;margin-top:-10px;margin-bottom: 0px;">单位:元(0为免费)</div>
		}	
		@row()
        {           
            @combobox(
                  label:MessageUtil.getMessage("案例来源"),
                  name:"courseSource", 
                  popplace:"left",  
                  value:plan.getCourseSource(), 
                  options:CodeFactory.getCodeList(CourseStateConstants.COURSE_SOURCE),
                  required:true, 
                  groupcss:"col-6",
                  disabled:false
               )
              @input(label:"供应商", name:"courseSupplier", groupcss:"col-6",  maxlength:"50",required:true, value:plan.getCourseSupplier())     
        }   
		@row()
		{
			@combobox(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_FLAGDISCOUNT),name:"flagDiscount",value:plan.getFlagDiscount(),groupcss:"col-6",
					options:"[{value:0, text:'是'},{value:1, text:'否'}]",required:true, popplace:"right")
			@if(plan.getNumDiscount() != null){
				@{
					java.text.DecimalFormat myformat=new java.text.DecimalFormat("0");
					String numDiscount=myformat.format(plan.getNumDiscount().multiply(new BigDecimal("100")));
					if("100".equals(numDiscount) && "1".equals(plan.getFlagDiscount())){
						numDiscount = "";
					}
				}
				@input(id:"numDiscount_disabled",label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_NUMDISCOUNT),name:"numDiscount",value:numDiscount,required:true,popplace:"right",groupcss:"col-6",type="float", max="99",precision="2",disabled:true)
			}else{
				@input(id:"numDiscount_disabled",label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_NUMDISCOUNT),name:"numDiscount",required:true,popplace:"right",groupcss:"col-6",type="float", max="99",precision="2",disabled:true)
			}
			
		}
		@row()
		{	
			<div style="padding-left:540px;color:#999999;margin-top:-10px;margin-bottom: 0px;">单位:百分百(无小数)</div>
		}
		@row()
		{
			@input(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_MANAGEUSER), name:"manageUserPersonName", groupcss:"",  required: true, groupcss:"col-6", value:plan.getManageUserPersonName(), disabled:true )
			@hidden(name:"manageUser", value:plan.getManageUser())
			@button(label:"管理者",iconcss:"fa fa-plus",onclick:"addTeacher")	
		}
		<div class="row" style="background-color:#FFFFFF;margin-left:14px;margin-right:10px;">
			@column(css:"col-6") 
			{
				@combobox(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_TAG),name:"firstTag",groupcss:"", popplace:"left", 
				        multiple:false,placeholder:"一级标签",value:plan.getFirstTag(),labelfield:"tagName", 
				        valuefield:"tagId",options:catagoryTags,required:true, onChange:"getSecondTag")
			}
			@column(css:"col-6")
			{
				@combobox(name:"secondTag",groupcss:"",popplace:"left",multiple:false,placeholder: "二级标签",value:plan.getSecondTag(), 
				       	options:tagsSecond,labelfield:"tagName", valuefield:"tagId", required:true)  
			}
		</div>
		@row()
		{
			@input(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_TAGNAMES),name:"tagNames",value:plan.getTagNames(),required:true,popplace:"right",groupcss:"col-12",maxlength:"500")
		}
		@row()
		{	
			<div style="padding-left:140px;color:#999999;margin-top:-10px;margin-bottom: 25px;">@MessageUtil.getMessage(CourseMsgNames.TXT_CASE_TAGNAMES_PROMPTLANGUAGE)</div>
		}	
	}	
	
	
	
	@div("planNodeContainer"){
		@if(plan.getPlanNodeList() != null){
			@for(PlanNodeEntity node: plan.getPlanNodeList()){
				@planNode(node, String.valueOf(node_index)).raw()
			}
		}
	}	
	
	@def planNode(PlanNodeEntity node, final String index){
		@{
			final String planNodeName = node != null ? node.getNodeName() : "";
			final String planNodeId = node != null ? node.getId() : "";
			final String planNodeContent = node != null ? node.getContent():"";
		}
		<div id="@planNodeId" class="planNode-div">
			@form(name:"planNodeForm"){						
				@row(){	
					@group(label:("步骤 " + index), css:"fcol-12",labelcss:"planNode-index", showrequired:false){
						@btnbox(align:"left"){
							@button(label:MessageUtil.getMessage("添加"),iconcss:"fa fa-plus",onclick:"addPlanNode",innerType:"ADD")
							@button(id:("planNodeId" + index),label:MessageUtil.getMessage("删除"),iconcss:"fa fa-remove",onclick:"deletePlanNode(this)",innerType:"DEL")	
						}
					}
				}									
				@row()
				{
					@input(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_PLANNODENAME),name:"planNodeName",value:planNodeName,required:true,popplace:"right",groupcss:"col-12",maxlength:"240")
				}
				@row()
				{
					@input(label:MessageUtil.getMessage(CourseMsgNames.TXT_CASE_PLANNODECONTENT),name:"planNodeContent",value:planNodeContent,popplace:"right",groupcss:"col-12",maxlength:"1000")
				}
				<div class="col-lg-10" style="left:545px;">
					@button(label:MessageUtil.getMessage("添加"),iconcss:"fa fa-plus",onclick:"addCourse(this);",innerType:"ADD")
					@button(label:MessageUtil.getMessage("删除"),iconcss:"fa fa-remove",onclick:"deletePlanCourse(this)",innerType:"DEL")
				</div>
				<div style="padding-left:100px;">				
				@table(id:("search-planCourse"+index), showColumns:false, url:("/client/case/searchSourseByCaseNodeId.action?planNodeId=" + planNodeId)){
					@columns(){
						{field: 'state',title: "全选",align:'center',checkbox: true,width:30},
						{field: 'courseNo',title: "编号",width:20,sortable: true,align:'center'},											
						{field: 'title',title: "课程名称",width:20,sortable: true},
						{field: 'courseStatus',title: "课程状态",width:20,sortable: true,formatter:formatterStatus},																		
					}
				}
				</div>			
			}
		</div>
	}


	<div class="clearfix"></div>
		<div style="margin-top:30px;text-align:center;">
			<span style="margin-right:100px;">@button(label:MessageUtil.getMessage("提交"),style:"width:100px;height:50px;",iconcss:"dm-save",onclick="save")</span>
			<span style="margin-left:100px;">@button_back(style:"width:100px;height:50px;",onclick="goBack")</span>
		</div>
	</div>


@assign("course"){
<div style="width:500;">
	@form(name:"search-condition",validation:false){
           <div class="row">
               @input(label:MessageUtil.getMessage("课程名称"), name:"title",groupcss:"fcol-12")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
    } 
	@table(id:("search-course"), showColumns:false, url:"/client/case/caseCourseList.action",height:400){
		@columns(){
			{field: 'state',title: "",align:'center',checkbox: true,width:30},
			{field: 'courseNo',title: "编号",sortable: true,align:'center'},											
			{field: 'title',title: "课程名称",sortable: true},
			{field: 'courseStatus',title: "课程状态",sortable: true,formatter:formatterStatus},																																	
		}
	}
	</div>
}

<!-- 人员添加dialog -->
@assign("teacher"){
  <div style="width:600">
      @form(name:"search-condition",validation:false){
           <div class="row">
               @input(label:MessageUtil.getMessage("教师名称"), name:"userName",groupcss:"fcol-12")
           </div>
            @btnbox(align:"right"){
                @button_search()
                @button_clear()
            }
        } 
	    @table(id:("search-user"), showColumns:false, url:"/manager/course/searchTeacherAll.action",height:400,singleSelect:true){
	        @columns(){
	            {field: 'state',title: "",align:'center',checkbox:true,width:30},
	            {field: 'userName',title: "用户名",sortable: true},                                            
	            {field: 'personName',title: "教师名称",sortable: true},
	            {field: 'sex',title: "性别",sortable: true,formatter:formatterSex},
	        }
	     }
    </div>
}

<script>
	//打折策略
	/* $(function(){
		$("#flagDiscount").change(function(){
			var val = $("#flagDiscount").selectpicker('val');
			if(val == '0'){
				disable($("#numDiscount_disabled"),false);
			}else if(val == '1'){
				disable($("#numDiscount_disabled"),true);
			}
		});
	}); */
	//显示课程状态
	function formatterStatus(value, row, index){ 
   		if(value != null){
   			if(value == 1){
				return "连载中";
			}else if(value == 2){
				return "已完成";
			}else if(value == 3){
				return "已结束";
			}
   		}  		
	}
	//显示性别
    function formatterSex(value, row, index){ 
        if(value != null){
            if(value == 0){
                return "女";
            }else if(value == 1){
                return "男";
            }
        }       
    }
	//检索二级标签
	function getSecondTag(value){ 
       if(value ==null || value==""){
          $("#secondTag").html("");
          $("#secondTag").selectpicker('refresh');
       }else{
            var url  = "@url("/manager/course/searchSecondTag.action?id=")"+value;
	        var str = "";
	        var secondTag=null
	        $.ajax({ 
	            url:url,
	            bodyMsg:true,
	            type:"post", 
	            success: function(result){
	                 $.each(result, function (i, item) {
	                     if(item!=null && item!= undefined){
	                        str += '<option value="'+item.tagId+'" >'+item.tagName+'</option>';
	                     }
	                });
	                $("#secondTag").html(str);
	                $("#secondTag").selectpicker('refresh');
	             }  
	       });
       }
    }
    //添加教师
    function addTeacher(){
        BootstrapDialog.show({
            title:"选择教师",
            message: $('@es(teacher).raw()'),
            cssClass:'user_dialog',
            buttons: [
            {
               label: "确定",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
                    if(selectedRows && selectedRows.length > 0){
                       for(var i = 0; i < selectedRows.length; i++){
                          getTeacher(selectedRows[i].userId);
                       } 
                       this.dialog.close();
                    }else{
                        warning("请选择要添加的用户");
                    }
               }
                
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
        });   
    }
    function getTeacher(value){
        var url  = "@url("/manager/course/searchTeacher.action?teacherId=")"+value;
        $.ajax({ 
            url:url,
            bodyMsg:true,
            type:"post", 
            success: function(result){
            	$("#manageUser").val(result.data.userId);
                $("#manageUserPersonName").val(result.data.personName);
               $("#sex").val(result.data.sex);
               $("#remark").val(result.data.remark);
               $("#teacherId").val(result.data.userId);
             } 
        });
    }	
	//添加新的节点
	function addPlanNode(){
	    var index = $('.planNode-div').length + 1;
		var nodeHtml = '@es(planNode(null,"%index")).raw()'.replace(/%index/g, index);
		var container = $('#planNodeContainer').append(nodeHtml);
	}
	//删除选项
	function deletePlanNode(delBtn) {	
		var node = $(delBtn).parents('.planNode-div');
		node.remove();										
		//刷新其他步骤的序号
		$('.planNode-div').each(function(index){
			$(this).find('.planNode-index').text('@MessageUtil.getMessage("步骤") ' + (index + 1));
		});
	}	
	//刷新下拉框
	/* function refreshPlanManager(manageUserId){
		var users = $('#search-planCourseUser').bootstrapTable('getData');
		var nusers = [];
		for(var i=0; i<users.length;i++){
			nusers.push(users[i]);
		}
		var selectValue = manageUserId ? manageUserId : getValueAny("manageUser");	
		$('#manageUser').selectpicker("reload", nusers, selectValue);
	} */

	//判断课程是否已经添加
	function checkCourseAdded(table, row){
		//表格已有课程
		var data = $(table).bootstrapTable("getData");
		for(var i=0; i<data.length;i++){
			if(row.id == data[i].id){
				return true;
			}
		}
		false;
	}
		
	//添加课程初始化
	function addCourse(addBtn){
		var title = "学习课程";
		var courseTable = $(addBtn).parents(".planNode-div").find(".table-rythm");
	    opentDialogCourse(title, true,courseTable);
	}
	
	//新增课程
	function opentDialogCourse(title, isEdit, courseTable){
	  	BootstrapDialog.show({
            title: title,
            message: $('@es(course).raw()'),
            data:{"courseTable":courseTable},
            cssClass:'course_dialog',
            onshown: initDialogCourse,
            buttons: [
            {
               label: "添加",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的课程
                    var selectedRows = $('#search-course').bootstrapTable('getSelections');
					if(selectedRows && selectedRows.length > 0){
	                    //把用户添加到列表里面去
						 var addCourses = [];
						 var table = dialog.getData("courseTable");
						 for(var i = 0; i < selectedRows.length; i++){
						 	var u = selectedRows[i];
						 	if(!checkCourseAdded(table,u)){
						 		addCourses.push(u);
						 	}
						 }
						  $(table).bootstrapTable('append', addCourses);
	   					this.dialog.close();
					}else{
						warning("请选择要添加的课程");
					}
               }
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	
	//弹出框初始化
	function initDialogCourse(dialog) {
	  	var data=dialog.getData("row");
	}
	
	//删除案例课程
	function deletePlanCourse(addBtn) {
		var courseTable = $(addBtn).parents(".planNode-div").find(".table-rythm");
		var selectedRows = courseTable.bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){		 	
			confirm("@MessageUtil.getMessage("确认删除选中的记录吗?")", function(){			
				for(var i=0; i < selectedRows.length; i++){
					selectedRows[i]["deleteFlag"] = "true";
				}
				
				$(courseTable).bootstrapTable('remove',{field:"deleteFlag", values:["true"]});
				//$(courseTable).bootstrapTable('refresh');	
				return true;
			});	
		}else{
			warning("@MessageUtil.getMessage("请选择要删除的记录!")");
		}												
	}
	
	//保存数据
	function save(){
		$('#planForm').bootstrapValidator('validate');
		var valid = $('#planForm').data('bootstrapValidator').isValid();
		if(valid){
			$('[name=planNodeForm]').each(function(){
				$(this).bootstrapValidator('validate');
				valid = $(this).data('bootstrapValidator').isValid();
				if(!valid){
					return false;
				}
			});
		}
		
   	 	if(valid){
			var plan = buildFormData('#planForm');
			//用户数据
			/* var userDatas = $('#search-planCourseUser').bootstrapTable('getData');
			var users = [];
			$(userDatas).each(function(index, data){
				users.push({userId:data.userId});
			});
			plan.planUserList =  users; */
			//案例步骤数据
			var planNodes = [];
			$('.planNode-div form').each(function(){
				var planNode = buildFormData($(this));
				//步骤课程
				var courseDatas = $(this).find(".table-rythm").bootstrapTable('getData');
				var courses = [];
				$(courseDatas).each(function(index, data){
					courses.push({id:data.id});					
				});
				planNode.nodeName = $(this).find("[name='planNodeName']").val();
				planNode.content  =$(this).find("[name='planNodeContent']").val();				
				planNode.courses = courses;
				planNodes.push(planNode); 
			});
			plan.planNodeList = planNodes;
			plan.secondTag = getValue($('#secondTag'));
			@if(StringUtil.isNotEmpty(plan.getId())){
				plan.id = "@plan.getId()";
			}
			//图片
			var params = new FormData($('#planForm')[0]);  
			params.append("plan",JSON.stringify(plan));
			
			$.ajax({ 
				url: "@url("/client/case/save.action")",
				data:params,
				type:"post",
				bodyMsg:true,
				mask:true,
				contentType:false, 
				processData:false, 
				success: function(result){
		        	 window.history.go(-1);
		      	}
		    }); 
		}
	}	
	$(function(){
		//refreshPlanManager('@plan.getManageUser()');
		$("#planNodeId1").hide();
		@if(plan == null || plan.getPlanNodeList() == null || plan.getPlanNodeList().size() == 0){
			addPlanNode();
			$("#planNodeId1").hide();
		}
		
		$("#flagDiscount").change(function(){
			var val = $("#flagDiscount").selectpicker('val');
			if(val == '0'){
				disable($("#numDiscount_disabled"),false);
			}else if(val == '1'){
				disable($("#numDiscount_disabled"),true);
				setValue($("#numDiscount_disabled"),"");
			}
		});

		if("@plan.getFlagDiscount()"=="0"){
			disable($("#numDiscount_disabled"),false);
		}
				
	}); 
</script>