@import(){
com.cloudsoaring.web.course.entity.*
com.cloudsoaring.web.course.view.*
com.cloudsoaring.web.common.view.*
}
@args String id, String category
@extends(blank,title:"新增案例人员")
<div style="width:800px;height:100%;margin-left:auto;margin-right:auto;padding-top:50px;padding-bottom:50px;">
	@form("userForm"){
		<input type="hidden" name="id" value="id"/>
		@{final String str = "/client/case/searchCaseUser.action?planId="+id}
		@table(id:("search-planCourseUser"), showColumns:false, url:str){
			@toolbar(){
				@button(label:"添加",iconcss:"fa fa-plus",onclick:"addPlanCourseUser",innerType:"ADD")		
				@button(label:"删除",iconcss:"fa fa-remove",onclick:"deletePlanCourseUser",innerType:"DEL")
			}
			@columns(){
				{field: 'state',title: "全选",align:'center',checkbox: true,width:30},
				{field: 'userName',title: "人员名称",sortable: true},											
				{field: 'personName',title: "人员姓名",sortable: true},
				{field: 'sex',title: "性别",sortable: true,align:'center',formatter:formatterSex},
				{field: 'position',title: "职位",width:100,sortable: true},
				{field: 'recordTime',title: "加入时间",width:100,sortable: true,align:'center',formatter:dateFormat},																																		
			}		
		}
	}



</div>

<div class="clearfix"></div>
	<div style="margin-top:30px;text-align:center;">
		<span style="margin-right:100px;">@button(label:"提交",style:"width:100px;",iconcss:"dm-save",onclick="save")</span>
		<span style="margin-left:100px;">@button_back(style:"width:100px;",onclick="goBack")</span>
	</div>
</div>

@assign("user"){
	<div style="width:600";>
	@form(name:"search-condition",validation:false){        
        @input(label:MessageUtil.getMessage("人员名称"), name:"personName",groupcss:"fcol-10")
        @input(label:MessageUtil.getMessage("职位"), name:"position",groupcss:"fcol-10")          
    	@btnbox(align:"right"){
        	@button_search()
            @button_clear()
        }
	}
	@table(id:("search-user"), showColumns:false, url:"/client/case/searchCaseUserAll.action",height:400){
		@columns(){
			{field: 'state',title: "",align:'center',checkbox: true,width:30},
			{field: 'userName',title: "用户名",sortable: true},											
			{field: 'personName',title: "人员名称",sortable: true},
			{field: 'sex',title: "性别",sortable: true,formatter:formatterSex},
			{field: 'position',title: "职位",width:100,sortable: true},																																		
		}
	}
	</div>
}

<script>
	//显示性别
	function formatterSex(value, row, index){ 
   		if(value != null){
   			if(value == 0){
				return "女";
			}else if(value == 1){
				return "男";
			}
   		}  		
	}
	//删除案例用户
	function deletePlanCourseUser() {
		var selectedRows = $('#search-planCourseUser').bootstrapTable('getSelections');
		if(selectedRows && selectedRows.length > 0){
			confirm("@MessageUtil.getMessage("确认删除选中的记录吗?")", function(){			
				for(var i=0; i < selectedRows.length; i++){
					selectedRows[i]["deleteFlag"] = "true";
				}
				$('#search-planCourseUser').bootstrapTable('remove',{field:"deleteFlag", values:["true"]});
				//$('#search-planCourseUser').bootstrapTable('refresh');	
				//refreshPlanManager();
				return true;
			});	
		}else{
			warning("@MessageUtil.getMessage("请选择要删除的记录!")");
		}
												
	}
	
	//添加案例学习人员初始化
	function addPlanCourseUser(row){
	var title = "学习人员";
	    opentDialogPlanCourseUser(title, true,row);
	}
	
	//新增案例课程用户
	function opentDialogPlanCourseUser(title, isEdit, data){
		$('#planCourseUser-form').bootstrapValidator('validate');
	  	BootstrapDialog.show({
            title: title,
            message: $('@es(user).raw()'),
            data:{row:data},
            cssClass:'user_dialog',
            onshown: initDialogPlanCourseUser,
            buttons: [
            {
               label: "添加",
               cssClass: 'btn-normal fa fa-floppy-o',
               action: function(dialog) {
                    //找到选中的用户
                    var selectedRows = $('#search-user').bootstrapTable('getSelections');
					if(selectedRows && selectedRows.length > 0){
	                    //把用户添加到列表里面去
						 var addUsers = [];
						 for(var i = 0; i < selectedRows.length; i++){
						 	var u = selectedRows[i];
						 	if(!checkUserAdded(u)){
						 		addUsers.push(u);
						 	}
						 }
						$('#search-planCourseUser').bootstrapTable('append', addUsers);	
						//refreshPlanManager();	
	   					this.dialog.close();
					}else{
						warning("请选择要添加的用户");
					}
					
               }
           },
           {
               label: "关闭",
               cssClass: 'btn-normal fa fa-remove',
               action: function(dialog) {
                   this.dialog.close();
               }
           }]
		});
	}
	
	//弹出框初始化
	function initDialogPlanCourseUser(dialog) {
	  	var data=dialog.getData("row");
	  	$('#planCourseUser-form').bootstrapValidator('validate');
	}
	
	//判断用户是否已经添加
	function checkUserAdded(row){
		//表格已有用户
		var data = $('#search-planCourseUser').bootstrapTable("getData");
		for(var i=0; i<data.length;i++){
			if(row.userId == data[i].userId){
				return true;
			}
		}
		false;
	}
	//保存gateway数据
	function save(){
		$('#userForm').bootstrapValidator('validate');
   	 	if($('#userForm').data('bootstrapValidator').isValid()){
			//用户数据
			var userDatas = $('#search-planCourseUser').bootstrapTable('getData');	
			var users = [];
			$(userDatas).each(function(index, data){
				users.push(data.userId);
			});				
			$.ajax({ 
				url: "@url("/client/case/saveCaseUser.action")",
				data:{id:"@id",ids:users.join(",")},
				type:"post", 
				bodyMsg:true,
				success: function(result){
		        	 window.history.go(-1);
		      	}
		    }); 
		}
	}
</script>