@args String title = MessageUtil.getMessage(TpMsgNames.INDEX_DETAIL_TITLE),
String infoId ="",String showButton
@extends(client,title:getPageTitle(title), "text_info")

@{
	final String uurl = url("/pub/activityCenter/searchInfoDetail.action?infoId="+infoId);
}
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
}
<style>
.infoTitle{
	font-size: 22px;
}
#detail_content{
	width: 90%;
    margin: auto;
	margin-top: 30px;
	padding-bottom: 30px;
}
#detail_time{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
    font-size: 16px;
}
#detail_content video,#detail_content img{
	width: 100%;
} 
#info_category span{
	height:35px;
	font-size:24px;
	font-family: "@MessageUtil.getMessage(TpMsgNames.COURSE_FONT_BLACK_COLOR)";
	color:#000000;
	padding:5px;
	margin-top:24px;
	line-height:24px;
}
#titleDiv:hover{
	white-space:normal;
}

#detail_title{
	font-size: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#detail_title:hover{
	white-space:normal;
}
        
</style>
<div style="width:100%;">
	<div style="background-color: white;width: 1152px;margin: auto;margin-top: 30px;border-radius: 12px;">
		<div style="padding-top: 10px;padding-right: 50px;padding-left: 50px;padding-bottom: 15px;">
	    	<h1 style="font-size: 22px;" id="detail_title"></h1>
	    </div>
    	<div>
	    	<p style="border-top: 7px solid #b60005;line-height: 30px;margin-left: 50px;margin-right: 50px;">
	    		<span class="my-nav-sub-title gh gh-time infoTime" style="float: right;color: gray;font-family: 微软雅黑;" id="detail_date"></span>
	    	</p>
	    </div>
		<p id="detail_content"></p>
		<p id="detail_time"></p>
		<p id="detail_id" style="display:none;"></p>
	</div>
</div>
@if(showButton == "1"){
	<div style="text-align:center;">
		<button id="" class="btn btn-normal " style="width:200px;height:50px;" data-content="我要报名" type="button" onclick="addUser()"><b class="fa fa-plus">我要报名</b></button>
	</div>
}else if(showButton == "2"){
	<div style="text-align:center;">
		<button class="btn disabled" style="width:200px;height:50px;" data-content="我已报名" type="button"><b class="fa fa-plus">我已报名</b></button>
	</div>
}
<script>
function addUser(row){
	 confirm("确定报名此活动吗？",function(){
    	 $.ajax({ 
            url: "@url("/pub/activityCenter/saveUser.action")",
            data:{activityCenterId:$("#detail_id").html()},
            bodyMsg:true,
            type:"post", 
            success: function(result){
            	window.location.reload();
            }
        });
    });
}
$(function(){
	$(".tp_nav_title").removeClass("active");
	$("#text_info").addClass("active");
	//从后台检索分类
	$.ajax({
		url : "@url("/pub/activityCenter/searchCategory.action")",
		type : "post",
		bodyMsg:true,
		success : function(result) {
			if (result.status) {
				var cid = '';
				var objs = result.data;
				var str = '';
				$(objs).each(function(index) {
					var obj = objs[index];
					if(index == 0){
						cid = obj.id;
					}
					str += '<span id="category_'+ obj.tagId+ '"  class="navbar-text .navbar-left">'+ obj.tagName + '</span>';
				});
				$("#info_category").html(str);
				getDetailInfo();
			}
		}
	});
	
});
function getDetailInfo(){
	//根据平台信息ID，检索平台信息详情
	var infoId = $("#infoId").val();
	$.ajax({
		url:"@uurl",
		type:"post",
		success:function(result){
			if(result.status){
				var obj = result.data;
				$("#detail_title").html(obj.title);
				$("#detail_id").html(obj.id);
				$("#detail_date").html(dateFormat(obj.createDate));
				$("#detail_img").attr("src","@url("/pub/image.action?fileId=")" + obj.pictureId);
				$("#detail_content").html(obj.content);
				$("#detail_time").html("活动起止时间：【"+dateFormat(obj.fromDateBegin)+"-"+dateFormat(obj.fromDateEnd)+"】");
				$("#category_"+obj.categoryId).css("border-bottom","2px red solid");
			}
		}
	});
}
function returnTable(){
	var location = window.location.host;
	 window.location.href="http://"+location+"/pblMgr/pub/activityCenter/toIndex.action";	
}
</script>