@args String title = MessageUtil.getMessage(TpMsgNames.INDEX_INFO_TITLE),String categoryId,String categoryName
@extends(client, pageSpace:0)
@{
	final String imageHeight = "600px";
	final String surl = url("/pub/activityCenter/");
	if(categoryId == null || categoryId.equals("")){
		categoryId = "0";
	}
	final String shoujiUrl = url("/images/shouji.gif");
	final String appVersion = ConfigUtil.getProperty(TpConfigNames.CONFIG_APP_CONFIG_VERSION);
	final String appUrl = ConfigUtil.getProperty(TpConfigNames.CONFIG_APP_CONFIG_APK);
	final String imagesUrl = ConfigUtil.getProperty(ConfigNames.CONFIG_FILE_ACCESS_ROOT_PATH);
	final String codebarUrl = ConfigUtil.getProperty(ConfigNames.CONFIG_FILE_ACCESS_ROOT_PATH) +"/codebar/apk_codebar.png";
}
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		  com.cloudsoaring.web.trainingplatform.constants.*
 		  com.cloudsoaring.web.trainingplatform.entity.*
 		  com.cloudsoaring.web.trainingplatform.entity.ActivityCenterEntity
}

@section("mainContent"){
<style>
#mainContent{
	margin-right:0px !important;
}
#body-content{
	margin-top: 50px !important;
}
.category_text_active {
	background-color: red;
	
}
.list_title:hover{
	color:#E84D3B;
}
.courseList:hover{
	border:#E84D3B 1px solid;
}
.infoTitle{
	font-size: 20px;
	font-family: 微软雅黑;
    color: #111110;
}
.infoTime{
	color: #111110;
	padding-top: 10px;
    font-size: 15px;
}
.indexList h2 a{
	font-size: 15px;
	color: #000;
	line-height: 24px;
	padding-left: 30px;
}
.indexList h2 em{
	color: #000;
	font-style: normal;
	float: right;
	padding-right: 30px;
}
.indexList div a:hover{
	color:#b60005;
	font-size:16px
}
.infoContent{
	line-height:30px;
	font-size: 15px;
	padding-right: 15px;
	padding-top: 10px;
}
#info_category a{
	height:35px;
	font-size:24px;
	font-family: "@MessageUtil.getMessage(TpMsgNames.COURSE_FONT_BLACK_COLOR)";
	color:#000000;
	padding:5px;
	margin-top:24px;
	line-height: 24px;
}
.pagination{
	padding:0;	
}
</style>
<link rel="stylesheet" href="@WebContext.url("/js/homepage/css/active.css")">
<div id="pageContent" style="text-align:center;background-color:#E6E6E6;width: 1152px;margin: auto;margin-top: 80px;">
			<div class=".container-fluid" style="background-color: #F3F5F7;width:100%;display:inline-block">
	    		<div id="pageBody" style="text-align: left">
					@assign("list_item"){
							<div data-v-1887c3fa="" class="CmptCard">
							    <div data-v-1887c3fa="" class="CmptCard-left">
								    <a href="@url("/pub/activityCenter/toInfoDetail.action?infoId=%detial_url")">
								        <img data-v-1887c3fa="" src="@url("/pub/image.action?fileId=%infoFileId")">
							        </a>
							    </div>
							    <div data-v-1887c3fa="" class="CmptCard-right flexbox">
							        <div data-v-1887c3fa="" class="CmptCard-textbox">
							            <p data-v-1887c3fa="" class="CmptCard-title flexbox">
							                <span data-v-1887c3fa="" class="CmptCard-cytips">%flag</span>
							                <a href="@url("/pub/activityCenter/toInfoDetail.action?infoId=%detial_url")">
							                  <span data-v-1887c3fa="" class="textbtn">&nbsp;&nbsp;%title</span>
							                </a>
							            </p>
							            <p data-v-1887c3fa="" class="CmptCard-label">
							                <span data-v-1887c3fa="" title="创建人" class="overText">创建人：%personName</span>
							            </p>
							            <a href="@url("/pub/activityCenter/toInfoDetail.action?infoId=%detial_url")">
							            <p data-v-1887c3fa="" title="%content" class="CmptCard-introduction">%content</p>
							            </a>
							            <p data-v-1887c3fa="" class="CmptCard-bottomtext">
							                <span data-v-1887c3fa="">时间：%timeDuration</span>
							                </span>
							            </p>
							        </div>
							        <div data-v-1887c3fa="" class="CmptCard-number">
							            <p data-v-1887c3fa="">报名人数</p>
							            <p data-v-1887c3fa="">%count</p>
							        </div>
							        <img data-v-1887c3fa="" src=%image class="CmptCard-statuslabel">
							    </div>
							</div>
							<div class="clearfix"></div>
						}
						
					@assign("not_data"){
							<div style="margin-bottom:20px;">
								<div class="" style="height:266px; overflow: hidden; padding: 30px 35px; background-color: rgb(255, 255, 255);color:#999999;">
									%not_data
								</div>
							</div>
							<div class="clearfix"></div>
					}
					<!-- 各个分类下的平台信息列表 -->
					<div id="info_list">
					
					</div>
					
					<div class="clearfix"></div>
					
					<!-- 分页组件 -->
					<div id="fenye"style="height:70px;display: block;margin-bottom: 50px;">
						<nav style="text-align:center;">
							<ul class="pagination" id="pagination_li">
								
							</ul>
						</nav>
					</div>
					</div>
  		<div class="clearfix"></div>
  	</div>
</div>

<script>
	function seachInfo(){
	      searchInfoByCategoryId11();
	}
	$(function() {
		//从后台检索分类
		 searchInfoByCategoryId11();
		/* $.ajax({
			url : "@url("/pub/activityCenter/searchCategory.action?businessType=7")",
			type : "post",
			//bodyMsg:false,
			success : function(result) {
				if(result.status){
					var objs = result.data;
					//添加阶段
					$('#tagQuery').data("initTag")(objs);
					searchInfoByCategoryId11();
				}
			}
		}); */
	});
	
	//替换null为空字符串
	function replaceNull(str){
			if(str == null || str == "undefind"){
				return "";
			}else{
				return str;
			}
		}

	//根据分类ID加载平台信息列表
	function searchInfoByCategoryId11(page) {
	    var name=$('#codeSel').val();
		var result = new Object;
		/* var selectedTags = $('#tagQuery').data("getTagSelect")();
		if(selectedTags && selectedTags["6"]) {
			categoryId = selectedTags["6"];
		} */
		if(!page){
			page = 1;
		}
		
		var url = "@surl"+"searchInfoByCatId.action?pageNumber="+page+"&pageSize=10";
		
		/* if(categoryId){
			categoryId = "@categoryId";
			url += "&categoryId=" + categoryId;
		} */
		categoryId = "@categoryId";
		url += "&categoryId=" + categoryId;
		if(name) {
           url += "&title=" + name;
        }
		//发送请求，获取该分类下的平台信息
		$.ajax({																				
			url : url,
			type:"post",
			success:function(result){
				if(result.status){
					var str = '';
					var objs = result.data;
					if(objs.length==0){
						//列表
						str = '@es(not_data).raw()'.replace(/%not_data/g,"@MessageUtil.getMessage(TpMsgNames.NO_DATA)");
						
					}else{
						$(objs).each(function(index){
							var obj = objs[index];
							var s = obj.content;
							s = safeText(s);
							var title = obj.title;
							var personName = obj.personName;
							var flag = '@categoryName';
							var count = obj.count;
							/* if(title != null && title.length > 240){
								title = title.substr(0,240)+"...";
							} */
							if(title != null){
								title = hideStringByMax(obj.title,20);
							}
							if(s!=null && s.length > 240){
								s = s.substr(0, 240);
								s += "...";
							}
							var timeDuration = dateFormat(obj.fromDateBegin)+"-"+dateFormat(obj.fromDateEnd);
							var activeStatus = obj.activeStatus;
							if(activeStatus=="0"){
								str += ("@es(list_item).raw()".replace(/%title/g, replaceNull(title)).replace(/%personName/g, replaceNull(personName)).replace(/%flag/g, replaceNull(flag))
										.replace(/%count/g, replaceNull(count)).replace(/%infoFileId/g,replaceNull(obj.pictureId)).replace(/%createTime/g,replaceNull(dateFormat(obj.createDate)))
										.replace(/%image/g,replaceNull("../../images/homePage/jxz.png"))
								.replace(/%content/g,s).replace(/%timeDuration/g,timeDuration).replace(/%detial_url/g,replaceNull(obj.id))
								);
							}else if(activeStatus=="1"){
								str += ("@es(list_item).raw()".replace(/%title/g, replaceNull(title)).replace(/%personName/g, replaceNull(personName)).replace(/%flag/g, replaceNull(flag))
										.replace(/%count/g, replaceNull(count)).replace(/%infoFileId/g,replaceNull(obj.pictureId)).replace(/%createTime/g,replaceNull(dateFormat(obj.createDate)))
										.replace(/%image/g,replaceNull("../../images/homePage/ywc.png"))
								.replace(/%content/g,s).replace(/%timeDuration/g,timeDuration).replace(/%detial_url/g,replaceNull(obj.id))
								);
							}else if(activeStatus=="2"){
								str += ("@es(list_item).raw()".replace(/%title/g, replaceNull(title)).replace(/%personName/g, replaceNull(personName)).replace(/%flag/g, replaceNull(flag))
										.replace(/%count/g, replaceNull(count)).replace(/%infoFileId/g,replaceNull(obj.pictureId)).replace(/%createTime/g,replaceNull(dateFormat(obj.createDate)))
										.replace(/%image/g,replaceNull("../../images/homePage/yjs.png"))
								.replace(/%content/g,s).replace(/%timeDuration/g,timeDuration).replace(/%detial_url/g,replaceNull(obj.id))
								);
							}
							
							
						});
					}
					
					//列表
					$("#info_list").html(str);
					var totalPage = result.total;
					$("#pagination_li").html("");
					if(totalPage > 1){
						var str = '';
						if(result.page == 1){
							str += '<li class="pagination_first"><a>@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
							str += '<li class="pagination_pre"><a>@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
						}else{
							str += '<li class="pagination_first"><a href="javascript:searchInfoByCategoryId11(1)" >@MessageUtil.getMessage(TpMsgNames.FIRST_PAGE)</a></li>';
							str += '<li class="pagination_pre"><a href="javascript:searchInfoByCategoryId11('+(result.page-1)+')">@MessageUtil.getMessage(TpMsgNames.PRE_PAGE)</a></li>';
						}
						for(var i=1;i<=totalPage;i++){
							if(totalPage > 10){
								if(result.page < 10){
									if(i<=10){
										str = str +'<li class="pagination_'+i+'"><a href="javascript:searchInfoByCategoryId11('+i+')">'+i+'</a></li>';
									}
								}else if(result.page >= 10 && result.page<(totalPage-5)){
									if(i>(result.page-5) && i<=(result.page+5)){
										str = str +'<li class="pagination_'+i+'"><a href="javascript:searchInfoByCategoryId11('+i+')">'+i+'</a></li>';
									}
								}else if(result.page>=(totalPage-5)){
									if(i>(totalPage-10)){
										str = str +'<li class="pagination_'+i+'"><a href="javascript:searchInfoByCategoryId11('+i+')">'+i+'</a></li>';
									}
								}
								
							}else{
								str = str +'<li class="pagination_'+i+'"><a href="javascript:searchInfoByCategoryId11('+i+')">'+i+'</a></li>';
							}
								
						}
						if(result.page == totalPage){
							str += '<li class="pagination_next"><a>@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
							str += '<li class="pagination_last"><a>@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
						}else{
							str += '<li class="pagination_next"><a href="javascript:searchInfoByCategoryId11('+(result.page+1)+')">@MessageUtil.getMessage(TpMsgNames.NEXT_PAGE)</a></li>';
							str += '<li class="pagination_last"><a href="javascript:searchInfoByCategoryId11('+totalPage+')">@MessageUtil.getMessage(TpMsgNames.LAST_PAGE)</a></li>';
						}
						$("#fenye").show();
						$("#pagination_li").html(str);
						if(result.page == 1){
							$(".pagination_first").addClass("disabled");
							$(".pagination_pre").addClass("disabled");
						}
						if(result.page == totalPage){
							$(".pagination_next").addClass("disabled");
							$(".pagination_last").addClass("disabled");
						}
						$(".pagination_"+result.page).addClass("active");
					}else{
						$("#fenye").hide();
					}
				}
			}
		});
	}
	
	//对多余的字符进行隐藏
	function hideStringByMax(oldString, maxLength) {
		var result = oldString;
		if(oldString!=null && oldString.length > maxLength){
			result = oldString.substring(0,maxLength);
			result += "...";
		}
		return result;
	}
	
	 $(function(){
		initTagData();
	})
	
	function initTagData() {
		$.ajax({
			url:"@url("/pub/tag/searchCategory.action")",
			data:{businessType:7},
			type:"post",
			success:function(result){
				if(result.status){
					var objs = result.data;
					
					//添加阶段
					//$('#tagQuery').data("initTag")(objs);
						
				}
			}
		});
	} 
	
	//列表参数
	function getParams(){
		var result = new Object;
		var selectedTags = $('#tagQuery').data("getTagSelect")();
		if(!selectedTags) {
			return result;
		}
		if(selectedTags["1"]) {
			result["directionTagId"] = selectedTags["1"];
		}
		
		return result;
	}
	
</script>
}
