@import(){
	java.util.LinkedHashMap;
	java.util.List;
}
@extends(main)
@args LinkedHashMap<String, List<SystemConfigEntity>> systemConfigGroups,boolean script = true

@def renderTabItems(List<SystemConfigEntity> systemConfigs){
	@for(SystemConfigEntity sc : systemConfigs){
		@{
			final SystemConfigEntity systemConfig = sc;
			final String id = com.cloudsoaring.web.common.constant.Constants.SYSTEM_CONFIG_PRE + systemConfig.getKey().replaceAll("[.]","-");
			final String name = id;
			final String placehoder = MessageUtil.getMessage(MsgNames.MSG_SELECT_PLEASE) + systemConfig.getName();
			final String groupCss = StringUtil.getOrElse(sc.getCss(), "col-12");
			final String placeholder = sc.getDescription();
		}
		@if("checkbox".equalsIgnoreCase(systemConfig.getType())){
			@check(required:systemConfig.getRequired(),labelcss:"label-width200",multiple:true, options:systemConfig.getOptions(),value:systemConfig.getValue(),optionWidth:"100px",label:systemConfig.getName(),groupcss:groupCss,name:name)
		}else if("radio".equalsIgnoreCase(systemConfig.getType())){
			@check(required:systemConfig.getRequired(),labelcss:"label-width200",multiple:false, options:systemConfig.getOptions(),value:systemConfig.getValue(),optionWidth:"100px",label:systemConfig.getName(),groupcss:groupCss,name:name)
		}else if("switch".equalsIgnoreCase(systemConfig.getType())){
			@{
				String[] labels = StringUtil.splitTwo(systemConfig.getOptions(), ",");
				String onlabel = labels[0];
				String offlabel = labels[1];
			}
			@switch(required:systemConfig.getRequired(),labelcss:"label-width200",label:systemConfig.getName(), name:name,value:systemConfig.getValue(),onlabel:onlabel,groupcss:groupCss",offlabel:offlabel)
		}else if("combobox".equalsIgnoreCase(systemConfig.getType())){
			@combobox({
				required:systemConfig.getRequired(),
				name:name,
				labelcss:"label-width200",
				label:systemConfig.getName(),
				groupcss:groupCss,
				options:systemConfig.getOptions(),
				value:systemConfig.getValue()
			 })
		}else if("ueditor".equalsIgnoreCase(systemConfig.getType())){
			@ueditor(required:systemConfig.getRequired(),labelcss:"label-width200",groupcss:groupCss,maxlength:systemConfig.getMaxLength(), name:name,label:systemConfig.getName(),value:systemConfig.getValue(),script:script)
			@{script=false;}
		}else if("textarea".equalsIgnoreCase(systemConfig.getType())){
			@textarea(required:systemConfig.getRequired(),labelcss:"label-width200",placeholder:placeholder,groupcss:groupCss,maxlength:String.valueOf(systemConfig.getMaxLength()), name:name,label:systemConfig.getName(),value:systemConfig.getValue(), rows:5)
		}else if("file".equalsIgnoreCase(systemConfig.getType())){
			@file(
				fileextion:"",required:systemConfig.getRequired(),label:systemConfig.getName(),id:id, name:name,labelcss:"label-width200",placeholder:placeholder,groupcss:groupCss,fileid:systemConfig.getValue(),filename:systemConfig.getOptions()
			)
		}else if("picture".equalsIgnoreCase(systemConfig.getType())){
			@picture(
				url:"/file/image.action",required:systemConfig.getRequired(),height:"380px",label:systemConfig.getName(),id:id, name:name,labelcss:"label-width200",placeholder:placeholder,groupcss:groupCss,fileid:systemConfig.getValue(),filename:systemConfig.getOptions()
			)
		}else if("files".equalsIgnoreCase(systemConfig.getType())){
			@files(
				required:systemConfig.getRequired(),label:systemConfig.getName(),id:id, name:name,labelcss:"label-width200",placeholder:placeholder,groupcss:groupCss,fileids:StringUtil.split(systemConfig.getValue()),filenames:StringUtil.split(systemConfig.getOptions())
			)
		}else{
			@input(required:systemConfig.getRequired(),labelcss:"label-width200",placeholder:placeholder,groupcss:groupCss,unitstring:systemConfig.getUnitText(),maxlength:String.valueOf(systemConfig.getMaxLength()), name:name,label:systemConfig.getName(),value:systemConfig.getValue(), type:getOrElse(systemConfig.getType(), "text"))
		}
	}
}

@form("conf-form"){
	@if(systemConfigGroups.size() > 1){
	    @tabs(){
		 	@for(String grp:systemConfigGroups.keySet()){
		 		@{
		 			final List<SystemConfigEntity> systemConfigs = systemConfigGroups.get(grp);
		 		}
		 		@tab(title:grp){
		 			@renderTabItems(systemConfigs)
		 		}
		 	}
		}
	}else{
		@for(String grp:systemConfigGroups.keySet()){
	 		@{
	 			final List<SystemConfigEntity> systemConfigs = systemConfigGroups.get(grp);
	 		}
	 		@renderTabItems(systemConfigs)
	 	}
	}
			
}

@btnbox(border:true){
	@button_save(onclick:"saveConfig",label:MessageUtil.getMessage(MsgNames.MSG_SAVED_AND_BECOMES_EFFECTIVE))
	@button_save(onclick:"refreshConfig", iconcss:"fa fa-refresh",label:MessageUtil.getMessage(MsgNames.MSG_BECOME_EFFECTIVE))
}
<script>
	$(function(){
		$('#conf-form').bootstrapValidator({
			 excluded: ':disabled,.switch-rythm',
			 fields: {
				 @{int sceindex = 0;}
				 @for(String grp:systemConfigGroups.keySet()){
			 		@{
			 			final List<SystemConfigEntity> systemConfigs = systemConfigGroups.get(grp);
			 		}
					@for(SystemConfigEntity sc : systemConfigs){
						 @if(!"files".equalsIgnoreCase(sc.getType())&&!"file".equalsIgnoreCase(sc.getType())&&!"picture".equalsIgnoreCase(sc.getType())){
							 @if(sceindex > 0){
								, 
							 }
							 @{final String did = com.cloudsoaring.web.common.constant.Constants.SYSTEM_CONFIG_PRE + sc.getKey().replaceAll("[.]","-");}
							 "@did":{
								 validators: {
	// 							 	callback: {
	// 		                            message: '@MessageUtil.getMessage(sc.getName()+"不能为空")',
	// 		                            callback: function(value, validator) {
	// 		                                return !@sc.getRequired() ||( value && value != '');
	// 		                            }
	// 		                        }
							 		@if("NUMBER".equalsIgnoreCase(sc.getType())){
							 			between: {
				                            min: @sc.getMinValue(),
				                            max: @sc.getMaxValue(),
				                            message: '@MessageUtil.getMessage(MsgNames.MSG_PLEASE_FILL_VALUE_BETWEEN)'
				                        }
							 		}
							 	 }
							 }
							 @{sceindex++;}
						 }
					 }
				 }
			 }
		});		
	});

	function saveConfig(){
		$('#conf-form').bootstrapValidator('validate');
   	 	if($('#conf-form').data('bootstrapValidator').isValid()){
   	 		/* 新版本浏览器才支持FormData的delete,get,set,has等函数
   	 		//获取文件参数
			var params = new FormData($('#conf-form')[0]);
			//处理非文件参数
			var formData = buildFormData('#conf-form');
			if(formData){
				for(var key in formData){
					if(params.has(key) && getType(params.get(key)).toLowerCase() != 'file'){
						params.set(key, formData[key]);
					}else{
						params.append(key, formData[key]);
					}	
				}
			}
			//处理多文件参数
			var files = [];
			$(".files-rythm").each(function(){
				var f = $("#" + $(this).attr("id") + "_files");
				if(f.attr("type")=="file"){
					files.push(f.attr("name"));
				}
			});
			for(var i = 0; i < files.length; i++){
				params.delete(files[i]);
			}
			*/
			//构造新的表单数据
   	 		var params = new FormData();
	   	 	//非文件的表单数据
			var formData = buildFormData('#conf-form');
			if(formData){
				for(var key in formData){
					params.append(key, formData[key]);	
				}
			}
			//处理文件数据
			$('#conf-form .file-rythm').each(function(){
				var finput = $(this);
				if(finput[0].files.length){
					params.append(finput.attr("name"), finput[0].files[0]);
				}
			});
			//保存
			ajax({ 
				url: "@url("/system/save.action")",
				data:params,
				/** 
		         *必须false才会自动加上正确的Content-Type 
		         */
				contentType:false,  
		        /** 
		         * 必须false才会避开jQuery对 formdata 的默认处理 
		         * XMLHttpRequest会对 formdata 进行正确的处理 
		         */  
		        processData:false, 
				type:"post", 
				bodyMsg:true,
				mask:true
		    });
		}
	}
	
	function refreshConfig(){
		ajax({ 
			url: "@url("/system/refresh.action")",
			type:"post", 
			bodyMsg:true,
			mask:true
	    });
	}
</script>