@extends(blank, title:"")
@args String pageUrl
<iframe id="statisticsFrame" name="statisticsFrame" src="@pageUrl" frameborder="0" style="width:100%">
</iframe>
<style>
#pageBody{
	padding:0px !important;
}
#pageContent{
	padding-bottom:0px !important;
}
</style>
<script>
$(function(){
	var frame = document.getElementById('statisticsFrame');
	$(frame).height($(window).height() - 140);
});
</script>