@extends(trainingplatform.client.center.center_base,title:"")
@args String totalPoints="0";

	<div id="header" style="background:#fff;">
		<div style="padding-left:30px;padding-top:30px;">
			<span style="font-weight:bold;color:black;font-size:16px;">我的积分</span>
			<div style="float:right;padding-top:10px;padding-right:30px;">
				@*<span class="fa fa-lightbulb-o"></span>
				<span style="color:#d6d6d6">积分不足时，请到<a style="color:#d6d6d6">莫莫莫</a>处充值</span>*@		
			</div>
			<div class="clearfix"></div>
		
			
			<div id="pointsd"style='height:200px;'>
		     	<div style="margin-top:50px;text-align:center;">
		     		<div style="border:1px solid #40ceff;border-radius:100%;width:150px;height:150px;display:inline-block;">
		     			<span class="fa fa-rmb" style="font-size:100px;color:#40ceff;"></span>
		     		</div>		      			
		     	</div>
				<div style='text-align:center;margin-top:10px;font-weight: bold;font-size: 200%;height:40px;color:#40ceff;'>
					<span>@(totalPoints.substring(0,totalPoints.lastIndexOf(".")))</span>
				</div>
								
			</div>
			<div style="padding-top:40px;padding-bottom:40px;">
						@table(id:"search-result", url:"client/pointmanager/userPointsList.action"){
				
								@columns(){
								@*	{field: 'state',align:'center',checkbox: true,width:50,title:"全选"}, *@										
									{field: 'seqNo',title: '编号',sortable: true},
									{field: 'typeName',title: '积分来源',sortable: true},
									{field: 'sumKbn',title: '积分',sortable: true,formatter:"pointsFormat"},
					                {field: 'resultPoints',title: '积分总额',sortable: true}
								}
							}
				
						<div class="clearfix"></div>
			</div>
				
			
		</div>
	
		
	</div>

<script>
	function pointsFormat(value,row,index){
		if(value=="A"){
			return "+"+row.points;
		}else if(value=="D"){
			return "-"+row.points;
		}else{
			return "";
		}
	}
</script>

