@args String title = "", String categoryId="", String pageType="list",Object categorys
@extends(client, title:getPageTitle(title))
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
}
<!-- 页面中间部分 -->
<style>
	.np-title{
		color:#a7a7a7;
		font-size:16px;
		cursor:pointer;
	}
	.np-title.active{
		cursor: not-allowed;
	}
</style>
<div id="mainContent" style="margin-left:50px">
<!-- 页面内容 -->
	<!-- 页面内容上部分导航 -->
	@render("mainContent"){
		<!-- @content(css:"page-content"){
			<div style="padding:0px 20px 20px 20px;">
				@{
					String listHref = "#";
					String listCss = "";
					String addHref = "#";
					String addCss = "";
					String cateHref = "#";
					String cateCss = "";
					if("list".equals(pageType)){
						listCss = "active";
						addHref = WebContext.url("/notice/manage/noticeadd.action");
						cateHref = WebContext.url("/notice/category/categorylist.action");
					}else if("add".equals(pageType)){
						addCss = "active";
						listHref = WebContext.url("/notice/manage/noticelist.action");
						cateHref = WebContext.url("/notice/category/categorylist.action");
					}else if("cate".equals(pageType)){
						cateCss = "active";
						listHref = WebContext.url("/notice/manage/noticelist.action");
						addHref = WebContext.url("/notice/manage/noticeadd.action");
					}else{
						addHref = WebContext.url("/notice/manage/noticeadd.action");
						listHref = WebContext.url("/notice/manage/noticelist.action");
						cateHref = WebContext.url("/notice/category/categorylist.action");
					}
				}
				<ul class="selector-container-rythm">
					@if(WebContext.hasAccess("04")){
						<li style="width:100px">
							<a class="np-title @listCss" href="@listHref">@MessageUtil.getMessage(TpMsgNames.NOTICE_LIST)</a>
						</li>
					}
					@if(WebContext.hasAccess("04-ADD")){
						<li style="width:100px">
							<a class="np-title @addCss fa fa-plus-circle" href="@addHref">@MessageUtil.getMessage(TpMsgNames.NOTICE_ADD)</a>
						</li>
					}
						
					@if("edit".equals(pageType)){
						<li style="width:100px">
							<a class="np-title active fa fa-edit">@MessageUtil.getMessage(TpMsgNames.NOTICE_EDIT)</a>
						</li>
					}
				</ul>
			</div>
			<div>
			
				<a class="np-title float:left;" href="@WebContext.url("/notice/manage/noticelist.action")">@MessageUtil.getMessage(TpMsgNames.MSG_ALL_CATEGORY)</a>
			@if("list".equals(pageType)){
					@selector(options:categorys,groupcss = "fcol-10 float:right",labelfield :"tagName",valuefield:"tagId",showlabel:false, id:"category", value:categoryId, onchange:"changeCondition"){
						<script>
							function changeCondition(row){
							$('#conditionId').val(row);
							$('#search-result').bootstrapTable('refresh');	
							}
						</script>
					}
				}
			</div>
		} -->
    	<div id="pageContent">
    		@if(StringUtil.isNotEmpty(title)){
    		}
    		<div id="pageBody" style="margin-top: 50px;">
    			@render()
    		</div>
    		<div class="clearfix"></div>
    	</div>
     }
</div>
