@args String title = "", String categoryId="",List categorys, String role=""
@extends(newsCenter, categoryId:categoryId, pageType="add",categorys:categorys)
@import(){com.cloudsoaring.web.trainingplatform.constants.TpStateConstants
 		    com.cloudsoaring.web.trainingplatform.constants.*
 		    com.cloudsoaring.web.trainingplatform.entity.*
}
<div style="width: 80%;margin: auto;background: #fff;height: 1000px;">
@form("notice_add"){
	@column("col-2")
	@column("col-8"){
		@input(label:MessageUtil.getMessage("新闻标题"),name:"title"groupcss:"fcol-12",required:true,maxlength:"50")
		@combobox({
			label:MessageUtil.getMessage(TpMsgNames.CATEGORY_DEPART)
			,id:"categoryId"
			,name:"categoryId"
			,showempty:true
			,required:true
			,groupcss:"fcol-12"
			,labelfield :"tagName"
			,valuefield:"tagId"
			,options:categorys
			})
		@if(role=="t"){
			   @combobox({
				label:MessageUtil.getMessage("发布范围")
				,id:"fanwei"
				,name:"fanwei"
				,showempty:true
				,required:true
				,groupcss:"fcol-12"
				,options:"[{value:0, text:'本校范围'}]"
			})
		}
		
		@if(role=="m"){
			   @combobox({
				label:MessageUtil.getMessage("发布范围")
				,id:"fanwei"
				,name:"fanwei"
				,showempty:true
				,required:true
				,groupcss:"fcol-12"
				,options:"[{value:0, text:'本校范围'},{value:1, text:'全网范围'}]"
			})
		}
	   @ftdate(
               label:MessageUtil.getMessage("起止时间"),
               fromname:"fromDateBegin", 
               groupcss:"col-12", 
               toname:"fromDateEnd",
               showbutton:false,
               torequired: true, 
               fromrequired: true,
               onlydate:true, 
            )
		@picture(id:"picture",required:true,height:"250px")
		@ue_image_video({label:MessageUtil.getMessage(TpMsgNames.CONTENT_EDIT), width:"100%", height:"300",name:"content"})
	}
	@column("col-2")
}
@btnbox(){
			@button_save(width:100)
			@button_back(width:100)
		}
</div>
<script>
		function save(){
			$('#notice_add').bootstrapValidator('validate');
			if($('#notice_add').data('bootstrapValidator').isValid()){ 
				var params = new FormData($('#notice_add')[0]);
					if(ue.getContent() == null){
					//alter("wf lsdkf");
						noticeError("内容不能为空");
					}
					params.append("content", ue.getContent());
					
				$.ajax({ 
					url: "@url("/pub/newsCenter/insertnotice.action")",
					data:params,
					method:"post",  
					bodyMsg:true,
					mask:true,
					/** 
			         *必须false才会自动加上正确的Content-Type 
			         */
					contentType:false,  
			        /** 
			         * 必须false才会避开jQuery对 formdata 的默认处理 
			         * XMLHttpRequest会对 formdata 进行正确的处理 
			         */  
			        processData:false, 
					success: function(result){
						window.location.href="@url("/pub/newsCenter/noticelist.action")";
					//	success(@MessageUtil.getMessage(MsgNames.MSG_S_SAVE));
	// 		        	 window.history.go(-1);
			      	}
			    });
			}
			}
		

</script>