﻿@extends(main, title:MessageUtil.getMessage(MsgNames.MSG_CODE_GENERATE_SELECT))
@args Object dataSourceList 

<!-- 代码生成设置 -->
@row(){
	@form("generate-condition"){
		@combobox({
			label:"数据源",
			id:"dataSourceId", 
			name:"dataSourceId",
			options: dataSourceList, 
			valuefield:"dataSourceId",
			labelfield:"dataSourceName",
			placehoder:"请选择数据源",
			groupcss:"col-4",
			required:true,
			value:""
		})
		{
			<script>
		 		$('#dataSourceId').change(function(){
		 			var dataSourceId = $('#dataSourceId').selectpicker('val');
		 			if(dataSourceId && dataSourceId != ''){
			 			//刷新模块
			 			$('#tableList').bootstrapTable('refresh', {url:'@url("/cg/datastruct/viewtable.action?dataSourceId=")' + dataSourceId});
		 			}
		 		});
		 	</script>
		}
	}

}
@row(){
	@column(css:"col-4"){
		@table(id:"tableList",pagination: false, onDblClickRow:"dbClickRow2Table", height: 800)
		{
			@columns(){
				{field: 'tableName', width:100, title: '表名',sortable: false}
				,{field: 'comment', width:100, title:'注释', sortable: false}
			}
		}
	}
	@column(css:"col-8"){
		@tabs(){
			@tab(title:"结构"){
				@table(id:"columnList",pagination: false, height: 700 )
				{
					@columns(){
						{field: 'columnName', width:200, title: '列名',sortable: false}
			            , {field: 'adaptType',align:'center',title: '字段类型',sortable: false, width:120}
			            , {field: 'adaptLength',align:'center',title: '长度',sortable: false, width:120}
						, {field: 'comment',title: '备注',sortable: false}
					}
				}
				@hidden(name:"selectedTableName")
			}
			@tab(title:"数据"){
				@row(){
					@input_select(name:"whereCondition", groupcss:"col-12", label:"WHERE", onclick:"searchData")
				}
				@table(id:"dataList", height: 600, queryParamFunction: "queryParams", showColumns:true)
			}
		}
	
	}
}
	





<script type="text/javascript">

// 生成
function dbClickRow2Table(row){
	var params = new Object();
	params.tableName = row.tableName;
	params.dataSourceId = getValueAny("dataSourceId");
	ajax({
		url: "@url("/cg/datastruct/viewlist.action")",
		data: params,
		bodyMsg:false,
		success: function(result){
        	$('#columnList').bootstrapTable('load', result.data);
        	
        	var option = new Object();
        	option.columns = getTableField(result.data);
        	option.url = "@url("/cg/datastruct/getData.action")";
        	
        	var oldOptions = $('#dataList').data('bootstrap.table').options;
        	$.extend(oldOptions,option);
        	$('#dataList').bootstrapTable('destroy');
        	$('#dataList').bootstrapTable(oldOptions);
        	
      	}
    });
    
    setValueAny("selectedTableName", row.tableName);
    initDataSearchCondition();
}

//根据表的列定义得到表格的字段
function getTableField(columnInfos) {
	var result = new Array();
	for(var i in columnInfos) {
		var col = columnInfos[i];
		
		var fieldObject = new Object;
		fieldObject.field = col.columnName;
		fieldObject.title = col.columnName;
		fieldObject.sortable = col.columnName;
		fieldObject.width = 100;
		if("DATE" == col.adaptType) {
			fieldObject.formatter =dateTimeFormat;
		}
		result.push(fieldObject);
	}
	return result;
}

function searchData(){
	$('#dataList').bootstrapTable('refresh');
}

function initDataSearchCondition(){
	setValueAny("whereCondition", "");
}
function queryParams(params){
	var searchQuery = new Object();
	searchQuery.dataSourceId = getValueAny("dataSourceId");
	searchQuery.tableName = getValueAny("selectedTableName");
	searchQuery.whereCondition = getValueAny("whereCondition");
	return $.extend(params,searchQuery);
}
</script>