@args String title,
String id=""
@{
	final String titleId = StringUtil.nval(id, "title"+id, "");
}
@row(htmlargs:"style=\"padding:10px 35px 0px 35px\""){
	@row(css:"area-rythm"){
		<span class="areahead">■</span><h id="@titleId">@title</h>
	}
}
<div id="@id">
	@renderBody()
</div>
