@args Integer top = 0,
Integer width = 320,
String title = "",
String iconcss = "fa-cog",
Integer zindex = 100,
Boolean visible=true
@if(visible){
	@{
		String rundomCss = "c"+StringUtil.uuid();
		zindex += 90000;
		String topStyle = top > 0 ? "top:"+top+"px;":"";
	}
	<style type="text/css">
		.@rundomCss{
			margin-right: -@(width)px;
		}
		.@(rundomCss).show{
			margin-right: 0px;
		}
	</style>
	<div class="float-area" style="@topStyle; z-index:@(zindex); ">
	    <div class="float-area-box @rundomCss">
	        <div class="spin-icon" onclick="javascript:$(this).parent().toggleClass('show');">
	            <i class="fa @iconcss fa-spin"></i>
	        </div>
	        <div class="float-area-content" style="width: @(width)px;">
	            <div class="title">@title</div>
	            <div class="body">
	                @renderBody()
	            </div>
	        </div>
	    </div>
	</div>
}