@args String id="",String title="",Boolean active=false,Boolean visible=true
@if(visible){
@{
	id = getOrElse(id, uuid());
	final String sactive = nval(active, " active ");
	final String sin = nval(active, " in ");
}<!--%rythm <li class="@sactive"><a href="#@id" data-toggle="tab">@title</a></li> mhtyr%-->
<div class="tab-pane @sactive fade @sin" id="@id">@renderBody()<div class="clearfix"></div>
</div>
}