@args String id="",
String htmlargs="",
Boolean visible=true
@if(visible){
@{
	id = getOrElse(id, uuid());
}
@assign("tabsContent"){
	@renderBody()
}
<div class="tabs-container-rythm" @htmlargs>
	<ul id="@id" class="nav nav-tabs tabs-rythm">
	@matchRythmComment(tabsContent).raw()
	</ul>
	<div id="@(id)_Content" class="tab-content tabs-content-rythm">
	@tabsContent.raw()
	</div>
</div>
<script>
$(function(){
	$('#@id a').click(function (e) {
		 e.preventDefault();
		 $(this).tab('show');
	})
	var hasActive = $('#@id li.active').length;
	if(!hasActive){
		$('#@id a').first().tab('show');
	}
});
</script>
}